
@import '../_common/g_function';
@import '../_common/g_mixins';

[class^="progressBar"]{
	display:inline-block;
	position:relative;
	.text_box{
		display:flex;
		justify-content:center;
		align-items:center;
		flex-direction:column;
		position:absolute;
		left:50%;
		top:50%;
		width:100%;
		height:100%;
		color:$COL_Text_Base03;
		@include Mix_Font('Head-R', 13, 17);
		text-align:center;
		transform:translate(-50%, -50%);
	}
	&.progressBar02{
		.text_box{
			margin-top:1px;
			.progressCount{
				margin-top:6px;
				color:$COL_Text_Base04;
				@include Mix_Font('Head-L', 46, 46);
				em{
					margin-left:1px;
					@include Mix_Font('Head-L', 25, 25);
					vertical-align:2px;
				}
			}
		}
		.progressLine, .progressBg{
			border-radius:3px;
			stroke-width:6;
		}
	}
}
.progressLine, .progressBg{
	position:relative;
	z-index:10;
	fill:none;
	stroke:$COL_Secondary01;
	stroke-linecap:round;
	stroke-dasharray:0;
	stroke-dashoffset:0;
}
.progressBg{
	z-index:0;
	stroke:$COL_Line_Light01;
	stroke-width:1.5;
}
.progressLine{
	border-radius:1px;
	stroke-width:2;
}