@charset 'utf-8';
/* 레이아웃
	Z-INDEX 범위
		- CPOhdaer : 501 ~ 600
		- CPOcontents : 401 ~ 500
		- CPOaction : 600
		- CPOfooter : 601 ~ 700
		- CPOtop : 800
		- dim : 1000
		- layer : 1001

*/
.txt_hidden{display:none;}
/* skip */
#CPOskip{
	position:relative;
	top:0;
	left:0;
	z-index:500;
	width:100%;
	a{
		position:absolute;
		left:0;
		top:-30px;
		width:100%;
		height:0;
		background:$COL_BLACK;
		color:$COL_WHITE;
		@include Mix_Font_Txt_B;
		text-align:center;
		&:focus{
			top:0;
			height:30px;
			line-height:30px;
			text-decoration:none;
		}
	}
}

/* loading */
#CPOloading{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height:100%;
	//background:rgba($COL_Text_Base04,.4);
	.loading_01{
		@include Mix_Size_0;
		position:absolute;
		top:50%;
		left:50%;
		width:140px;
		height:120px;
		margin:-60px 0 0 -70px;
		background:url('../img/loading_01.gif?V=1') no-repeat;
		background-size:140px auto;
	}
}

/* CPO WRAP */
#CPOwrap{
	position:relative;
	width:100%;
	height:100%;
}

/* CPO HEADER */
#CPOheader{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:50px;
	z-index:600;
	[class^="h_"]{// header 타이틀 영역
		position:relative;
		height:53px;
		padding:0 40px;
		//border-bottom:1px solid $COL_Line_Light01;
		//background:$COL_BLACK;
		.util{// header 장바구니, 홈으로 등
			position:absolute;
			right:15px;
			top:13px;
			> li{
				float:left;
				margin-left:16px;
				&:first-of-type{
					margin-left:0;
				}
			}
		}
		h3.tit{// 페이지 타이틀
			display:block;
			width:100%;
			height:48px;
			padding:15px 0;
			color:$COL_Text_Base04;
			@include Mix_Font('Head-M', 16, 20);
			@include Mix_Ellipsis01;
			text-align:center;
		}
	}
	.h_navi{// header type 1 : 메인 
		position:fixed;
		z-index:600;
		width:100%;
		height:50px;
		top:0;
		left:0;
		.menu{
			position:absolute;
			top:15px;
			left:14px;
			width:calc(100% - 55px);
			//.logo{
			//	display:inline-block;
			//	vertical-align:middle;
			//}
		}
		.ic_logo{
			width:auto;
			display:inline-block;
			vertical-align:middle;
		}
	}
	.menu_layer{// header type 1 :  메인 '내차팔기/내차사기 레이어 
		display:none;
		width:119px;
		position:absolute;
		top: 37px;
		right:39px;
		padding:11px 20px 12px 24px;
		border-radius:6px;
		background-color:$COL_Text_Base04;
		border: 1px solid rgba($COL_WHITE, 0.2);
		box-shadow: 0px 3px 6px rgba($COL_Text_Base04, 0.12);
		&.on{
			display:block;
		}
		ul{
			li{
				a{
					display:block;
					padding:4px 0 0;
					color:$COL_Gray13;
					@include Mix_Font('Txt-R', 13, 21);
				}
				&.on{
					a{
						color:$COL_C36F51;
						&::after{
							content:'';
							display:inline-block;
							width:16px;
							height:13px;
							margin:0 0 0 9px;
							@include Mix_Layout_Bg;
							background-position:-141px 0;
						}
					}
					
				}
			}
		}
	}
	.h_search{// header type 2 : 검색결과
		padding:0 45px;
		border-bottom:1px solid $COL_Secondary01;
		background:$COL_WHITE;
		box-shadow:0px 3px 6px rgba($COL_Text_Base04, 0.12);
		border-top:0;
		border-right:0;
		border-left:0;
		.inp_sch{
			width:100%;
			height:51px;
			border:0;
			background:transparent;
			color:$COL_Text_Base04;
			@include Mix_Font('Txt-R', 15, 24);
		}
		&.h_deal{
			padding-left:15px;
		}
	}
	[class^="ic_"]{// header 아티콘 공통 
		display:block;
		width:24px;
		height:24px;
		// padding-top:2px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			height:20px;
			margin:0 auto;
			@include Mix_Layout_Bg;
		}
	}
	.ic_menu{// header 아이콘 - 내차사기 
		position:absolute;
		right:14px;
		top:-3px;
		width:auto;
		height:28px;
		margin-top:-2px;
		padding:0 26px 0 10px;
		border-radius:15px;
		border:1px solid rgba($COL_WHITE, 0.25);
		color:$COL_Gray13;
		@include Mix_Font('Txt-R', 12, 28);
		text-indent:0;
		&::before{
			position:absolute;
			top:9px;
			right:10px;
			width:13px;
			height:9px;
			background-position:-115px 0;
		}
		&.on{
			&::before{
				transform:rotate(180deg);
			}
		}
	}
	.ic_logo{// header - 로고
		&::before{
			width:80px;
			height:18px;
			background-position:0 0;
		}
	}
	.ic_back{// header - 이전버튼 - 흰색
		position:absolute;
		top:13px;
		left:15px;
		width:24px;
		height:24px;
		padding: 0;
		&::before{
			width:24px;
			height: 24px;
			margin:0 auto;
			background-position:-204px -213px;
		}
	}
	.ic_cart{// header - 장바구니 - 흰색
		&::before{
			width:20px;
			background-position:-25px -27px;
		}
		&.on::after{
			content:'';
			position:absolute;
			top:-2px;
			right:-2px;
			width:4px;
			height:4px;
			background-color:$COL_info02;
			border-radius:100%;
		}
	}
	.ic_alarm{// header - 알림 - 흰색
		&::before{
			width:20px;
			background-position:0 -27px;
		}
	}
	.ic_mic{// header - 음성 - 흰색
		&::before{
			width:18px;
			background-position:-76px -27px;
		}
	}
	.ic_filter{// header - 검색 필터 - 흰색
		&::before{
			width:20px;
			background-position:-99px -27px;
		}
	}
	.ic_set{// header - 설정 - 검은색
		&::before{
			width:20px;
			background-position:-124px -27px;
		}
	}
	.ic_home{// header - 홈 - 검은색
		&::before{
			width:20px;
			background-position:-200px -27px;
		}
	}
	.ic_search{// header - 검색 - 검은색
		&::before{
			width:20px;
			height: 24px;
			background-position:-51px -25px;
		}
	}
	.ic_mycar{// header - 내차팔기 
		&::before{
			width:24px;
			height:24px;
			background-position:-212px 0;
		}
	}
	.ic_del {
		padding: 0;
		&::before{
			width:24px;
			height:24px;
			background-position:-226px -27px;
		}
	}
	.h_sub{// header type 3 : 서브 - 전시템플릿 상단 타이틀 fixed
		background-color:$COL_WHITE;
		border-bottom:1px solid $COL_BG_Light02;
		&.visual{// 전시템플릿 header 아이콘 흰색
			border-bottom:0;
			background-color:transparent;
			h3.tit{
				color:transparent;
			}
			.ic_back:before{// header - 이전버튼 - 흰색
				background-position:-204px -242px;
			}
			.ic_cart:before{// header - 장바구니 -  흰색
				background-position:-25px -27px;
			}
			.ic_del:before{// header - 장바구니 -  흰색
				background-position:-226px -51px;
			}
		}
		&.my_head{
			//border-bottom:0;
		}
		&.my_head2{
			background-color:$COL_BG_Light01 !important;
			//border-bottom:0;
		}
		h3.tit{
			color:$COL_BLACK;
		}
		.icon_sns2{
			margin-right:14px;
		}
		.ic_back{
			&::before{
				background-position:-204px -213px;
			}
		}
		.ic_cart{
			&::before{
				background-position:-174px -27px;
			}
		}
		.ic_home{
			&::before{
				height: 24px;
				background-position:-149px -25px;
			}
		}
	}
	.h_detail{// header type 4 : 상품상세
		border-bottom:0;
		h3.tit{
			width:calc(100% - 122px) !important;
			padding-left:4px;
			color:$COL_WHITE !important;
			text-align:left !important;
		}
		.icon_sns2{
			margin-right:14px;
		}
		.ic_back{
			&::before{
				background-position:-172px 2px;
			}
		}
		.ic_cart{
			&::before{
				background-position:-25px -27px;
			}
		}
		.ic_home{
			&::before{
				background-position:-200px -27px;
			}
		}
		&.fixed{
			background-color:$COL_WHITE;
			border-bottom:1px solid $COL_BG_Light02;
			h3.tit{
				color:$COL_Text_Base04 !important;
			}
			.ic_home::before{
				background-position:-149px -27px;
			}
			.ic_cart::before{
				background-position:-174px -27px;
			}
			.ic_back::before{
				background-position:-162px 0;
			}
		}
	}
}

/* contents */
#CPOcontents{
	position:relative;
	min-height:calc(100% - 200px);
	padding-top:50px;
}


/* actionbar */
#CPOactionbar{
	position:fixed;
	bottom:0;
	left:0;
	z-index:600;
	width:100%;
	height:65px;
	border-top:1px solid $COL_1E1E;
	background:$COL_BLACK;
	ul{
		@include Mix_Clear;
		li{
			float:left;
			width:25%;
			height:64px;
			[class^="ac_"]{
				display:block;
				overflow:hidden;
				width:100%;
				color:$COL_999;
				@include Mix_Font('Head-R', 10, 14);
				text-align:center;
				&::before{
					content:'';
					display:block;
					width:22px;
					height:22px;
					margin:15px auto 6px;
					@include Mix_Layout_Bg;
				}
			}
			.ac_home{
				&::before{
					background-position:0 -52px;
				}
			}
			.ac_saerch{
				&::before{
					background-position:-27px -52px;
				}
			}
			.ac_lab{
				&::before{
					background-position:-54px -52px;
				}
			}
			.ac_mypage{
				&::before{
					width:18px;
					background-position:-81px -52px;
				}
			}
			.ac_wish{
				&::before{
					background-position:-104px -52px;
				}
			}
		}
	}
}

/* footer */
#CPOfooter{
	padding:40px 0 104px;
	background:$COL_BLACK;
	text-align:center;
	.foot_logo a{
		@include Mix_Size_0;
		&::before{
			content:'';
			display:inline-block;
			margin:0 auto;
			width:100px;
			height:20px;
			@include Mix_Layout_Bg;
			background-position:-52px -106px;
		}
	}
	.foot_copy{
		margin-top:14px;
		color:$COL_999;
		@include Mix_Font('Txt-R', 10, 16);
	}
	.foot_menu{
		margin-top:24px;
		font-size:0;
		text-align:center;
		li{
			display:inline-block;
			position:relative;
			margin-left:14px;
			a{
				display:inline-block;
				height:26px;
				padding:0 13px;
				background-color:$COL_1A1A;
				color:$COL_8282;
				@include Mix_Font('Txt-R', 11, 26);
				vertical-align:middle;
			}
			&:first-child{
				margin-left:0;
			}
		}
	}
	.foot_info{
		margin-top:24px;
		button{
			display:inline-block;
			color:$COL_8282;
			@include Mix_Font('Txt-R', 10, 14);
			&:after{
				content:'';
				display:inline-block;
				width:10px;
				height:6px;
				margin-left:6px;
				background:url('../img/bg_layout.png') no-repeat center;background-size:300px auto;background-position:-196px 0;
				font-size:0;
				transform:rotate(0deg);
			}
			&.on:after{
				transform:rotate(180deg);
			}
		}
		> div{
			display:none;
			margin-top:12px;
			color:$COL_5959;
			@include Mix_Font('Txt-R', 11, 18);
			span{
				position:relative;
				margin-right:7px;
				padding-right:7px;
				&:before{
					content:'';
					position:absolute;
					top:50%;
					right:0;
					width:1px;
					height:7px;
					background:$COL_1E1E;
					transform:translateY(-50%);
				}
			}
			a{
				margin-left:4px;
				color:$COL_999;
				text-decoration:underline;
			}
		}
	}
}

/* top button */
#CPOtop{
	display:none;
	position:fixed;
	right:10px;
	bottom:71px;
	z-index:800;
	a{
		display:block;
		width:48px;
		height:48px;
		@include Mix_Library_Bg;
		background-position:-93px -28px;
		@include Mix_Size_0;
		// &::before{
		// 	content:'';
		// 	display:block;
		// 	width:24px;
		// 	height:24px;
		// 	margin:10px auto;
		// 	@include Mix_Library_Bg;
		// 	background-position:-150px 0;
		// }
		&[title=chatbot]{
			display:none;
			margin-bottom:10px;
			background-position:-41px -28px;
			border:0;
		}
		&[title=write]{
			display:none;
			margin-bottom:10px;
			background-position:-145px -28px;
			border:0;
		}
	}
	&.type01{
		a[title=chatbot]{
			display:block;
		}
	}
	&.type02{
		a[title=write]{
			display:block;
		}
	}
}