// 셀렉트 박스 스타일 모음(레이어 포함)
.btn_sel01{// 버튼(문의하기, 
	border:1px solid $COL_Line_Light01;
	width:100%;
	height:56px;
	padding:0 34px 0 20px;
	color:$COL_Text_Base04;
	@include Mix_Font('Txt-R', 14, 56);
	text-align:left;
	@include Mix_Select_Bg01;
}
.btn_sel02{// 버튼(상품상세-할부개월, 
	width:100%;
	height:56px;
	padding-right:34px;
	border:0;
	background:$COL_WHITE;
	color:$COL_Text_Base04;
	@include Mix_Font('Txt-R', 13, 56);
	text-align:right;
	&:before{
		content:'';
		position:absolute;
		top:50%;
		right:17px;
		z-index:2;
		width:12px;
		height:8px;
		@include Mix_PDP_Bg(-88px 0);
		transform:translateY(-50%);
	}
}
.btn_sel03{// 버튼(할부계산기, 
	width:100%;
	height:56px;
	padding-right:34px;
	background-color:$COL_BG_Light01;
	border:0;
	color:$COL_Text_Base04;
	@include Mix_Font('Txt-R', 14, 56);
	text-align:right;
	.pdp_sel_box2 .pdp_sel2 &{
		padding-left: 17px;
		text-align: left;
	}
	&:before{
		content:'';
		position:absolute;
		top:50%;
		right:17px;
		z-index:2;
		width:12px;
		height:8px;
		@include Mix_PDP_Bg(-88px 0);
		transform:translateY(-50%);
	}
}
.btn_sel04{// 버튼(실사검수 신청, 
	width:100%;
	height:56px;
	padding:0 34px 0 20px;
	border:0;
	color:$COL_Text_Base04;
	@include Mix_Font('Txt-R', 14, 56);
	@include Mix_Select_Bg01;
	text-align:left;
}
.btn_sel05{// 버튼(문의하기, 
	border:1px solid $COL_Line_Dark01;
	width:100%;
	height:56px;
	padding:0 34px 0 17px;
	color:$COL_Text_Base04;
	@include Mix_Font('Txt-R', 13, 56);
	text-align:left;
	@include Mix_Select_Bg01;
}
.btn_sel06{// 버튼(문의하기, 
	border:0px;
	width:100%;
	height:56px;
	padding:0 34px 0 17px;
	color:$COL_Text_Base04;
	@include Mix_Font('Txt-R', 13, 56);
	text-align:left;
	@include Mix_Select_Bg01;
}
.CPOpop_bottom{
	&.select{
		z-index:1003;
		.p_wrap{
			max-height:calc(100vh - 120px);
		}
	}
}
.select_list{
	padding:0 21px 30px;
	> li{
		border-bottom:1px solid $COL_Line_Light01;
	}
}