@import '../_common/g_function';
@import '../_common/g_mixins';

.lyer_Review{
	background:$COL_BG_Light01;
	.head, .cont{
		background:$COL_WHITE;
	}
	.rating{
		border-top:1px solid $COL_BG_Light02;
	}
	.addphoto_list{
		padding:0 0 0 21px;
		.info{
			margin-top:12px;
			color:$COL_Inactive_Text01;
			@include Mix_Font('Txt-R', 12, 20);
		}
	}
	.notice_03{
		margin:25px 21px;
		border-top:1px solid $COL_BG_Light02;
		padding:25px 0 60px;
	}
	.unit_review{
		margin-bottom:10px;
		padding:18px 21px 20px;
		border:1px solid $COL_BG_Light02;
		border-width:1px 0;
		.unit_img{
			width:80px;
			height:80px;
		}
	}
}
// 별점
.rating{
	padding:40px 21px;
	li{
		text-align:center;
		&:not(:last-child){
			margin-bottom:41px;
		}
		.tit{
			margin-bottom:12px;
			@include Mix_Font('Txt-M', 16, 26);
		}
	}
	.star{
		button{
			width:33px;
			height:32px;
			@include Mix_Mypage_Bg;
			background-position:0 -39px;
			@include Mix_Size_0;
			&:not(:first-of-type){
				margin-left:6px;
			}
			&.on{
				background-position-y:-76px;
			}
		}
	}
}
.rating02{
	.star{
		position:relative;
		display:block;
		width:70px;
		height:13px;
		@include Mix_PDP_Bg(-220px -32px);
		text-indent:-99999px;
		em{
			display:inline-block;
			position:absolute;
			top:0;
			left:0;
			width:auto;
			height:100%;
			@include Mix_PDP_Bg(-150px -32px);
		}
	}
}
// 별점
// textarea
.review_text{
	position:relative;
	margin-bottom:20px;
	padding:0 21px;
}
// textarea
/* 파일 업로드 */
.group_file{
	margin-left:21px;
	padding-bottom:28px;
	border-bottom:1px solid $COL_Line_Light01;
	
}
.list_file{
	display:flex;
	flex-wrap:nowrap;
	position:relative;
	height:75px;
	padding-left:75px;
	.upload_file{
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		position:absolute;
		top:0;
		left:0;
		width:75px;
		height:75px;
		border:1px solid $COL_Line_Dark01;//border-radius:4px;
		background:$COL_BG_Light01;
		color:$COL_Text_Base02;
		@include Mix_Font('Head-R', 12, 16);
		&::before{
			content:'';
			display:block;
			margin-bottom:10px;
			width:17.5px;
			height:17.5px;
			@include Mix_Mypage_Bg;
			background-position:-104px 0;
		}
	}
	input[type="file"]{
		overflow:hidden;
		position:absolute;
		left:-99999px;
		width:1px;
		height:1px;
		clip:rect(0,0,0,0);
		border: 0;
	}
}
.upload_img{
	overflow-x:auto;
	overflow-y:hidden;
	white-space:nowrap;
	li{
		display:inline-block;
		overflow:hidden;
		position:relative;
		width:75px;
		height:75px;
		margin-left:6px;
		//border-radius:4px;
		img{
			display:block;
			width:100%;
		}
		button{
			display:block;
			position:absolute;
			top:0;
			right:0;
			width:22px;
			height:22px;
			@include Mix_Mypage_Bg;
			background-position:-76px 0;
			@include Mix_Size_0;
		}
	}
}
/* // 파일 업로드 */