@charset "UTF-8";
/* 메인 */
/*************************************************************************************
*                                       폰트                                          *
**************************************************************************************/
/**
	색 또는 크기 가변 ICON
*/
/**
	replace 함수
*/
/**
	Icon Info 01
*/
/* Box Bg */
/* Position */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#HIheader {
  position: fixed;
}

#HIcontents #layoutWrap {
  padding: 0;
}

#HIfooter {
  touch-action: pan-y;
}

.isMainLock {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.main_show {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.6s linear, transform 0.6s linear;
}

.contrast {
  color: #767676;
}
.contrast.up {
  color: #FB6B39;
}
.contrast.down {
  color: #00AAD2;
}

.scroll_down {
  position: absolute;
  left: -85px;
  bottom: 85px;
  padding-right: 93px;
  color: #AACAE6;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  transform: rotate(90deg);
}
.scroll_down .line {
  position: absolute;
  right: 0;
  bottom: 4px;
  width: 81px;
  height: 2px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
}
.scroll_down .line::after {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 81px;
  height: 2px;
  animation: scrollDown 1.5s linear infinite;
}
.scroll_down .line.color01 {
  background: rgba(170, 202, 230, 0.3);
}
.scroll_down .line.color01::after {
  background: #AACAE6;
}
.scroll_down .line.color02 {
  background: rgba(0, 170, 210, 0.3);
}
.scroll_down .line.color02::after {
  background: #00AAD2;
}
.scroll_down .line.color03 {
  background: rgba(255, 255, 255, 0.3);
}
.scroll_down .line.color03::after {
  background: #fff;
}

@keyframes scrollDown {
  0% {
    left: -150%;
  }
  100% {
    left: 150%;
  }
}
.section_inner {
  position: relative;
  width: 1180px;
  height: 100%;
  margin: 0 auto;
}

.section_main {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: top 1s linear;
  background: #002C5F;
  touch-action: pan-x;
  overflow: hidden;
}
.section_main .section_intro {
  width: 100vw;
  height: 100vh;
  padding-top: 14.0625vw;
}
.section_main .lottie_wrap {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section_main .lottie_wrap .intro_lottie01 {
  position: absolute;
  right: -9vw;
  top: -3vw;
  opacity: 1;
  width: 1427px;
  transition: opacity 0.6s linear;
}
.section_main .lottie_wrap .intro_lottie01.hide {
  opacity: 0;
}
.section_main .lottie_wrap .intro_lottie01.del {
  display: none;
}
.section_main .lottie_wrap .intro_lottie02 {
  position: absolute;
  right: -15.7vw;
  top: -29.7vw;
  opacity: 1;
  width: 986px;
  transition: opacity 0.6s linear;
}
.section_main .lottie_wrap .intro_lottie02.hide {
  opacity: 0;
}
.section_main .lottie_wrap .intro_lottie02.del {
  display: none;
}
.section_main .lottie_wrap .intro_lottie03 {
  position: absolute;
  right: -35.1vw;
  top: 8vw;
  width: 1500px;
  opacity: 1;
  transition: opacity 0.6s linear;
}
.section_main .lottie_wrap .intro_lottie03.hide {
  opacity: 0;
}
.section_main .lottie_wrap .intro_lottie03.del {
  display: none;
}
.section_main .lottie_wrap .intro_lottie_skip {
  position: absolute;
  right: -19.2vw;
  top: 7.5vw;
  width: 1202px;
  height: 472px;
  transition: opacity 1s linear;
  opacity: 0;
  background-image: url(./../img/main/icon_intro_skip.png);
  background-size: 1202px auto;
  background-repeat: no-repeat;
}
.section_main .lottie_wrap .intro_lottie_skip.show {
  opacity: 1;
}
.section_main .intro_text {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
}
.section_main .intro_text .intro_txt01 {
  opacity: 0;
  position: relative;
  height: auto;
  color: #fff;
  transition: opacity 0.6s linear;
}
.section_main .intro_text .intro_txt01.show {
  opacity: 1;
}
.section_main .intro_text .intro_txt01 .tit {
  display: inline-block;
  width: 272px;
  margin: 15px 0 0 15px;
  transition: width 0.6s linear, margin 0.6s linear;
}
.section_main .intro_text .intro_txt01 .tit img {
  display: block;
  width: 100%;
}
.section_main .intro_text .intro_txt01 .tit.trans {
  width: 97px;
  margin: 0;
}
.section_main .intro_text .intro_txt01 .txt_area {
  opacity: 0;
  margin-top: 32px;
  transition: opacity 0.6s linear;
}
.section_main .intro_text .intro_txt01 .txt_area.show {
  opacity: 1;
}
.section_main .intro_text .intro_txt01 .txt_area .txt01 {
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 58px;
  line-height: 78px;
}
.section_main .intro_text .intro_txt01 .txt_area .txt02 {
  margin-top: 12px;
  color: #AACAE6;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
.section_main .intro_text .intro_txt02 {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.6s linear, height 0.6s linear, max-height 0.6s linear;
}
.section_main .intro_text .intro_txt02.show {
  height: auto;
  max-height: 100%;
  opacity: 1;
}
.section_main .intro_text .intro_txt02 .txt {
  color: #AACAE6;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
.section_main .intro_text .intro_txt03 {
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  max-height: 0;
  opacity: 0;
  transition: opacity 0.6s linear, height 0.6s linear, max-height 0.6s linear;
}
.section_main .intro_text .intro_txt03.show {
  height: auto;
  max-height: 100%;
  opacity: 1;
}
.section_main .intro_text .intro_txt03 .tit {
  color: #AACAE6;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.section_main .intro_text .intro_txt03 .txt {
  margin-top: 24px;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 92px;
  line-height: 106px;
}
.section_main .intro_text .btn_area {
  position: absolute;
  left: 0;
  top: 392px;
}
.section_main .intro_text .btn_area .btn_skip {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  opacity: 0;
  transition: opacity 0.6s linear;
}
.section_main .intro_text .btn_area .btn_skip.show {
  opacity: 1;
}
.section_main .intro_text .btn_area .btn_skip::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-image: url("./../img/main/icon_skip.png");
  background-size: 16px auto;
  background-repeat: no-repeat;
}

.section_wrap {
  position: relative;
}
.section_wrap.scroll01 {
  position: fixed;
  left: 0;
  top: 100vh;
  width: 100%;
  overflow: hidden;
  transition: top 0.6s linear;
}
.section_wrap.scroll01.start {
  top: 0;
}
.section_wrap.scroll01.scroll {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
.section_wrap.scroll01 .scroll_down {
  left: -49px;
  bottom: 47px;
}
.section_wrap.scroll02 {
  position: fixed;
  left: 0;
  top: 100vh;
  width: 100%;
  transition: top 0.6s linear;
}
.section_wrap.scroll02.start {
  top: 0;
}
.section_wrap.scroll02.start.scroll {
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}
.section_wrap.scroll02 .scroll_down {
  left: -49px;
  bottom: 47px;
}
.section_wrap.scroll03 {
  position: fixed;
  left: 0;
  top: 100vh;
  width: 100%;
  transition: top 0.6s linear;
}
.section_wrap.scroll03.start {
  top: 0;
}
.section_wrap.scroll03 .scroll_down {
  left: -49px;
  bottom: 47px;
}
.section_wrap.scroll04 {
  position: fixed;
  left: 0;
  top: 100vh;
  width: 100%;
  transition: top 0.6s linear;
  overflow: hidden;
  touch-action: pan-y;
}
.section_wrap.scroll04.start {
  top: 0;
  height: 100vh;
  overflow-y: auto;
}
.section_wrap .section_trend {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 12.8125vw 0 9.1667vw;
  background: #007FA8;
  transition: height 0.6s linear, padding 0.6s linear;
  touch-action: pan-y;
}
.section_wrap .section_trend.height {
  height: 410px;
  padding: 160px 0 0;
}
.section_wrap .section_trend.height .title {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.5;
}
.section_wrap .section_trend.height .list_wrap {
  opacity: 0;
}
.section_wrap .section_trend .section_inner {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 658px;
}
.section_wrap .section_trend .title {
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 84px;
  line-height: 105px;
  transition: font-size 0.6s linear, line-height 0.6s linear;
}
.section_wrap .section_trend .list_wrap {
  transition: opacity 0.5s linear;
}
.section_wrap .section_trend .list_wrap .list_trend {
  display: grid;
  grid-template-columns: 337px 195px 426px;
  grid-gap: 110px;
}
.section_wrap .section_trend .list_wrap .list_trend li {
  position: relative;
  padding-left: 30px;
  color: #fff;
}
.section_wrap .section_trend .list_wrap .list_trend li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background: #fff;
}
.section_wrap .section_trend .list_wrap .list_trend li .tit {
  margin-bottom: 20px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_trend .list_wrap .list_trend li .txt {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}
.section_wrap .section_trend .list_wrap .list_trend li .txt span {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 90px;
}
.section_wrap .section_trend .list_wrap .list_trend li .txt em {
  display: block;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_trend .list_wrap .list_trend li .txt strong {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .stats_wrap {
  position: relative;
  width: 100vw;
  padding-top: 9.1667vw;
  background: #fff;
  overflow-x: hidden;
  touch-action: pan-y;
}
.section_wrap .stats_wrap .section_inner {
  padding-bottom: 9.1667vw;
}
.section_wrap .stats_wrap .btn_area {
  margin-top: 80px;
  text-align: center;
}
.section_wrap .section_stats.step01 .head {
  align-items: flex-end;
}
.section_wrap .section_stats.step01 .head .case_area {
  margin-top: 56px;
}
.section_wrap .section_stats.step01 .head .chart_area01 {
  width: 650px;
}
.section_wrap .section_stats.step01 .head .chart_area01 img {
  display: block;
  width: 100%;
}
.section_wrap .section_stats.step02 {
  margin-top: 220px;
}
.section_wrap .section_stats.step02 .head .case_area {
  margin-bottom: 140px;
}
.section_wrap .section_stats.step02 .head .chart_area02 {
  width: 500px;
}
.section_wrap .section_stats.step02 .head .chart_area02 img {
  display: block;
  width: 100%;
}
.section_wrap .section_stats.step03 {
  margin-top: 220px;
}
.section_wrap .section_stats.step03 .stats_title {
  position: absolute;
}
.section_wrap .section_stats .head {
  display: flex;
  justify-content: space-between;
}
.section_wrap .section_stats .head .case_area .case {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_stats .head .case_area .case .num {
  margin-left: 20px;
}
.section_wrap .section_stats .head .case_area .case span {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 100px;
  line-height: 130px;
}
.section_wrap .section_stats .head .case_area .contrast_area {
  color: #767676;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_stats .head .case_area .contrast_area .contrast {
  margin-left: 10px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_stats .stats_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section_wrap .section_stats .stats_title .title_area .tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_stats .stats_title .title_area .txt {
  margin-top: 20px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_stats .stats_title .title_area .txt02 {
  margin-top: 5px;
  color: #767676;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.section_wrap .section_stats .list_stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 160px;
}
.section_wrap .section_stats .list_stats li {
  position: relative;
  padding: 30px 30px 20px;
}
.section_wrap .section_stats .list_stats li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 20px;
  width: 48px;
  height: 48px;
  background-size: 48px auto;
  background-repeat: no-repeat;
}
.section_wrap .section_stats .list_stats li:nth-child(1) {
  background: #002C5F;
}
.section_wrap .section_stats .list_stats li:nth-child(1)::before {
  background-image: url("./../img/main/icon_stats_info01.png");
}
.section_wrap .section_stats .list_stats li:nth-child(2) {
  background: #013674;
}
.section_wrap .section_stats .list_stats li:nth-child(2)::before {
  background-image: url("./../img/main/icon_stats_info02.png");
}
.section_wrap .section_stats .list_stats li:nth-child(3) {
  background: #05448E;
}
.section_wrap .section_stats .list_stats li:nth-child(3)::before {
  background-image: url("./../img/main/icon_stats_info03.png");
}
.section_wrap .section_stats .list_stats li .tit {
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: right;
}
.section_wrap .section_stats .list_stats li .info_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
}
.section_wrap .section_stats .list_stats li .info_area .case_area .start {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.section_wrap .section_stats .list_stats li .info_area .case_area .start span {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_stats .list_stats li .info_area .case_area .end {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.section_wrap .section_stats .list_stats li .info_area .case_area .end span {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.section_wrap .section_stats .list_stats li .info_area .contrast_area {
  text-align: right;
}
.section_wrap .section_stats .list_stats li .info_area .contrast_area span {
  color: rgba(255, 255, 255, 0.6);
}
.section_wrap .section_stats .list_stats li .info_area .contrast_area .contrast {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.section_wrap .section_stats .list_age {
  display: flex;
  margin-top: 60px;
  border: 1px solid #E3E3E3;
}
.section_wrap .section_stats .list_age li {
  flex: 1 auto;
  padding: 24px 20px 12px;
}
.section_wrap .section_stats .list_age li:not(:first-of-type) {
  border-left: 1px solid #E3E3E3;
}
.section_wrap .section_stats .list_age li .line {
  display: block;
  width: 36px;
  height: 4px;
  border-radius: 2px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.section_wrap .section_stats .list_age li .tit {
  margin-top: 8px;
  color: #767676;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.section_wrap .section_stats .list_age li .percent {
  margin-top: 20px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
}
.section_wrap .section_stats .tab_main {
  margin-top: 90px;
}
.section_wrap .section_stats .tab_main .list {
  z-index: 1;
  position: absolute;
  top: 227px;
}
.section_wrap .section_stats .tab_main .slide_stats_model {
  padding-top: 338px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li {
  display: flex;
  justify-content: space-between;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .text_area .brand {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .text_area .model {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .text_area .case {
  display: flex;
  align-items: center;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .text_area .case span {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 90px;
  line-height: 112px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .img_area {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 600px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .img_area .img {
  position: relative;
  width: 600px;
}
.section_wrap .section_stats .tab_main .slide_stats_model li .img_area .img img {
  display: block;
  width: 100%;
}
.section_wrap .section_stats .tab_main .slide_stats_model .pagination_wrap {
  display: flex;
  justify-content: flex-end;
}
.section_wrap .section_stats .tab_main .slide_stats_model .pagination_wrap .swiper-pagination.type02 {
  display: inline-flex;
  margin-right: 20px;
}
.section_wrap .section_stats .tab_main .slide_stats_model .pagination_wrap .swiper-pagination.type02 .swiper-pagination-bullet-active {
  background: #007FA8;
}
.section_wrap .section_price {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 12.8125vw 0 9.1667vw;
  background: #007FA8;
  transition: height 0.6s linear, padding 0.6s linear, background 0.6s linear;
}
.section_wrap .section_price.height {
  height: 410px;
  padding: 8.3333vw 0 5.2083vw;
  background: #F7F7F7;
}
.section_wrap .section_price.height .section_inner {
  min-height: 0;
}
.section_wrap .section_price.height .section_inner .title {
  color: #000;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.5;
}
.section_wrap .section_price.height .section_inner .model_area .text_area {
  opacity: 0;
  transform: translateY(-100px);
}
.section_wrap .section_price.height .section_inner .model_area .img {
  position: absolute;
  right: 0;
  bottom: -210px;
  width: 600px;
}
.section_wrap .section_price.height .bg {
  bottom: 100%;
}
.section_wrap .section_price .bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  transition: bottom 0.6s linear;
}
.section_wrap .section_price .bg img {
  display: block;
  width: 100%;
}
.section_wrap .section_price .section_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 658px;
  transition: min-height 0.6s linear;
}
.section_wrap .section_price .section_inner .title {
  z-index: 2;
  position: relative;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 84px;
  line-height: 105px;
  transition: color 0.6s linear, font-size 0.6s linear, line-height 0.6s linear;
}
.section_wrap .section_price .section_inner .model_area {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.section_wrap .section_price .section_inner .model_area .text_area {
  opacity: 1;
  margin-bottom: 90px;
  color: #fff;
  transition: opacity 0.6s linear, transform 0.6s linear;
}
.section_wrap .section_price .section_inner .model_area .text_area .brand {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.section_wrap .section_price .section_inner .model_area .text_area .model {
  margin-top: 20px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 70px;
}
.section_wrap .section_price .section_inner .model_area .img {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 760px;
  transition: width 0.6s linear, right 0.6s linear, bottom 0.6s linear;
}
.section_wrap .section_price .section_inner .model_area .img img {
  display: block;
  width: 100%;
}
.section_wrap .quot_wrap {
  background: #007FA8;
}
.section_wrap .quot_wrap .quot_inner {
  position: relative;
  padding-top: 5.2083vw;
}
.section_wrap .quot_wrap .quot_inner .section_inner {
  padding-bottom: 9.1667vw;
}
.section_wrap .section_quot .box_title {
  color: #fff;
}
.section_wrap .section_quot .box_title .brand {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.section_wrap .section_quot .box_title .model {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
}
.section_wrap .section_quot .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
}
.section_wrap .section_quot .cont .chart_area03 {
  width: 600px;
}
.section_wrap .section_quot .cont .chart_area03 img {
  display: block;
  width: 100%;
}
.section_wrap .section_quot .cont .text_area .case {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
}
.section_wrap .section_quot .cont .text_area .case span {
  display: flex;
  align-items: center;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_quot .cont .text_area .case em {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 72px;
  line-height: 90px;
}
.section_wrap .section_quot .cont .text_area .info_area .info {
  color: #43D1FF;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.section_wrap .section_quot .cont .text_area .info_area .txt {
  margin-top: 10px;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.section_wrap .section_quot .cont .title_area .tit {
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}
.section_wrap .section_quot .cont .title_area .txt {
  margin-top: 20px;
  color: #43D1FF;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.section_wrap .section_quot .cont .title_area .list_year {
  display: flex;
  margin-top: 116px;
}
.section_wrap .section_quot .cont .title_area .list_year li {
  position: relative;
  padding-left: 26px;
  color: #fff;
}
.section_wrap .section_quot .cont .title_area .list_year li:not(:first-of-type) {
  margin-left: 60px;
}
.section_wrap .section_quot .cont .title_area .list_year li .line {
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 60px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.section_wrap .section_quot .cont .title_area .list_year li .year {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.section_wrap .section_quot .cont .title_area .list_year li .percent {
  margin-top: 8px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
.section_wrap .section_quot .cont .chart_area04 {
  width: 440px;
}
.section_wrap .section_quot .cont .chart_area04 img {
  display: block;
  width: 100%;
}
.section_wrap .section_quot .group_quot {
  margin-top: 30px;
}
.section_wrap .section_quot .group_quot .title {
  margin-bottom: 20px;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.section_wrap .section_quot .group_quot .list_quot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 11px;
}
.section_wrap .section_quot .group_quot .list_quot li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  background: #002C5F;
}
.section_wrap .section_quot .group_quot .list_quot li:nth-of-type(1)::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-size: 48px auto;
  background-repeat: no-repeat;
}
.section_wrap .section_quot .group_quot .list_quot li:nth-of-type(1)::before {
  background-image: url("./../img/main/icon_quot01.png");
}
.section_wrap .section_quot .group_quot .list_quot li:nth-of-type(2)::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-size: 48px auto;
  background-repeat: no-repeat;
}
.section_wrap .section_quot .group_quot .list_quot li:nth-of-type(2)::before {
  background-image: url("./../img/main/icon_quot02.png");
}
.section_wrap .section_quot .group_quot .list_quot li:nth-of-type(3)::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  background-size: 48px auto;
  background-repeat: no-repeat;
}
.section_wrap .section_quot .group_quot .list_quot li:nth-of-type(3)::before {
  background-image: url("./../img/main/icon_quot03.png");
}
.section_wrap .section_quot .group_quot .list_quot li .tit {
  margin-top: 22px;
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_quot .group_quot .btn_area {
  margin-top: 80px;
  text-align: center;
}
.section_wrap .section_inquiry {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 12.8125vw;
  background: #002C5F;
  transition: background 0.6s linear;
}
.section_wrap .section_inquiry.change {
  background: #007FA8;
}
.section_wrap .section_inquiry.change .title_area .title.step01 {
  opacity: 0;
}
.section_wrap .section_inquiry.change .title_area .title.step02 {
  opacity: 1;
}
.section_wrap .section_inquiry.change .masking_area {
  border-color: #fff;
}
.section_wrap .section_inquiry.change .masking_area .img_area {
  background: #002C5F;
}
.section_wrap .section_inquiry.change .masking_area .img01 {
  transform: translateX(-100%);
}
.section_wrap .section_inquiry.change .masking_area .img02 {
  transform: translate(-50%, -50%);
}
.section_wrap .section_inquiry.change .info_area .text_area.step01 {
  opacity: 0;
}
.section_wrap .section_inquiry.change .info_area .text_area.step02 {
  opacity: 1;
}
.section_wrap .section_inquiry .section_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 617px;
  padding-bottom: 9.1667vw;
}
.section_wrap .section_inquiry .title_area {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.section_wrap .section_inquiry .title_area .title {
  color: #fff;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.5;
  transition: opacity 0.6s linear;
}
.section_wrap .section_inquiry .title_area .title.step01 {
  opacity: 1;
}
.section_wrap .section_inquiry .title_area .title.step02 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.section_wrap .section_inquiry .title_area .btn_area {
  margin-top: 60px;
}
.section_wrap .section_inquiry .masking_area {
  position: relative;
  width: 600px;
  height: 600px;
  padding: 42px;
  border: 1px dashed #43D1FF;
  border-radius: 50%;
  transition: border 0.6s linear;
}
.section_wrap .section_inquiry .masking_area .img_area {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #007FA8;
  transition: background 0.6s linear;
}
.section_wrap .section_inquiry .masking_area img {
  display: block;
  width: 100%;
}
.section_wrap .section_inquiry .masking_area .img01 {
  position: absolute;
  left: -12px;
  top: 134px;
  width: 575.5px;
  transition: transform 0.6s linear;
}
.section_wrap .section_inquiry .masking_area .img02 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 80%);
  width: 306px;
  transition: transform 0.6s linear;
}
.section_wrap .section_inquiry .info_area {
  position: absolute;
  right: 0;
  bottom: 206px;
  color: #fff;
}
.section_wrap .section_inquiry .info_area .text_area {
  transition: opacity 0.6s linear;
}
.section_wrap .section_inquiry .info_area .text_area.step01 {
  opacity: 1;
  width: 214px;
}
.section_wrap .section_inquiry .info_area .text_area.step02 {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 176px;
}
.section_wrap .section_inquiry .info_area .tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_inquiry .info_area .txt_area {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}
.section_wrap .section_inquiry .info_area .txt01, .section_wrap .section_inquiry .info_area .txt02 {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.section_wrap .section_inquiry .info_area .txt02 {
  margin-top: 5px;
}
.section_wrap .section_basic {
  position: relative;
  width: 100%;
  padding: 246px 0 176px;
  min-height: 100vh;
  background: #fff;
  touch-action: pan-y;
}
.section_wrap .section_basic .section_inner {
  touch-action: pan-y;
}
.section_wrap .section_basic .title_area {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.5;
}
.section_wrap .section_basic .slide_basic_wrap {
  position: relative;
  margin-top: 100px;
}
.section_wrap .section_basic .slide_basic_wrap .slide_basic_controller {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}
.section_wrap .section_basic .slide_basic_wrap .slide_basic_controller .slide_basic_prev, .section_wrap .section_basic .slide_basic_wrap .slide_basic_controller .slide_basic_next {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.section_wrap .section_basic .slide_basic_wrap .slide_basic_controller .slide_basic_prev::before, .section_wrap .section_basic .slide_basic_wrap .slide_basic_controller .slide_basic_next::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: 24px auto;
  background-repeat: no-repeat;
}
.section_wrap .section_basic .slide_basic_wrap .slide_basic_controller .slide_basic_prev::before {
  background-image: url(./../img/main/btn_arr_lw.png);
}
.section_wrap .section_basic .slide_basic_wrap .slide_basic_controller .slide_basic_next::before {
  background-image: url(./../img/main/btn_arr_rw.png);
}
.section_wrap .section_basic .slide_basic {
  position: absolute;
  pointer-events: none;
}
.section_wrap .section_basic .slide_basic_list {
  padding-left: 247px;
}
.section_wrap .section_basic .slide_basic_list li {
  position: relative;
  transition-property: opacity;
}
.section_wrap .section_basic .slide_basic_list li .img {
  width: 440px;
}
.section_wrap .section_basic .slide_basic_list li .img img {
  display: block;
  width: 100%;
}
.section_wrap .section_basic .slide_basic_list li .info {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 466px;
  margin-left: 27px;
}
.section_wrap .section_basic .slide_basic_list li .info .tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.section_wrap .section_basic .slide_basic_list li .info .txt {
  margin-top: 16px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.section_wrap .section_basic .slide_basic_list li .info .date {
  margin-top: 48px;
}
.section_wrap .section_basic .slide_basic.list01 {
  left: 0;
  top: 0;
}
.section_wrap .section_basic .slide_basic.list02 {
  left: 714px;
  top: 0;
}
.section_wrap .section_basic .slide_basic.list03 {
  left: 960px;
  top: 0;
}
.section_wrap .section_basic .slide_basic li {
  transition-property: opacity;
}
.section_wrap .section_basic .slide_basic li .img {
  width: 220px;
}
.section_wrap .section_basic .slide_basic li .img img {
  display: block;
  width: 100%;
}
.section_wrap .section_basic .btn_area {
  margin-top: 100px;
  padding-top: 80px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
}
/*# sourceMappingURL=maps/hi_main.css.map */
