
div#carImage{
    position:relative;
    left:0px;
    top:0px;
    z-index:20;
}

div#carImage canvas#canvasCar{
    width:100vw;
    /* border : 5px solid #f00; */
}

div.butZoom#butLeft
{
    left : 0;
    background-image : url(../images/Arrow_L.png);
}

div.butZoom#butRight
{
    right : 0;
    background-image : url(../images/Arrow_R.png);
}

div#btnImgSlide {
    width: 97px;
    height: 34px;
    top : 5vw;
    left : 5vw;
    position: absolute;
    z-index: 31;
    background-image : url(../images/ico_img_slide.png);
    background-size: contain;
}

div#btnInOutSwitch {
    width: 84px;
    height: 18px;
    position : absolute;
    z-index: 31;
    background-repeat : no-repeat;
    background-position: center;
    bottom : 5vw;
    left : 5vw;
    position: absolute;
    background-size: contain;
}
div#btnInOutSwitch.out {
    background-image : url(../images/ico_out_switch.png);
}
div#btnInOutSwitch.in {
    background-image : url(../images/ico_in_switch.png);
}


div#divDetailButton {

}
div#viewIn {

}

div.butZoom {
    width : 44px;
    height : 44px;
    position : absolute;
    z-index: 31;
    background-size:50%;
    background-repeat : no-repeat;
    background-position: center;
    top: 50%;
    display: none;
}
div#btnFullScreen {
    background-image : url(../images/Full_btn.png);
    width: 24px;
    height: 24px;
    position : absolute;
    z-index: 31;
    background-repeat : no-repeat;
    background-position: center;
    bottom : 5vw;
    right : 5vw;
}

#show_loading {
    position: absolute;
    z-index: 20;
}

/* 세로모드만 적용받는 CSS */
@media(orientation:portrait) {
    div#btnFullScreen {
    }

    div#butClose {
        background-image : url(../images/Collapse_btn.png);
        width: 24px;
        height: 24px;
        position : absolute;
        z-index: 31;
        background-repeat : no-repeat;
        background-position: center;
        bottom : 5vw;
        left: 5vw;
    }

    div.butZoom#butLeft.full{
        top: 0 !important;
        position: absolute !important;
        transform: rotate(90deg) !important;
        background-size:100%;
        left: 45vw !important;
        margin: 0 !important;

    }

    div.butZoom#butRight.full{
        bottom: 0 !important;
        position: absolute !important;
        margin: 0 !important;
        transform: rotate(90deg) !important;
        background-size:100%;
        right: 45vw !important;
        top : auto !important;
    }

    #canvasCar.full{
        transform: rotate(90deg) !important;
        transform-origin: bottom left !important;
        position: absolute !important;
        bottom: 100% !important;
        left: 0 !important;
        width: 100vh !important;
        /*height: 100vw !important;*/
        margin-left: -0vw;
    }

    #vrCarViewContainer.full div#btnImgSlide{
        transform: rotate(90deg) !important;
        transform-origin: bottom left !important;
        top : auto !important;
        right : -5vw !important;
        left: auto !important;
    }

    #vrCarViewContainer.full div#btnInOutSwitch {
        transform: rotate(90deg) !important;
        transform-origin: bottom left !important;
        top : 5vw !important;
        left : 5vw !important;
        bottom: auto !important;
    }


    *:has(#vrCarViewContainer.full){
        width: 100vw !important;
        height: 100vh !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0px;
    }

    #vrCarViewContainer.full{
        width: 100vw !important;
        height: 100vh !important;
        background-color: #000;
    }
    #vrCarViewContainer.full #divBody, #vrCarViewContainer.full #divBodySub{
        height: 100vh !important;
    }

}

/* 가로모드만 적용받는 CSS */
@media(orientation:Landscape) {
    div#vrCarImage, div#carImage{
        top:0vw;
    }
    div#vrCarViewContainer.full div#vrCarViewSmall, div#vrCarViewContainer.full div#divBody {
        height: 100vh !important;
        width: 100vw !important;
    }

    div#butClose {
        background-image : url(../images/Collapse_btn.png);
        width: 24px;
        height: 24px;
        position : absolute;
        z-index: 31;
        background-repeat : no-repeat;
        background-position: center;
        bottom : 5vw;
        right : 5vw;
    }

    div.butZoom#butLeft.full{
    }

    div.butZoom#butRight.full{
    }

    #canvasCar.full{
        width: 100vw !important;
        /*height: 100vh !important;*/
        margin-top: -0vh;
    }

    *:has(#vrCarViewContainer.full){
        width: 100vw !important;
        height: 100vh !important;
        margin-left:calc(-50vw + 50%) !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0px;
    }

    #vrCarViewContainer.full{
        height: 100vh !important;
        width: 100vw !important;
        background-color: #000;
    }
}


/* 마커 css */
div.marker
{
    margin : 0;
    top : 0;
    left : 0;
    width:100%;
    height:100%;
    background-image : url(../images/marker.png);
    background-size:100%;
    background-repeat : no-repeat;
    background-position: center;
    border-radius: 50%;
    z-index : 26;
    pointer-events: none;
}

div.marker_wrapper
{
    position: absolute;
    width : 7vw;
    height : 7vw;
    transform : translate(-3.5vw, -3.5vw);
    z-index : 26;
}