@charset "utf-8";

@import '../_common/c_function';
@import '../_common/c_mixins';

// s: 자주묻는 질문
.qa_wrap{
    .flex_box{
        display: flex;
        align-items: center;
        &.align_between{
            justify-content: space-between;
        }
    }
    ul.btn_area{
        &.flex_box{
            column-gap: 17px;
            & > li{
                position: relative;
                button{
                    color: $COL_gs03;
                }
                + li{
                    &::after{
                        content: "";
                        display: block;
                        width: 1px;
                        height: 12px;
                        position: absolute;
                        right: calc(100% + 8.5px);
                        top: 50%;
                        transform: translateY(-50%);
                        background-color: $COL_gs05;
                    }
                }
            }
        }
    }
    .cont{
        border-top: 1px solid $COL_gs06;
        &.on{
            .head{
                .js_toggle{
                    &::after{
                        transform: translateY(-50%) rotate(0deg);
                        transition: all 0.5s;
                    }
                }
            }
        }
        &:last-child {
            border-bottom: 1px solid $COL_gs06;
        }
        .date{
            @include fontT(18);
            color: $COL_gs04;
        }
        .head{
            .js_toggle{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @include fontT(18);
                width: 100%;
                text-align: left;
                padding: 20px 0;
                span{
                    display: inline-block;
                    &.txt{
                        width: 800px;
                    }
                }
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    right: 24px;
                    top:50%;
                    @include Icon_arrow($color: $COL_black, $size: 1.2, $view: 24px,$svg_size: 18px, $type: 'up');
                    transform: translateY(-50%) rotate(180deg);
                    transition: all 0.5s;
                }
                [class^="flag_big"]{
                    margin-right: 24px;
                }
            }
        }
        .group{
            display: none;
            &.on{
                display: block;
            }
            .gray_box{
                @include fontT(18);
                padding: 32px 64px;
                border-top: 1px solid $COL_gs06;
                background-color: $COL_gs08;
                a{
                    color: $COL_secondary1;
                    &::after{
                        @include Icon_out_link($COL_secondary1);
                    }
                }
                .img_list{
                    display: flex;
                    column-gap: 12px;
                    margin-top: 24px;
                    li{
                        width: 141px;
                        img{
                            width: 100%;
                        }
                    }
                }
            
                &.qna_wrap{
                    .mark{
                        @include fontHM(20);
                        margin-right: 4px;
                    }
                    .txt{
                        @include fontT(18);
                        width: 840px;
                    }
                    .question{
                        .car_name_wrap{
                            margin-top: 24px;
                            .car_name{
                                @include fontT(16);
                                color: $COL_gs04;
                            }
                        }
                    }
                    .answer{
                        margin-top: 32px;
                        padding-top: 32px;
                        border-top: 1px solid $COL_gs06;
                        .mark{
                            color: $COL_secondary1;
                        }
                        .flex_box{
                            align-items: flex-start;
                        }
                    }
                }
            }
        }
    }

    // &.type_myqna{
    //     margin-top: 40px;
    //     .head{
    //         .js_toggle{
    //             padding: 25px 64px 25px 32px;
    //         }
    //     }
        
    // }
    &.type_question{
        margin-top: 40px;
        .head{
            .js_toggle{
                span{
                    @include fontT(18);
                    margin-left: 20px;
                    color: $COL_black;
                    &.qa_name_txt{
                        width: 120px;
                        margin: 0 12px;
                        text-align: center;
                        color: $COL_gs03;
                    }
                }
            }
        }
    }
    // &.type_rank{
    //     margin-top: 20px;
    //     .js_toggle{
    //         span{
    //             color: $COL_secondary1;
    //             @include fontHM(20);
    //             margin-right: 4px;
    //         }
    //     }
    // }
}
// e: 자주묻는 질문

/* S: 공지사항 */
.notice {
    .total_result {
        // margin-bottom:20px;
    }
    .list_notice {
        border-top:1px solid $COL_gs06 ;
        li {				
            padding:16px 20px;
            border-bottom:1px solid $COL_gs06 ;
            a {
                display:flex;
                align-items: center;
                flex-flow: row nowrap;
            }
            &.noti {
                background:$COL_lightsand;
            }
        }
        .title {
            max-width:930px;
            @include Mix_Ellipsis01;
        }
        .icon {
            display: block;
            margin-right:12px;
            font-size:0;
            text-indent:-9999px;
            width: 24px; height: 24px;
            background:url('./../img/icon/icon_ui_urgency02.svg');
        }
        [class^="flag"] {
            margin-left:8px;
        }
        .date {
            margin-left:auto;
            color:$COL_gs04;
        }
    }
    &_detail {
        .top {
            .title {
                @include fontHM(20);
            }
            .date {
                margin-top:8px;
                color:$COL_gs03;
                @include fontH(16);
            }				
        }
        .cont {
            margin-top:24px;
            padding:24px 0;
            border:1px solid $COL_gs06;
            border-width: 1px 0;
        }
        .btn_area {
            margin-top:32px;
        } 
        .post_list {
            margin-top:80px;
            li {
                display: flex;
                align-items: center;
                gap:0 20px;
                padding:0 20px;
                height:56px;
                border-bottom:1px solid $COL_gs06;
                &:first-child {
                    border-top:1px solid $COL_gs06;
                }
                .txt {
                    color:$COL_gs03;
                }
                .tit {
                    flex: 1 1;
                    @include Mix_Ellipsis01;
                    &.disabled {
                        color:$COL_gs03;
                        pointer-events: none;
                    }
                }
                .date {
                    color:$COL_gs04;
                }
            }
        }
    }
}
/* E: 공지사항 */