@charset "utf-8";

@import '../_common/c_function';
@import '../_common/c_mixins';

.main {
    .index_info {
        display: flex;
        column-gap: 20px;
        padding-top: 40px;
        .info {
            flex: 1 1;
            min-height: 100px;
            padding: 24px 0 0 24px;
            position: relative;
            &:after {
                content:'';
                display: block;
                position: absolute;
                top: 26px;
                right: 24px;
                @include Mix_size48;
            }
            .tit {
                @include fontH(15);
                margin-bottom: 7px;
            }
            .count {
                @include fontHM(24);
            }
            &.bid {
                background-color: #E4F4F8;
                &:after {
                    background-position: 0 0;
                }
            }
            &.new {
                background-color: #E4F1F8;
                &:after {
                    background-position: -48px 0;
                }
            }
            &.sucess {
                background-color: #E5ECF6;
                &:after {
                    background-position: -192px 0;
                }
            }
            &.best {
                background-color: #E4EAF0;
                &:after {
                    background-position: -96px 0;
                }
            }
        }
    }
    .plp_wrap {
        display: flex;
        margin-top: 64px;
        .srch_area {
            width: 260px;
            margin-right: 40px;
            .sec_tit {
                margin-bottom: 27px;
            }
            .btn_reset02 {margin-right: 8px}
            .inbox_type_srch {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 3px solid $COL_gs06 !important;
                padding: 7px 37px 7px 13px;
                height: 40px;
                @include fontT(13, 20px);
                > .txt {
                    padding-right: 0;
                    flex: 1 1;
                    z-index: 1;
                }
                &:after {
                    content:'';
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    top: 10px;
                    right: 16px;
                    background: url('/CA/p/img/icon/icon_ui_search03.svg') no-repeat 0 0;
                }
            }
        }
        .detail_model {
            .head {
                @include fontHM(15);
                padding: 16px 0;
            }
            .group {
                padding-bottom: 16px;
                border-bottom: 1px solid $COL_gs06;
            }
            .type_block {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 8px;
                .full {
                    grid-area: 1 / 1 / 2 / 4;
                }
            }
        }
        .plp_area {

        }
    }
}

.type_tree {
    .form_area {
        position: relative;
        margin-top: 8px;
        height: 20px; 
        line-height:20px;
    }
    ul:not(.dep1) {
        .form_area {
            padding-left: 9px;
            &:before {
                content:'';
                display: block;
                width: 11px; height:28px;
                border-left: 1px dashed $COL_gs10;
                border-bottom: 1px dashed $COL_gs10;
                position:absolute;
                left:0;
                top: -18px;
                z-index: -1;
            }
        }
        &.dep2 {
            padding-left: 9px;
        }
        &.dep3, .dep4 {
            padding-left: 19px;
        }
    }
    
}