@charset "utf-8";

@import '../_common/c_function';
@import '../_common/c_mixins';

.members {
    background-color: $COL_gs10;
    padding: 57px 0;
    #CAcontents {
        #layoutWrap {
            padding: 0;
            .container {
                width: 560px;
                background-color: $COL_white;
                padding: 80px 64px;
            }
        }
    }
    .login {
        .hd_logo {
            margin-bottom: 32px;
            text-align: center;
        }
        .greeting {
            margin-bottom: 24px;
            @include fontHM(24);
            text-align: center;
        }
        .login_form_wrap {
            .btn_big {
                min-width: 159px;
                padding: 0 24px;
            }
            .save_id {
                padding: 16px 0;
            }
        }
        .link {
            display: flex;
            column-gap: 24px;
            margin: 24px 0;
        }
    }
}

.line_box {
    border: 1px solid $COL_gs06;
    padding: 40px;
    margin-bottom: 40px;
    .sec_tit {
        margin-bottom: 16px;
    }
    .state_detail + .btn_area {
        margin-top: 32px;
    }
    dl.full {
        width: 100%;
    }
}

// popup
.p_wrap .inner_view {
    &.change_phone {
        min-height: 791px; 
    }
    &.join_member {
        min-height: 791px; 
        .form_list + .form_list {
            margin-top: 16px;
        }
    }
    &.change_info {
        min-height: 629px; 
    }
    .list_step + .step_cont {
        padding-top: 32px;
    }
    .step_cont {
        > .btn_area {
            margin-top: 32px;
        }
        .caution_mark {
            position: absolute;
            right: 32px;
        }
    }
    .sec_tit {
        margin-bottom: 16px;
    }
    .addr_head {
        flex-wrap: wrap;
        .tit {
            width: 100%;
            @include fontHM(16);
            margin-bottom: 8px;
        }
    }
    .address_list {
        .scroll_box {
            padding: 4px 0;
            background-color: $COL_gs08;
        }
        .list_cont {
            max-height: 275px;
            margin: 0; padding: 0;
            .item {
                width: calc(100% - 48px);
                margin-left: 24px;
                padding: 20px 0;
                border-bottom: 1px solid $COL_gs06;
                display: flex;
                column-gap: 8px;
                align-items: center;
                .tit {
                    flex: 1 1;
                    @include fontH(15)
                }
                .name {
                    min-width: 57px;
                    @include fontT(14);
                    color: $COL_gs02;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .inp_info {
        margin-top: 32px;
        .tit{
			width: 100%;
            @include fontHM(16);
            margin-bottom: 16px;
		}
    }
    .agree_terms {
        .item {
            .tit {
                @include fontHM(16);
                margin-bottom: 16px; 
            }
            .scroll_box {
                height: 160px;
                overflow-y: scroll;
                margin-bottom: 8px;
                border: 1px solid $COL_gs06;
                padding: 16px 1px 16px 20px;
            }
            & + .item {
                margin-top: 32px;
            }
        }
        > .form_area {
            margin-top: 32px;
            text-align: center;
        }
    }
}
