// **********************************************************
// color 속성
// **********************************************************
$COL_White : #fff; // BG_Base 
$COL_Black : #000; // Base_04  
$COL_Light : #F7F7F7; // BG_Light
$COL_Light_sand : #F6F3F2; // BG_Light_Sand
$COL_Sand : #E4DCD3; // Hyundai sand
$COL_Gray01 : #F6F6F6; // Line_Light 
$COL_Gray02 : #EDEDED; // Line_Medium
$COL_Gray03 : #DDDDDD; // Line_Dark
$COL_Gray04 : #8F8F8F; // Inactive Icon
$COL_Gray05 : #767676; // Inactive Text,button,text
$COL_Gray06 : #9C9C9C; // Base(Dark)   
$COL_Gray07 : #666666; // Base_02
$COL_Gray08 : #333333; // Base_03
$COL_Blue : #002C5F; // Primary(Hyundai Blue)
$COL_Blue02 : #00AAD2; // Secondary(Active Blue)
$COL_Blue03 : #007FA8; // Blue(Accessibility)
$COL_Skyblue : #AACAE6;  // Sky Blue
$COL_Red : #DB0000; // Red
$COL_Gold : #A36B4F; // Hyundai Gold