
$font: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림,  Arial, Verdana, sans-serif;
$fontH: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림,  Arial, Verdana, sans-serif;

// Common Color 
$COL_white : #fff; // gs09
$COL_black : #000; // gs01
$COL_gs02 : #333333; //Gray Scale
$COL_gs03 : #767676;
$COL_gs04 : #9C9C9C;
$COL_gs05 : #DDDDDD;
$COL_gs06 : #EDEDED;
$COL_gs07 : #F6F6F6;
$COL_gs08 : #F7F7F7;
$COL_gs10 : #CCCCCC;

$COL_hyundaiblue : #002C5F; //Primary
$COL_secondary1 : #00AAD2;
$COL_secondary2 : #A36B4F;
$COL_secondary3 : #AACAE6;
$COL_secondary4 : #007FA8; //Secondary
$COL_error : #DB0000;

$COL_sand : #E4DCD3; // BG
$COL_lightsand : #F6F3F2;

$COL_Orange: #FB6B39; // HiLab
// $COL_Orange_01: #E95E32; 안 씀
$COL_DeepBlue_01: #001F42;
// $COL_Deepblue_02: #00142F; 안 씀
$COL_Skyblue_01: #43D1FF;
// $COL_Purple: #704AFF; 안 씀
// $COL_Lightgreen: #25DA97; 안 씀
// $COL_Lightblue: #AACAE6; 위에 같은 거 있음
// $COL_Lightgray: #D9D9D9; 안 씀