@charset "UTF-8";
/* 
	HILAB 컨텐츠
*/
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
.hilab_tip .hashtag_wrap {
  margin-top: 24px;
}
.hilab_tip .series_wrap {
  margin-top: 25px;
  padding: 32px 0 32px 21px;
  background: #F6F3F2;
}
.hilab_tip .series_wrap .title {
  margin-bottom: 14px;
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.hilab_tip .series_wrap .btn_area {
  margin-top: 24px;
}
.hilab_tip .series_detail .title {
  margin: 60px 0 80px;
  padding: 0 21px;
  font-family: "HynSans_Head-R";
  font-size: 26px;
  line-height: 32px;
}
.hilab_tip .search_list {
  margin: 24px 0 60px;
}
.hilab_tip.series .swiper-wrapper {
  display: block;
}
.hilab_tip.series .swiper-wrapper .swiper-slide {
  width: 100%;
}
.hilab_tip.series .series_wrap {
  margin: 0;
  padding: 24px 15px 30px;
  background: #fff;
}
.hilab_tip.series .list_series li:not(:first-of-type) {
  margin-top: 12px;
}
.hilab_tip.series .list_series .txt_serise {
  left: 25px;
  top: 25px;
}
.hilab_tip.series .list_series .txt_serise .tit {
  font-family: "HynSans_Head-R";
  font-size: 20px;
  line-height: 25px;
}
.hilab_tip.series .list_series .txt_serise .icon {
  margin-top: 12px;
}
.hilab_tip.detail .list_series_detail li a {
  display: flex;
}
.hilab_tip.detail .list_series_detail li a .img_detail {
  width: 120px;
  height: auto;
  margin-right: 16px;
}
.hilab_tip.detail .list_series_detail li a .img_detail img {
  margin: 0;
}
.hilab_tip.detail .list_series_detail li a .img_detail .flag {
  left: 0;
  top: 0;
}
.hilab_tip.detail .list_series_detail li a .info_detail {
  margin-top: 4px;
}
.hilab_tip.detail .list_series_detail li a .info_detail p {
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.hilab_tip.detail .list_series_detail li a .info_detail .date {
  margin-top: 12px;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 15px;
}
.hilab_tip.detail .list_series_detail li:not(:first-of-type) {
  margin-top: 16px;
}

.hashtag_wrap {
  padding: 0 21px;
}
.hashtag_wrap a {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 52px;
  border-bottom: 2px solid #002C5F;
}
.hashtag_wrap a span {
  font-family: "HynSans_Head-R";
  font-size: 24px;
  line-height: 30px;
}
.hashtag_wrap a div {
  flex: 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 8px;
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.hashtag_wrap a div::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../img/bg_layout.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -48px -25px;
}

.list_series .swiper-slide {
  width: 280px;
}
.list_series .img_serise {
  display: block;
  width: 100%;
}
.list_series .img_serise img {
  display: block;
  width: 100%;
}
.list_series .txt_serise {
  position: absolute;
  left: 20px;
  top: 21px;
  color: #fff;
}
.list_series .txt_serise .tit {
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.list_series .txt_serise .icon {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 16px;
}
.list_series .txt_serise .icon::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  background-image: url(./../img/icon_series.png);
  background-size: 14px auto;
  background-repeat: no-repeat;
}

.series_cont .tab_list {
  padding-left: 21px;
}
.series_cont .sorting {
  padding: 4px 21px 12px;
}
.series_cont .sorting ul li:not(:first-of-type) {
  margin-left: 4px;
}

.list_series_detail {
  padding: 0 15px;
}
.list_series_detail li a {
  display: block;
}
.list_series_detail li .img_detail {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.list_series_detail li .img_detail img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.list_series_detail li .img_detail .flag {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 16px;
  top: 13px;
  width: 45px;
  height: 24px;
  color: #fff;
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 12px;
  border-radius: 2px;
  background: #000;
}
.list_series_detail li .info_detail {
  margin-top: 16px;
}
.list_series_detail li .info_detail p {
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.list_series_detail li .info_detail .date {
  display: block;
  margin-top: 4px;
  color: #767676;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 18px;
}
.list_series_detail li:not(:first-of-type) {
  margin-top: 32px;
}

.h_header_search {
  display: flex;
  background-color: #fff;
  height: 53px;
  border-bottom: 1px solid #00AAD2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.6s;
  z-index: 600;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
}
.h_header_search .ic_back::before {
  background-position: -264px -25px;
}
.h_header_search .ic_cart::before {
  background-position: -25px -25px;
}
.h_header_search .ic_alarm::before {
  background-position: 0 -25px;
}
.h_header_search .ic_mic::before {
  background-position: -72px -25px;
}
.h_header_search .ic_filter::before {
  background-position: -96px -25px;
}
.h_header_search .ic_set::before {
  background-position: -120px -25px;
}
.h_header_search .ic_home::before {
  background-position: -192px -25px;
}
.h_header_search .ic_search::before {
  background-position: -48px -25px;
}
.h_header_search .ic_mycar::before {
  background-position: -144px -51px;
}
.h_header_search .ic_close::before {
  background-position: -216px -25px;
}
.h_header_search .ic_logo::before {
  background-position: 0 0;
}
.h_header_search .menu {
  border: 1px solid #DDDDDD;
  color: #000;
}
.h_header_search .menu::before {
  background-position: -115px 0;
}
.h_header_search .ic_back {
  position: fixed;
  top: 13px;
  left: 15px;
  margin-top: 0;
}
.h_header_search .inp_search {
  padding: 0 10px 0 45px;
  flex: 1 1;
  border: none;
}
.h_header_search .inp_search.focus + .util .ic_search {
  display: none;
}
.h_header_search .util {
  position: relative;
}

.inp_search .txt::placeholder {
  color: #767676;
}
.inp_search .ico_delete {
  position: absolute;
  top: 50%;
  right: 85px;
  transform: translateY(-54%);
  display: none;
}

.inp_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  border-bottom: 1px solid #00AAD2;
}
.inp_search::after {
  content: "";
  display: block;
  height: 24px;
  width: 24px;
  margin: 0 auto;
  background-image: url("../img/bg_layout.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -48px -25px;
}
.inp_search .txt {
  flex: 1;
  width: 100%;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 52px;
  background: transparent;
}
.inp_search.delete_on .btn_delete {
  display: block;
}
.inp_search.focus::after, .inp_search.delete_on::after {
  display: none;
}
.inp_search::placeholder {
  color: #767676;
}

.srch_recent {
  height: 100%;
  overflow-y: auto;
  background: #fff;
}
.srch_recent_blank {
  padding-top: 60px;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.srch_recent > .inner {
  padding: 20px 21px 25px;
}
.srch_recent .top {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.srch_recent .top h4.tit {
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_recent .top .txt {
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 18px;
}
.srch_recent .recent_list li {
  border-bottom: 1px solid #EDEDED;
}
.srch_recent .recent_list li a {
  display: block;
  padding: 15px 40px 15px 0;
  position: relative;
}
.srch_recent .recent_list li a .tit {
  font-family: "HynSans_head-R";
  font-size: 13px;
  line-height: 16px;
  color: #333333;
}
.srch_recent .recent_list li a .txt {
  margin-top: 3px;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
  color: #666666;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.srch_recent .recent_list li a .del {
  width: 20px;
  height: 20px;
  font-size: 0;
  position: absolute;
  top: 50%;
  right: -4px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.srch_recent .recent_list li a .del::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg width='11px' height='11px' viewBox='0 0 11px 11px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10L10 1' stroke='%238F8F8F' stroke-width='1.2'/%3E%3Cpath d='M10 10L1 1' stroke='%238F8F8F' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.srch_recent .recent_list.toggle li:nth-child(n+6) {
  display: none;
}
.srch_recent .recent_list.toggle.on li {
  display: block;
}
.srch_recent .recent_list.toggle .btn_more {
  margin: 15px 0;
}

.recent_swiper {
  position: relative;
  overflow: hidden;
  height: auto;
}
.recent_swiper .list {
  align-items: flex-start;
  transition-property: transform, height;
  transform: translate3d(0px, 0, 0);
}
.recent_swiper .list li {
  flex-shrink: 0;
  display: flex;
  flex-flow: wrap;
  gap: 8px 6px;
  height: auto;
}
.recent_swiper .list .btn_txt01 {
  position: absolute;
  top: 2px;
  right: 0;
}
.recent_swiper .list .txt {
  position: absolute;
  top: 2px;
  right: 0;
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 16px;
}
.recent_swiper .list [class^=link_tag0] {
  display: inline-flex;
  align-items: center;
  height: 32px;
}
.recent_swiper .swiper-pagination {
  margin-top: 16px;
}

.srch_auto {
  display: none;
}
.srch_auto ul {
  padding: 0 21px;
}
.srch_auto ul li {
  border-bottom: 1px solid #EDEDED;
}
.srch_auto ul li a {
  display: block;
  padding: 16px 0;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_auto ul li a em {
  color: #002C5F;
}

.search_result {
  margin-top: 60px;
  padding: 0 21px;
}
.search_result .title {
  margin-bottom: 30px;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 22px;
  line-height: 28px;
}
.search_result .title span, .search_result .title em {
  color: #000;
}
.search_result .list_hashtag li {
  height: 39px;
}
.search_result .list_hashtag li a {
  display: flex;
  align-items: center;
  height: 100%;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
}
.search_result .list_hashtag li a .hash {
  margin-right: 4px;
}
.search_result .list_hashtag li a .txt em {
  color: #00AAD2;
}

.HI_tip #HIcontents {
  padding-top: 0;
}
.HI_tip #HIheader {
  transition: transform 0.2s;
}

.content_title {
  position: absolute;
  left: 21px;
  bottom: 50px;
  opacity: 0;
}
.content_title span {
  margin-bottom: 8px;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.content_title .txt {
  margin-top: 8px;
  font-family: "HynSans_Head-R";
  font-size: 30px;
  line-height: 38px;
}

.title_clone {
  opacity: 1;
}
.title_clone_w {
  z-index: 1;
  bottom: -175px;
}
.title_clone_w span, .title_clone_w .txt {
  color: #fff;
}

.content_visual {
  position: relative;
  width: 100%;
  height: 585px;
  padding-bottom: 225px;
}

.content_wrap {
  background: #fff;
}

.content_visual_cover {
  position: fixed;
  left: 0;
  top: 0;
  padding-bottom: 225px;
  z-index: -1;
  width: 100%;
}
.content_visual_cover .content_img_cover {
  position: relative;
  width: 100%;
  height: 360px;
  overflow: hidden;
}
.content_visual_cover .content_img_cover img {
  display: block;
  width: 100%;
}
.content_visual_cover .content_dim {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  width: 100%;
  height: 360px;
  background-color: #000;
  opacity: 0;
}

.content_note .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px 21px 16px;
  border-bottom: 1px solid #EDEDED;
}
.content_note .head .date_box span {
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 18px;
}
.content_note .head .date_box span.date {
  margin-left: 9px;
  color: #767676;
}
.content_note .head .view {
  color: #666666;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 18px;
}
.content_note .head .view em {
  color: #00AAD2;
}
.content_note .cont {
  padding: 0 21px;
}
.content_note .cont .title {
  margin-bottom: 12px;
  font-family: "HynSans_Head-R";
  font-size: 20px;
  line-height: 25px;
}
.content_note .cont .text {
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 16px;
  line-height: 24px;
}
.content_note .cont .text + .text {
  margin-top: 20px;
}

.content_img {
  margin-top: 32px;
  padding: 0 15px;
}
.content_img .img {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}
.content_img .img img {
  display: block;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content_slide {
  margin-top: 8px;
  padding: 0 15px;
}
.content_slide .slide_cont .swiper-pagination {
  margin-top: 20px;
}

.content_editor {
  margin-top: 56px;
  padding: 0 15px;
}
.content_editor .editor_txt {
  padding: 24px 20px;
  background: #F6F3F2;
  color: #333333;
}
.content_editor .editor_txt .tit {
  display: block;
  margin-bottom: 7px;
  color: #00AAD2;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}

.content_toggle {
  margin-top: 56px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}
.content_toggle .list_explain > li.on .item {
  display: block;
}
.content_toggle .list_explain > li:not(:first-of-type) {
  border-top: 1px solid #EDEDED;
}
.content_toggle .list_explain .tit_btn {
  display: flex;
  align-items: center;
  height: 66px;
  padding: 0 21px;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.content_toggle .list_explain .tit_btn::after {
  right: 22px;
}
.content_toggle .list_explain .item {
  display: none;
  padding: 0 21px 24px;
}
.content_toggle .list_explain .item li {
  position: relative;
  padding-left: 8px;
}
.content_toggle .list_explain .item li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 2px;
  height: 2px;
  background: #333333;
}

.content_hashtag {
  margin-top: 32px;
  padding: 0 15px;
}
.content_hashtag li {
  display: inline-block;
  margin-bottom: 8px;
}
.content_hashtag li:not(:last-of-type) {
  margin-right: 4px;
}
.content_hashtag li a {
  display: block;
  height: 32px;
  line-height: 32px;
  max-width: 167px;
  padding: 0 16px;
  border-radius: 16px;
  background: #F7F7F7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666666;
}

.content_data {
  margin-top: 32px;
  padding: 0 15px;
}
.content_data .inner {
  padding: 24px 20px;
  border: 1px solid #DDDDDD;
}
.content_data .title {
  margin-bottom: 11px;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.content_data .item + .item {
  margin-top: 20px;
}
.content_data .item span {
  display: block;
  margin-bottom: 8px;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 16px;
}
.content_data .item ul li {
  position: relative;
  padding-left: 8px;
  color: #666666;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 18px;
}
.content_data .item ul li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 2px;
  height: 2px;
  background: #666666;
}

.content_like {
  margin: 48px 0 32px;
  text-align: center;
}
.content_like .title {
  margin-bottom: 12px;
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.content_like .group_like {
  display: flex;
  justify-content: center;
}
.content_like .group_like .box_like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content_like .group_like .box_like:not(:first-of-type) {
  margin-left: 16px;
}
.content_like .group_like .box_like .chk_wish + label {
  margin: 0 auto;
}
.content_like .group_like .box_like .icon_share {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  font-size: 0;
}
.content_like .group_like .box_like .icon_share::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(./../img/icon_share.png);
  background-size: 24px auto;
  background-repeat: no-repeat;
}
.content_like .group_like .box_like .txt {
  display: block;
  margin-top: 4px;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 16px;
}

.content_news {
  position: relative;
  padding: 42px 15px 56px;
}
.content_news::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #F7F7F7;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.content_news .title {
  margin: 0 0 12px 6px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
}
.content_news .list_news li a {
  display: flex;
}
.content_news .list_news li .img_news {
  width: 120px;
  height: auto;
  margin-right: 16px;
  overflow: hidden;
}
.content_news .list_news li .img_news img {
  display: block;
  width: 100%;
}
.content_news .list_news li .info_news {
  flex: 1 auto;
  position: relative;
  margin-top: 4px;
}
.content_news .list_news li .info_news p {
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.content_news .list_news li .info_news .date {
  display: block;
  margin-top: 12px;
  color: #767676;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 15px;
}
.content_news .list_news li:not(:first-of-type) {
  margin-top: 16px;
}
.content_news .btn_more02 {
  margin-top: 20px;
}
.content_news .btn_small03 {
  margin-top: 24px;
}

.content_page li {
  border-top: 1px solid #EDEDED;
}
.content_page li a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 21px 21px 20px;
}
.content_page li a span {
  flex: 0 0 33px;
  width: 33px;
  margin-right: 15px;
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 16px;
}
.content_page li a p {
  flex: 1 1 auto;
  width: calc(100% - 48px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  padding-right: 25px;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
/*# sourceMappingURL=maps/hi_contents.css.map */
