@charset "UTF-8";
/* 상품상세 */
/* 
	컬러 사용 법!
	color('COL_gs02') // bg white 일 때
	color('COL_gs02' , 'dark") // bg black 일 때
*/
/*************************************************************************************
*                                       폰트                                          *
**************************************************************************************/
/**
	색 또는 크기 가변 ICON
*/
/**
	replace 함수
*/
/**
	Icon Info 01
*/
/* Box Bg */
/* Position */
.plp .key_cont {
  position: absolute;
  top: 103px;
  left: 0;
  color: #fff;
}
.plp .key_cont .page_tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 66px;
  line-height: 1.5;
}
.plp .key_cont .sub_tit {
  margin-top: 2px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.plp .key_cont .navi {
  display: inline-flex;
  margin-top: 36px;
}
.plp .key_cont .navi a {
  display: inline-block;
  width: 100px;
  height: 102px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 50.52%, rgba(255, 255, 255, 0.2) 100%);
  margin-left: 16px;
}
.plp .key_cont .navi a:before {
  margin: 18px auto 8px;
}
.plp .key_cont .navi a.link_01::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -216px -36px;
  background-repeat: no-repeat;
}
.plp .key_cont .navi a.link_02::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -252px -36px;
  background-repeat: no-repeat;
}
.plp .key_cont .navi a.link_03::before {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  background-image: url(../img/icon/icon_info_03.png);
  background-size: 360px 108px;
  background-position: -288px -36px;
  background-repeat: no-repeat;
}
.plp .key_cont .navi a span {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  display: block;
  text-align: center;
}
.plp .key_cont .navi a:first-child {
  margin-left: 0;
}
.plp .key_visual {
  position: relative;
  margin: 0 auto;
  height: 560px;
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
}
.plp .key_visual:after {
  content: "";
  display: block;
  width: 100%;
  height: 345px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0.7;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.plp .key_visual img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plp .total_result {
  padding: 32px 0;
}
.plp .list_more {
  text-align: center;
  padding-top: 32px;
}

.plp_template .unit_list {
  padding-bottom: 32px;
  border-bottom: 1px solid #EDEDED;
}
.plp_template .unit_list .unit_img .on {
  display: none;
}
.plp_template .unit_list .unit_detail {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 40px 32px 40px 40px;
  background-color: #F7F7F7;
  max-height: 144px;
  width: 100%;
}
.plp_template .unit_list .unit_detail .experience_tit {
  flex: 1 1;
}
.plp_template .unit_list .unit_detail .experience_tit button {
  text-align: left;
  pointer-events: visible;
}
.plp_template .unit_list .unit_detail .experience_tit button .txt_btn01 {
  display: block;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
}
.plp_template .unit_list .unit_detail .experience_tit button .txt_btn01::after {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='12px' height='8px' viewBox='0 0 12px 6px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 6 L6 1 L11 6' stroke='%23333333' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
.plp_template .unit_list .unit_detail .experience_tit button .sub_txt {
  padding-top: 8px;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #767676;
}
.plp_template .unit_list .unit_detail .chart {
  width: 860px;
}
.plp_template .unit_list .unit_detail .chart ol {
  display: flex;
  justify-content: space-between;
}
.plp_template .unit_list .unit_detail .chart ol li {
  display: flex;
  align-items: center;
  flex: 1 1;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #767676;
}
.plp_template .unit_list .unit_detail .chart ol li > span {
  flex: 1 1;
  padding-left: 8px;
}
.plp_template .unit_list .unit_detail .chart ol button {
  margin-top: 9px;
}
.plp_template .unit_list .unit_detail .chart .progressBar01 {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
  text-align: center;
}
.plp_template .unit_list .unit_detail .chart .progressBar01 svg {
  width: 68px;
  height: 68px;
  transform: translate(-2px, -2px) rotate(-90deg);
}
.plp_template .unit_list .unit_detail .chart .progressBar01 .text_box {
  color: #000;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}
.plp_template .unit_list .unit_detail .chart .progressBar01 .text_box[class*=img0]:after {
  content: "";
  display: block;
  background: url("../img/icon/bg_plp.png") no-repeat 0 0/100px;
  width: 29px;
  margin-top: 2px;
}
.plp_template .unit_list .unit_detail .chart .progressBar01 .text_box.img01:after {
  background-position: 0 0;
  height: 19px;
}
.plp_template .unit_list .unit_detail .chart .progressBar01 .text_box.img02:after {
  background-position: -30px 0;
  height: 20px;
}
.plp_template .unit_list .unit_detail .chart .progressBar01 .text_box .text {
  width: 45px;
  word-break: keep-all;
}
.plp_template .unit_list .unit_detail .btn_area {
  display: none;
}
.plp_template .unit_list .btn_experience {
  display: none;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  width: 72px;
  margin-left: 16px;
  align-self: stretch;
  pointer-events: visible;
}
.plp_template .unit_list .btn_experience:after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20px' height='12px' viewBox='0 0 20px 10px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10 L10 1 L19 10' stroke='%239C9C9C' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  transition: all 0.3s;
  transform: rotate(-180deg);
}
.plp_template .unit_list .btn_experience.on:after {
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg width='20px' height='12px' viewBox='0 0 20px 10px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 10 L10 1 L19 10' stroke='%23000' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}
.plp_template .unit_deal > li:not(.banner) > a {
  height: 385px;
  transition: all 0.6s;
  overflow: hidden;
}
.plp_template .unit_deal > li:not(.banner) > a .unit_img .on {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.plp_template .unit_deal > li:not(.banner) > a .unit_info {
  transition: all 0.3s;
}
.plp_template .unit_deal .experience_tit {
  display: none;
}
.plp_template .unit_deal .unit_detail {
  padding: 0 20px 20px;
  opacity: 0;
  transition: all 0.3s;
}
.plp_template .unit_deal .unit_detail .chart {
  margin: 16px 0;
}
.plp_template .unit_deal .unit_detail .chart ol {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  border-top: 1px solid #F6F6F6;
  padding-top: 16px;
}
.plp_template .unit_deal .unit_detail .chart ol li {
  display: flex;
  align-items: center;
  width: 50%;
  height: 24px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  color: #767676;
  position: relative;
}
.plp_template .unit_deal .unit_detail .chart ol li > span {
  order: 1;
  padding-left: 28px;
}
.plp_template .unit_deal .unit_detail .chart ol li > span:after {
  content: ":";
  display: inline-block;
  padding: 0 3px;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.plp_template .unit_deal .unit_detail .chart ol li:last-child {
  display: none;
}
.plp_template .unit_deal .unit_detail .chart ol button {
  display: block;
  margin-top: 9px;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01 {
  display: flex;
  align-items: center;
  order: 2;
  height: 24px;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01 svg {
  display: none;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01 .text_box {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #767676;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01[id^=progress_period]:before {
  background-image: url("../img/icon/icon_ui_schedule02.svg");
  background-size: 24px 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01[id^=progress_warranty]:before {
  background-image: url("../img/icon/icon_ui_buy_mypage02.svg");
  background-size: 24px 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01[id^=progress_compare]:before {
  background-image: url("../img/icon/icon_ui_car02.svg");
  background-size: 24px 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.plp_template .unit_deal .unit_detail .chart .progressBar01[id^=progress_history]:before {
  background-image: url("../img/icon/icon_ui_schedule02.svg");
  background-size: 24px 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.plp_template .unit_deal .btn_experience {
  display: none;
}
.plp_template .plp_list:not(.on) .unit_deal > li > a.hover {
  height: 546px;
  box-shadow: 0px 63px 63px rgba(0, 0, 0, 0.09), 0px 16px 34px rgba(0, 0, 0, 0.1);
}
.plp_template .plp_list:not(.on) .unit_deal > li > a.hover .unit_info {
  padding: 0 20px;
}
.plp_template .plp_list:not(.on) .unit_deal > li > a.hover .unit_detail {
  opacity: 1;
  padding: 0 20px 20px;
}
.plp_template .plp_list:not(.on) .unit_deal > li > a:hover .unit_img .on {
  display: block;
}
.plp_template .plp_list:not(.on) .unit_list .btn_experience {
  display: inline-block;
}
.plp_template .plp_list:not(.on) .unit_list .unit_detail {
  display: none;
}

.coach_wrap .coach_cont .step[data-id=step1] .comment {
  top: 390px;
  left: 622px;
}
.coach_wrap .coach_cont .step[data-id=step2] .comment {
  top: 272px;
  left: 767px;
}
.coach_wrap .coach_cont .step[data-id=step3] .comment {
  top: 327px;
  right: 0;
}
.coach_wrap .coach_cont .step[data-id=step4] .comment {
  top: 311px;
  left: 747px;
}

.display .cont_top {
  text-align: center;
}
.display .cont_top .text_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EDEDED;
}
.display .cont_top .text_box .page_tit {
  display: block;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.display .cont_top .text_box .txt {
  margin-top: 8px;
  color: #fff;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}
.display .cont_top .img_box {
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: 240px;
}
.display .cont_top .img_box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.display section {
  margin: 0 auto;
  width: 1180px;
}
.display section.display_corner {
  width: auto;
  height: 480px;
}
.display section > p.tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}
.display section > p.txt {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.display .display_list .cont > ul {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 48px 20px;
}
.display .display_list .cont > ul li .txt_label {
  margin-top: 20px;
  color: #1D8ABC;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.display .display_list .cont > ul li .tit {
  margin-top: 8px;
  height: 60px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: keep-all;
  overflow-wrap: break-word;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.display .display_list .cont > ul li .date {
  margin-top: 8px;
  color: #9C9C9C;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.display .display_list .cont > ul li .box_img {
  width: 100%;
  height: 475px;
  overflow: hidden;
}
.display .display_list .cont > ul li .box_img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.display .display_list .cont > ul li:hover .box_img img {
  transform: scale(105%);
}
.display .display_list .btn_area {
  margin-top: 32px;
}
.display .display_corner {
  position: relative;
  margin-top: 168px;
  padding-left: 50%;
}
.display .display_corner::before {
  content: "";
  position: absolute;
  top: -48px;
  left: 0;
  width: 59.8958%;
  height: 480px;
  background: #000;
}
.display .display_corner .detail_box {
  position: absolute;
  left: 50%;
  transform: translateX(-100%);
  width: 590px;
  padding: 56px 82px 0 0;
  color: #fff;
}
.display .display_corner .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}
.display .display_corner .label {
  display: block;
  margin-top: 24px;
  color: #F6F6F6;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
}
.display .display_corner .name {
  margin-top: 4px;
  width: 320px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.display .display_corner .drive {
  display: flex;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.5);
}
.display .display_corner .drive span {
  position: relative;
  padding-left: 25px;
}
.display .display_corner .drive span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
}
.display .display_corner .drive span:first-child {
  padding-left: 0;
}
.display .display_corner .drive span:first-child::before {
  display: none;
}
.display .display_corner .btn_mid {
  margin-top: 48px;
}
.display .display_corner .slider {
  position: relative;
  overflow: hidden;
  min-width: 780px;
  margin-left: -190px;
  background: #000;
}
.display .display_corner .slider .info_txt {
  position: absolute;
  right: 14px;
  bottom: 20px;
  color: #fff;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.display .display_corner .swiper-slide {
  position: relative;
  width: 780px !important;
  transition: opacity 0.5s;
}
.display .display_corner .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.display .display_corner .swiper-slide-active::before {
  display: none;
}
.display .display_corner .swiper-button-prev {
  left: 0;
}
.display .display_corner .swiper-button-next {
  right: auto;
  left: 740px;
}
.display .display_corner .swiper-pagination01 {
  width: 780px;
  position: absolute;
  bottom: 24px;
  left: 0;
}
.display .showroom {
  margin-top: 120px;
  text-align: center;
}
.display .showroom .center_list {
  width: 1180px;
  margin: 32px auto 0;
}
.display .showroom .center_list .center {
  display: flex;
  margin-top: 40px;
  height: 520px;
}
.display .showroom .center_list .center:first-child {
  margin-top: 0;
}
.display .showroom .center_list .center:nth-child(even) {
  flex-direction: row-reverse;
}
.display .showroom .center_list .center .box_img {
  width: calc(100% - 400px);
}
.display .showroom .center_list .center .box_img img {
  display: block;
  width: 100%;
  height: 100%;
}
.display .showroom .center_list .center .center_info {
  padding: 100px 40px;
  width: 400px;
  background: #F7F7F7;
  text-align: left;
}
.display .showroom .center_list .center .center_info .name {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}
.display .showroom .center_list .center .center_info .desc {
  margin-top: 40px;
  color: #333333;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.display .showroom .center_list .center .center_info .detail {
  margin-top: 16px;
}
.display .showroom .center_list .center .center_info .detail li {
  color: #9C9C9C;
}
.display .showroom .center_list .center .center_info .detail li::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-color: #9C9C9C;
  vertical-align: middle;
}
.display .showroom .center_list .center .center_info .detail li.adress::before {
  -webkit-mask: url("../img/icon/icon_ui_location03.svg") no-repeat;
  mask: url("../img/icon/icon_ui_location03.svg") no-repeat;
}
.display .showroom .center_list .center .center_info .detail li.phone::before {
  -webkit-mask: url("../img/icon/icon_ui_phone03.svg") no-repeat;
  mask: url("../img/icon/icon_ui_icon_ui_phone03.svg") no-repeat;
}
.display .showroom .center_list .center .center_info .btn_big {
  margin-top: 40px;
}
.display .vod {
  margin-top: 108px;
}
.display .vod .tit {
  text-align: center;
}
.display .vod .key_visual {
  margin-top: 32px;
}
.display .coming .btn_area {
  margin-top: 32px;
}
.display .coming_list {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px 20px;
}
.display .coming_list .unit .img_box {
  position: relative;
  height: 386px;
}
.display .coming_list .unit .img_box img {
  display: block;
  width: 100%;
  height: 100%;
}
.display .coming_list .unit .img_box .info_txt {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #fff;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.display .coming_list .unit .data {
  padding: 24px;
  background: #F7F7F7;
}
.display .coming_list .unit .data .name {
  height: 60px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.display .coming_list .unit .data .drive {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.display .coming_list .unit .data .drive span {
  position: relative;
  padding-left: 25px;
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.display .coming_list .unit .data .drive span:first-child {
  padding-left: 0;
}
.display .coming_list .unit .data .drive span:first-child::before {
  display: none;
}
.display .coming_list .unit .data .drive span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 12px;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: #DDDDDD;
}
.display .coming_list .unit .data .btn_area {
  margin-top: 24px;
}
.display .showroom_detail .page_tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
}
.display .showroom_detail .sec_tit {
  margin-top: 40px;
}
.display .showroom_detail .sec_tit .form_area {
  width: 280px;
}
.display .showroom_detail .cont_info {
  margin-top: 20px;
  display: flex;
}
.display .showroom_detail .cont_info .img_box {
  width: 580px;
}
.display .showroom_detail .cont_info .img_box .swiper-slide {
  width: 100%;
  position: relative;
}
.display .showroom_detail .cont_info .img_box .swiper-slide img {
  display: block;
  width: 100%;
}
.display .showroom_detail .cont_info .img_box .swiper-slide .name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 8px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
}
.display .showroom_detail .cont_info .img_box .swiper-pagination01 {
  margin-top: 24px;
}
.display .showroom_detail .cont_info .info_box {
  flex-shrink: 0;
  margin-left: 40px;
  width: 560px;
}
.display .showroom_detail .cont_info .info_box .tit {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.display .showroom_detail .cont_info .info_box .desc {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #767676;
}
.display .showroom_detail .cont_info .info_box .btn_big {
  margin-top: 30px;
}
.display .showroom_detail .total_result {
  margin-top: 80px;
}
.display .showroom_detail .total_result .box_sort .com_select_list {
  left: inherit;
}
.display .showroom_detail .compare_wrap {
  margin-top: 12px;
}
.display .showroom_detail .compare_wrap .unit_list li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.display .showroom_detail .compare_wrap > .btn_area {
  margin-top: 32px;
}

.display_detail .top_area {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.display_detail .top_area .txt_date {
  margin-top: 8px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
}
.display_detail .display_corner {
  margin: 40px auto 0;
  width: 780px;
}
.display_detail .display_corner .bo_img {
  position: relative;
}
.display_detail .display_corner .bo_img img {
  width: 100%;
  height: auto;
}
.display_detail .display_corner .bo_html img {
  width: 100%;
  height: auto;
}
.display_detail .display_corner .bo_video video[poster] {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
.display_detail .display_corner .bo_video .youtube {
  position: relative;
  height: 480px;
}
.display_detail .display_corner .bo_video .block-img {
  width: 100%;
  height: 480px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: #DDDDDD;
}
.display_detail .display_corner .bo_video .block-img .ic-play {
  width: 100%;
  height: 100%;
  background: url(../img/icon/icon_ui_play_vod01.svg) no-repeat center;
  background-size: 42px auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
  opacity: 0.75;
}
.display_detail .display_corner .bo_video .block-img img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.display_detail .display_corner + .btn_area {
  margin-top: 24px;
}
.display_detail .total_result {
  margin-top: 80px;
}
.display_detail .total_result .box_sort .com_select_list {
  left: inherit;
}
.display_detail .compare_wrap {
  margin-top: 12px;
}
.display_detail .compare_wrap .unit_list li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.display_detail .compare_wrap > .btn_area {
  margin-top: 32px;
}

.pop_studio .txt {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.pop_studio .box_map {
  margin-top: 20px;
  border: 1px solid #EDEDED;
}
.pop_studio .box_map img {
  display: block;
  width: 100%;
  height: 100%;
}
.pop_studio .detail {
  margin-top: 20px;
}
.pop_studio .detail li {
  margin-top: 5px;
  color: #767676;
}
.pop_studio .detail li::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-color: #767676;
  vertical-align: middle;
}
.pop_studio .detail li.adress::before {
  -webkit-mask: url("../img/icon/icon_ui_location03.svg") no-repeat;
  mask: url("../img/icon/icon_ui_location03.svg") no-repeat;
}
.pop_studio .detail li.phone::before {
  -webkit-mask: url("../img/icon/icon_ui_phone03.svg") no-repeat;
  mask: url("../img/icon/icon_ui_icon_ui_phone03.svg") no-repeat;
}
.pop_studio .sec_tit {
  margin-top: 40px;
}
.pop_studio .traffic_info {
  margin-top: 16px;
  padding: 24px;
  background: #F7F7F7;
}
.pop_studio .traffic_info .traffic {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #EDEDED;
}
.pop_studio .traffic_info .traffic:first-child {
  padding-top: 0;
  margin-top: 0;
  border-top: none;
}
.pop_studio .traffic_info .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.pop_studio .traffic_info .data {
  margin-top: 8px;
  color: #333333;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
/*# sourceMappingURL=maps/g_display.css.map */
