@charset "UTF-8";
/* 
	컬러 사용 법!
	color('COL_gs02') // bg white 일 때
	color('COL_gs02' , 'dark") // bg black 일 때
*/
/*************************************************************************************
*                                       폰트                                          *
**************************************************************************************/
/**
	색 또는 크기 가변 ICON
*/
/**
	replace 함수
*/
/**
	Icon Info 01
*/
/* Box Bg */
/* Position */
.my {
  /* S: 인덱스 */
  /* S: 회원정보 */
  /* E: 회원정보 */
  /* S: 서비스해지 */
  /* E: 서비스해지 */
  /* S: 포인트내역 */
  /* E: 포인트내역 */
  /* S:프로모션 */
  /* S: 공지사항 */
  /* E: 공지사항 */
  /* S: 보유차량 */
  /* E: 보유차량 */
  /* S: 관심차량 */
  /* E: 관심차량 */
  /* S: 나의리뷰 */
  /* E: 나의리뷰 */
  /* S: 입고알림 */
  /* E: 입고알림 */
}
.my .cont_wrap > .btn_area:last-child {
  margin-top: 32px;
}
.my .page_tit {
  margin-bottom: 24px;
}
.my .no_data {
  margin-top: 40px;
}
.my .bg_box {
  padding: 32px 40px;
  background: #F7F7F7;
}
.my .bg_box .list_data li {
  display: flex;
}
.my .bg_box .list_data li .tit {
  width: 144px;
  color: #767676;
}
.my .bg_box .list_data li .txt {
  color: #333333;
}
.my .bg_box .list_data li + li {
  margin-top: 12px;
}
.my .bg_box .btn_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #EDEDED;
}
.my .bg_box .btn_box .desc {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.my .bg_box .btn_box .btn_small.color02 {
  flex-shrink: 0;
}
.my .total_result {
  padding-bottom: 16px;
  border-bottom: 1px solid #EDEDED;
}
.my .total_result .form_area {
  width: 140px;
}
.my .my_list > div, .my .my_list > li {
  padding: 32px 0;
  border-bottom: 1px solid #EDEDED;
}
.my .my_list > div:first-child, .my .my_list > li:first-child {
  padding-top: 40px;
}
.my .my_list .unit_type {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.my .my_list .top_area {
  position: relative;
}
.my .my_list .top_area .logo {
  display: inline-block;
  width: 30px;
  height: 20px;
}
.my .my_list .top_area .logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.my .my_list .top_area .btn_close {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}
.my .my_list .btn_box {
  position: relative;
  display: flex;
}
.my .my_list .btn_box .btn_small {
  align-self: flex-end;
}
.my .my_list .btn_box .btn_close {
  position: absolute;
  top: 0;
  right: 0;
}
.my .index .data_list {
  display: flex;
}
.my .index .data_list li {
  position: relative;
  flex: 1;
  padding: 11px 0 11px 24px;
  border-left: 1px solid #DDDDDD;
}
.my .index .data_list li.blue .tit {
  display: flex;
  align-items: center;
}
.my .index .data_list li.blue .tit::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background: url("./../img/icon/icon_ui_point01.svg") no-repeat;
}
.my .index .data_list li.blue .num em {
  padding-left: 4px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}
.my .index .data_list li .tooltip {
  position: absolute;
  top: 12px;
  left: 15px;
}
.my .index .data_list li .tit {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.my .index .data_list li .num {
  margin-top: 8px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.my .index .no_data {
  margin: 16px 0 80px;
  background: #F7F7F7;
}
.my .index .cont_box {
  margin-top: 80px;
}
.my .index .cont_box.insert {
  margin-top: 40px;
}
.my .index .cont_box .my_slide {
  margin-top: 12px;
}
.my .index .cont_box .my_slide .swiper-slide {
  display: flex;
  align-items: center;
}
.my .index .cont_box .my_slide .item {
  flex: 1 1;
  width: calc((100% - 20px) / 2);
  padding: 24px;
  background: #F7F7F7;
}
.my .index .cont_box .my_slide .item .box_graph {
  margin-top: 12px;
  background: #fff;
  border: 1px solid #EDEDED;
}
.my .index .cont_box .my_slide .item .box_graph .txt {
  border-bottom: 1px solid #EDEDED;
  text-align: center;
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  line-height: 35px;
}
.my .index .cont_box .my_slide .item .box_graph .graph {
  padding: 16px;
  height: 250px;
}
.my .index .cont_box .my_slide .item .box_graph .graph img {
  height: 100%;
}
.my .index .cont_box .my_slide .item.no_data {
  margin: 0;
  padding: 150px 0;
}
.my .index .cont_box .my_slide [class^=swiper-pagination0] {
  margin-top: 24px;
}
.my .index .cont_box .list .unit_type {
  padding: 32px 0;
  border-bottom: 1px solid #EDEDED;
}
.my .index .cont_box .list .unit_type:first-child {
  margin-top: 16px;
  border-top: 1px solid #EDEDED;
}
.my .index .cont_box .list .unit_info {
  width: 360px;
}
.my .index .cont_box .unit_type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.my .index .cont_box .box_step {
  width: 256px;
}
.my .index .cont_box .box_step .list_step {
  margin-bottom: 16px;
}
.my .index .cont_box .box_step .time {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
}
.my .index .cont_box .box_step .info_txt {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.my .index .cont_box .box_step .date_txt {
  color: #333333;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.my .index .box_service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.my .index .box_service li {
  position: relative;
  width: 400px;
  border: 1px solid #EDEDED;
}
.my .index .box_service li a {
  display: block;
  padding: 32px 0 32px 124px;
}
.my .index .box_service li::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 32px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #767676;
}
.my .index .box_service li:first-child::before {
  -webkit-mask: url("../img/icon/icon_info_01.png") 0 0 no-repeat;
  mask: url("../img/icon/icon_info_01.png") 0 0 no-repeat;
}
.my .index .box_service li:last-child::before {
  -webkit-mask: url("../img/icon/icon_info_01.png") -300px 0 no-repeat;
  mask: url("../img/icon/icon_info_01.png") -300px 0 no-repeat;
}
.my .index .box_service li .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
}
.my .index .box_service li .txt {
  margin-top: 4px;
  color: #9C9C9C;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.my .member .terms {
  margin-top: 80px;
}
.my .member .terms .sec_tit {
  padding-bottom: 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #EDEDED;
}
.my .member .terms ul .switch {
  position: relative;
  display: block;
}
.my .member .terms ul .switch label {
  color: transparent;
  font-size: 0;
  text-indent: -9999px;
}
.my .member .terms ul .switch .desc {
  width: 100%;
  margin-top: 4px;
  color: #9C9C9C;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.my .member .terms ul .switch .toggle_btn01 {
  position: absolute;
  top: 12px;
  right: 0;
}
.my .member .terms ul .switch .caution {
  width: 100%;
  margin-top: 8px;
}
.my .member .terms ul .switch .caution .tit {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.my .member .terms ul .switch .caution .tit + ul {
  margin-top: 8px;
}
.my .member .terms + .btn_box {
  margin-top: 40px;
  line-height: 0;
}
.my .terminate .caution .tit {
  position: relative;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  padding-left: 32px;
}
.my .terminate .caution .tit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  background: url("./../img/icon/icon_ui_info02.svg") center no-repeat;
}
.my .terminate .caution ul {
  margin-top: 16px;
}
.my .terminate .agree {
  margin-top: 24px;
  text-align: center;
}
.my .terminate .agree + .btn_area {
  margin-top: 16px;
}
.my .point .point_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid #DDDDDD;
}
.my .point .point_box .tit {
  position: relative;
  padding-left: 28px;
  color: #767676;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
}
.my .point .point_box .tit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  background: url("./../img/icon/icon_ui_point02.svg") center no-repeat;
}
.my .point .point_box .point {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
}
.my .point .point_box .point em {
  margin-right: 4px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}
.my .point .cont_point {
  margin-top: 80px;
}
.my .point .cont_point .sec_tit {
  padding-bottom: 20px;
  border-bottom: 1px solid #EDEDED;
}
.my .point .point_history li {
  display: flex;
  column-gap: 48px;
  padding: 16px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
}
.my .point .point_history li .point {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.my .point .point_history li.plus .point,
.my .point .point_history li.plus .stat {
  color: #AF6249;
}
.my .point .point_history li .tit {
  width: 332px;
  color: #333333;
  word-break: keep-all;
}
.my .point .point_history li .point {
  width: 120px;
  text-align: right;
}
.my .point .point_history li .date {
  color: #767676;
}
.my .point .btn_area {
  width: 100%;
  margin-top: 32px;
  text-align: center;
}
.my .point .info_box {
  margin-top: 40px;
  padding: 24px;
  background: #F7F7F7;
  text-align: center;
}
.my .point .info_box p {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.my .point .info_box .txt_btn {
  margin-top: 4px;
}
.my .promotion .bg_box {
  margin-top: 16px;
}
.my .promotion .caution {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.my .promotion .item_list {
  margin-top: 40px;
}
.my .promotion .item_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-bottom: 1px solid #EDEDED;
}
.my .promotion .item_list li:first-child {
  padding-top: 0;
}
.my .promotion .item_list li.disabled .tit,
.my .promotion .item_list li.disabled .date,
.my .promotion .item_list li.disabled .time,
.my .promotion .item_list li.disabled .num {
  color: #9C9C9C;
}
.my .promotion .item_list .tit_box {
  margin-right: auto;
}
.my .promotion .item_list .tit_box .flag {
  margin-bottom: 8px;
}
.my .promotion .item_list .tit_box .tit {
  width: 580px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.my .promotion .item_list .tit_box .date {
  display: block;
  margin-top: 8px;
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.my .promotion .item_list .tit_box .time {
  margin-left: 4px;
  color: #CE2D2D;
}
.my .promotion .item_list .tit_box .txt_failure {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.my .promotion .item_list .num {
  display: inline-flex;
  margin-right: 20px;
  align-items: center;
  color: #AF6249;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
}
.my .promotion .item_list .num em {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.my .promotion .item_list + .btn_area {
  margin-top: 32px;
}
.my .promotion_detail .desc {
  margin-top: 24px;
  color: #333333;
}
.my .promotion_detail .bg_box {
  margin-top: 16px;
}
.my .promotion_detail .bg_box dl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EDEDED;
}
.my .promotion_detail .bg_box dl:first-child {
  margin-top: 0;
}
.my .promotion_detail .bg_box dl:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.my .promotion_detail .bg_box dl dt {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}
.my .promotion_detail .bg_box .list_file {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 8px 32px;
  margin-top: 16px;
}
.my .promotion_detail .bg_box .list_file:first-of-type {
  margin-bottom: 40px;
}
.my .promotion_detail .bg_box .list_file li {
  width: calc((100% - 32px) / 2);
}
.my .promotion_detail .bg_box .list_file li .btn_file {
  margin-right: 8px;
}
.my .promotion_detail .btn_area {
  margin-top: 32px;
}
.my .promotion_detail .btn_area + .btn_box {
  margin-top: 40px;
  text-align: right;
}
.my .promotion_detail .caution {
  margin-top: 48px;
}
.my .promotion_detail .caution li:first-child {
  margin-top: 8px;
}
.my .promotion_detail .error_msg {
  position: relative;
  margin-top: 16px;
  padding: 18px 20px 18px 52px;
  background: #F7F7F7;
}
.my .promotion_detail .error_msg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
  background: url("./../img/icon/icon_ui_limited02.svg") no-repeat center;
}
.my .notice .total_result {
  padding-bottom: 20px;
}
.my .notice .list_notice li {
  padding: 16px 20px;
  border-bottom: 1px solid #EDEDED;
}
.my .notice .list_notice li a {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.my .notice .list_notice li.noti {
  background: #F7F7F7;
}
.my .notice .list_notice .title {
  max-width: 580px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.my .notice .list_notice .icon {
  display: block;
  margin-right: 12px;
  font-size: 0;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url("./../img/icon/icon_ui_urgency02.svg");
}
.my .notice .list_notice [class^=flag] {
  margin-left: 8px;
}
.my .notice .list_notice .date {
  margin-left: auto;
  color: #9C9C9C;
}
.my .notice_detail .top .title {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.my .notice_detail .top .date {
  margin-top: 8px;
  color: #767676;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
.my .notice_detail .cont {
  margin-top: 24px;
  padding: 24px 0;
  border: 1px solid #EDEDED;
  border-width: 1px 0;
}
.my .notice_detail .btn_area {
  margin-top: 32px;
}
.my .notice_detail .post_list {
  margin-top: 80px;
}
.my .notice_detail .post_list li {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 20px;
  height: 56px;
  border-bottom: 1px solid #EDEDED;
}
.my .notice_detail .post_list li:first-child {
  border-top: 1px solid #EDEDED;
}
.my .notice_detail .post_list li .txt {
  color: #767676;
}
.my .notice_detail .post_list li .tit {
  width: 611px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.my .notice_detail .post_list li .tit.disabled {
  color: #767676;
  pointer-events: none;
}
.my .notice_detail .post_list li .date {
  color: #9C9C9C;
}
.my_car .my_list .top_area {
  display: flex;
  align-items: center;
}
.my_car .my_list .top_area span {
  margin-left: 8px;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.my_car .my_list .unit_type {
  margin-top: 12px;
}
.my_car .detail .unit_info .name {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
.my_car .detail .drive_box {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 40px;
  margin: 48px auto 0;
  width: 740px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(156, 156, 156, 0.1);
}
.my_car .detail .drive_box .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
.my_car .detail .drive_box .tit.auto {
  position: relative;
  padding-left: 20px;
  color: #AF6249;
}
.my_car .detail .drive_box .tit.auto::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  background: url("./../img/icon/icon_ui_auto03.svg") no-repeat;
}
.my_car .detail .drive_box .form_area {
  flex: 1 0;
  margin-left: 20px;
  max-width: 264px;
}
.my_car .detail .drive_box .btn_area {
  margin-left: 12px;
}
.my_car .car_price {
  display: flex;
  column-gap: 81px;
  margin-top: -60px;
  padding: 100px 40px 40px;
  background: #F7F7F7;
}
.my_car .car_price .price_box {
  position: relative;
  width: 300px;
}
.my_car .car_price .price_box::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 1px;
  height: 213px;
  background: #EDEDED;
}
.my_car .car_price .price_box .price .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
.my_car .car_price .price_box .price .tit:last-child {
  margin-top: 4px;
}
.my_car .car_price .price_box .price .tit em {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  vertical-align: middle;
}
.my_car .car_price .price_box .price .desc {
  margin-top: 12px;
  color: #767676;
  word-break: keep-all;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.my_car .car_price .price_box .price.type_no .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
.my_car .car_price .price_box .data_list {
  margin-top: 16px;
}
.my_car .car_price .price_box .data_list li {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.my_car .car_price .price_box .data_list li .tit {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.my_car .car_price .price_box .data_list li .data {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}
.my_car .car_price .price_box .data_list li .data em {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.my_car .car_price .graph_box {
  flex: 1 1;
}
.my_car .car_price .graph_box img {
  width: 100%;
}
.my .wish .caution {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}
.my .wish .my_list.recently > li {
  padding: 0;
  border: none;
}
.my .wish .my_list.recently .date_box {
  margin-top: 40px;
  font-size: 0;
}
.my .wish .my_list.recently .date_box [class^=flag] {
  margin-right: 8px;
  vertical-align: middle;
}
.my .wish .my_list.recently .date_box span {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
}
.my .wish .my_list.recently .unit_type {
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid #EDEDED;
}
.my .wish .my_list.recently .unit_type:first-child {
  padding-top: 16px;
}
.my .review .my_list .unit_type {
  flex-wrap: wrap;
}
.my .review .my_list + .after > div {
  padding-top: 24px;
}
.my .review .my_list > div:not(.box_review) {
  padding: 24px 0;
}
.my .review .my_list > div:not(.box_review):first-child {
  padding-top: 40px;
}
.my .review .my_list .box_review {
  width: 100%;
  margin-top: 24px;
}
.my .review .my_list .box_review .box_img {
  width: 120px;
  height: 120px;
}
.my .review .my_list .box_acc {
  position: relative;
  align-self: flex-start;
}
.my .review .my_list .box_acc .link {
  position: absolute;
  top: 24px;
  right: 0;
  display: none;
  width: 80px;
  padding: 9px 0;
  border: 1px solid #DDDDDD;
}
.my .review .my_list .box_acc .link button {
  width: 100%;
  color: #333333;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
}
.my .review .my_list .box_acc.on .link {
  display: block;
}
.my .review .my_list .btn_edit {
  width: 24px;
  height: 24px;
  font-size: 0;
  color: transparent;
}
.my .review .my_list .btn_edit::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("./../img/icon/icon_ui_more02_02.svg") no-repeat;
}
.my .review_edit .addphoto_list {
  margin-top: 12px;
}
.my .alram .my_list > li {
  padding: 0;
  border: none;
}
.my .alram .my_list > li:first-child .top_area {
  margin-top: 40px;
}
.my .alram .my_list > li.end .mid_area *, .my .alram .my_list > li.end .top_area .date {
  color: #9C9C9C;
}
.my .alram .my_list > li.end .unit_img {
  opacity: 0.3;
}
.my .alram .my_list .top_area {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.my .alram .my_list .top_area .date {
  margin-right: 8px;
  color: #767676;
}
.my .alram .my_list .top_area + .unit_type {
  padding-top: 16px;
}
.my .alram .my_list .top_area + .unit_type .btn_close {
  top: -20px;
}
.my .alram .my_list .unit_type {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 32px 0;
  border-bottom: 1px solid #EDEDED;
}
.my .alram .my_list .unit_type .btn_box {
  flex-direction: column;
  justify-content: flex-end;
}
.my .alram .my_list .btn_close {
  position: absolute;
  top: 32px;
  right: 0;
}

/* 팝업 */
[class^=popup_] .car_entry .top_area .sub_txt {
  color: #333333;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
}
[class^=popup_] .car_entry .top_area .txt {
  color: #767676;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
[class^=popup_] .car_entry .inp_area {
  margin-top: 24px;
}
[class^=popup_] .car_entry .inp_area .form_area {
  margin-top: 4px;
}
[class^=popup_] .pop_terms .top_area .tit {
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
[class^=popup_] .pop_terms .top_area .date {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
[class^=popup_] .pop_terms .cont {
  margin-top: 24px;
  color: #767676;
}
[class^=popup_] .alram .top_area {
  padding-bottom: 16px;
  border-bottom: 1px solid #EDEDED;
}
[class^=popup_] .alram .top_area .txt {
  word-break: keep-all;
  color: #767676;
}
[class^=popup_] .alram .top_area .tit {
  word-break: keep-all;
  font-family: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}
[class^=popup_] .alram .top_area .caution {
  margin-top: 4px;
}
[class^=popup_] .alram .btn_box {
  margin-top: 16px;
}
[class^=popup_] .alram .btn_box .tit {
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
[class^=popup_] .alram .btn_box .form_area {
  margin-top: 16px;
}
[class^=popup_] .alram .btn_box .caution {
  margin-top: 16px;
}
[class^=popup_] .alram .alram_list > li {
  display: flex;
  align-items: center;
  margin: 32px 0;
}
[class^=popup_] .alram .alram_list > li .tit {
  width: 156px;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
[class^=popup_] .alram .alram_list > li .tit.a_top {
  align-self: flex-start;
}
[class^=popup_] .alram .alram_list > li .item {
  width: calc(100% - 156px);
}
[class^=popup_] .alram .alram_list > li .item.color {
  display: inline-block;
  width: 70px;
  text-align: center;
}
[class^=popup_] .alram .alram_list > li .item.color img {
  display: block;
}
[class^=popup_] .alram .alram_list > li .item.color .txt {
  margin-top: 8px;
  font-family: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
[class^=popup_] .alram .alram_list .caution {
  margin-top: 16px;
}
/*# sourceMappingURL=maps/g_mypage.css.map */
