@charset "UTF-8";
/*************************************************************************************
*                                       폰트                                          *
**************************************************************************************/
/**
	색 또는 크기 가변 ICON
*/
/**
	replace 함수
*/
/**
	Icon Info 01
*/
/* Box Bg */
/* Position */
#CPOwrap {
  height: 100%;
}

#CPOcontents {
  height: calc(100% - 70px);
}
#CPOcontents #layoutWrap.sale .container.bottom::before, #CPOcontents #layoutWrap.sale .container.top::before {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #F6F3F2;
  transition: transform 0.5s ease-in;
}
#CPOcontents #layoutWrap {
  padding: 0;
}
#CPOcontents #layoutWrap.sale .container.top::before {
  transform: translateY(-100%);
}
#CPOcontents #layoutWrap.sale .container.bottom::before {
  transform: translateY(100%);
}
#CPOcontents #layoutWrap.sale .cont_wrap {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
#CPOcontents #layoutWrap.sale .sale_form, #CPOcontents #layoutWrap.sale .sale_info {
  padding: 180px 0 80px;
  min-height: 874px;
  flex: 50% 0 0;
  display: flex;
  flex-direction: column;
}
#CPOcontents #layoutWrap.sale .sale_info .info_box {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.5s ease-out 0.1s;
}
#CPOcontents #layoutWrap.sale .sale_info .greeting {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #767676;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_title {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 56px;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit {
  display: flex;
  flex-wrap: wrap;
  gap: 0 40px;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit li {
  position: relative;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  flex: auto 0 0;
  text-align: center;
  padding: 112px 0 0;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100px;
  height: 100px;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit li:nth-child(1)::before {
  background: url("../img/sale/ico_sale_benefit1.png");
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit li:nth-child(2)::before {
  background: url("../img/sale/ico_sale_benefit2.png");
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit li:nth-child(3)::before {
  background: url("../img/sale/ico_sale_benefit3.png");
}
#CPOcontents #layoutWrap.sale .sale_info .sale_benefit li span {
  display: block;
  font-weight: 500;
  color: #002C5F;
}
#CPOcontents #layoutWrap.sale .sale_info .btn_sale_corp_info {
  display: block;
  width: 480px;
  height: 124px;
  margin: 80px 0 120px;
  border: 1px solid #EDEDED;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
#CPOcontents #layoutWrap.sale .sale_info .btn_sale_corp_info::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background-image: url(../img/icon/icon_info_01.png);
  background-size: 540px 60px;
  background-position: -300px 0;
  background-repeat: no-repeat;
}
#CPOcontents #layoutWrap.sale .sale_info .btn_sale_corp_info::before {
  display: inline-block;
  vertical-align: middle;
}
#CPOcontents #layoutWrap.sale .sale_info .guide_list {
  opacity: 0;
  transition: opacity 0.3s linear;
  margin: auto 0 0;
}
#CPOcontents #layoutWrap.sale .sale_info .guide_list li {
  display: inline;
  margin-right: 32px;
}
#CPOcontents #layoutWrap.sale .sale_info .guide_list button {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-decoration: underline;
  color: #767676;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_question {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_question strong {
  color: #002C5F;
}
#CPOcontents #layoutWrap.sale .sale_info .sale_sub_notice {
  margin: 20px 0 0;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #767676;
}
#CPOcontents #layoutWrap.sale .sale_form {
  padding-left: 110px;
}
#CPOcontents #layoutWrap.sale .sale_form .hello {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  display: block;
  margin: 0 0 16px;
}
#CPOcontents #layoutWrap.sale .sale_form .hello span {
  color: #00AAD2;
}
#CPOcontents #layoutWrap.sale .sale_form .form_notice {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 64px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box {
  margin: 0 0 40px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box.single_item {
  margin: 0 0 20px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item {
  position: relative;
  z-index: 1;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item:first-child {
  margin: 0 0 32px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item:last-child {
  margin: 0;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .label {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  display: block;
  margin: 0 0 36px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .label + .form_input {
  margin-left: 0;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .gas_mileage_notice {
  display: none;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;
  margin: 8px 0 0;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .gas_mileage_notice.completed {
  display: block;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .gas_mileage {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #767676;
  text-decoration: underline;
  margin: 20px 0 0;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .gas_mileage_check {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  padding: 20px 0 0;
  z-index: 10;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_item .gas_mileage_check img {
  display: block;
  margin: 0 0 4px;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_input {
  width: 300px;
  height: 60px;
  margin: 0 16px 0;
  border-bottom: 4px solid #002C5F;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  vertical-align: middle;
  color: #002C5F;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_area {
  display: inline-block;
  width: 300px;
  height: 60px;
  margin: 0 16px 0 0;
  border-bottom: 4px solid #002C5F;
  vertical-align: middle;
}
#CPOcontents #layoutWrap.sale .sale_form .form_box .form_area .com_select_btn {
  background: transparent;
  border: 0;
  padding: 12px 55px 12px 0;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list {
  width: 480px;
  height: 614px;
  overflow: auto;
  padding: 0 20px;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list ul {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 0 0 70px;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list ul li {
  background: #fff;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list ul li .chk_radio:checked + label {
  border: 1px solid #00AAD2;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.12);
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list ul li label {
  padding: 20px 20px 20px 60px;
  display: flex;
  gap: 0 20px;
  align-items: center;
  border: 1px solid transparent;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list ul li label::before {
  top: 68px;
  left: 20px;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .car_thumb_img {
  flex: 120px 0 0;
  height: 120px;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .car_thumb_img img {
  width: 100%;
  height: auto;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .sale_car_spec {
  flex: 1;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .sale_car_spec .car_number {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin: 0 0 8px;
  color: #00AAD2;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .sale_car_spec .car_model_name {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: block;
  margin: 0 0 8px;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .sale_car_spec .car_price {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  display: block;
}
#CPOcontents #layoutWrap.sale .sale_form .sale_car_list .sale_car_spec .car_price b {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
#CPOcontents #layoutWrap.sale .sale_form .motionStep1 {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.5s ease-out 0.8s;
}
#CPOcontents #layoutWrap.sale .sale_form .motionStep2 {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.5s ease-out 1.4s;
}
#CPOcontents #layoutWrap.sale .sale_form .motionStep3 {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.5s ease-out 2s;
}
#CPOcontents #layoutWrap.sale .sale_form .motionStep4 {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.5s ease-out 2.6s;
}
#CPOcontents #layoutWrap.sale .sale_form .motionStep5 {
  opacity: 0;
  transform: translate(0, 80px);
  transition: all 0.5s ease-out 3.2s;
}
#CPOcontents #layoutWrap.sale .btn_next {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 177px;
  text-align: right;
  padding: 70px 0 0;
  background: linear-gradient(180deg, rgba(246, 243, 242, 0) 0%, #F6F3F2 41.51%);
}
#CPOcontents #layoutWrap.sale .btn_next .link_next {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 44%;
  padding: 8px 0;
  opacity: 0;
  transform: translate(-80px, 0);
  transition: all 0.7s ease-out 0.1s;
}
#CPOcontents #layoutWrap.sale .btn_next .link_next::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #000;
}
#CPOcontents #layoutWrap.sale .btn_next.active .link_next::after {
  animation: twingkle 0.35s linear 2 normal none;
}
@keyframes twingkle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#CPOcontents #layoutWrap.sale.on .motionStep5, #CPOcontents #layoutWrap.sale.on .motionStep4, #CPOcontents #layoutWrap.sale.on .motionStep3, #CPOcontents #layoutWrap.sale.on .motionStep2, #CPOcontents #layoutWrap.sale.on .motionStep1, #CPOcontents #layoutWrap.sale.on .info_box, #CPOcontents #layoutWrap.sale .btn_next.active .link_next {
  opacity: 1;
  transform: translate(0, 0);
}
#CPOcontents #layoutWrap.sale.on .container::before {
  transform: translateY(0);
}
#CPOcontents #layoutWrap.sale.on .guide_list {
  opacity: 1;
}
/*# sourceMappingURL=maps/h_sale.css.map */
