@charset "UTF-8";
/*************************************************************************************
*                                       폰트                                          *
**************************************************************************************/
/**
	색 또는 크기 가변 ICON
*/
/**
	replace 함수
*/
/**
	Icon Info 01
*/
/* Box Bg */
/* Position */
.vod .commerce_vod_sec {
  margin-top: 80px;
}
.vod .commerce_vod_sec .form_area {
  width: 120px;
}
.vod .commerce_vod_sec .form_area .com_select_btn {
  color: #000;
  padding-right: 38px;
}
.vod .commerce_vod_sec .form_area .com_select_item {
  padding-right: 38px;
}
.vod .commerce_vod_sec .vod_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 48px;
  margin-top: 12px;
}
.vod .commerce_vod_sec .vod_list li {
  width: 280px;
}
.vod .commerce_vod_sec .vod_list li > button {
  display: block;
}
.vod .commerce_vod_sec .vod_list .vod_thum {
  position: relative;
  width: 100%;
  height: 350px;
}
.vod .commerce_vod_sec .vod_list .vod_thum img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.vod .commerce_vod_sec .vod_list .vod_thum .info--timer {
  position: absolute;
  bottom: 0;
  right: 0;
}
.vod .commerce_vod_sec .vod_list .vod_info {
  margin-top: 12px;
}
.vod .commerce_vod_sec .vod_list .vod_info--date {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #767676;
}
.vod .commerce_vod_sec .vod_list .vod_info--tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 4px;
}
.vod .commerce_vod_sec .vod_list .vod_info--btn {
  display: flex;
  align-items: center;
  margin-top: 12px;
}
.vod .commerce_vod_sec .vod_list .vod_info--btn > button {
  display: flex;
  align-items: center;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;
  margin-right: 12px;
}
.vod .commerce_vod_sec .vod_list .vod_info--btn > button:last-child {
  margin: 0;
}
.vod .commerce_vod_sec .vod_list .vod_info--btn > button::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.vod .commerce_vod_sec .vod_list .vod_info--btn > button.views::before {
  background-image: url(../img/icon/icon_ui_play03.svg);
}
.vod .commerce_vod_sec .vod_list .vod_info--btn > button.like::before {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9781 4.21926L13.9828 4.22817L13.9878 4.23692C14.1253 4.47929 14.2295 4.74085 14.2971 5.014L14.2977 5.01631C14.3697 5.30238 14.404 5.59738 14.3996 5.89322L14.3995 5.89322L14.3996 5.90582C14.403 6.46544 14.2602 7.0146 13.9876 7.49534L13.9839 7.50186L13.9804 7.50846C13.8475 7.75708 13.6788 7.98613 13.4822 8.18568L13.4755 8.19249L13.469 8.19951L8 14.1161L2.53097 8.19951L2.52543 8.19352L2.51973 8.18768C2.32083 7.98391 2.14819 7.75368 2.00649 7.50268C1.87537 7.25658 1.77293 6.99488 1.70153 6.7231C1.63426 6.45566 1.60044 6.17968 1.60044 5.90216H1.6005L1.60037 5.89328C1.596 5.5974 1.63031 5.30237 1.7023 5.01625L1.70233 5.01626L1.70384 5.00997C1.83786 4.45193 2.11989 3.94606 2.51559 3.54858L2.51562 3.54861L2.52063 3.54344C2.81297 3.24266 3.15805 3.00434 3.53624 2.84077C4.29492 2.51991 5.14419 2.51974 5.90296 2.84026C6.25262 2.99347 6.57567 3.20664 6.85835 3.47139L6.88316 3.50213L6.9002 3.52324L6.91907 3.54272L7.56903 4.21372L8 4.65863L8.43096 4.21372L9.08092 3.54272L9.09979 3.52324L9.11683 3.50213L9.14165 3.47139C9.42433 3.20664 9.74737 2.99348 10.097 2.84026C10.8558 2.51974 11.7051 2.51991 12.4638 2.84078C12.842 3.00435 13.187 3.24267 13.4794 3.54344L13.4793 3.5435L13.4862 3.55035C13.6819 3.74529 13.8479 3.97081 13.9781 4.21926Z' stroke='%23767676' stroke-width='1.2' fill='%23' /%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.vod .swiper-button-disabled {
  display: none;
}
.vod .btn_area.col_type {
  margin-top: 32px;
}
/*# sourceMappingURL=maps/h_vod.css.map */
