@charset "UTF-8";
/* Box Bg */
/* Position */
.qa_wrap .flex_box {
  display: flex;
  align-items: center;
}
.qa_wrap .flex_box.align_between {
  justify-content: space-between;
}
.qa_wrap ul.btn_area.flex_box {
  column-gap: 17px;
}
.qa_wrap ul.btn_area.flex_box > li {
  position: relative;
}
.qa_wrap ul.btn_area.flex_box > li button {
  color: #767676;
}
.qa_wrap ul.btn_area.flex_box > li + li::after {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  position: absolute;
  right: calc(100% + 8.5px);
  top: 50%;
  transform: translateY(-50%);
  background-color: #DDDDDD;
}
.qa_wrap .cont {
  border-top: 1px solid #EDEDED;
}
.qa_wrap .cont.on .head .js_toggle::after {
  transform: translateY(-50%) rotate(0deg);
  transition: all 0.5s;
}
.qa_wrap .cont:last-child {
  border-bottom: 1px solid #EDEDED;
}
.qa_wrap .cont .date {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #9C9C9C;
}
.qa_wrap .cont .head .js_toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  text-align: left;
  padding: 20px 0;
}
.qa_wrap .cont .head .js_toggle span {
  display: inline-block;
}
.qa_wrap .cont .head .js_toggle span.txt {
  width: 800px;
}
.qa_wrap .cont .head .js_toggle::after {
  content: "";
  display: block;
  position: absolute;
  right: 24px;
  top: 50%;
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg width='18px' height='11px' viewBox='0 0 18px 9px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9 L9 1 L17 9' stroke='%23000' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.5s;
}
.qa_wrap .cont .head .js_toggle [class^=flag_big] {
  margin-right: 24px;
}
.qa_wrap .cont .group {
  display: none;
}
.qa_wrap .cont .group.on {
  display: block;
}
.qa_wrap .cont .group .gray_box {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  padding: 32px 64px;
  border-top: 1px solid #EDEDED;
  background-color: #F7F7F7;
}
.qa_wrap .cont .group .gray_box a {
  color: #00AAD2;
}
.qa_wrap .cont .group .gray_box a::after {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9942 3.00562L7.00293 9.00535M8.64261 3L12.9999 3L12.9999 7.36344' stroke='%2300AAD2' stroke-width='1.2'/%3E%3Cpath d='M7.49773 3.99194L4 3.99194C3.44772 3.99194 3 4.43966 3 4.99194L3 12C3 12.5523 3.44772 13 4 13L10.9955 13C11.5477 13 11.9955 12.5523 11.9955 12L11.9955 8.49596' stroke='%2300AAD2' stroke-width='1.2'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.qa_wrap .cont .group .gray_box .img_list {
  display: flex;
  column-gap: 12px;
  margin-top: 24px;
}
.qa_wrap .cont .group .gray_box .img_list li {
  width: 141px;
}
.qa_wrap .cont .group .gray_box .img_list li img {
  width: 100%;
}
.qa_wrap .cont .group .gray_box.qna_wrap .mark {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  margin-right: 4px;
}
.qa_wrap .cont .group .gray_box.qna_wrap .txt {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  width: 840px;
}
.qa_wrap .cont .group .gray_box.qna_wrap .question .car_name_wrap {
  margin-top: 24px;
}
.qa_wrap .cont .group .gray_box.qna_wrap .question .car_name_wrap .car_name {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9C9C9C;
}
.qa_wrap .cont .group .gray_box.qna_wrap .answer {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #EDEDED;
}
.qa_wrap .cont .group .gray_box.qna_wrap .answer .mark {
  color: #00AAD2;
}
.qa_wrap .cont .group .gray_box.qna_wrap .answer .flex_box {
  align-items: flex-start;
}
.qa_wrap.type_question {
  margin-top: 40px;
}
.qa_wrap.type_question .head .js_toggle span {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 20px;
  color: #000;
}
.qa_wrap.type_question .head .js_toggle span.qa_name_txt {
  width: 120px;
  margin: 0 12px;
  text-align: center;
  color: #767676;
}

/* S: 공지사항 */
.notice .list_notice {
  border-top: 1px solid #EDEDED;
}
.notice .list_notice li {
  padding: 16px 20px;
  border-bottom: 1px solid #EDEDED;
}
.notice .list_notice li a {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.notice .list_notice li.noti {
  background: #F6F3F2;
}
.notice .list_notice .title {
  max-width: 930px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.notice .list_notice .icon {
  display: block;
  margin-right: 12px;
  font-size: 0;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
  background: url("./../img/icon/icon_ui_urgency02.svg");
}
.notice .list_notice [class^=flag] {
  margin-left: 8px;
}
.notice .list_notice .date {
  margin-left: auto;
  color: #9C9C9C;
}
.notice_detail .top .title {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.notice_detail .top .date {
  margin-top: 8px;
  color: #767676;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.notice_detail .cont {
  margin-top: 24px;
  padding: 24px 0;
  border: 1px solid #EDEDED;
  border-width: 1px 0;
}
.notice_detail .btn_area {
  margin-top: 32px;
}
.notice_detail .post_list {
  margin-top: 80px;
}
.notice_detail .post_list li {
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 20px;
  height: 56px;
  border-bottom: 1px solid #EDEDED;
}
.notice_detail .post_list li:first-child {
  border-top: 1px solid #EDEDED;
}
.notice_detail .post_list li .txt {
  color: #767676;
}
.notice_detail .post_list li .tit {
  flex: 1 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.notice_detail .post_list li .tit.disabled {
  color: #767676;
  pointer-events: none;
}
.notice_detail .post_list li .date {
  color: #9C9C9C;
}

/* E: 공지사항 */
/*# sourceMappingURL=maps/c_customer.css.map */
