@charset "UTF-8";
/* Box Bg */
/* Position */
.index_info {
  display: flex;
  column-gap: 20px;
  padding-top: 40px;
}
.index_info .info {
  flex: 1 1;
  min-height: 100px;
  padding: 24px 0 0 24px;
  position: relative;
}
.index_info .info:after {
  content: "";
  display: block;
  position: absolute;
  top: 26px;
  right: 24px;
  background-image: url("../img/icon/bg_icon48.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  width: 48px;
  height: 48px;
}
.index_info .info .tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 7px;
}
.index_info .info .count {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.index_info .info.bid {
  background-color: #E4F4F8;
}
.index_info .info.bid:after {
  background-position: 0 0;
}
.index_info .info.new {
  background-color: #E4F1F8;
}
.index_info .info.new:after {
  background-position: -48px 0;
}
.index_info .info.sucess {
  background-color: #E5ECF6;
}
.index_info .info.sucess:after {
  background-position: -192px 0;
}
.index_info .info.best {
  background-color: #E4EAF0;
}
.index_info .info.best:after {
  background-position: -96px 0;
}

.plp_wrap {
  display: flex;
  margin-top: 64px;
}

.srch_area {
  width: 260px;
  margin-right: 40px;
}
.srch_area .sec_tit {
  padding-bottom: 27px;
  justify-content: flex-start;
}
.srch_area .btn_reset02 {
  margin-left: 8px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #767676;
  vertical-align: middle;
}
.srch_area .btn_reset02::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #767676;
  -webkit-mask: url("../img/icon/icon_ui_reload03.svg") no-repeat center;
  mask: url("../img/icon/icon_ui_reload03.svg") no-repeat center;
  vertical-align: middle;
  margin-right: 2px;
}
.srch_area .detail_model .head {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  padding: 16px 0;
  position: relative;
  width: 100%;
  text-align: left;
  border-top: 1px solid #DDDDDD;
}
.srch_area .detail_model .head::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #000;
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}
.srch_area .detail_model .head::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: #000;
  position: absolute;
  right: 7px;
  top: 20px;
  transition: all 0.3s;
}
.srch_area .detail_model .cont:last-child {
  border-bottom: 1px solid #DDDDDD;
}
.srch_area .detail_model .cont.on .head::after {
  rotate: 90deg;
}
.srch_area .detail_model .group {
  padding-bottom: 16px;
}
.srch_area .detail_model .type_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
}
.srch_area .detail_model .type_block .full {
  grid-area: 1/1/2/4;
}
.srch_area .detail_model .type_tree:last-child {
  border-top: 1px solid #EDEDED;
  padding-top: 16px;
  margin-top: 16px;
}
.srch_area .detail_model .type_tree .group_tit {
  display: flex;
  justify-content: space-between;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 6px;
  padding-right: 13px;
}
.srch_area .detail_model .type_tree .form_area {
  position: relative;
  line-height: 20px;
  font-size: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.srch_area .detail_model .type_tree .form_area .count {
  display: inline-block;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
}
.srch_area .detail_model .type_tree .scroll_area {
  max-height: 272px;
  overflow-y: scroll;
}
.srch_area .detail_model .type_tree .tree_list li {
  padding-top: 8px;
}
.srch_area .detail_model .type_tree .tree_list li.on > .depth {
  display: block;
}
.srch_area .detail_model .type_tree .tree_list li .depth {
  display: none;
}
.srch_area .detail_model .type_tree .tree_list li .depth li {
  padding-left: 20px;
}
.srch_area .detail_model .type_tree .tree_list li .depth:not(.sub) {
  padding-bottom: 8px;
}
.srch_area .inbox_type_srch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #767676 !important;
  padding: 7px 37px 7px 16px;
  margin-top: 56px;
  height: 48px;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}
.srch_area .inbox_type_srch > .txt {
  padding-right: 0;
  flex: 1 1;
  z-index: 1;
}
.srch_area .inbox_type_srch .btn_delete {
  margin: 0 8px;
}
.srch_area .inbox_type_srch .btn_search {
  text-indent: -10000px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 12px;
  right: 16px;
  background: url("/CA/p/img/icon/icon_ui_search02.svg") no-repeat 0 0;
}

.plp_area {
  flex: 1 1;
}
.plp_area .total_result {
  margin-bottom: 24px;
}
.plp_area .total_result .all {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}
.plp_area .total_result .com_select {
  width: 150px;
}
.plp_area .srch_result {
  margin-bottom: 40px;
}
.plp_area .srch_result .list_word {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.plp_area .srch_result .list_word li {
  display: inline-flex;
  position: relative;
  padding: 4px 36px 4px 16px;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  color: #333333;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.plp_area .srch_result .list_word li button {
  display: inline-flex;
  position: absolute;
  right: 16px;
  top: 7px;
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3.00006L12.9999 13.0001' stroke='%239C9C9C' stroke-width='1.2'/%3E%3Cpath d='M3 12.9999L13 3' stroke='%239C9C9C' stroke-width='1.2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.plp_area .plp_list {
  display: flex;
  gap: 40px 20px;
  flex-wrap: wrap;
  padding-bottom: 56px;
  border-bottom: 1px solid #EDEDED;
}
.plp_area .plp_list .item {
  flex: 0 calc((100% - 40px) / 3);
}

.goods_detail .detail_top_area {
  width: 100%;
  height: 480px;
  background-color: #F6F6F6;
  padding: 40px 0;
  margin-bottom: 64px;
}
.goods_detail .detail_top_area .inner_wrap {
  width: 1180px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.goods_detail .detail_top_area .pdp_sum {
  width: 380px;
  padding: 24px 24px 24px 44px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.goods_detail .detail_top_area .pdp_sum .car_num {
  color: #767676;
  padding-bottom: 4px;
}
.goods_detail .detail_top_area .pdp_sum .page_tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  padding: 0 0 8px;
  text-align: left;
}
.goods_detail .detail_top_area .pdp_sum .drive {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}
.goods_detail .detail_top_area .pdp_sum .drive span:after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 2px;
  margin: 0 4px;
  vertical-align: middle;
  background-color: #000;
}
.goods_detail .detail_top_area .pdp_sum .drive span:last-child:after {
  display: none;
}
.goods_detail .detail_top_area .pdp_sum .state {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.goods_detail .detail_top_area .pdp_sum .state .tit {
  width: 74px;
}
.goods_detail .detail_top_area .pdp_sum .state .info:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  margin: 0 8px;
  vertical-align: middle;
  background-color: #DDDDDD;
}
.goods_detail .detail_top_area .pdp_sum .timer {
  height: 30px;
  border: 1px solid #00AAD2;
  margin-top: 24px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
}
.goods_detail .detail_top_area .pdp_sum .timer span {
  color: #00AAD2;
}
.goods_detail .detail_top_area .pdp_sum .price {
  display: flex;
  margin-top: 8px;
}
.goods_detail .detail_top_area .pdp_sum .price > * {
  width: 50%;
  min-width: auto;
}
.goods_detail .detail_top_area .pdp_sum .price .inbox_type01 {
  height: 56px;
}
.goods_detail .detail_top_area .pdp_sum .price .inbox_type01 input.txt {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.goods_detail .detail_top_area .pdp_sum .price .inbox_type01 em {
  padding-left: 2px;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18pxpx;
  line-height: 1.5;
}

.pdp_usp_img {
  display: flex;
  background: #333333;
}
.pdp_usp_img .usp_main {
  width: 600px;
  position: relative;
  flex: 1;
}
.pdp_usp_img .usp_main .usp_main_img,
.pdp_usp_img .usp_main img {
  width: 100%;
  height: 100%;
}
.pdp_usp_img .usp_main .btn_full_screen {
  position: absolute;
  z-index: 3;
  right: 20px;
  bottom: 20px;
}
.pdp_usp_img .usp_main .btn_full_screen button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0;
}
.pdp_usp_img .usp_main .btn_full_screen button:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/icon/icon_expansion.svg") no-repeat 0 0;
}
.pdp_usp_img .gallery_navi {
  position: absolute;
  z-index: 2;
  right: 84px;
  bottom: 20px;
  display: flex;
  gap: 4px;
}
.full .pdp_usp_img .gallery_navi {
  right: 20px;
}
.pdp_usp_img .gallery_navi .btn_nav {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 0;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='18px' height='11px' viewBox='0 0 18px 9px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9 L9 1 L17 9' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  transform: rotate(90deg);
}
.pdp_usp_img .gallery_navi .btn_nav_prev {
  transform: rotate(-90deg);
}
.pdp_usp_img .gallery_paging {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  width: 84px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9C9C9C;
}
.pdp_usp_img .gallery_paging .current {
  color: #fff;
}
.pdp_usp_img .usp_list {
  position: relative;
  width: 200px;
}
.pdp_usp_img .usp_list .thumb_tit {
  display: none;
}
.pdp_usp_img .usp_list .close_usp {
  position: absolute;
  top: 50%;
  left: 0;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 0;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg width='18px' height='11px' viewBox='0 0 18px 9px' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 9 L9 1 L17 9' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  transform: rotate(90deg);
}
.pdp_usp_img .items {
  padding: 18px 0 18px 18px;
  height: 100%;
  font-size: 0;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.pdp_usp_img .item {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 60px;
  overflow: hidden;
  vertical-align: top;
}
.pdp_usp_img .item img {
  width: 100%;
  height: 100%;
}
.pdp_usp_img .item:after {
  content: "";
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.3) url("../img/icon/icon_chk01_check.svg") no-repeat 50% 50%/24px;
}
.pdp_usp_img .item.isSelected:after {
  display: block;
}

.p_wrap .pdp_usp_img {
  flex-direction: column;
}
.p_wrap .pdp_usp_img .usp_list {
  order: 2;
  width: 100%;
}
.p_wrap .pdp_usp_img .usp_list .thumb_tit {
  display: block;
  text-align: center;
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.p_wrap .pdp_usp_img .usp_list .items {
  padding: 16px 0 0 0;
  gap: 8px;
}
.p_wrap .pdp_usp_img .usp_list .items .item {
  width: 76px;
  height: 51px;
}
.p_wrap .pdp_usp_img .usp_list .items .item:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 76px;
  height: 51px;
  background: none;
  border: 4px solid #00AAD2;
  border-radius: 0;
  margin: 0;
}
.p_wrap .pdp_usp_img .usp_list .items .item.isSelected:after {
  display: block;
}
.p_wrap .pdp_usp_img .usp_main {
  order: 1;
  flex: none;
  width: 916px;
  height: 610px;
  overflow: hidden;
  position: relative;
  background-color: #222;
  margin-bottom: 16px;
}
.p_wrap .pdp_usp_img .usp_main img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  min-width: auto;
  min-height: auto;
  object-fit: contain;
}
.p_wrap .pdp_usp_img .gallery_navi {
  right: 20px;
}
.p_wrap .pdp_usp_img .gallery_paging {
  display: none;
}
.p_wrap .pdp_usp_img .btn_full_screen {
  display: none;
}

.pdp_detail .sec_tit {
  margin: 40px 0 16px;
}
.pdp_detail .sec_tit.type2 {
  color: #002C5F;
  justify-content: flex-start;
}
.pdp_detail .sec_tit.type2:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #002C5F;
  -webkit-mask: url("../img/icon/icon_ui_requisite02.svg") no-repeat;
  mask: url("../img/icon/icon_ui_requisite02.svg") no-repeat;
  margin-right: 4px;
}
.pdp_detail .cont_box {
  border: 24px solid #F7F7F7;
  background-color: #fff;
  padding: 32px;
}
.pdp_detail .cont_box .drive_info {
  display: flex;
  column-gap: 24px;
  margin-bottom: 24px;
}
.pdp_detail .cont_box .drive_info li {
  flex: 1 1;
  text-align: center;
}
.pdp_detail .cont_box .drive_info .tit {
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #767676;
}
.pdp_detail .cont_box .drive_info .info {
  font-weight: 500;
}
.pdp_detail .cont_box .table .btn_tbl {
  margin-left: 16px;
}
.pdp_detail .help_cont {
  background-color: #F7F7F7;
  padding: 40px;
}
.pdp_detail .help_cont ul {
  display: flex;
  column-gap: 16px;
}
.pdp_detail .help_cont ul li {
  flex: 1 1;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #333333;
  text-align: center;
}
.pdp_detail .help_cont ul li:before {
  content: "";
  display: block;
  margin: 0 auto;
  background-image: url("../img/icon/bg_icon48.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  width: 48px;
  height: 48px;
  margin-bottom: 4px;
}
.pdp_detail .help_cont ul li.help1:before {
  background-position: 0 -48px;
}
.pdp_detail .help_cont ul li.help2:before {
  background-position: -48px -48px;
}
.pdp_detail .help_cont ul li.help3:before {
  background-position: -96px -48px;
}
.pdp_detail .help_cont ul li.help4:before {
  background-position: -144px -48px;
}
.pdp_detail .help_cont ul li.help5:before {
  background-position: -192px -48px;
}
.pdp_detail .help_cont ul li .name {
  color: #00AAD2;
}

.insure_summary {
  display: flex;
  column-gap: 8px;
}
.insure_summary li {
  flex: 1 1;
  background-color: #F6F6F6;
  padding: 24px 0 24px 24px;
}
.insure_summary li .tit {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 8px;
}
.insure_summary li .count {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
}

.detail_insure .cont_history {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  padding: 20px 0;
  margin-bottom: 12px;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
}
.detail_insure .cont_history dd {
  margin-left: 8px;
  font-weight: 500;
  color: #00AAD2;
}
.detail_insure .list_history {
  margin: 16px 0;
  border-bottom: 1px solid #EDEDED;
}
.detail_insure .list_history > li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 16px 0;
  border-top: 1px solid #EDEDED;
}
.detail_insure .list_history .date {
  width: 100%;
  margin: 0 0 8px;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}
.detail_insure .list_history .box {
  flex: 1;
  padding: 15px 16px 17px;
  background: #F7F7F7;
}
.detail_insure .list_history .box ~ .box {
  margin-left: 16px;
}
.detail_insure .list_history .txt {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: #333333;
}
.detail_insure .list_history .txt em {
  font-weight: 500;
  color: #00AAD2;
}
.detail_insure .list_history .cont {
  margin-top: 10px;
  padding: 16px;
  background: #fff;
}
.detail_insure .list_history .cont li {
  display: flex;
  justify-content: space-between;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;
}
.detail_insure .list_history .cont li ~ li {
  margin-top: 8px;
}
.detail_insure .list_history .cont .total {
  margin-top: 12px;
  padding-top: 12px;
  font-weight: 500;
  border-top: 1px dashed #ddd;
  color: #333333;
}
.detail_insure .list_history .cont .total span:last-child {
  font-family: HynSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
.detail_insure .list_history .cont .total span:last-child em {
  font-weight: 500;
}
.detail_insure .list_history .cont .info {
  margin-top: 12px;
  font-family: HynSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #767676;
}
/*# sourceMappingURL=maps/c_goods.css.map */
