/* 기본 버튼 */
.btn_area {
	&.col_type {
		display:flex;
		column-gap: 8px;
		align-items: center;
		justify-content: center;
	}
    &.row_type {
		width: auto;
        display:inline-flex;
        row-gap:8px; 
        flex-direction: column;
    }
    &.full_type {
		width: 100%;
        display:flex;
        column-gap:8px; 
        [class^="btn_"] {
            width:100%;
        }
    }
}
button, a {
	&[class^="btn_"] {
		position:relative;	
		text-align: center;
		&.color01 {
			@include Mix_Box_Bg01;
			&:hover {
				background:color('COL_gs02');
				&::after {
					display: block;
				}
				&:active {
					@include Mix_Box_Bg01;
				}
			}
			&:disabled,
			&.disabled{
				background:color('COL_gs05');
				pointer-events: none;
			}
			&.ico_add {
				&::before {
					@include Icon_add($COL_white,'16px');
				}        
			}
			&.ico_arr {
				&::after {
					@include Icon_arrow($COL_white);
				}
			}
			.bg_dark & {
				border:1px solid $COL_white;
				background:transparent;
				color:$COL_white;
				&:hover {
					background:$COL_white;
					border:none;
					color:$COL_black;
					&:active {
						border:1px solid $COL_white;
						background:transparent;
						color:$COL_white;
					}
				}
				&:disabled,
				&.disabled{
					background:color('COL_gs05' , 'dark');
					border:none;
					pointer-events: none;
				}
			} 		
		}
		&.color02 { 
			@include Mix_Box_Bg02;
			&:hover {
				background:linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #FFFFFF;
				&:active {
					@include Mix_Box_Bg02;
				}
			}
			&:disabled,
			&.disabled{
				color:color('COL_gs10'); 
				pointer-events: none;
				&.ico_add {
					&::before {
						@include Icon_add(color('COL_gs10'),'16px');
					}            
				}
				&.ico_arr {
					&::after {
						@include Icon_arrow(color('COL_gs10'));
					}
				}
				
			}
			&.ico_add {
				&::before {
					@include Icon_add($COL_black, '16px');
				}        
			}
			&.ico_arr {
				&::after {
					@include Icon_arrow($COL_black);            
				}
			}
			&.ico_down {
				&::after {					
					background:url('./../img/icon/icon_ui_download03.svg') no-repeat;
				}
			}
			.bg_dark & {
				@include Mix_Box_Bg01;
				border:1px solid $COL_white;
				&:hover {
					border:none;
					background:$COL_white;
					color:$COL_black;
					&:active {
						@include Mix_Box_Bg01;
						border:1px solid $COL_white;
					}
				}
				&.disabled,
				&:disabled {
					background:color('COL_gs06', 'dark');
					border:none;
					color:$COL_white;
				}
			}
		}
		&.color03 {
			background:$COL_white;
			border:1px solid $COL_black;
			color:$COL_black;
			&:hover {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #FFFFFF;
				&:active {
					background:$COL_white;
					border:1px solid $COL_black;
					color:$COL_black;
				}
			}
			&:disabled,
			&.disabled{
				color:color('COL_gs10');
				pointer-events: none;
				border-color:color('COL_gs10');				
				&.ico_add {
					&::before {
						@include Icon_add(color('COL_gs10'),'16px');
					}            
				}
				&.ico_arr {
					&::after {
						@include Icon_arrow(color('COL_gs10'));
					}
				}
				
			}
			
			&.ico_add {
				&::before {
					@include Icon_add($COL_black, '16px');
				}        
			}
			&.ico_arr {
				&::after {
					@include Icon_arrow($COL_black);            
				}
			}
			&.ico_bell {
				&::before {
					background-color:$COL_black;
				}				
			}	
			.bg_dark & {
				background:$COL_white;
				border:1px solid $COL_white;
				color:$COL_black;
				&:hover {
					border:1px solid $COL_white;
					background:$COL_black;
					color:$COL_white;
					&:active {
						background:$COL_white;
						border:1px solid $COL_white;
						color:$COL_black;
					}
				}
				&.disabled,
				&:disabled {
					background:color('COL_gs06', 'dark');
					border:none;
					color:$COL_white; 
				}
			}
		}
	
		/* 기본 버튼 + 아이콘 */
		&[class*="ico_"] {
			display:inline-flex;
			align-items: center;
			justify-content: center;
			&.btn_large,
			&.btn_mid {
				gap:0 2px;
			}
			&.btn_big {
				gap:0 4px;
			}
		}
		&.ico_add {
			&::before {
				content:'';
				display:inline-block;
				width: 16px;
				height: 16px;
			}
		}
		&.ico_arr {
			&::after {
				content:'';
				display:inline-block;
				width: 16px;
				height: 16px;
				transform: rotate(90deg);
			}
		}
		&.ico_down {
			&::after {
			   content:'';
			   display:inline-block;
			   width: 16px;
			   height: 16px;
			}
	   }
	   &.ico_bell {
			&:disabled{
				&::before {
					background-color:color('COL_gs10');
				}
			}
			&::before {
				content:'';
				width: 16px; height: 16px;
				-webkit-mask: url('../img/icon/icon_ui_bell03.svg') no-repeat;
				mask: url('../img/icon/icon_ui_bell03.svg') no-repeat ;
			}
		}	
	}
}
.btn_big {   
	display: inline-block;
	padding:0 32px;
	min-width:280px;
	height:56px;
    @include fontHM(18,56px) ;
	&.color02 {
		line-height:54px;
	}
}
.btn_mid {
	display: inline-block;
	padding:0 24px;
	min-width:200px;
	height:48px;
    @include fontHM(16,48px);
	&.color02 {
		line-height:46px;
	}
}
.btn_small {
	display: inline-block;
    padding:0 24px;
    min-width:86px;
	height:40px;
    @include fontHM(15,40px);	
	&.color02 {
		line-height:38px;
	}
}
.btn_xsmall {
	display: inline-block;
    display:inline-block;
    padding:0 16px;
    min-width:64px;
	height:32px;
    text-align: center;
    @include fontHM(13,32px) ;
	&.color02 {
		line-height:30px;
	}
}

/* 텍스트 버튼 */
[class^="txt_btn"] {
    display:inline-block;
    color:$COL_black;
    transition:all 0.3s;
	&::after,
	&::before {
		transition:all 0.3s;
	}
    &.s_mid {
        @include fontHM(15) ; 
    }
    &.s_large {
        @include fontHM(16) ;
    }
    &.s_small {
        @include fontHM(13) ;
    }
    &:disabled,
    &.disabled {
        pointer-events: none;
        color:color('COL_gs04');
    }
	&.c_wht{
		color: $COL_white;
		&::after {
            @include Icon_arrow($COL_white);
        }		
	}
	&.c_gs03 {
		color:color('COL_gs03');
		&::after {
			@include Icon_arrow(color('COL_gs03'));
		}
	}	
	&.c_point02 {
		color:color('COL_secondary2');
		&::after {
			@include Icon_arrow(color('COL_secondary2'));
		}
	}

	/* 텍스트버튼 + 아이콘 */
	&.icon_link {
		display: inline-flex;
		align-items: center;
		&::after {
			content:'';
			display:inline-block;
			@include Icon_out_link($COL_black);
		}
		&:disabled,
		&.disabled {
			pointer-events: none;			
			&::after {
				@include Icon_out_link(color('COL_gs04'));
			}
		}		
	}

	&.icon_dowm {
		display: inline-flex;
		align-items: center;
		&::after {
			content:'';
			display:inline-block;
			width: 16px;
			height: 16px;
			background:url('./../img/icon/icon_ui_download03.svg') no-repeat;
		}
	}
}
.txt_btn01 {
    display:inline-flex;
    align-items: center;
    &::after {
        content:'';
        display:inline-block;
        // width: 16px;
        // height: 16px;
        @include Icon_arrow($COL_black);
        transform: rotate(90deg);
    }
    &:disabled,
    &.disabled {
        &::after {
            @include Icon_arrow(color('COL_gs04'));
        }
    }
}

.txt_btn02 {
    display:inline-flex;
    align-items: center;
    &::after {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px; 
        @include Icon_arrow($COL_black);
    }
    &:disabled,
    &.disabled{
        &::after {
            @include Icon_arrow(color('COL_gs04'));
        } 
    }
}

.txt_btn03 {
    text-decoration:underline;	
	text-underline-offset:3px;
}

/* 아이콘 + 버튼 */ 
.btn_more {
	display:inline-flex;
	align-items: center;
	gap: 0 4px;
	&::after {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px; 
		transform:rotate(180deg);
        @include Icon_arrow($COL_black);
    }
}
.btn_reset {
	width:56px ;
	height:56px;
	background: {
		image:url('./../img/icon/icon_ui_reload02.svg');
		color:$COL_white;
		position:center;
		repeat:no-repeat;
	};
	border:1px solid color('COL_gs05');
	font-size:0;
}
.btn_reset02 {
	display:inline-flex;
	align-items: center;
	gap: 0 2px;
	@include fontH(16);
	&::before {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px;
        background:url('./../img/icon/icon_ui_reload03.svg');
    }
}
.btn_top {
	display:inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0 2px;
	width: 64px;
	height:28px;
	background:rgba($COL_black,.5);
	color:$COL_white;
	&::before {
		content:'';
        display:inline-block;
        width: 16px;
        height: 16px; 
        @include Icon_arrow($COL_white);
	}
}
.btn_img_show {
	display:inline-flex;
	align-items: center;
	justify-content: center;
	column-gap:4px;
	width:102px; height:36px;
	background:rgba($COL_black, .4);
	color:$COL_white;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	@include fontHM(13) ;
	&::before {
		content:'';
		display: inline-block;
		width: 16px;
		height: 16px;
		background: {
			image:url('./../img/icon/icon_ui_photo03_02.svg');
			position:center;
			repeat:no-repeat;
		};	
	}
}
.btn_floating {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color:$COL_black;
	background-position:center;
	background-repeat: no-repeat;
	font-size:0;
	text-indent:-9999px;
	&.chatbot {
		background-image:url('./../img/icon/icon_chatbot.svg');
	}
}
.btn_sort {
	@include Pos($p:relative);
	padding-left:22px;
	&::before {
		content: '';
		@include Pos($p:absolute,$l:0,$t:50%);
		margin-top:-8px;
		width: 16px; height: 16px;
		background : {
			image:url('./../img/icon/icon_ui_sorting03.svg');
			position: center;
			repeat:no-repeat;
		}
	}	
}
.btn_deal {
	width: 24px; height: 24px;
	font-size:0;
	text-indent:-9999px;
	background: {
		image:url('./../img/icon/icon_ui_view_selected02.svg');
		position:center;
		repeat:no-repeat;
	}
}
.btn_thumb {
	width: 24px; height: 24px;
	font-size:0;
	text-indent:-9999px;
	background: {
		image:url('./../img/icon/icon_ui_view_default02.svg');
		position:center;
		repeat:no-repeat;
	}
}
.btn_filter {
	width: 24px; height: 24px;
	font-size:0;
	text-indent:-9999px;
	background: {
		image:url('./../img/icon/icon_ui_filter02.svg');
		position:center;
		repeat:no-repeat;
	}
}
.btn_file {
	@include Pos($p:relative);
	padding-left:32px;
	width: 315px;
	@include fontT(14);
	@include Mix_Ellipsis01;
	color:color('COL_gs02');
	&::before {
		content: '';
		@include Pos($p:absolute,$l:0,$t:50%);
		margin-top:-12px;
		width: 24px;
		height: 24px;
		background: {
			image:url('./../img/icon/icon_ui_file02.svg');
			position: center;
			repeat:no-repeat;
		}	
	}
}
.btn_close {	
	font-size:0;
	color:transparent;
	&::before {
		content:'';
		display: inline-block;
	}
	&.s_16 {
		width: 16px; height: 16px;
		&::before {
			width: 16px; height: 16px;
			@include Icon_close($COL_black,'16px');
		}
	}
	&.s_24 {
		width: 24px; height: 24px;
		&::before {
			width: 24px; height: 24px;
			@include Icon_close($COL_black,'24px');
		}
	}
}

/* Text Flag */
[class^="flag"] {
	display:inline-block;
	&[class*="ico_"] {
		display:inline-flex;
		column-gap:3px;
		justify-content: center;	
		align-items: center;
	}
	&.ico_video {
		&::after {
			content:'';
			display:inline-block;
			width: 10px;
			height: 10px; 
			background:url('./../img/icon/icon_ui_equalizer03.svg');
		}
	}	

}
[class^="flag_mid"] {
	padding:0 5px;	
    @include fontT(13,20px);
}
.flag_mid01 {
    @include Mix_Box_Bg01;
}
.flag_mid02 {
	background:color('COL_secondary2');
	color:$COL_white; 
}
.flag_mid03 {
	@include Mix_Box_Bg02;
    color:color('COL_gs03');
	line-height:18px;
}
.flag_mid04 {
    background:color('COL_gs08');
    border:1px solid color('COL_gs05');
    color:color('COL_gs03');
	line-height:18px;
}
.flag_mid05 {
    background:color('COL_gs06');
    color:color('COL_gs03');
}

[class^="flag_big"] {
    padding:0 8px;
    @include fontT(14,24px);
}
.flag_big01 {
    @include Mix_Box_Bg01;  
}
.flag_big02 {
    background:color('COL_secondary2');
	color:$COL_white; 
}
.flag_big03 {
    @include Mix_Box_Bg02;
    color:color('COL_gs03');
	line-height:22px;
}
.flag_big04 {
    background:color('COL_gs08');
    border:1px solid color('COL_gs05');
    color:color('COL_gs03');
	line-height:22px;
}
.flag_big05 {
    background:color('COL_gs06');
    color:color('COL_gs03');
}
.ico_hyundai {
	text-indent:-9999px;
	font-size:0;
	width: 160px;
	height:32px;
	@include Icon_hyundai($COL_black);
	&:hover {
		background-color:$COL_black;
		@include Icon_hyundai($COL_white);
	}
}
.ico_genesis {
	text-indent:-9999px;
	font-size:0;
	width: 119px;
	height:24px;
	@include Icon_genesis($COL_black);
	&:hover {
		background-color:$COL_black;
		@include Icon_genesis($COL_white);
	}
}

/* 토글버튼 */
[class^="toggle_btn"] {
	label {
		display:inline-flex;
		align-items: center;
		column-gap:12px;
		@include fontT(14);
	}
	input {
		position: relative;
		-webkit-appearance: none;
		width: 34px; 
		height: 14px;
		background: color('COL_gs03');
		border-radius: 15px;
		&:after {
			content: "";
			@include Pos($p: absolute, $t: -2px, $l: 0);
			width: 18px; height: 18px;
			background: $COL_white;
			box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
			border-radius: 50%;
			transition: left .3s;
		}
		&:checked {
			&:after {
				left: 16px;
			}
		}
	}	
}
.toggle_btn01 {
	input {
		&:checked {
			background: color('COL_secondary2');
		}
	}
	.bg_dark & {
		input {
			background:color('COL_gs06' , 'dark');
			&:checked {
				background:color('COL_secondary2' , 'dark');
			}
		}
		
	}
}
.toggle_btn02 {
	input {
		&:checked {
			background: color('COL_gs03');
		}

	}
}

//토글 화살표 오른쪽
.btn_arr{
	display:inline-flex;
	align-items:center;
	justify-content:center;
	width:24px; height:24px;
	font-size:0;
	transform:rotate(90deg);
	&::before{
		content:'';
		display:inline-block;
		width:16px;height:16px;
		@include Icon_arrow(color('COL_gs03'));
	}
}