@charset 'utf-8';
/* 
	고객센터
*/

@import '../_common/h_function';
@import '../_common/h_mixins';

/* base */
.hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0,0,0,0);
	border: 0;
}
.CPOcscenter {
	background-color: $COL_BG_Light01;
	#CPOheader .h_sub {
		.tit, 
		.util {
			opacity: 1;
			transition: opacity 0.5s;
		}
		&:not(.fixed) {
			background-color: transparent;
			border-bottom: 0;
			.tit, 
			.util {
				opacity: 0;
			}
		}
	}
}
.CPOpop_full .p_cscenter {
	padding-bottom: 0;
}
/* common */
.unit_item {
	position: relative;
	padding:24px 0;
	background-color: $COL_WHITE;
	.unit_top{
		display: flex;
		align-items: center;
		position:relative;
		min-height: 25px;
		padding: 0 20px;
		label {
			display: flex;
			align-items: center;
			min-height: 25px;
		}
		.tit {
			@include Mix_Font('Head-M', 16, 20); 
		}
		.num {
			display: inline-block;
			position: relative;
			margin-left: 8px;
			padding-left: 10px;
			@include Mix_Font('Head-R', 13, 16); 
			color: $COL_Text_Base03;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 1px;
				height: 12px;
				margin-top: -6px;
				background-color: $COL_Line_Dark01;
			}
		}
	}
	.unit_mid{
		display: flex;
		gap: 0 16px;
		padding: 15px 18px 0;
		.unit_img {
			width: 100px;
			height: 100px;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.unit_info {
			position: relative;
			width: calc(100% - 116px);
			@include Mix_Unit_Price($COL_Text_Base04);
			.num {
				color:$COL_Blue03;
				@include Mix_Font('Head-M', 12, 15); 
			}
			.name {
				.model {
					@include Mix_Font('Head-R', 15, 19); 
					@include Mix_Ellipsis(2);
					color: $COL_Text_Base03;
					word-break: keep-all;
				}
			}
			.price {
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				em{
					@include Mix_Font('Head-M', 17, 21); 
				}
				i{
					@include Mix_Font('Head-R', 15, 18); 
					vertical-align:1px;
				}
			}
		}
	}
	.unit_bot {
		margin-top: 15px;
		border-top:1px solid $COL_Line_Light01;
	}
	.btn_del01 {
		position: absolute;
		right: 18px;
		top: 23px;
	}
	&.small {
		padding: 20px 0;
		.unit_top {
			min-height: auto;
			.tit {
				@include Mix_Font('Head-M', 14, 18); 
			}
		}
		.unit_mid {
			.unit_img {
				width: 80px;
				height: 80px;
			}
			.unit_info {
				.name {
					.model {
						@include Mix_Font('Head-R', 14, 18); 
						color: $COL_Text_Base04;
					}
				}
				.price {
					position: static;
					margin-top: 7px;
					em{
						@include Mix_Font('Head-M', 16, 20); 
					}
					i{
						@include Mix_Font('Head-R', 14, 18); 
					}
				}
			}
		}
	}
}

/* 팝업 내역조회 */
#FO-CS-MS0007 .p_wrap,
#FO-CS-MS0008 .p_wrap {
	overflow: hidden;
}
.product_history {
	height: 100%;
	.box_history {
		min-height: 100%;
		padding: 20px 0 120px;
		background-color: $COL_BG_Light01;
		.notice_01 {
			padding: 0 21px 25px;
		}
	}
	.cpo_tab01 {
		position: sticky;
		top: 0;
		z-index: 1;
	}
	.history_list {
		padding: 0 15px;
		li{
			border-top: 1px solid $COL_Line_Light01;
			&:first-child {
				border-top: 0;
			}
		}
	}
	.tab_container {
		height: 100%;
		.tab_cont {
			display: none;
			overflow-y: auto;
			height: 100%;
			min-height: 100%;
			padding-bottom: 80px;
			&.active {
				display: block;
			}
		}
	}
}

/* 1:1문의 */
.registration_wrap {
	padding: 30px 0 60px;
	.form_type02 {
		margin-bottom: 20px;
		padding: 0 21px;
	}
	.select_product {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		strong {
			@include Mix_Font('Head-M', 16, 20); 
		}
	}
	.addphoto_list {
		padding: 0 0 25px 21px;
		.list {
			padding-right: 21px;
		}
	}
	.box_alarm {
		margin: 0 21px;
		padding-top: 25px;
		border-top: 1px solid $COL_Line_Light01;
	}
	.unit_item {
		border: 1px solid $COL_Line_Light01;
		margin-bottom: 20px;
	}
}

/* 공지사항 */
.write_list {
	.sorting {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 52px;
		padding: 0 21px;
		border-top: 1px solid $COL_Line_Light01;
		.count {
			@include Mix_Font('Txt-R', 14, 21); 
			color: $COL_Text_Base03;
			i {
				@include Mix_Font('Head-M', 14, 21); 
				color: $COL_Blue03;
			}
		}
	}
	li {
		border-top: 1px solid $COL_Line_Dark01;
		&.notice {
			background-color: $COL_BG_Light02;
		}
	}
	.write_anchor {
		display: block;
		width: 100%;
		padding: 25px 21px;
		text-align: left;
		.title {
			display: flex;
			align-items: center;
			i[class^="icon_"] {
				display: block;
			}
			.icon_emergency {
				min-width: 15px;
				height: 20px;
				margin-right: 10px;
				@include Mix_Cscenter_Bg;
				background-position: 0 0;
			}
			.icon_new {
				min-width: 33px;
				height: 18px;
				margin-left: 8px;
				padding:0 5px;	
				background-color: $COL_Primary01;
				@include Mix_Font('Head-R', 11, 18); 
				color: $COL_WHITE;
			}
			.txt {
				display: block;
				@include Mix_Font('Head-R', 16, 20); 
				@include Mix_Ellipsis01;
				color: $COL_Text_Base04;
			}
		}
		.date {
			display: block;
			margin-top: 5px;
			@include Mix_Font('Txt-R', 13, 20); 
			color: $COL_Text_Base02;
		}
	}
}

/* 공지사항 상세 */
.write_detail {
	display: flex;
	flex-direction: column;
	height: calc(100% - 60px);
	.box_scroll {
		overflow-y: auto;
		-webkit-overflow-scrolling:touch;
	}
	.detail_top {
		position: relative;
		padding: 20px 21px 15px;
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 21px;
			right: 21px;
			bottom: 0;
			height: 1px;
			background-color: $COL_Line_Light01;
		}
		.title {
			display: block;
			@include Mix_Font('Head-M', 18, 23); 
			word-break: keep-all;
		}
		.date {
			margin-top: 4px;
			@include Mix_Font('Txt-R', 13, 20);
			color: $COL_Text_Base02; 
		}
	}
	.detail_cont {
		// overflow-y: auto;
		margin: 30px 0 0;
		padding: 0 21px 40px;
		@include Mix_Font('Txt-R', 14, 21);
		color: $COL_Text_Base03;
	}
	.post_list {
		margin-top: auto;
		border-top: 1px solid $COL_Line_Light01;
		li {
			display: flex;
			align-items: center;
			width: 100%;
			padding: 20px 21px;
			border-top: 1px solid $COL_Line_Light01;
			&:first-child{
				border-top: 0;
			}
			&:last-child{
				padding-bottom:30px;
			}
		}
		span {
			display:inline-block;
			flex-shrink: 0;
			padding-right: 10px;
			@include Mix_Font('Txt-R', 12, 18); 
			color: $COL_Text_Base02;
		}
		.btn_post {
			display: block;
			text-align: left;
			@include Mix_Font('Head-R', 14, 17); 
			@include Mix_Ellipsis01;
			&:disabled {
				background: transparent !important;
				color: $COL_Inactive_Text01;
				pointer-events: none;
			}
		}
	}
}

/* 인덱스 */
.CPOcscenter.active {
	.box_gif {
		margin-top: -44px;
	}
}
/* 인덱스_상단검색영역 */
.search_wrap {
	position: relative;
	height: 1000px;
	background-color: $COL_BG_Light01;
	.user_info {
		position: fixed;
		top: 110px;
		width: 100%;
		height: 114px;
		padding-bottom: 60px;
		text-align: center;
		z-index: 1;
		@include Mix_Font('Head-M', 26, 33);
		box-sizing: content-box;
		i {
			color: $COL_Blue03;
		}
		.txt_welcome,
		.box_search {
			position: absolute;
			top: 0;
			width: 100%;
			transition: opacity 1s;
		}
		.txt_welcome {
			opacity: 1;
		}
		.box_search {
			opacity: 0;
			transition-delay: 1s;
		}
	}
	.box_search {
		padding: 0 21px;
		opacity: 0;
		strong {
			@include Mix_Font('Head-M', 20, 25);
		}
		.int_search {
			display: flex;
			align-items: center;
			justify-content: space-between;
			overflow: hidden;
			width: 100%;
			height: 62px;
			margin-top: 20px;
			border: 2px solid transparent;
			border-radius: 65px;
			background-image:  linear-gradient($COL_WHITE, $COL_WHITE), linear-gradient(135.7deg, $COL_Blue10 0%, $COL_Blue11 98.81%);
			background-origin: border-box;
			background-clip: content-box, border-box;
			input {
				width: calc(100% - 50px);
				height: 100%;
				padding: 0 10px 0 25px;
				@include Mix_Font('Head-R', 17, 22);
				color: $COL_Text_Base04;
				border: 0;
				&::placeholder{
					color:$COL_Inactive_Text01;
				}
			}
			button {
				display: block;
				width: 50px;
				height: 50px;
				margin-right: 10px;
				&:before {
					content: '';
					display: block;
					width:24px;
					height:24px;
					margin: 0 auto;
					@include Mix_Layout_Bg;
					background-position:-50px -25px;
				}
			}
		}
	}
	.box_gif {
		position: absolute;
		top: 50%;
		width: 100%;
		margin-top: 0;
		transform: translateY(-50%);
		opacity: 0;
		transition: margin 0.8s, opacity  1s;
		img {
			width: 100%;
		}
	}
	&.active {
		.user_info {
			.txt_welcome {
				opacity: 0;
			}
			.box_search {
				opacity: 1;
			}
		}
		.box_gif {
			opacity: 0 !important;
		}
	}
	&.static {
		.user_info {
			position: relative;
		}
	}
}

/* 인덱스_챗봇영역 */
.chatbot_list {
	padding: 0 16px 50px 40px;
	background-color: $COL_BG_Light01;
	transition: margin 0.5s;
	.box_tab {
		padding-bottom: 5px;
		text-align: right;
		button {
			margin-left: 12px;
			padding: 5px 0;
			@include Mix_Font('Head-R', 13, 17); 
			color: $COL_Text_Base02;
			&.active {
				@include Mix_Font('Head-M', 13, 17); 
				color: $COL_Blue03;
			}
		}
	}
	.tab_conts {
		display: none;
		&.active {
			display: block;
		}
	}

	.chat_item {
		position: relative;
		margin-top: 5px;
		&.chatbot {
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -25px;
				top: 5px;
				width: 27px;
				height: 27px;
				@include Mix_Cscenter_Bg;
				background-position: -33px -35px;
			}
			margin-top: 40px;
		}
		&.user {
			padding: 0 5px 0 11px;
			.bubble_box {
				min-height: 192px;
				border: 1px solid $COL_Line_Light01;
				border-radius: 10px;
				background-color:  $COL_WHITE;
			}
			.bubble {
				min-height: 192px;
				&.no_data {
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
		&:first-child {
			margin-top: 0;
		}
	}
	.bubble_box {
		padding: 23px 0;
		background: url('../img/bg_bubble_lt.png') left top no-repeat, url('../img/bg_bubble_rt.png') right top no-repeat, url('../img/bg_bubble_lb.png') left bottom no-repeat, url('../img/bg_bubble_rb.png') right bottom no-repeat,url('../img/bg_bubble_top.png') left top repeat-x, url('../img/bg_bubble_btm.png') left bottom repeat-x;
		background-size: 31px 23px, 41px 23px, 31px 23px, 41px 23px,20px 23px,20px 23px;
	}
	
	.bubble {
		padding: 0 41px 0 29px;
		background: url('../img/bg_bubble_lm.png') left top repeat-y,url('../img/bg_bubble_rm.png') right top repeat-y;
		background-size:31px 10px, 41px 10px;
		background-color: $COL_WHITE;
		@include Mix_Font('Head-M', 18, 23); 
		color: $COL_Text_Base03;
		span {
			display: block;
			margin-top: 4px;
			@include Mix_Font('Txt-R', 12, 18); 
			color: $COL_Inactive_Text01;
		}
	}
	button[class^="btn_link"] {
		box-shadow: 0px 0px 5px rgba($COL_Text_Base04, 0.015);
		border-radius: 10px;
		border: 1px solid $COL_Line_Light01;
		background-color: $COL_WHITE;
		color: $COL_Text_Base04;
		@include Mix_Font('Head-R', 15, 19); 
	}
	.box_questions {
		display: flex;
		flex-wrap: wrap;
		gap:8px 6px;
		margin-top: 10px;
		padding-left: 11px;
		.btn_link {
			padding: 14px 20px;
		}
	}
	.box_faq {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
		margin-top: 5px;
		padding: 0 5px 0 11px;
		button[class^="btn_link"] {
			flex: 1 1 30%;
			padding: 20px 0 19px;
			span {
				display: block;
				padding-top: 6px;
			}
			&:before {
				content: '';
				display: block;
				width: 30px;
				height: 30px;
				margin: 0 auto;
				@include Mix_Cscenter_Bg;
			}
		}
		.btn_link01:before {
			background-position: -20px 0px !important;
		}
		.btn_link02:before {
			background-position: -55px 0px !important;
		}
		.btn_link03:before {
			background-position: -90px 0px !important;
		}
		.btn_link04:before {
			background-position: -125px 0px !important;
		}
		.btn_link05:before {
			background-position: -160px 0px !important;
		}
		.btn_link06:before {
			background-position: -195px 0px !important;
		}
	}
	.swiperType01 {
		.swiper-slide {
			overflow: hidden;
			height: 198px;
			box-shadow: 0px 0px 5px rgba($COL_Text_Base04, 0.015);
			border-radius: 8px;
			border: 1px solid $COL_Line_Light01;
		}
		.unit_item {
			overflow: hidden;
			padding: 20px 0 0;
		}
		.unit_bot {
			button {
				width: 100%;
				height: 50px;
				@include Mix_Font('Head-R', 15, 19); 
				color: $COL_Text_Base04;
			}
		}
		.btn_all {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex-wrap: wrap;
			overflow: hidden;
			width: 100%;
			height: 100%;
			color: $COL_Text_Base03;
			text-align: center;
			background-color: $COL_WHITE;
			&:before {
				content: '';
				display: block;
				width: 28px;
				height: 28px;
				@include Mix_Cscenter_Bg;
				background-position: 0 -35px;
			}
			span {
				display: block;
				width: 100%;
				margin-top: 15px;
				@include Mix_Font('Txt-M', 14, 21); 
			}
		}
		.box_no_data {
			overflow: hidden;
			height: 100%;
			padding-top: 47px;
			background-color: $COL_WHITE;
			@include Mix_Font('Txt-M', 14, 21); 
			color: $COL_Inactive_Text01;
			text-align: center;
			&:before {
				content:'';
				display:block;
				width:47px;
				height:42px;
				margin:0 auto 15px;
				@include Mix_Layout_Bg;
				background-position:0 -106px;
			}
			p {
				margin-top: 21px;
			}
			button {
				display: inline-block;
				margin-top: 10px;
				@include Mix_Font('Head-R', 12, 15); 
				color: $COL_Text_Base02;
				text-decoration: underline;
			}
		}
		.swiper-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			position: relative;
			height: 6px;
			margin-top: 12px;
		}
	}
}

/* 인덱스_문의링크 */
.box_links {
	padding: 40px 21px;
	background-color: $COL_WHITE;
	strong {
		@include Mix_Font('Head-M', 18, 23); 
	}
	a {
		margin-top: 20px;
		& + a {
			margin-top: 10px;
		}
	}
}

/* 인덱스_서비스안내 */
.box_service {
	overflow:hidden;
	padding-top: 10px;
	background-color: $COL_BG_Light01;
	.inner {
		padding: 40px 0;
		background-color: $COL_WHITE;
	}
	.title {
		display: block;
		padding: 0 21px;
		@include Mix_Font('Head-M', 26, 33); 
	}
	.swiperType02 {
		margin-top: 20px;
		padding-left: 21px;
		.swiper-slide {
			position: relative;
			width: 84% !important;
			margin-right: 20px;
			img {
				width: 100%;
			}
			span {
				display: block;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				padding: 0 77px 35px 20px;
			}
			&:last-child {
				margin-right: 20px;
			}
		}
	}
	.link_banner {
		display: block;
		position: relative;
		color: $COL_WHITE;
		@include Mix_Font('Head-R', 20, 25); 
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba($COL_Text_Base04, 0) 70.14%, rgba($COL_Text_Base04, 0.5) 100%);
		}
	}
}

/* 인덱스_공지사항 */
.box_notice {
	padding-top: 10px;
	background-color: $COL_BG_Light01;
	.inner {
		padding: 40px 21px;
		background-color: $COL_WHITE;
	}
	.title {
		display: block;
		padding-bottom: 21px;
		@include Mix_Font('Head-M', 18, 23); 
		border-bottom: 1px solid $COL_Line_Light01;
	}
	li {
		margin-top: 21px;
		a {
			display: block;
			position: relative;
			padding-right: 30px;
			@include Mix_Font('Head-R', 15, 23); 
			@include Mix_Ellipsis01;
			color: $COL_Text_Base03;
			&:after {
				content: '';   
				display: block;
				position: absolute; 
				top: 50%;
				right: 0;
				width: 7px;
				height: 12px;
				@include Mix_PDP_Bg(-256px 0);
				transform: translateY(-50%);
			}
		}
	}
	.btn_mid02 {
		margin-top: 21px;
	}
}
/* 자주 묻는 질문 */
.faq_wrap {
	.toggle {
		border-top: 1px solid $COL_Line_Light01;
		li {
			border-bottom: 1px solid $COL_Line_Light01;
			.tit_btn {
				width: 100%;
				padding: 25px 21px;
				@include Mix_Font('Head-R', 15, 19);
				text-align: left;
				&::after {
					right: 25px;
				}
				> span {
					display: block;
					margin-bottom: 5px;
					color: $COL_Inactive_Text01; 
					@include Mix_Font('Head-R', 12, 15);
				}
			}
			> .cont {
				display: none;
				padding: 25px 21px;
				border-top: 1px solid $COL_Line_Light01;
				color: $COL_Text_Base03; 
				background-color: $COL_BG_Light01;
				@include Mix_Font_Txt_R;
			}
			&.on {
				.cont {
					display: block;
				}
			}
		}
	}
	.no_data {
		.etc {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid $COL_Line_Light01;
			.btn_area {
				margin-top: 15px;
			}
		}
	}
	// 2차 css 임시용
	.btn_txt01 {	
		display:inline-block;
		font-size:14px;
		@include Mix_Font_Head_R;
		text-decoration:underline;	
		text-underline-offset:2px;
		&:hover {
			text-decoration: underline;
		}
		&:after {
			display: none;
		}
		&.color02 {
			color:$COL_Blue03;
		}
	}
	.no_data {
		display:block;
		margin: 0 auto;
		padding: 40px 0;
		text-align: center;
		&::before{
			content:'';
			display:block;
			width:47px;
			height:42px;
			margin:12px auto 25px;
			@include Mix_Layout_Bg;
			background-position:0 -106px;
		}
		.tit{
			width: 220px;
			margin: 0 auto;
			color:$COL_Text_Base03;
			@include Mix_Font('Txt-M', 16, 24);
		}
		.txt{
			width: 220px;
			margin: 8px auto 0;
			color:$COL_Inactive_Text01;
			@include Mix_Font('Txt-R', 14, 21);
			word-break:keep-all;
		}
		.btn_area {
			width: 220px;
			margin: 40px auto 0;
		}
	}
	.btn_area {
		.btn{
			&+.btn {
				margin-top:10px;
			}	
		}
	}
	.btn { // default middle size
		display:inline-block;
		width: 100%;
		height:48px;
		background:$COL_Primary01;
		border:1px solid $COL_Primary01;
		color:$COL_WHITE;
		vertical-align: middle;
		line-height:46px;
		text-align:center;
		@include Mix_Font_Head_R;
		font-size:15px;
	
		&.color02 {
			background:$COL_WHITE;
			border:1px solid $COL_Line_Dark01;
			color:$COL_BLACK;
			&.icon_plus {
				&::before {
					background-position:-215px 1px;
				}
			}
		}
	}
}