@charset 'utf-8';
/* 
	전시
*/

@import '../_common/h_function';
@import '../_common/h_mixins';

@import '../_layout/h_search';

/* s:title area :MAIN */
.main_menu{
	padding:0 !important;
	ul{
		position:relative;
		z-index:601;
		background:$COL_WHITE;
		display:block;
		width:100%;
		text-align:center;
		white-space:nowrap;
		overflow:hidden;
		overflow-x:auto;
		-webkit-overflow-scrolling:touch;
		-ms-overflow-style:none;
		scrollbar-width:none;
		&::-webkit-scrollbar{
			display:none;
		}
		&::before{
			content:'';
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			height:1px;
			background-color:transparent;
		}
		&.on{
			position:fixed;
			top:0;
			left:0;
			right:0;
			z-index:50;
			a{
				color:$COL_Text_Base04;
				&::after{
					background-color:transparent;
				}
			}
		}
		li{
			display:inline-block;flex:1;
			a{
				position:relative;
				display:block;
				padding:0 10px;
				color:$COL_Line_Dark01;
				@include Mix_Font('Head-M', 20, 48);
				&::after{
					content:'';
					position:absolute;
					bottom:0;
					left:0;
					display:block;
					width:100%;
					height:2px;
				}
			}
		}
	}
}

/* Product List Page : type01 - 2차원 grid 스타일 */
.plp_type01{
	> ol{
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:minmax(auto, auto);
		column-gap: 0;
		row-gap: 0;
	}
	.grid_type01{// rS / cS / rE / cE 
		.item1{grid-area:1 / 1 / 3 / 3;}
		.item2{grid-area:1 / 3 / 2 / 4;}
		.item3{grid-area:2 / 3 / 3 / 4;}
		.item4{grid-area:3 / 1 / 4 / 2;}
		.item5{grid-area:3 / 2 / 4 / 3;}
		.item6{grid-area:3 / 3 / 4 / 4;}
		.item7{grid-area:4 / 1 / 5 / 2;}
		.item8{grid-area:4 / 2 / 5 / 4;}
		.item9{grid-area:5 / 1 / 6 / 2;}
		.item10{grid-area:5 / 2 / 6 / 3;}
		.item11{grid-area:5 / 3 / 6 / 4;}
	}
	.grid_type02{// rS / cS / rE / cE 
		.item1{grid-area:1 / 1 / 2 / 3;}
		.item2{grid-area:1 / 3 / 2 / 4;}
		.item3{grid-area:2 / 1 / 3 / 2;}
		.item4{grid-area:2 / 2 / 3 / 3;}
		.item5{grid-area:2 / 3 / 3 / 4;}
		.item6{grid-area:3 / 1 / 4 / 2;}
		.item7{grid-area:4 / 1 / 5 / 2;}
		.item8{grid-area:3 / 2 / 5 / 4;}
		.item9{grid-area:5 / 1 / 6 / 2;}
		.item10{grid-area:5 / 2 / 6 / 3;}
		.item11{grid-area:5 / 3 / 6 / 4;}
	}
	.grid_type03{// rS / cS / rE / cE 
		.item1{grid-area:1 / 1 / 2 / 2;}
		.item2{grid-area:1 / 2 / 2 / 3;}
		.item3{grid-area:1 / 3 / 2 / 4;}
		.item4{grid-area:2 / 1 / 4 / 3;}
		.item5{grid-area:2 / 3 / 3 / 4;}
		.item6{grid-area:3 / 3 / 4 / 4}
		.item7{grid-area:4 / 1 / 5 / 2;}
		.item8{grid-area:4 / 2 / 5 / 4;}
		.item9{grid-area:5 / 1 / 6 / 2;}
		.item10{grid-area:5 / 2 / 6 / 3;}
		.item11{grid-area:5 / 3 / 6 / 4;}
		.item12{grid-area:7 / 1 / 7 / 4;}
	}
}

/* 차량정보 : 2차원 grid 스타일 : link > img, info(name/price), like */
.pd_banner{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	img{
		width:100%;
	}

}
.pd_link{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	&::before{
		content:'';
		display:block;
		width:100%;
		height:50%;
		position:absolute;
		top:0;
		left:0;
		z-index:3;
		background:linear-gradient(180deg, rgba($COL_Text_Base04, 0.7) 0%, rgba($COL_Text_Base04, 0) 100%);
	}
	.pd_info{
		position:absolute;
		top:13px;
		left:13px;
		z-index:4;
		width:80%;
		> span{
			display:block;
			color:$COL_WHITE;
			word-break:keep-all;
			text-shadow:1px 1px 2px rgba($COL_Text_Base04, 0.3);
			@include Mix_Font('Head-R', 12, 15);


			
			.grid_type03 .item12 &,//우측측면컷(360x270)
			.grid_type03 .item4 &,//우측측면컷(240x165)
			.grid_type02 .item8 &,//우측측면컷(240x330)
			.grid_type01 .item1 &{//정면컷(240x330)
				@include Mix_Font('Head-R', 14, 18);
			}
			&.name{
				max-height:30px;
				.grid_type03 .item12 &,//우측측면컷(360x270)
				.grid_type03 .item4 &,//우측측면컷(240x165)
				.grid_type02 .item8 &,//우측측면컷(240x330)
				.grid_type01 .item1 &{//정면컷(240x330)
					max-height:36px;
				}
				color:$COL_WHITE;
				@include Mix_Ellipsis(2)
			}
			&.price{
				margin-top:5px;
				> em{
					@include Mix_Font('Head-R', 14, 15);
					.grid_type03 .item12 &,//우측측면컷(360x270)
					.grid_type03 .item4 &,//우측측면컷(240x165)
					.grid_type02 .item8 &,//우측측면컷(240x330)
					.grid_type01 .item1 &{//정면컷(240x330)
						@include Mix_Font('Head-R', 16, 18);
					}
				}
			}
		}
	}
	.pd_like{
		position:absolute;
		top:0;
		left:0;
		z-index:4;

	}
	.pd_img{
		position:relative;
		> span{
			display:block;
			overflow:hidden;
			&.space{
				img{
					width:100%;
					height:100%;
				}
			}
			&.pdp{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:2;
				img{
					object-fit:cover;
					.grid_type01 .item1 &{//정면컷(240x330)
						width:380%;
						margin:-100% 0 0 -125%;
					}
					.grid_type01 .item2 &{//우측컷(120x165)
						width:250%;
						margin:-20% 0 0 -40%;
					}
					.grid_type01 .item3 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item4 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item5 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item6 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type01 .item7 &{//배너(120x165)
						width:100%;
					}
					.grid_type01 .item8 &{//우측컷(240x165)
						width:180%;
						margin:-40% 0 0 -20%;
					}
					.grid_type01 .item9 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item10 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item11 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}

					.grid_type02 .item1 &{//우측컷(240x165)
						width:180%;
						margin:-40% 0 0 -20%;
					}
					.grid_type02 .item2 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item3 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item4 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type02 .item5 &{//배너(120x165)
						width:100%;
					}
					.grid_type02 .item6 &{//우측컷(240x165)
						width:250%;
						margin:-20% 0 0 -40%;
					}
					.grid_type02 .item7 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item8 &{//우측측면컷(240x330)
						width:300%;
						margin:-55% 0 0 -80%;
					}
					.grid_type02 .item9 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type02 .item10 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item11 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item1 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item2 &{//우측컷(120x165)
						width:250%;
						margin:-20% 0 0 -40%;
					}
					.grid_type03 .item3 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type03 .item4 &{//우측측면컷(240x165)
						width:300%;
						margin:-55% 0 0 -80%;
					}
					.grid_type03 .item5 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item6 &{//배너(120x165)
						width:100%;
					}
					.grid_type03 .item7 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item8 &{//우측컷(240x165)
						width:180%;
						margin:-40% 0 0 -20%;
					}
					.grid_type03 .item9 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type03 .item10 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item11 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item12 &{//우측측면컷(360x270)
						width:220%;
						margin:-55% 0 0 -60%;
					}
				}
			}
		}
	}
}

/* checkBox01 : 찜하기 (하트) */
.chk_wish01{
	width:1px;height:1px;opacity:0;
	position:absolute;top:0;left:0;
}
.chk_wish01 + label{
	display: block;
	width:24px;height:24px;
	color: transparent;
	font-size:0;
	background:url('../img/chk_wish_off.svg') no-repeat;
}
.chk_wish01:checked + label{
	background:url('../img/chk_wish_on.svg') no-repeat;
}

/* 전시 이미지 코너 */
.display_corner01{
	position:relative;
	margin:0 0 30px 0;
	.bo_img{// bo 이미지형
		position:relative;
		img{
			width:100%;
			height:auto;
		}
	}
	.bo_html{// bo html
		img{
			width:100%;
			height:auto;
		}
	}
	.bo_video{// bo video
		video[poster]{
			width:100%;
			height:56.2vw;
			object-fit:cover;
		}
		.youtube {
			position: relative;
		}
		.block-img {
			width: 100%;
			height: 56.2vw;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			.ic-play {
				width: 100%;
				height: 100%;
				background: url('../img/sample/icon_play.png') no-repeat center;
				background-size: 70px auto;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-indent: -9999px;
				opacity: .75;
			}
			img {
				width: 100%;
				max-height: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				object-fit: cover;
			}
		}
	}
	> .title{
		position:absolute;
		top:80px;
		left:0;
		width:100%;
		padding:0 15px;
		color:$COL_WHITE;
		> .tit{
			margin-bottom:6px;
			@include Mix_Font('Head-M', 30, 38);
			text-shadow:0px 0px 3px rgba($COL_Text_Base04, 0.7);
		}
		> .copy{
			@include Mix_Font('Txt-R', 14, 18);
			text-shadow:0px 0px 3px rgba($COL_Text_Base04, 0.7);
		}
	}
	.navi{
		display:flex;
		flex-wrap:wrap;
		position:absolute;
		left:0;
		bottom:25px;
		width:100%;
		li{
			position:relative;
			flex:0 0 33.33%;
			text-align:center;
			a{
				display:block;
				color:$COL_WHITE;
				@include Mix_Font('Head-R', 14, 18);
				&::before{
					content:'';
					display:block;
					width:30px;
					height:29px;
					margin:0 auto 12px;
					@include Mix_Display_Bg;
				}
				&::after{
					content:'';
					display:inline-block;
					width:8px;
					height:13px;
					margin:0 0 0 5px;
					@include Mix_Display_Bg;
					background-position:-105px -53px;
					vertical-align:middle;
				}
				&.link_01{
					&::before{
						background-position:0 -53px;
					}
				}
				&.link_02{
					&::before{
						background-position:-35px -53px;
					}
				}
				&.link_03{
					&::before{
						background-position:-70px -53px;
					}
				}
			}
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:0;
				right:0;
				width:1px;
				height:56px;
				background:rgba($COL_Text_Base04, .15);
			}
			&:last-of-type{
				&::after{
					display:none;
				}
			}
		}

	}
}


/* 필터 plp_filter */
.plp_filter{
	overflow:hidden;
	position:relative;
	height:32px;
	margin:0 0 24px 15px;
	/* 상세검색 버튼 */
	.btn_filter{
		overflow:hidden;
		height:32px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			@include Mix_Display_Bg;
			background-position:0 -28px;
		}
	}
	.list{
		overflow:hidden;
		position:absolute;
		top:0;
		left:30px;
		width:calc(100% - 10px);
		.scroll{
			overflow-x:auto;
			padding:0 30px 10px 0;
			white-space:nowrap;
		}
	}
}

.plp_sorting{
	position:relative;
	margin:0 15px 10px;
	.tit{
		color:$COL_Text_Base04;
		@include Mix_Font('Head-M', 18, 24);
		.hidden{
			display:none;
		}
		em, i{
			color:$COL_Secondary01;
			@include Mix_Font('Head-R', 14, 18);
		}
	}
	> ul{
		display:flex;
		align-items:center;
		position:absolute;
		top:0;
		right:0;
		> li{
			margin-left:10px;
			position:relative;
			// z-index:4;
			&.on{
				.sorting_layer{
					display:block;
				}
			}
		}
	}

	/* 인기순 버튼, 목록 유형 버튼 */
	.btn_sort{
		padding:3px 5px;
		color:$COL_Text_Base04;
		@include Mix_Font('Head-R', 14, 18);
		&::after{
			content:'';
			display:inline-block;
			width:14px;
			height:14px;
			margin:0 0 2px 5px;
			@include Mix_Display_Bg;
			background-position:-40px -28px;
			vertical-align:middle;
		}
	}
	.btn_thumb{
		overflow:hidden;
		@include Mix_Size_0;
		width:24px;
		height:24px;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			margin:0 auto;
			@include Mix_Display_Bg;
			background-position:-84px -28px;
		}
		
	}
	.btn_deal{
		overflow:hidden;
		width:24px;
		height:24px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			margin:0 auto;
			@include Mix_Display_Bg;
			background-position:-59px -28px;
		}
	}
}

/* 판매 준비 차량 목록 */
.plp_coming01{
	.coming_list{/* 목록*/
		margin:0 15px 60px;
		ol{
			li{
				margin-bottom:20px;
			}
		}
	}
}

/* 기획전 목록 */
.plp_plan01{
	padding-top:20px;
	.plan_list{/* 목록*/
		margin:0 15px 60px;
		ol{
			li{
				margin-bottom:20px;
			}
		}
	}
}

/* 음성검색 레이어팝업 */
.search_layer.p_wrap {
	height: 100%;
	background-color: $COL_Gray17;
	.box_search_top {
		padding-top: 90px
	}
	h2 {
		color: $COL_Primary01;
		@include Mix_Font('Head-B', 26, 34);
		text-align: center;
	}
	.search_word {
		padding: 0 80px;
		color: $COL_Primary01;
		@include Mix_Font('Txt-R', 26, 34);
		word-break: break-all;
	}
	.box_search_btm {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: absolute;
		bottom: 60px;
		width: 100%;
		&.active_restart {
			.box_loading {opacity: 0;}
			.box_restart_search {opacity: 1;}
		}
		&.active_recommend {
			.recommend_word{opacity: 1;}
		}
	}
	.recommend_word {
		width: 100%;
		padding-bottom: 30px;
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
		strong {
			display: block;
			padding-bottom: 15px;
			color: $COL_Text_Base04;
			@include Mix_Font('Head-M', 20, 26);
		}
		p {
			margin-top: 8px;
			color: $COL_Inactive_Text01;
			@include Mix_Font('Head-R', 18, 24);
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.box_restart_search {
		position: absolute;
		bottom: 0;
		width: 100%;
		color: $COL_Inactive_Text01;
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
		button {
			width: 80px;
			height: 80px;
			margin-top: 20px;
			img {
				width: 100%;
			}
		}
		&.active {
			opacity: 1;
		}
	}
	.box_loading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 120px;
		height: 80px;
		opacity: 1;
		i {
			display: block;
			width: 12px;
			height: 12px;
			background-color: $COL_Blue03;
			border-radius: 12px;
		}
		&.active i {
			--startHeight:40px;
			--endHeight:30px;
			animation: voice_search01 1s ease-in-out infinite;
			&:nth-child(1),
			&:nth-child(5) {
				--startHeight:25px;
				--endHeight:20px;
				animation: voice_search01 1s ease-in-out infinite;
			}
			&:nth-child(2),
			&:nth-child(4){
				--startHeight:20px;
				--endHeight:40px;
				animation: voice_search01 1s ease-in-out infinite;
			}
		}
		&.speed i {animation-duration: 0.5s !important;}
	}


	@keyframes voice_search01 {
		0%, 100% {
			height: var(--startHeight);
		}
		50% {
			height: var(--endHeight);
		}
	}
}