@charset 'utf-8';
/* 
	메인
*/
@import '../_common/h_function';
@import '../_common/h_mixins';

/* s: HashTag Header */
.hashtag{
	display: none;
	&.sticky{
		display: block;
		position: fixed;
		z-index: 600;
		left: 0;
		top: 0;
		width: 100%;
		height: 50px;
	}
	&.sticky.space50{ 
		top: 50px;
	}
	ul{
		position: relative;
		z-index: 601;
		overflow: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		scrollbar-width: none;
		width: 100%;
		background: $COL_WHITE;
		text-align: center;
		white-space: nowrap;
		&::-webkit-scrollbar{
			display: none;
		}
		&:before{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: transparent;
		}
		li{
			display: inline-block;
			flex: 1;
			a{
				display: block;
				position: relative;
				padding: 0 10px;
				color: $COL_Line_Dark01;
				@include Mix_Font('Head-M', 20, 48);
				&:after{
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 2px;
					content: '';
				}
			}
		}
		.on{
			a{
				color: $COL_Text_Base04;
				&:after{
					background-color: transparent;
				}
			}
		}
	}
}
.section_start{ //02.Greeting Bg
}
.section_start.on{ //03.탐색 제안 영역 Bg
	background: url('../img/main/bg_explore.png') center bottom no-repeat;
	background-size: cover;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}
/* 02. Greeting */
.section_greeting{
	visibility: hidden;
	position: relative;
    height: calc(100vh - 102px);
	&.visible{
		visibility: visible;
		animation: greeting 2.5s 1 both ease-in;
		@keyframes greeting{
			0%{
				transform: translateY(100%);
			}
			50%{
				transform: translateY(40%);
			}
			100%{
				transform: translateY(0);
			}
		}
	}
	.title{
		margin-left: 30px;
		padding-top: 87px;
		strong{
			display: block;
			@include Mix_Font('Head-M', 90, 99);
		}
		.sub_text{
			@include Mix_Font('Head-R', 18, 23);
			em{
				display: block;
				@include Mix_Font_Head_M;
			}
		}
	}
	.car{
		position: absolute;
		left: 0;
		bottom: 0;
		img{
			width: 100%;
			height: auto;
		}
	}
}
/* 03.탐색 제안 영역 */
.section_explore{
	overflow: hidden;
	position: relative;
    height: calc(100vh - 102px);
	background: url('../img/main/bg_explore.png') center no-repeat;
	background-size: cover;
	&.active{
		animation: fadeInUp 1s;
		.search{
			.text{
				opacity: 1;
			}
			.input_text{
				opacity:1;
				width: 100%;
				color: $COL_Primary01;
			}
			.date{
				opacity:1;
			}
		}
		.link_area{
			opacity:1;
			bottom: 50px;
		}
	}
	.search{
		overflow: hidden;
		padding: 40px 30px 0;
		.text{
			opacity: 0;
			transition: opacity 2s 1s; //01.transition
			margin-bottom: 25px;
			@include Mix_Font('Head-M', 20, 25);
			text-align: center;
		}
		.input_text{
			opacity: 0;
			width: 0;
			color: transparent;
			transition: opacity 2s 1s, width 2s 2s, color 1s 3s; //02.transition
			overflow: hidden;
			height: 54px;
			margin: auto;
			padding-left: 5px;
			border-bottom: 2px solid $COL_Primary01;
			@include Mix_Font('Head-R', 17, 54);
		}
		.date{
			opacity: 0;
			transition: opacity 1s 4s; //03.transition
			margin-top: 5px;
			text-align: right;
			@include Mix_Font('Txt-R', 11, 17);
		}
	}
	.link_area{
		bottom: -50px;
		transition: opacity 1s 5s, bottom 1s 4s; //04.transition
		position: absolute;
		height: 48px;
		left: 30px;
		right: 30px;
		background: linear-gradient(90deg, $COL_Primary01 0%, #003D85 100%);
		box-shadow: 0px 5px 15px rgba(170, 202, 230, 0.3);
		border-radius: 100px;
		text-align: center;
		line-height: 48px;
		a{
			color: $COL_WHITE;
		}
	}
}
.section_comingsoon{
	position: relative;
	overflow: hidden;
	height: 500px;
	&.active{
		.text{
			opacity: 1;
		}
	}
	.text{
		opacity: 0;
		transition: opacity 1s; //transition
		position: absolute;
		top: 60px;
		white-space: nowrap;
		overflow: hidden;
		overflow-x: auto;
		color: $COL_Primary01;
		@include Mix_Font('Head-B', 60, 75);
	}
	.banner{
		img{
			width: 100%;
			height: auto;
		}
	}
}

/* 04.인기 추천 영역 */
.section_best{
	overflow: hidden;
	position: relative;
	height: calc(100vh - 102px);
	background-color: $COL_BG_Light02;
	&.active{
		.title{
			opacity : 1;
			// animation: fadeIn 2s linear;
			margin-top: 60px;
		}
		.slide_wrap{
			animation: fadeIn 2s ease-in-out;
		}
	}
	.title{
		opacity : 0;
		transition: opacity 2s, margin-top 1s; //transition
		margin: 140px 0 60px 40px;
		.plag{
			display: block;
			width: 65px;
			height: 29px;
			background: linear-gradient(270.83deg, #00AAD2 0.69%, #007FA8 99.26%);
			border-radius: 100px;
			color: $COL_WHITE;
			@include Mix_Font('Head-B', 16, 29);
			text-align: center;
		}
		em{
			margin-top: 15px;
			color: $COL_Primary01;
			@include Mix_Font('Head-M', 30, 38);
		}
		span{
			display: block;
			margin-top: 20px;
			color: $COL_Text_Base03;
			@include Mix_Font('Head-R', 16, 20);
		}
	}
	.slide_wrap {
		// padding-top: 97px;
		li{
			position: relative;
			&:nth-child(odd){
				.text{
					left: 55px;
				}
				img{
					padding-left: 40px;
				}
			}
			&:nth-child(even){
				img{
					padding-right: 40px;
				}
			}
			.text{
				position: absolute;
				top: 10px;
				left: 15px;
				color: $COL_WHITE;
				@include Mix_Font('Head-M', 17, 21);
				em{
					display: inline-block;
					padding-right: 10px;
					vertical-align: middle;
					@include Mix_Font('Head-L', 70, 70);
				}
			}
			.car{
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

/* 05.활동기반 제안 영역 */
.section_propose{
	position: relative;
    height: calc(100vh - 102px);
	background: url('../img/main/bg_propose.png') left top no-repeat;
	background-size: cover;
	&.on{
		// background-attachment: fixed;
	}
	&.active{
		position: fixed;
		top: 50px;
		z-index: 1;
		width: 100%;
		[class^="section"]{
			.today_info{
				opacity: 1;
				bottom: 40px;
			}
		}
	}
	.title{
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		text-align: center;
		color: $COL_WHITE;
		@include Mix_Font('Head-M', 16, 20);
		em{
			display: block;
			@include Mix_Font('Head-M', 30, 38);
		}
	}
	[class^="section"]{
		overflow: hidden;
		display: none;
		position: relative;
   		height: calc(100vh - 102px);
		padding-top: 118px;
	}
	[class^="section"].on{
		display: block;
	}
	[class^="section"]{
		.graph {
			margin: 20px;
			img{
				width: 100%;
				height: auto;
			}
		}
		.today_info{
			opacity: 0;
			bottom: 0;
			transition: bottom 1s, opacity 1s ease-in; //transition
			position: absolute;
			left: 0;
			width: 100%;
			text-align: center;
			color: $COL_WHITE;
			.text{
				@include Mix_Font('Head-R', 16, 20);
			}
			.num{
				@include Mix_Font('Head-M', 50, 63);
			}
			.link{
				display: inline-block;
				min-width: 160px;
				height: 48px;
				margin: 15px auto 0;
				padding: 0 20px;
				background: linear-gradient(90deg, #007FA8 4.2%, #00AAD2 100%);
				border-radius: 100px;
				color: $COL_WHITE;
				text-decoration: none;
				@include Mix_Font('Head-R', 15, 48);              
			}
		}
	}
	.section02{
		.today_info {
			.num{
				@include Mix_Font('Head-M', 30, 38 !important);
			}
		}
	}
}
/* 06.Good Data Lab */
.section_gooddata{
	overflow: hidden;
	background-position-x: 0;
	transition: background-position-x 1s 1.5s ease-in; //transition
	position: relative;
    height: calc(100vh - 102px);
	background-image:url('../img/main/bg_gooddata_01.png'), url('../img/main/bg_gooddata_02.png'), url('../img/main/bg_gooddata_03.png');
	background-position-y: bottom;
	background-size: 115%;
	background-repeat: no-repeat;
	&.active{
		background-position-x: 40%;
		.title{
			margin-top: 60px;
			em{
				display: block;
				&:nth-child(1){
					transform: translateX(60px);
				}
				&:nth-child(2){
					transform: translateX(-60px);
				}
				&:nth-child(3){
					transform: translateX(90px);
				}
			}
		}
		.text{
			opacity: 1;
			bottom: 100px;
			transform: scale(1);
		}
	}
	.title{
		margin-top: 140px;
		transition: margin 1s;  //transition
		color: $COL_Primary01;
		@include Mix_Font('Head-M', 70, 70);
		em{
			display: block;
			&:nth-child(1){
				transform: translateX(-92px);
				transition: transform 1s;  //transition
			}
			&:nth-child(2){
				transform: translateX(69px);
				text-align: right;
				transition: transform 1s;  //transition
			}
			&:nth-child(3){
				transform: translateX(38px);
				transition: transform 1s;  //transition
			}
		}
	}
	.text{
		opacity: 0;
		bottom: 0;
		transform: scale(0.85);
		transition: opacity 2s, bottom 2s;  //transition
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		color: $COL_Text_Base03;
		.type1{
			@include Mix_Font('Head-M', 20, 25);
		}
		.type2{
			margin-top: 10px;
			@include Mix_Font('Head-R', 20, 25);
		}
		.link{
			display: block;
			width: 132px;
			height: 48px;
			margin: 25px auto 0;
			background: linear-gradient(90deg, #002C5F 0%, #003D85 100%);
			border-radius: 100px;
			color: $COL_WHITE;
			text-decoration: none;
			@include Mix_Font('Head-R', 15, 48);  
		}
	}
	
}
/* 07.내차팔기 */
.section_carsell{
	position: relative;
    height: calc(100vh - 102px);
	background-color: $COL_Gray05;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&.active{
		.top_area{
			opacity: 1;
			margin-top: 60px;
		}
	}
	.top_area{
		opacity: 0;
		margin-top: 100px;
		transition: margin-top 2s, opacity 1s;  //transition
		.title{
			color: $COL_Primary02;
			@include Mix_Font('Head-M', 30, 38); 
		}
		.btn_link{
			display: block;
			width: 119px;
			height: 48px;
			margin: 25px auto;
			background: linear-gradient(90deg, #007FA8 4.2%, #00AAD2 100%);
			border-radius: 100px;
			color: $COL_WHITE;
			@include Mix_Font('Head-M', 15, 48);
		}
		.link{
			color: $COL_Primary02;
			@include Mix_Font('Head-M', 15, 19);
		}
	}
	.car_number{
		overflow: hidden;
		width: 100%;
		min-height: 260px;
		padding: 0 66px;
		background-image:url('../img/main/bg_phone.png');
		background-size: 100%; 
		background-position: top;
		background-repeat:no-repeat;
		text-align: left;
		> .text{
			margin: 90px 0 25px;
			color: $COL_Text_Base03;
			@include Mix_Font('Head-R', 18, 23);
		}
		#typing{
			height: 50px;
			border-bottom: 3px solid $COL_Primary01;
			.text{
				display: inline-block;
				margin: 3px 0;
				color: $COL_Primary01;
				@include Mix_Font('Head-M', 40, 44);
				animation-name: cursor; 
				animation-duration: 1s; 
				animation-iteration-count: infinite;
				@keyframes cursor{ 
					0%{border-right: 3px solid #fff} 
					50%{border-right: 3px solid #b2bfcf} 
					100%{border-right: 3px solid #fff} 
				}
			}
			
		}
	}
}
/* 08.고객서비스 */
.section_service{
	
	&.active{
		.info{
			background-color: $COL_Text_Base04;
			color: $COL_WHITE;
			.slide_service{
				opacity: 1;
				margin-top: 80px;
			}
			.img_type01{
				transform: translateY(-200%);
			}
			.img_type02{
				transform: translateY(0);
			}
		}
	}
	.info{
		transition: background-color 2s, color 2s; //transition
		overflow: hidden;
		position: relative;
		height: calc(100vh - 102px);
		.title{
			padding:60px 0 25px 30px;
			@include Mix_Font('Head-M', 30, 38);
		}
		.link{
			display: inline-block;
			width: 135px;
			height: 48px;
			margin-left: 30px;
			background: $COL_WHITE;
			border: 1px solid $COL_Line_Dark01;
			border-radius: 100px;
			color: $COL_Text_Base04;
			@include Mix_Font('Head-R', 15, 48);
			text-decoration: none;
			text-align: center;
		}
		// .slide_service{
		// 	overflow: hidden;
		// 	opacity: 0;
		// 	margin-top: 160px;
		// 	transition: opacity 2s, margin-top 2s; //transition
		// 	li{
		// 		&:nth-child(1) {
		// 			padding-right:60px;
		// 		}
		// 		&:nth-child(2) {
		// 			padding-left:60px;
		// 		}
		// 	}
		// }
		[class^="img_type"]{
			position: absolute;
			left: 0;
			img{
				width: 100%;
				height: auto;
			}
		}
		.img_type01{
			bottom: -150px;
			margin-right:60px;
			transform: translateY(0);
			transition: transform 2s 1s; //transition
		}
		.img_type02{
			transform: translateY(100%);
			transition: transform 2s 2.5s; //transition
			bottom: 0;
			margin-left:135px;
		}
	}
	.faq{
		overflow: hidden;
		position: relative;
		.title{
			position: absolute;
			width: 100%;
			left: 0;
			top: 80px;
			color: $COL_Text_Base04;
			@include Mix_Font('Head-R', 16, 20);
			text-align: center;
		}
		.slide_faq{
			position: relative;
    		height: 258px;
			li{
				display:flex;
				align-items:center;
				padding: 0 50px;
				text-align: center;
				a{
					color: $COL_Text_Base03;
					@include Mix_Font('Head-M', 20, 25);
					&::before{
						content: 'Q.';
						display: inline-block;
					}
				}
			}
			.swiper-pagination{
				bottom: 80px !important;
			}
		}
		.quick_link{
			display: flex;
			flex-wrap: wrap;
			justify-content:center;
			align-items:center;
			border-top: 1px solid $COL_Line_Light01;
			li{
				flex:1;
				a{
					display: block;
					height: 120px;
					color: $COL_Text_Base04;
					@include Mix_Font('Head-R', 15, 48);
					text-align: center;
				}
				&:nth-child(2){
					border-left: 1px solid $COL_Line_Light01;
					border-right: 1px solid $COL_Line_Light01;
				}
			}
		}
	}
}