@charset "utf-8";

@import '../_common/h_function';
@import '../_common/h_mixins';

.pop_sale{
	.title_area{
		.tit{
			color:$COL_gs02;
			@include fontTM(18);
			word-break:keep-all;
		}
		.tit02{
			color:$COL_gs03;
		}
		.txt{
			display:block;
			margin-top:4px;
			color:$COL_gs03;
			@include fontT(14);
			&.info{
				position:relative;
				padding-left:20px;
				&::before{
					content:'';
					position:absolute;left:0;top:3px;
					width:16px;height:16px;
					background: {
						image:url(../img/icon/icon_ui_info03.svg);
						size:16px auto;
						repeat:no-repeat;
					};
				}
			}
		}
		[class^="txt_btn"]{
			display:flex;
			margin-top:16px;
		}
	}
	.list_step{
		margin-top:32px;
		&.line{
			padding-top:32px;
			border-top:1px solid $COL_gs06;
		}
	}
	.corp_caution{
		margin-top:32px;
	}
	.corp_trade, .info_caution{
		margin-top:16px;
	}
	.intent_caution{
		margin-top:20px;
	}
	.caution{
		.tit{
			margin-bottom:12px;
			@include fontHM(16);
		}
	}
	.text_area{
		margin-top:32px;
	}
	.btn_area{
		margin-top:32px;
	}
	.ipt_area{
		margin-top:32px;
		.form_area{
			display:grid;align-items:end;
			&.half{
				grid-template-columns:repeat(2, 1fr);grid-column-gap:8px;
			}
		}
	}
	.box_input{
		.title{
			margin-bottom:16px;
			@include fontH(16);
		}
	}
	.km_area{
		.txt{
			margin-top:8px;
			color:$COL_gs03;
			@include fontT(14);
		}
		button{
			display:block;
			margin-top:20px;
			color:$COL_gs03;
		}
	}
	.form_list{
		margin-top:24px;
	}
	.list_trade{
		margin-top:32px;
		> li{
			padding:20px;
			border:1px solid $COL_gs06;
			&:not(:first-of-type){
				margin-top:20px;
			}
			.title{
				@include fontH(20);
			}
			.list_info{
				margin-top:16px;
				li{
					color:$COL_gs03;
					@include fontT(14);
					&:not(:first-of-type){
						margin-top:4px;
					}
				}
			}
		}
		.group_amount{
			margin-top:16px;
			padding:12px 16px;
			background:$COL_gs08;
			.box_amount{
				display:flex;justify-content:space-between;align-items:center;
				&:not(:first-of-type){margin-top:4px;}
				.tit{
					@include fontT(15);
				}
				.price{
					display:flex;align-items:center;
					@include fontH(15);
					.num{
						@include fontHM(20);
					}
				}
			}
		}
	}
	.group_terms{
		margin-top:32px;
		padding:20px;
		background:$COL_gs08;
		.list{
			margin-top:16px;
			padding-top:16px;
			border-top:1px solid $COL_gs06;
			li{
				&:not(:first-of-type){
					margin-top:16px;
				}
			}
		}
	}
	.list_addipt{
		margin-top:32px;
		> ul > li{
			&:not(:first-of-type){
				margin-top:32px;
			}
			.title{
				margin-bottom:16px;
				@include fontH(16);
			}
			.form_area{
				display:grid;grid-template-columns:repeat(2, 1fr);
				&.blank{
					grid-column-gap:8px;
				}
				.box_chkbox{
					&:not(:first-of-type){
						margin-left:-1px;
					}
					.chk_block{
						&:checked + label{
							position:relative;
						}
					}
				}
			}
		}
	}
}
.sale_caution{
	.title{
		margin-bottom:20px;
		color:$COL_gs02;
	}
}