@charset 'utf-8';

@import '../_common/h_function';
@import '../_common/h_mixins';

.info{
	.page_tit{
		@include fontHM(36);
	}
	.sub_txt{
		@include fontT(16);
		color: $COL_gs03;
		margin-top: 8px;
	}
	.form_area{
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 40px;
		.form_txt{
			@include fontH(16);
		}
		.com_select {
			min-width: 200px;
			margin-left: 16px;
			.com_select_btn{
				padding: 0 65px 0 12px;
			}
		}

	}
	.tos_container{
		padding-top:20px;
		margin-top: 20px;
		border-top: 1px solid $COL_gs06;
	}

}