@charset 'utf-8';

@import '../_common/h_function';
@import '../_common/h_mixins';

.sell_list {
	 .tab:not(.date) > .list {
		margin-top:24px;
	 }
	 .no_data {
		margin-top:40px;
	 }	
	 .product_list {
		margin-top:40px;
		.unit_type {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding:32px 0;
			border-bottom:1px solid $COL_gs06;
			&:first-child {
				padding-top:0;
			}
		}
		.mid_area {
			flex:500px 0;
			width: 500px;
		}
		.box_stat {
			flex-shrink: 0;
			width: 256px;
			text-align: center;
			.list_step {
				margin-bottom:16px;
			}
			.info_txt {
				color:$COL_gs03;
				@include fontT(14);
			}
			.date_txt {
				@include fontTM(16);
			}
		}
		+ .btn_area {
			margin-top:32px ;
		}
	 }
	 /* S ::시세확인/정보입력 */
	 .quote {
		.caution {
			margin-top:16px;
		}		
	 }
	/* E ::시세확인/정보입력 */

	 /* S ::견적/계약 */
	 .contract {
		.top_area {
			display: flex; 
			align-items: flex-start; 
			padding:20px 0 32px;
			border-bottom:1px solid $COL_gs06;
			.toggle_btn01 {
				flex-shrink: 0;
				width: 108px;
			}
			.date_result { 
				display:none;
				margin-left:32px;
				width: calc(100% - 140px);
				&.on {
					display:flex;
				}
			}
		 }
		 .total_result + .unit_type {
			padding-top:16px;
		 }
	 }
	 /* E ::견적/계약 */
}

/* S:: 중고차 판매계약 */
.car_trade {
	.cont_box {
		margin-top:24px;
		padding:40px;
		border:1px solid $COL_gs06;
		& + .btn_area {
			margin-top:32px;
		}
	}
	section {
		&:not(:first-child) {
			margin-top:40px;	
			padding-top:40px;
			border-top:1px solid $COL_gs06;
		}
		.sec_tit {
			&.m {
				margin-bottom:20px;
				.name {
					position:relative;
					padding-left:17px;
					margin-right:auto;
					color:$COL_gs03;
					@include fontT(16);
					&::before {
						content: '';
						@include Pos($p:absolute, $l:8px,$t:50%);
						margin-top:-7px;
						width: 1px; height: 14px;
						background:$COL_gs05;						
					}
				}
				.sub_txt {
					color:$COL_secondary1;
					@include fontTM(18);
				}
				& + .s {
					margin-top:0;
				}
			}
			&.s {
				margin:40px 0 12px;
			}
			+ .item {
				margin-top:0;
			}
		}
		&.bank_box {
			.list_type01 {
				display: flex;
				align-items: center;
				.bank {
					display: flex;
					align-items: center;
					@include fontTM(15);
					em {
						margin-left: 4px;
					}
					.logo {
						margin-right: 12px;
						width: 30px; height: 30px;
					}
				}
				.bank_name {
					@include fontTM(15);
					position: relative;
					padding-left: 25px;
					&::before {
						content:'';
						@include Pos($p: absolute, $t: 50%, $l: 12px);
						transform: translateY(-50%);
						width: 1px;
						height: 12px;
						background-color: $COL_gs05;
					}
				}
				.btn_xsmall {
					margin-left: auto;
				}
			}
		}
		.bg_box {
			padding:20px;
			background:$COL_gs08;
		}
		.form_list.type01 {
			.bg_box {
				width: 100%;
				display:flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.terms {
			margin-top:40px;
		}
		.end_terms {
			margin-top:40px;
			padding-top:16px;
			border-top:1px solid $COL_gs06;
			.sub_txt {
				margin-top:4px;
				padding-left:32px;
				color:$COL_gs03;
				@include fontT(14);
			}
		}
		.caution {
			margin-top:16px;
			& + .form_list {
				margin-top:16px;
			}
		}
		.setting {
			li {
				display: flex;
				justify-content: space-between;
				margin-top:8px;
				.snippet {
					flex:1 1;
					width: 50%;
					.position {
						@include fontH(16);
					}
					.name {
						margin-left:4px;
						@include fontHM(16);
					}
				}
				.form_area {
					flex:1 1;
				}
			}
		}
	}
}
/* E:: 중고차 판매계약 */

/* S:: 차량평가결과 */
.car_result {
	.cont_box {
		margin-top:24px;
		padding:40px;
		border:1px solid $COL_gs06;
		.sec_tit {
			&.s {
				margin:20px 0 12px;
			}
		}
		.caution {
			margin-top:16px;
		}
	}
	.bg_box {
		padding:20px;
		background:$COL_gs08;
	}
	.top_txt {
		display: flex;
		align-items: center;
		span {
			@include fontH(20);
		}
		em {
			margin:0 4px;
			position:relative;
			@include fontHM(24);
			&::after {
				content:'';
				@include Pos($p:absolute, $b:0, $l:0);
				width: 100%;
				height:2px;	
				background:$COL_secondary1;
			}
		}
	}
	.info_txt {
		margin-top:32px;
		padding:40px;
		background:$COL_lightsand;
		text-align: center;
		.text {			
			@include fontTM(20);
			&::before {
				content:'';
				display:block;
				margin:0 auto 12px;
				width:60px ; height: 60px;
				background:url('./../img/my/img_car_result.png') no-repeat;
			}			
		}
		.date {
			margin-top:8px;
			color:$COL_secondary1;
			@include fontTM(18);
		}
		.list {
			margin-top:24px;
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			gap:8px;
			li {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding:0 20px;
				width: calc(50% - 4px); height: 64px;
				background:$COL_white;
				@include fontT(15);
				&::after {
					content: '';
					width: 24px; height: 24px;
					background-color:$COL_secondary1;
					background-position: center;
					-webkit-mask: url('./../img/icon/icon_ui_check02.svg') no-repeat 0 0;
					mask: url('./../img/icon/icon_ui_check02.svg') no-repeat 0 0;
				}
			}
		}
	}
	.price_list {		
		li {
			display:flex;
			justify-content: space-between;
			&.total {				
				.tit {
					color:$COL_hyundaiblue;
					@include fontHM(18);
				}
				.price {
					em {
						color:$COL_hyundaiblue;
						@include fontHM(20);
					}
				}
			}
			.tit {
				color:$COL_gs02;
			}
			.price {
				text-align: right;
				@include fontT(15);
				em {
					@include fontT(16);
					vertical-align: middle;
				}
			}
			& + li {
				margin-top:12px;
			}
		}		
	}
	.data_list {
		li {
			display:flex;
			.tit {
				flex: 176px 0;
				width: 176px;
				color:$COL_gs03;
			}
			.data {
				flex:1 1;
				color:$COL_gs02;
				.name {
					position:relative;
					padding-right:17px;
					@include fontTM(16);
					&::after {
						content:'';
						@include Pos($p:absolute, $r:8px, $t:50%);
						margin-top:-7px;
						width: 1px; height:14px ;
						background: $COL_gs05;
					}
				}
				&.point {
					color:$COL_hyundaiblue;
					@include fontTM(16);
				}
				&.end {
					@include fontTM(16);
				}
			}
			& + li {
				margin-top:12px;
			}
		}
	}
}
/* E:: 차량평가결과 */

/* S:: 내차팔기 상세 */ 
.order_detail {
	.order_info {
		.order_no {
			[class^="flag_"] {
				& + [class^="flag_"] {
					margin-left:4px;
				}
			}
		}
		.unit_type {
			margin-top:32px;
		}	
	}
	.product_box {
		.order_step {
			> .txt {
				p .point02 {
					@include fontTM(16);
				}
			}
			.bg_box.list_type {
				width: 560px;
				text-align: left;
				.list_tit {
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-flow:row wrap;
					@include fontHM(16);
					.desc {
						padding-bottom:16px;
						margin:8px 0 16px;
						width: 100%;
						color:$COL_gs03;
						border-bottom:1px solid $COL_gs06;
						@include fontT(16);
					}
				}
				.list {
					margin-top:16px;
					li {
						display:flex;
						align-items: flex-start;
						@include fontT(14);
						& +li {
							margin-top:8px;
						}
						.tit {
							flex-shrink: 0;
							margin-right:20px;
							width: 156px;
							color:$COL_gs03;							
						}
						.txt {
							align-self: flex-start;
							flex:1 1;
							color:$COL_gs02;
							em {
								font-weight: 500;
							}
						}
					}
				}
			}
			.bg_box.txt_type {
				[class^="txt_btn"].icon_dowm {
					margin-top:16px;
				}
			}
			strong.txt_date {
				display: block;
				margin-top:24px;
				color:$COL_hyundaiblue;
				@include fontHM(18);
			}
		}
	}
	.info_box {
		.sec_tit {
			&.m {
				.info {
					display: flex;
					@include fontT(16);
					align-items: center;
					color:$COL_gs02;
					.discount {
						padding:0 4px;
						color:$COL_hyundaiblue;
						@include fontH(16);
						em {
							@include fontHM(20);
							vertical-align: middle;
						}
					}
				}
			}
		}
		.trade_in {  // 트레이드인
			border-top:1px solid $COL_gs06;
			.info_txt {
				margin-top:20px;
				color:$COL_gs02;
			}
			.bg_box {
				margin-top:12px;
				.list_tit {
					color:$COL_gs02;
					@include fontHM(18);
					padding-bottom:20px;
					margin-bottom:20px;
					border-bottom:1px solid $COL_gs06;
				}
				.list_type01 {
					.txt {
						.info {
							display:flex;
							.price {
								@include fontT(15);
								em {
									@include fontTM(16);
									vertical-align: middle;
								}							
							}
							.sub_txt {
								position: relative;
								padding-left: 17px;
								&::before {
									content:'';
									@include Pos($p: absolute, $t: 50%, $l: 8px);
									transform: translateY(-50%);
									width: 1px;
									height: 12px;
									background-color: $COL_gs05;
								}
								.txt_discount {
									padding:0 4px;
									color:$COL_hyundaiblue;
									@include fontH(16);
									em {
										@include fontHM(20);
										vertical-align: middle;
									}
								}
							}
						}
					}
				}
			}
		}	
	}	
	.bank_box {
		.sec_tit {
			&.m {
				&:not(:first-child) {
					margin-top:40px;
				}
			}
		}
	}
}
/* E:: 내차팔기 상세 */ 