
.faq_search{
	width:100%;
	height:60px;
	padding:12px 0 0 25px;
	background:$COL_Light;
	position:relative;
	.ipt_sch{
		width:calc(100% - 60px);
		height:34px;
		padding:2px 10px;
		border:1px solid $COL_Gray03;
		background:$COL_White;
		color:$COL_Gray08;
		@include Mix_Font('Head-R', 14, 32);
	}
	.ic_search{// header - 검색 - 검은색
		display:block;
		position:absolute;
		top:50%;
		right:20px;
		transform:translateY(-50%);
		width:30px;
		height:30px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			margin:0 auto;
			@include Mix_Layout_Bg;
			background-position:-51px -27px;
		}
	}
}

.noData{
	display:block;
	padding:40px 60px;
	text-align:center;
	&::before{
		content:'';
		display:block;
		width:47px;
		height:42px;
		margin:12px auto 25px;
		@include Mix_Layout_Bg;
		background-position:0 -106px;
	}
	.tit{
		margin-bottom:8px;
		color:$COL_Gray08;
		@include Mix_Font('Txt-M', 16, 24);
	}
	.txt{
		color:$COL_Gray05;
		@include Mix_Font('Txt-R', 14, 21);
		word-break:keep-all;
	}
}


.faq_list{
	.sorting{
		padding:15px 20px;
		border-bottom:1px solid $COL_Gray04;
		.tit{
			color:$COL_Gray08;
			@include Mix_Font('Head-M', 14, 24);
			em, i{
				color:$COL_Blue02;
				@include Mix_Font('Head-R', 12, 18);
			}
		}
	
	}
	.list{
		margin-bottom:20px;
		background:$COL_White;
		&:last-of-type{
			margin:0;
		}
		li{
			position:relative;
			border-bottom:1px solid $COL_Gray02;
			.cont{
				display:none;
				background:$COL_Light;
				padding:20px;
				@include Mix_Font('Txt-R', 12, 20);

			}
			&.on{
				.btn_faq{
					color:$COL_Gray08;
					@include Mix_Font('Txt-M', 14, 20);
				}
			}
		}
	}
}
.btn_noti,
.btn_faq{
	display:block;
	width:100%;
	padding:10px 40px 10px 20px;
	color:$COL_Gray07;
	@include Mix_Font('Txt-R', 14, 20);
	text-align:left;
	&.on{
		color:$COL_Gray08;
		@include Mix_Font('Txt-M', 14, 20);
		&::after{
			transform:rotate(-180deg);
		}
	}
	&::after{
		content:'';
		display:block;
		position:absolute;
		top:15px;
		right:20px;
		width:15px;
		height:10px;
		@include Mix_Library_Bg;
		background-position:-87px 0;
	}
}


.notice{
	li{
		position:relative;
		border-bottom:1px solid $COL_Gray02;
		.date{
			display:block;
			margin-top:5px;
			@include Mix_Font('Txt-R', 13, 20); 
			color:$COL_Gray07;
		}
		
		.icon_new{
			height:18px;
			margin-left:8px;
			padding:2px 5px;	
			background-color:$COL_Blue;
			color:$COL_White;
			@include Mix_Font('Head-R', 11, 18); 
			vertical-align:middl;
		}
		.tit{
			display:block;
			@include Mix_Ellipsis01;
			color:$COL_Gray08;
			@include Mix_Font('Head-R', 16, 20); 
		}
	}
	.write_anchor{
		display:block;
		width:100%;
		padding:25px 21px;
		text-align:left;
		.title{
			display:flex;
			align-items:center;
			i[class^="icon_"]{
				display:block;
			}
		}
	}
}

/* 공지사항 상세 */
.notice_detail{
	display:flex;
	flex-direction:column;
	height:calc(100% - 60px);
	.box_scroll{
		overflow-y:auto;
		-webkit-overflow-scrolling:touch;
	}
	.top{
		position:relative;
		padding:10px 20px 15px;
		border-bottom:1px solid $COL_Gray02;
		> span{
			display:block;
		}
		.tit{
			display:block;
			@include Mix_Font('Head-M', 16, 20); 
			word-break:keep-all;
		}
		.date{
			margin-top:4px;
			@include Mix_Font('Txt-R', 13, 20);
			color:$COL_Gray07; 
		}
	}
	.detail_cont{
		margin:20px 0 0;
		padding:0 20px 40px;
		@include Mix_Font('Txt-R', 13, 21);
		color:$COL_Gray08;
	}
	.post_list{
		margin-top:auto;
		border-top:1px solid $COL_Gray02;
		li{
			display:flex;
			align-items:center;
			width:100%;
			padding:20px 20px;
			border-top:1px solid $COL_Gray02;
			&:first-child{
				border-top:0;
			}
		}
		span{
			display:inline-block;
			flex-shrink:0;
			padding-right:10px;
			@include Mix_Font('Txt-R', 12, 18); 
			color:$COL_Gray07;
		}
		.btn_post{
			display:block;
			text-align:left;
			@include Mix_Font('Head-R', 14, 18); 
			@include Mix_Ellipsis01;
			&:disabled{
				background:transparent !important;
				color:$COL_Gray05;
				pointer-events:none;
			}
		}
	}
}
