.term_wrap{
	padding:20px;
	.p_wrap &{
		height:400px;
		padding-bottom:70px;
	}
	.select{
		margin:0 0 20px;
	}
}

.select{
	border:1px solid $COL_Gray02;
	width:100%;
	height:50px;
	padding:2px 0 0 0 ;
	@include Mix_Select_Bg01;
	select{
		width:100%;
		padding:0 34px 0 20px;
		border:0;
		background-color:transparent;
		color:$COL_Gray08;
		@include Mix_Font('Txt-R', 15, 46);
		outline:none;
		text-align:left;
		&:disabled {
			background-image:url('../img/bg_select01_disabled.png');
			color:$COL_Gray05;
		}
	}
	&.sub{
		margin-top:-1px;
	}	
}
.agree_box01{//서비스 이용약관 inc_agree01
	> dl.dep_01{
		> dt{
			margin-bottom:8px;
			color:$COL_Gray08;
			@include Mix_Font('Txt-M', 12, 20);
		}
		> dd{
			margin-bottom:20px;
			color:$COL_Gray07;
			@include Mix_Font('Txt-R', 12, 20);
			word-break:keep-all;
		}
	}
	> dl.dep_02{
		> dt{
			color:$COL_Gray08;
			@include Mix_Font('Txt-M', 12, 20);
		}
		> dd{
			&.tb{
				padding-left:0;
			}
			padding:5px 0 20px 14px;
			color:$COL_Gray07;
			@include Mix_Font('Txt-R', 12, 20);
			word-break:keep-all;
		}
	}
	.agree_ol01{
		li{
			text-indent:-18px;
			padding-left:18px;
			&:not(:first-of-type){
				margin-top:5px;
			}
			&.tb01{
				.agree_tb01{
					margin:8px 0 10px -18px;
					width:calc(100% + 18px);
				}
			}
		}
	}
	.agree_tb01{
		width:100%;
		table-layout:fixed;
		th{
			padding:8px;
			border:1px solid #ccc;
			background:#f4f4f4;
			color:$COL_Gray08;
			@include Mix_Font('Txt-M', 12, 20);
		}
		td{
			padding:8px;
			border:1px solid #ccc;
			color:$COL_Gray07;
			@include Mix_Font('Txt-R', 12, 20);
		}
	}
	.txt_01{
		margin-top:20px;
	}
	.txt_02{
	}
	.txt_03{
		margin-bottom:20px;
		color:$COL_Gray07;
		@include Mix_Font('Txt-R', 12, 20);
	}
	.txt_04{
		margin-top:3px;
		text-indent:-8px;
		padding-left:-8px;
	}
}
