
.mypage_tit{
	padding:30px 20px 0;
	.name{
		display:block;
		margin:0 0 10px;
		color:$COL_Gray08;
		@include Mix_Font('Head-R', 26, 34);
		strong{
			@include Mix_Font('Head-B', 26, 34);
		}
	}
}

.mypage_box{
	margin:0 20px 40px;
	background-color:$COL_White;
	border:1px solid $COL_Gray03;
	box-shadow:0px 0px 5px rgba($COL_Gray08,0.015);
	
	.m_today{
		padding:15px 0;
		position:relative;
		border-bottom:1px solid $COL_Gray02;
		span{
			padding-left:20px;
			color:$COL_Gray08;
			@include Mix_Font('Head-B', 16, 18);
		}
		.btn_txt06{
			position:absolute;
			top:15px;
			right:20px;
			&::after{
				display:none;
			}
		}
	}
	.m_list{
		display:flex;
		justify-content:center;
		align-items:center;
		li{
			flex:1;
			text-align:center;
			a{
				display:block;
				position:relative;
				height:100%;
				padding:20px 0;
				text-align:center;
				span{
					display:block;
					&.num{
						color:$COL_Blue02;
						@include Mix_Font('Head-M', 20, 25);
					}
					&.txt{
						margin-top:5px;
						color:$COL_Gray08;
						@include Mix_Font('Head-R', 14, 18);
					}
				}
				&::before{
					content:'';
					position:absolute;
					top:50%;
					left:0;
					width:1px;
					height:48px;
					background-color:$COL_Gray02;
					transform:translateY(-50%);
				}
			}
			&:first-child a::before{
				display:none;
			}
		}
	}
	.m_expected {
		padding:15px 0;
		position:relative;
		border-top:1px solid $COL_Gray02;
		span{
			padding-left:20px;
			color:$COL_Gray08;
			@include Mix_Font('Head-B', 16, 18);
		}
		.btn_txt06{
			position:absolute;
			top:15px;
			right:20px;
			&::after{
				display:none;
			}
		}
	}
}

.mypage_list{
	padding:0 20px 40px;
	h4.tit{
		padding:0 0 10px;
		color:$COL_Gray08;
		@include Mix_Font('Head-M', 16, 25);
	}
	.list{
		position:relative;
		padding:0 0 20px;
		overflow:hidden;
		.swiper-wrapper .swiper-slide{
			width:100%;
			margin-right:15px;
			&:last-child{
				margin-right:0;
			}
		}
	}
}

.mypage_link{
	margin-top:8px;
	padding:5px 0 0;
	border-top:solid 1px #f2f2f2;
	li{
		padding:0 20px;
		> a{
			display:block;
			position:relative;
			padding:15px 0;
			border-bottom:solid 1px $COL_Gray02;
			color:$COL_Gray08;
			@include Mix_Font('Head-M', 14, 20);
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:50%;
				right:0;
				width:7px;
				height:12px;
				transform:translateY(-50%);
				@include Mix_Library_Bg;
				background-position:-47px 0;
			}
		}
	}
}
.unit_work01{
	display:block;
	border-radius:5px;
	border:1px solid $COL_Gray03;
	box-shadow:0px 0px 5px rgba($COL_Gray08,0.07);
	padding:15px;
	> .top{
		position:relative;
		margin-bottom:10px;
		.btn_txt07{
			font-size:13px;
			position:absolute;
			right:0;
			top:2px;
		}
		> span{
			display:inline-block;
			margin-right:5px;
		}
		.tit{
			color:$COL_Gray07;
			@include Mix_Font('Txt-M', 14, 25);
		}
		.day{
			color:$COL_Gray07;
			@include Mix_Font('Txt-M', 14, 25);
			
		}
		.name{
			color:$COL_Gray07;
			@include Mix_Font('Txt-M', 14, 25);
			
		}
	}
	> .mid{
		margin:0 0 10px;
		> span{
			display:block;
		}
		.add{
			padding:0 20px 3px 0;
			color:$COL_Gray08;
			@include Mix_Font('Head-M', 15, 20);
			word-break: keep-all;
		}
		.status{
			color:$COL_Gray06;
			@include Mix_Font('Txt-R', 12, 20);
			i{
				color:$COL_Gray08;
				@include Mix_Font('Txt-M', 12, 20);
			}
		}
	}
	> .btn{
		display:flex;
		justify-content:space-between;
		column-gap:5px;
		&.end{
			.btn_middle01{
				flex:0 0 100%;
			}
		}
		&.add{
			.btn_middle01{
				flex:0 0 calc(100% - 55px);
			}
		}
		.btn_middle02{
			flex:0 0 50px;
		}
		.btn_middle01{
			flex:0 0 calc((100% - 60px)/2);
		}
		
	}

	a {
		display:block;
		> .top{
			position:relative;
			margin-bottom:10px;			
			> span{
				display:inline-block;
			}
			.state,
			.tit{
				color:$COL_Gray07;
				@include Mix_Font('Txt-M', 14, 20);
			}
			.day{
				color:$COL_Gray07;
				@include Mix_Font('Txt-M', 14, 25);
				
			}
			.name{
				color:$COL_Gray07;
				@include Mix_Font('Txt-M', 14, 25);
				
			}
		}
		> .mid {			
			.add{
				padding:0 0 3px 0;
				color:$COL_Gray08;
				@include Mix_Ellipsis(2);
				@include Mix_Font('Head-M', 15, 20);
			}
			.date{
				color:$COL_Gray06;
				@include Mix_Font('Txt-R', 12, 20);
			}
		}
	}
}



// 업무요청 레이어 팝업
.work_request{
	.CPOpop_modal{
		max-height:500px;
		overflow-y:auto;

	}
	padding:20px 20px 130px;
	h6.tit{
		margin:0 0 10px;
		color:$COL_Gray08;
		@include Mix_Font('Head-M', 16, 25);
	}
	> ol{
		> li{
			margin-bottom:10px;;
		}
	}
	.textarea_01{
		padding:15px;
	}
	span.tit{
		display:block;
		color:$COL_Gray08;
		@include Mix_Font('Txt-M', 14, 25);
		&.base{
			&::after{
				content:'*';
				display:inline-block;
				color:$COL_Red;
			}
		}
	}
	.txt{
		display:block;
		color:$COL_Gray08;
		@include Mix_Font('Txt-R', 14, 25);
	}
	.txt_box{
		position:relative;
		display:block;
		padding:7px 20px;
		border:1px solid $COL_Gray02;
		color:$COL_Gray08;
		@include Mix_Font('Txt-R', 14, 25);
		&.sub{
			margin-top:-1px;
		}
		.date-picker{
			position:relative;
			width:100%;
			border:0;
			color:$COL_Gray08;
			@include Mix_Font('Txt-R', 14, 34);
			background:transparent url('../image/bg_calendar.png') no-repeat right;
			background-size:20px 20px;
		}
		.tit{
			@include Mix_Font('Head-M', 12, 25);
		}
		.btn_small01{
			position:absolute;
			top:7px;
			right:20px;
			border-radius:4px;
		}
		&.disabled {
			color:$COL_Gray05;
			.tit {
				color:$COL_Gray05;
			}
		}
	}
	.msg{
		margin-top:8px;
		color:$COL_Gray06;
		@include Mix_Font('Txt-R', 12, 25);
	}
}