// 아이콘 스타일 

@import '../_common/n_function';
@import '../_common/n_mixins';
/* DatePicker Container */
.ui-datepicker{
	display:none;
	width:calc(100% - 42px);
	position: fixed !important;
	z-index: 1000 !important;
	top:50% !important;
	left:21px !important;
	height:auto;
	padding:30px 0;
	background-color:$COL_White;
	transform:translateY(-50%);
	a{
		text-decoration:none;
	}
	table{
		width:calc(100% - 32px);
		margin:30px 16px 0;
	}
	thead{
		background-color:$COL_Light;
	}
	th{
		padding-bottom:20px;
		background-color:$COL_White;
		color:$COL_Gray08;
		@include Mix_Font('Head-R', 14, 18);
	}
	tbody{
		td{
			padding-bottom:6px;
			text-align:center;
			&:last-child{
				border-right:0px;
			}
			span, a{
				display:inline-block;
				width:35px;
				height:35px;
				border-radius:100%;
				color:$COL_Gray08;
				@include Mix_Font('Head-M', 15, 35);
				text-align:center;
			}
		}
	}
	.ui-datepicker-buttonpane {
		height: 52px;
	}
	button.ui-datepicker-current{
		display:none;
	}
	button.ui-datepicker-close{
		width:100%;
		height:52px;
		margin-top:24px;
		color:$COL_White;
		@include Mix_Font('Head-R', 15, 52);
		background-color: $COL_Blue;
	}
	.btnclose,
	button.ui-datepicker-del{
		display:block;
		position:absolute;
		right: 15px;
		top: 18px;
		width:24px;
		height:24px;
		margin: 0;
		@include Mix_Library_Bg;
		background-position:0 0;
		@include Mix_Size_0;
	}
}
.ui-datepicker-header{
	background:$COL_White;
	color:$COL_Gray08;
	@include Mix_Font('Head-M', 18, 24);
}
.ui-datepicker-calendar{
	@include Mix_Font('Txt-R', 15, 18);
	.ui-state-active{
		position:relative;
		margin:-1px;
		background:$COL_Blue!important;
		color:$COL_White !important;
	}
	td{
		&:first-child .ui-state-active{
			margin-left:0;
		}
		&:last-child .ui-state-active{
			margin-right:0;
		}
	}
}
.ui-datepicker-today span{
	background:$COL_Gray02 !important;
	color:$COL_Gray07 !important;
	font-family:'HynSans_Head-M' !important;
}
.ui-datepicker-title{
	text-align:center;
}
.ui-datepicker-prev, .ui-datepicker-next{
	display:inline-block;
	width:30px;
	height:30px;
	text-align:center;
	background-image:url('../img/arrow.png');
	background-repeat:no-repeat;
	line-height:600%;
	overflow:hidden;
	cursor:pointer;
}
.ui-datepicker-prev{
	float:left;
	width:7px;
	height:12px;
	margin:6px 0 0 30px;
	@include Mix_Library_Bg;
	background-position:-27px -29px;
}
.ui-datepicker-next{
	float:right;
	width:7px;
	height:12px;
	margin:6px 30px 0 0;
	@include Mix_Library_Bg;
	background-position:-27px -29px;
	transform:rotate(180deg);
}
.ui-datepicker-unselectable .ui-state-default{
	color:$COL_Gray05;
	@include Mix_Font('Head-R', 15, 35);
}
button.ui-datepicker-trigger{
	position:absolute;
	top:50%;
	right:20px;
	width:24px;
	height:24px;
	//@include Mix_Order_Bg(-52px -36px);
	font-size:0;
	transform:translateY(-50%);
}
.date_dimm{
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	width:100%;
	height:100%;
	background-color:rgba($COL_Gray08, 0.7);
}