/* S : 중개매매 상품 목록 */
.cpo_product {
	position:relative;
	display:flex;
	width: 100%;
	.srch_cont {
		width:350px;
		box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);		
	}
	.srch_list {
		> li {
			border-top:1px solid #f2f2f2;
			border-bottom:1px solid $COL_Gray02;
		}
		.tit {			
			position:relative;
			padding:25px 21px;
            .btn_tit {
                position:relative;
                display:block;
                width: 100%;
                text-align: left;
                @include Mix_Font('Head-M', 14, 18);
                &::after{
                    content:'';
                    display:block;
                    position:absolute;
                    top:5px;
                    right:0px;
                    width:15px;
                    height:10px;
                    @include Mix_Library_Bg;
                    background-position:-87px 0;
                    transition:transform 0.5s;
                }
            }
            &.on{
                .btn_tit {
                    &::after{
                        transform:rotate(-180deg);
                    }
                }
                & + .cont {
                    display:block;
                }                                
            }
            span {
                position:absolute;
                top:50%;
                left:90px;
                transform: translateY(-50%);
                width: 210px;
                @include Mix_Ellipsis01
            }
		}
		.cont {
            display:none;
			padding:0 21px 15px 21px;
            .sub_tit {
                margin-bottom:5px;
                @include Mix_Font('Txt-R', 14, 18);
            }
            .btn_list {
                display:flex;
                flex-flow:row wrap;                
                gap :10px 10px;
                li {
                    width: calc((100% - 10px) / 2);
                }
            }
            // 소재지내 지역 선택
            .list_local {
                max-height:200px;
                @include Mix_Overflow_Y;
                margin-bottom:15px;
                li {
                    margin:10px 0;
                    &.on {
                        .depth2 {
                            display:block;
                        }
                    }
                }
                .depth2 {
                    padding-left:35px;
                    display:none;
                }
            }
		}
	}
	.contents {
        position:relative;
        flex:1;
        padding:100px 20px 0 20px;
		width: calc(100% - 300px);
	}        
    // 슬라이더
    .cpo_range{        
        padding:15px 0 0 0;
        .amountArea{
            visibility:hidden;
        }
        .cpoRange{
            position:relative;
            width:calc(100% - 22px);
            height:2px;
            margin-left:10px;
            background:$COL_Gray02;
            .ui-slider-range{
                position:absolute;
                top:0;
                z-index:1;
                display:block;
                height:100%;
                background:$COL_Blue02;
                border:0;
            }
            .ui-slider-handle{
                z-index:2;cursor:default;-ms-touch-action:none;touch-action:none;outline:none;
                width:24px;
                height:24px;
                background:$COL_White;
                border:2px solid $COL_Blue02;
                border-radius:100%;
                position:absolute;
                top:-11px;
                -webkit-box-shadow:2px 2px 6px 0px rgba(50, 50, 50, 0.3);
                -moz-box-shadow:   2px 2px 6px 0px rgba(50, 50, 50, 0.3);
                box-shadow:        2px 2px 6px 0px rgba(50, 50, 50, 0.3);
                &:nth-child(2){
                    left: 0;
                    margin-left:-11px;
                }
                &:nth-child(3){
                    left: 100%;
                    margin-left:-11px;
                }
            }
            .amountArea{
                visibility:hidden;
            }
            .min_no,
            .max_no{
                display:block;
                width:100px;
                position:absolute;
                top:20px;
                color:$COL_Gray05;
                @include Mix_Font('Txt-R', 12, 18);
            }
            .min_no{
                left:-11px;
                text-align:left;
            }
            .max_no{
                right:-11px;
                text-align:right;
            }
        }
    }      

    .sort_box {
        display:flex;
        align-items: center;
        justify-content: end;
        .data_num{
            margin-right:auto;
            color:$COL_Gray08;
            @include Mix_Font('Head-M', 17, 21);           
            em{
                color:$COL_Blue02;
                @include Mix_Font('Head-M', 14, 18);
            }
        }
        .select {
            margin-left:15px;
            width:145px;
        }
    }
    .array_list {
        display:flex;
        gap:0 20px;
    }
    .btn_sorting{       
        display:flex;
        align-items:center;
        > li{
            margin-left:10px;
            position:relative;
            opacity:0.5;
            &.on{
                opacity:1;
                .sorting_layer{
                    display:block;
                }
            }
        }        
        .btn_list{
            overflow:hidden;
            @include Mix_Size_0;
            width:24px;
            height:24px;
            &::before{
                content:'';
                display:block;
                width:20px;
                height:20px;
                margin:0 auto;
                @include Mix_Display_Bg;
                background-position:-84px -28px;
            }
            
        }
        .btn_thumb{
            overflow:hidden;
            width:24px;
            height:24px;
            @include Mix_Size_0;
            &::before{
                content:'';
                display:block;
                width:20px;
                height:20px;
                margin:0 auto;
                @include Mix_Display_Bg;
                background-position:-59px -28px;
            }
        }
    }

    .product_list {
        margin:15px 0 30px;
        /* 상품유닛 */
		.unit_link{
            .unit_img {
                position:relative;
                border:1px solid $COL_Gray03;
                img {
                    width: 100%;
                }
                .text_flag {
                    position:absolute;
                    top:-1px;
                    left:-1px;
                }
            }
			.unit_info{
				.model {
					color:$COL_Black;
                    @include Mix_Font('Head-M', 18, 22);
				}
                .desc {
                    margin-top:10px;
                    @include Mix_Font('Head-R', 14, 18);
                    em:not(:last-of-type) {
                        &::after {
                            content:'|';
                            display:inline-block;
                            margin:0 5px;
                        }
                    }
                }
                .adress {
                    @include Mix_Font('Head-R', 14, 18);
                }
                .price {  
                    @include Mix_Font('Head-R', 14, 22);
                    em {
                        margin-left:5px;
                        @include Mix_Font('Head-M', 18, 22);
                        color:$COL_Gray08;
                    }
                }
			}			
		}		
		li {
			&:not(:first-child) {
				margin-top:30px;
			}
		}

		&.thumb {
			display: flex;
			flex-wrap: wrap;
			gap:50px 15px;

			li{
				margin-top:0;
				width:calc((100% - 60px) / 5);				
			}
            /* 상품유닛 */
            .unit_link{
                .unit_info{
                    margin-top:15px;
                    .desc {
                        em {
                            &:first-child,
                            &:last-child {
                                display:none;
                            }
                            &:nth-last-child(2) {
                                &::after {
                                    display:none;
                                }
                            }
                        }                        
                    }
                    .model{
                        max-height:52px;
                        @include Mix_Ellipsis(2);
                    }
                    .adress {
                        display:none;
                    }
                    .price {
                        margin-top:15px;
                    }
                }					
            }
		}
		&.list {           
			li{
                display:flex;                
                width: 100%;
				padding:0;
                border:1px solid $COL_Gray02;
			}			
            .unit_link {
                width: 100%;
                display:flex;
				padding:15px;
                .unit_img {
                    width: 200px;
                    height: 200px;
                }
                .unit_info {
                    display:flex;
                    justify-content:space-between;
                    align-items: center;
                    flex:auto;
                    margin-left:20px;
                    .name {
                        max-width: 600px;
                    }
                    .model {

                    }
                    .desc {
                        margin-top:5px;
                        em {
                            &:first-child,
                            &:last-child {
                                display:inline-block;
                            }                           
                        }                        
                    }
                    .adress {
                        display:block;
                        margin-top:5px
                    }
                    .price {
                        display:flex;
                        flex-flow:column wrap;
                        text-align:right;
                        .money {
                            margin-top:5px;
                            order:2;
                        }
                        .time {
                            order:1;                            
                        }
                    }
                }
               
			}
		}
    }
}


/* E : 중개매매 상품 목록 */
