@charset "UTF-8";
/* 메인 */

@import '../_common/hi_function';
@import '../_common/hi_mixins';

/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height)
ex) @include Mix_Font('Head-M', 18, 23); */

@mixin Mix_Center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@function vh($px) {
	$vh: calc($px / 736 * 100);
	@return $vh + vh;
}

.no_scroll {
	// 브라우저 상하단 바운스 막기 위해
	position: fixed;
	overflow: hidden;
}
#HIheader {
	.h_header {
		&_main {
			z-index: 1;
			width: 100%;
			@include Mix_Icon_White;
			.tit {
				text-align: center;
				color: $COL_White;
				width: 100%;
			}
			&.reverse {
				@include Mix_Icon_Black;
				transition: background-image 1s;
				.tit {
					color: $COL_Black;
					transition: color 1s;
				}
			}
		}
	}
}
#HIcontents.HI_main > div:last-child:not(.btn_sticky) {
	padding-bottom: inherit;
}
.HI_main {
	* {
		user-select: none;
	}
	.main {
		&_intro {
			@include Pos($p: fixed, $a: 0, $z: 1);
			@include Mix_Center;
			&::after {
				@include Pos($p: fixed, $b: 30px, $l: 50%);
				content: '';
				display: block;
				width: 20px;
				height: 40px;
				transform: translateX(-50%);
				opacity: 0;
				background: $COL_Primary url('/HILAB/m/img/main/icon_main01.png')
				no-repeat 0 0 / 150px auto;
				background-position: -124px -4px;
			}
			&_end {
				&::after {
					z-index: 100;
					opacity: 1;
					transition: opacity 0.2s;
				}
				&.hidden {
					opacity: 0;
					transition: opacity 0.3s;
					z-index: inherit;
				}
			}
			&.skip_page {
				.intro_bg1 {
					background: $COL_Primary url('/HILAB/m/img/main/bg_skip.png')
						no-repeat -70px 40vh;
					}
			}
			.skip_btn {
				opacity: 0;
				@include Pos($p: fixed, $t: 70px, $r: 21px, $z: 100);
				padding-right: 20px;
				color: $COL_White;
				&.show {
					opacity: 1;
					transition: opacity 0.7s;
				}
				&.hidden {
					opacity: 0;
					z-index: -1;
				}
				&::before {
					content: '';
					display: inline-block;
					@include Pos($p: absolute, $r: 0, $t: 6px);
					width: 6px;
					height: 11px;
					background: url('/HILAB/m/img/main/icon_main01.png') no-repeat 0 0 /
						150px auto;
					background-position: -113px -4px;
				}
				&::after {
					content: '';
					display: inline-block;
					@include Pos($p: absolute, $r: 7px, $t: 6px);
					width: 6px;
					height: 11px;
					background: url('/HILAB/m/img/main/icon_main01.png') no-repeat 0 0 /
						150px auto;
					background-position: -113px -4px;
				}
			}
			&_video > div {
				@include Pos($p: fixed, $l: 0, $r: 0, $b: 0, $z: 1);
				@include Mix_Center;
				opacity: 1;
				&.top_pos {
					@include Pos($p: fixed, $l: 0, $r: 0, $t: 0, $z: 1);
					bottom: auto;
				}
				&.hidden {
					opacity: 0;
					transition: opacity 1s;
				}
				&.main_video3 {
					transform: scale(1);
					&.scale {
						transform: scale(0.7);
						transition: transform 1s;
					}
				}
			}
			&_con {
				@include Pos($p: fixed, $t: 0, $l: 0, $z: 2);
				width: 100%;
				height: 100vh;
				color: $COL_White;
			}
			&_txt1 {
				@include Pos($p: relative, $t: vh(130), $l: vh(30));
				@include Mix_Font('Head-M', 130, 130);
				color: $COL_White;
				opacity: 0;
				&.action {
					opacity: 1;
					transition: opacity 0.8s;
				}
				&.scale {
					font-size: 80px;
					line-height: 80px;
					transition: all 1.2s;
					transform-origin: 50% 50%;
				}
				&.hidden {
					opacity: 0;
					transition: opacity 0.7s;
				}
			}
			&_txt2 {
				opacity: 1;
				@include Pos($p: absolute, $t: vh(236), $l: vh(30));
				@include Mix_Font('Head-R', 18, 18);
				color: $COL_Skyblue;
				transform: translateY(0);
				opacity: 0;
				strong {
					font-size: 30px;
					line-height: 30px;
				}
				span {
					display: block;
					margin-top: 10px;
					line-height: 30px;
				}
				&.action {
					opacity: 1;
					transform: translateY(vh(10));
					transition: opacity 0.6s, transform 1s;
				}
				&.hidden {
					opacity: 0;
					transform: translateY(vh(30));
					transition: opacity 1s, transform 1.2s;
				}
			}
			&_txt3 {
				@include Pos($p: fixed, $t: vh(130), $l: vh(30));
				opacity: 0;
				color: $COL_Skyblue;
				@include Mix_Font('Txt-R', 18, 30);
				&.action {
					opacity: 1;
					transform: translateY(0);
					transition: opacity 0.8s;
				}
				&.hidden {
					opacity: 0;
					transform: translateY(-3vh);
					transition: opacity 0.8s, transform 0.7s;
				}
			}
			&_txt4 {
				@include Pos($p: fixed, $t: vh(130), $l: vh(30));
				opacity: 0;
				span {
					@include Mix_Font('Txt-R', 16, 30);
					color: $COL_Skyblue;
				}
				strong {
					display: block;
					margin-top: 16px;
					color: $COL_White;
					@include Mix_Font('Head-M', 48, 60);
				}
				&.action {
					opacity: 1;
					transition: opacity 1.5s;
				}
				&.color {
					span, strong {
						color: $COL_Blue;
						transition: color 0.8s;
					}
				}
				&.hidden {
					transform: translateY(-60vh);
					transition: transform 1s 0.2s;
				}
			}
			&.end {
				z-index: -1;
				.main_intro_video {
					display: none;
				}
				.main_intro_con {
					display: none;
				}
			}
			&_brige {
				@include Pos($p: relative, $z: 300);
				height: 30vh;
				width: 100%;
				opacity: 1;
				// background-color: $COL_Blue;
				@include Mix_Font('Head-R', 34, 43);
				&.bg-change {
					// background-color: $COL_White;
					// transition: background-color .3s;
				span, strong {
					color: $COL_Black;
				}
				}
				span {
					display: block;
					color: $COL_White;
					transition: color .3s;
				}
				strong {
					display: block;
					margin-top: 10px;
					color: $COL_White;
					transition: color .3s;
				}
				.bg_trend {
					// &::before {
					// 	@include Pos($p: absolute, $r: 0px, $t: -30px, $z: 10);
					// 	content: '';
					// 	display: block;
					// 	width: 330px;
					// 	height: 340px;
					// 	opacity: 0;
					// 	background: url('/HILAB/m/img/main/img_sell.png') no-repeat 80px 0 / 100%;
					// 	transition: opacity .4s, top .4s;
					// }
					&.show {
						&::before {
							opacity: 1;
							top: -85px;
						} 
					}
				}
			}
			}
			&_contents {
				@include Pos($p: relative);
				padding-top: 100vh;
				background-color: $COL_White;
				overflow: hidden;
				.scroll-spy {
					opacity: 0;
					transform: translateY(2vh);
					transition: opacity .3s, transform .3s;
					&-1 { // 타이밍 더 빠르게
						opacity: 0;
						transform: translateY(2vh);
						transition: opacity .3s, transform .3s;
						&.show {
							opacity: 1;
							transform: translateY(0);
						}
					}
					&.show {
						opacity: 1;
						transform: translateY(0);
					}
				}
		}
	}
	section {
		.con_tit {
			strong {
				@include Mix_Font('Head-R', 30, 38);
			}
			span {
				display: block;
				margin-top: 3px;
				@include Mix_Font('Head-R', 18, 23);
			}
			em {
				display: block;
				color: $COL_Blue;
				@include Mix_Font('Head-R', 14, 18);
			}
		}
		.graph {
			margin-top: 20px;
			.sell_num {
				p {
				&:first-child {
					display: flex;
					align-items: center;
					@include Mix_Font('Head-R', 24, 30);
					strong {
						@include Mix_Font('Head-M', 45, 56);
					}
				}
				}
			}
			.contrast_txt {
				color: rgba($color: #fff, $alpha: 0.5);
				@include Mix_Font('Head-R', 12, 15);
			}
			.upandown_txt {
				@include Pos($p: relative);
				display: flex;
				align-items: center;
				@include Mix_Font('Head-R', 16, 20);
				&::after {
					content: '';
					display: inline-block;
					width: 0px;
					height: 0px;
					margin: -2px 0 0 1px;
					border-left: 6px solid transparent;
					border-right: 6px solid transparent;
				}
				&.up {
					color: $COL_Orange;
					&::after {
						border-bottom: 11px solid $COL_Orange;
					}
				}
				&.down {
					color: $COL_Skyblue_01;
					&::after {
						margin-top: -1px;
						border-top: 11px solid $COL_Skyblue_01;
					}
				}
			}
			&_img {
				padding-top: 40px;
				text-align: center;
				p {
				margin-bottom: 12px;
				}
				img {
				display: inline-block;
				}
			}
			&_deal {
				display: flex;
				gap: 9px;
				margin-top: 30px;
				color: $COL_White;
				li {
					flex-grow: 1;
					padding: 14px 10px 12px;
					box-sizing: border-box;
					flex-shrink: 0;
					background-color: $COL_Blue;
					.tit {
						@include Pos($p: relative);
						width: 100%;
						margin-bottom: 12px;
						@include Mix_Font('Head-R', 13, 16);
						i {
							@include Pos($p: relative, $t: -2px);
							margin-right: 3px;
							&.icon_person {
								top: -4px;
							}
						}
					}
					.deal_num {
						margin-bottom: 10px;
						@include Mix_Font('Head-R', 12, 18);
						em {
							display: block;
							@include Mix_Font('Head-R', 18, 23);
						}
					}
					.upandown_txt {
						justify-content: flex-start;
						@include Mix_Font('Head-M', 14, 18);
					}
				}
			}
		}
	}
	// .CPO_main .main_contents .scroll-spy.show
	.main_con1 {
		@include Pos($p: relative, $t: -1px, $z: 250);
		padding: 70px 21px 0;
		background-color: $COL_Blue;
		&.bg-change {
			background-color: $COL_White;
			transition: background-color .3s;
			.con_tit {
				position: relative;
				z-index: 300;
			}
		}
		.con_tit {
			em {
				@include Mix_Font('Head-R', 12, 15);
				}
		}
		.graph {
			@include Pos($p: relative, $z: 300);
		}
		.graph_img {
			height: 190px;
		}
	}
	.main_con2 {
		@include Pos($p: relative, $z: 150);
		padding: 100px 21px 0;
		// &.show {
		// 	&::before {
		// 		transform: translateY(-123px);
		// 		opacity: 1;
		// 		transition: opacity .4s, transform .4s;
		// 	}
		// }
		// &::before {
		// 	@include Pos($p: absolute, $z: -1);
		// 	content: '';
		// 	display: block;
		// 	width: 100%;
		// 	height: 328px;
		// 	opacity: 0;
		// 	background: url('/HILAB/m/img/main/img_buy.png') no-repeat right 0 / 50%;
		// }
		.graph {
			margin-top: 20px;
			.age_percent {
				p {
				display: flex;
				align-items: center;
				@include Mix_Font('Head-R', 24, 30);
				strong {
					@include Mix_Font('Head-M', 50, 63);
				}
				em {
					display: inline-flex;
					align-items: center;
					margin-left: 5px;
					i {
					@include Mix_Font('Head-M', 35, 44);
					}
				}
				&.upandown_txt {
					@include Mix_Font('Head-R', 16, 20);
				}
				}
			}
			&_img {
				width: 270px;
				margin: 40px auto 0;
				padding-top: 0;
				border-top: 0;
				img{
					display:block;
					width:100%;
				}
			}
			.age_type {
				margin-top: 20px;
				li {
				&:nth-last-child(1),
				&:nth-last-child(2) {
					div {
						border-bottom: 0 none;
					}
				}
				}
			}
		}
		&::before {
			transform: translateY(-60px);
		}
	}
	.main_con3 {
		@include Pos($p: relative, $z: 100);
		padding: 100px 21px 31px;
		background-color: $COL_White;
		&.scroll-spy {
			transform: translateY(0);
		}
		// &.show {
		// 	&::before {
		// 			opacity: 1;
		// 		transform: translateY(-50px);
		// 	}
		// }
		// &::before {
		// 	@include Pos($p: absolute, $t: -122px, $l: 105px);
		// 	content: '';
		// 	display: block;
		// 	width: 100%;
		// 	height: 381px;
		// 	background: url('/HILAB/m/img/main/img_popular.png') no-repeat right 0;
		// 	background-size: auto 381px;
		// 	transition: opacity .4s, transform .4s;
		// }
		.con_tit {
			margin-bottom: 20px;
		}
		.con_tit,
		.slider1 .swiper-tit {
			transform: translateY(2vh);
			opacity: 0;
		}
		.swiper-container {
		.swiper-slide {
			background-color: $COL_White;
			> div {
				width: 100%;
				background: white;
			}
		}
		.swiper-tit {
			padding: 0 5px;
			strong {
				@include Mix_Font('Head-B', 18, 23);
			}
			em {
				display: block;
				@include Mix_Ellipsis01;
				@include Mix_Font('Head-L', 30, 38);
			}
			span {
				display: flex;
				align-items: center;
				@include Mix_Font('Head-R', 24, 30);
				i {
					@include Mix_Font('Head-M', 45, 56);
				}
			}
		}
		// .slide_motion_wrap {
		// 	.line_motion {
		// 		opacity: 0;
		// 		& > i {
		// 			@include Pos($p: absolute, $b: 0);
		// 			position: absolute;
		// 			bottom: 0;
		// 			&::before {
		// 				content: '';
		// 				display: block;
		// 				width: vh(12);
		// 				height: vh(100);
		// 				opacity: 0.3;
		// 				background: rgba(170, 202, 230, 0.3);
		// 				background: linear-gradient(
		// 					180deg,
		// 					rgba(170, 202, 230, 1) 30%,
		// 					rgba(255, 255, 255, 1) 70%
		// 				);
		// 			}
		// 			&::after {
		// 				@include Pos($p: absolute, $t: vh(-23), $l: vh(-2));
		// 				content: '';
		// 				display: block;
		// 				width: vh(16);
		// 				height: vh(27);
		// 				opacity: 0.5;
		// 				background: url('/HILAB/m/img/main/motion_smcar.svg') no-repeat 0
		// 					0 / 100%;
		// 			}
		// 			&.num1 {
		// 				left: 30%;
		// 			}
		// 			&.num2 {
		// 				left: 44%;
		// 			}
		// 			&.num3 {
		// 				left: 56%;
		// 			}
		// 			&.num4 {
		// 				left: 68%;
		// 				&::after {
		// 					top: vh(-30);
		// 					left: vh(-4);
		// 					width: vh(20);
		// 					height: vh(33);
		// 					opacity: 1;
		// 				}
		// 			}
		// 			&.num5 {
		// 				left: 80%;
		// 				bottom: -4%;
		// 			}
		// 		}
		// 	}
		// }
		.swiper-pagination {
			// margin-top: 17px;
			margin-top: 40px;
			opacity: 0;
		}
		&.slider2 {
			.swiper-pagination {
				opacity: 1;
			}
		}
		}
		.tab {
			@include Pos($p: relative, $z: 100);
			margin-bottom: 45px;
			&_list {
				@include Pos($p: absolute, $r: 0, $z: 5);
				display: inline-flex;
				justify-content: flex-end;
				align-items: center;
				border: 1px solid $COL_Line_Dark;
				border-radius: 16px;
				height: 32px;
				padding: 2px;
				&::before {
					display: none;
				}
				li {
					a {
						width: 50px;
						height: 26px;
						text-align: center;
						border-radius: 13px;
						color: $COL_Base_01;
						@include Mix_Font('Head-R', 14, 18);
					}
					&.on {
						a {
							color: $COL_White;
							border: 1px solid $COL_Primary;
							background-color: $COL_Primary;
							&::after {
								display: none;
							}
						}
					}
				}
			}
			&_cont {
				padding-top: 30px;
				&.action {
					.car {
						display: flex;
						justify-content: center;
						// margin-top: 81px;
						margin-top: 28px;
						img {
							@include Pos($p: relative);
							width: vh(300);
						}
					}
					&::before {
						transform: translate(20vw, -320px);
						transition: all 0.3s;
					}
					.slider1, .slider2 {
						.swiper-tit {
							transform: translateY(0);
							opacity: 1;
							transition: all 0.3s;
						}
						.car {
							img {
								transform: translateY(0);
								opacity: 1;
								transition: all 0.3s 0.5s;
							}
							// .line_motion {
							// 	opacity: 1;
							// 	transition: opacity 0.3s 0.6s;
							// 	& > i {
							// 		&.num1 {
							// 			bottom: 16%;
							// 			transition: bottom 0.3s 0.8s;
							// 		}
							// 		&.num2 {
							// 			bottom: 24%;
							// 			transition: bottom 0.5s 1s;
							// 		}
							// 		&.num3 {
							// 			bottom: 30%;
							// 			transition: bottom 0.6s 1.2s;
							// 		}
							// 		&.num4 {
							// 			bottom: 33%;
							// 			transition: bottom 1s 1.5s;
							// 		}
							// 		&.num5 {
							// 			bottom: 21%;
							// 			transition: bottom 0.7s 1.9s;
							// 		}
							// 	}
							// }
						}
						.swiper-pagination {
							opacity: 1;
							// transition: opacity 0.7s 2.3s;
							transition: opacity 0.7s;
						}
					}
				}
			}
		}
	}

	.fix_motion_wrap1 {
		position: relative;
		height: 200vh;
		background-color: $COL_Blue;
	}
	.main_con4 {
		@include Pos($p: relative, $z: 100);
		min-height: 100vh;
		background-color: $COL_Blue;
		// background-color: red;
		&.main_con4_top {
			overflow: hidden;
			// .bg_rightop {
			// 	@include Pos($p: absolute, $t: -200px, $r: -65px);
			// 	opacity: 0;
			// 	content: '';
			// 	display: block;
			// 	width: 340px;
			// 	height: 100%;
			// 	background: url('/HILAB/m/img/main/bg_howmuch_1.png') no-repeat 55px 0 /
			// 	100%;
			// }
			.con_tit {
				@include Pos($p: relative, $z: 20);
				transform: translateY(3vh);
				opacity: 0;
				transition: transform 0.4s, opacity 0.4s;
			}
			.movecar {
				@include Pos($p: relative, $t: 10px, $l: 50%, $z: 100);
				transform: translateX(100%);
			}
		}
		// .bg_howmuch {
		// 	@include Pos($p: absolute, $t: 400px, $z: 10);
		// 	width: 100%;
		// 	height: 400px;
		// 	background: url('/HILAB/m/img/main/bg_howmuch.png') no-repeat 0 0 / 100%;
		// 	transform: translateY(20vh);
		// 	opacity: 0;
		// }
		.con_tit {
			padding: 70px 21px 0;
			color: $COL_White;
			strong {
				display: block;
				margin-bottom: 5px;
				@include Mix_Font('Head-R', 24, 30);
			}
			span {
				@include Mix_Font('Head-R', 34, 43);
			}
		}
		.car_info {
			@include Pos($p: absolute, $r: 0, $t: vh(560), $z: 100);
			padding-right: 21px;
			text-align: right;
			color: $COL_White;
			opacity: 0;
			transform: translateY(2vh);
			@include Mix_Font('Head-R', 24, 30);
			strong {
				display: block;
				@include Mix_Font('Head-R', 30, 38);
			}
			&.top {
				text-align: left;
				@include Pos(
					$p: absolute,
					$l: 21px,
					$t: 90px,
					$r: auto,
					$b: auto,
					$z: 100
				);
			}
		}
		.movecar {
			width: 450px;
			img {
				width: 100%;
			}
		}
		.step2_graph {
			width: 100%;
			padding: 0 10px;
			box-sizing: border-box;
			&_refer {
				margin-bottom: 40px;
				padding: 0 10px;
				// opacity: 0;
				@include Mix_Font('Head-R', 15, 19);
				&::before {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: rgba(255, 255, 255, 0.2);
				}
				&::after {
					content: '';
					display: block;
					width: 100%;
					height: 1px;
					background: rgba(255, 255, 255, 0.2);
				}
				p {
					padding: 9px 15px;
					text-align: center;
					color: $COL_White;
					em {
						display: block;
						color: $COL_Skyblue_01;
						@include Mix_Font('Head-R', 14, 18);
					}
				}
			}
			.price {
				@include Mix_Center;
				margin-bottom: 5px;
				color: $COL_White;
				// opacity: 0;
				@include Mix_Font('Head-R', 20, 25);
				strong {
					@include Mix_Font('Head-M', 36, 45);
					display: inline-block;
					margin: 0 2px;
				}
			}
			.graph_wrap {
				display: flex;
				justify-content: center;
				// opacity: 0;
			}
		}
		.btn_area {
			@include Pos($p: fixed, $l: 0, $r: 0, $z: 5);
			opacity: 0;
		}
		.intro_bg3 {
			opacity: 1;
		}
	}
	.main_con4_1 {
		@include Pos($p: relative, $z: 200);
		opacity: 1;
		margin-top: 135px;
		padding-bottom: 31px;
		background-color: $COL_Blue;
		.step3_refer {
			padding: 100px 21px 0;
			margin: 0px 0 40px;
			text-align: left;
			color: $COL_White;
			position: relative;
			// opacity: 0;
			// &::before {
			// 	content: '';
			// 	display: block;
			// 	@include Pos($p: absolute, $t: -80px, $r: 0px);
			// 	width: 240px;
			// 	height: 220px;
			// 	background: url('/HILAB/m/img/main/bg_minidoor.png') no-repeat 55px 0 /
			// 	100%;
			// }
			p {
				@include Mix_Font('Head-R', 18, 23);
			}
			em {
				color: $COL_Skyblue_01;
				@include Mix_Font('Head-R', 12, 15);
			}
		}
		.step3_graph {
			@include Pos($p: relative, $z: 10);
			.graph_wrap {
				display: flex;
				justify-content: center;
				height: 240px;
				padding: 0 21px;
				// opacity: 0;
			}
			.year_percent {
				margin: 10px 21px 30px;
				// opacity: 0;
				li {
					@include Pos($p: relative);
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding: 5px 0;
					color: $COL_White;
					&::after {
						@include Pos($p: absolute, $b: 0);
						display: inline-block;
						content: '';
						height: 1px;
						width: 100%;
						background-color: $COL_White;
						opacity: 0.2;
					}
					span {
						@include Mix_Font('Head-R', 12, 15);
						&::before {
							content: '';
							display: inline-block;
							width: 8px;
							height: 8px;
							margin-right: 5px;
							border-radius: 50%;
						}
						&.year_dot {
							&1 {
								&::before {
									background-color: $COL_Primary;
								}
							}
							&2 {
								&::before {
									background-color: $COL_Skyblue_01;
								}
							}
							&3 {
								&::before {
									background-color: $COL_White;
								}
							}
							&4 {
								&::before {
									background-color: $COL_Skyblue;
								}
							}
						}
					}
					em {
						@include Mix_Font('Head-R', 16, 20);
					}
				}
			}
			.info_list {
				color: $COL_White;
				text-align: center;
				.info_list_refer {
					margin-bottom: 10px;
					// opacity: 0;
					@include Mix_Font('Head-R', 15, 19);
				}
				ul {
					display: flex;
					gap: 7px;
					margin: 0 21px 25px;
					// opacity: 0;
					li {
						@include Pos($p: relative);
						display: inline-flex;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						flex: 1 33%;
						padding: 42px 0 16px;
						color: $COL_White;
						text-align: center;
						@include Mix_Font('Head-R', 13, 16);
						background: $COL_Primary;
						i {
							@include Pos($p: absolute, $t: 16px);
						}
					}
				}
			}
		}
		.step1 {
			.car_info {
				padding: 70px 0 0 21px;
				opacity: 1;
				text-align: left;
				@include Mix_Font('Head-R', 16, 24);
				transition: inherit;
				strong {
					margin-top: 0;
					@include Mix_Font('Head-R', 24, 30);
				}
			}
			.movecar {
				margin-top: 130px;
				img {
					width: 310px;
					height: auto;
					transition: transform 0.6s cubic-bezier(0.24, 0.97, 0.47, 1.07);
					transform: translate(20vw, vh(-100));
				}
			}
			.step2_graph {
				width: 100%;
				padding: 0 10px;
				box-sizing: border-box;
				margin-top: vh(-100);
				position: relative;
				z-index: 50;
				&_refer {
					margin-bottom: 40px;
					padding: 0 10px;
					@include Mix_Font('Head-R', 15, 19);
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: rgba(255, 255, 255, 0.2);
					}
					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						background: rgba(255, 255, 255, 0.2);
					}
					p {
						padding: 9px 15px;
						text-align: center;
						color: $COL_White;
						em {
						display: block;
						color: $COL_Skyblue_01;
						@include Mix_Font('Head-R', 14, 18);
						}
					}
				}
				.graph_wrap {
					height: 180px;
				}
			}
		}
		.btn_area {
			@include Pos($p: relative, $z: 10);
			position: relative;
			z-index: 10;
			margin: 0 21px;
			opacity: 1;
		}
	}

	.last_fix_wrap {
		background-color: $COL_White;
	}

	.main_con5 {
		width: 100%;
		height: 100vh;
		padding-top: 70px;
		box-sizing: border-box;
		overflow: hidden;
		background-color: $COL_White;
		.con_tit {
			@include Pos($p: absolute);
			margin: 0 21px 0;
			opacity: 0;
			&.tit_registration {
				opacity: 1;
			}
			span {
				margin-bottom: 5px;
				@include Mix_Font('Head-R', 24, 30);
			}
			strong {
				@include Mix_Font('Head-R', 34, 43);
			}
			&.tit_cert {
				opacity: 0;
			}
		}
		.circle {
			width: vh(210);
			height: vh(210);
			display: flex;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			@include Pos($p: absolute, $l: 50%, $t: 40%, $z: 10);
			transform: translate(-50%, -50%);
			&_mask {
				overflow: hidden;
				width: vh(180);
				height: vh(180);
				border-radius: 50%;
				background-color: $COL_Deepblue_02;
				transform: scale(0);
				@include Mix_Center;
				.person {
					@include Pos($p: absolute);
					width: auto;
					height: vh(142);
					opacity: 0;
					transform: translateY(100%);
				}
				.car {
					@include Pos($p: absolute);
					width: vh(256);
					height: vh(123);
					transform: translateX(vh(260));
				}
			}
		}
		.bg_circle {
			@include Pos($p: absolute, $l: 0, $t: 0);
			width: 100%;
			height: 100%;
			opacity: 0;
			border: 1px dashed $COL_Skyblue_01;
			border-radius: 50%;
			overflow: hidden;
		}
		.intro_bg3 {
			@include Pos($p: absolute, $l: 0, $r: 0, $b: 0, $z: 0);
			width: 100%;
			height: 60vh;
			background-color: #036686;
			transform: translate(0px, 0%);
			// transform: translateY(100vh);
			// opacity: 0;
			/* &.show {
				transform: translateY(0);
				transition: transform 0.4s;
			} */
		}
		.msking_text {
			@include Pos($p: absolute, $b: 81px, $z: 5);
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			color: $COL_White;
			strong {
				@include Mix_Font('Head-R', 18, 23);
			}
			& > div {
				text-align: center;
				strong {
					@include Pos($p: relative);
					display: block;
					padding-bottom: vh(9);
					transform: translateY(2vh);
					// opacity: 0;
					@include Mix_Font('Head-R', 24, 30);
					.text_line {
						@include Pos($p: absolute, $b: 0, $l: 50%);
						transform: translateX(-50%);
						display: inline-block;
						width: 240px;
						height: 1px;
						background-color: $COL_White;
						// opacity: 0;
					}
				}
				p {
					margin-top: vh(12);
					transform: translateY(2vh);
					// opacity: 0;
					@include Mix_Font('Head-R', 16, 20);
					&:last-child {
						margin: 10px 0 37px;
					}
				}
			}
			.text_registration {
				@include Pos($p: absolute, $b: 60px);
				width: 100%;
				margin: 0 auto;
			}
			.text_cert {
				@include Pos($p: absolute, $b: 60px);
				width: 100%;
				margin: 0 auto;
				opacity: 0;
			}
			.btn_area {
				margin: 0 21px;
				transform: translateY(2vh);
			}
		}
	}
	.main_con6 {
		@include Pos($p: relative, $t: -1px);
		// min-height: 100vh;
		opacity: 1;
		padding-bottom: 31px;
		background-color: $COL_White;
		.con_tit {
			padding: 70px 21px 35px;
			span {
				margin-bottom: 5px;
				@include Mix_Font('Head-R', 24, 30);
			}
			strong {
				display: block;
				@include Mix_Font('Head-R', 30, 38);
			}
		}
		.swiper-container {
			padding: 0 40px;
			.swiper-slide {
				flex-shrink: 1;
				a {
					display: block;
				}
				span {
					@include Pos($p: relative);
					display: block;
					width: vh(280);
					margin-bottom: 20px;
					padding-top: vh(210);
					overflow: hidden;
				}
				img {
					@include Pos($p: absolute, $t: 50%, $r: 0, $b: 0, $l: 50%);
					transform: translate(-50%, -50%);
				}
				p {
					height: 80px;
					margin-bottom: 22px;
					@include Mix_Font('Head-R', 20, 26);
				}
			}
			.swiper-pagination {
				opacity: 1;
			}
		}
		.btn_area {
			margin: 76px 21px 0;
		}
		.intro_bg3 {
			@include Pos($p: fixed, $a: 0, $z: -1);
			background-color: $COL_Deepblue_02;
			opacity: 0;
			transform: translateY(50vh);
		}
	}

	.intro {
		&_bg1 {
			@include Pos($p: fixed, $a: 0, $z: -1);
			display: flex;
			width: 100vw;
			background-color: $COL_Primary;
			&.hidden {
				transform: scale(0.7);
				transition: transform 1.5s;
			}
		}
		&_bg2 {
			@include Pos($p: fixed, $a: 0, $z: -1);
			display: flex;
			width: 100vw;
			background-color: $COL_Blue;
			opacity: 0;
			transform: scale(0.6) translateY(200%);
			transition: opacity 0.8s, transform 0.8s;
			&.action {
				opacity: 1;
				transform: scale(1) translateY(0);
			}
			&.hidden {
				z-index: -1;
				opacity: 0;
				transition: opacity 0.7s;
			}
		}
	}
	.list_half {
		display: flex;
		flex-wrap: wrap;
		li {
			flex: 1 1 50%;
			flex-grow: 0;
			&:only-child {
				flex-grow: 1;
				div {
				margin-right: 0;
				}
			}
			div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid $COL_Line_Medium;
				margin-right: 10px;
				padding: 6px 0 5px;
			}
			&:nth-child(2n) {
				div {
				margin-right: 0;
				margin-left: 10px;
				}
			}
			span {
				@include Mix_Font('Head-R', 16, 20);
			}
			em {
				@include Pos($p: relative);
				color: $COL_Base_02;
				@include Mix_Font('Head-R', 12, 15);
				&::before {
				content: '';
				display: inline-block;
				width: 9px;
				height: 9px;
				margin-right: 5px;
				border-radius: 50%;
				}
			}
		}
	}

	.dot_color {
		&01::before {
			background-color: #87E2FF;
		}
		&02::before {
			background-color: #0F5DB8;
		}
		&03::before {
			background-color: $COL_Primary;
		}
		&04::before {
			background-color: #014799;
		}
		&05::before {
			background-color: #4286D4;
		}
		&06::before {
			background-color: $COL_Secondary;
		}
		&07::before {
			background-color: #1EBBCB;
		}
		&08::before {
			background-color: $COL_Skyblue_01;
		}
	}

	.btn_area {
		.btn_mid07 {
			border:1px solid $COL_White;
			color: $COL_White;
			background-color: transparent;
		}
	}
	.icon01 {
		background: url('/HILAB/m/img/main/icon_main01.png') no-repeat 0 0 / 150px
		auto;
		&.icon_person {
			display: inline-block;
			width: 15px;
			height: 20px;
			background-position: -4px 0px;
		}
		&.icon_dealer {
			display: inline-block;
			width: 15px;
			height: 20px;
			background-position: -22px 0px;
		}
		&.icon_sale_volum {
			display: inline-block;
			width: 20px;
			height: 20px;
			background-position: -41px -4px;
		}
		&.icon_mileage {
			display: inline-block;
			width: 17px;
			height: 20px;
			background-position: -66px -4px;
		}
		&.icon_preference {
			display: inline-block;
			width: 20px;
			height: 18px;
			background-position: -88px -4px;
		}
	}
	.swiper-pagination {
		&.type03 {
			column-gap: 4px;
			.swiper-pagination-bullet {
				width: 26px;
				height: 2px;
				border-radius: 0;
				background-color: $COL_Line_Dark;
			}
			.swiper-pagination-bullet-active {
				background-color: $COL_Blue;
			}
		}
		&.type04 {
			column-gap: 5px;
			.swiper-pagination-bullet {
				width: 52px;
				height: 2px;
				border-radius: 0;
				background-color: $COL_Line_Dark;
				opacity: 0.2;
			}
			.swiper-pagination-bullet-active {
				opacity: 1;
				background-color: $COL_Secondary;
			}
		}
	}
	/* actionbar */
}
#HIactionbar {
	&.hidden {
		display: none;
	}
}