@import '../_common/hi_function';
@import '../_common/hi_mixins';

/* 기본 버튼 */
.btn_area {
    &.row_type {
		width: auto;
        display:inline-flex;
        row-gap:8px;
        flex-direction: column;
    }
    &.full_type {
		width: 100%;
        display:flex;
        column-gap:8px; 
        [class^="btn_"] {
            flex:1;
            width:100%;
        }
    }
	// &.sticky_type {
	// 	position:absolute;
	// 	bottom:0;
	// 	left:0;
	// }
}
button, a {
	&[class^="btn_"] {
		position:relative;
		text-align: center;
		&.color01 {
			@include Mix_Box_Bg01;
			&:hover {
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #002C5F;
				&::after {
					display: block;
				}
				&:active {
					@include Mix_Box_Bg01;
				}
			}
			&:disabled,
			&.disabled{
				background:$COL_gs04;
				pointer-events: none;
			}
			&.ico_add {
				&::before {
					@include Icon_add($COL_white,'16px');
				}
			}
			&.ico_arr {
				&::after {
					@include Icon_arrow($COL_white);
				}
			}
		}
		&.color02 { 
			@include Mix_Box_Bg02;
			&:hover {
				background:linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #FFFFFF;
				&:active {
					@include Mix_Box_Bg02;
				}
			}
			&:disabled,
			&.disabled{
				color:$COL_gs04; 
				pointer-events: none;
				&.ico_add {
					&::before {
						@include Icon_add($COL_gs05,'16px');
					}            
				}
				&.ico_arr {
					&::after {
						@include Icon_arrow($COL_gs04);
					}
				}
				
			}
			&.ico_add {
				&::before {
					@include Icon_add($COL_black, '16px');
				}        
			}
			&.ico_arr {
				&::after {
					@include Icon_arrow($COL_black);            
				}
			}
		}
		&.color03 {
			@include Mix_Box_Bg03(2px);
			&:hover {
				background:linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), #00AAD2;
				&:active {
					@include Mix_Box_Bg03(2px);
	
				}
			}
			&:disabled,
			&.disabled{
				background:$COL_gs05;
				border-color:$COL_gs05;
				pointer-events: none;
				text-shadow: none;
			}
			&.ico_add {
				&::before {
					@include Icon_add($COL_white,'16px');
				}        
			}
			&.ico_arr {
				&::after {
					@include Icon_arrow($COL_white);
				}
			}	
		}
		&.color04 {
			@include Mix_Box_Bg04;
			&:hover{
				background:rgba($COL_black, .3);
			}
			&:disabled,
			&.disabled{
				opacity:.5;
				pointer-events: none;
			}
		}
	
		/* 기본 버튼 + 아이콘 */
		&[class*="ico_"] {
			display:inline-flex;
			align-items: center;
			justify-content: center;
			&.btn_large,
			&.btn_mid {
				gap:0 2px;
			}
		}
		&.ico_add {
			&::before {
				content:'';
				display:inline-block;
				width: 16px;
				height: 16px;
			}
		}
		&.ico_arr {
			&::after {
				content:'';
				display:inline-block;
				width: 16px;
				height: 16px;
				transform: rotate(90deg);
			}
		}	
	}
}
.btn_big {   
	display: inline-block;
    padding:0 32px;
    min-width:280px;
	width:280px;
    height:56px; 
    @include fontH(18, 54px) ;
}
.btn_mid {
	display: inline-block;
    padding:0 28px;
    min-width:200px;
    height:48px;
    @include fontH(16, 46px) ;
}
.btn_small {
	display: inline-block;
    padding:0 24px;
    min-width:86px;
    max-width:200px;
    height:40px;
    @include fontH(15, 38px) ;
}
.btn_xsmall {
	display: inline-block;
    display:inline-block;
    padding:0 16px;
    min-width:64px;
    max-width:160px;
    height:32px;
    text-align: center;
    @include fontH(13, 30px) ;
}

/* 텍스트 버튼 */
[class^="txt_btn"] {
    display:inline-block;
    color:$COL_black;
    transition:all 0.3s;
	&::after,
	&::before {
		transition:all 0.3s;
	}
    &.s_mid {
        @include fontH(15) ; 
    }
    &.s_large {
        @include fontH(16) ;
    }
    &.s_small {
        @include fontH(13) ;
    }
    &:disabled,
    &.disabled {
        pointer-events: none;
        color:$COL_gs04;
    }
	&.c_wht{
		color: $COL_white;
		&::after {
            @include Icon_arrow($COL_white);
        }		
	}

	/* 텍스트버튼 + 아이콘 */
	&.icon_link {
		display: inline-flex;
		align-items: center;
		&::after {
			content:'';
			display:inline-block;
			@include Icon_out_link($COL_black);
		}
		&:disabled,
		&.disabled {
			pointer-events: none;			
			&::after {
				@include Icon_out_link($COL_gs04);
			}
		}		
	}

	&.icon_dowm {
		display: inline-flex;
		align-items: center;
		&::after {
			content:'';
			display:inline-block;
			width: 16px;
			height: 16px;
			background:url('./../img/icon/icon_ui_download03.svg') no-repeat;
		}
	}
}
.txt_btn01 {
    display:inline-flex;
    align-items: center;
    &::after {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px;
        @include Icon_arrow($COL_black);
        transform: rotate(90deg);
    }
    &:disabled,
    &.disabled {
        &::after {
            @include Icon_arrow($COL_gs04);
        }
    }
}

.txt_btn02 {
    display:inline-flex;
    align-items: center;
    &::after {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px; 
        @include Icon_arrow($COL_black);
		transform:rotate(180deg);
    }
    &:disabled,
    &.disabled{
        &::after {
            @include Icon_arrow($COL_gs04);
        } 
    }
}

.txt_btn03 {
    text-decoration:underline;	
	text-underline-offset:3px;
}

/* 아이콘 + 버튼 */ 
.btn_more {
	display:inline-flex;
	align-items: center;
	gap: 0 4px;
	&::after {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px; 
		transform:rotate(180deg);
        @include Icon_arrow($COL_black);
    }
}
.btn_reset {
	width:56px ;
	height:56px;
	background: {
		image:url('./../img/icon/icon_ui_reload02.svg');
		color:$COL_white;
		position:center;
		repeat:no-repeat;
	};	
	border:1px solid $COL_gs05;
	font-size:0;	
}
.btn_reset02 {
	display:inline-flex;
	align-items: center;
	gap: 0 2px;
	&::before {
        content:'';
        display:inline-block;
        width: 16px;
        height: 16px;
        background:url('./../img/icon/icon_ui_reload03.svg');
    }
}
.btn_top {
	display:inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0 2px;
	width: 64px;
	height:28px;
	background:rgba($COL_black,.5);
	color:$COL_white;
	&::before {
		content:'';
        display:inline-block;
        width: 16px;
        height: 16px; 
        @include Icon_arrow($COL_white);
	}
}
.btn_img_show {
	display:inline-flex;
	align-items: center;
	justify-content: center;
	column-gap:4px;
	width:102px; height:36px;
	background:rgba($COL_black, .4);
	color:$COL_white;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
	@include fontH(13) ;
	&::before {
		content:'';
		display: inline-block;
		width: 16px;
		height: 16px;
		background: {
			image:url('./../img/icon/icon_ui_photo03_02.svg');
			position:center;
			repeat:no-repeat;
		};	
	}
}
.btn_floating {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color:$COL_hyundaiblue;
	background-position:center;
	background-repeat: no-repeat;
	font-size:0;
	text-indent:-9999px;
	&.chatbot {
		background-image:url('./../img/icon/icon_chatbot.svg');
	}
	&.home {
		background-image:url('./../img/icon/icon_home.svg');
	}
}

/* Text Flag */
[class^="flag"] {
	display:inline-block;
	&[class*="ico_"] {
		display:inline-flex;
		column-gap:3px;
		justify-content: center;	
		align-items: center;
	}
	&.ico_video {
		&::after {
			content:'';
			display:inline-block;
			width: 10px;
			height: 10px; 
			background:url('./../img/icon/icon_ui_equalizer03.svg');
		}
	}	

}
[class^="flag_mid"] {
	padding:0 5px;
	height:20px;
    @include fontT(13,18px);
}
.flag_mid01 {
    @include Mix_Box_Bg01;
	border:1px solid $COL_hyundaiblue;
}
.flag_mid02 {
    @include Mix_Box_Bg03;
	border:1px solid $COL_secondary1;
}
.flag_mid03 {
    @include Mix_Box_Bg02;
    color:$COL_gs03;
}
.flag_mid04 {
    background:$COL_gs08;
    border:1px solid $COL_gs05;
    color:$COL_gs03;
}
.flag_mid05 {
    background:$COL_sand;
    border:1px solid $COL_sand;
    color:$COL_gs03;
}

[class^="flag_big"] {
    padding:0 8px;
    height:24px;
    @include fontT(14,22px);
}
.flag_big01 {
    @include Mix_Box_Bg01;  
	border:1px solid $COL_hyundaiblue;
}
.flag_big02 {
    @include Mix_Box_Bg03;
	border:1px solid $COL_secondary1;
}
.ico_hyundai {
	text-indent:-9999px;
	font-size:0;
	width: 160px;
	height:32px;
	@include Icon_hyundai($COL_hyundaiblue);
	&:hover {
		background-color:$COL_hyundaiblue;
		@include Icon_hyundai($COL_white);
	}
}
.ico_genesis {
	text-indent:-9999px;
	font-size:0;
	width: 119px;
	height:24px;
	@include Icon_genesis($COL_black);
	&:hover {
		background-color:$COL_black;
		@include Icon_genesis($COL_white);
	}
}

/* 토글버튼 */
[class^="toggle_btn"] {
	label {
		display:inline-flex;
		align-items: center;
		column-gap:8px;
	}
	input {
		position: relative;
		-webkit-appearance: none;
		width: 34px; 
		height: 14px;
		background: $COL_gs03;
		border-radius: 15px;
		&:after {
			content: "";
			@include Pos($p: absolute, $t: -2px, $l: 0);
			width: 18px; height: 18px;
			background: $COL_white;
			box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
			border-radius: 50%;
			transition: left .3s;
		}
		&:checked {
			&:after {
				left: 16px;
			}
		}
	}	
}
.toggle_btn01 {
	input {
		&:checked {
			background: $COL_secondary1;				
		}
	}
}
.toggle_btn02 {
	input {
		&:checked {
			background: $COL_gs03;				
		}
	}
}
.btn_download{
	display:flex;justify-content:center;align-items:center;
	position:relative;
	padding:10px 24px;
	border:1px solid $COL_gs05;
	@include fontH(13);
	&::before{
		content:'';
		display:inline-block;
		width:16px;height:16px;
		margin-right:2px;
		background: {
			image:url('./../img/icon/icon_download.png');
			size:16px auto;
			repeat:no-repeat;
		}
	}
}