@charset 'utf-8';
/* 레이아웃
	Z-INDEX 범위
		- HIskip : 500
		- HIhedaer : 501 ~ 600
		- HIcontents : 401 ~ 500
		- HIactionbar : 600
		- HIfooter : 601 ~ 700
		- HItop : 800
		- dim : 1000
		- HIloading: 1001
		- layer : 1001
*/
.txt_hidden{display:none;}
/* skip */
#HIskip{
	position:relative;
	top:0;
	left:0;
	z-index:500;
	width:100%;
	a{
		position:absolute;
		top:-100px;
		left:0;
		width:100%;
		height:0;
		color:transparent;
		text-align:center;
		&:focus{
			top:0;
			height:30px;
			line-height:30px;
			text-decoration:none;
		}
	}
}

/* loading */
#HIloading, #brandLoading{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:1001;
	width:100%;
	height:100%;
	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 60px;
			margin: 0 auto;
			background:url('../img/loading.gif?V=1') no-repeat;
			background-size: 100px 60px;
		}
		span {
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			display: block;
			width: 120px;
			height: 120px;
			margin: auto;
			border-radius: 50%;
		}
	}
	.brand {
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #111;
		.loading {
			.text {
				margin-bottom: 20px;
				text-align: center;
				@include fontH(24);
			}
			&::after {
				background:url('../img/brand_loading.gif?V=1') no-repeat;
				background-size: 100px 60px;
			}
		}
	}
}
/* HI WRAP */
#HIwrap{
	position:relative;
	width:100%;
	// height:100%;
	min-width: 1366px;
}

/* HI HEADER */
#HIheader{
	position:relative;
	z-index:600;
	min-width: 1366px;
	width:100%;height:70px;
	background-color: $COL_white;
	&::after {
		content: '';
		position: absolute;
		left: 0; 
		bottom: 0;
		width: 100%; 
		height: 1px;
		background-color: $COL_gs06;
	}
	&.fixed {
		position:fixed;left:0;top:0;
	}
	&.contents{
		background-color:transparent;
		&::after{
			opacity:.2;
			background-color:$COL_white;
		}
		.h_header{
			.logo {
				a {
					&::before{
						background-image: url('../img/icon/logo_icon01_w.png');
					}
				}
			}
			.util {
				&_menu {
					li{
						&.on{
							a{
								color:$COL_white;
								&::before{
									background-color:$COL_white;
								}
							}
						}
						a{
							color:$COL_white;
						}
					}
				}
				&_icon {
					.ic_search {
						&::before {
							background: {
								image: url('./../img/icon/icon_ui_search02_w.svg')
							}
						}
					}
					.ic_cart {
						&::before {
							background: {
								image: url('./../img/icon/icon_ui_cart02_w.svg')
							}
						}
					}
					.ic_user {
						&::before {
							background: {
								image: url('./../img/icon/icon_ui_mypage02_w.svg')
							}
						}
					}
				}
			}
		}
	}
} 
//헤더영역 공통정의, 상단검색영역 아이콘 모음
.h_header {
	display: flex;
	position: relative;
	width: 1180px;
	height: 70px;
	margin: auto;
	.logo {
		display: inline-flex;
		align-items: center;
		a {
			@include Mix_Size_0;
			&::before{
				content: "";
				display: block;
				width: 164px;
				height: 24px;
				background: {
					image: url('../img/icon/logo_icon01.png');
					size: 300px 200px;
					position: -10px -50px;    
					repeat : no-repeat;
				};
			}
		}
	}
	.util {
		display: flex;
		align-items: center;
		width: 100%;
		ul {
			display: flex;
		}
		&_menu {
			flex-grow: 1;
			justify-content: center;
			li {
				margin: 0 8px;
				a {
					position: relative;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					height: 70px;
					padding: 0 16px;					
					color: $COL_black;
					@include fontH(16);
					&:hover {
						color: $COL_hyundaiblue;
						&::before {
							content: '';
							position: absolute;
							bottom: 0;
							width: 100%;
							height: 2px;							
							z-index: 1;
							background-color: $COL_hyundaiblue;
						}
					}
				}
				&.on {
					a {
						color: $COL_hyundaiblue;
						&::before {
							content: '';
							position: absolute;
							bottom: 0;
							width: 100%;
							height: 2px;							
							z-index: 1;
							background-color: $COL_hyundaiblue;
						}
					}
				}
			}
		}
		&_icon {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			li {
				position: relative;
				margin-left: 24px;
				&:first-child {
					margin-left: 0;
				}
			}
			.cart_count { 
				position: absolute;
				top: -4px; 
				right: -4px;
				display: flex;
				justify-content: center;
				min-width: 15px;
				height: 15px;
				padding: 1px 3px 0;
				border-radius: 50%;
				box-sizing: border-box;
				color: $COL_white;
				@include fontH(10);
				text-indent: 0;
				background-color: $COL_secondary1;
			}
			.ic_search {
				&::before {
					background: {
						image: url('./../img/icon/icon_ui_search02.svg')
					}
				}
			}
			.ic_cart {
				&::before {
					background: {
						image: url('./../img/icon/icon_ui_cart02.svg')
					}
				}
			}
			.ic_user {
				&::before {
					background: {
						image: url('./../img/icon/icon_ui_mypage02.svg')
					}
				}
			}
		}
		[class^="ic_"]{
			// header side 아이콘 공통 
			display:block;
			width:24px;
			height:24px;
			@include Mix_Size_0;
			position: relative;
			&::before{
				content:'';
				display:block;
				width: 100%;
				height:100%;
				margin:0 auto;
			}
		}
	}
}

/* contents */
#HIcontents{
	width: 100%;
	min-width: 1366px;
	min-height: 700px;
	position: relative;
	#layoutWrap {
		padding: 0 0 120px;
		//브레드크럼
		.breadcrumb {
			width: 1180px;
			height: 55px;
			padding: 20px 0 15px;
			margin: 0 auto;
			display: flex;
			align-items: center;
		}
		.cont_top {
			width: 100%;
			margin: 0 auto;
			position: relative;
		}
		.container {
			width: 1180px;
			margin: 0 auto;
			position: relative;
			&.flex {
				display:flex;
				align-items: flex-start;
				.cont_wrap {
					flex: 1 1;
					background-color: $COL_white;
				}
			}
			.cont_right {
				width: 340px;
				background-color: $COL_white;
				&.sticky {
					position: sticky;
					top: 70px;
				}
			}
		}
		&.type_bg { //bg 있는 타입
			min-height: 700px;
			background: $COL_gs08;
		}	
		&.plp {//layoutWrap 전시목록
			.cont_top {
				.key_cont {
					width: 1180px;
					margin-left: -590px;
					position: absolute;
					left: 50%;
				}
				.key_visual {
					text-align: center;
				}
			}
			.container {
				width: 1260px;
				padding: 0 40px;
				margin-top: -122px;
				background-color: $COL_white;
			}
		}
		&.cart {
			.container {
				gap: 0 20px;
				margin-top: 64px;
			}
		}
		&.order {
			.container {
				width: 980px;
				gap: 0 20px;
			}
		}
		&.my {
			.container {
				gap: 0 64px;
				margin-top: 64px;
			}
		}
		&.members {
			.container {
				width: 580px;
				padding-top: 64px;
			}
		}
		&.stats{
			margin-top:64px;
			.container{
				display:grid;grid-template-columns:280px 820px;grid-column-gap:80px;
			}
		}
	}
}

// my lnb
.lnb_wrap {
	width: 236px;
	.user_info {
		background-color: $COL_hyundaiblue;
		padding: 48px 29px 48px 32px;
		.greeting {
			margin-bottom: 16px;
			@include fontH(24);
			color: $COL_white;
		}
	}
	.lnb {
		border: 1px solid $COL_gs07;
		margin-top: -1px;
		padding: 32px 24px;
		ul + ul {
			border-top: 1px solid $COL_gs07;
			margin-top: 32px;
			padding-top: 32px;
		}
		li {
			a {
				color: $COL_gs03;
			}
		}
	}
}

// 통계 상세
.lnb_area{
	position:relative;
	width:280px;
	// .sticky_wrap{
	// 	position:sticky;top:70px;
	// }
	.head{
		width:100%;
		padding:48px 32px;
		background:$COL_hyundaiblue;
		color:$COL_white;
		@include fontHM(24);
	}
	.lnb{
		margin-top:-1px;
		padding:32px 24px;
		border:1px solid $COL_gs06;
	}
}

/* footer */
#HIfooter{
	width: 100%;
    min-width: 1366px;
	padding: 48px 0 64px;
	background-color: $COL_gs06;
	.foot {
		&_wrap {
			width: 1180px;
			display: flex;
			justify-content: center;
			margin: auto;
		}
		&_logo {
			a {
				@include Mix_Size_0;
				&::before{
					content: "";
					display: block;
					width: 58px;
					height: 30px;
					background: {
						image: url('../img/logo/logo_icon01.png');
						size: 300px 200px;
						position: 0 0;
						repeat : no-repeat;
					};
				}
			}
		}
		&_contents {
			flex-grow: 1;
			margin-left: 80px;
		}
		&_menu {
			display: flex;
			margin-bottom: 16px;
			li {
				height: 22px;
				a {
					position: relative;
					padding: 0 10px;
					color: $COL_gs03;
					@include fontTM(14);
					&::before {
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto; 
						content: '';
						width: 1px; 
						height: 12px;
						background-color: $COL_gs04;
					}
				}
				&:first-child {
					a {
						padding-left:0; 
					}
				}
				&:last-child {
					a {
						&::before {
							display: none;
						}
					}
				}
			}
		}
		&_info {
			@include fontT(14);
			color: $COL_gs04;
			margin-bottom: 4px;
			p {
				// margin-bottom: 4px;
				.text_divider {
					position: relative;
					margin-right: 5px;
					padding-right:6px; 
					&::before {
						content: '';
						position: absolute;
						right: 0;
						top: 3px;
						width: 1px; 
						height: 12px;
						background-color: $COL_gs04;
					}
				}
			}
			&_link {
				.text_divider {
					margin-right: 7px;
					padding-right: 8px;
				}
				a {
					position: relative;
					// margin-left: 12px;
					@include fontH(13);
					&::before {
						content: '';
						position: absolute;
						bottom: -1px;
						width:100%; 
						height: 1px;
						background-color: $COL_gs04;
					}
				}
			}
		}
		&_copy {
			@include fontT(13);
			color: $COL_gs04;
		}
		&_cs {
			display: flex;
			margin-top: 16px;
			a {
				@include Mix_Info_Icon_03(0 -72px);
				@include fontH(15);
				// height: 70px;
				padding: 8px 15px 7px 14px;
				margin-right: 20px;
				color: $COL_gs03;
				&:nth-child(2) {
					@include Mix_Info_Icon_03(-36px -72px);
				}
				&:nth-child(3) {
					@include Mix_Info_Icon_03(-72px -72px);
					margin-right: 0;
				}
				&::before {
					margin: 0 auto 14px;
				}
			}
		}
	}
}

/* floating button */
#HIfloating{
	display: block;
	position: fixed;
	right: 44px;
	bottom: -100%;
	opacity: 0;
	z-index:701;
	transition: all 0.5s;
	&.ready {
		opacity: 1;
		bottom: 67px;
		
	}
	&.scroll {
		button {
			&[title=top]{
				display: block;
			}
			&[title=brand]{
				display: none;
			}
		}
	}
	button {
		display:block;
		width: 64px;
		height: 64px;
		border-radius: 50%;
		background-color:$COL_hyundaiblue;
		background-position:center;
		background-repeat: no-repeat;
		font-size:0;
		text-indent:-9999px;
		transition: all 1s;
		&[title=chatbot]{
			background-image:url('./../img/icon/icon_chatbot.svg');
		}
		&[title=top]{
			display: none;
			background-image:url('./../img/icon/icon_top.svg');
			@include fontH(13);
			color: $COL_white;
			text-indent: 0;
			padding-top: 9px;
		}
		&[title=brand]{
			background-image:url('./../img/icon/icon_home.svg');
		}
		& + button {
			margin-top: 16px;
		}
	}
}

// 검색 레이어
.HI_search{
	display:none;
	position:fixed;left:0;top:0;
	z-index:1001;
	width:100%;height:100vh;
	background:rgba(0, 0, 0, .5);
	.wrap{
		display:flex;align-items:center;
		position:relative;
		width:100%;height:70px;
		background:$COL_white;
		.btn_close{
			position:absolute;right:40px;top:50%;
			transform:translateY(-50%);
			color:$COL_gs03;
		}
		.inner{
			position:relative;
			width:1180px;height:70px;
			margin:0 auto;
			.box_input{
				position:relative;
				width:100%;
				padding:0 142px 0 41px;
			}
			.inp_srch{
				width:100%;
				input{
					width:100%;
					@include fontH(24, 70px);
				}
			}
			.util{
				display:flex;align-items:center;
				position:absolute;right:40px;top:50%;
				transform:translateY(-50%);
				.btn_delete{
					display:none;
					position:relative;
					@include Mix_Size_0;
					width:24px;height:24px;
					&::before{
						content:'';
						display:inline-block;
						position:absolute;left:4px;top:4px;
						width:16px;height:16px;
						background: {
							image:url('../img/icon/icon_input_close.svg');
							size:16px auto;
							repeat:no-repeat;
						};
					}
				}
				.ic_search{
					position:relative;
					width:32px;height:32px;
					margin-left:12px;
					@include Mix_Size_0;
					&::before{
						content:'';
						display:inline-block;
						position:absolute;left:0;top:0;
						width:32px;height:32px;
						background: {
							image:url('../img/icon/icon_ui_search01.svg');
							size:32px auto;
							repeat:no-repeat;
						};
					}
				}
			}
			.srch_recent{
				display:none;
				position:absolute;left:0;top:70px;
				width:100%;
				background:$COL_white;
				.nodata{
					&::before{
						content:'';
						display:inline-block;
						width:60px;height:60px;
						background: {
							image:url('../img/icon/icon_srch_nodata.png');
							size:60px auto;
							repeat:no-repeat;
						};
					}
				}
				.cont{
					padding:32px 40px;
					.top{
						display:flex;justify-content:space-between;align-items:center;
						.tit{
							@include fontHM(18);
						}
						.btn_all_delete{
							margin-top:4px;
							color:$COL_gs04;
						}
					}
					.list{
						margin-top:16px;
						li{
							display:inline-flex;align-items:center;
							position:relative;
							overflow:hidden;
							max-width:150px;
							margin:0 8px 8px 0;
							border:1px solid $COL_gs06;
							border-radius:16px;
							&:not(:last-of-type){margin-right:0;}
							a{
								padding:5px 36px 5px 16px;
								color:$COL_gs02;
								@include fontT(14);
								@include Mix_Ellipsis01;
								button{
									position:absolute;right:16px;top:8px;
									width:16px;height:16px;
									@include Mix_Size_0;
									&::before{
										content:'';
										display:inline-block;
										position:absolute;right:0;top:0;
										width:16px;height:16px;
										background: {
											image:url('../img/icon/icon_ui_close02.png');
											size:16px auto;
											repeat:no-repeat;
										};
									}
								}
							}
						}
					}
				}
			}
			.srch_auto{
				display:none;
				position:absolute;left:0;top:70px;
				width:100%;
				background:$COL_white;
				.list{
					padding:32px 40px;
					li{
						&:not(:first-of-type){
							margin-top:16px;
						}
						span{
							color:$COL_hyundaiblue;
						}
					}
				}
			}
		}
	}
}
// //검색 레이어