// s: form common
.form_area {
	.tit + .inbox_type02 {
		margin-top: 8px;
	}
	.validation{
		margin-top: 4px;
		@include fontT(14);
		&.error {
			color: $COL_error;
		}
		&.ok {
			color: $COL_secondary1;
		}
	}
	// 정렬 
	&.row_type {
		display:flex;
		li , div {
			flex:1;
			&:not(:first-child) {
				margin-left:-1px;
			}
			.chk_block {
				&:checked {
					& + label {
						position:relative;
						z-index: 1;
					}					
				}
			}
		}		
	}
	// 결제방법, 명의구분
	&.box_type {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 8px;
		li {
			flex: 1 1;
			height: 72px;
			.chk_type01 {
				+ label {
					justify-content: center;
					// flex-direction: column;
				}
			}	
		}
		.chk_type01 {
			+ label {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 8px;
				padding-left: 0;
				width: 100%;
				height: 100%;
				border: 1px solid $COL_gs05;
				&::before {
					position: relative;
				}
				.txt {
					padding-left: 0;
					&[class*="icon_"]::before {
						content: "";
						display: inline-block;
						width: 24px;
						height: 24px;
						margin-right: 4px;
						vertical-align: middle;
						opacity: 0.4;
					}
					&.icon_card::before {
						background-image: url(../img/icon/icon_card.svg);
					}
					&.icon_bank::before {
						background-image: url(../img/icon/icon_bankbook.svg);
					}
				}
			}
			&:checked + label {
				border: 1px solid $COL_secondary1;
				.txt::before {
					opacity: 1;
				}
			}
		}
	}
	// 삭제버튼
	[class^="btn_delete"]{
		content: "";
		display: none;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		@include Mix_Size_0;
		background: url(../img/icon/icon_input_close.svg) no-repeat 0 0;
	}
}

.form_list.type01 {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	li {
		flex:0 calc((100% - 8px)/2);
		&.full {
			flex: 0 100%;
			&.checked {
				.form_area {
					margin-top: 8px;
				}
			}
		}
		&:nth-child(even).checked {
			align-self: center;
			.form_area {
				margin-left: 8px;
			}
		}
		.text_type { // 이름 | 핸드폰 text
			margin: 12px 0 8px;
			.num {
				position: relative;
				padding-left: 25px;
				color: $COL_gs03;
				&::before {
					content:'';
					@include Pos($p: absolute, $t: 50%, $l: 12px);
					transform: translateY(-50%);
					width: 1px;
					height: 14px;
					background-color: $COL_gs05;
				}
			}
		}
	}
}

.form_list.type03 { // width 560
	li {
		display: flex;
		justify-content: space-between;
		~ li {
			margin-top: 16px;
		}
		.tit {
			display: inherit;
			@include fontH(16);
		}
		label.tit {
			line-height: 40px;
		}
		:not(label.tit) {
			align-items: center;
		}
		.form_area {
			width: 330px;
		}
		&.full {
			flex-direction: column;
			.tit {
				margin-bottom: 8px;
				margin-top: 8px;
			}
			.form_area {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 0 8px;
				width: 100%;
				.com_select {
					width: 156px;
				}
				.inbox_type02 {
					flex: 1;
				}
			}
			.validation {
				width: 100%;
			}
		}
		&.cert {
			margin-top: 8px;
		}
	}
}

// e: form common

//text input
[class^=inbox_type] {
	position: relative;
	width: 100%;
	background-color: $COL_white;
	border: 1px solid $COL_gs06;
	> .txt{// 인풋 입력박스
		position: relative;
		width: 100%;
		padding-right: 26px;
		z-index: -1;
		&:disabled{
			color: $COL_gs02;
			opacity: 1;
			// -webkit-text-fill-color: $COL_gs04;
			~ span {
				color: $COL_gs04;
			}
		}
		&:focus{
			outline:none;
		}
		&::placeholder{
			color: $COL_gs04;
		}
		&.delete_on + .btn_delete {
			display: block;
		}
	}
	> .tit {
		color: $COL_gs03;
	}
	&.focus{// 인풋 입력박스 focusIN 일때
		border:1px solid $COL_secondary1 !important;
		.txt {z-index: 1;}
	}
	&.disabled {
		background-color: $COL_gs08;
	}
	&.email {
		.slt_box {
			display: none;
			width: 180px;
			margin: -1px -12px 0 0;
			.com_select_btn {
				border: none;
			}
		}
		// .com_select.hs01 {
		// 	.com_select_btn {
		// 		height: 46px;
		// 	}
		// }
		.com_select.hs02 {
			.com_select_btn {
				height: 38px;
			}
			.slt_box {
				width: 150px;
			}
		}
	}
	&.on {
		.slt_box {
			display: block !important;
		}
	}
    // 삭제버튼
	[class^=btn_delete]{
		content: "";
		visibility: hidden;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		@include Mix_Size_0;
		background: url(../img/icon/icon_input_close.svg) no-repeat 0 0;
        margin: 0 4px 0 8px;
	}
    > .delete_on + .btn_delete {
        visibility: visible;
    }
}
.inbox_type01 {
	height: 80px;
	padding: 16px 20px;
	> .tit{
		position:absolute;
		top:50%;
		left:20px;
		transform:translateY(-50%);
	}
	> .txt{// 인풋 입력박스
		opacity: 0;
	}
	&.focus{// 인풋 입력박스 focusIN 일때
		> .tit{
			color:$COL_secondary1;
		}
	}
	&.on{
		> .tit{
			top:16px;
			transform:translateY(0);
			transition:all 0.1s linear;
			@include fontT(13);
			
		}
		> .txt{
			opacity: 1;
			position: static;
			margin-top: 24px;
			z-index: 1;
		}
	}
	.btn_delete {
		position: absolute;
		top: 43px;
		right: 19px;
	}
	&.email {
		display: flex ;
		flex-wrap: wrap;
		padding-top: 34px;
		.txt {
			flex: 1;
			height: 24px;
			margin-top: 4px;
			padding-right: 10px;			
		}
		.btn_delete {
			position: static;
			margin-top: 9px;
			padding-right: 10px;
		}
	}
	&.identity{// 주민등록번호
		// font-size: 0;
		&.on{
			&::before{
				content:"";
				position:absolute;
				top:50px;
				left:50%;
				display:block;
				width: 4px;
				height: 1px;
				background-color:$COL_black;
			}
			> .txt{
				display:inline-block;
			}
		} 
		.txt{
			width: calc(50% - 4px);
			&.type_id01{
				+ .btn_delete {
					right: auto;
					left: calc(50% - 26px);
				}
			}
			&.type_id02{
				padding-left: 16px;
			}
		}
	}
	&.address, &.inbtn { //주소
		&.on{
			> .add{ 
				display:block;
			}
		}
		> .add{
			display:none;
			padding:21px 95px 0 0;
			word-break: keep-all;
		}
		> .btn_xsmall{
			position:absolute;
			top:50%;
			right:19px;
			transform:translateY(-50%);
		}
	}
	&.disabled .ui-datepicker-trigger {
		pointer-events: none;
		opacity: 0.5;
	}
}

.inbox_type02 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 56px;
	padding: 0 20px;
	line-height: 56px;
	.tit {
		padding-right: 10px;
	}
	.txt {
		flex: 1;
		padding: 0;
		z-index: 1;
	}
	&.txt_r > .txt{
		text-align: right;
		&::placeholder{
			text-align: right;
		}
	}
	.btn_delete {
		margin-left: 5px;
		+ em {
			margin-left: 5px;
		}
	}
	&.hs01 {
		height: 48px;
		line-height: 24px;
		padding: 0 16px;

		&.email {
			.slt_box {
				margin: 1px -16px 0 0;
			}
		}
	}
	&.hs02 {
		height: 40px;
		line-height: 40px;
		padding: 0 12px;
		font-size: 15px;
	}
	&.cert {
		.timer {
			margin-left: 4px;
			color: $COL_secondary1;
		}
	}
	&.identity {
		&::before{
			content:"";
			position:absolute;
			top:50%;
			left:50%;
			display:block;
			width: 4px;
			height: 1px;
			transform: translateX(-50%);
			background-color:$COL_black;
		}
		.txt{
			width: calc(50% - 7px);
			&.type_id01{
				+ .btn_delete {
					right: auto;
					left: calc(50% - 26px);
				}
			}
			&.type_id02{
				padding-left: 15px;
			}
		}
		.btn_delete {
			z-index: 1;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 12px;
		}
	}
	&.search_type{
		.btn_search{
			display: inline-block;
			background-image: url(../img/icon/icon_ui_search01.svg);
			width: 32px;
			height: 32px;
			margin-left: 20px;
			font-size: 0;
		}
	}
}

// select box
.com_select {
	position: relative;
	display: block;
	&_btn {
		position: relative;
		width: 100%;
		height: 48px;
		line-height: 48px;
		padding: 0 52px 0 18px;
		color: $COL_gs04;
		border: 1px solid $COL_gs06;
		background-color: $COL_white;
		text-align: left;
		.isSelected & {
			color: $COL_black;
			&:disabled {
				color: $COL_gs02;
			}
		}
		&:after {
			content: "";
			@include Pos(absolute, $t: 50%, $r: 12px);
			width: 16px; height: 16px;
			transform: translateY(-50%);
			background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5L8 11L2 5' stroke='%23767676' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat;
		}
		&:hover {border-color: $COL_secondary1;}
		&:disabled {
			border-color: $COL_gs06;
			color: $COL_gs04;
			background-color: $COL_gs08; 
			pointer-events: none;
		}
		&:disabled:after {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 5L8 11L2 5' stroke='%239c9c9c' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A")
		}
	}
	&_list {
		display: none;
		z-index: 2;
		@include Pos(absolute, 100%, 0, auto, 0);
		background: #fff;
		border: 1px solid $COL_secondary1;
		&_inner {
			display: block;
			max-height: 250px;
			overflow-y: auto;
		}
		.slt_box & {
			left: -1px; right: -1px;
		}
		&.isBot {top: auto; bottom: 100%;}
		&.isShow {display: block;}
	}
	&_item {
		display: block;
		position: relative;
		padding: 12px 48px 12px 20px;
		width: 100%;
		&:hover {
			background: #F7F7F7;
		}
		span{
			&:before {
				content: "";
				@include Pos(absolute, $t: 50%, $r: 12px);
				width: 16px; height: 16px;
				transform: translateY(-50%);
			}
			&.bank_logo img {
				width: 20px; height: 20px;
				margin-right: 4px;
			}
		}
		&.isChecked span {
			color: $COL_secondary1;
			&:before {
				background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7.11099L6.84717 11L13 4' stroke='%2300AAD2' stroke-width='1.5'/%3E%3C/svg%3E%0A") no-repeat;
			}
		}
	}
	// &.hs01 {
	// 	.com_select_btn {
	// 		height: 48px;
	// 		line-height: 48px;
	// 		padding: 0 52px 0 18px;
	// 	}
	// }
	&.hs02 {
		@include fontT(15);
		.com_select_btn {
			height: 40px;
			padding: 0 48px 0 12px;
			@include fontT(15);
		}
		.com_select_item {
			padding: 8px 40px 9px 12px;
		}
		.com_select_list_inner {
			max-height: 180px;
		}
	}
	&.hs_none {
		.btn_sort { //리스트 정렬용
			@include fontT(14);
			color: $COL_black;
			border: none;
			padding: 0 24px 0 0;
			height: auto;
			&::after {
				right: 0;
			}
		}
		.com_select_item {
			padding: 0 12px;
			@include fontT(15, 40px);
			span:before {
				right: 12px;
				margin-left: 16px;
			}
		}
	}
	input {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
	input:checked ~ span {
		color: $COL_secondary1;
		&:before {
			background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7.11099L6.84717 11L13 4' stroke='%2300AAD2' stroke-width='1.5'/%3E%3C/svg%3E%0A") no-repeat;
		}
	}
	input:disabled ~ span {
		color: $COL_gs04;
	}
	input:checked:disabled ~ span {
		&:before {
			background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 7.11099L6.84717 11L13 4' stroke='%239c9c9c' stroke-width='1.5'/%3E%3C/svg%3E%0A") no-repeat;
		}
	}
}

//search input
.inbox_type_search {
    display: flex;
    align-items: center;
}

//checkbox
[class^="chk_"]{
	opacity:0;
	position:absolute;width:1px;height:1px;
	&:not(.chk_block, .chk_compare){
		& + label:not(:first-of-type){margin-left:24px;}
	}
}
.chk_type01 {
	&+label{
		position:relative;
		display:inline-flex;
		align-items: center;		
		&::before{
			content:'';
			display:inline-block;
			position:absolute;top:0;left:0;
			width:24px;height:24px;
			border:1px solid $COL_gs10;
			border-radius: 50%;
			background: {
				color: $COL_white;
				image:url(./../img/icon/icon_chk_gr.svg);
				size:16px auto;
				position: center;
				repeat:no-repeat;
			};
		}
		.txt{
			padding-left:32px;
			color: $COL_gs03;
		}
	}
	&:checked:not(:disabled){
		& + label {
			.txt {
				color:$COL_black ;
			}			
		}
		& + label::before {
			border-color: $COL_secondary1;
			background: {
				color: $COL_secondary1;
				image:url(./../img/icon/icon_chk_wh.svg);
			};
		}
	}
	&:disabled{		
		& + label {
			.txt  {
				color:$COL_gs10;
			}
		}
		&:not(:checked) + label::before {
			background: {
				color: $COL_gs07;
				// image:url(./../img/icon/icon_chk_gr.svg);
			};
		}
		&:checked {
			& + label::before{
				border-color: $COL_gs10;
				background: {
					color: $COL_gs10;
					image:url(./../img/icon/icon_chk_wh.svg);
				};
			}
		}
	}
	&.small{		
		& + label{
			display: inline-flex;
			align-items: center;
			.txt{
				@include fontT(13, 20px);
				padding-left: 22px;
			}
			&::before{
				width: 20px; height: 20px;
			}
		}
	}
	&.bold{
		& + label{
			.txt{
				@include fontHM(16,24px);
			}
		}
	}
}
//block checkbox / radio
.chk_block{
	// &.hs02 {
	// 	& + label {
	// 		height:40px;
	// 		@include fontH(15, 40px);
	// 	}
	// }
	// &.hs03 {
	// 	& + label {
	// 		height:32px;
	// 		@include fontH(13, 32px);
	// 	}
	// }
	& + label{
		display:block;
		height:32px;
		padding:0 4px;
		border:1px solid $COL_gs05;
		background:$COL_white;
		color:$COL_gs03;
		@include fontH(13, 30px);
		text-align:center;
		transition:all .3;
	}
	&:not(:disabled):hover + label{
		background:$COL_gs08;
		color:$COL_gs04;
	}
	&:not(:disabled):checked{
		& + label{
			color:$COL_secondary1;
			border:1px solid $COL_secondary1;
		}
		&:hover + label{
			background:$COL_white;
			border-color:$COL_secondary1;
		}
	}
	&:disabled{
		& + label {
			background:$COL_gs08;
			color:$COL_gs10;
		}
		&:checked + label{
			color:$COL_gs03;
			border-color:$COL_gs03;
		}
	}
}

//addfile 
.addfile {
	label {
		display: inline-block;
		cursor: pointer;
		background-color: $COL_white;
		border: 1px solid $COL_gs05;
		padding: 6px 16px;
		@include fontH(13);
		color: $COL_black;
	}
	input[type=file] {
		position: absolute;
		width: 0px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		border: 0;
	}
	&_list {
		display: inline-flex;
		align-items: center;
		gap: 8px;
		flex-wrap: wrap;
		margin-top: 8px;
		.file {
			display: flex;
			align-items: center;
			background-color: $COL_white;
			border: 1px solid $COL_gs06;
			padding: 5px 14px;
			max-width: 330px;
			&:before {
				content: '';
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 15px;
				background: url(/CA/p/img/icon/icon_ui_file03.svg) no-repeat center;
				opacity: 0.5;
			}
			.item {
				margin-right: 6px;
				@include Mix_Ellipsis01;
				@include fontT(14);
				color: $COL_gs02;
				text-align: left;
				width: 240px;
			}
			.txt_btn03 {
				color: $COL_gs03;
				border-color: $COL_gs03;
			}
		}
	}
}

//달력
.calendar { //height 40px
	font-size: 0;
	.date-picker-wrap{
		position: relative;
		// display: inline-block;
	}
	.ui-datepicker-div:nth-child(2) {
		right: 0;
	}
	.date-picker {
		position:relative;
		padding:0 4px 0 12px;
		width: 100%;
		height:40px;
		border:1px solid $COL_gs06;
		background: {
			image :url('./../img/icon/icon_ui_calendar.svg');
			repeat:no-repeat;
			position:95px center;
			size: 16px 16px;
		}
		color:$COL_gs03;
		cursor: pointer;
		@include fontT(15, 38px);
	}
	& > span {
		display: inline-block;
		width: 30px;
		text-align: center;
		color:$COL_gs03;
		@include fontT(15, 38px);
		vertical-align: middle;
	}
}

