
$font: GeneSans_Txt, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림,  Arial, Verdana, sans-serif;
$fontH: GeneSans_Head, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림,  Arial, Verdana, sans-serif;

// Common Color
$COL_white : #fff; // gs10
$COL_black : #000; // gs01  
/* 
	컬러 사용 법!
	color('COL_gs02') // bg white 일 때
	color('COL_gs02' , 'dark") // bg black 일 때
*/
@function color($state: null, $state2: null) { 
	$result: null;
	@if $state == 'COL_gs02' {  
		$result : #333333;
		@if $state2 == 'dark' {
		$result: #CCCCCC;
		} 
	} @else if $state == 'COL_gs03' {
		$result : #767676;
		@if $state2 == "dark" {
			$result: #BBBBBB;
		}
	} @else if $state == 'COL_gs04' {  
		$result : #9C9C9C;
		@if $state2 == "dark" {
			$result: #AAA8A6;
		}  
	}  @else if $state == 'COL_gs05' {  
		$result : #DDDDDD;  
		@if $state2 == "dark" {
			$result: #828282;
		}  
	} @else if $state == 'COL_gs06' {  
		$result : #EDEDED;  
		@if $state2 == "dark" {
			$result: #595959;
		}  
	} @else if $state == 'COL_gs07' {  
		$result : #F6F6F6;  
		@if $state2 == "dark" {
			$result: #333333;
		}  	
	} @else if $state == 'COL_gs08' {  
		$result : #F7F7F7;  
		@if $state2 == "dark" {
			$result: #1E1E1E;
		}  
	} @else if $state == 'COL_gs09' {  
		$result : #FFFFFF;  // 짝꿍 아님 
		@if $state2 == "dark" {
			$result: #1A1A1A;
		}  
	} @else if $state == 'COL_gs10' {  
		$result : #CCCCCC;  
		@if $state2 == "dark" { 
			$result: #111111;
		}  
	} @else if $state == 'COL_secondary1' {  
		$result : #1D8ABC;  
		@if $state2 == "dark" {
			$result: #1D8ABC;
		}  
	} @else if $state == 'COL_secondary2' {  
		$result : #AF6249;  
		@if $state2 == "dark" {
			$result: #C36F51;
		}  
	} @else if $state == 'COL_secondary3' {  
		$result : #DB9200;  
		@if $state2 == "dark" {
			$result: #F2A200
		}  
	} @else if $state == 'COL_secondary4' {  
		$result : #30A878;  
		@if $state2 == "dark" {
			$result: #34BA85;
		}  
	} @else if $state == 'COL_error' {  
		$result : #CE2D2D;  
		@if $state2 == "dark" {
			$result: #D83636;
		}  
	}
	@return $result;

}