@charset 'utf-8';
/* 
	전시
*/

@import '../_common/g_function';
@import '../_common/g_mixins';

/* 배경 : 흰색 */
@include Mix_Body_Black;


@import '../_layout/g_search';

/* 전시 이미지 코너 */
.display_corner01{
	position:relative;
	margin:0 0 45px 0;
	.bo_img{// bo 이미지형
		position:relative;
		img{
			width:100%;
			height:auto;
		}
		&::before{
			content:'';
			position:absolute;
			bottom:0;
			width:100%;
			height:144px;
			background:linear-gradient(180deg, rgba($COL_Text_Base04, 0) 0%, $COL_Text_Base04 100%);
		}
	}
	.bo_html{// bo html
		color: $COL_WHITE;
		img{
			width:100%;
			height:auto;
		}
	}
	.bo_video{// bo video
		video[poster]{
			width:100%;
			height:56.2vw;
			object-fit:cover;
		}
		.youtube {
			position: relative;
		}
		.block-img {
			width: 100%;
			height: 56.2vw;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
			.ic-play {
				width: 100%;
				height: 100%;
				background: url('../img/sample/icon_play.png') no-repeat center;
				background-size: 70px auto;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				text-indent: -9999px;
				opacity: .75;
			}
			img {
				width: 100%;
				max-height: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				object-fit: cover;
			}
		}
	}
	> .title{
		position:absolute;
		top:70px;
		left:0;
		width:100%;
		padding:0 15px;
		color:$COL_WHITE;
		> .tit{
			@include Mix_Font('Head-L', 54, 64);
			text-shadow:0px 0px 3px rgba($COL_Text_Base04, 0.7);
			&.kor{
				margin-bottom:10px;
				@include Mix_Font('Head-L', 30, 38);
			}
		}
		> .copy{
			@include Mix_Font('Head-L', 16, 21);
			text-shadow:0px 0px 3px rgba($COL_Text_Base04, 0.7);
			&.kor{
				@include Mix_Font('Txt-R', 13, 17);
			}
		}
		&.type02{
			top:110px;
			> .tit{
				@include Mix_Font('Head-L', 30, 40);
			}
			> .copy{
				&.kor{
					@include Mix_Font('Txt-R', 13, 21);
				}
			}
		}
	}
	.model_chart{
		position:relative;
		width:calc(100% - 30px);
		height:200px;
		margin:-101px 15px 0;
		padding:25px 0 30px;
		background:$COL_1A1A;
		.head{
			display:flex;
			justify-content:space-between;
			padding:0 25px;
		}
		.title{
			margin-top:1px;
			@include Mix_Font_Head_L;
			.text{
				display:block;
				color:$COL_8282;
				@include Mix_Font('Head-L', 12, 16);
			}
			.name{
				color:$COL_WHITE;
				@include Mix_Font('Head-L', 22, 30);
			}
		}
	}
	.sorting li{
		display:inline-block;
		position:relative;
		&::before{
			content:'';
			display:inline-block;
			width:1px;
			height:10px;
			margin:0 10px 0 6px;
			background:$COL_BG_Light03;
		}
		&:first-child{
			margin:0;
			padding:0;
			&::before{
				content:none;
			}
		}
		button{
			position:relative;
			padding-bottom:2px;
			color:$COL_8282;
			@include Mix_Font('Txt-R', 12, 19);
			&::after{
				content:'';
				position:absolute;
				left:0;
				bottom:0;
				width:100%;
				height:1px;
				background:transparent;
			}
		}
		&.on button{
			color:$COL_C36F51;
			&::after{
				background:$COL_C36F51;
			}
		}
	}
	.list_chart{
		display:table;
		width:100%;
		margin-top:0px;
		padding:0 15px;
		color:$COL_8282;
		@include Mix_Font('Txt-R', 11, 17);
		@include Mix_Clear;
		li{
			float:left;
			table-layout:fixed;
			width:20%;
		}
		.bar{
			display:flex;
			flex-direction:column;
			align-items:center;
			justify-content:flex-end;
			height:77px;
			margin:0 auto;
			border-bottom:1px solid $COL_1E1E;
			i{
				display:block;
				width:6px;
				height:0%;
				background:$COL_WHITE;
				text-indent:-99999px;
				transition:height 1s;
			}
		}
		.text{
			margin-top:8px;
			@include Mix_Font('Head-R', 11, 15);
			text-align:center;
			word-break:keep-all;
		}
	}
}

/* 필터 plp_filter */
.plp_filter{
	overflow:hidden;
	position:relative;
	height:32px;
	margin:0 0 24px 15px;
	/* 상세검색 버튼 */
	.btn_filter{
		overflow:hidden;
		height:32px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			@include Mix_Display_Bg;
			background-position:0 -28px;
		}
	}
	.list{
		overflow:hidden;
		position:absolute;
		top:0;
		left:30px;
		width:calc(100% - 10px);
		.scroll{
			overflow-x:auto;
			padding:0 30px 10px 0;
			white-space:nowrap;
			button{
				display:inline-block;
				width:auto;
				padding:9px 16px 7px;
				margin-right:2px;
				border-radius:20px;
				background:$COL_BLACK;
				color:$COL_BBB;
				@include Mix_Font('Txt-R', 11, 18);
				word-break:keep-all;
				&::after{
					content:'';
					display:inline-block;
					width:10px;
					height:10px;
					margin:0 0 0 6px;
					@include Mix_Display_Bg;
					background-position:-118px -53px;
					vertical-align:middle;
				}
			}

		}
	}
}

/* 상품목록 plp_sorting */
.plp_sorting{
	position:relative;
	margin:0 15px 15px;
	.tit{
		color:$COL_WHITE;
		@include Mix_Font('Head-L', 18, 24);
		.hidden{
			display:none;
		}
		em, i{
			color:$COL_C36F51;
			@include Mix_Font('Txt-R', 14, 19);
		}
	}
	> ul{
		display:flex;
		align-items:center;
		position:absolute;
		top:0;
		right:0;
		> li{
			margin-left:10px;
			position:relative;
			// z-index:4;
			&.on{
				.sorting_layer{
					display:block;
					.plp_sort li{
						margin-top:12px;
						&:first-of-type{
							margin-top:0;
						}
					}
				}
			}
		}
	}

	/* 인기순 버튼, 목록 유형 버튼 */
	.btn_sort{
		padding:3px 5px;
		color:$COL_WHITE;
		@include Mix_Font('Txt-R', 14, 19);
		&::after{
			content:'';
			display:inline-block;
			width:14px;
			height:14px;
			margin:0 0 2px 5px;
			@include Mix_Display_Bg;
			background-position:-40px -28px;
			vertical-align:middle;
		}
	}
	.btn_thumb{
		overflow:hidden;
		@include Mix_Size_0;
		width:24px;
		height:24px;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			margin:0 auto;
			@include Mix_Display_Bg;
			background-position:-84px -28px;
		}
		
	}
	.btn_deal{
		overflow:hidden;
		@include Mix_Size_0;
		width:24px;
		height:24px;
		&::before{
			content:'';
			display:block;
			margin:0 auto;
			width:20px;
			height:20px;
			@include Mix_Display_Bg;
			background-position:-59px -28px;
		}
		
	}

}


/* 판매 준비 차량 목록 */
.plp_coming01{
	.coming_list{/* 목록*/
		margin:0 15px 60px;
		ol{
			li{
				margin-bottom:20px;
			}
		}
	}
}

/* 기획전 목록 */
.plp_plan01{
	padding-top:20px;
	.plan_list{/* 목록*/
		margin:0 15px 60px;
		ol{
			li{
				margin-bottom:20px;
			}
		}
	}
}

/* 음성검색 레이어팝업 */
.search_layer.p_wrap {
	height: 100%;
	background-color: $COL_Line_Light01;
	.box_search_top {
		padding-top: 90px
	}
	h2 {
		color: $COL_Primary01;
		@include Mix_Font('Head-B', 26, 34);
		text-align: center;
	}
	.search_word {
		padding: 0 80px;
		@include Mix_Font('Txt-R', 26, 34);
		color: $COL_Primary01;
		word-break: break-all;
	}
	.box_search_btm {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: absolute;
		bottom: 60px;
		width: 100%;
		&.active_restart {
			.box_loading {opacity: 0;}
			.box_restart_search {opacity: 1;}
		}
		&.active_recommend {
			.recommend_word{opacity: 1;}
		}
	}
	.recommend_word {
		width: 100%;
		padding-bottom: 30px;
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
		strong {
			display: block;
			padding-bottom: 15px;
			color: $COL_Text_Base04;
			@include Mix_Font('Head-R', 20, 26);
		}
		p {
			margin-top: 8px;
			color: $COL_Inactive_Text01;
			@include Mix_Font('Head-R', 17, 20);
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.box_restart_search {
		position: absolute;
		bottom: 0;
		width: 100%;
		color: $COL_Inactive_Text01;
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
		button {
			width: 80px;
			height: 80px;
			margin-top: 20px;
			img {
				width: 100%;
			}
		}
		&.active {
			opacity: 1;
		}
	}
	.box_loading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 120px;
		height: 80px;
		opacity: 1;
		i {
			display: block;
			width: 12px;
			height: 12px;
			background-color: $COL_Blue03;
			border-radius: 12px;
		}
		&.active i {
			--startHeight:40px;
			--endHeight:30px;
			animation: voice_search01 1s ease-in-out infinite;
			&:nth-child(1),
			&:nth-child(5) {
				--startHeight:25px;
				--endHeight:20px;
				animation: voice_search01 1s ease-in-out infinite;
			}
			&:nth-child(2),
			&:nth-child(4){
				--startHeight:20px;
				--endHeight:40px;
				animation: voice_search01 1s ease-in-out infinite;
			}
		}
		&.speed i {animation-duration: 0.5s !important;}
	}


	@keyframes voice_search01 {
		0%, 100% {
			height: var(--startHeight);
		}
		50% {
			height: var(--endHeight);
		}
	}
}