// 버튼 스타일 

@import '../_common/p_function';
@import '../_common/p_mixins';

.p_wrap{
	.work_photo,
	.work_carimg,
	.layer_car_status,
	.sale_car02{
		padding-bottom:120px;
	}
}
.btn_sticky{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	z-index:600;
	[class^="btn_action"]{
		border-radius:0;
	}	
	ul{
		width:100%;
		display:table;
		table-layout:fixed;
		li{
			display:table-cell;
			vertical-align:middle;
			&.re{
				width:56px;
			}
			&.bar{
				position:relative;
				&::before{
					content:'';
					display:block;
					position:absolute;
					top:0;
					left:0;
					width:1px;
					height:100%;
					background:$COL_WHITE;
					opacity:0.2;
				}
			}
		}
	}
}


[class^="btn_small"]{// 컨텐츠 안에 있는 버튼
	display:inline-block;
	height:22px;
	padding:0 10px;
	// border-radius:2px;
	@include Mix_Font('Txt-R', 11, 20);
	text-align:center;
	&:is(&.btn_small01){//파란색
		color:$COL_WHITE;
		background-color:$COL_Primary01;
	}
	&:is(&.btn_small02){//회색
		color:$COL_WHITE;
		background-color:$COL_Inactive_Text01;
	}
}
[class^="btn_middle"]{// 컨텐츠 안에 있는 버튼
	display:inline-block;
	height:32px;
	padding:0 15px;
	// border-radius:4px;
	@include Mix_Font('Txt-R', 13, 30);
	text-align:center;
	&:is(&.btn_middle01){//파란색
		color:$COL_WHITE;
		background-color:$COL_Primary01;
	}
	&:is(&.btn_middle02){//회색
		color:$COL_WHITE;
		background-color:$COL_Inactive_Text01;
	}
	&:is(&.btn_middle03){//회색
		color:$COL_Text_Base01;
		background-color:$COL_Line_Light01;

	}
}
[class^="btn_action"]{// 컨텐츠 안에 있는 버튼
	display:block;
	width:100%;
	height:52px;
	padding:0 15px;
	&:not(.p_wrap &){
		// border-radius:4px;

	}
	@include Mix_Font('Txt-M', 14, 50);
	text-align:center;
	&:is(&.btn_action01){//파란색
		color:$COL_WHITE;
		background-color:$COL_Primary01;
	}
	&:is(&.btn_action02){//회색
		color:$COL_WHITE;
		background-color:$COL_Inactive_Text01;
	}
	&:is(&.btn_action03){//회색
		color:$COL_WHITE;
		background-color:$COL_Secondary01;
	}
}

[class^="btn_alert"]{
	display:block;
	width:100%;
	height:52px;
	padding:0 10px;
	@include Mix_Font('Head-M', 15, 50);
	&:is(&.btn_alert01){//파란색
		color:$COL_WHITE;
		background-color:$COL_Primary01;
	}
	&:is(&.btn_alert02){//회색
		color:$COL_WHITE;
		background-color:$COL_Inactive_Text01;
	}
}

.cpo_tooltip{
	position:relative;
	display:inline-block;
	margin:0 0 2px 5px;
	vertical-align:middle;
	.open{
		display:inline-block;
		width:16px;
		height:16px;
		@include Mix_Size_0;
		@include Mix_Form_Bg;
		background-position:0 -53px;
	}
	&.on{
		.cont{
			display:block;
		}
	}
	.cont{
		display:none;
		position:absolute;
		top:29px;
		left:1px;
		z-index:999;
		width:240px;
		padding:20px;
		border:1px solid $COL_Line_Dark01;
		margin-left:-20px;
		background:$COL_WHITE;
		box-shadow:0px 3px 6px rgba($COL_Text_Base04, 0.12);
		.entry_carbase &{// 내차팔기 '외판스크래치 툴팁
			.swiper-slide{
				.img{
					margin-bottom:26px;
				}
			}
			.swiper-pagination{
				bottom:unset !important;
				top:110px;
			}
		}
		.txt{
			color:$COL_Text_Base04;
			@include Mix_Font('Txt-R', 13, 20);
			word-break:keep-all;
		}
		.img{
			margin-bottom:10px;
			img{
				width:100%;
			}
		}
		.notice01{// 안내 문구만 있는 경우
			li{
				position:relative;
				padding:0 0 10px 8px;
				color:$COL_Text_Base04;
				@include Mix_Font('Txt-R', 13, 20);
				word-break:keep-all;
				&:last-of-type{
					padding-bottom:0;
				}
				&::before{
					content:'';
					position:absolute;
					top:5px;
					left:0;
					display:block;
					width:2px;
					height:2px;
					background:$COL_Inactive_Text01;
				}
			}
		}
		.close{
			position:absolute;
			top:4px;
			right:4px;
			width:16px;
			height:16px;
			@include Mix_Form_Bg;
			background-position:3px -72px;
			@include Mix_Size_0;
		}
	}
}



.btn_txt05{// 
	position:relative;
	color:$COL_Text_Base04;
	@include Mix_Font('Text-R', 14, 18);
	&:before{
		content:'';
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:1px;
		background:$COL_Text_Base04;
	}
}
.btn_txt06{// 
	display:inline-flex;

	align-items: center;
	width: auto;
	text-decoration:underline;
	text-underline-offset:3px;
	color:$COL_Text_Base04;
	@include Mix_Font('Head-R', 14, 18);
	&:after{
		content:'';
		display:inline-block;
		width:9px;
		height:13px;
		@include Mix_Library_Bg;
		background-position:-60px 0;
		margin-left: 4px;
	}
}
.btn_txt07{ //
	position:relative;
	color:$COL_Blue03;
	@include Mix_Font('Txt-R', 13, 20);
	&::after{
		content:'';
		display:block;
		position:absolute;left:0;bottom:0;
		width:100%;height:1px;
		background:$COL_Blue03;
	}
}