// form 태그 

@import '../_common/p_function';
@import '../_common/p_mixins';

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
	-webkit-appearance:none;
	margin:0;
}

[class^="chk_type"]{
	width:1px;height:1px;opacity:0;
	position:absolute;
}
// 라운드형 ex)약관동의
.chk_type01{
	&+label{
		position:relative;
		display:inline-block;
		line-height:25px !important;
		padding-left:34px;
		&:before{
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:25px;
			height:25px;
			@include Mix_Form_Bg;
		background-position:-58px 0;
		}
	}
	&:checked+label:before{
		background-position:0 0;
	}
	&:disabled+label:before{
		background-position:-29px 0;
	}
}
// TOGGLE 스위치형 
.chk_type02{
	&+label{
		display:inline-block;
		position:relative;
		width:42px;
		height:24px;
		background:$COL_Line_Dark01;
		border-radius:50px;
		font-size:0;
		line-height:0;
		color:transparent;
		&::after{
			content:"";
			position:absolute;
			top:3px;
			left:3px;
			background:transparent;
			width:18px;
			height:18px;
			border-radius:100%;
			background:$COL_WHITE;
		}
	}
	&:checked+label{
		background:$COL_Secondary01;
	}
	&:checked+label:after{
		left:20px;
	}	
}
// block 타입 40px
.chk_type03{
	&+label{
		display:inline-block;
		padding:7px 20px;
		border:1px solid $COL_Line_Dark01;
		background:$COL_WHITE;
		color:$COL_Text_Base02;
		@include Mix_Font('Head-R', 14, 24);
		text-align:center;
	}
	&:checked+label{
		color:$COL_Secondary01;
		border:1px solid $COL_Secondary01;
	}
}

// 텍스트 타입
.chk_type04{ 
	&+label{
		position:relative;
		display:block;
		padding:0 0 0 18px;
		color:$COL_Text_Base03;
		@include Mix_Font('Txt-R', 13, 32);
	}
	&:checked+label{
		color:$COL_Blue03;
		@include Mix_Font('Txt-M', 14, 32);
	}
}

//기본형
.chk_type05{
	&+label{
		position:relative;
		display:inline-block;
		line-height:20px !important;
		padding-left:28px;
		&:before{
			content:'';
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:20px;
			height:20px;
			@include Mix_Form_Bg;
		background-position:-133px 0;
		}
	}
	&:checked+label:before{
		background-position:-87px 0;
	}
	&:disabled+label:before{
		background-position:-110px 0;
		opacity: 0.5;
	}
	&:checked:disabled+label:before{
		background-position:-87px 0;
		opacity: 1;
	}
}

.chk_type08{// 감가상가 정보 체크 W,P 등등
	&+label{
		position:relative;
		display:inline-block;
		padding:11px 0 9px;
		background:$COL_WHITE;
		border:1px solid $COL_Line_Dark01;
		color:$COL_Text_Base03;
		@include Mix_Font('Txt-M', 14, 18);
		text-align:center;
		&:before{
			content:'';
			display:inline-block;
			width:18px;
			height:18px;
			border-radius:100%;
			margin:0 5px 2px 0;
			background: {
				image: url('../image/sale_car_sticker1.png');
				size: 18px 18px;
				position: 0 0;
				repeat : no-repeat;
			};
			vertical-align:middle;
		}
	}
	&.icon_x{
		&+label{
			&::before{
				background-image: url('../image/sale_car_sticker2.png')
			}
		}
	}
	&.icon_ww{
		&+label{
			&::before{
				background-image: url('../image/sale_car_sticker3.png')
			}
		}
		&:checked+label{
			border:1px solid $COL_Secondary01;
		}
	}
	&.icon_xx{
		&+label{
			&::before{
				background-image: url('../image/sale_car_sticker4.png')
			}
		}
		&:checked+label{
			border:1px solid $COL_Secondary01;
		}
	}
	&.icon_a{
		&+label{
			&::before{
				background-image: url('../image/sale_car_sticker5.png')

			}
		}
		&:checked+label{
			border:1px solid $COL_Secondary01;
		}
	}
	&.icon_p{
		&+label{
			&::before{
				background-image: url('../image/sale_car_sticker6.png')

			}
		}
		&:checked+label{
			border:1px solid $COL_Secondary01;
		}
	}
}


// 명의정보 설정 입력 form / 
.form_type01{
	background:#fff;
	box-shadow:0px 0px 1px rgb(0 0 0 / 15%);
	li{
		border-top:1px solid $COL_Line_Light01;
		&:not(.focus){
			&:first-of-type{
				border-top:0;
			}
		}
	}
}

.inp_txt{ // 입력
	padding:4px;
	background:transparent;
	border:0;
	outline:0;
	border:1px solid $COL_Gray14;
	caret-color:rgba(0, 44,95,0.5);
	color:$COL_Primary01;
	background-color: $COL_WHITE;
	@include Mix_Font('Txt-R', 14, 20);
	&::placeholder{
		color:$COL_Line_Dark01;
	}
	&.disalbed,
	&:disabled,
	&:read-only {
		background:$COL_BG_Light02;
		color:$COL_Inactive_Text01;
		pointer-events: none;
	}
}

// textarea type1 
.cpo_error{
	margin-top:8px;
	color:$COL_RED01;
	@include Mix_Font('Txt-R', 12, 16);
}
.textarea_01{
	position:relative;
	width:100%;
	border:1px solid $COL_Line_Dark01;
	transition:padding 0.1s linear;
	textarea{
		border:none;
		width:100%;
		min-height:130px;
		padding:15px 10px;
		@include Mix_Font('Txt-R', 14, 20);
		resize:none;
		background-color: $COL_WHITE;
		&.on{
			overflow-x:hidden;
			overflow-y:scroll;
		}
		&::placeholder{
			color:$COL_Inactive_Text01;
		}
		&.disalbed,
		&:disabled,
		&:read-only {
			// background:$COL_BG_Light02;
			color:$COL_Inactive_Text01;
			pointer-events: none;
		}
	}
	&.focus{
		border:1px solid $COL_Blue03;
		.tit{
			color:$COL_Blue03;
		}
	}
	&.on{
		padding:32px 17px 36px;
		> .tit{
			display:block;
		}
		.txt_check{
			.first{
				color:$COL_Text_Base04;
			}
		}
	}
	> .tit{
		display:none;
		position:absolute;
		top:15px;
		left:17px;
		color:$COL_Inactive_Text01;
		@include Mix_Font('Txt-M', 12, 18);
	}
	.txt_check{
		position:absolute;
		right:16px;
		bottom:9px;
		@include Mix_Font('Txt-R', 13, 17);
		color:$COL_Inactive_Text01;
	}	
}

.inp_box {
	position:relative;
	display:block;
	padding:7px 20px;
	border:1px solid $COL_Line_Light01;	
	span.tit {
		color:$COL_Text_Base03;
		@include Mix_Font('Head-M', 12, 25);
	}
	&.sub{
		margin-top:-1px;
	}
	input {
		border:none;
		width: 100%;
	}
}

.txt_error {
	margin-top:2px;
	color:$COL_RED01;
	@include Mix_Font('Txt-R', 12, 25);
}
