@charset "UTF-8";
/* 
	고객센터
*/
/*
$COL_WHITE: #FFFFFF;
$COL_BLACK: #111111;

$COL_BG_Light01:#F8F8F8;
$COL_BG_Light02:#F2F2F2;

$COL_Line_Light01:#E5E5E5;
$COL_Line_Dark01:#959595;

$COL_Inactive_Icon01:#959595;
$COL_Inactive_Text01:#727272;

$COL_Text_Base01:#666666;
$COL_Text_Base02:#4D4D4D;
$COL_Text_Base03:#262626;
$COL_Text_Base04:#000000;

$COL_Primary01:white;// 제네시스 정의되지 않음
$COL_Primary02:white;// 제네시스 정의되지 않음
$COL_Secondary01:#AF6249;
$COL_SkyBlue01:sky;// 제네시스 정의되지 않음
$COL_Red01: #CE2D2D;
$COL_CPO_BG01: black;// 제네시스 정의되지 않음

$COL_BG_Light03:#333;// 현대 없음

$COL_333: #333;
$COL_5959: #595959;
$COL_8282: #828282;
$COL_999: #999;
$COL_1A1A: #1A1A1A;
$COL_1E1E: #1E1E1E;
$COL_0D0D: #0D0D0D;
$COL_AD7B61: #AD7B61;
$COL_BBB: #bbb;
$COL_C36F51: #C36F51;
$COL_AAA8A6: #AAA8A6;



$COL_Line_01: #B3B3B3; //PDP 금융정보
$COL_Base_01: #808080; //PDP 탭
$COL_Base_02: #4D4D4D; //PDP 상품옵션
$COL_Base_03: #E4DCD3; //PDP 상품유닛, PDP 상단 헤더
$COL_Base_04: #FCFCFC; //PDP 탭
$COL_Base_05: #EBF0F2; //PDP 탭
$COL_Gray08: #F5F2F1; //PDP 인증정보
$COL_Gray09: #999999; //PDP 인증정보
$COL_Gray10: #EEEEEE; //PDP 인증정보
$COL_Gray11: #DEE3ED; //MY PAGE 메인 보유차량 등록
$COL_Gray12: #F1F4F5; //MY PAGE 메인
$COL_Gray13: #CCCCCC; //내차팔기, header 아이콘 - 내차사기 
$COL_Gray14: #DDDDDD; //상품유닛 - 차량 정보
$COL_Gray15: #EDEDED;
$COL_Gray16: #D5D5D5; //PDP toast pop
$COL_Gray17: #8F8F8F;
$COL_Gray18: #0C0C0C;

$COL_Helpful01: #405D80; //PDP 버튼
$COL_Helpful04: $COL_Text_Base01; //PDP flag
$COL_Helpful03: $COL_Text_Base01; //PDP flag, 주문하기 명의지분율, 주문하기 세금감면 혜택
$COL_Helpful05: #AF6249; //PDP 인증정보
$COL_Helpful06: #2C7CDA; //MY PAGE 메인 블루멤버스 포인트
$COL_Helpful07: #ECEFF6; //MY PAGE 메인 보유차량 등록
$COL_Helpful08: #00A8D2; //MY PAGE 포인트내역
$COL_Helpful09: $COL_Text_Base01; //주문 flag
$COL_Helpful10: #06EBFF;
$COL_Helpful11: #1290FE;
*/
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 
*** map 사용 방법 ***
ex) color: map-get($COL_Box_01, "bg_light"); 
배경색에 따라 객체 구분 사용. 
*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
/**
	replace 함수
*/
/* 배경 : 흰색 */
/* base */
.hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.CPOcscenter #CPOcontents {
  padding: 0;
}

.CPOpop_full .p_cscenter {
  padding-bottom: 0;
}

/* S :: 팝업/ 거래 내역조회 */
.product_history .tab_cont {
  padding-top: 25px;
  min-height: 100%;
}
.product_history .caution {
  margin: 0 21px 15px;
}
.product_history .box_history {
  padding: 0 15px 0;
}
.product_history .history_list {
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.02);
}
.product_history .history_list li {
  border-top: 1px solid #F2F2F2;
}
.product_history .history_list li:first-child {
  border-top: 0;
}
.product_history .history_list .unit_type {
  padding: 24px 20px;
}
.product_history .history_list .unit_type label {
  display: flex;
  align-items: center;
}
.product_history .history_list .unit_type label .tit {
  position: relative;
  padding-right: 21px;
  line-height: 22px;
  flex-shrink: 0;
}
.product_history .history_list .unit_type label .tit::after {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 10px;
  margin-top: -6px;
  width: 1px;
  height: 12px;
  background: #E5E5E5;
}
.product_history .history_list .unit_type label .num {
  color: #666666;
  font-family: "GeneSans_Head-R";
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}
.product_history .history_list .unit_type .price i {
  margin-left: 1px;
}

/* E :: 팝업/ 거래 내역조회 */
/* S :: 1:1문의 작성하기 */
.registration_wrap {
  padding: 30px 21px 60px;
}
.registration_wrap .select_product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.registration_wrap .select_product strong {
  color: #000;
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
}
.registration_wrap .form_list02 {
  margin: 20px 0;
}
.registration_wrap .unit_type {
  padding: 20px;
  margin: 12px 0 20px;
  border: 1px solid #F2F2F2;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.02);
}
.registration_wrap .unit_type .top_area [class^=flag] {
  flex-shrink: 0;
}
.registration_wrap .unit_type .top_area .num {
  margin: 0 22px 0 10px;
  color: #666666;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}
.registration_wrap .box_alarm {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #F2F2F2;
}

/* E :: 1:1문의 작성하기 */
/* S :: 고객센터 index */
.cpo_cscenter .kv_box {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
.cpo_cscenter .kv_box .text_box {
  z-index: 1;
  position: absolute;
  top: 100px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  font-family: "GeneSans_Head-L";
  font-size: 24px;
  line-height: 32px;
  color: #fff;
}
.cpo_cscenter .kv_box img {
  display: block;
  width: 100%;
  height: auto;
}
.cpo_cscenter .cont_box {
  padding: 35px 15px 30px;
  text-align: center;
}
.cpo_cscenter .top_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
}
.cpo_cscenter .top_area span {
  color: #727272;
  font-size: 12px;
  line-height: 19px;
}
.cpo_cscenter .qa_list {
  position: relative;
  margin: 20px -15px 12px;
}
.cpo_cscenter .qa_list::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}
.cpo_cscenter .qa_list ul {
  display: flex;
  padding: 0 15px;
  gap: 0 10px;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  width: auto;
  white-space: nowrap;
}
.cpo_cscenter .qa_list .qa_name {
  position: relative;
  display: inline-block;
  width: 80px;
}
.cpo_cscenter .qa_list .qa_name input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}
.cpo_cscenter .qa_list .qa_name input[type=radio]:checked + label {
  background: #000;
  border-color: #000;
  color: #fff;
}
.cpo_cscenter .qa_list .qa_name label {
  display: block;
  padding: 16px 0;
  width: 82px;
  height: 85px;
  box-sizing: border-box;
  color: #000;
  background: #f8f8f8;
  border: 1px solid rgba(229, 229, 229, 0.3);
  text-align: center;
  font-family: "GeneSans_Head-R";
  font-size: 12px;
  line-height: 16px;
}
.cpo_cscenter .qa_banner {
  margin-top: 40px;
  text-align: left;
}
.cpo_cscenter .qa_banner .swiper-slide {
  position: relative;
  overflow: hidden;
}
.cpo_cscenter .qa_banner .swiper-slide .text_box {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
  line-height: 25px;
  font-family: "GeneSans_Head-R";
  font-size: 18px;
  line-height: 24px;
}
.cpo_cscenter .qa_banner .swiper-pagination {
  margin-top: 15px;
}
.cpo_cscenter .qa_my {
  position: relative;
  padding: 40px 21px 0;
}
.cpo_cscenter .qa_my::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #f8f8f8;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}
.cpo_cscenter .qa_my .btn_area {
  margin-top: 20px;
}

/* E :: 고객센터 index */
/* S :: 나의 문의 */
.my_question .q_box > li {
  padding: 35px 21px 30px;
  position: relative;
}
.my_question .q_box > li.active .tit_btn .tit {
  display: block;
  overflow: visible;
  text-overflow: inherit;
}
.my_question .q_box > li:last-child {
  padding-bottom: 0;
}
.my_question .q_box > ::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #f8f8f8;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}
.my_question .tit_btn::after {
  top: 10px;
}
.my_question .tit_btn .tit {
  margin-top: 10px;
  padding-right: 31px;
  color: #000;
  font-family: "GeneSans_Txt-M";
  font-size: 15px;
  line-height: 24px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-word;
  overflow-wrap: break-word;
}
.my_question .tit_btn .date {
  margin-top: 4px;
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.my_question .q_cont {
  display: none;
  padding: 25px 0 0;
}
.my_question .q_cont .qa_txt {
  display: flex;
}
.my_question .q_cont .qa_txt .mark {
  color: #000;
  font-family: "GeneSans_Txt-M";
  font-size: 16px;
  line-height: 20px;
}
.my_question .q_cont .qa_txt .txt {
  flex: 1;
  margin-left: 8px;
  color: #262626;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
  word-break: break-word;
}
.my_question .q_cont .qa_txt .q_car {
  display: block;
  margin-top: 14px;
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.my_question .q_cont .qa_txt .date {
  display: block;
  margin-top: 14px;
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
}
.my_question .q_cont .qa_txt.on {
  margin-top: 30px;
}
.my_question .q_cont .qa_txt.on .txt {
  padding: 20px 17px;
  background: #f8f8f8;
}
.my_question .q_cont .qa_txt.qa_ing {
  text-align: center;
}
.my_question .q_cont .qa_txt.qa_ing .txt {
  color: #666666;
  font-family: GeneSans_Txt-M;
}
.my_question .q_cont .qa_txt + .qa_txt {
  margin-top: 20px;
}
.my_question .q_cont .btn_area {
  margin: 15px 0;
  padding-bottom: 5px;
  text-align: right;
}
.my_question .q_cont .btn_area li {
  display: inline-block;
  position: relative;
}
.my_question .q_cont .btn_area li button {
  color: #000;
  font-family: "GeneSans_Txt-M";
  font-size: 13px;
  line-height: 20px;
}
.my_question .q_cont .btn_area li:nth-child(2):before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 12px;
  margin: 0 10px 0 6px;
  background-color: #E5E5E5;
  vertical-align: middle;
}
.my_question .q_img {
  position: relative;
}
.my_question .q_img .swiper-wrapper {
  margin-bottom: 25px;
}
.my_question .q_img .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100% !important;
  height: 88.3333vw;
  margin-right: 21px;
  background-color: #f8f8f8;
}
.my_question .q_img .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}
.my_question .q_img .swiper-wrapper .swiper-slide.wid img {
  width: 100%;
  height: auto;
}
.my_question .q_img .swiper-wrapper .swiper-slide.hei img {
  width: auto;
  height: 100%;
}

/* E :: 나의 문의 */
/* 자주 묻는 질문 */
.faq_wrap .inp_search input.txt {
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 52px;
}
.faq_wrap .inp_search input.txt::placeholder {
  color: #727272;
}
.faq_wrap .tab_list::after {
  background-color: #F2F2F2;
}
.faq_wrap .toggle {
  border-top: 1px solid #F2F2F2;
}
.faq_wrap .toggle li {
  border-bottom: 1px solid #F2F2F2;
}
.faq_wrap .toggle li .tit_btn {
  width: 100%;
  padding: 25px 21px;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
  text-align: left;
  word-break: keep-all;
  overflow-wrap: break-word;
}
.faq_wrap .toggle li .tit_btn::after {
  right: 22px;
}
.faq_wrap .toggle li .tit_btn > span {
  display: block;
  margin-bottom: 5px;
  color: #727272;
  font-family: "GeneSans_Head-R";
  font-size: 11px;
  line-height: 15px;
}
.faq_wrap .toggle li > .cont {
  display: none;
  padding: 25px 21px;
  border-top: 1px solid #F2F2F2;
  color: #262626;
  background-color: #f8f8f8;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
  word-break: break-word;
}
.faq_wrap .toggle li.on .cont {
  display: block;
}
.faq_wrap .no_data .etc {
  position: relative;
  margin-top: 40px;
  padding-top: 40px;
}
.faq_wrap .no_data .etc .btn_area {
  margin-top: 15px;
}
.faq_wrap .no_data .etc::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #f8f8f8;
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

/* 공지사항 */
.write_list .sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  padding: 0 21px;
  border-top: 1px solid #E5E5E5;
}
.write_list .sorting .count {
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 23px;
  color: #262626;
}
.write_list .sorting .count i {
  font-family: "GeneSans_Txt-M";
  font-size: 14px;
  line-height: 23px;
  color: #AF6249;
}
.write_list li {
  border-top: 1px solid #E5E5E5;
}
.write_list li.notice {
  background-color: #f8f8f8;
}
.write_list .write_anchor {
  display: block;
  width: 100%;
  padding: 25px 21px;
  text-align: left;
}
.write_list .write_anchor .title {
  display: flex;
  align-items: center;
}
.write_list .write_anchor .title i[class^=icon_] {
  display: block;
}
.write_list .write_anchor .title .icon_emergency {
  min-width: 15px;
  height: 20px;
  margin-right: 10px;
  background: url("../img/bg_cscenter.png") no-repeat;
  background-size: 300px 300px;
  background-position: 0 0;
}
.write_list .write_anchor .title .icon_new {
  min-width: 33px;
  height: 18px;
  margin-left: 8px;
  padding: 0 5px;
  background-color: #000;
  font-family: "GeneSans_Txt-R";
  font-size: 11px;
  line-height: 18px;
  color: #fff;
}
.write_list .write_anchor .title .txt {
  display: block;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
}
.write_list .write_anchor .date {
  display: block;
  margin-top: 5px;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
  color: #666666;
}

/* 공지사항 상세 */
.write_detail {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
}
.write_detail .box_scroll {
  overflow-y: auto;
  margin-bottom: 16px;
}
.write_detail .detail_top {
  position: relative;
  padding: 20px 21px 15px;
}
.write_detail .detail_top:after {
  content: "";
  display: block;
  position: absolute;
  left: 21px;
  right: 21px;
  bottom: 0;
  height: 1px;
  background-color: #E5E5E5;
}
.write_detail .detail_top .title {
  display: block;
  font-family: "GeneSans_Txt-M";
  font-size: 15px;
  line-height: 24px;
  word-break: keep-all;
}
.write_detail .detail_top .date {
  margin-top: 4px;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}
.write_detail .detail_cont {
  margin: 30px 0 0;
  padding: 0 21px;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
  color: #262626;
}
.write_detail .post_list {
  margin-top: auto;
  border-top: 1px solid #E5E5E5;
}
.write_detail .post_list li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px 21px;
  border-top: 1px solid #E5E5E5;
}
.write_detail .post_list li:first-child {
  border-top: 0;
}
.write_detail .post_list span {
  display: inline-block;
  flex-shrink: 0;
  padding-right: 10px;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 21px;
  color: #727272;
}
.write_detail .post_list .btn_post {
  display: block;
  text-align: left;
  font-family: "GeneSans_Txt -R";
  font-size: 13px;
  line-height: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.write_detail .post_list .btn_post:disabled {
  background: transparent !important;
  color: #727272;
  pointer-events: none;
}

/* 인덱스 */
.CPOcscenter.active .box_gif {
  margin-top: -44px;
}

/* 인덱스_상단검색영역 */
.search_wrap {
  position: relative;
  height: 1000px;
  background-color: #f8f8f8;
}
.search_wrap .user_info {
  position: fixed;
  top: 110px;
  width: 100%;
  height: 114px;
  padding-bottom: 60px;
  text-align: center;
  z-index: 1;
  font-family: "GeneSans_Head-M";
  font-size: 26px;
  line-height: 33px;
  box-sizing: content-box;
}
.search_wrap .user_info i {
  color: #666666;
}
.search_wrap .user_info .txt_welcome,
.search_wrap .user_info .box_search {
  position: absolute;
  top: 0;
  width: 100%;
  transition: opacity 1s;
}
.search_wrap .user_info .txt_welcome {
  opacity: 1;
}
.search_wrap .user_info .box_search {
  opacity: 0;
  transition-delay: 1s;
}
.search_wrap .box_search {
  padding: 0 21px;
  opacity: 0;
}
.search_wrap .box_search strong {
  font-family: "GeneSans_Head-M";
  font-size: 20px;
  line-height: 25px;
}
.search_wrap .box_search .int_search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 62px;
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 65px;
  background-image: linear-gradient(#fff, #fff), linear-gradient(135.7deg, #06EBFF 0%, #1290FE 98.81%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.search_wrap .box_search .int_search input {
  width: calc(100% - 50px);
  height: 100%;
  padding: 0 10px 0 25px;
  font-family: "GeneSans_Head-R";
  font-size: 17px;
  line-height: 22px;
  color: #000;
  border: 0;
}
.search_wrap .box_search .int_search input::placeholder {
  color: #727272;
}
.search_wrap .box_search .int_search button {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.search_wrap .box_search .int_search button:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background: url("../img/bg_layout.png") no-repeat;
  background-size: 300px auto;
  background-position: -50px -25px;
}
.search_wrap .box_gif {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 0;
  transform: translateY(-50%);
  opacity: 0;
  transition: margin 0.8s, opacity 1s;
}
.search_wrap .box_gif img {
  width: 100%;
}
.search_wrap.active .user_info .txt_welcome {
  opacity: 0;
}
.search_wrap.active .user_info .box_search {
  opacity: 1;
}
.search_wrap.active .box_gif {
  opacity: 0 !important;
}
.search_wrap.static .user_info {
  position: relative;
}

/* 인덱스_챗봇영역 */
.chatbot_list {
  padding: 0 16px 50px 40px;
  background-color: #f8f8f8;
  transition: margin 0.5s;
}
.chatbot_list .box_tab {
  padding-bottom: 5px;
  text-align: right;
}
.chatbot_list .box_tab button {
  margin-left: 12px;
  padding: 5px 0;
  font-family: "GeneSans_Head-R";
  font-size: 13px;
  line-height: 17px;
  color: #4D4D4D;
}
.chatbot_list .box_tab button.active {
  font-family: "GeneSans_Head-M";
  font-size: 13px;
  line-height: 17px;
  color: #666666;
}
.chatbot_list .tab_conts {
  display: none;
}
.chatbot_list .tab_conts.active {
  display: block;
}
.chatbot_list .chat_item {
  position: relative;
  margin-top: 5px;
}
.chatbot_list .chat_item.chatbot {
  margin-top: 40px;
}
.chatbot_list .chat_item.chatbot:before {
  content: "";
  display: block;
  position: absolute;
  left: -25px;
  top: 5px;
  width: 27px;
  height: 27px;
  background: url("../img/bg_cscenter.png") no-repeat;
  background-size: 300px 300px;
  background-position: -33px -35px;
}
.chatbot_list .chat_item.user {
  padding: 0 5px 0 11px;
}
.chatbot_list .chat_item.user .bubble_box {
  min-height: 192px;
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  background-color: #fff;
}
.chatbot_list .chat_item.user .bubble {
  min-height: 192px;
}
.chatbot_list .chat_item.user .bubble.no_data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatbot_list .chat_item:first-child {
  margin-top: 0;
}
.chatbot_list .bubble_box {
  padding: 23px 0;
  background: url("../img/bg_bubble_lt.png") left top no-repeat, url("../img/bg_bubble_rt.png") right top no-repeat, url("../img/bg_bubble_lb.png") left bottom no-repeat, url("../img/bg_bubble_rb.png") right bottom no-repeat, url("../img/bg_bubble_top.png") left top repeat-x, url("../img/bg_bubble_btm.png") left bottom repeat-x;
  background-size: 31px 23px, 41px 23px, 31px 23px, 41px 23px, 20px 23px, 20px 23px;
}
.chatbot_list .bubble {
  padding: 0 41px 0 29px;
  background: url("../img/bg_bubble_lm.png") left top repeat-y, url("../img/bg_bubble_rm.png") right top repeat-y;
  background-size: 31px 10px, 41px 10px;
  background-color: #fff;
  font-family: "GeneSans_Head-M";
  font-size: 18px;
  line-height: 23px;
  color: #262626;
}
.chatbot_list .bubble span {
  display: block;
  margin-top: 4px;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 18px;
  color: #727272;
}
.chatbot_list button[class^=btn_link] {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.015);
  border-radius: 10px;
  border: 1px solid #E5E5E5;
  background-color: #fff;
  color: #000;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 19px;
}
.chatbot_list .box_questions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 6px;
  margin-top: 10px;
  padding-left: 11px;
}
.chatbot_list .box_questions .btn_link {
  padding: 14px 20px;
}
.chatbot_list .box_faq {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 5px;
  padding: 0 5px 0 11px;
}
.chatbot_list .box_faq button[class^=btn_link] {
  flex: 1 1 30%;
  padding: 20px 0 19px;
}
.chatbot_list .box_faq button[class^=btn_link] span {
  display: block;
  padding-top: 6px;
}
.chatbot_list .box_faq button[class^=btn_link]:before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url("../img/bg_cscenter.png") no-repeat;
  background-size: 300px 300px;
}
.chatbot_list .box_faq .btn_link01:before {
  background-position: -20px 0px !important;
}
.chatbot_list .box_faq .btn_link02:before {
  background-position: -55px 0px !important;
}
.chatbot_list .box_faq .btn_link03:before {
  background-position: -90px 0px !important;
}
.chatbot_list .box_faq .btn_link04:before {
  background-position: -125px 0px !important;
}
.chatbot_list .box_faq .btn_link05:before {
  background-position: -160px 0px !important;
}
.chatbot_list .box_faq .btn_link06:before {
  background-position: -195px 0px !important;
}
.chatbot_list .swiperType01 .swiper-slide {
  overflow: hidden;
  height: 198px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.015);
  border-radius: 8px;
  border: 1px solid #E5E5E5;
}
.chatbot_list .swiperType01 .unit_item {
  overflow: hidden;
  padding: 20px 0 0;
}
.chatbot_list .swiperType01 .unit_bot button {
  width: 100%;
  height: 50px;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 19px;
  color: #000;
}
.chatbot_list .swiperType01 .btn_all {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #262626;
  text-align: center;
  background-color: #fff;
}
.chatbot_list .swiperType01 .btn_all:before {
  content: "";
  display: block;
  width: 28px;
  height: 28px;
  background: url("../img/bg_cscenter.png") no-repeat;
  background-size: 300px 300px;
  background-position: 0 -35px;
}
.chatbot_list .swiperType01 .btn_all span {
  display: block;
  width: 100%;
  margin-top: 15px;
  font-family: "GeneSans_Txt-M";
  font-size: 14px;
  line-height: 21px;
}
.chatbot_list .swiperType01 .box_no_data {
  overflow: hidden;
  height: 100%;
  padding-top: 47px;
  background-color: #fff;
  font-family: "GeneSans_Txt-M";
  font-size: 14px;
  line-height: 21px;
  color: #727272;
  text-align: center;
}
.chatbot_list .swiperType01 .box_no_data:before {
  content: "";
  display: block;
  width: 47px;
  height: 42px;
  margin: 0 auto 15px;
  background: url("../img/bg_layout.png") no-repeat;
  background-size: 300px auto;
  background-position: 0 -106px;
}
.chatbot_list .swiperType01 .box_no_data p {
  margin-top: 21px;
}
.chatbot_list .swiperType01 .box_no_data button {
  display: inline-block;
  margin-top: 10px;
  font-family: "GeneSans_Head-R";
  font-size: 12px;
  line-height: 15px;
  color: #4D4D4D;
  text-decoration: underline;
}
.chatbot_list .swiperType01 .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  height: 6px;
  margin-top: 12px;
}

/* 인덱스_문의링크 */
.box_links {
  padding: 40px 21px;
  background-color: #fff;
}
.box_links strong {
  font-family: "GeneSans_Head-M";
  font-size: 18px;
  line-height: 23px;
}
.box_links a {
  margin-top: 20px;
}
.box_links a + a {
  margin-top: 10px;
}

/* 인덱스_서비스안내 */
.box_service {
  overflow: hidden;
  padding-top: 10px;
  background-color: #f8f8f8;
}
.box_service .inner {
  padding: 40px 0;
  background-color: #fff;
}
.box_service .title {
  display: block;
  padding: 0 21px;
  font-family: "GeneSans_Head-M";
  font-size: 26px;
  line-height: 33px;
}
.box_service .swiperType02 {
  margin-top: 20px;
  padding-left: 21px;
}
.box_service .swiperType02 .swiper-slide {
  position: relative;
  width: 84% !important;
  margin-right: 20px;
}
.box_service .swiperType02 .swiper-slide img {
  width: 100%;
}
.box_service .swiperType02 .swiper-slide span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 77px 35px 20px;
}
.box_service .swiperType02 .swiper-slide:last-child {
  margin-right: 20px;
}
.box_service .link_banner {
  display: block;
  position: relative;
  color: #fff;
  font-family: "GeneSans_Head-R";
  font-size: 20px;
  line-height: 25px;
}
.box_service .link_banner:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 70.14%, rgba(0, 0, 0, 0.5) 100%);
}

/* 인덱스_공지사항 */
.box_notice {
  padding-top: 10px;
  background-color: #f8f8f8;
}
.box_notice .inner {
  padding: 40px 21px;
  background-color: #fff;
}
.box_notice .title {
  display: block;
  padding-bottom: 21px;
  font-family: "GeneSans_Head-M";
  font-size: 18px;
  line-height: 23px;
  border-bottom: 1px solid #E5E5E5;
}
.box_notice li {
  margin-top: 21px;
}
.box_notice li a {
  display: block;
  position: relative;
  padding-right: 30px;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #262626;
}
.box_notice li a:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 7px;
  height: 12px;
  background-image: url("../img/bg_pdp.png");
  background-size: 300px;
  background-position: -256px 0;
  background-repeat: no-repeat;
  transform: translateY(-50%);
}
.box_notice .btn_mid02 {
  margin-top: 21px;
}
/*# sourceMappingURL=maps/g_cscenter.css.map */
