@charset "UTF-8";
/*
$COL_WHITE: #FFFFFF;
$COL_BLACK: #111111;

$COL_BG_Light01:#F8F8F8;
$COL_BG_Light02:#F2F2F2;

$COL_Line_Light01:#E5E5E5;
$COL_Line_Dark01:#959595;

$COL_Inactive_Icon01:#959595;
$COL_Inactive_Text01:#727272;

$COL_Text_Base01:#666666;
$COL_Text_Base02:#4D4D4D;
$COL_Text_Base03:#262626;
$COL_Text_Base04:#000000;

$COL_Primary01:white;// 제네시스 정의되지 않음
$COL_Primary02:white;// 제네시스 정의되지 않음
$COL_Secondary01:#AF6249;
$COL_SkyBlue01:sky;// 제네시스 정의되지 않음
$COL_Red01: #CE2D2D;
$COL_CPO_BG01: black;// 제네시스 정의되지 않음

$COL_BG_Light03:#333;// 현대 없음

$COL_333: #333;
$COL_5959: #595959;
$COL_8282: #828282;
$COL_999: #999;
$COL_1A1A: #1A1A1A;
$COL_1E1E: #1E1E1E;
$COL_0D0D: #0D0D0D;
$COL_AD7B61: #AD7B61;
$COL_BBB: #bbb;
$COL_C36F51: #C36F51;
$COL_AAA8A6: #AAA8A6;



$COL_Line_01: #B3B3B3; //PDP 금융정보
$COL_Base_01: #808080; //PDP 탭
$COL_Base_02: #4D4D4D; //PDP 상품옵션
$COL_Base_03: #E4DCD3; //PDP 상품유닛, PDP 상단 헤더
$COL_Base_04: #FCFCFC; //PDP 탭
$COL_Base_05: #EBF0F2; //PDP 탭
$COL_Gray08: #F5F2F1; //PDP 인증정보
$COL_Gray09: #999999; //PDP 인증정보
$COL_Gray10: #EEEEEE; //PDP 인증정보
$COL_Gray11: #DEE3ED; //MY PAGE 메인 보유차량 등록
$COL_Gray12: #F1F4F5; //MY PAGE 메인
$COL_Gray13: #CCCCCC; //내차팔기, header 아이콘 - 내차사기 
$COL_Gray14: #DDDDDD; //상품유닛 - 차량 정보
$COL_Gray15: #EDEDED;
$COL_Gray16: #D5D5D5; //PDP toast pop
$COL_Gray17: #8F8F8F;
$COL_Gray18: #0C0C0C;

$COL_Helpful01: #405D80; //PDP 버튼
$COL_Helpful04: $COL_Text_Base01; //PDP flag
$COL_Helpful03: $COL_Text_Base01; //PDP flag, 주문하기 명의지분율, 주문하기 세금감면 혜택
$COL_Helpful05: #AF6249; //PDP 인증정보
$COL_Helpful06: #2C7CDA; //MY PAGE 메인 블루멤버스 포인트
$COL_Helpful07: #ECEFF6; //MY PAGE 메인 보유차량 등록
$COL_Helpful08: #00A8D2; //MY PAGE 포인트내역
$COL_Helpful09: $COL_Text_Base01; //주문 flag
$COL_Helpful10: #06EBFF;
$COL_Helpful11: #1290FE;
*/
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 
*** map 사용 방법 ***
ex) color: map-get($COL_Box_01, "bg_light"); 
배경색에 따라 객체 구분 사용. 
*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
/**
	replace 함수
*/
.h_header_navi01 {
  background-color: #F2F2F2;
}

#CPOcontents .join_list {
  padding: 40px 21px;
}

.p_wrap .join_list {
  padding: 5px 25px 0;
  /* 서비스 가입 - 마케팅 활용 동의 bo html 영역 */
}
.p_wrap .join_list .tit {
  margin-top: 5px;
}
.p_wrap .join_list .tit h1 {
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
}
.p_wrap .join_list .agree {
  border-top: 1px solid #F2F2F2;
  padding: 25px 0 0 0;
}
.p_wrap .join_list .agree .join_agree .tit {
  padding: 0;
  margin-top: 0;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
}
.p_wrap .join_list .agree .join_agree .txt {
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
  color: #727272;
  margin: 8px 0 0;
}
.p_wrap .join_list .join_sns {
  /* 수신동의 영역*/
  display: flex;
  flex-flow: row wrap;
  row-gap: 15px;
  margin-top: 0;
  color: #262626;
}
.p_wrap .join_list .join_sns > li {
  flex: 50%;
  margin-top: 0;
}
.p_wrap .join_list .join_sns label {
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
}

.join_list {
  overflow-y: auto;
  height: calc(100% - 106px);
}
.join_list .tit {
  padding-bottom: 20px;
  font-family: "GeneSans_Head-L";
  font-size: 22px;
  line-height: 30px;
}
.join_list .tit h3 {
  color: #000;
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
}
.join_list .tit .txt {
  margin-top: 4px;
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
}
.join_list .inner .btn_show01::before {
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='12px' height='8px' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%238f8f8f' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.join_list .agree_wrap {
  margin: 20px 0 0;
}
.join_list .agree_wrap .sub_depth.on .btn_show01::before {
  transform: rotate(180deg);
}
.join_list .agree_wrap .sub_depth.on > .inner {
  display: block;
}
.join_list .agree_wrap .sub_depth .btn_show01::before {
  transform: rotate(0);
}
.join_list .agree_wrap .sub_depth > .inner {
  display: none;
  border-top: none;
  padding: 0 0 0 30px;
  margin-top: 8px;
}
.join_list .agree_wrap .join_sns {
  /* 수신동의 영역*/
  display: flex;
  flex-flow: row wrap;
  row-gap: 15px;
  color: #262626;
  padding: 0 0 0 6px;
}
.join_list .agree_wrap .join_sns > li {
  flex: 50%;
  margin-top: 0;
}
.join_list .agree_wrap .join_sns label {
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
}
.join_list .join_agree .txt {
  color: #727272;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 21px;
}
.join_list .chk_type01 + label {
  color: #262626;
}

/* 서비스 가입 - 마케팅 활용 동의 bo html 영역 */
/* S :: 개인/법인 로그인 */
.corp_login {
  padding: 0 15px;
  background-color: #F2F2F2;
  min-height: calc(100vh - 106px);
}
.corp_login.no_footer {
  padding-bottom: 112px !important;
}
.corp_login .tit {
  color: #000;
  font-family: "GeneSans_Head-L";
  font-size: 24px;
  line-height: 32px;
}
.corp_login .tit em {
  font-family: GeneSans_Head-R;
}
.corp_login .top {
  padding: 30px 6px;
}
.corp_login .top .tit + .txt {
  margin: 12px 0 0;
  word-break: keep-all;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 22px;
  color: #262626;
}
.corp_login .select_brand {
  display: flex;
  gap: 0 10px;
  margin: 0 0 20px;
}
.corp_login .select_brand > li {
  width: calc(50% - 5px);
}
.corp_login .select_brand > li a {
  display: block;
  padding: 20px;
  background: #fff;
  color: #000;
  border: 1px solid #E5E5E5;
  font-size: 0;
  line-height: 0;
}
.corp_login .select_brand > li .log_logo {
  display: inline-block;
  height: 20px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.corp_login .select_brand > li .log_logo + p {
  position: relative;
  margin-top: 50px;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
}
.corp_login .select_brand > li .log_logo + p::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 5px;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8px' height='12px' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%238F8F8F' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.corp_login .select_brand > li .log_logo::after {
  content: "";
  display: block;
  background: url("../img/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: 0 -133px;
  width: 99px;
  height: 20px;
}
.corp_login .select_brand > li:last-of-type .log_logo::after {
  width: 80px;
  height: 20px;
  background-position: -104px -133px;
}
.corp_login .btn_area {
  margin-top: 30px;
  text-align: center;
}
.corp_login .btn_area .btn_arrow_mid01 {
  margin: 20px 0 0;
}
.corp_login .caution {
  margin: 6px 0 0;
}
.corp_login .corp_inner li {
  position: relative;
  padding: 30px 25px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
}
.corp_login .corp_inner li + li {
  margin-top: 10px;
}
.corp_login .corp_inner li strong {
  color: #000;
  font-family: "GeneSans_Head-R";
  font-size: 18px;
  line-height: 24px;
}
.corp_login .corp_inner li p {
  margin-top: 4px;
  color: #262626;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 22px;
}
.corp_login .corp_inner li em {
  display: block;
  color: #727272;
  font-family: "GeneSans_Txt-R";
  font-size: 11px;
  line-height: 18px;
}
.corp_login .corp_inner li .btn_area {
  margin-top: 20px;
  text-align: center;
}
.corp_login .corp_inner li .btn_area .btn_arrow_mid01 {
  margin-top: 16px;
}
.corp_login .corp_inner li::after {
  content: "";
  display: block;
  position: absolute;
  top: 30px;
  right: 25px;
  width: 48px;
  height: 48px;
  background: url("../img/bg_library.png") no-repeat;
  background-size: 300px 200px;
}
.corp_login .corp_inner li.indiv::after {
  background-position: 0px -82px;
}
.corp_login .corp_inner li.corp::after {
  background-position: -53px -82px;
}
.corp_login .corp_inner li:last-of-type {
  margin-bottom: 0;
}
.corp_login .corp_list li {
  margin-bottom: 10px;
}
.corp_login .corp_list li:last-of-type {
  margin-bottom: 0;
}
.corp_login .corp_list label {
  display: block;
  padding: 24px 19px 24px 51px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
  width: 100%;
  background-color: #fff;
  border: solid 1px #fff;
}
.corp_login .corp_list label::before {
  top: 25px;
  left: 20px;
}
.corp_login .corp_list label strong {
  color: #262626;
  font-family: "GeneSans_Txt-M";
  font-size: 16px;
  line-height: 26px;
}
.corp_login .corp_list label p {
  margin-top: 4px;
  color: #666666;
  font-family: "GeneSans_Txt-L";
  font-size: 14px;
  line-height: 22px;
}
.corp_login .corp_list .chk_rad01:checked + label {
  border: solid 1px #AF6249;
}
.corp_login .btn_line {
  display: none;
}

/* E :: 개인/법인 로그인 */
/*# sourceMappingURL=maps/g_login.css.map */
