@charset "UTF-8";
/* 
	로그인, 서비스 가입
*/
/*
$COL_WHITE: #FFFFFF;
$COL_BLACK: #111111;

$COL_BG_Light01:#F8F8F8;
$COL_BG_Light02:#F2F2F2;

$COL_Line_Light01:#E5E5E5;
$COL_Line_Dark01:#959595;

$COL_Inactive_Icon01:#959595;
$COL_Inactive_Text01:#727272;

$COL_Text_Base01:#666666;
$COL_Text_Base02:#4D4D4D;
$COL_Text_Base03:#262626;
$COL_Text_Base04:#000000;

$COL_Primary01:white;// 제네시스 정의되지 않음
$COL_Primary02:white;// 제네시스 정의되지 않음
$COL_Secondary01:#AF6249;
$COL_SkyBlue01:sky;// 제네시스 정의되지 않음
$COL_Red01: #CE2D2D;
$COL_CPO_BG01: black;// 제네시스 정의되지 않음

$COL_BG_Light03:#333;// 현대 없음

$COL_333: #333;
$COL_5959: #595959;
$COL_8282: #828282;
$COL_999: #999;
$COL_1A1A: #1A1A1A;
$COL_1E1E: #1E1E1E;
$COL_0D0D: #0D0D0D;
$COL_AD7B61: #AD7B61;
$COL_BBB: #bbb;
$COL_C36F51: #C36F51;
$COL_AAA8A6: #AAA8A6;



$COL_Line_01: #B3B3B3; //PDP 금융정보
$COL_Base_01: #808080; //PDP 탭
$COL_Base_02: #4D4D4D; //PDP 상품옵션
$COL_Base_03: #E4DCD3; //PDP 상품유닛, PDP 상단 헤더
$COL_Base_04: #FCFCFC; //PDP 탭
$COL_Base_05: #EBF0F2; //PDP 탭
$COL_Gray08: #F5F2F1; //PDP 인증정보
$COL_Gray09: #999999; //PDP 인증정보
$COL_Gray10: #EEEEEE; //PDP 인증정보
$COL_Gray11: #DEE3ED; //MY PAGE 메인 보유차량 등록
$COL_Gray12: #F1F4F5; //MY PAGE 메인
$COL_Gray13: #CCCCCC; //내차팔기, header 아이콘 - 내차사기 
$COL_Gray14: #DDDDDD; //상품유닛 - 차량 정보
$COL_Gray15: #EDEDED;
$COL_Gray16: #D5D5D5; //PDP toast pop
$COL_Gray17: #8F8F8F;
$COL_Gray18: #0C0C0C;

$COL_Helpful01: #405D80; //PDP 버튼
$COL_Helpful04: $COL_Text_Base01; //PDP flag
$COL_Helpful03: $COL_Text_Base01; //PDP flag, 주문하기 명의지분율, 주문하기 세금감면 혜택
$COL_Helpful05: #AF6249; //PDP 인증정보
$COL_Helpful06: #2C7CDA; //MY PAGE 메인 블루멤버스 포인트
$COL_Helpful07: #ECEFF6; //MY PAGE 메인 보유차량 등록
$COL_Helpful08: #00A8D2; //MY PAGE 포인트내역
$COL_Helpful09: $COL_Text_Base01; //주문 flag
$COL_Helpful10: #06EBFF;
$COL_Helpful11: #1290FE;
*/
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 
*** map 사용 방법 ***
ex) color: map-get($COL_Box_01, "bg_light"); 
배경색에 따라 객체 구분 사용. 
*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
/**
	replace 함수
*/
/*
$COL_WHITE: #FFFFFF;
$COL_BLACK: #111111;

$COL_BG_Light01:#F8F8F8;
$COL_BG_Light02:#F2F2F2;

$COL_Line_Light01:#E5E5E5;
$COL_Line_Dark01:#959595;

$COL_Inactive_Icon01:#959595;
$COL_Inactive_Text01:#727272;

$COL_Text_Base01:#666666;
$COL_Text_Base02:#4D4D4D;
$COL_Text_Base03:#262626;
$COL_Text_Base04:#000000;

$COL_Primary01:white;// 제네시스 정의되지 않음
$COL_Primary02:white;// 제네시스 정의되지 않음
$COL_Secondary01:#AF6249;
$COL_SkyBlue01:sky;// 제네시스 정의되지 않음
$COL_Red01: #CE2D2D;
$COL_CPO_BG01: black;// 제네시스 정의되지 않음

$COL_BG_Light03:#333;// 현대 없음

$COL_333: #333;
$COL_5959: #595959;
$COL_8282: #828282;
$COL_999: #999;
$COL_1A1A: #1A1A1A;
$COL_1E1E: #1E1E1E;
$COL_0D0D: #0D0D0D;
$COL_AD7B61: #AD7B61;
$COL_BBB: #bbb;
$COL_C36F51: #C36F51;
$COL_AAA8A6: #AAA8A6;



$COL_Line_01: #B3B3B3; //PDP 금융정보
$COL_Base_01: #808080; //PDP 탭
$COL_Base_02: #4D4D4D; //PDP 상품옵션
$COL_Base_03: #E4DCD3; //PDP 상품유닛, PDP 상단 헤더
$COL_Base_04: #FCFCFC; //PDP 탭
$COL_Base_05: #EBF0F2; //PDP 탭
$COL_Gray08: #F5F2F1; //PDP 인증정보
$COL_Gray09: #999999; //PDP 인증정보
$COL_Gray10: #EEEEEE; //PDP 인증정보
$COL_Gray11: #DEE3ED; //MY PAGE 메인 보유차량 등록
$COL_Gray12: #F1F4F5; //MY PAGE 메인
$COL_Gray13: #CCCCCC; //내차팔기, header 아이콘 - 내차사기 
$COL_Gray14: #DDDDDD; //상품유닛 - 차량 정보
$COL_Gray15: #EDEDED;
$COL_Gray16: #D5D5D5; //PDP toast pop
$COL_Gray17: #8F8F8F;
$COL_Gray18: #0C0C0C;

$COL_Helpful01: #405D80; //PDP 버튼
$COL_Helpful04: $COL_Text_Base01; //PDP flag
$COL_Helpful03: $COL_Text_Base01; //PDP flag, 주문하기 명의지분율, 주문하기 세금감면 혜택
$COL_Helpful05: #AF6249; //PDP 인증정보
$COL_Helpful06: #2C7CDA; //MY PAGE 메인 블루멤버스 포인트
$COL_Helpful07: #ECEFF6; //MY PAGE 메인 보유차량 등록
$COL_Helpful08: #00A8D2; //MY PAGE 포인트내역
$COL_Helpful09: $COL_Text_Base01; //주문 flag
$COL_Helpful10: #06EBFF;
$COL_Helpful11: #1290FE;
*/
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 
*** map 사용 방법 ***
ex) color: map-get($COL_Box_01, "bg_light"); 
배경색에 따라 객체 구분 사용. 
*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
/**
	replace 함수
*/
.preference_set {
  padding-bottom: 40px !important;
}

.pas_set01 ol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%;
  font-size: 0;
  text-align: center;
}
.pas_set01 ol li {
  line-height: 100%;
}
.pas_set01 ol li:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 1px;
  margin: 0 6px;
  vertical-align: middle;
  background-color: #1E1E1E;
}
.pas_set01 ol li > span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  vertical-align: middle;
  background-color: #333333;
  color: #828282;
  font-family: "GeneSans_Txt-M";
  font-size: 11px;
  line-height: 19px;
}
.pas_set01 ol li > em {
  display: none;
}
.pas_set01 ol li.on > span {
  background-color: #fff;
  color: #000;
}
.pas_set01 ol li.end {
  position: relative;
}
.pas_set01 ol li.end > span {
  background: url("../img/bg_form.png") no-repeat;
  background-size: 200px auto;
  background-position: -160px -180px;
  font-size: 0;
}
.pas_set01 .tit {
  min-height: 49px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.pas_set01 .tit .sub {
  margin-top: 6px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.pas_set02 {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
  min-height: 48.88889vw;
}
.pas_set02 ol li {
  flex: 0 0 100%;
  display: block !important;
}
.pas_set02 .tit {
  display: block;
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.pas_set02 .img {
  display: block;
  width: 66.67%;
  height: 40.835vw;
  margin: 0 auto 0;
}
.pas_set02 .img img {
  width: 100%;
  height: 100%;
}
.pas_set02 [class^=swiper-button-] {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.pas_set02 [class^=swiper-button-]::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='10px' height='18px' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L9 9L1 1' stroke='%23ffffff' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  position: absolute;
  top: 2px;
  left: 6px;
}
.pas_set02 [class^=swiper-button-].swiper-button-disabled::after {
  width: 10px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='10px' height='18px' viewBox='0 0 10 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 17L9 9L1 1' stroke='%23333333' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.pas_set02 .swiper-button-prev {
  left: 15px;
}
.pas_set02 .swiper-button-prev::after {
  transform: rotate(180deg);
}
.pas_set02 .swiper-button-next {
  right: 15px;
}

.pas_set03 > .top {
  position: relative;
  margin: 0 21px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1A1A1A;
  color: #fff;
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
}
.pas_set03 > .top .data {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(calc(-50% - 5px));
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.pas_btn {
  z-index: 10;
  padding: 0 21px 40px;
  background-color: #000;
  width: 100%;
}
.pas_btn .result {
  border-top: 1px solid #1A1A1A;
  padding: 20px 0 24px;
}
.pas_btn .result dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.pas_btn .result dt {
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.pas_btn .result dd {
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 20px;
  line-height: 27px;
  text-align: right;
}
.pas_btn .result .caution {
  margin-top: 20px;
  color: #828282;
}
.pas_btn > ul {
  padding-top: 28px;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.pas_btn > ul li {
  display: table-cell;
  vertical-align: middle;
}
.pas_btn > ul li:not(:first-of-type) {
  margin-left: 10px;
}

.pas_range {
  margin: 0 21px;
}
.pas_range.hidden .range_chart {
  height: 10px;
}
.pas_range.hidden .range_chart > ol li {
  height: 0;
}

.pas_color {
  margin: 20px 0 8px 21px;
  overflow: hidden;
}
.pas_color .tit {
  margin-bottom: 5px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}
.pas_color ol {
  padding: 0 0 12px;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  column-gap: 8px;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pas_color ol li {
  display: inline-block;
  flex: 0 0 44px;
  overflow: hidden;
}
.pas_color ol li:last-of-type {
  margin-right: 21px;
}
.pas_color ol li label {
  width: 44px;
  height: 44px;
}
.pas_color ol li label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pas_color ol li label span {
  display: none;
}
.pas_color ol li .chk_color:disabled + label {
  pointer-events: none;
}
.pas_color ol li .chk_color:checked + label {
  position: relative;
  border: 1px solid #C36F51;
  padding: 1px;
}
.pas_color ol li .chk_color:checked + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2280_2608)'%3E%3Cg filter='url(%23filter0_d_2280_2608)'%3E%3Cpath d='M1 4.52941L5.5 8.5C5.5 8.5 9.68054 3.92893 13 1' stroke='white' stroke-width='1.5'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2280_2608' x='-1.49609' y='-1.5625' width='16.9922' height='13.1133' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.6 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2280_2608'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2280_2608' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_2280_2608'%3E%3Crect width='14' height='10' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.btn_option {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 14.5C11.366 14.5 14.5 11.366 14.5 7.5C14.5 3.63401 11.366 0.5 7.5 0.5C3.63401 0.5 0.5 3.63401 0.5 7.5C0.5 11.366 3.63401 14.5 7.5 14.5Z' fill='%23333333'/%3E%3Ccircle cx='7.5499' cy='4.4' r='0.9' fill='%23CCCCCC'/%3E%3Crect x='6.75' y='6.5' width='1.5' height='4.5' fill='%23CCCCCC'/%3E%3C/svg%3E");
  margin-left: 4px;
}

.pas_option {
  padding: 0 21px 20px;
}
.pas_option .select_info {
  gap: 2px;
}
.pas_option .select_info.col2 li {
  width: calc(50% - 1px);
}
.pas_option .select_info .chk_block + label {
  padding: 12px 0;
  border: 1px solid #1A1A1A;
  background: #1A1A1A;
  color: #828282;
}
.pas_option .select_info .chk_block:checked + label {
  border: 1px solid #C36F51;
  color: #fff;
}

/*가격 슬라이더*/
.cpo_range {
  display: block;
  position: relative;
  padding: 5px 0 38px 0;
}
.cpo_range::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #1A1A1A;
}
.cpo_range .amountArea {
  visibility: hidden;
}
.cpo_range .cpoRange {
  position: relative;
  height: 1px;
  background: #1E1E1E;
}
.cpo_range .cpoRange .ui-slider-range {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  height: 100%;
  background: #C36F51;
  border: 0;
}
.cpo_range .cpoRange .ui-slider-handle {
  z-index: 2;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  outline: none;
  width: 28px;
  height: 28px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -182px -91px;
  border-radius: 100%;
  position: absolute;
  top: -14px;
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(2) {
  margin-left: -7px;
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(3) {
  margin-left: -21px;
  transform: rotate(180deg);
}
.cpo_range .cpoRange .amountArea {
  visibility: hidden;
}
.cpo_range .cpoRange .min_no,
.cpo_range .cpoRange .max_no {
  display: block;
  width: 100px;
  position: absolute;
  top: 22px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 11px;
  line-height: 18px;
}
.cpo_range .cpoRange .min_no {
  text-align: left;
}
.cpo_range .cpoRange .max_no {
  right: 0;
  text-align: right;
}

/* 가격 차트 */
.range_chart {
  width: 100%;
  height: 103px;
  position: relative;
  overflow: hidden;
}
.range_chart > ol {
  display: flex;
  width: 100%;
  zoom: 1;
}
.range_chart > ol:after {
  content: "";
  display: block;
  clear: both;
}
.range_chart > ol li {
  display: flex;
  height: 103px;
  margin: 0 auto;
  text-indent: -99999px;
  transition: height 1s;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  float: left;
}
.range_chart > ol li.on .bar i {
  height: 100%;
  margin-top: 0;
  background: rgba(195, 111, 81, 0.5);
}
.range_chart > ol li .bar {
  width: 2px;
}
.range_chart > ol li .bar i {
  display: block;
  width: 2px;
  height: 100%;
  transition: margin 1s;
  background: #333333;
  background: rgba(51, 51, 51, 0.5);
}

@keyframes Ani_Price_Chart {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
/* 배경 :검정색 */
body {
  background: #000;
}

#CPOheader .h_header {
  background: #000;
}
#CPOheader .h_header .tit {
  color: #fff;
}
#CPOheader .h_header.fixed {
  border-bottom: 1px solid #1A1A1A;
}
#CPOheader .h_header.fixed .tit {
  color: #fff;
}

body {
  background: #000 url("../img/main/ghq_main_bg1480.jpg") no-repeat 50% -100px/620px auto;
}

#CPOheader .h_header_navi02.fixed {
  background-color: #000;
}

#CPOcontents {
  padding-top: 62px;
}

[class^=gmain0]:not(.gmain01_visual) {
  margin: 0 15px 20px;
  background-color: #111111;
  padding: 30px 0;
}
[class^=gmain0]:not(.gmain01_visual) > h2.tit {
  display: inline-block;
  position: relative;
  padding: 0 14px 0 21px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 16px;
  line-height: 22px;
}
[class^=gmain0]:not(.gmain01_visual) > h2.tit::after {
  content: "";
  transform: translateY(-50%);
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8px' height='12px' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23FFFFFF' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
[class^=gmain0] .swiper-pagination {
  margin-top: 30px;
}

.gmain01_visual {
  min-height: 560px;
  overflow-x: hidden;
  touch-action: pan-y;
}
.gmain01_visual > .member {
  padding: 12px 21px 16px;
}
.gmain01_visual > .member > span {
  display: block;
}
.gmain01_visual > .member > span.tit {
  margin-bottom: 10px;
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 24px;
  line-height: 33px;
}
.gmain01_visual > .member > span.txt {
  color: #fff;
  font-family: "GeneSans_Txt-R";
  font-size: 16px;
  line-height: 22px;
}
.gmain01_visual .car_visual_wrap {
  position: absolute;
  top: 165px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.gmain01_visual .car_visual_wrap .swiper-pagination {
  margin-top: 20px;
}
.gmain01_visual .car_visual_wrap .btn_big02 {
  display: none;
  position: absolute;
  top: 170%;
  right: 0;
  bottom: 0;
  left: 0;
}
.gmain01_visual .car_visual {
  position: relative;
  width: 360px;
  margin: 0 auto;
  height: 315px;
  color: #fff;
}
.gmain01_visual .car_item {
  position: absolute;
  text-align: center;
}
.gmain01_visual .car_item.isNextShow img {
  transform: translateX(100px);
  opacity: 0;
}
.gmain01_visual .car_item.isPrevShow img {
  transform: translateX(-100px);
  opacity: 0;
}
.gmain01_visual .car_item.isActive img {
  transition: transform 1s, opacity 1s;
  transform: translateX(0);
  opacity: 1;
}
.gmain01_visual .car_item.isActive .isSelected {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
}
@keyframes selecteRotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.gmain01_visual .car_item .isSelected {
  position: absolute;
  z-index: 1;
  top: -25px;
  right: 0;
  left: 0;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  font-size: 0;
  transform: perspective(300px) rotateX(80deg);
  opacity: 0;
}
.gmain01_visual .car_item .isSelected:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background: url("../img/main/selected_line.png") no-repeat 50% 50%/100% 100%;
  animation-duration: 2s;
  animation-name: selecteRotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.gmain01_visual .car_item img {
  position: relative;
  z-index: 2;
  width: 289px;
  height: 177px;
}
.gmain01_visual .car_item .name {
  position: absolute;
  font-family: "GeneSans_Head-L";
  font-size: 11px;
  line-height: 15px;
}
.gmain01_visual .car_item .link {
  position: absolute;
  top: 119%;
  left: 50%;
  transform: translateX(-51%);
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  border-bottom: 1px solid;
  opacity: 0;
  color: #fff;
}
.gmain01_visual .car_item .link::after {
  content: "";
  transform: translateY(-50%);
  position: absolute;
  top: 8px;
  right: -11px;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8px' height='12px' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23FFFFFF' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}
.gmain01_visual .car_item1 {
  bottom: 74px;
  left: 15px;
  right: 15px;
}
.gmain01_visual .car_item1 .name {
  top: 97%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  line-height: 32px;
}
.gmain01_visual .car_item1 .link {
  opacity: 1;
}
.gmain01_visual .car_item1 .btn_big02 {
  display: block;
}
.gmain01_visual .car_item1.isSelected:before {
  content: "";
  position: absolute;
  top: 96px;
  left: -15px;
  width: 360px;
  height: 74px;
  background: url("../img/main/select_circle.gif") no-repeat 0 0/100%;
}
.gmain01_visual .car_item2 {
  top: 10%;
  left: -15.5%;
}
.gmain01_visual .car_item2 img {
  width: 137px;
  height: 84px;
}
.gmain01_visual .car_item2 .name {
  top: -6px;
  left: 71px;
}
.gmain01_visual .car_item3 {
  top: 8.5%;
  left: 24%;
}
.gmain01_visual .car_item3 img {
  width: 86.5px;
  height: 53px;
}
.gmain01_visual .car_item3 .name {
  top: -8px;
  left: 34px;
}
.gmain01_visual .car_item4 {
  top: 8.5%;
  right: 24%;
}
.gmain01_visual .car_item4 img {
  width: 86.5px;
  height: 53px;
}
.gmain01_visual .car_item4 .name {
  top: -8px;
  left: 34px;
}
.gmain01_visual .car_item5 {
  top: 10%;
  right: -15.5%;
}
.gmain01_visual .car_item5 img {
  width: 137px;
  height: 84px;
}
.gmain01_visual .car_item5 .name {
  top: -5px;
  left: 38px;
}

.ghq_main {
  margin-top: 24px;
}
.ghq_main.list {
  width: 200vw;
  perspective: 1200px;
  touch-action: pan-y;
  margin-left: -50vw;
}
.ghq_main ol.list {
  position: relative;
  width: 100%;
  height: 225px;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform-style: preserve-3d;
}
.ghq_main ol.list li {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}
.ghq_main ol.list li > .title {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.ghq_main ol.list li > .car .name {
  color: #fff;
  font-family: "GeneSans_Head-R";
  font-size: 11px;
  line-height: 15px;
}
.ghq_main ol.list li.swiper-slide-duplicate, .ghq_main ol.list li.swiper-slide-duplicate-prev, .ghq_main ol.list li.swiper-slide-duplicate-active, .ghq_main ol.list li.swiper-slide-duplicate-next {
  opacity: 0;
}
.ghq_main ol.list li.swiper-slide-prev {
  opacity: 1;
}
.ghq_main ol.list li.swiper-slide-next {
  opacity: 1;
}
.ghq_main ol.list li.swiper-slide-active {
  opacity: 1;
  padding-top: 5px;
}
.ghq_main .swiper-pagination-bullets {
  display: block;
  position: relative;
  width: calc(100vw - 30px);
  margin: 50px auto 0;
  text-align: center;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet {
  display: inline-block;
  float: none;
  margin: 0 3px;
  vertical-align: middle;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet .title {
  opacity: 0;
  display: none;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet-active {
  border-color: #fff !important;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet-active .title {
  opacity: 1;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -96px;
  left: 0;
}
.ghq_main .title {
  width: calc(100vw - 30px);
  text-align: center;
}
.ghq_main .title .name {
  display: block;
  margin-bottom: 6px;
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 24px;
  line-height: 33px;
}
.ghq_main .title .more {
  display: inline-block;
  margin-bottom: 70px;
  color: #fff;
}
.ghq_main .title .more::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.ghq_main.mine {
  width: 100%;
}
.ghq_main.mine .title {
  margin: -27px auto 0;
}
.ghq_main.mine > span.img {
  display: block;
  width: 100%;
}
.ghq_main.mine > span.img img {
  width: 100%;
}

.gmain02_plp {
  padding: 0 0 40px;
}
.gmain02_plp.recommend_slide {
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
}
.gmain02_plp .swiper-pagination {
  margin-top: 30px;
}
.gmain02_plp > ol.list {
  margin-left: 21px;
}
.gmain02_plp > ol.list li {
  flex-shrink: 0;
  display: flex;
  width: 225px;
  height: 100%;
  margin-right: 16px;
  transition-property: transform;
}
.gmain02_plp > ol.list li:last-of-type {
  width: 246px;
  padding-right: 21px;
}
.gmain02_plp > ol.list li .unit_link .unit_img {
  padding-bottom: 111.2%;
  margin-bottom: 15px;
  background-color: #000;
}
.gmain02_plp > ol.list li .unit_link .unit_img .no {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 4;
  display: inline-block;
  color: #000;
  font-family: "GeneSans_Head-L";
  font-size: 40px;
  line-height: 48px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .drive em {
  margin-right: 1px;
  padding-right: 4px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .drive em::after {
  background-color: #333333;
  width: 2px;
  height: 2px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .price em {
  color: #fff;
  font-family: "GeneSans_Txt-M";
  font-size: 18px;
  line-height: 29px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .price i {
  color: #fff;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 29px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .mine {
  color: #fff;
}
.gmain02_plp > ol.list li .unit_link .unit_info .mine em {
  font-family: "GeneSans_Txt-M";
  font-size: 12px;
  line-height: 20px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .mine i {
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}
.gmain02_plp > ol.list li .unit_link .etc {
  color: #fff;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.gmain02_plp > ol.list li .unit_link .etc em {
  font-family: "GeneSans_Txt-M";
  font-size: 12px;
  line-height: 19px;
}

.gmain03_coming {
  padding: 0 !important;
}
.gmain03_coming > h2.tit {
  position: absolute !important;
  top: 30px;
  left: 0;
  z-index: 5;
}
.gmain03_coming .swiper-pagination {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 30px;
  left: 0;
}
.gmain03_coming > ol.list li {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 0;
  transition-property: transform;
}
.gmain03_coming > ol.list li .unit_coming .noti {
  bottom: 118px;
}
.gmain03_coming > ol.list li .unit_coming .btn_mid04 {
  bottom: 60px;
}
.gmain03_coming > ol.list li .unit_coming .unit_info {
  top: 72px;
}
.gmain03_coming > ol.list li .unit_coming .unit_info .drive em::after {
  width: 2px;
  height: 2px;
}
.gmain03_coming .entry_mycar {
  display: block;
  position: relative;
  margin-top: -30px;
}
.gmain03_coming .entry_mycar .img {
  display: block;
}
.gmain03_coming .entry_mycar .img img {
  width: 100%;
}
.gmain03_coming .entry_mycar > p.txt {
  position: absolute;
  top: 30px;
  left: 21px;
  display: block;
  color: #fff;
  font-family: "GeneSans_Txt-R";
  font-size: 15px;
  line-height: 24px;
}
.gmain03_coming .entry_mycar > p.txt .btn_txt06 {
  display: inline-block;
  margin-top: 20px;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 23px;
}
.gmain03_coming .entry_mycar > p.txt .btn_txt06::after {
  bottom: 4px;
  right: -15px;
}

.gmain_reg {
  height: 500px;
  margin: 0 15px 20px;
  padding: 30px 21px;
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
  font-family: "GeneSans_Txt-R";
  font-size: 15px;
  line-height: 24px;
}
.gmain_reg .link_txt {
  margin-top: 20px;
}
.gmain_reg .link {
  position: relative;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 14px;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #fff;
}
.gmain_reg .link::after {
  content: "";
  transform: translateY(-50%);
  position: absolute;
  top: 8px;
  right: -11px;
  width: 8px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='8px' height='12px' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23FFFFFF' stroke-width='1.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.gmain04_service {
  padding-bottom: 40px !important;
}
.gmain04_service .swiper-pagination {
  bottom: 40px !important;
}
.gmain04_service > ol.list {
  margin-left: 21px;
}
.gmain04_service > ol.list li {
  flex-shrink: 0;
  display: flex;
  width: 225px;
  height: 100%;
  margin-right: 16px;
  transition-property: transform;
}
.gmain04_service > ol.list li:last-of-type {
  width: 246px;
  padding-right: 21px;
}
.gmain04_service > ol.list li > a {
  display: block;
}
.gmain04_service > ol.list li > a > span {
  display: block;
}
.gmain04_service > ol.list li > a > span.img {
  width: 100%;
  margin-bottom: 16px;
}
.gmain04_service > ol.list li > a > span.tit {
  color: #fff;
  font-family: "GeneSans_Head-L";
  font-size: 14px;
  line-height: 19px;
}
.gmain04_service > ol.list li > a > span.txt {
  margin-top: 5px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.main_option {
  overflow: auto;
  word-break: keep-all;
  max-height: 406px;
  padding: 5px 25px 0;
}
.main_option.basic > li {
  padding: 0 0 20px;
}
.main_option.basic > li:not(:first-child) {
  padding: 20px 0;
}
.main_option > li {
  border-bottom: 1px solid #F2F2F2;
  padding: 10px 0;
}
.main_option > li:last-child {
  margin-bottom: 35px;
}
.main_option > li .tit_btn {
  position: relative;
  width: 100%;
  padding: 10px 0;
  color: #000;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 20px;
}
.main_option > li .tit_btn::before {
  display: block;
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='12px' height='8px' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='%23727272' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.main_option > li .incont {
  display: none;
  width: 100%;
  padding: 6px 0 10px;
}
.main_option > li .incont .inbullet:not(:last-child) {
  padding-bottom: 16px;
}
.main_option > li .incont .inbullet .bullet_txt {
  position: relative;
  padding-left: 8px;
  margin-bottom: 4px;
}
.main_option > li .incont .inbullet .bullet_txt::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #262626;
  transform: translateY(-50%);
}
.main_option > li .incont .inbullet .txt {
  padding-left: 8px;
}
.main_option > li .tit {
  color: #AF6249;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 16px;
}
.main_option > li .txt {
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.main_option > li.on {
  border-bottom: solid 1px #AF6249;
}
.main_option > li.on .tit_btn {
  color: #AF6249;
}
.main_option > li.on .tit_btn::after {
  transform: translateY(-50%) rotate(180deg);
}
.main_option > li.on .incont {
  display: block;
}

.thumb .unit_info .drive em {
  padding: 0 !important;
}
.thumb .unit_info .drive em:last-of-type {
  display: inline-block;
}

.select_model {
  padding: 10px 21px 0;
}
.select_model--txt {
  font-family: "GeneSans_Head-R";
  font-size: 18px;
  line-height: 24px;
}
.select_model__box {
  margin-top: 10px;
}
.select_model__item {
  position: relative;
  display: block;
  height: 85px;
}
.select_model__item input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.select_model__item input[type=checkbox]:checked ~ .item-cont .item-name {
  color: #000;
}
.select_model__item input[type=checkbox]:checked ~ .item-cont:before {
  background-position: -78px -90px;
}
.select_model__item input[type=checkbox]:checked ~ .item-cont:after {
  border-bottom: 1px solid #AF6249;
}
.select_model__item .item-cont {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  border-bottom: 1px solid #ededed;
}
.select_model__item .item-cont:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  background: url("../img/bg_form.png") no-repeat;
  background-size: 200px auto;
  background-position: -107px -90px;
}
.select_model__item .item-cont:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #ededed;
}
.select_model__item .item-img img {
  width: 90px;
  height: 54px;
}
.select_model__item .item-name {
  margin-left: 16px;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 20px;
  color: #727272;
}

.link_model {
  padding: 24px 12px 0;
}
.link_model__list {
  display: flex;
  flex-wrap: wrap;
}
.link_model__item {
  width: 50%;
}
.link_model__item:nth-of-type(2) ~ .link_model__item {
  margin-top: 35px;
}
.link_model__link {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.link_model__link .item_img img {
  width: 150px;
}
.link_model__link .item_name {
  margin-top: 10px;
  font-family: "GeneSans_Txt-R";
  font-size: 15px;
  line-height: 19px;
}
/*# sourceMappingURL=maps/g_main.css.map */
