@charset "UTF-8";
/* 
	VOD 커머스
*/
/*
$COL_WHITE: #FFFFFF;
$COL_BLACK: #111111;

$COL_BG_Light01:#F8F8F8;
$COL_BG_Light02:#F2F2F2;

$COL_Line_Light01:#E5E5E5;
$COL_Line_Dark01:#959595;

$COL_Inactive_Icon01:#959595;
$COL_Inactive_Text01:#727272;

$COL_Text_Base01:#666666;
$COL_Text_Base02:#4D4D4D;
$COL_Text_Base03:#262626;
$COL_Text_Base04:#000000;

$COL_Primary01:white;// 제네시스 정의되지 않음
$COL_Primary02:white;// 제네시스 정의되지 않음
$COL_Secondary01:#AF6249;
$COL_SkyBlue01:sky;// 제네시스 정의되지 않음
$COL_Red01: #CE2D2D;
$COL_CPO_BG01: black;// 제네시스 정의되지 않음

$COL_BG_Light03:#333;// 현대 없음

$COL_333: #333;
$COL_5959: #595959;
$COL_8282: #828282;
$COL_999: #999;
$COL_1A1A: #1A1A1A;
$COL_1E1E: #1E1E1E;
$COL_0D0D: #0D0D0D;
$COL_AD7B61: #AD7B61;
$COL_BBB: #bbb;
$COL_C36F51: #C36F51;
$COL_AAA8A6: #AAA8A6;



$COL_Line_01: #B3B3B3; //PDP 금융정보
$COL_Base_01: #808080; //PDP 탭
$COL_Base_02: #4D4D4D; //PDP 상품옵션
$COL_Base_03: #E4DCD3; //PDP 상품유닛, PDP 상단 헤더
$COL_Base_04: #FCFCFC; //PDP 탭
$COL_Base_05: #EBF0F2; //PDP 탭
$COL_Gray08: #F5F2F1; //PDP 인증정보
$COL_Gray09: #999999; //PDP 인증정보
$COL_Gray10: #EEEEEE; //PDP 인증정보
$COL_Gray11: #DEE3ED; //MY PAGE 메인 보유차량 등록
$COL_Gray12: #F1F4F5; //MY PAGE 메인
$COL_Gray13: #CCCCCC; //내차팔기, header 아이콘 - 내차사기 
$COL_Gray14: #DDDDDD; //상품유닛 - 차량 정보
$COL_Gray15: #EDEDED;
$COL_Gray16: #D5D5D5; //PDP toast pop
$COL_Gray17: #8F8F8F;
$COL_Gray18: #0C0C0C;

$COL_Helpful01: #405D80; //PDP 버튼
$COL_Helpful04: $COL_Text_Base01; //PDP flag
$COL_Helpful03: $COL_Text_Base01; //PDP flag, 주문하기 명의지분율, 주문하기 세금감면 혜택
$COL_Helpful05: #AF6249; //PDP 인증정보
$COL_Helpful06: #2C7CDA; //MY PAGE 메인 블루멤버스 포인트
$COL_Helpful07: #ECEFF6; //MY PAGE 메인 보유차량 등록
$COL_Helpful08: #00A8D2; //MY PAGE 포인트내역
$COL_Helpful09: $COL_Text_Base01; //주문 flag
$COL_Helpful10: #06EBFF;
$COL_Helpful11: #1290FE;
*/
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 
*** map 사용 방법 ***
ex) color: map-get($COL_Box_01, "bg_light"); 
배경색에 따라 객체 구분 사용. 
*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
/**
	replace 함수
*/
.vod_commerce__main {
  margin-top: -50px;
}
.vod_commerce__main:before {
  content: "";
  display: block;
  padding-top: 125%;
}
.vod_commerce__main__box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.vod_commerce__main__box:before {
  content: "";
  display: block;
  padding-top: 125%;
}
.vod_commerce__main__title {
  position: absolute;
  top: 70px;
  right: 0;
  left: 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.vod_commerce__main .main__title--txt {
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
}
.vod_commerce__main .main__title--day {
  margin-top: 2px;
  font-family: "GeneSans_Head-R";
  font-size: 42px;
  line-height: 56px;
}
.vod_commerce__main .main__title--time {
  margin-top: 4px;
  font-family: "GeneSans_Head-R";
  font-size: 32px;
  line-height: 43px;
}
.vod_commerce__main--play_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vod_commerce__main--play_btn button {
  width: 60px;
  height: 60px;
  margin-bottom: 24px;
  background: url("../img/bg_vod.png") no-repeat;
  background-position: 0 -50px;
  background-size: 300px;
  font-size: 0;
}
.vod_commerce__main__info {
  position: absolute;
  right: 21px;
  bottom: 40px;
  left: 21px;
  color: #fff;
}
.vod_commerce__main .main__info__state {
  display: flex;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}
.vod_commerce__main .main__info__state .info__state--txt {
  padding: 3px 7px 1px;
  background: #1A1A1A;
}
.vod_commerce__main .main__info__state .info__state--txt2 {
  padding: 3px 7px 1px;
  background: #C36F51;
}
.vod_commerce__main .main__info__state .info__state--num {
  padding: 3px 7px 1px;
  background: rgba(0, 0, 0, 0.6);
}
.vod_commerce__main .main__info--txt {
  margin-top: 15px;
  font-family: "GeneSans_Head-L";
  font-size: 20px;
  line-height: 27px;
}
.vod_commerce__main .main__info__options {
  display: flex;
  margin: 10px 0 -5px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.vod_commerce__main .main__info__options .info--option {
  margin-right: 15px;
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
}
.vod_commerce__main .main__info__options .item__ico {
  display: inline-block;
  margin-right: 3px;
  width: 12px;
  height: 12px;
  font-size: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: 1px;
}
.vod_commerce__main .main__info__options .item__ico--play {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1101_6524)'%3E%3Cpath d='M5.5 5.14153L13.0411 9.75L5.5 14.3585L5.5 5.14153Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1101_6524' x='0' y='0.5' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1101_6524'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1101_6524' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.vod_commerce__main .main__info__options .item__ico--like {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1101_6527)'%3E%3Cpath d='M8.64645 5.96466L9 6.31822L9.35355 5.96466L10.3182 5H12.1262L13.5 6.37377V9.29289L9 13.7929L4.5 9.29289V6.37377L5.87377 5H7.68178L8.64645 5.96466Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1101_6527' x='0' y='0.5' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1101_6527'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1101_6527' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.vod_commerce__main__alerm {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 54px;
  padding: 0 21px;
  background: #E5E5E5;
}
.vod_commerce__main__alerm .main__alerm--txt {
  color: #262626;
  font-family: "GeneSans_Head-R";
  font-size: 13px;
  line-height: 18px;
}
.vod_commerce__main__alerm .main__alerm--btn {
  margin-left: auto;
}

.vod_commerce__list {
  position: relative;
  margin: 54px 0 0;
  padding: 0 0 51px;
  background: #fff;
}
.vod_commerce__list__section {
  padding: 35px 21px 40px;
}
.vod_commerce__list__section1 {
  background: #f8f8f8;
}
.vod_commerce__list .sec_tit {
  margin: 0 0 15px;
}
.vod_commerce__list__section1 .vod_commerce__list__item ~ .vod_commerce__list__item {
  margin-top: 12px;
}
.vod_commerce__list__section1 .list__item__box {
  display: flex;
}
.vod_commerce__list__section1 .list__item--thumb {
  flex-shrink: 0;
  width: 120px;
  height: 150px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.vod_commerce__list__section1 .list__item__info {
  flex: 1;
  margin: 5px 0 0 15px;
}
.vod_commerce__list__section1 .list__item--open_day {
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
  color: #AF6249;
}
.vod_commerce__list__section1 .list__item--name {
  margin-top: 8px;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow-wrap: break-word;
  color: #000;
}
.vod_commerce__list__section1 .list__item--d_day {
  display: flex;
  margin-top: 10px;
  align-items: center;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
  color: #666666;
}
.vod_commerce__list__section1 .list__item--d_day:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 19px;
  margin-right: 3px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.5' cy='6.5' r='5.5' stroke='%23727272'/%3E%3Cpath d='M6.30005 3.7002V6.7002H9.30005' stroke='%23727272' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
}
.vod_commerce__list__section1 .isModLand .vod_commerce__list__item ~ .vod_commerce__list__item {
  margin: 0 0 0 10px;
}
.vod_commerce__list__section1 .isModLand {
  margin: 0 -21px;
  padding: 0 21px;
  overflow-x: auto;
}
.vod_commerce__list__section1 .isModLand ul {
  display: flex;
}
.vod_commerce__list__section1 .isModLand ul:after {
  content: "";
  width: 21px;
  flex-shrink: 0;
}
.vod_commerce__list__section1 .isModLand .list__item__box {
  display: block;
}
.vod_commerce__list__section1 .isModLand .list__item--thumb {
  width: 136px;
  height: 170px;
}
.vod_commerce__list__section1 .isModLand .list__item__info {
  margin: 12px 0 0;
}
.vod_commerce__list__section1 .isModLand .list__item--open_day {
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 21px;
}
.vod_commerce__list__section1 .isModLand .list__item--name {
  margin-top: 8px;
  height: 36px;
  font-family: "GeneSans_Head-R";
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow-wrap: break-word;
  color: #000;
}
.vod_commerce__list__section2 .vod_commerce__list__wrap > ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
}
.vod_commerce__list__section2 .vod_commerce__list__item {
  width: 50%;
}
.vod_commerce__list__section2 .vod_commerce__list__item:nth-of-type(2) ~ .vod_commerce__list__item {
  margin-top: 30px;
}
.vod_commerce__list__section2 .list__item__box {
  display: block;
  margin: 0 5px;
}
.vod_commerce__list__section2 .list__item--thumb {
  position: relative;
  padding-top: 124.67532%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.vod_commerce__list__section2 .list__item--thumb:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
  background: url("../img/bg_vod.png") no-repeat;
  background-position: 0 -50px;
  background-size: 300px;
}
.vod_commerce__list__section2 .list__item--play_time {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 2px 6px 1px;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.vod_commerce__list__section2 .list__item__info {
  margin-top: 10px;
}
.vod_commerce__list__section2 .list__item--date {
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
  color: #666666;
}
.vod_commerce__list__section2 .list__item--name {
  margin-top: 4px;
  height: 36px;
  font-family: "GeneSans_Head-R";
  font-size: 13px;
  line-height: 18px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow-wrap: break-word;
  color: #000;
}
.vod_commerce__list__section2 .list__item__options {
  display: flex;
  margin-top: 10px;
}
.vod_commerce__list__section2 .list__item--option {
  margin-right: 10px;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
  color: #727272;
}
.vod_commerce__list__section2 .list__item--option .item__ico {
  display: inline-block;
  margin-right: 2px;
  width: 12px;
  height: 12px;
  font-size: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: 1px;
}
.vod_commerce__list__section2 .list__item--option .item__ico--play {
  margin-right: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 2.14153L10.0411 6.75L2.5 11.3585L2.5 2.14153Z' stroke='%23727272'/%3E%3C/svg%3E%0A");
}
.vod_commerce__list__section2 .list__item--option .item__ico--like {
  margin-right: 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.64645 2.96466L6 3.31822L6.35355 2.96466L7.31822 2H9.12623L10.5 3.37377V6.29289L6 10.7929L1.5 6.29289V3.37377L2.87377 2H4.68178L5.64645 2.96466Z' stroke='%23727272'/%3E%3C/svg%3E%0A");
}

.vod_commerce__detail__player {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vod_commerce__detail__player img {
  width: 100%;
}
.vod_commerce__detail__player:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 150px;
  background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  opacity: 0.6;
}
.vod_commerce__detail__player:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 56px;
  left: 0;
  height: 300px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  opacity: 0.6;
}
.vod_commerce__detail__info {
  position: fixed;
  right: 100px;
  bottom: 96px;
  left: 21px;
  color: #fff;
}
.vod_commerce__detail__info .detail__info--txt {
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
.vod_commerce__detail__info .detail__info__options {
  margin: 6px 0 0;
}
.vod_commerce__detail__info .info--option {
  font-family: "GeneSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
}
.vod_commerce__detail__info .info--option .item__ico {
  display: inline-block;
  width: 12px;
  height: 12px;
  font-size: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: 1px;
}
.vod_commerce__detail__info .info--option .item__ico--play {
  margin-right: 3px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1101_6524)'%3E%3Cpath d='M5.5 5.14153L13.0411 9.75L5.5 14.3585L5.5 5.14153Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1101_6524' x='0' y='0.5' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1101_6524'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1101_6524' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
}
.vod_commerce__detail__actions {
  position: fixed;
  right: 5px;
  bottom: 81px;
  width: 50px;
}
.vod_commerce__detail__actions .action__item {
  display: block;
  width: 100%;
  margin-top: 10px;
  font-family: "GeneSans_Head-R";
  font-size: 11px;
  line-height: 15px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
.vod_commerce__detail__actions .action__item input[type=checkbox] {
  position: absolute;
  opacity: 0;
}
.vod_commerce__detail__actions .action__item input[type=checkbox]:checked ~ .action__ico--like {
  background-position-x: -200px;
}
.vod_commerce__detail__actions .action__ico {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 0 -6px;
  font-size: 0;
  background: url("../img/bg_vod.png") no-repeat;
  background-position: 0 0;
  background-size: 300px;
}
.vod_commerce__detail__actions .action__ico--like {
  background-position-x: -150px;
}
.vod_commerce__detail__actions .action__ico--reply {
  background-position-x: -100px;
}
.vod_commerce__detail__actions .action__ico--info {
  background-position-x: -50px;
}
.vod_commerce__detail + .btn_sticky .btn_big02 {
  position: relative;
}
.vod_commerce__detail + .btn_sticky .btn_big02:before {
  content: "";
  width: 32px;
  height: 12px;
  position: absolute;
  bottom: 100%;
  left: 50%;
  background: url("../img/bg_vod.png") no-repeat;
  background-position: -60px -50px;
  background-size: 300px;
  transform: translate(-50%, -21px);
}

.vod_commerce__sale_car .p_wrap {
  max-height: 300px;
  padding: 10px 21px;
}
.vod_commerce__sale_car .unit_type ~ .unit_type {
  margin-top: 15px;
}
.vod_commerce__sale_car .unit_type .mid_area .unit_info .name .model {
  color: #000;
}
.vod_commerce__sale_car .unit_type.soldout .mid_area .unit_info .name .model {
  color: #727272;
}

.vod_info .p_wrap {
  max-height: 455px;
  padding: 10px 21px;
}
.vod_info__desc {
  margin: 0 -6px;
  padding: 18px;
  background: #f8f8f8;
}
.vod_info__desc--txt {
  color: #262626;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.vod_info__section {
  margin-top: 20px;
}
.vod_info--title {
  margin: 0 0 6px;
  font-family: "GeneSans_Txt-M";
  font-size: 14px;
  line-height: 22px;
}
.vod_info--txt {
  color: #262626;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.vod_info__broadcast_time__item {
  display: flex;
}
.vod_info__broadcast_time__item ~ .vod_info__broadcast_time__item {
  margin-top: 15px;
}
.vod_info__broadcast_time--btn {
  flex-shrink: 0;
  width: 83px;
  height: 34px;
  margin-right: 12px;
  background: #f8f8f8;
  font-family: "GeneSans_Head-R";
  font-size: 13px;
  line-height: 17px;
  color: #000;
}
.vod_info__broadcast_time--btn:before {
  content: "";
  font-size: 0;
  border-top: 4px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid #000;
  vertical-align: 4px;
}
.vod_info__broadcast_time--txt {
  font-family: "GeneSans_Txt-R";
  font-size: 11px;
  line-height: 18px;
  color: #666666;
}
/*# sourceMappingURL=maps/g_vod.css.map */
