@charset 'utf-8';
/* 
	전시
*/

@import '../_common/h_function';
@import '../_common/h_mixins';

@import '../_layout/h_search';

/* s:title area :MAIN */
.main_menu{
	padding:0 !important;
	ul{
		position:relative;
		z-index:601;
		background:$COL_White;
		display:block;
		width:100%;
		text-align:center;
		white-space:nowrap;
		overflow:hidden;
		overflow-x:auto;
		-webkit-overflow-scrolling:touch;
		-ms-overflow-style:none;
		scrollbar-width:none;
		&::-webkit-scrollbar{
			display:none;
		}
		&::before{
			content:'';
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			height:1px;
			background-color:transparent;
		}
		&.on{
			position:fixed;
			top:0;
			left:0;
			right:0;
			z-index:50;
			a{
				color:$COL_Black;
				&::after{
					background-color:transparent;
				}
			}
		}
		li{
			display:inline-block;flex:1;
			a{
				position:relative;
				display:block;
				padding:0 10px;
				color:$COL_Line_Dark;
				@include Mix_Font('Head-M', 20, 48);
				&::after{
					content:'';
					position:absolute;
					bottom:0;
					left:0;
					display:block;
					width:100%;
					height:2px;
				}
			}
		}
	}
}

/* Product List Page : type01 - 2차원 grid 스타일 */
.plp_type01{
	padding-top:96px;
    .grid_msg {    
        height: 100%;
        @include Mix_Font('Head-R', 26, 32);
        padding:40px 0 30px 21px;
        strong {
            @include Mix_Font_Head_M;
            display: block;
        }
    }
    &.start{
        .grid_msg {
            padding:40px 0 30px 21px;
            animation-name:gridMsg;
            animation-duration:1s;
            animation-iteration-count:1;
        }
    }
    @keyframes gridMsg {
        0%{
            padding:500px 0 500px 21px;
        }
        100%{
            padding:40px 0 30px 21px;
        }
    }
	> ol{
		display:grid;
		grid-template-columns:1fr 1fr 1fr;
		grid-template-rows:minmax(auto, auto);
		column-gap: 0;
		row-gap: 0;
	}
	.grid_type01{// rS / cS / rE / cE 
		// .item1{grid-area:1 / 1 / 3 / 3;}
		// .item2{grid-area:1 / 3 / 2 / 4;}
		// .item3{grid-area:2 / 3 / 3 / 4;}
		// .item4{grid-area:3 / 1 / 4 / 2;}
		// .item5{grid-area:3 / 2 / 4 / 3;}
		// .item6{grid-area:3 / 3 / 4 / 4;}
		// .item7{grid-area:4 / 1 / 5 / 2;}
		// .item8{grid-area:4 / 2 / 5 / 4;}
		// .item9{grid-area:5 / 1 / 6 / 2;}
		// .item10{grid-area:5 / 2 / 6 / 3;}
		// .item11{grid-area:5 / 3 / 6 / 4;}

		li:nth-child(11n+1){
			grid-area: span 2 / span 2;
		}
		li:nth-child(11n+8){
			grid-column: span 2;
		}
	}
	.grid_type02{// rS / cS / rE / cE 
		// .item1{grid-area:1 / 1 / 2 / 3;}
		// .item2{grid-area:1 / 3 / 2 / 4;}
		// .item3{grid-area:2 / 1 / 3 / 2;}
		// .item4{grid-area:2 / 2 / 3 / 3;}
		// .item5{grid-area:2 / 3 / 3 / 4;}
		// .item6{grid-area:3 / 1 / 4 / 2;}
		// .item7{grid-area:4 / 1 / 5 / 2;}
		// .item8{grid-area:3 / 2 / 5 / 4;}
		// .item9{grid-area:5 / 1 / 6 / 2;}
		// .item10{grid-area:5 / 2 / 6 / 3;}
		// .item11{grid-area:5 / 3 / 6 / 4;}

		li:nth-child(11n+1){
			grid-column: span 2;
		}
		li:nth-child(11n+7){
			grid-area: span 2 / span 2;
		}
	}
	.grid_type03{// rS / cS / rE / cE 
		// .item1{grid-area:1 / 1 / 2 / 2;}
		// .item2{grid-area:1 / 2 / 2 / 3;}
		// .item3{grid-area:1 / 3 / 2 / 4;}
		// .item4{grid-area:2 / 1 / 4 / 3;}
		// .item5{grid-area:2 / 3 / 3 / 4;}
		// .item6{grid-area:3 / 3 / 4 / 4}
		// .item7{grid-area:4 / 1 / 5 / 2;}
		// .item8{grid-area:4 / 2 / 5 / 4;}
		// .item9{grid-area:5 / 1 / 6 / 2;}
		// .item10{grid-area:5 / 2 / 6 / 3;}
		// .item11{grid-area:5 / 3 / 6 / 4;}
		// .item12{grid-area:7 / 1 / 7 / 4;}

		li:nth-child(12n+4){
			grid-area: span 2 / span 2;
		}
		li:nth-child(12n+8){
			grid-column: span 2;
		}
		li:nth-child(12n+12){
			grid-column: span 3 / span 2;
		}
	}
	.more_car {
		background-color:  $COL_Primary;
		@include Mix_Font('Head-M', 15, 19);
		color: $COL_White;
		height: 69px;
		padding: 25px 0 0 21px;
	}
}

/* 차량정보 : 2차원 grid 스타일 : link > img, info(name/price), like */
.pd_banner{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	img{
		width:100%;
	}

}
.pd_link{
	display:block;
	width:100%;
	height:100%;
	overflow:hidden;
	position:relative;
	@include Mix_Count_Like(calc(100% - 25px), 8px, $COL_White, -246px, -67px, list);
	.count_like {
		z-index: 3;
		line-height: 16px;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
		&::before {
			width: 14px; height: 16px;
		}
	}
	&::before{
		content:'';
		display:block;
		width:100%;
		height:50%;
		position:absolute;
		top:0;
		left:0;
		z-index:3;
		background:linear-gradient(180deg, rgba($COL_Black, 0.7) 0%, rgba($COL_Black, 0) 100%);
	}
	.pd_info{
		position:absolute;
		top:13px;
		left:13px;
		z-index:4;
		width:80%;
		> span{
			display:block;
			color:$COL_White;
			word-break:keep-all;
			text-shadow:1px 1px 2px rgba($COL_Black, 0.3);
			@include Mix_Font('Head-R', 12, 15);


			
			.grid_type03 .item12 &,//우측측면컷(360x270)
			.grid_type03 .item4 &,//우측측면컷(240x165)
			.grid_type02 .item7 &,//우측측면컷(240x330)
			.grid_type01 .item1 &{//정면컷(240x330)
				@include Mix_Font('Head-R', 14, 18);
			}
			&.name{
				max-height:30px;
				.grid_type03 .item12 &,//우측측면컷(360x270)
				.grid_type03 .item4 &,//우측측면컷(240x165)
				.grid_type02 .item7 &,//우측측면컷(240x330)
				.grid_type01 .item1 &{//정면컷(240x330)
					max-height:36px;
				}
				color:$COL_White;
				@include Mix_Ellipsis(2)
			}
			&.price{
				margin-top:5px;
				> em{
					@include Mix_Font('Head-R', 14, 15);
					.grid_type03 .item12 &,//우측측면컷(360x270)
					.grid_type03 .item4 &,//우측측면컷(240x165)
					.grid_type02 .item7 &,//우측측면컷(240x330)
					.grid_type01 .item1 &{//정면컷(240x330)
						@include Mix_Font('Head-R', 16, 18);
					}
				}
			}
		}
	}
	.pd_like{
		position:absolute;
		top:0;
		left:0;
		z-index:4;

	}
	.pd_img{
		position:relative;
		> span{
			display:block;
			overflow:hidden;
			&.space{
				img{
					width:100%;
					height:100%;
				}
			}
			&.pdp{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:2;
				img{
					object-fit:cover;
					.grid_type01 .item1 &{//정면컷(240x330)
						width:380%;
						margin:-100% 0 0 -125%;
					}
					.grid_type01 .item2 &{//우측컷(120x165)
						width:250%;
						margin:-20% 0 0 -40%;
					}
					.grid_type01 .item3 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item4 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item5 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item6 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type01 .item7 &{
						// width:100%; //배너(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item8 &{//우측컷(240x165)
						width:180%;
						margin:-40% 0 0 -20%;
					}
					.grid_type01 .item9 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item10 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type01 .item11 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}

					.grid_type02 .item1 &{//우측컷(240x165)
						width:180%;
						margin:-40% 0 0 -20%;
					}
					.grid_type02 .item2 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item3 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item4 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type02 .item5 &{
						// width:100%;//배너(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item6 &{//우측컷(240x165)
						width:250%;
						margin:-20% 0 0 -40%;
					}
					.grid_type02 .item7 &{//우측측면컷(240x330)
						width:300%;
						margin:-55% 0 0 -80%;
					}
					.grid_type02 .item8 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item9 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type02 .item10 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type02 .item11 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item1 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item2 &{//우측컷(120x165)
						width:250%;
						margin:-20% 0 0 -40%;
					}
					.grid_type03 .item3 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type03 .item4 &{//우측측면컷(240x165)
						width:300%;
						margin:-55% 0 0 -80%;
					}
					.grid_type03 .item5 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item6 &{
						// width:100%;//배너(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item7 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item8 &{//우측컷(240x165)
						width:180%;
						margin:-40% 0 0 -20%;
					}
					.grid_type03 .item9 &{//정면컷(120x165)
						width:250%;
						margin:-25% 0 0 -75%;
					}
					.grid_type03 .item10 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item11 &{//우측측면컷(120x165)
						width:250%;
						margin:-25% 0 0 -60%;
					}
					.grid_type03 .item12 &{//우측측면컷(360x270)
						width:220%;
						margin:-55% 0 0 -60%;
					}
				}
			}
		}
	}
}

/* checkBox01 : 찜하기 (하트) */
.chk_wish01{
	width:1px;height:1px;opacity:0;
	position:absolute;top:0;left:0;
}
.chk_wish01 + label{
	display: block;
	width:24px;height:24px;
	color: transparent;
	font-size:0;
	background:url('../img/chk_wish_off.svg') no-repeat;
}
.chk_wish01:checked + label{
	background:url('../img/chk_wish_on.svg') no-repeat;
}
/* S :: 전시 */
.cpo_plp {
	margin-top:-50px;
	/* 전시 이미지 코너 */
	.display_corner {
		position:relative;
		margin:0 0 25px 0;		
		.title{
			position:absolute;
			top:80px;
			left:0;
			width:100%;
			padding:0 21px;
			color:$COL_White;
			.tit{				
				@include Mix_Font('Head-M', 30, 38);
				@include Textshadow(0,3px,0.7);
			}
			.copy{
				margin-top:6px;
				@include Mix_Font('Txt-R', 14, 21);
				@include Textshadow(0,3px,0.7);
			}
		}		
		.navi{
			display:flex;
			flex-wrap:wrap;
			position:absolute;
			left:0;
			bottom:25px;
			width:100%;
			li{
				position:relative;
				flex:1;
				text-align:center;
				a{
					display:block;
					color:$COL_White;
					@include Mix_Font('Head-R', 14, 18);
					&::before{
						content:'';
						display:block;
						width:30px;
						height:29px;
						margin:0 auto 12px;
						@include Mix_Display_Bg;
					}
					&::after{
						content:'';
						display:inline-block;
						width:8px;
						height:13px;
						margin:0 0 0 5px;
						@include Mix_Display_Bg;
						background-position:-105px -53px;
						vertical-align:middle;
					}
					&.link_01{
						&::before{
							background-position:0 -53px;
						}
					}
					&.link_02{
						&::before{
							background-position:-35px -53px;
						}
					}
					&.link_03{
						&::before{
							background-position:-70px -53px;
						}
					}
				}
				&::after{
					content:'';
					display:block;
					position:absolute;
					top:0;
					right:0;
					width:1px;
					height:56px;
					background:rgba($COL_White, 0.15);
				}
				&:last-of-type{
					&::after{
						display:none;
					}
				}
			}

		}
		.bo_img {// bo 이미지형
			position:relative;
			img{
				width:100%;
				height:auto;
			}
			&::after {
				content: '';
				position:absolute;
				top:0;
				left: 0;
				width: 100%;
				height:34.7222vw;
				background:linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);;
				opacity: 0.3;
			}		
		}
		.bo_html {// bo html
			img{
				width:100%;
				height:auto;
			}
		}
		.bo_video {// bo video
			video[poster]{
				width:100%;
				height:56.2vw;
				object-fit:cover;
			}
			.youtube {
				position: relative;
			}
			.block-img {
				width: 100%;
				height: 56.2vw;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 2;
				.ic-play {
					width: 100%;
					height: 100%;
					background: url('../img/sample/icon_play.png') no-repeat center;
					background-size: 42px auto;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					text-indent: -9999px;
					opacity: .75;
				}
				img {
					width: 100%;
					max-height: 100%;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					object-fit: cover;
				}
			}
		}
	}
	/* 판매 준비 차량 목록 */
	.plp_coming {
		.coming_list{/* 목록*/
			padding:0 15px ;
			li{
				margin-top:20px;
				&:first-child {
					margin-top:0;
				}
			}
		}
	}

	/* 기획전 목록 */
	.plan_list{ 
		margin-top:70px;
		padding:0 15px;
		li{
			margin-top:20px;
			&:first-child {
				margin-top:0;
			}
		}
	}
	.main {
		~ .plp_template01 {
			margin-top:13px;
		}
	}
	
	/* 기획 상세 */
	&.plp_detail {
		.display_corner {
			margin-bottom:0;
		}
		.plp_sorting {
			position:relative;
			padding:35px 15px 16px;
			&::before {
				@include Mix_Space_Bar;
			}			
		}
	}
	&.showroom {
		.top_visual {
			position:relative;
			img{
				width:100%;
				height:auto;
			}
			.txt {
				position:absolute;
				left:21px;
				bottom:30px;
				color:$COL_White;
				@include Mix_Font('Head-R' , 26, 33);
			}
			&::after {
				content:'';
				position:absolute;
				top:0; left:0;
				width: 100%; height:150px;
				background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
				opacity: 0.3;
			}
		}
		> .slt_box {
			margin:30px 21px 0;
		}
		.box_showroom {
			padding:20px 21px 30px;
			.sec_tit {
				margin-bottom:15px;
			}
			.desc {
				margin-top:20px;
				color:$COL_Base_03;
			}	
			.btn_area {
				margin-top:25px;
			}				
		}
		.plp_sorting {
			position:relative;
			padding:35px 15px 16px;
			&::before {
				@include Mix_Space_Bar;
			}			
		}
	}
}



/* 검색, 전시 sort */ 
.plp_sorting{
	padding: 0 15px 16px;
	line-height:0;
	&.top_total {
		.all {
			@include Mix_Font('Head-M' , 14, 18);
			em {
				@include Mix_Font('Head-R' , 14, 18);
			}
		}
	}
	.box_sort {
		display:flex;
		align-items:center;		
		> li{
			padding-left:18px;
			position:relative;
			&::before {
				content:'';
				display:block;
				position:absolute;
				left:9px;
				top:50%;
				margin-top:-9px;
				width: 1px;
				height: 18px;
				background:$COL_Line_Medium;
			}
			&:first-child {
				&::before {
					display:none;
				}
			}
		}
	}	
	.btn_deal{
		overflow:hidden;
		width:24px;
		height:24px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			width:20px;
			height:20px;
			margin:0 auto;
			@include Mix_Display_Bg;
			background-position:-59px -28px;
		}
	}
}

/* 검색, 전시 필터 plp_filter */
.plp_filter{
	position:relative;
	padding-top:13px;
	border-top:1px solid $COL_Line_Light;	
	.scroll{
		position:relative;
		overflow-x:auto;
		padding:0 15px;
		white-space:nowrap;		
		font-size:0;
		line-height: 0;
		.link_tag02:not(:first-child) {
			margin-left:6px;
		}
	}
	&::after,
	&::before {
		z-index: 1;
		content:'';
		position:absolute;
		top:13px;		
		width: 15px;
		height: 34px;		
	}
	&::after {
		right:0;
		background:linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
	}
	&::before {
		left:0;
		background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 91.67%);
	}
}

/* 상품목록 type 1 - inc_plp_list_01.shtml */
.plp_template01{
	.plp_list{ /* 상품 목록*/
		padding:0 15px;
	}
}

/* 음성검색 레이어팝업 */
.search_layer.p_wrap {
	height: 100%;
	background-color: $COL_Light_Sand;
	.box_search_top {
		padding-top: 90px
	}
	h2 {
		color: $COL_Primary;
		@include Mix_Font('Head-B', 26, 34);
		text-align: center;
	}
	.search_word {
		padding: 0 80px;
		color: $COL_Primary;
		@include Mix_Font('Txt-R', 26, 34);
		word-break: break-all;
	}
	.box_search_btm {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: absolute;
		bottom: 60px;
		width: 100%;
		&.active_restart {
			.box_loading {opacity: 0;}
			.box_restart_search {opacity: 1;}
		}
		&.active_recommend {
			.recommend_word{opacity: 1;}
		}
	}
	.recommend_word {
		width: 100%;
		padding-bottom: 30px;
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
		strong {
			display: block;
			margin-bottom: 15px;
			color: $COL_Black;
			@include Mix_Font('Head-R', 20, 25);
		}
		p {
			margin-top: 8px;
			color: $COL_Base_01;
			@include Mix_Font('Head-R', 18, 24);
			&:first-child {
				margin-top: 0;
			}
		}
	}
	.box_restart_search {
		position: absolute;
		bottom: 0;
		width: 100%;
		color: $COL_Base_01;
		text-align: center;
		opacity: 0;
		transition: opacity 1s;
		button {
			width: 80px;
			height: 80px;
			margin-top: 20px;
			img {
				width: 100%;
			}
		}
		&.active {
			opacity: 1;
		}
	}
	.box_loading {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 120px;
		height: 80px;
		opacity: 1;
		i {
			display: block;
			width: 10px;
			height: 12px;
			background-color: $COL_Secondary;
			border-radius: 10px;
		}
		&.active i {
			--startHeight:40px;
			--endHeight:30px;
			animation: voice_search01 1s ease-in-out infinite;
			&:nth-child(1),
			&:nth-child(5) {
				--startHeight:25px;
				--endHeight:20px;
				animation: voice_search01 1s ease-in-out infinite;
			}
			&:nth-child(2),
			&:nth-child(4){
				--startHeight:20px;
				--endHeight:40px;
				animation: voice_search01 1s ease-in-out infinite;
			}
		}
		&.speed i {animation-duration: 0.5s !important;}
	}


	@keyframes voice_search01 {
		0%, 100% {
			height: var(--startHeight);
		}
		50% {
			height: var(--endHeight);
		}
	}
}