@charset 'utf-8';
/* 메인 */
@import '../_common/h_function';
@import '../_common/h_mixins';

$src: "../img/main/";
@function vh($px) {
	$vh : calc($px / 800 * 100);
	@return $vh+vh;
}

body {
	height: 100vh;
}
#CPOheader {
	background: #fff;
	.isStart & {
		transform: translateY(-100%);
	}
}
#CPOcontents {padding: 0;}

.gate {
	&_wrap {
		height: 100%;
		background: #F6F3F2;
		&.type2 { //내차팔다가 헤더 내차사기 눌러서 진입시
			.gate__link {
				right: 0;
				&:after {
					display: none;
				}
			}
			.gate__brand {
				&__head {
					opacity: 1;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
	&__branch {
		@include Pos(fixed, 0, 0, $z: 2);
		width: 100%; height: 100%;
		display: flex;
		transition: z-index .1s 1s;
		.isBuyStart & {
			z-index: -1;
		}
		.txt {
			@include Pos(absolute, $t: 50%);
			display: flex;
			flex-direction: column;
			width: 100%;
			margin-top: -40px;
			line-height: 18px;
			transition: opacity .5s;
			strong {
				margin-top: 3px;
				@include Mix_Font('Head-M', 22, 28);
			}
		}
		&--sell {
			width: 50%;
			.txt {
				left: 21px;
				.isBuyReady & {
					opacity: 0;
				}
				.isSellStart & {
					opacity: 0;
				}
			}

			.sale_hello{
				@include Pos(fixed, 131px, $l: 30px);
				opacity: 0;
				transform: translateY(100px);
				transition: opacity 1s, transform 1s;
				.isSellStart & {
					opacity: 1;
					transform: translateY(0);
				}
				&--title {
					@include Mix_Font('Head-M', 80, 80);
					color: #002C5F;
				}
				&--txt {
					display: flex;
					flex-direction: column;
					padding: 0 5px;
					color: $COL_Base_03;
					strong {
						@include Mix_Font('Head-M', 18, 23);
					}
					span {
						margin-top: 2px;
						@include Mix_Font('Head-R', 18, 23);
					}
				}
			}
		}
		&--buy {
			width: 50%;
			.txt {
				right: 21px;
				text-align: right;
				.isSellReady & {
					opacity: 0;
				}
				.isBuyStart & {
					opacity: 0;
				}
			}
		}
		&--car {
			@include Pos(fixed, 0, $l: -50%, $z: 2);
			width: 100%; height: 100%;
			img {
				@include Pos(absolute, $r: 0, $b: 44px);
				height: 185px;
				transition: transform 1s;
				.isSellStart & {
					transform: translateX(100%);
				}
			}
			&:after {
				content: "";
				@include Pos(absolute, 50%, 15px);
				width: 23px; height: 12px;
				margin-top: -38px;
				background: url('../img/main/gate_arrow.png') no-repeat 0 0 / 23px;
				transition: opacity .5s;
				.isSellStart & {
					opacity: 0;
				}
			}
		}
	}
	&__link {
		@include Pos(fixed,  0, $r: -50%);
		width: 100%; height: 100%;
		background: linear-gradient(180deg, #E3E4E6 17.26%, #EAEAEA 100%);
		&:after {
			content: "";
			@include Pos(absolute, 50%, $l: 15px);
			width: 23px; height: 12px;
			background: url('../img/main/gate_arrow.png') no-repeat 0 0 / 23px;
			margin-top: -38px;
			transform: rotate(180deg);
			transition: opacity .5s;
			.isBuyStart & {
				opacity: 0;
			}
		}
		&__txt {
			height: 50%;
			padding: 150px 30px 0;
			transform: translateX(50%);
			opacity: 0;
			transition: opacity .5s, transform .5s;
			.isBuyStart & {
				transform: translateX(0);
				opacity: 1;
			}
		}
		&--txt1 {
			@include Mix_Font('Head-M', 30, 38);
		}
		&--txt2 {
			margin-top: 15px;
			@include Mix_Font('Head-R', 16, 20);
		}
		&__inner {
			height: 100%;
			transform: translateY(0);
			transition: transform 1s 1s;
			.isBuyStart & {
				transform: translateY(-50%);
			}
		}
	}
	&__brand {
		position: relative;
		height: 50%;
		padding: 30px;
		&:after {
			content: "";
			@include Pos(absolute, $r: 21px, $b: 25px);
			opacity: 0;
			transition: opacity 1s 2s;
			.isBuyStart & {
				opacity: 1;
			}
		}
		&__hmc:after {
			width: 91px;
			height: 14px;
			background: url('../img/main/gate_logo1.png') no-repeat 0 0 / auto 14px;
		}
		&__ghq {
			background: linear-gradient(180deg, #1A1A1A 68.06%, #242424 100%);
			color: #fff;
			&:after {
				width: 70px;
				height: 15px;
				background: url('../img/main/gate_logo2.png') no-repeat 0 0 / auto 15px;
			}
		}
		&__head {
			opacity: 0;
			transition: opacity 1s 2s;
			.isBuyStart & {
				opacity: 1;
			}
		}
		&--name {
			margin: 0 0 8px;
			@include Mix_Font('Head-M', 22, 28);
		}
		&--link {
			display: inline-block;
			@include Mix_Font('Head-R', 15, 19);
		}
		&__hmc &--link:after {
			content: "";
			display: inline-block;
			margin-left: 4px;
			@include Icon_Arr_Right("1.2", "000");
			vertical-align: -2px;
		}
		&__ghq &--link:after {
			content: "";
			display: inline-block;
			margin-left: 4px;
			@include Icon_Arr_Right("1.2", "fff");
			vertical-align: -2px;
		}
		&--car {
			@include Pos(absolute, $b: 0, $l: 0);
			width: 100%;
			padding-bottom: 45px;
			background: url('../img/main/gate_bg1.png') no-repeat 0 100% / auto 200px;
			text-align: center;
		}
		&__ghq &--car {
			background: url('../img/main/gate_bg2.png') no-repeat 0 100% / auto 200px;
		}
		img {
			height: 200px;
		}
	}
}

.main_btn {
	display: inline-block;
	height: 56px;
	&--type1 {
		background: #fff;
		border:1px solid #ededed;
		@include Mix_Font('Head-R', 16, 20);
		&:before {
			content: "";
			display: inline-block;
			width: 24px; height: 24px;
			margin-right: 8px;
			background: url($src + "icon.png") no-repeat 0 0 / 300px;
			vertical-align: -6px;
		}
	}
	&--type2 {
		background: rgba(51, 51, 51, 0.95);
		@include Mix_Font('Txt-M', 14, 21);
		color: #fff;
		&:before {
			content: "";
			display: inline-block;
			width: 24px; height: 24px;
			margin-right: 8px;
			background: url($src + "icon.png") no-repeat -24px 0 / 300px;
			vertical-align: -7px;
		}
	}
	&--type3 {
		height: 48px;
		padding: 0 24px;
		background: #00AAD2;
		color: #fff;
		@include Mix_Font('Head-R', 15, 48);
	}
	&--type4 {
		height: 48px;
		padding: 0 24px;
		background: #fff;
		border:1px solid #ddd;
		@include Mix_Font('Head-R', 15, 48);
	}
}

.hash-nav {
	@include Pos(fixed, 50px, $l: 0);
	display: flex;
	width: 100%; height: 46px;
	padding: 0 15px;
	background: #fff;
	border-bottom: 1px solid #EDEDED;
	overflow-x: auto;
	overflow-y: hidden;
	z-index: 100;
	.isStart & {
		top: 0;
	}
	&__inner {
		display: flex;
	}
	&--btn {
		margin: 0 6px;
		white-space: nowrap;
		@include Mix_Font('Head-M', 20, 25);
		color: #8F8F8F;
		&.current {
			color: #000;
		}
	}
}

@keyframes greetingTxt {
  from {
		transform: translateY(40px);
		opacity: 0;
  }
	50% {
		transform: translateY(0);
		opacity: 1;
	}
  to {
		transform: translateY(-40px);
		opacity: 0;
  }
}
.greeting {
	&_view {
		@include Pos(fixed, $a: 0, $z: 2);
		background: #F6F3F2;
		transition: opacity 1s, z-index 1s;
		transition-delay: 2s;
		.isReady & {z-index: -1; opacity: 0}
	}
	&__str {
		@include Pos(absolute, 177px);
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		&--tit {
			@include Mix_Font('Head-M', 80, 80);
			color: #002C5F;
			animation-duration: 2s;
			animation-name: greetingTxt;
			animation-fill-mode: forwards;
		}
		&--tit2 {
			font-size: 60px;
			line-height: 60px;
			animation-duration: 2s;
			animation-name: greetingTxt;
			animation-fill-mode: forwards;
		}
		&--txt {
			margin-top: 10px;
			@include Mix_Font('Head-R', 18, 24);
			transform: translateY(40px);
			animation-duration: 2s;
			animation-name: greetingTxt;
			animation-fill-mode: forwards;
		}
	}
}

%mainViewStep1 {
	opacity: 0;
	transform: translateY(40px);
	transition: transform 1s 2s, opacity 1s 2s;
	.isReady & {
		transform: translateY(0);
		opacity: 1;
		z-index: 2;
	}
}
%mainViewStep2 {
	opacity: 0;
	transition: opacity 1s 3.5s;
	.isReady & {
		opacity: 1;
	}
}
%mainViewStep2-1 {
	transform: translateX(100%);
	transition: transform 1s 2.5s, opacity 1s 3.5s;
	.isReady & {
		transform: translateX(0);
		opacity: 0;
	}
}
%mainViewStep2-2 {
	opacity: 0;
	transform: translateY(-200%);
	.isReady & {
		opacity: 1;
		transform: translateY(0);
		transition: opacity 1s 3.5s, transform 1s 3.5s;
	}
}
.main_wrap {
	&:after {
		content: "";
		@include Pos(fixed, $b: 65px, $l: 50%, $z: 10);
		width: 30px; height: 10px;
		margin-left: -15px;
		background: url($src + "icon.png") no-repeat -156px 0 / 300px;
		@extend %mainViewStep2-2;
		.isStart & {
			opacity: 0;
			transition: opacity 1s;
		}
	}
}
.main {
	&_view {
		position: relative;
		height: 100vh;
		padding-top: 122px;
		@extend %mainViewStep1;
		@media (max-height: 736px) {
			padding-top: vh(122);
		}
		&:before {
			content: "";
			@include Pos(absolute, 440px, 0, 0, 0);
			background: linear-gradient(180deg, #E5DDD6 0%, #F0ECE8 33.76%, #F6F3F2 100%);

			@media (max-height: 736px) {
				top: vh(440);
			}
		}
	}
	&__search {
		position: relative;
		height: 52px;
		margin: 0 30px;
		@extend %mainViewStep2;
		@media (max-height: 736px) {
			height: vh(52);
		}
		&:before {
			content: "";
			@include Pos(absolute, 50%, $l: 0);
			width: 24px; height: 24px;
			margin-top: -12px;
			background: url($src + "icon.png") no-repeat 0 -24px / 300px;
		}
		input {
			width: 100%;
			padding: 0 0 0 34px;
			@include Mix_Font('Head-R', 16, 50);
			background: none;
			border-bottom: 2px solid #002C5F;
			@media (max-height: 736px) {
				line-height: vh(50);
			}
		}
	}
	&__car {
		position: relative;
		margin-top: 50px;
		overflow: hidden;
		@media (max-height: 736px) {
			margin-top: vh(50);
		}
		&--info {
			display: flex;
			flex-direction: column;
			padding: 0 30px;
			@include Mix_Font('Head-R', 18, 23);
			@extend %mainViewStep2;
			@media (max-height: 736px) {
				font-size: vh(18);
				line-height: vh(23);
			}
		}
		.info {
			&--name {
				@include Mix_Font('Head-M', 48, 60);
				color: #002C5F;
				@media (max-height: 736px) {
					font-size: vh(48);
					line-height: vh(60);
				}
			}
			&--price,
			&--leng {
				margin: 3px 0 0;
			}
		}
		&--img {
			position: relative;
			margin: -10px auto 0;
			text-align: center;
			@media (max-height: 736px) {
				img {width: vh(360) !important;}
			}
			.img_opening {
				@include Pos(absolute, 0, $r: 0, $l: 0);
				@extend %mainViewStep2-1;
			}
			.img_item {
				width: 100%;
				img {
					@extend %mainViewStep2;
				}
				transform: translateX(-100%);
				transition: transform .5s;
			}
		}
		.swiper-slide-active {
			.img_item {transform: translateX(0);}
			~ .swiper-slide .img_item {transform: translateX(100%);}
		} 
		.swiper-pagination {
			margin-top: 20px;
			@extend %mainViewStep2;
			@media (max-height: 736px) {
				margin-top: vh(20);
			}
		}
		.swiper-pagination-bullet {
			background: rgba(0, 0, 0, 0.135);
			&-active {
				background: #00AAD2;
			}
		}
	}
	&__btns {
		position: relative;
		margin-top: 49px;
		padding: 0 21px;
		@extend %mainViewStep2;
		@media (max-height: 736px) {
			margin-top: vh(49);
		}
		.main_btn {
			margin-top: 12px;
			width: 100%;
			@media (max-height: 736px) {
				margin-top: vh(12);
			}
		}
		.main_btn--type2 {
			transform: translateY(100%);
			opacity: 0;
			transition: transform 1s, opacity 1s;
			.isStart & {
				transform: translateY(0);
				opacity: 1;
			}
		}
		@media (max-height: 736px) {
			.main_btn {height: vh(56)}
		}
	}
}

.banner {
	&__view {
		position: relative;
		height: 360px;
		background: #fff;
		overflow: hidden;
	}
	&--tit {
		@include Pos(absolute, 50px, $l: 0);
		@include Mix_Font('Head-M', 60, 75);
		color: #002C5F;
		white-space: nowrap;
		transform: translateX(100%);
		transition: transform .1s;
	}
	&--img {
		position: relative;
		z-index: 2;
		padding-top: 81px;
		text-align: center;
		img {
			width: 317px; height: 179px;
		}
	}
	&--txt {
		margin-top: 31px;
		text-align: center;
		a {
			@include Mix_Font('Head-R', 15, 19);
			&:after {
				content: "";
				display: inline-block;
				margin-left: 4px;
				@include Icon_Arr_Right("1.2", "666");
				vertical-align: -1px;
			}
		}
	}
}

.rank {
	&__view {
		position: relative;
		z-index: 2;
		background: #F6F3F2;
	}
	&__tit {
		position: sticky;
		top: 46px;
		padding: 80px 30px 0;
		height: 100vh;
		&--top {
			display: inline-block;
			margin: 0 0 15px;
			padding: 5px 10px 4px;
			background: #00AAD2;
			@include Mix_Font('Head-B', 16, 20);
			color: #fff;
		}
		&--txt {
			display: block;
			margin: 0 0 15px;
			@include Mix_Font('Head-M', 30, 38);
			color: #002C5F;
		}
		&--txt2 {
			display: block;
			@include Mix_Font('Head-R', 16, 20);
		}
	}
	&__items {
		position: relative;
		z-index: 2;
		margin-top: -50vh;
		display: flex;
		flex-direction: column;
		padding-bottom: 140px;
	}
	&__item {
		position: relative;
		width: 320px;
		&1 {
			align-self: flex-end;
		}
		&3 {
			align-self: flex-end;
		}
		&--txt {
			@include Pos(absolute, 10px, $r: 0, $l: 0);
			display: flex;
			align-items: center;
			padding: 0 15px;
			color: #fff;
			@include Mix_Font('Head-M', 17, 24);
			.num {
				margin-right: 10px;
				@include Mix_Font('Head-L', 70, 70);
			}
		}
		&--img img {width: 100%;}
	}
	&__item ~ &__item {margin-top: 240px;}
}

.history {
	&__view {
		margin-top: -100vh;
		height: 300vh;
		&.isStart .history_inner {
			@include Pos(fixed, $a: 0, $z: 10);
			height: 100%;
		}
		&.isEnd .history_inner {
			position: relative;
		}
	}
	&__inner {
		@include Pos(sticky, 0);
		height: 100vh;
		background: { 
			repeat: no-repeat;
			position: 50% 50%;
			size: cover;
		}
		// url($src+'bg_propose.png') no-repeat 50% 50% / cover;
		&:before {
			content: "";
			@include Pos(absolute, $a: 0);
			background:rgba(0, 0, 0, 0.5);
		}
	}
	&__title {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-top: 100px;
		text-align: center;
		color: #fff;
		&--txt {
			@include Mix_Font('Head-M', 16, 20);
		}
		&--txt2 {
			margin-top: 10px;
			@include Mix_Font('Head-M', 30, 38);
		}
	}
	&__item {
		@include Pos(absolute, $a: 0);
		display: flex;
		align-items: flex-end;
		justify-content: center;
		&--chart {
			@include Pos(absolute, 225px);
			width: 100%; height: 202px;
			text-align: center;
			opacity: 0;
			img {height: 100%;}
		}
		&--txt {
			margin: 0 0 92px;
			text-align: center;
			color: #fff;
			opacity: 0;
			transform: translateY(40px);
			.txt {
				@include Mix_Font('Head-R', 16, 20);
			}
			.leng {
				margin: 5px 0 15px;
				@include Mix_Font('Head-M', 50, 63);
			}
			.leng2 {
				margin: 10px 0 20px;
				@include Mix_Font('Head-M', 30, 38);
			}
		}
		&1 {
			z-index: 2;
			.isStep2 & {
				z-index: 1;
			}
		}
		&1 &--chart {
			transition: opacity 1s .5s;
			.history__view.isStart & {
				opacity: 1;
			}
			.history__view.isStep2 & {
				transition: opacity 1s;
				opacity: 0;
			}
		}
		&1 &--txt {
			transition: opacity 1s, transform 1s;
			.history__view.isStart & {
				transition: opacity 1.5s, transform 1.5s;
				opacity: 1;
				transform: translateY(0);
			}
			.history__view.isStep2 & {
				opacity: 0;
				transform: translateY(-40px);
			}
		}
		&2 {
			z-index: 1;
			.history__view.isStep2 & {
				z-index: 2;
			}
		}
		&2 &--chart {
			transition: opacity 1s;
			.history__view.isStep2 & {
				opacity: 1;
			}
		}
		&2 &--txt {
			transition: opacity 1s, transform 1s;
			.history__view.isStep2 & {
				transition: opacity 1s 1s, transform 1s 1s;
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}

.lab {
	&_view {
		position: relative;
		height: 657px;
		background: #001F42;
		&.isStart {
			background: #fff;
		}
	}
	&__bg {
		@include Pos(absolute, 0, $l: 50%);
		width: 100%; height: 100%;
		background: #001F42;
		overflow: hidden;
		transform: translateX(-50%);
		transition: width .1s;
		&:after {
			content: "";
			@include Pos(absolute, $r: -240px, $b: 24px);
			width: 558px; height: 357px;
			background: url('../img/main/lab_bg.png') no-repeat 0 100% / 558px;
			transition: transform 1s;
			.lab_view.isStart & {
				transform: translateX(-120px);
			}
		}
	}
	&__box {
		position: relative;
		z-index: 2;
	}
	&__tit {
		display: flex;
		flex-direction: column;
		padding-top: 120px;
		text-align: center;
		color: #fff;
		.sub {
			@include Mix_Font('Head-R', 16, 20);
		}
		.tit {
			margin-top: 15px;
			@include Mix_Font('Head-M', 60, 60);
		}
	}
	&__btn {
		margin-top: 25px;
		text-align: center;
		opacity: 0;
		transform: translateY(40px);
		transition: transform 1s, opacity 1s;
		.lab_view.isStart & {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.service {
	&_view {
		position: relative;
		background: #fff;
		transition: background 1s;
		&.isChange {background: #000;}
	}
	&__head {
		position: sticky;
		top: 0;
		height: 100vh;
		padding: 120px 30px 0;
		&--tit {
			@include Mix_Font('Head-M', 30, 38);
			margin-bottom: 25px;
			transition: color 1s;
			.isChange & {color: #fff;}
		}
	}
	&__links {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		margin-top: 140px;
		padding-bottom: 140px;
	}
	&__link {
		position: relative;
		&--txt {
			@include Pos(absolute, $b: 30px, $l: 30px);
			color: #fff;
			&:after {
				content: "";
				display: inline-block;
				margin-left: 4px;
				@include Icon_Arr_Right("1.2", "fff");
				vertical-align: -1px;
			}
		}
		img {
			width: 100%;
		}
	}
	&__link ~ &__link {
		margin-top: 240px;
	}
	&__link1 {width: 300px;}
	&__link2 {
		width: 225px;
		align-self: flex-end;
	}
}


.faq {
	&_view {
		position: relative;
		z-index: 2;
		padding: 140px 0 80px;
		background: #fff;
	}
	&--tit {
		@include Mix_Font('Head-R', 16, 20);
		text-align: center;
	}
	&__slide {
		padding: 15px 0 0;
		overflow: hidden;
		.swiper-wrapper {padding-bottom: 30px;}
		.swiper-slide {padding: 0 51px;}
		a {
			display: block;
			height: 50px;
			@include Mix_Font('Head-M', 20, 25);
			color: #333333;
			text-align: center;
		}
		[class*="swiper-button"] {
			@include Pos(absolute, 0, $z: 10);
			width: 38px; height: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			&:after {
				content: "";
				display: block;
				@include Icon_Arr_Right("1.5", "666", 7px, 12px);
			}
		}
		.swiper-button-disabled {display: none;}
		.swiper-button-prev {
			left: 0;
			border-right: 1px solid #ededed;
			&:after {
				transform: rotate(180deg);
			}
		}
		.swiper-button-next {
			right: 0;
			border-left: 1px solid #ededed;
		}
	}
}

.quick {
	&_nav {
		position: relative;
		z-index: 2;
		background: #fff;
		display: flex;
		border-top: 1px solid #EDEDED;
	}
	&--link {
		flex: 1;
		height: 120px;
		padding-top: 28px;
		@include Mix_Font('Head-R', 15, 19);
		text-align: center;
	}
	&--link ~ &--link {
		border-left: 1px solid #EDEDED;
	}
	&--icon {
		width: 36px; height: 36px;
		margin: 0 auto 10px;
		img {width: 100%; height: 100%;}
	}
}

.select_model {
	padding: 10px 21px 0;
	&--txt {
		@include Mix_Font('Head-M', 18, 23);
	}
	&__box {margin-top: 18px;}
	&__item {
		position: relative;
		display: block;
		height: 85px;
		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			z-index: -1;
			&:checked ~ .item-cont {
				color: #002C5F;
				&:before {background-color: #002C5F;}
				&:after {border-bottom: 3px solid #002C5F;}
			}
		}
		.item {
			&-cont {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%; height: 100%;
				padding-right: 40px;
				border-bottom: 1px solid #ededed;
				&:before {
					content: "";
					@include Pos(absolute, $t: 50%, $r: 0);
					width: 22px; height: 22px;
					margin-top: -11px;
					@include Mix_Form_Bg;
					background-position: -54px 1px;
					background-color: #cdcdcd;
					border-radius: 50%;
				}
				&:after {
					content: "";
					@include Pos(absolute, $r: 0, $b: 0, $l: 0);
					border-bottom: 1px solid #ededed;
				}
			}
			&-img img {width: 90px; height: 54px;}
			&-name {
				margin-left: 16px;
				@include Mix_Font('Txt-M', 15, 23);
			}
		}
	}
}

.link_model {
	padding: 24px 12px 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		width: 50%;
	}
	&__item:nth-of-type(2) ~ &__item {
		margin-top: 35px;
	}
	&__link {
		display: flex;
		flex-direction: column;
		text-align: center;
		.item_img img {
			width: 150px;
		}
		.item_name {
			margin-top: 10px;
			@include Mix_Font('Txt-R', 15, 19);
		}
	}
}