@charset 'utf-8';
/* 
	마이페이지
*/
@import '../_common/h_function';
@import '../_common/h_mixins';
@import '../_layout/h_address';
@import '../_layout/h_search';
@import '../_layout/h_mycar'; // 차량등록
@import '../_layout/h_document'; //서류등록, 서류안내, 프로모션상세

// FO-MY-MS0001 마이페이지 메인
body {
	&.bg_color {
		background-color: $COL_Light_Sand;
		[class^=h_header] {
			background-color: $COL_Light_Sand;
		}
	}
}
.my_main{
	padding-bottom: 0 !important;
	.user {
		margin: 10px 21px 30px;
		@include Mix_Font('Head-R', 26, 33);
		em{
			@include Mix_Font_Head_M; 
		}
		a::after{
			content:'';
			display:inline-block;
			width:26px;
			height:26px;
			margin-left:6px;
			@include Mix_Mypage_Bg;
			background-position:-143px 0;
			vertical-align:middle;
		}
	}
	> .alarm {
		margin: 0 15px;
		> div {
			position: relative;
			display: block;
			width: 100%;
			height: 44px;
			padding-left: 46px;
			color: $COL_White;
			text-align: left;
			@include Mix_Font('Txt-M', 13, 44);
			@include Boxshadow(0, 5px, 0.02);
			> a::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translateY(-50%);
				font-size: 0;
			}
			&.type01 {
				background-color: $COL_Secondary;
				@include Textshadow (0, 1px , 0.6);
				::before {
					width: 18px;
					height: 18px;
					@include Mix_Mypage_Bg;
					background-position:-206px -118px;
					// background-image: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_3832_17265)'%3E%3Ccircle cx='9' cy='9' r='7.4' stroke='white' stroke-width='1.2'/%3E%3Cpath d='M9 4.42773V9.22773H13.5714' stroke='white' stroke-width='1.2' stroke-miterlimit='10'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3832_17265' x='0' y='0' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='0.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.6 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3832_17265'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3832_17265' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
			&.type02 {
				background-color: $COL_Primary;
				::before {
					width: 16px;
					height: 16px;
					background-image: url("data:image/svg+xml,%0A%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9996 14.9977L10.4102 10.4082L14.9996 14.9977Z' fill='white'/%3E%3Cpath d='M14.9996 14.9977L10.4102 10.4082' stroke='white' stroke-width='1.2'/%3E%3Cpath d='M11.9233 6.76358C11.9233 9.61427 9.61231 11.9252 6.76163 11.9252C3.91094 11.9252 1.6 9.61427 1.6 6.76358C1.6 3.91289 3.91094 1.60195 6.76163 1.60195C9.61231 1.60195 11.9233 3.91289 11.9233 6.76358Z' stroke='white' stroke-width='1.2'/%3E%3C/svg%3E%0A");
				}
			}
			.del {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 10px;
				height: 10px;
				transform: translateY(-50%);
				@include Mix_Mypage_Bg;
				background-position:-229px -118px;
				// background-image: url("data:image/svg+xml,%0A%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_3832_16994)'%3E%3Cpath d='M1.5 8.5L8.5 1.5' stroke='white' stroke-width='1.2'/%3E%3Cpath d='M8.5 8.5L1.5 1.5' stroke='white' stroke-width='1.2'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_3832_16994' x='0.0742188' y='0.0761719' width='9.85156' height='9.84766' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='0.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.6 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_3832_16994'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_3832_16994' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
				@include Mix_Size_0;
			}
			&~ div {
				margin-top: 5px;
			}
		}
	}
	.swiper-pagination-bullet-active {
		background: $COL_Base_02;
	}	
	.my_car {
		margin: 10px 15px 0;
		background-color: $COL_White;
		@include Boxshadow(0, 5px, 0.02);
		&:not(.add) {
			padding: 20px 0 25px;
		}
		&.add a {
			position: relative;
			display: block;
			padding: 30px 71px 30px 20px;
			word-break: keep-all;
			.tit {
				@include Mix_Font('Head-M', 16, 20);
			}
			.txt {
				margin-top: 5px;
				color: $COL_Base_01;
			}
			&::after {
				position: absolute;
				content: '';
				width: 30px;
				height: 30px;
				top: 50%;
				right: 20px;
				transform:translateY(-50%);
				@include Mix_Order_Bg(0 -58px);
				font-size: 0;
			}
		}
		&.list{
			.my_car_swiper {
				overflow: hidden;
				height: auto;
				.swiper-wrapper {
					align-items: flex-start;
					transition-property: transform, height;
					transform: translate3d(0px, 0, 0);
					height: auto;
					li {
						padding: 0 20px;
						height: auto;
					}
				}
				.swiper-pagination.swiper-pagination-bullets {
					margin-top: 20px;
				}
			}
			.tit {
				position: relative;
				display: flex;
				justify-content: space-between;
				margin: 0 20px;
				padding-bottom: 20px;
				border-bottom: 1px solid $COL_Line_Medium;
				.txt {
					position: relative;
					padding-right: 12px;
					@include Mix_Font('Head-M', 16, 20);
					&::after {
						content: "";
						transform: translateY(-50%);
						@include Pos($p: absolute, $t: calc(50% - 1px), $r: 0);
						@include Icon_Arr_Right(1.5,"000000");
					}
				}
				.btn_add {
					display: block;
					position: absolute;
					width: 30px;
					height: 30px;
					top: -5px;
					right: 0;
					@include Mix_Mypage_Bg;
					background-position:-242px -83px;
					font-size: 0;
				}
			}
			.unit_type {
				padding: 10px 0 15px;
			}
			.price {
				margin: 0 -2px;
				.tit_btn {
					height: 42px;
					padding-left: 17px;
					color: $COL_Base_03;
					@include Mix_Font('Txt-M', 12, 40);
					border: 1px solid $COL_Line_Medium;
					background-color: $COL_Light;
					&::after {
						margin-right: 17px;
						width: 10px;
						height: 6px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6' fill='none'%3E%3Cpath d='M9 1L5 5L1 1' stroke='%238F8F8F' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E");
					}
				}
				.cont {
					display: none;
					padding: 0 17px 20px;
					border: 1px solid $COL_Line_Medium;
					border-top-width:0;
					img {
						width: 100%;
					}
				}
				// &.on {
				// 	.cont {
				// 		display: block;
				// 	}
				// }
				&.none {
					.tit_btn {
						color: $COL_Base_02;
					}
				}
			}
		}
	}
	.wish_list {
		margin: 10px 15px 0;
		background-color: $COL_White;
		@include Boxshadow(0, 5px, 0.02);
		ul { 
			display:flex;
			justify-content:center;
			align-items:center;
			position: relative;
			li{
				flex:1;
				text-align:center;
				.msg {
					z-index: 1;
					position: absolute;
					left: 18px;
					top: -19px;
					padding: 0 8px;
					color: $COL_White;
					@include Mix_Font('Txt-R', 12, 28);
					background-color: $COL_Blue;
					&::after{
						content: '';
						position: absolute;
						top: 28px;
						left: 33px;
						width: 8px;
						height: 6px;
						@include Mix_Mypage_Bg;
						background-position:-223px -65px;
					}
				}
				a{
					display: block;
					position: relative;
					height: 100%;
					padding: 20px 0;
					text-align: center;
					span{
						display:block;
						&.num{
							color:$COL_Blue;
							@include Mix_Font('Head-M', 22, 28);
						}
						&.txt{
							margin-top: 2px;
							color:$COL_Base_03;
							@include Mix_Font('Head-R', 13, 16);
						}
					}
					&::before{
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						width: 1px;
						height: calc(100% - 40px);
						background-color: $COL_Line_Medium;
						transform: translateY(-50%);
					}
				}
				&:first-child a::before{
					display:none;
				}
			}
		}
		.m_point {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 20px;
			padding: 25px 0;
			border-top: 1px solid $COL_Line_Medium;
			.tit {
				color:$COL_Base_03;
				@include Mix_Font('Head-R', 13, 16);
			}
			.point {
				position: relative;
				padding-right: 12px;
				color: $COL_Primary;
				@include Mix_Font('Head-R', 16, 20);
				&::after {
					content: "";
					display: block;
					transform: translateY(-50%);
					@include Pos($p: absolute, $t: calc(50% - 1px), $r: 0);
					@include Icon_Arr_Right(1.5,"002C5F");
				}
				em{
					@include Mix_Font_Head_M;
				}
			}
		}
	}
	.menu_list {
		margin-top: 30px;
		padding: 5px 21px;
		background-color: $COL_White;
		> ul > li {
			position: relative;
			
			> a {
				position: relative;
				display: block;
				padding: 25px 0 25px 28px;
				@include Mix_Font('Head-M', 16, 20);
				.btn_txt_small01 {
					display: none;
				}
				&::before {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 20px;
					height: 20px;
					@include Mix_Mypage_Bg;
					background-position-y: -113px;
					transform: translateY(-50%);
				}
				&.purchase::before {
					background-position-x: -75px;
				}
				&.sell::before {
					background-position-x: -100px;
				}
				&.promotion::before {
					background-position-x: -125px;
				}
				&.review::before {
					background-position-x: -150px;
				}
				&.alarm::before {
					background-position-x: -175px;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					top: 50%;
					right: 0;
					transform: translateY(-50%);
					@include Icon_Arr_Right(1.5,"8F8F8F");
				}
			}
			&:not(:last-child){
				border-bottom: 1px solid $COL_Line_Medium;
			}
			&.order_info {
				border-bottom: none;
				> a {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.btn_txt_small01 {
						display: block;
					}
					&::after {
						display: none;
					}
				}
				.btn_txt_small01 {
					position: absolute;
					right: 0;
				}
				.cont {
					margin: -10px -6px 5px;
					@include Mix_Box(0);
					border: 1px solid $COL_Line_Medium;
					.order_no {
						margin-bottom: 18px;
						display: flex;
						align-items: center;
						[class^="flag"] {
							margin-right: 2px
						}
						.no {
							color: $COL_Base_02;
							padding-left: 8px;
							@include Mix_Font_Head_R;
						}
					}
					li {
						a {
							position: relative;
							display: block;
							padding: 20px 20px 25px;
							&::after {
								content:'';
								position:absolute;
								right:20px;
								top:25px;
								@include Icon_Arr_Right(1.5,'8f8f8f');
							}
						}
						.msg {
							margin-top: 20px;
							text-align: center;
							@include Mix_Font('Txt-M', 12, 38);
							background-color: $COL_Light;
						}
					}
					.swiper-pagination.swiper-pagination-bullets {
						margin: -5px 0 25px;
					}
				}
				&.purchase {
					.msg {
						color: $COL_Primary;
					}
				}
				&.sell {
					// margin-top: 5px;
					.msg {
						color: $COL_Blue;
					}
					.my_sell_swiper {
						overflow:hidden;
					}
				}
				// & + li:not(.order_info) {
				// 	margin-top: 30px;
				// 	padding-top: 15px;
				// 	&::before {
				// 		@include Mix_Space_Bar;
				// 		width: calc(100% + 42px);
				// 		margin: 0 -21px;
				// 	}
				// }
			}
		}
	}
	.service_list {
		position: relative;
		padding-top: 10px;
		background-color: $COL_White;
		&::before {
			@include Mix_Space_Bar;
		}
		ul {
			display:flex;
			justify-content:center;
			align-items:center;
			li {
				flex:1;
				text-align:center;
				a{
					display: block;
					position: relative;
					height: 100%;
					text-align: center;
					padding: 30px 0 60px;
					@include Mix_Font('Head-R', 15, 19);
					&::before {
						content: "";
						display: block;
						width: 36px;
						height: 36px;
						margin: 0 auto 10px;
						background-size: 36px;
						@include Mix_Mypage_Bg;
						background-position-y: -138px;
					}
					&.cs::before {
						background-position-x: -75px;
					}
					&.service::before {
						background-position-x: -116px;
					}
					&.notice::before {
						background-position-x: -157px;
					}
				}
			}
		}
	}
}

// FO-MY-MS0002 앱 설정
.app_setting{
	background:$COL_Light;
	padding:20px 15px 0;
	section{
		padding:0 20px;
		//border-radius:6px;
		background:$COL_White;
		box-shadow:0px 0px 5px rgba($COL_Black, 0.02);
		.item{
			position:relative;
			padding:25px 0;
			&.in_link{
				padding: 0;
				a{
					display: block;
					width: 100%;
					height: 100%;
					padding: 25px 0;
				}
			}
			.top_area{
				display: flex;
				position: relative;
				justify-content: space-between;
				align-content: center;
				align-items: center;
				& + *{
					margin-top: 4px;
				}
				&.new_ver{
					.version{
						padding-right: 17px;
						position: relative;
						&::before{
							content:'';
							display:block;
							@include Pos($p:absolute,$t:50%,$r:0);
							@include Icon_Arr_Right(1.5,8F8F8F);
							transform: translateY(-50%);
						}
					}
				}
			}
			&:not(:last-of-type){
				border-bottom:1px solid $COL_Line_Medium;
			}
			.tit{ //타이틀
				color:$COL_Black;
				@include Mix_Font('Head-M', 16, 20);
			}
			.txt{ // 텍스트
				padding-right:60px;
				color:$COL_Base_01;
				@include Mix_Font('Txt-R', 13, 20);
				word-break:keep-all;
			}
			.version{
				color:$COL_Base_01;
				@include Mix_Font('Txt-M', 15, 23);
				
			}
			.btn_logout{ //로그아웃 화살표 아이콘
				display:block;
				position: absolute;
				width:100%;
				height:100%;
				@include Mix_Size_0;
				&::before{
					content:'';
					display:block;
					@include Pos($p:absolute,$t:50%,$r:0);
					@include Icon_Arr_Right(1.5,8F8F8F);
					transform: translateY(-50%);
				}
			}
		}
		&:not(:last-of-type){
			margin-bottom:15px;
		}
	}
}
// //FO-MY-MS0002 앱 설정

// FO-MY-MS0003 앱 알림
.app_alarm{
	min-height: calc(100vh - 250px);
	background:$COL_Light;
	ol{
		width:100%;
		padding:40px 21px 0;
		li{
			display: block;
			overflow:hidden;
			position:relative;
			padding-left:42px;
			&::before{ //리스트 왼쪽 아이콘
				content:'';
				display:inline-block;
				position:absolute;
				top:0;
				left:0;
				width:32px;
				height:32px;
				@include Mix_Mypage_Bg;
			}
			&:not(:last-of-type){
				margin-bottom:25px;
			}
			&.alarm{ //알림일 때
				&::before{
					background-position:-1px -1px;
				}
			}
			&.ad{ //광고일 때
				&::before{
					background-position:-40px -1px;
				}
			}
			.item{
				display: block;
				overflow:hidden;
				margin-bottom:8px;
				//border-radius:6px;
				background:$COL_White;
				@include Boxshadow(0, 5px, 0.02);
				.img {
					img {
						width:100%;
					}
				}
				.text_box{
					padding:14px 20px 20px;
				}
				.tit{
					display:block;
					margin-bottom:4px;
					color:$COL_Secondary;
					@include Mix_Font('Txt-M', 12, 18);
				}
				.txt{
					color:$COL_Black;
					@include Mix_Font('Txt-M', 15, 23);
					word-break:keep-all;
					em {
						display: block;
						@include Mix_Font_Txt_B;
					}
				}
			}
			.date{
				display:block;
				color:$COL_Base_02;
				@include Mix_Font('Txt-R', 12, 18);
				text-align:right;
			}
		}
	}
}
// //FO-MY-MS0003 앱 알림

// 회원정보
.my_member {
	padding: 0 21px;
	.tit_box {
		padding-top:40px;
		.tit {
			@include Mix_Font('Head-R', 26, 33);
		}
		.txt {
			margin-top: 12px;
			color:$COL_Base_03;
			@include Mix_Font('Txt-R', 15, 23);
		}
		+ .caution02 {
			margin-top: 30px;
			+ .agree {
				margin-top: 20px;
			}
		}
	}
	.bg_box {
		margin: 30px -6px 0;
		padding: 25px 20px;
		background-color: $COL_Light;
		li{
			display: flex;
			align-items: center;
			justify-content: space-between;
			&:not(:first-child) {
				margin-top: 15px;
			}
			.tit{
				color: $COL_Base_02;
			}
			.txt{
				color: $COL_Base_03;
			}
		}
		&+.btn_area {
			margin: 20px -6px 0;
		}
	}
	.terms_list{
		margin-top: 40px;
		.tit {
			padding-bottom: 20px;
			border-bottom: 1px solid $COL_Line_Medium;
			@include Mix_Font('Txt-B', 16, 24);
		}
		ul {
			@include Mix_Font('Txt-R', 15, 24);
			li:not(.switch_type) {
				position: relative;
				margin-top: 20px;
				button {
					display: block;
					width: 100%;
					text-align: left;
					&::after {
						content: '';
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						@include Icon_Arr_Right(1.5,'8f8f8f');
					}
				}
			}
			.switch_type {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				margin-top: 20px;
				.btn_area {
					flex-flow: column;
					flex-basis: 100%;
					line-height: 15px;
				}
			}
		}
		> .btn_area {
			margin-top: 40px;
			text-align: right;
		}
	}
}
// // 회원정보

// F0-MY-MS0070 프로모션
.my_promotion {
	background-color: $COL_Light;
	.caution {
		margin: 15px 21px 0;
	}
	.item_list {
		margin-top: 30px;
		padding: 0 15px;
		li {
			margin-top: 15px;
			padding: 20px;
			background-color: $COL_White;
			@include Boxshadow(0, 5px, 0.02);
			&.disabled > div:not(.flag), &.disabled .num {
				color: $COL_Base_01 !important; 
			}
			.flag {
				margin-bottom: 10px;
				color: $COL_Base_02;
				@include Mix_Font('Head-R', 13, 16);
			}
			.title {
				display: flex;
				flex-direction: column;
				min-height: 28px;
				.tit {
					@include Mix_Font('Head-M', 18, 23);
					@include Mix_Ellipsis(2);
				}
				.num {
					margin-top: 4px;
					color: $COL_Secondary;
					@include Mix_Font('Head-M', 22, 28);
					em {
						@include Mix_Font('Head-R', 18, 23);
					}
				}
			}
			.date {
				margin-top: 4px;
				color: $COL_Base_02;
				@include Mix_Font('Txt-R', 13, 20);
			}
			.time {
				margin-top: 2px;
				color: $COL_Base_03;
				@include Mix_Font('Txt-R', 13, 20);
			}
			.btn_mid02{
				margin-top: 25px;
			}
		}
	}
}

// FO-MY-MS0006 포인트내역
.mypage_point{
	> .tit_box{ //포인트 타이틀 영역
		padding: 40px 21px;
		.tit{
			margin-bottom: 20px;
			color:$COL_Base_03;
			@include Mix_Font('Head-R', 26, 34);
			em {
				position: relative;
				color:$COL_Black;
				@include Mix_Font_Head_M;
				&::after{
					content:"";
					@include Pos($p: absolute, $r: 0, $b: -1px, $l: 0);
					border-bottom: 3px solid $COL_Secondary;
				}
			}
		}
		.txt{
			color:$COL_Base_03;
			@include Mix_Font('Txt-R', 15, 23);
		}
	}
	.cont_point{
		position: relative;
		padding:0 21px;
		&::before {
			@include Mix_Space_Bar;
		}
		.sorting_point{ //기간 soring 영역
			width:100%;
			padding: 35px 0 16px;
			border-bottom:1px solid $COL_Line_Medium;
			display: flex;
			justify-content:space-between;
			align-items: center;
			flex-wrap: wrap;
			.date{
				color:$COL_Base_03;
				@include Mix_Font('Txt-M', 13, 20);
			}
			ul{
				display: flex;
				li{
					~ li {
						margin-left: 6px;
					}
					button{
						height: 32px;
						padding: 0 16px;
						background: $COL_Light;
						border-radius: 100px;
						color: $COL_Base_02;
						@include Mix_Font('Txt-R', 12, 32);
						&.on{
							color: $COL_Black;
							@include Mix_Font_Txt_M;
						}
					}
				}
			}
		}
		.point_history{ //포인트 히스토리 list 내역
			margin-top: 30px;
			li{
				display:flex;
				justify-content:space-between;
				&:not(:last-of-type){
					margin-bottom: 25px;
				}
				span{
					display:block;
				}
				.tit_box{
					.tit{
						@include Mix_Font('Head-R', 16, 20);
						margin-bottom:2px;
					}
					.txt{
						color:$COL_Base_01;
						@include Mix_Font('Txt-R', 13, 20);
					}
				}
				.txt_box{
					text-align:right;
					.tit{
						margin-bottom:2px;
						@include Mix_Font('Head-R', 15, 20);
						em{
							font-size: 16px;
							@include Mix_Font_Head_M;
						}
					}
					.txt{
						color:$COL_Base_03;
						@include Mix_Font('Txt-R', 13, 20);
					}
				}
				&.plus{
					.txt_box{
						color: $COL_Secondary;
						.txt{
							color:$COL_Secondary;
						}
					}
				}
			}
		}
	}
}
// //FO-MY-MS0006 포인트내역

// FO-MY-MS0011 찜한상품
.wish_list {
	.info_box {
		display:flex;
		align-items: center;
		justify-content: space-between;
		padding:0 21px;
		height:52px;
		border-bottom:1px solid $COL_Line_Medium;
		.txt {
			color:$COL_Base_03;
			@include Mix_Font('Txt-M', 13, 20);
		}
	}
	.unit_list {
		li {
			position: relative;
			padding: 34px 21px 24px;
			&::before {
				@include Mix_Space_Bar;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
	}
	.slide_product {
		position:relative;
		margin-top: 40px;
		&::before {
			@include Mix_Space_Bar;
		}
	}
}
// // FO-MY-MS0011 찜한상품

// FO-MY-MS0010 최근본상품
.recently_list {
	background-color: $COL_Light;
	.info_box {
		display:flex;
		align-items: center;
		justify-content: space-between;
		padding:0 21px;
		height:52px;
		background:$COL_White;
		border-bottom:1px solid $COL_Line_Medium;
		.txt {
			color:$COL_Base_03;
			@include Mix_Font('Txt-M', 13, 20);
		}
	}
	.top_total {
		background-color: $COL_White;
		border-bottom: 1px solid $COL_Line_Medium;
	}
	.caution {
		margin: 15px 21px 0;
	}
	.unit_list {
		margin: 30px 15px 0;
		> li:not(:first-child) {
			margin-top: 40px;
		}
		.date {
			margin: 0 0 12px 6px;
			color: $COL_Base_03;
			@include Mix_Font('Head-M', 15, 21);
			span {
				margin-right: 10px;
			}
		}
		ul {
			li {
				padding: 24px 20px;
				background-color: $COL_White;
				@include Boxshadow(0, 5px, 0.02);
				&:not(:last-child) {
					border-bottom: 1px solid $COL_Line_Medium;
				}
			}
		}
	}
	.slide_product {
		margin-top: 40px;
		padding-top: 30px;
		background-color: $COL_White;
	}
}
// // FO-MY-MS0010 최근본상품

// FO-MY-MS0007 보유차량목록
.my_mycar {
	.unit_list {
		> li {
			position: relative;
			padding: 34px 21px 24px;
			&::after {
				@include Mix_Space_Bar;
			}
			&:last-child{
				padding-bottom: 0;
			}
			.car_logo {
				width: 30px;
				height: 20px;
				margin-right: 10px;
			}
			.mid_area + .info {
				margin-top: 20px;
			}
			.info {
				padding: 15px 0 20px;
				border-top: 1px solid $COL_Line_Medium;
				@include Mix_Font('Txt-R', 13, 20);
				li {
					display: flex;
					justify-content:space-between;
					.tit {
						color: $COL_Base_01;
					}
					.txt {
						color: $COL_Base_02;
					}
				}
				li ~ li {
					margin-top: 6px;
				}
			}
			.msg {
				height: 48px;
				line-height: 48px;
				text-align: center;
				color: $COL_Base_02;
				@include Mix_Font_Txt_M;
				background-color: $COL_Light;
			}
		}
	}
}
// //FO-MY-MS0007 보유차량목록

// FO-MY-MS0050 보유차량
.my_car {
	> .car_info {
		.model_img {
			height: 220px;
			padding: 30px 25px;
			text-align: center;
			background-color: $COL_Light;
			img {
				width: 275px;
				height: 165px;
			}
		}
		.tit_box {
			padding: 35px 21px 0;
			.number {
				@include Mix_Font('Head-R', 18, 23);
			}
			.name {
				margin-top: 12px;
				@include Mix_Font('Head-R', 22, 28);
			}
			.year {
				margin-top: 5px;
				color: $COL_Base_02;
			}
		}
		.drive {
			margin: 30px 15px 0;
			padding: 25px 20px;
			background: $COL_Light;
			.mile_ipt {
				margin: 5px 0;
				.inbox_type02 {
					width: calc(100% + 4px);
					margin: 8px -2px 5px;
				}
				.caution {
					margin: 6px 0 5px;
				}
			}
		}
		.detail{
			padding:0 15px 30px;
			ul {
				display: none;
				padding: 30px 20px;
				border-bottom: 1px solid $COL_Line_Medium;
				li{
					display:flex;
					justify-content:space-between;
					align-items: center;
					line-height: 23px;
					&:not(:last-of-type){
						margin-bottom: 15px;
					}
					.tit{
						color: $COL_Base_02;
					}
					.txt{
						color: $COL_Base_03;
						@include Mix_Font('Txt-R', 15, 19);
					}
				}
			}
			&.toggle.on ul{
				display: block;
			}
			.btn_more {
				margin-top: 15px;
			}
		}
	}
	> .car_price {
		position: relative;
		padding: 50px 21px 0;
		&::after {
			@include Mix_Space_Bar;
		}
		.tit_box {
			.tit {
				color: $COL_Base_03;
				@include Mix_Font('Head-R', 26, 33);
				em {
					position: relative;
					@include Mix_Font_Head_M;
					color: $COL_Black;
					&::after{
						content:"";
						@include Pos($p: absolute, $r: 0, $b: -1px, $l: 0);
						border-bottom: 3px solid $COL_Secondary;
					}
				}
			}
			.txt {
				margin-top: 15px;
				color: $COL_Base_01;
				@include Mix_Font('Txt-R', 13, 20);
			}
		}
		.bg_box {
			margin: 30px -6px 0;
			padding: 25px 20px;
			background: $COL_Light;
		}
		.chart {
			margin-top: 20px;
			img {
				width: 100%;
			}
		}
	}
	.bg_box {
		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.tit{
				color: $COL_Base_03;
				@include Mix_Font('Txt-R', 15, 23);
				em {
					display: block;
					color: $COL_Secondary;
					@include Mix_Font('Txt-M', 13, 20);
				}
			}
			.txt {
				@include Mix_Font('Txt-R', 16, 24);
				em{
					@include Mix_Font('Head-M', 16, 24);
				}
				&.price {
					font-size: 14px;
				}
			}
			& ~ li {
				margin-top: 15px;
			}
		}
	}
}
// //FO-MY-MS0050 보유차량

// FO-MY-MS0014 나의리뷰
.my_review{
	.before_list {
		margin: 30px 15px 0;
		li {
			padding: 20px;
			background-color: $COL_White;
			&:not(:first-child) {
				margin-top: 15px;
			}
		}
	}
	.unit_list {
		> li {
			position: relative;
			padding: 40px 21px 30px;
			&::after {
				@include Mix_Space_Bar;
			}
			&:last-child {
				padding-bottom: 0;
			}
			.btn_mid02 {
				margin-top: 20px;
			}
		}
		.review_box {
			padding-top:30px;
			.review_bot {
				margin-top: 20px;
			}
		}
		&+.after {
			margin-top: 30px;
		}
	}
}
// //FO-MY-MS0014 나의리뷰

//FO-MY-MS0019 입고알림 신청내역
.alarm_list{
	overflow-x:hidden;
	.no_data {
		border-top: 1px solid $COL_Line_Medium;
	}
	// background-color:$COL_Light;
	.top_total{
		background-color: $COL_White;
		border-bottom: 1px solid $COL_Line_Medium;
	}
	.unit_info{
		.txt{
			@include Mix_Font('Txt-M', 13, 22);
		}
	}
	.caution_wrap{
		padding: 15px 21px;
		background-color: $COL_Light;
	}
	.btn_area{
		margin-top: 20px;
	}
	.msg{
		margin-top: 20px;
		padding: 15px 0;
		text-align: center;
		@include Mix_Font('Txt-M', 14, 21);
		&.disabled{
			@include Mix_Box_Bg04;
			border: none;
		}
	}
	.soldout{
		.msg{
			background-color: $COL_Light;
			color: $COL_Base_02;
		}
		.flag_mid03{
			opacity: 0.5;
		}
	}
	div > .unit_type{
		position: relative;
		padding:24px 21px;
		background:$COL_White;
		&:first-child{
			border-top: 1px solid $COL_Line_Medium;
		}
		&:last-child {
			padding-bottom: 0;
		}
		&:not(:first-child){
			padding-top: 35px;
			&::after{
				@include Mix_Space_Bar;
			}
		}
	}
	.swiper-slide.more{
		width:120px;
		height:auto;
		border:1px solid $COL_Line_Medium;
		font-size:0;
		//border-radius:4px;
		text-align:center;
		div{
			&::before{
				content:'';
				display:inline-block;
				width:30px;
				height:30px;
				margin-bottom:15px;
				@include Mix_Mypage_Bg;
				background-position:-257px 1px;
				vertical-align:bottom;
			}
			span{
				display:block;
				@include Mix_Font('Head-R', 13, 17);
				color:$COL_Base_03;
			}
		}
	}
	.unit_img img{
		width:100%;
		height:auto;
	}
}
// //FO-MY-MS0019 입고알림 신청내역

//FO-MY-MS0020 입고알림 신청
.CPOpop_bottom{
	.srch_ifbox{
		.incont {
			padding: 10px 21px 25px;
		}
	}
}

.srch_ifbox {
	margin-top: 0;
	.incont02 {
		// margin-top: -5px;
		padding: 0 21px 25px;
	}
	.incont {
		padding: 25px 21px;
		@include Mix_Font('Txt-R', 15, 22);
		color: $COL_Base_03;
		.caution{
			margin-top: 10px;
		}
		.color + .caution{
			margin-top: 25px;
		}
	}
	.srch_box {
		border-color: $COL_Line_Medium;
		&.only_view{
			.tit_btn{
				.check{
					line-height: 22px;
					margin-left: 0;
				}
				.tit{
					width: 70px;
				}
			}
		}
		.tit_btn{
			padding: 25px 21px;
			height: auto;
			.check{
				margin-left: 13px;
			}
		}
		.top{
			position: relative;
			padding: 35px 21px 15px;
			&::after {
				@include Mix_Space_Bar;
			}
			.tit{
				@include Mix_Font('Head-M', 16, 20);
				color: $COL_Black;
			}
		}
	}

	.tab_box {
		display: flex;
		border:1px solid $COL_Line_Medium;
		li {
			width: 100%;
			&:last-child {
				label:after {
					display: none;
				}
			}
		}
		input {
			position:absolute;
			width:1px;
			height:1px;
			opacity:0;
			&+label{
				display: block;
				position: relative;
				width: 100%;
				padding: 11px 0;
				background-color: $COL_Light;
				@include Mix_Font('Head-R', 14, 18);
				color: $COL_Base_02;
				text-align:center;
				&:after {
					content: '';
					display: block;
					position: absolute;
					right: -1px;
					top: 50%;
					width: 1px;
					height: 18px;
					transform: translateY(-50%);
					background-color: $COL_Line_Dark;
					z-index: 1;
				}
			}
			&:checked+label{
				color:$COL_White;
				background-color:$COL_Secondary;
				@include Mix_Font('Head-M', 14, 18);
				z-index: 2;
				&:after {
					display: none;
				}
			}
		}

		.tab_anchor {
			display: block;
			position: relative;
			width: 100%;
			height: 42px;
			background-color: $COL_Light;
			@include Mix_Font('Head-R', 14, 42);
			color: $COL_Base_02;
			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				width: 1px;
				height: 18px;
				transform: translateY(-50%);
				background-color: $COL_Line_Dark;
			}
			&:first-child {
				&:before {
					display: none;
				}
			}
		}
	}
	#rangePrice {
		height: 52px;
		margin-top: 0;
		.cpoRange {
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:0;
				left:-11px;
				width:calc(100% + 22px);
				height:2px;
				background-color:$COL_Line_Medium;
			}
		}
		.max_no:after {
			content: ' 이상';
		}
	}
	[class^=depth] label {
		pointer-events: none;
	}
	.chk_radio:checked ~ [class^=depth] > li > label {
		pointer-events: auto;
	}
	.srch_box {
		.carinfo{
			& > li {
				input:checked{
					& ~ .depth2{
						display: block;
						input:checked{
							& ~ .depth3{
								display: block;
							}
						}
					}
				}
			}
		}
		&.disabled {
			.btn_open {
				pointer-events:none;
			}
		}
	}
	.btn_txt05 {
		padding-top:20px;
	}
}

/* 공지사항 */
.write_list {
	.slt_box{
		height: auto;
		line-height: initial ;
		.sel_value{
			padding-right: 18px;
			background-position:calc(100% - 0px) 50%;
		}
	}
	> ul { 
		border-bottom: 1px solid $COL_Line_Medium;
		li {
			border-top: 1px solid $COL_Line_Medium;
			&.notice {
				background-color: $COL_Light_Sand;
				&:not(:first-child) {
					border-top: 1px solid $COL_Line_Dark;
				}				
			}
		}
	}
	.write_anchor {
		display: block;
		width: 100%;
		padding: 25px 21px;
		text-align: left;
		.title {
			display: flex;
			align-items: center;
			i[class^="icon_"] {
				display: block;
			}
			.icon_emergency {
				min-width: 15px;
				height: 20px;
				margin-right: 10px;
				@include Mix_Cscenter_Bg;
				background-position: 0 0;
			}
			.flag_small01{
				margin-left: 8px;
			}
			.text_flag {
				margin-left: 8px;
			}
			.txt {
				display: block;
				@include Mix_Font('Head-R', 16, 20); 
				@include Mix_Ellipsis01;
				color: $COL_Black;
				
			}
		}
		.date {
			display: block;
			margin-top: 4px;
			@include Mix_Font('Txt-R', 13, 20); 
			color: $COL_Base_02;
		}
	}
}

.CPOpop_full {
	/* 공지사항 상세 */
	&.active {
		.post_list{
			position: fixed;
			bottom: 0;
			width: 100%;
			background-color: $COL_White;
		}
	}
	.write_detail {
		// height: calc(100% - 60px);
		.box_scroll {
			overflow-y: auto;
			-webkit-overflow-scrolling:touch;
			// padding-bottom: 128px;
		}
		.detail_top {
			position: relative;
			padding: 25px 21px 15px;
			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 21px;
				right: 21px;
				bottom: 0;
				height: 1px;
				background-color: $COL_Line_Medium;
			}
			.title {
				display: block;
				@include Mix_Font('Head-M', 18, 23); 
				word-break: keep-all;
			}
			.date {
				margin-top: 4px;
				@include Mix_Font('Txt-R', 13, 20);
				color: $COL_Base_02; 
			}
		}
		.detail_cont {
			// overflow-y: auto;
			margin: 30px 0 0;
			padding: 0 21px 40px;
			@include Mix_Font('Txt-R', 14, 21);
			color: $COL_Base_03;
		}
		.post_list {
			margin-top: auto;
			padding-top: 10px;
			background-color: $COL_White;
			li {
				display: flex;
				align-items: center;
				width: 100%;
				padding: 20px 21px;
				border-top: 1px solid $COL_Line_Medium;
				&:last-child{
					padding-bottom:30px;
				}
			}
			span {
				display:inline-block;
				flex-shrink: 0;
				padding-right: 15px;
				@include Mix_Font('Txt-R', 13, 20); 
				color: $COL_Base_01;
			}
			.btn_post {
				display: block;
				text-align: left;
				@include Mix_Font('Head-R', 14, 21); 
				@include Mix_Ellipsis01;
				&:disabled {
					color: $COL_Base_01;
					pointer-events: none;
				}
			}
		}
	}
	//상단 텍스트
	// section.top_txt {
	// 	.tit {
	// 		@include Mix_Font('Head-R', 26, 33);
	// 	}
	// 	.text {
	// 		margin-top: 12px;
	// 		color: $COL_Base_03;
	// 		@include Mix_Font('Txt-R', 15, 23);
	// 	}
	// }
	// libary.scss로 이동
}

// 블루링크 [약관공통처리예정]
// .layer_terms {
// 	padding: 25px 21px 0;
// }
// libary.scss로 이동