@charset 'utf-8';
/* 
	내차팔기
*/
@import '../_common/h_function';
@import '../_common/h_mixins';
@import '../_layout/h_sale_photo'; //사진등록

body {
	.h_header {
		border-bottom: 1px solid #ddd;
	}
	.h_header_navi02 {
		border-bottom: 1px solid rgba(255,255,255,.3);

	}
	&.bg_color {
	background: $COL_Light_Sand;
		[class^=h_header] {
			background-color: $COL_Light_Sand;
		}
	}
	&.bg_color02 {
	background: $COL_Light;
		[class^=h_header].fixed {
			background-color: $COL_White;
		}
	}
	&.sale_head01 {
		[class^=h_header].fixed {
			background: $COL_Primary;
		}
		.sale_progress {
			 border-color: rgba($COL_White, 0.3)
		}
	}
	&.sale_head02 {
		background: $COL_Light_Sand;
		[class^=h_header].fixed {
			background: $COL_Secondary;
		}
		.sale_progress {
			border-color: rgba($COL_White, 0.3);
			span {
				background:$COL_Primary;
			}
		} 
	}
}

.sale_progress{
	width:100%;
	height:2px;
	position:fixed;
	left:0;
	top:50px;
	border-top: 1px solid $COL_Line_Dark;
	span{
		display:block;
		width: 0;
		height: 2px;
		background:$COL_Secondary;
		@include Mix_Size_0;
		transition: width 1s;
		position: absolute;
		left: 0;
		top:-1px;
	}
}

.chk_type07 {
	~ label {
		position: relative;
		display: block;
		&:before {
			content: "";
			position: absolute;
			top: 50%; right: 0;
			width: 22px; height: 22px;
			margin-top: -12px;
			@include Mix_Form_Bg;
			background-position: -54px 1px;
			background-color: #cdcdcd;
			border-radius: 50%;
		}
	}
	&:checked ~ label:before {
		background-color: $COL_Primary;
	}
}

.sale_mycar_swiper {
	position: relative;
	margin: 30px 15px 0;
	@include Mix_Box(0 0 25px);
	background:  #fff;
	border: 1px solid $COL_Line_Dark;
	overflow: hidden;
	.swiper-pagination-bullets {
		margin-top:5px;
		margin-bottom:25px;
		.sale_mycar_proceeding & {margin: 0;}
		.swiper-pagination-bullet-active{ 
			background: $COL_Base_02;
		}
	}

	.order_info {
		.order_no {
			margin-bottom: 18px;
			display: flex;
			align-items: center;
			[class^="flag"] {
				margin-right: 2px
			}
			.no {
				color: $COL_Base_02;
				padding-left:10px;
				@include Mix_Font_Head_R;
			}
		}
		li {
			@include Mix_Box(0);
			a:not(.link_mycar) {
				position: relative;
				display: block;
				padding: 20px 20px 0;
				&::after {
					content:'';
					position:absolute;
					right:20px;
					top:25px;
					@include Icon_Arr_Right(1.5,'8f8f8f');
				}
			}
			.unit_type {
				padding-bottom: 20px;
			}
			.msg {
				min-height: 38px;
				padding: 10px;
				text-align: center;
				color: $COL_Blue;
				@include Mix_Font('Txt-M', 12, 18);
				background-color: $COL_Light;
			}
		}
	}
	// &.purchase {
	// 	.msg {
	// 		color: $COL_Primary;
	// 	}
	// }
	// &.sell {
	// 	.msg {
	// 		color: $COL_Blue;
	// 	}
	// }

	.sale_slide_item02{
		position: relative;
		width: 100%; height: 135px;
		padding: 15px 20px 0;
	}
	.link_mycar {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 120px;
		@include Mix_Font('Head-R', 14, 18);
		color: $COL_Base_03;
		align-items: center;
		justify-content: center;
		&:before {
			content: '';
			position: relative;
			width: 28px; height: 28px;
			@include Mix_Sale_Bg;
			background-position: -160px -50px;
			margin-bottom: 15px;
		}
	}
}

.sale_car_process {
	margin: 20px 0 0 0;
	li {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: -2px;
		padding: 0 0 20px 22px;
		background: url('../img/bg_line.png') no-repeat 5px 21px / 1px;
		@include Mix_Font('Txt-R', 13, 20);
		color: $COL_Base_02;
		&:last-child {
			background: none;
			padding-bottom: 0;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0; left: 0;
			width: 12px; height: 21px;
			background: url('../img/bul_circle.png') no-repeat 0 0 / 12px;
		}
	}
	strong {
		margin: 0 0 2px;
		@include Mix_Font('Txt-M', 14, 21);
		color: $COL_Base_03;
	}
}

.entry_start {
	.show & {
		opacity: 1;
	}
	position:relative;
	transition: opacity 1s;
	opacity: 0;
	padding:30px 30px 0;
	> .top{
		> .txt{
			color:$COL_Base_03;
			@include Mix_Font('Head-R', 16, 20);
		}
		p.tit{
			display:inline-block;
			margin-top: 2px;
			color:$COL_Base_03;
			@include Mix_Font('Head-M', 22, 28);
		}
		.cpo_tooltip {
			margin: 0 0 0 -1px;
			vertical-align: 4px;
		}
	}
	.entry{
		position:relative;
		margin:35px 0 20px;
		border:0;
		padding:0;
		&.isVal .btn_area,
		&.delete_on .btn_area {
			display: block;
		}
		.txt {
			width: 100%;
			padding:0 2px 6px;
			background:transparent;
			border:0;
			outline:0;
			caret-color: rgba(0, 44, 95, .5);
			color:$COL_Primary;
			@include Mix_Font('Head-M', 48, 60);
			&::placeholder{
				color: $COL_Line_Dark;
				line-height:inherit;
			}
		}
		&:after {
			content:"";
			position: absolute;
			left: 50%; bottom: 0;
			width: 100%; height: 3px;
			transform: translateX(-50%);
			background: $COL_Primary;
		}
		.btn_area{
			display: none;
			margin-left: 20px;
			width: 36px; height: 36px;
			.btn_ok01 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%; height: 100%;
				border-radius: 50%;
				background: $COL_Primary;
				font-size: 0;
				&:after {
					content:"";
					display: inline-block;
					width: 12px; height: 12px;
					@include Mix_Sale_Bg;
					background-position: -195px -45px;
				}
			}
		}
		.unit {
			margin-left: 10px;
			@include Mix_Font('Head-M', 20, 25);
			color: $COL_Primary;
		}
		> ol{
			li{
				//border-bottom:1px solid $COL_Base_01;
				.textarea{
					display:none;
				}
			}
		}
	}
	.navi{
		li{
			margin-bottom:12px;
		}
	}
}

.step1_box {
	.entry:after {
		width: 0;
		transition: width 1s;
		.show & {
			width: 100%;
		}
	}
	.btn {
		width: auto;
		position: fixed;
		bottom: 30px; right: 20px; left: 20px;
		text-align: left;
		.isStickyOff & {
			position: static;
			margin-top: 300px;
		}
		.btn_mid01 {
			padding: 1px 0 0 46px;
			text-align: left;
			font-size: 13px;
			&:before {
				content:"";
				position: absolute;
				top: 50%; left: 21px;
				width: 16px; height: 16px;
				margin-top: -7px;
				@include Mix_Sale_Bg;
				background-position: -285px 0;
			}
			&:after {
				content:'';
				position:absolute;
				right:18px;
				top:50%;
				transform: translateY(-50%);
				@include Icon_Arr_Right(1.5,ffffff)
			}
		}
	}
}

.step2_box {
	transition: opacity 1s;
	.car_info {
		margin: 0 0 30px;
		p {
			display: flex;
			padding: 0 5px 6px;
			border-bottom: 1px solid rgba($COL_Hyundai_Sand, .4);
		}
		.tit {
			@include Mix_Font('Txt-R', 14, 21);
		}
		.txt {
			margin-left: auto;
			@include Mix_Font('Txt-M', 14, 21);
		}
		.btn_txt_mid02 {
			margin-left: 6px;
			vertical-align: 1px;
		}
	}
}

.sale_proceeding {
	position: relative;
	text-align: center;
	&:before {
		content: "";
		display: block;
		width: 60px; height: 52px;
		margin: 22px auto 15px;
		@include Mix_Error_Bg(-22px -92px);
	}
	.title {
		@include Mix_Font('Txt-M', 16, 24);
		strong {color: $COL_Base_03;}
	}
	p {
		margin-top: 8px;
		@include Mix_Font('Txt-R', 14, 21);
		color: $COL_Base_01;
	}
}

.sale_mycar_proceeding {
	.title {
		margin-top: 10px;
		padding: 0 20px;
		strong {
			@include Mix_Font('Head-M', 18, 23);
		}
		p {
			margin-top: 10px;
			color: $COL_Base_03;
			@include Mix_Font('Txt-R', 15, 23);
		}
	}
	.sale_slide_item {
		padding-bottom: 0;
	}
}

.sale_mycar_impossible {
	padding: 0 15px;
	.no_data {
		padding: 10px 0 0;
		.tit {
			width: auto;
			font-size: 15px;
			line-height: 22px;
		}
	}	
	.caution {
		margin-top: 30px;
		padding: 25px 20px 30px;
		background-color: $COL_Light;
		.tit {
			display: block;
			margin-bottom: 15px;
			padding: 0 0 15px;
			border-bottom: 1px solid $COL_Line_Dark;
			@include Mix_Font('Head-M', 15, 19);
		}
		li {margin-top: 2px;}
	}
}

.corporation_car {
	padding: 25px 21px 0;
	.info_box {
		padding: 18px;
		margin: 0 -7px;
		background: $COL_Light;
		color: $COL_Base_03;
		@include Mix_Font('Txt-R', 13, 20);
	}
	.txt1 {
		margin: 30px 0 0 0;
		@include Mix_Font('Head-M', 16, 20);
		color: $COL_Black;
	}
	.txt2 {
		margin: 5px 0 0 0;
		@include Mix_Font('Txt-R', 13, 20);
		color: $COL_Base_01;
	}
	&_contact {
		padding: 25px 15px 0;
		.info_txt {
			margin: 0 6px;
			@include Mix_Font('Txt-M', 14, 21);
			word-break: keep-all;
			color: $COL_Base_03;
		}
		.form_list01 {
			margin: 30px 0 10px;
		}
		.textarea + .caution {
			margin: 20px 7px 0
		}
	}
	&_box {
		margin-top: 30px;
		background: #fff;
		@include Mix_Box(30px 20px);
		.title {
			margin: 0 0 20px;
			@include Mix_Font('Head-M', 16, 20);
			color: $COL_Base_03;
		}
		.sale_car_process {
			margin: 0;
		}
	}
	.sale_mycar_notice {
		margin: 40px -21px -116px;
		padding: 40px 21px 116px;
	}
}

.mycar_reg_info {
	padding: 0 15px 40px;
	.title {
		&:before {
			content: "";
			display: block;
			width: 60px; height: 60px;
			margin: 0 auto 8px;
			@include Mix_Error_Bg(-25px -80px);
		}
		text-align: center;
		@include Mix_Font('Txt-M', 16, 24);
		color: $COL_Base_03;
	}
	.txt {
		margin-top: 8px;
		text-align: center;
		@include Mix_Font('Txt-R', 14, 21);
		color: $COL_Base_01;
	}
	.reason {
		margin-top: 30px;
		padding: 25px 20px 30px;
		background: $COL_Light;
		&_tit {
			margin: 0 0 15px;
			padding: 0 0 15px;
			@include Mix_Font('Head-M', 15, 19);
			border-bottom: 1px solid $COL_Line_Dark;
		}
	}
}

.sale_mycar_wrap {
	// overflow-y: auto; 하단 여백문제로 주석처리
	transform: translateX(100%);
	.no_btn {padding-bottom: 50px !important;}
	&.active {
		transform: translateX(0);
	}
	.p_head {
		background-color: #F1F4F5;
	}
	.p_wrap {
		// height: auto;
		padding: 10px 0 0;		
		background-color: #F1F4F5;
	}
	.user_info {
		padding: 0 21px;
		.user_name {
			color:$COL_Black;
			@include Mix_Font('Head-R', 26, 34);
			strong {
				@include Mix_Font_Head_B
			}
		}
		a.user_name {
			&::after{
				content:'';
				display:inline-block;
				width:24px;
				height:24px;
				margin-left:8px;
				@include Mix_Sale_Bg;
				background-position:-229px 0px;
				vertical-align:-4px;
			}
		}
		p {
			margin-top: 5px;
			@include Mix_Font('Txt-R', 15, 18);
			color: $COL_Base_02;
		}
	}
	.sale_mycar_swiper {
		border:0;
		.link_mycar {
			margin-top: 20px;
			height: 140px;
		}
		.swiper-pagination-bullets {
			margin:20px 0 0;
		}
	}
}
.sale_mycar_links{
	margin-top: 30px;
	ul {
		padding:10px 21px;
		background-color:$COL_White;
	}
	li{
		border-bottom:solid 1px $COL_Line_Medium;
		a {
			display:flex;
			align-items: center;
			position:relative;
			min-height: 78px;
			padding:0 0 0 62px;
			color:$COL_Black;
			@include Mix_Font('Head-R', 16, 20);
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 48px;
				height: 48px;			
				@include Mix_Sale_Bg;
				transform: translateY(-50%);
			}
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:50%;
				right:10px;
				transform:translateY(-50%);
				@include Icon_Arr_Right(1.5, '8f8f8f')
			}
			&.link_mypage:before {
				background-position:0px -53px;
			}
			&.link_service:before {
				background-position:-53px -53px;
			}
			&.link_chatbot:before {
				background-position: -106px -53px;
			}
		}
		&:last-child{
			border-bottom:0;
		}
	}
}
.sale_mycar_qna {
	padding:45px 15px 60px;
	background: $COL_White;
	position: relative;
	&::before {
		@include Mix_Space_Bar; 
	}
	.sec_tit {
		margin: 0 6px 12px;
	}
}
.sale_mycar_notice {
	padding: 30px 21px;
	background-color: $COL_Light;
	.title {
		margin: 0 0 20px;
		@include Mix_Font('Head-M', 16, 20);
		color: $COL_Black;
	}
}

.mycar_model_header {
	// padding: 20px 21px 30px;
	padding-bottom: 30px;
	border-bottom:1px solid rgba($COL_Line_Medium, 0.5);
	.txt1 {
		@include Mix_Font('Head-R', 26, 33);
	}
	.txt2 {
		margin-top: 10px;
		@include Mix_Font('Txt-R', 15, 23);
		color: $COL_Base_03;
	}
}

.sale_car_info{
	// padding-bottom: 56px !important;
	.sale_step01{
		position:relative;
		z-index:3;
		background-color:$COL_White;
		transition: height 1.2s;
		.ready & {
			padding: 0;
			height: 84px !important;
		}
		.head{
			position:fixed;
			top:0;
			width:100%;
			height:280px;
			margin-top:-400px;
			background:linear-gradient(10.84deg, $COL_Primary 26.81%, $COL_Primary 26.82%, #1E3C72 100%);
			text-align:center;
			transition: margin 0.5s linear, height .5s;
			z-index: 2;
			.on & {
				margin-top: 0;
			}
			.ready & {
				transition: height 1s;
				height: 134px;
			}
			.txt{
				display:block;
				padding-top:70px;
				color:$COL_White;
				@include Mix_Font('Head-M', 26, 34);
				opacity:0;
				.on & {
					padding-top:90px;
					opacity:1;
					transition:all 0.1s linear;
					transition-delay:0.45s;
				}
				.ready & {
					opacity: 0;
					transition: none;
				}
			}
			.txt2{
				display:inline-block;
				position:absolute;
				top:71px;
				left:21px;
				text-align:left;
				opacity:0;
				transition:opacity 1s linear;
				.ready & {
					opacity: 1;
				}
				>span{
					display:block;
					color:$COL_White;
					&.num{
						@include Mix_Font('Head-M', 16, 20);
					}
					&.name{
						margin-top:3px;
						@include Mix_Font('Txt-R', 13, 17);
						em{
							padding:0 6px;
						}
						.mod_km {
							margin-left: 6px;
							@include Mix_Font('Head-R', 12, 15);
							color: #00AAD2;
							border-bottom: 1px solid;
						}
					}
				}
			}
			.imgs{
				position:absolute;
				transition:all 0.2s linear;
				top:190px;
				right: 50%;
				transform: translateX(50%);
				opacity: 0;
				img{
					width: 270px;
					margin:0 auto;
				}
				.on & {
					top:186px;
					opacity:1;
					transition:top .3s linear, opacity .3s linear;
					transition-delay:0.8s;
				}
				.ready & {
					top: 69px; right: 21px;
					transform: translateX(0);
					transition: top .9s, right .9s, transform .9s .05s;
					img {
						width: 94px;
						margin: 0;
						transition: width .9s linear;
					}
				}
			}
		}
		.list{
			padding-top:230px;
			opacity:0;
			transform: translateY(30px);
			transition:all .5s linear;
			transition-delay: .9s;
			.on & {
				opacity: 1;
				transform: translateY(0);
			}
			.ready & {
				position: absolute;
				bottom: 0; right: 0; left: 0;
			}
			ul{
				margin-top:57px;
				padding:0 21px 60px;
				li{
					display:flex;
					padding:10px 0;
					border-bottom:solid 1px rgba($COL_Black, 0.04);
					@include Mix_Font('Txt-R', 13, 20);
					.tit{
						color:$COL_Base_02;
						@include Mix_Font_Txt_R;
					}
					.txt{
						flex:1;
						color:$COL_Base_03;
						@include Mix_Font_Txt_M;
						text-align:right;
					}
				}
			}
		}
	}
	.sale_step02{
		padding:60px 21px;
		background:$COL_White url('../img/@thumb/sale_car_bg01.png') no-repeat 0 0;
		background-size:cover;
		opacity:0;
		transform: translateY(100px);
		transition:all .5s linear;
		transition-delay: .9s;
		color:$COL_White;
		.on & {
			opacity: 1;
			transform: translateY(0);
		}
		.tit {
			@include Mix_Font('Head-M', 30, 38);
		}
		.txt{
			display:block;
			@include Mix_Font('Head-R', 17, 21);
			span{
				display:inline-block;
				position:relative;
				margin: 2px 0 10px;
				color:$COL_Light;
				@include Mix_Font('Txt-M', 16, 24);
				&::after{
					content:'';
					position:absolute;
					left:0;
					bottom:0;
					width:100%;
					height:3px;
					background-color:$COL_Secondary;
				}
				em{
					margin-right:4px;
					@include Mix_Font('Head-M', 36, 45);
				}
			}
		}
		.txt2{
			margin-top:20px;
			color:$COL_Line_Dark;
			@include Mix_Font('Txt-R', 12, 18);
		}
		.txt3 {
			margin-top:10px;
			color:$COL_White;
			@include Mix_Font('Txt-R', 15, 22);
		}
		.graph{
			margin-top:40px;
			img{
				width:100%;
			}
		}
	}
	.sale_banner {
		height: 186px;
		margin: 40px 15px 0;
		padding: 20px;
		background: {
			repeat: none;
			size: cover;
			position: 50% 50%;
		}
		color: #fff;
		.txt1 {
			@include Mix_Font('Head-R', 13, 16);
		}
		.txt2 {
			margin-top: 8px;
			@include Mix_Font('Head-R', 20, 25);
		}
	}
	.sale_step03{
		margin-top: 40px;
		padding:0 15px;
		background-color:$COL_White;
		transition:all 0.2s linear;
		overflow: hidden;
		.sec_tit{
			margin-bottom:16px;
			padding:0 6px;
		}
		.review_bot .txt + span span {
			@include Pos($p: absolute, $b: 0, $r: 0);
			@include Mix_Font('Txt-R', 12, 18);
			width: 17px;
			background: rgba($COL_Black, 0.7);
			color: #fff;
			text-align: center;
		}
	}
	.sale_step04{
		width:100%;
		height:600px;
		margin: 40px 0 -60px; //FO_TI_MS0002 이미지와 버튼사이 여백 없애기위해 -60
		padding-top:60px;
		// background:url('../img/@thumb/car_sale_bg02.png') no-repeat 0 0; 
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size:cover;
		color:$COL_White;
		@include Mix_Font('Head-M', 26, 33);
		text-shadow:0px 0px 2px rgba($COL_Black, 0.6);
		text-align:center;
		transition:all 0.2s linear;
		.tit {
			text-shadow: 0 0 1px rgba($COL_Black, 0.6);
		}
	}
	.btn_sale{
		height:56px;
		background-color:$COL_White;
		transform: translateY(100%);
		.ready & {
			transform: translateY(0);
			transition: transform .8s 1s;
		} 
	}
}
.sale_car_info02 {
	margin: -50px 0 0;
	background: $COL_White;
	.sale_step02 {
		padding-top: 110px;
		transform: none;
		opacity: 1;
	}
}

.sale_step02_02{
	padding:40px 21px 0;
	section ~ section {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid $COL_Line_Medium;
	}
	.tit{
		margin-bottom:16px;
		color:$COL_Black;
		@include Mix_Font('Head-M', 18, 24);
	}
	.box {
		background: $COL_Light;
		padding: 35px 21px 15px 6px;
	}
	.sale_car_process {
		margin-top: 0;
	}
}

.entry_carmore{
	margin-top: -50px;
	min-height: 100vh;
	// padding-bottom: 40px !important; // 팝업이 아니므로 60px이어야함
	overflow: hidden;
	&.on {
		.sale_prcir01{height: 326px;}
		.sale_prcir01 .inner {opacity: 1;}
		.sale_prcir01 .img_car {
			transform: translateX(100%);
		}
		.sale_car02 {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&.ready {
		.sale_prcir01 .btn_area {
			opacity: 1;
			transform: translateY(0);
		}
		.sale_car02 {
			opacity: 0;
			transform: translateY(50px);
			transition: all 1s;
		}
		.entry_more {opacity: 1;}
		.entry_more li,
		.entry_more > .btn_area {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.sale_prcir01{
		height: 100vh;
		background:$COL_Secondary;
		transition: height 1s;
		.inner {
			position: relative;
			height: 326px;
			padding:80px 21px 0;
			opacity: 0;
			transition: opacity 1s;
		}
		.tit{
			color:$COL_White;
			@include Mix_Font('Head-R', 18, 24);
			> span{
				display:block;
				&.price{
					position:relative;
					display:inline-block;
					margin:2px 0 10px;
					@include Mix_Font('Txt-M', 16, 24);
					> em{
						font-size:36px;
						@include Mix_Font('Head-M', 36, 45);
					}
					&::after{
						content:'';
						display:block;
						width:100%;
						height:3px;
						margin-top:-3px;
						background:$COL_White;
					}
				}
			}
		}
		.txt {
			position: relative;
			margin-top: 15px;
			@include Mix_Font('Txt-R', 12, 18);
			color: #fff;
			z-index: 2;
		}
		.btn_area{
			position: absolute;
			bottom: 42px; left: 21px;
			text-align: left;
			opacity: 0;
			transform: translateY(50px);
			transition: all 1s 1s;
			z-index: 2;
		}
		.img_car {
			position: absolute;
			left: 0;
			bottom: -50px;
			height: 201px;
			transform: translateX(-100%);
			transition: transform 2s 1s;
			z-index: 2;
		}
		.bg_graph {
			position: absolute;
			width: 100%; height: 105px;
			top: 205px; right: 0;
			background: url('../img/bg_graph_line.png') no-repeat 100% 0 / auto 105px;
			canvas {
				position: absolute;
				top: 0; right: 15px;
			}
		}
	}
	.sale_car02{
		position: fixed;
		top: 326px; left: 0;
		width:100%;
		padding:14px 21px 0;
		opacity: 0;
		transform: translateY(50px);
		transition: all 1s 1s;
		.car_info dt, 
		.car_info dd {border-color: rgba(#e4dcd3, .4);}
	}
	.car_info{
		display:flex;
		flex-flow:row;
		flex-wrap:wrap;
		dt{
			flex:0 0 100px;
			padding:16px 0;
			border-bottom:1px solid $COL_Line_Light;
			color:$COL_Black;
			@include Mix_Font('Txt-B', 14, 21);

		}
		dd{
			flex:0 0 calc(100% - 100px);
			width:calc(100% - 100px);
			padding:16px 0;
			border-bottom:1px solid $COL_Line_Light;
			color:$COL_Base_03;
			@include Mix_Font('Txt-R', 14, 21);
		}
		.list{
			li{
				&:not(:last-of-type){
					margin-bottom:8px;
				}
			}
		}
		.tit{
			margin-bottom:4px;
			color:$COL_Base_03;
			@include Mix_Font('Txt-B', 14, 21);
		}
		.bull{
			display:block;
			position:relative;
			z-index:1;
			padding:0 0 0 8px;
			&::before{
				content:'';
				display:block;
				width:2px;
				height:2px;
				position:absolute;
				top:8px;
				left:0;
				background:$COL_Base_03;
			}
		}
	}
	.entry_more{
		position: relative;
		opacity: 0;
		li{
			opacity: 0;
			transform: translateY(50px);
			border-bottom:1px solid $COL_Hyundai_Sand;
			&.off{
				> a::after{
					content:'';
					position:absolute;
					top:50%;
					right:21px;
					transform:translateY(-50%);
					display:block;
					width:11px;
					height:18px;
					@include Mix_Sale_Bg;
					background-position:-159px 0;
				}
			}
		}
		li:nth-of-type(1) {transition: all 1s 1s;}
		li:nth-of-type(2) {transition: all 1s 1.5s;}
		li:nth-of-type(3) {transition: all 1s 2s;}
		[class^=link_]{
			position:relative;
			display:block;
			padding:37px 50px 37px 80px;
			&::before{
				content:'';
				position:absolute;
				top:50%;
				left:21px;
				transform:translateY(-50%);
				display:block;
				width:48px;
				height:48px;
				@include Mix_Sale_Bg;
			}
			> span{
				display:block;
				margin-bottom:3px;
				color:$COL_Base_03;
				@include Mix_Font('Head-M', 20, 26);
			}
			> em{
				display:block;
				color:$COL_Base_02;
				@include Mix_Font('Txt-R', 13, 17);
			}
			> i{
				position:absolute;
				top:50%;
				right:21px;
				transform:translateY(-50%);
				display:block;
				@include Mix_Font('Txt-M', 13, 17);
				&::before{
					content:'';
					display:block;
					margin:0 auto 10px;
					@include Mix_Sale_Bg;
				}
				@keyframes spin { 
					from { 
						transform: rotate(0deg); 
					} to { 
						transform: rotate(360deg); 
					}
				}
				&.ing{
					color:$COL_Primary;
					&::before{
						width:22px;
						height:22px;
						background-position:-202px 0;
						animation: spin 1000ms infinite linear;
					}
				}
				&.end{
					color:$COL_Blue;
					&::before{
						width:22px;
						height:17px;
						background-position:-175px 0;
					}
				}
				&.yet{
					color:$COL_Base_Dark;
					&::before{
						width:22px;
						height:17px;
						background-position:-175px -22px;
					}
				}
			}
		}
		.link_option{
			&::before{
				background-position:0 0;
			}
		}
		.link_repair{
			&::before{
				background-position:-53px 0;
			}
		}
		.link_photo{
			&::before{
				background-position:-106px 0;
			}
		}
		> .btn_area{
			padding:22px 0;
			text-align:center;
			opacity: 0;
			transform: translateY(50px);
			transition: all 1s 2.5s;
		}
	}
}

.sale_cancel {
	padding: 10px 21px 0;
	.txt {
		margin: 0 0 20px;
		@include Mix_Font('Txt-R', 15, 23);
		color: $COL_Base_03;
	}
	.sale_cancel_chk {
		margin-top:40px;
		ul {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid $COL_Line_Medium;
		}
		li ~ li {
			margin-top: 18px;
		}
	}
}

.sale_detail_header {
	position: relative;
	height: 302px;
	padding: 70px 20px 0;
	overflow: hidden;
	transition: height 1s;
	z-index: 2;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: $COL_Primary;
		z-index: -1;
		opacity: 1;
		transition: opacity 1s;
	}
	&:after {
		background: url('../img/@thumb/sale_car_bg02.png') no-repeat 0 0 / cover;
		opacity: 0;
	}
	.title {
		color:$COL_White;
		@include Mix_Font('Head-R', 18, 24);
		> span{
			display:block;
			&.price{
				position:relative;
				display:inline-block;
				margin:2px 0 8px;
				@include Mix_Font('Head-M', 16, 45);
				> em{
					font-size:36px;
				}
				&::after{
					content:'';
					display:block;
					width:100%;
					height:3px;
					margin-top:-8px;
					background:$COL_Secondary;
				}
			}
		}
	}
	.txt {
		margin-top: 15px;
		@include Mix_Font('Txt-R', 12, 18);
		color: $COL_White;
	}
	.graph {
		position: absolute;
		bottom: 88px; left: 0;
		width: 100%; height: 232px;
		text-align: center;
		img {height: 100%;}
		opacity: 0;
		transition: opacity 1s;
	}
	.btn {
		position: absolute;
		bottom: 15px; right: 0; left: 0;
		text-align: center;
	}
	.btn button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%; height: 33px;
		color: #fff;
		@include Mix_Font('Txt-R', 11, 17);
		.str {
			display: block;
			position: relative;
			transition: transform 1s;
			span {
				transition: opacity 1s;
			}
			&_close {
				position: absolute;
				top: 0; left: 0;
				width: 100%;
				text-align: center;
				opacity: 0;
			}
		}
		&:after {
			content: "";
			position: absolute;
			width: 30px; height: 10px;
			@include Mix_Sale_Bg;
			margin: 0 auto;
			background-position: -202px -27px;
			transform: translate(0, 23px);
			transition: transform 1s;
		}
	}
	&.open {height: 569px;
		&:before {opacity: 0;}
		&:after {opacity: 1;}
		.graph {opacity: 1;}
		.btn button .str {transform: translateY(16px);}
		.btn button .str_open {opacity: 0;}
		.btn button .str_close {opacity: 1;}
		.btn button:after {transform: translate(0, 0) rotate(-180deg);}
	}
	~ .sale_car02 {
		padding-top: 13px;
		position: static;
		opacity: 1;
		transform: translateY(0);
	}
}

.step31_drive .entry .btn_area {
	display: none;
}
.step31_drive .isVal .btn_area,
.step31_drive .delete_on .btn_area {
	display: block;
}

#CPOwrap #CPOcontents > div.step3_box { padding-bottom: 0; }

.step3_box {
	@include Pos($p: fixed, $t: 50px, $r: 0, $b: 0, $l: 0);
	display: flex;
	flex-direction: column;
	&.finish {
		position: static;
	}
	.select_box_wrap {
		display: flex;
		align-items: flex-start;
		transition: height .3s;
	}
	.inner_box {
		width: 100vw; height: auto;
		padding-top: 40px;
		flex-shrink: 0;
	}
	.top02 {
		opacity: 0;
		transition: opacity .5s;
	}
	.show .top02 {
		opacity: 1;
	}
	.step31_drive .top02 {transition: opacity .5s;} 
	.entry,
	.entry_carmore_options,
	.navi {
		transform: translateY(20px);
		opacity: 0;
		transition: opacity .5s, transform .5s;
	}
	.show .entry,
	.show .entry_carmore_options,
	.show .navi {
		transform: translateY(0);
		opacity: 1;
	}
	.step31_drive .entry,
	.step31_drive .entry_carmore_options,
	.step31_drive .navi {
		transition: opacity .5s, transform .5s;
	}
	.step_com {
		> .top{
			padding:0 0 40px;
			opacity: 0;
			transition: opacity .5s;
			&::before{
				content:'';
				display:block;
				width:49px;
				height:49px;
				margin:0 auto 20px;
				@include Mix_Form_Bg;
				background-position:-136px -90px;
			}
			> .tit{
				color:$COL_Black;
				@include Mix_Font('Head-M', 30, 38);
				text-align:center;
			}
			> .txt{
				margin-top:10px;
				color:$COL_Base_03;
				@include Mix_Font('Txt-R', 15, 18);
				text-align:center;
			}
		}
	}
	&.finish .step_com {
		> .top {
			opacity: 1;
		}
	}
	.sale_carinfo{
		min-height: 0;
		display: flex;
		align-items: flex-end;
		flex: 1;
		margin: 0 21px 20px;
		overflow: hidden;
		&.isAnimate .mycar_infobox {
			overflow: visible;
			&__inner {
				@include Pos($p: absolute, $b: 0, $r: 0, $l: 0);
			}
		}
		.mycar_infobox{
			position: relative;
			width: 100%;
			max-height: 100%;
			overflow: auto;
			&__inner {
				height: 0;
				overflow: hidden;
				transition: height .5s;
			}
			li{
				display:flex;
				padding: 8px 0;
				> .tit{
					margin-right: 20px;
					color:$COL_Base_02;
					@include Mix_Font('Txt-R', 14, 18);
					white-space: nowrap;
				}
				> .txt{
					margin-left: auto;
					@include Mix_Font('Txt-M', 14, 18);
					text-align:right;
					color: $COL_Base_03;
					[class^="btn_"]{
						margin-left: 6px;
						@include Mix_Font_Txt_R;
						vertical-align: 1px;
					}
				}
			}
		}
	}

	&.finish .sale_carinfo {
		> .top {opacity: 1;}
		.mycar_infobox {
			position: static;
			padding: 0 0 60px;
		}
		.mycar_infobox li {
			padding: 13px 0 12px;
			.tit, .txt {line-height: 21px;}
			border-bottom:1px solid rgba($COL_Hyundai_Sand, .4);
		}
	}

	.btn_add_picture {
		@include Pos($p: fixed, $b: 0, $r: 0, $l: 0);
		transform: translateY(100%);
		transition: transform .5s;
	}
	&.finish .btn_add_picture {
		transform: translateY(0);
	}
}

.entry_carbase{
	padding: 0 21px;
	.top02{
		position: relative;
		z-index: 2;
		p.tit{
			display:block;
			color:$COL_Black;
			@include Mix_Font('Head-M', 30, 38);
			transition: all .5s;
		}
		> .txt{
			margin:10px 0 -27px;
			color:$COL_Base_01;
			@include Mix_Font('Head-R', 14, 18);
			.cpo_tooltip {
				margin: 0;
				vertical-align: 1px;
			}
		}
	}
	&.yes .top02 p.tit {
		@include Mix_Font('Head-M', 22, 28);
	}
	.entry{
		position:relative;
		margin:40px 0 20px;
		border:0;
		padding:0;
		.txt {
			width: 100%;
			padding:0 2px 6px;
			background:transparent;
			border:0;
			outline:0;
			caret-color:rgba($COL_Primary, .5);
			color:$COL_Primary;
			@include Mix_Font('Head-M', 40, 50);
			&::placeholder{
				color: $COL_Line_Dark;
				line-height:inherit;
			}
		}
		&:after {
			content:"";
			position: absolute;
			left: 50%; bottom: 0;
			width: 100%; height: 3px;
			transform: translateX(-50%);
			background: $COL_Primary;
		}
		.btn_delete {
			margin-bottom: 14px;
		}
		.btn_area{
			position: absolute;
			top: 0; right: 40px;
			.btn_ok01 {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px; height: 36px;
				border-radius: 50%;
				background: $COL_Primary;
				font-size: 0;
				&:after {
					content:"";
					display: inline-block;
					width: 12px; height: 12px;
					@include Mix_Sale_Bg;
					background-position: -195px -45px;
				}
			}
		}
		.unit {
			margin: 0 0 13px 66px;
			@include Mix_Font('Head-M', 20, 25);
			color: $COL_Primary;
		}
	}
	.navi{
		li{
			margin-bottom:12px;
		}
	}
	.sale_modify .step32_edit &{
		padding:0 21px;
		height:auto;
		.top02{
			margin-bottom:35px;
		}
		> .entry{
			position: sticky;
			top: 0;
			left: 0;
			z-index: 3;
			width:100%;
			margin:0 0 10px;
			> ol{
				display:flex;
				flex-wrap:wrap;
				column-gap:9px;
				align-items:center;
			}
			li{
				width:calc(1/3*100% - (1 - 1/3)*9px);
				text-align:center;
			}
			.chk_type07 + label{
				padding:34px 0 0;
				&::before{
					top:0;
					left:50%;
					transform:translate(-50%, 0);
				}
				&::after{
					bottom:-10px;
				}
			}
		}
	}
}

.entry_carmore_options {
	margin: 48px 0 20px;
	li {
		position: relative;
		.chk_type07 ~ label {
			padding: 15px 0 16px;
			@include Mix_Font('Txt-M', 15, 23);
			color: $COL_Black;
		}
		.chk_type07 ~ label:after	{
			content: "";
			position: absolute;
			bottom: 0; right: 0; left: 0;
			border-bottom: 1px solid rgba($COL_Hyundai_Sand, .4);
		}
		.chk_type07:checked ~ label {
			color: $COL_Primary;
			@include Mix_Font('Txt-B', 15, 23);
		}
		.chk_type07:checked ~ label:after {
			border-bottom: 3px solid $COL_Primary;
		}
		.chk_type07:checked ~ .box_textarea {
			margin-top: -54px;
			padding-top: 51px;
			height: 176px;
			.sale_modify & {
				margin-top: -3px;
				padding: 0;
				height: 128px;
			}
		}
		.chk_type07:checked ~ .box_input {
			margin-top: -54px;
			padding-top: 51px;
			height: 110px;
			.sale_modify & {
				margin-top: -3px;
				padding: 0;
				height: 59px;
			}
		}
		.box_textarea .btn_next,
		.box_input .btn_next {
			display: none;
			@include Pos($p: absolute, $t: 15px, $r: 0);
			width: 52px; height: 22px;
			padding: 0 19px 0 10px;
			background: $COL_Primary;
			color: $COL_White;
			border-radius: 22px;
			@include Mix_Font('Head-R', 13, 16);
			&:after {
				content: "";
				display: inline-block;
				@include Icon_Arr_Right(1.5, 'fff', 6px, 10px);
				@include Pos($p: absolute, $t: 50%, $r: 10px);
				transform: translateY(-50%);
			}
		}
		.box_textarea {
			position: relative;
			z-index: 3;
			height: 0;
			overflow: hidden;
			transition: all .3s;
			.textarea {
				background: $COL_Light_Sand;
				.sale_modify & {
					background: #fff;
				}
				&.on ~ .btn_next {
					display: block;
				}
			}
			textarea {
				caret-color: rgba(0, 44, 95, .4);
				background: none;
			}
			.on {
				padding: 15px 20px 40px;
			}
		}
		.textarea {
			height: 125px;
			background: none;
			border-color: $COL_Primary;
			border-radius: 0;
			&.focus {
				padding-top: 15px;
			}
			textarea::placeholder{
				color: $COL_Base_01;
			}
		}
		.box_input {
			position: relative;
			z-index: 3;
			height: 0;
			overflow: hidden;
			transition: all .3s;
			.inbox_type01 {
				width: auto;
				min-height: 54px;
				margin: 0;
				padding: 0;
				background: $COL_Light_Sand;
				border: 1px solid $COL_Primary !important;
				z-index: 1;
				&.delete_on ~ .btn_next {
					display: block;
				}
				.sale_modify & {
					background: #fff;
				}
			}
			.inbox_type01 .txt {
				display: block;
				height: 54px;
				padding: 15px 46px 15px 20px;
				opacity: 1;
				caret-color: rgba(#002c5f, .5);
			}
			.inbox_type01.on .txt {
				padding-top: 15px;
			}
			.inbox_type01 .btn_delete {top: 18px;}
		}
	}
}

.car_modify{
	> .top{
		position:sticky;
		top:-1px;
		left:0;
		z-index:3;
		width:100%;
		height:57px;
		background:$COL_White;
		padding:26px 21px 0;
		.info{
			float:left;
			padding:3px 0 0 0;
			color:$COL_Base_01;
			@include Mix_Font('Head-R', 13, 17);
			&::before{
				content:'';
				display:inline-block;
				width:14px;
				height:11px;
				@include Mix_Form_Bg;
				background-position:-21px -131px;
				vertical-align:middle;
				margin:0 5px 0 0 ;
			}
		}
		.btn_reset01 {
			position: absolute;
			top: 25px; right: 21px;
			width: auto;
			text-decoration: underline;
			&:after {display: none;}
		}
	}

	.car_area{
		display:block; 
		padding:0 21px;
		dt{
			color:$COL_Base_03;
			> span{
				display:block;
			}
			.txt{
				margin-top: 4px;
				@include Mix_Font('Txt-R', 14, 21);
			}
			.txt2 {
				@include Mix_Font('Txt-R', 12, 18);
				color: $COL_Base_02;
			}
			~ dt {
				margin-top: 30px;
				padding-top: 40px;
				border-top:1px solid $COL_Line_Medium;
			}
		}
		dd{
			margin-top: 30px;
			.carimg_box{//여백 있음 안됨
				position:relative;
				z-index:2;
				&.up{
					[class^=btn_area]{
						width:10.5%;
						height:8.5%;
					}
				}
				&.down{
					[class^=btn_area]{
						width:5.5%;
						height:5.5%;
					}
				}
				.carimg{
					width:100%;
					img{
						width:100%;
					}
				}
			}
			.carimg_info{
				padding:20px 0 0;
				text-align:center;
				span{
					display:inline-block;
					margin:0 20px;
					@include Mix_Icon_Car_Edit(inline-block);
				}
			}
			[class^=btn_area]{
				position:absolute;
				border-radius:100%;
				width:10%;
				height:8%;
				@include Mix_Size_0;
				@include Mix_Icon_Car_Edit(block);
			}
			// 외판 중앙
			.btn_area001{top:0;		left:44.9%;}
			.btn_area002{top:8.9%;	left:44.9%;}
			.btn_area003{top:19.2%;	left:44.9%;}
			.btn_area004{top:81%;	left:45.1%;}
			.btn_area005{top:91.8%;	left:44.8%;}
			// 외판 좌측
			.btn_area006{top:14.7%;	left:11%;}
			.btn_area007{top:39.3%;	left:8.9%;}
			.btn_area008{top:56.3%;	left:8.9%;}
			// 외판 우측
			.btn_area009{top:14.7%;	left:78.8%;}
			.btn_area010{top:39.3%;	left:80.8%;}
			.btn_area011{top:56.3%;	left:80.8%;}
	
			// 골격 중앙
			.btn_area201{top:14%;		left:35%;}
			.btn_area202{top:25.6%;		left:34.8%;}
			.btn_area203{top:20%;		left:41%;}
			.btn_area204{top:14%;		left:59%;}
			.btn_area205{top:25.5%;		left:59%;}
			.btn_area206{top:20%;		left:53%;}
			.btn_area207{top:33.6%;		left:47.3%;}
			.btn_area208{top:52.9%;		left:47.3%;}
			.btn_area209{top:78.8%;		left:47.2%;}
			.btn_area210{top:89.1%;		left:47.3%;}
	
			// 골격 하단
			.btn_area211{top:72%;		left:33.1%;}
			.btn_area212{top:81.5%;		left:34.5%;}
			.btn_area213{top:72%;		left:61.4%;}
			.btn_area214{top:81%;		left:60%;}
	
			// 골격 좌측
			.btn_area215{top:46%;		left:4%;}
			.btn_area216{top:38%;		left:25%;}
			.btn_area217{top:51.9%;		left:23.4%;}
			.btn_area218{top:63.3%;		left:26.9%;}
			.btn_area219{top:84.3%;		left:16.3%;}
	
			// 골격 우측
			.btn_area220{top:46%;		left:90.5%;}
			.btn_area221{top:38%;		left:69%;}
			.btn_area222{top:51.9%;		left:71.4%;}
			.btn_area223{top:63.3%;		left:67.6%;}
			.btn_area224{top:84.3%;		left:78.3%;}
		}
	}

	.layer_caredit{
		position:fixed;
		left:50%;
		top:50%;
		z-index:10;
		transform:translate(-50%, -70%);
		width:230px;
		padding:14px 18px 18px;
		background:$COL_White;
		border:1px solid $COL_Line_Dark;
		display:none;
		> .tit{
			margin-bottom:10px;
			color:$COL_Black;
			@include Mix_Font('Head-M', 13, 17);
			text-align:center;
		}
		.inner{
			display:flex;
			flex-wrap:wrap;
			row-gap:9px;
			align-items:center;
			justify-content:space-between;
			label{
				width:calc(1/2*100% - (1 - 1/2)*5px);
			}
		}
		.chk_type08{
			&+label{
				position:relative;
				display:inline-block;
				padding:11px 0 9px;
				background:$COL_White;
				border:1px solid $COL_Line_Dark;
				color:$COL_Base_03;
				@include Mix_Font('Txt-M', 14, 18);
				text-align:center;
				&:before{
					content:'';
					display:inline-block;
					width:18px;
					height:18px;
					border-radius:100%;
					margin:0 5px 2px 0;
					@include Mix_Form_Bg;
					background-position:0 -125px;
					vertical-align:middle;
				}
			}
			&.icon_x{
				&+label{
					&::before{
						background-position:0 -148px;
					}
				}
				&:checked+label{
					border:1px solid $COL_Line_Dark;
				}
			}
			&:checked+label{
				border:1px solid $COL_Line_Dark;
			}
		}
	}
}

.scratch_info {
	padding: 5px 15px 0;
	.swiperType01 {
		padding: 0 0 20px;
		overflow: hidden;
	}
	.swiper-slide .txt {
		margin-top: 15px;
		text-align: center;
		@include Mix_Font('Txt-R', 13, 20);
		color: $COL_Base_03;
	}
	.swiper-pagination {
		@include Pos($p: absolute, $r: 0, $b: 0, $l: 0);
	}
	&_box {
		padding: 20px;
		background: $COL_Light;
		.tit {
			margin: 0 0 10px;
			@include Mix_Font('Head-R', 15, 19);
			color: $COL_Base_03;
		}
		.caution ul {
			display: flex;
			flex-wrap: wrap;
			padding-top: 15px;
			border-top: 1px solid $COL_Line_Dark;
			li {
				width: 50%;
				margin: 2px 0 0;
			}
		}
		.ex {
			margin-top: 15px;
			@include Mix_Font('Txt-R', 12, 18);
			color: $COL_Base_01;
		}
	}
}

.shipping_option_wrap {
	padding: 6px 25px 0;
	.txt {
		color:$COL_Base_03;
		@include Mix_Font('Txt-R', 14, 21);
	}
	.option_list {
		margin-top:25px;
		color: $COL_Base_03;
		@include Mix_Font('Txt-R', 13, 20);
	}
	dt {
		margin-top: 14px;
		@include Mix_Font('Txt-B', 14, 21);
		&:first-child{
			margin-top: 0;
		}
	}
	dd {
		margin-top: 4px;
	}
}

.sale_photo{
	padding: 0 21px 90px;
	~ .btn_sticky {
		transform: translateY(200%);
	}
	&.state_reg_com ~ .btn_sticky {transform: translateY(0);}
	> .top{
		padding:60px 0 32px;
		.tit{
			display: block;
			color:$COL_Black;
			@include Mix_Font('Head-B', 30, 38);
		}
		.btn_combi01_01{
			margin-top:10px;
		}
	}
	> .innerbox_02{//(2). 추가 등록 사진
		margin-top: 50px;
		.tit{
			color:$COL_Black;
			@include Mix_Font('Head-M', 15, 18);
		}
		p.txt{
			margin:4px 0 15px;
			color:$COL_Base_01;
			@include Mix_Font('Head-R', 12, 15);
		}
		.addphoto_list dl dt .file_morephoto[type=file] + label {
			background: rgba(228, 220, 211, 0.2);
			border-color: $COL_Line_Dark;
		}
		.addphoto_list dl dt .file_morephoto[type=file] + label .span.t01 {
			font-size: 13px;
		}
	}
}

.car_reg_picture {
	> .p_wrap {
		padding-bottom: 35px;
	}
	.car_sample2 {margin-bottom: 0;}
}

.sale_confirm{
	padding-top: 40px;
	> .top{
		position:relative;
		padding:0 21px 15px;
		> .btn_txt_mid02{
			position:absolute;
			top:0;
			right:35px;
		}
	}
	> .inner{
		margin:0 15px; 
		@include Mix_Box(25px 20px)
	}
	.car_info{// 차량 정보
		> dt{
			&:not(:first-of-type){
				margin-top:25px;
			}
			position:relative;
			@include Mix_Font('Head-M', 16, 20);
			> .btn_txt_mid02 {
				position:absolute;
				top:0;
				right:0;
			}
		}
		> dd{
			&:not(:last-of-type){
				padding:0 0 25px;
				border-bottom:1px solid $COL_Line_Light;
			}
			margin-top:8px;
			color:$COL_Base_03;
			@include Mix_Font('Txt-R', 14, 21);
			.list{
				li{
					&:not(:last-of-type){
						margin-bottom:8px;
					}
				}
			}
			.tit{
				display: block;
				margin-bottom:4px;
				color:$COL_Base_03;
				@include Mix_Font('Txt-B', 14, 21);
			}
			.bull{
				display:block;
				position:relative;
				z-index:1;
				padding:0 0 0 8px;
				&::before{
					content:'';
					display:block;
					width:2px;
					height:2px;
					position:absolute;
					top:8px;
					left:0;
					background:$COL_Base_03;
				}
			}
		}
	}
	.car_photo{// 차량사진
		display:flex;
		flex-wrap:wrap;
		row-gap:9px;
		column-gap:10px;
		align-items:center;
		li{
			position:relative;
			overflow:hidden;
			width:calc(1/2*100% - (1 - 1/2)*10px);
			.img{
				display:block;
				width:100%;
				height:calc(50vw - 40px);
				overflow:hidden;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			.txt{
				display:inline-block;
				position:absolute;
				left:0;
				bottom:-1px;
				z-index:5;
				background:rgba($COL_Black, 0.7);
				transform:translateY(0);
				padding:6px 7px;
				color:$COL_White;
				@include Mix_Font('Txt-R', 11, 14);
			}
		}
	}
}
.sale_confirm2{
	padding:40px 35px 30px;
	background:$COL_White;
	> p.tit{
		margin-bottom:10px;
		color:$COL_Black;
		@include Mix_Font('Head-M', 24, 30);
	}
	> .txt{
		margin-bottom:40px;
		color:$COL_Base_03;
		@include Mix_Font('Txt-R', 14, 21);
	}
	> dl{
		margin-bottom:10px;
		position:relative;
		border-bottom:2px solid $COL_Primary;
		dt{
			width:100px;
			position:absolute;
			top:8px;
			right:0;
			img{
				width:100%;
			}
		}
		dd{
			> span{
				display:block;
				&.name{
					margin-bottom:2px;
					color:$COL_Black;
					@include Mix_Font('Txt-M', 15, 23);
				}
				&.number{
					margin-bottom:10px;
					color:$COL_Secondary;
					@include Mix_Font('Head-M', 30, 38);
				}
			}
		}
	}
	> .list{
		li{
			&:not(:last-of-type){
				border-bottom:solid 1px $COL_Line_Light;
			}
			display:flex;
			padding:10px 0;
 			.tit{
				color:$COL_Base_03;
				@include Mix_Font('Txt-R', 14, 21);
			}
			.txt{
				flex:1;
				color:$COL_Black;
				@include Mix_Font('Txt-M', 14, 21);
				text-align:right; 
			}
		}
	}
}
.sale_confirm_info {
	margin-top:-10px;
}

.sale_confirm3{
	> .inner01{
		margin:41px 0 40px;
		word-break:keep-all;
		&::before{
			content:'';
			display:block;
			width:49px;
			height:49px;
			margin:0 auto 15px;
			@include Mix_Form_Bg;
			background-position:-136px -90px;
		}
		> .tit{
			color:$COL_Black;
			@include Mix_Font('Head-R', 26, 32);
			text-align:center;
		}
		> .txt{
			margin-top:10px;
			color:$COL_Base_03;
			@include Mix_Font('Txt-R', 14, 21);
			text-align:center;
		}
	}
	> .inner02{
		margin:0 15px 15px;
		@include Mix_Box(15px 20px);
	}
	> .inner03{
		margin:0 15px 15px;
		@include Mix_Box(25px 20px);
		> .txt01{
			margin-bottom:6px;
			color:$COL_Black;
			@include Mix_Font('Head-M', 16, 20);
			> span{
				color:$COL_Secondary;
			}
		}
		> .txt04 {
			margin-bottom:6px;
			color: $COL_Base_03;
			@include Mix_Font('Head-M', 16, 20);
		}
		> .txt02{
			margin-bottom:18px;
			color:$COL_Base_02;
			@include Mix_Font('Txt-R', 13, 20);
			word-break:keep-all;
		}
		> .txt03{
			> .btn_txt06{
				color:$COL_Base_03;
				&::before{
					display:none;
				}
				&::after{
					background-position:-47px 0;
				}
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.lyer_prevowner {
	.chk_type05{
		&+label{
			display: block;
			padding:11px 0;
			border:1px solid $COL_Line_Dark;
			background:$COL_White;
			color:$COL_Base_01;
			@include Mix_Font('Head-R', 15, 24);
			text-align:center;
		}
		&:checked+label{
			color:$COL_Secondary;
			border:1px solid $COL_Secondary;
		}
	}
	&_header {
		position: relative;
		padding: 25px 21px 0;
		&:after {
			margin: 30px -21px 0;;
			content: "";
			display: block;
			height: 10px;
			background: $COL_Light;
			border: {
				width: 1px 0;
				style: solid;
				color: #f2f2f2;
			}
		}
		.txt1 {
			@include Mix_Font('Head-R', 26, 33);
			color: $COL_Black;
		}
		.txt2 {
			margin-top: 10px;
			@include Mix_Font('Txt-R', 15, 23);
			color: $COL_Base_03;
		}
		.txt3 {
			margin-top: 12px;
			@include Mix_Font('Txt-R', 13, 20);
			color: $COL_Base_01;
		}
	}
	.box_car_info {
		padding: 25px 21px;
		border-bottom: 1px solid $COL_Line_Medium;
		.title {
			display: block;
			padding-bottom: 20px;
			color:$COL_Black;
			@include Mix_Font('Head-M', 16, 20);
		}
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}
}

.repair_parts_sel .entry_carmore_options_type2 {
	display: flex;
	margin: 30px -4.5px 0;
	li {
		width: 33.33%;
		border: 0;
		padding: 0 4.5px;
		text-align: center;
	}
	.chk_type07 ~ label {
		padding: 0 0 10px;
	}
	.chk_type07 ~ label:before {
		position: static;
		display: block;
		margin: 0 auto 11px;
	}
}
.repair_parts_sel .type_mode_item,
.repair_parts_sel ~ .btn_sticky .type_mode_item {
	display: none;
	.typeMode & {
		display: block;
		.top02{
			p.tit{
				@include Mix_Font('Head-M', 22, 28);
			}
		}
	}
}
.repair_parts_sel ~ .btn_sticky .sel_com {
	.typeMode & {display: none;}
}

.sale_modify{
	.entry_carbase{
		padding:25px 21px 0;
	}
	.top02{
		p.tit{
			@include Mix_Font('Head-M', 22, 28);
		}
		.txt{
			display:none;
		}
	}
	.entry {
		margin-top: 30px;
	}
	.entry .unit {margin-left: 10px;}
	.entry_carmore_options {
		margin: 15px 0 0;
		li .chk_type07 ~ label:after {border-color: $COL_Line_Medium;}
		li .chk_type07:checked ~ label:after {border-color: $COL_Primary;}
		li .box_input, 
		li .box_textarea {background: $COL_White;}
	}
	.btn_sticky {
		margin-top: 40px;
	}
	.sale_photo {padding: 0 21px;}
	.sale_photo > .top {
		padding-top: 25px;
	}
	.sale_photo > .top .tit {
		@include Mix_Font('Head-M', 22, 28);
	}
	.sale_photo ~ .btn_sticky {transform: none;}
}



/* 보험 이력 안내 팝업 */
.insurance_history_wrap {
	padding: 52px 15px 30px;
	background-color: $COL_Light;
	color: $COL_Base_03;
	.insurance_summary {
		padding: 0 6px;
		strong {
			display: block;
			@include Mix_Font('Head-M', 18, 22);
			color: $COL_Black;
			i {
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: $COL_Blue;
				}
			}
		}
		p {
			margin-top: 10px;
		}
	}
	.insurance_history_list {
		margin-top: 30px;
		padding: 0 20px;
		background-color: $COL_White;
		strong {
			display: block;
			padding: 20px 0 16px;
			@include Mix_Font('Head-M', 16, 20);
			border-bottom: 1px solid $COL_Line_Medium;
		}
		ul {
			padding: 16px 0 20px;
		}
		li {
			overflow: hidden;
			margin-top: 8px;
			color: $COL_Base_03;
			.date {
				float: left;
				@include Mix_Font('Head-M', 14, 21);
			}
			.price {
				float: right;
				@include Mix_Font('Txt-R', 13, 20);
			}
			&:first-child{
				margin-top: 0;
			}
		}
	}	
}

// 트레이드인
.tradein_intro {
	padding: 40px 15px 0;
	.tit_area {
		padding: 0 6px 40px;
		.tit {
			@include Mix_Font('Head-R', 26, 33);
			margin-bottom:20px;
		}
		.navi li + li {
			margin-top: 12px;
		}
	}
	.intro_img {
		width: 100%;
		padding-bottom: 15px;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.tradein_box {
	@include Mix_Box(30px 20px);
	.title {
		margin-bottom: 20px;
		@include Mix_Font('Head-M', 16, 20);
		color: $COL_Base_03;
	}
	& + .inbox {
		margin-top: 15px;
	}
}

.tradein_guide {
	padding: 10px 21px 0;
	.txt {
		color: $COL_Base_03;
	}
	.caution {
		margin-top: 20px;
	}
}

.tradein_plan {
	.tit_area {
		padding: 25px 21px 30px;
		.page_tit {
			@include Mix_Font('Head-R', 26, 33);
			margin-bottom: 10px;
		}
		.sub_txt {
			@include Mix_Font('Txt-R', 15, 23);
			color: $COL_Base_03;
		}
	}
	.taste_box {
		position: relative;
		padding-top: 10px;
		&::before {
			@include Mix_Space_Bar;
		}
		.group {
			padding: 25px 21px;
			& + .group {
				border-top: 1px solid $COL_Line_Medium;
			}
			&:last-child {
				padding-bottom: 0;
			}
		}
		.group_tit {
			@include Mix_Font('Head-M', 16, 20);
			padding-bottom: 5px;
			> span {
				@include Mix_Font_Head_R;
			}
			& + .incont {
				margin-top: 20px;
			}
		}
		.group_detail {
			margin-top: 25px;
			.tit_btn {
				position:relative;
				margin-bottom: 25px;
				height: 20px;
				display: flex;
				.tit{
					display:inline-block;
					color:$COL_Black;
					@include Mix_Font('Head-M', 16, 20);
				}
				span.check {
					display: inline-block;
					margin-left:11px;
					margin-right: 20px;
					flex: 1 1;
					color:$COL_Base_02;
					@include Mix_Font('Txt-R', 13, 20);
					@include Mix_Ellipsis01;
					vertical-align:middle;
				}
			}
			.incont {
				position: relative;
				display: none;
				overflow:hidden;
				.btn_more{
					margin-top: 20px;
					&::after {
						transform: rotate(0)
					}
				}
				li:nth-child(n+7) {
					display: none;
				}
				&.on {
					li {
						display: block;
					}
					.btn_more::after{
						transform: rotate(-180deg)
					}
				}
			}
			&.on .incont {
				display: block;
			}
		}
	}
	#planBox02 {
		display: none;
	}
}

.tradein_contract {
	> .top_area {
		padding:40px 21px 0;
		.tit {
			@include Mix_Font('Head-R', 26, 33);
		}
		.sub_txt {
			margin: 10px 0;
			@include Mix_Font('Txt-R', 15, 23);
		}
	}	
}
.my_contract {
	 padding: 30px 15px 0;
	.inbox {
		padding: 25px 20px;
		background-color: $COL_White;
		& + .inbox {
			border-top: 1px solid $COL_Line_Medium;
		}
		.caution + .btn_arrow_mid01 {
			margin: 18px 0 0;
		}
		.btn_arrow_mid01 ~ .btn_arrow_mid01 {margin-top: 12px;}
	}
	.top_area {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
		.num {
			@include Mix_Font('Head-R', 14, 18);
			color: $COL_Base_02;
			padding-left: 10px
		}
		.flag {
			padding: 2px 6px;
			border: 1px solid #ddd;
			@include Mix_Font('Head-R', 12, 15);
			color: $COL_Base_02;
		}
		label {
			@include Mix_Ellipsis01;
			.num::before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 12px;
				background-color: $COL_Line_Dark;
				margin-right: 10px;
				vertical-align: -1px;
			}
		}
	}
	.tit {
		@include Mix_Font('Head-M', 15, 19);
		margin-bottom: 10px;
	}
	.detail {
		@include Mix_Font('Txt-R', 13, 20);
		color: $COL_Base_02;
		margin-bottom: 10px;
		p + p {margin-top: 2px}
	}
	.price {
		display: flex;
		align-items: center;
		dt {
			margin-right: 4px;
			@include Mix_Font('Txt-R', 13, 20);
		}
		dd em {
			vertical-align: -1px;
			@include Mix_Font('Head-M', 16, 20);
		}
	}
	.desc {
		margin-top: 20px;
		background-color: $COL_Light;
		padding: 10px 0;
		text-align: center;
		@include Mix_Font('Txt-M', 12, 18);
		color: $COL_Blue;
	}
}
.contract_info {
	margin: 0 0 15px;
	padding: 30px 20px;
	background: #fff;
	.no_data {
		padding: 0;
		@include Mix_Font('Txt-M', 16, 24);
	}
	.btn {
		margin: 20px 35px 0;
	}
}

.tradein_status {
	.greeting {
		@include Mix_Font('Head-M', 24, 30);
		color: $COL_Base_03;
		padding: 40px 21px;
		text-align: center;
	}
	.order_step {
		text-align: center;
		margin-bottom:15px;
		padding: 0 21px;
		.seq{
			display:flex;
			position:relative;
			margin-bottom:40px;
			&::after{
				content:"";
				position:absolute;
				left:12%;
				bottom:8px;
				width:75.6%;
				height:1px;
				background-color:$COL_Line_Dark;
			}
			&.lg::after{
				width:80%;
			}
			span{
				flex: 1;
				position: relative;
				z-index:2;
				height:53px;
				color:$COL_Base_02;
				@include Mix_Font('Head-R', 13, 16);
				&::after{
					content:'';
					display:block;
					width:5px;
					height:5px;
					margin:10px auto 0;
					background-color:$COL_Line_Dark;
					border-radius:100%;
				}
				&.on{
					&::before{
						content:"";
						display:block;
						position:absolute;
						left:52%;
						bottom:8px;
						z-index:-1;
						width:97%;
						height:1px;
						background-color: $COL_Secondary;
					}
					&::after{
						width:17px;
						height:17px;
						margin:3px auto 0;
						@include Mix_Order_Bg(0 -35px);
					}
				}
				&.now{
					color:$COL_Base_03;
					@include Mix_Font_Head_M;
					&::after{
						width:10px;
						height:10px;
						margin:6.5px auto 0;
						background: $COL_White;
						border:solid 2px $COL_Secondary;
						border-radius:100%;
					}
				}
				&:last-child {
					&::before {
						display: none;
					}
				}
			}
		}
		.step_info {
			.txt1 {
				@include Mix_Font('Txt-R', 15, 23);
				color: $COL_Base_03;
				margin-bottom: 15px;
			}
		}
	}
	.btm_area {
		padding-right: 15px;
		margin-top: 30px;
		text-align: right;
	}
}

.visiting_main {
	.top_area {
		margin-top: 30px;
		padding: 100px 15px 0;
		background: url('../img/bg_visiting.png') no-repeat 50% 0 / 80px;
		text-align: center;
		.tit {
			@include Mix_Font('Head-M', 24, 30);
		}
		.date {
			margin-top: 15px;
			@include Mix_Font('Head-M', 26, 33);
			color: #00AAD2;
		}
		.sub_txt {
			margin: 5px 30px 0;
			@include Mix_Font('Txt-R', 13, 20);
			color: #666666;
		}
	}
	.unit_type {
		margin: 15px 15px 0;
		padding: 20px;
		background: #fff;
		.mid_area .unit_img {
			width: 100px; height: 100px;
		}
	}
	.sale_confirm3 {
		margin-top: 15px;
	}
	.btn_mid05 {
		margin-top: 30px;
	}
}

.visiting_form {
	padding: 25px 15px 0;
	.sec_tit {
		margin: 0 6px 15px;
	}
	.caution {
		margin: 20px 6px 0;
	}
	section ~ section {
		margin-top: 42px;
	}
}