@charset "UTF-8";
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/**
	replace 함수
*/
.service_title {
  margin-bottom: 30px;
  font-family: "HynSans_Head-R";
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  word-break: keep-all;
}
.service_title .title_sub {
  margin-top: 12px;
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 22px;
}

.section_title {
  margin: 0 0 15px 6px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
}

.service_visual {
  position: sticky;
  top: 50px;
  z-index: -1;
}
.service_visual img {
  display: block;
  width: 100%;
}
.service_visual .visual_title {
  position: absolute;
  left: 21px;
  top: 40px;
  color: #fff;
  font-family: "HynSans_Head-M";
  font-size: 24px;
  line-height: 30px;
}
.service_visual .visual_dim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
}

.service_guide .service_visual {
  top: 101px;
}
.service_guide .group_service {
  background: #fff;
}
.service_guide .group_service > div:first-of-type {
  padding-top: 40px;
}
.service_guide .tab_list {
  z-index: 10;
  position: sticky;
  top: 50px;
}

.service_content {
  background: #fff;
}
.service_content > div:not(.tab):first-of-type {
  padding-top: 40px;
}
.service_content .tab_list {
  z-index: 2;
  position: sticky;
  top: 50px;
}

.service_partner {
  margin-top: 60px;
  padding: 0 15px;
}
.service_partner .section_title {
  margin-bottom: 0;
}
.service_partner ul {
  display: flex;
  flex-wrap: wrap;
}
.service_partner ul li {
  flex: 0 0 33.33%;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.service_partner ul li .img {
  width: 48px;
}
.service_partner ul li .img img {
  display: block;
  width: 100%;
}
.service_partner ul li .txt {
  margin-top: 10px;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}

.service_my {
  padding: 40px 0 60px;
  background: #F7F7F7;
}
.service_my:not(:first-of-type) {
  padding-top: 0;
}
.service_my .title {
  padding: 0 15px;
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
.service_my .title .sub {
  margin-top: 12px;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 22px;
}
.service_my .img {
  width: 100%;
  margin-top: 30px;
}
.service_my .img img {
  display: block;
  width: 100%;
}
.service_my .group_wrap {
  padding: 0 15px;
}
.service_my .group {
  margin-top: 20px;
}
.service_my .group:not(:first-of-type) {
  margin-top: 40px;
}
.service_my .group .title {
  margin: 0 0 15px 6px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}
.service_my .group .list {
  padding: 0 20px;
  background: #fff;
}
.service_my .group .list li {
  padding: 25px 0;
}
.service_my .group .list li:not(:first-of-type) {
  border-top: 1px solid #F6F6F6;
}
.service_my .group .list li .tit {
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
}
.service_my .group .list li .txt {
  display: block;
  margin-top: 8px;
  color: #333333;
}
.service_my.genesis .group li:not(:first-of-type) {
  margin-top: 30px;
}

.service_studio {
  padding: 60px 21px 0;
}
.service_studio .cont_studio .img {
  width: 100%;
  margin-top: 20px;
}
.service_studio .cont_studio .img img {
  display: block;
  width: 100%;
}
.service_studio .cont_studio .slide_showroom {
  margin-top: 20px;
}
.service_studio .cont_studio .txt {
  margin-top: 20px;
  color: #333333;
}
.service_studio .cont_studio .btn_area {
  margin-top: 25px;
}
.service_studio .cont_studio .btn_area .btn_mid02:not(:first-of-type) {
  margin-top: 10px;
}

.service_list {
  padding: 40px 21px;
  background: #F7F7F7;
}
.service_list .title {
  margin-bottom: 40px;
}
.service_list .list_icon {
  padding-top: 10px;
}
.service_list .list_icon li {
  text-align: center;
}
.service_list .list_icon li:not(:first-of-type) {
  margin-top: 40px;
}
.service_list .list_icon .img {
  width: 110px;
  margin: 0 auto 20px;
}
.service_list .list_icon .img img {
  display: block;
  width: 100%;
}
.service_list .list_icon .info .tit {
  display: block;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 25px;
}
.service_list .list_icon .info .txt {
  display: block;
  margin-top: 12px;
  color: #666666;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 22px;
}
.service_list .list_icon .info .tit02 {
  display: block;
  margin-top: 15px;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.service_list.half {
  padding-bottom: 0;
}
.service_list.half .list_icon {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.service_list.half .list_icon li {
  flex: 0 0 50%;
  width: 50%;
  margin-bottom: 20px;
  padding: 0 10px 20px;
  border-bottom: 1px solid #F6F6F6;
}
.service_list.half .list_icon li:not(:first-of-type) {
  margin: 0 0 20px 0;
}
.service_list.half .list_icon li:nth-last-child(1), .service_list.half .list_icon li:nth-last-child(2) {
  border: none;
}
.service_list.half .list_icon li .img {
  width: 48px;
}
.service_list.half .list_icon li .txt02 {
  display: block;
  margin-top: 4px;
  color: #666666;
}
.service_list.white {
  padding-top: 40px;
  background: #fff;
}

.caution {
  position: relative;
  margin-top: 60px;
  padding: 50px 21px 0;
}
.caution::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background: #F7F7F7;
  border-top: 1px solid rgba(0, 0, 0, 0.02);
  border-bottom: 1px solid rgba(0, 0, 0, 0.02);
}
.caution .btn_area {
  text-align: right;
}
.caution .btn_area .btn_txt_big01 {
  margin-top: 30px;
}
.corporation_car_contact .caution {
  padding: 0 0 0 7px;
}

.txt_caution {
  position: relative;
  padding-left: 8px;
  color: #767676;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
}
.txt_caution:not(.none)::before {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #767676;
}

.gruop_caution {
  margin-top: 20px;
}
.gruop_caution .txt_caution:not(:first-of-type) {
  margin-top: 8px;
}

.service_banner {
  padding: 60px 15px 0;
}
.service_banner.top {
  padding-top: 20px;
}
.service_banner .inner {
  padding: 30px 20px;
  background: #002C5F;
}
.service_banner .inner:not(:first-of-type) {
  margin-top: 10px;
}
.service_banner .inner.white {
  border: 1px solid #DDDDDD;
  background: #fff;
}
.service_banner .inner.black {
  background: #000;
}
.service_banner .inner .img {
  margin-bottom: 15px;
}
.service_banner .inner .img.hyundai {
  width: 123px;
}
.service_banner .inner .img.hyundai + .icon_link {
  color: #fff;
}
.service_banner .inner .img.hyundai + .icon_link::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L4.99994 6.99995' stroke='%23fff' stroke-width='1.2' stroke-miterlimit='10'/%3E%3Cpath d='M11.0059 6.00024L11.0058 1.0058L6.00016 1.0058' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3Cpath d='M11 9V11C7.09476 11 1 11 1 11C1 11 1 4.90524 1 1H3' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_banner .inner .img.boutique {
  width: 215px;
}
.service_banner .inner .img.boutique + .icon_link {
  color: #fff;
}
.service_banner .inner .img.boutique + .icon_link::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L4.99994 6.99995' stroke='%23fff' stroke-width='1.2' stroke-miterlimit='10'/%3E%3Cpath d='M11.0059 6.00024L11.0058 1.0058L6.00016 1.0058' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3Cpath d='M11 9V11C7.09476 11 1 11 1 11C1 11 1 4.90524 1 1H3' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_banner .inner .img.bluelink {
  width: 117px;
}
.service_banner .inner .img.bluelink + .icon_link {
  color: #fff;
}
.service_banner .inner .img.bluelink + .icon_link::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L4.99994 6.99995' stroke='%23fff' stroke-width='1.2' stroke-miterlimit='10'/%3E%3Cpath d='M11.0059 6.00024L11.0058 1.0058L6.00016 1.0058' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3Cpath d='M11 9V11C7.09476 11 1 11 1 11C1 11 1 4.90524 1 1H3' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_banner .inner .img.connect {
  width: 248px;
}
.service_banner .inner .img.connect + .icon_link {
  color: #fff;
}
.service_banner .inner .img.connect + .icon_link::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L4.99994 6.99995' stroke='%23fff' stroke-width='1.2' stroke-miterlimit='10'/%3E%3Cpath d='M11.0059 6.00024L11.0058 1.0058L6.00016 1.0058' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3Cpath d='M11 9V11C7.09476 11 1 11 1 11C1 11 1 4.90524 1 1H3' stroke='%23fff' stroke-width='1.2' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_banner .inner .img img {
  display: block;
  width: 100%;
}
.service_banner .inner .tit {
  color: #fff;
  font-family: "HynSans_Head-R";
  font-size: 20px;
  line-height: 25px;
}
.service_banner .inner .tit02 {
  display: block;
  margin-bottom: 20px;
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
}
.service_banner .inner .btn_arrow_mid01 {
  margin-top: 15px;
  color: #fff;
}
.service_banner .inner .btn_arrow_mid01::after {
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23ffffff' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_banner .inner .btn_arrow_small01 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.service_banner .inner .btn_arrow_small01::after {
  margin-left: 2px;
}
.service_banner .inner .icon_link:not(:first-of-type) {
  margin-top: 12px;
}

.service_img {
  position: relative;
  margin-top: 60px;
}
.service_img .img {
  width: 100%;
}
.service_img .img img {
  display: block;
  width: 100%;
}
.service_img .info {
  position: absolute;
  left: 20px;
  top: 20px;
}
.service_img .info .tit {
  color: #fff;
  font-family: "HynSans_Head-R";
  font-size: 20px;
  line-height: 25px;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
}
.service_img .info .btn_combi02 {
  display: block;
  margin-top: 15px;
  text-decoration: none;
}

.service_slide {
  padding: 60px 15px 0;
}
.service_slide .title {
  margin-bottom: 30px;
}
.service_slide li span {
  display: block;
  margin-top: 15px;
}
.service_slide li:not(:first-of-type) {
  margin-top: 10px;
}
.service_slide em {
  display: block;
  margin-top: 8px;
}
.service_slide .btn_area {
  margin: 20px 6px 0;
}
.service_slide .detail_slide {
  margin: 0 6px;
}
.service_slide .detail_slide .tit {
  display: block;
  color: #333333;
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
}
.service_slide .detail_slide .txt {
  display: block;
  margin-top: 8px;
  color: #333333;
}
.service_slide .detail_slide .swiper-pagination {
  margin-top: 15px;
}
.service_slide .tip_slide a {
  display: block;
}
.service_slide .tip_slide a img {
  display: block;
  width: 100%;
}
.service_slide .tip_slide .swiper-pagination {
  margin-top: 15px;
}
.service_slide .trade_slide li {
  width: 100%;
  padding: 40px 20px;
  background: #F6F3F2;
}
.service_slide .trade_slide li .img {
  width: 100px;
  margin: 0 auto;
}
.service_slide .trade_slide li .img img {
  display: block;
  width: 100%;
}
.service_slide .trade_slide li .info {
  margin-top: 20px;
  text-align: center;
}
.service_slide .trade_slide li .info .tit {
  color: #002C5F;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 25px;
}
.service_slide .trade_slide li .info .txt {
  margin-top: 8px;
  color: #333333;
}
.service_slide .trade_slide .swiper-pagination {
  margin-top: 15px;
}
.service_slide .membership_slide {
  padding: 25px 0;
  background: #F7F7F7;
}
.service_slide .membership_slide .img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
}
.service_slide .membership_slide .img img {
  width: auto;
  border-radius: 4px;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.5);
}
.service_slide .membership_slide .img img:not(:first-of-type) {
  margin-left: 10px;
}
.service_slide .membership_slide .txt_area {
  margin-top: 25px;
  padding: 0 20px;
  color: #333333;
}
.service_slide .membership_slide .txt_area .tit {
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
}
.service_slide .membership_slide .txt_area ul {
  margin-top: 10px;
}
.service_slide .membership_slide .txt_area ul li {
  position: relative;
  padding-left: 8px;
}
.service_slide .membership_slide .txt_area ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 2px;
  height: 2px;
  background: #333333;
}
.service_slide .membership_slide .swiper-pagination {
  margin-top: 20px;
}
.service_slide .membership_slide + .txt_caution {
  margin: 20px 0 0 6px;
}

.service_step {
  padding: 60px 15px 0;
}
.service_step .icon_step {
  width: 100px;
  margin: 0 auto 20px;
}
.service_step .icon_step img {
  display: block;
  width: 100%;
}
.service_step .list_step {
  padding: 30px 25px;
  background: #F7F7F7;
}
.service_step .list_step li {
  position: relative;
  padding: 0 0 25px 39px;
  background: url("../img/service/bg_line.png") no-repeat 11.5px 31px/1px;
}
.service_step .list_step li:last-of-type {
  background: none;
  padding-bottom: 0;
}
.service_step .list_step li:not(:first-of-type) {
  padding-top: 5px;
}
.service_step .list_step li:not(:first-of-type) .num {
  top: 7px;
}
.service_step .list_step li .title_step {
  margin-bottom: 20px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
}
.service_step .list_step li .num {
  position: absolute;
  left: 0;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #fff;
  font-family: "HynSans_Head-M";
  font-size: 14px;
  line-height: 18px;
  background: #002C5F;
}
.service_step .list_step li .tit {
  display: block;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.service_step .list_step li .txt {
  display: block;
  margin-top: 4px;
  color: #666666;
}
.service_step .txt_caution {
  margin: 20px 0 0 6px;
}

.service_card {
  padding: 40px 15px 0;
}
.service_card .list_card > li {
  position: relative;
  padding: 25px 20px;
  height: 194px;
  background: #F7F7F7;
}
.service_card .list_card > li:not(:first-of-type) {
  margin-top: 15px;
}
.service_card .list_card > li .tit {
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
}
.service_card .list_card > li .tit span {
  margin-left: 4px;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.service_card .list_card > li .list_txt {
  margin-top: 10px;
}
.service_card .list_card > li .list_txt li {
  position: relative;
  padding-left: 8px;
  color: #333333;
}
.service_card .list_card > li .list_txt li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 2px;
  height: 2px;
  background: #333333;
}
.service_card .list_card > li .list_txt li:not(:first-of-type) {
  margin-top: 4px;
}
.service_card .list_card > li .img_logo {
  position: absolute;
  left: 20px;
  bottom: 25px;
}
.service_card .list_card > li .img_logo.member {
  width: 96px;
}
.service_card .list_card > li .img_logo.hans {
  width: 88px;
}
.service_card .list_card > li .img_logo.genesis {
  width: 151px;
}
.service_card .list_card > li .img_logo img {
  display: block;
  width: 100%;
}
.service_card .list_card > li .img_icon {
  position: absolute;
  right: 20px;
  bottom: 25px;
  width: 60px;
}
.service_card .list_card > li .img_icon img {
  display: block;
  width: 100%;
}

.service_toggle {
  padding: 60px 15px 0;
}
.service_toggle .title {
  margin-bottom: 30px;
  font-family: "HynSans_Head-R";
  font-size: 26px;
  line-height: 32px;
}

.service_table {
  padding: 60px 15px 0;
}
.service_table .title {
  margin: 0 0 16px 6px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
}
.service_table .table_area {
  overflow: hidden;
  overflow-x: auto;
}
.service_table .table {
  table-layout: fixed;
}
.service_table .table thead {
  border-color: #EDEDED;
}
.service_table .table td {
  padding: 15px;
  text-align: center;
}
.service_table .table td span {
  display: block;
  margin-top: 5px;
  color: #767676;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 16px;
  white-space: break-spaces;
}
.service_table .table.line th {
  border-right: 1px solid #EDEDED;
}
.service_table .table.line th:last-child {
  border: none;
}
.service_table.papers_bc .table_area {
  white-space: nowrap;
}
.service_table.papers_bc .table_area .table {
  width: 800px;
}
.service_table.papers_sc .table_area {
  white-space: nowrap;
}
.service_table.papers_sc .table_area .table {
  width: 470px;
}
.service_table .dot {
  position: relative;
}
.service_table .dot::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: auto;
  border-radius: 50%;
  background: #666666;
}

.toggle_wrap {
  padding: 60px 15px 0;
}
.toggle_wrap .title {
  margin-bottom: 22px;
}
.toggle_wrap .box_toggle.on .head::after {
  transform: rotate(270deg);
}
.toggle_wrap .box_toggle .head {
  position: relative;
  padding: 19px 0;
  border-bottom: 1px solid #F6F6F6;
  color: #000;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
}
.toggle_wrap .box_toggle .head::after {
  content: "";
  position: absolute;
  top: 23px;
  right: 6px;
  margin-left: 7px;
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%238F8F8F' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  vertical-align: -2px;
}
.toggle_wrap .box_toggle.on .cont {
  display: block;
}
.toggle_wrap .box_toggle .cont {
  display: none;
  padding: 25px 0px;
  border-bottom: 1px solid #F6F6F6;
  background: #F7F7F7;
}

.detail_items {
  padding: 0 15px;
}
.detail_items .detail_tit {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 0;
  padding: 0 6px;
}
.detail_items .detail_tit span {
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 23px;
}
.detail_items .detail_tit .btn_info_more {
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 23px;
}
.detail_items .detail_tit .btn_info_more:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 7px;
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23666' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  vertical-align: -2px;
}
.detail_items .detail_tit .btn_info_more.on:after {
  transform: rotate(-90deg);
}

.service_box {
  margin-top: 15px;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.02);
}
.service_box .tit {
  position: relative;
  padding-right: 17px;
  color: #000;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.service_box .tit:after {
  content: "";
  position: absolute;
  top: 6px;
  right: 5px;
  width: 12px;
  height: 8px;
  margin-left: 7px;
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%238F8F8F' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  transform: rotate(90deg);
  vertical-align: -2px;
}
.service_box .tit p {
  margin-top: 8px;
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 14px;
  line-height: 21px;
}
.service_box .list li {
  display: flex;
  align-items: flex-start;
  font-family: "HynSans_Txt-R";
  font-size: 14px;
  line-height: 21px;
}
.service_box .list li ~ li {
  margin-top: 15px;
}
.service_box .list .tit {
  display: flex;
  flex: 1;
  color: #666666;
}
.service_box .list .txt {
  color: #333333;
}
.service_box .list .txt.on {
  color: #00AAD2;
  font-family: HynSans_Txt-M;
}
.service_box .cont {
  display: none;
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 1px #EDEDED;
}
.service_box.type02 {
  margin-top: 5px;
  box-shadow: none;
  background: #F7F7F7;
}
.service_box.type02:first-of-type {
  margin: 0;
}
.service_box.type02 .tit .num {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
  background: #002C5F;
  color: #fff;
}
.service_box.type02 .tit:after {
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23000' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_box.type02 .tit p {
  margin-top: 6px;
  padding: 0 30px 0 34px;
  color: #666666;
}
.service_box.type02 .list li {
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding-left: 34px;
  font-family: "HynSans_Txt-M";
  font-size: 14px;
  line-height: 21px;
}
.service_box.type02 .list li:not(:first-of-type) {
  margin-top: 20px;
}
.service_box.type02 .list li::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 8px;
  top: 6px;
  width: 8px;
  height: 8px;
  border: 1.5px solid #8F8F8F;
  border-radius: 50%;
}
.service_box.type02 .list li::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 11.5px;
  top: 20px;
  width: 1px;
  height: 21px;
  background-image: url("../img/service/icon_guide_dashed.png");
  background-size: 1px auto;
  background-repeat: no-repeat;
}
.service_box.type02 .list li:last-of-type::after {
  content: none;
}
.service_box.type02 .list .txt {
  color: #333333;
  font-family: "HynSans_Txt-M";
  font-size: 14px;
  line-height: 21px;
}
.service_box.type02 .list .txt.on {
  color: #00AAD2;
  font-family: HynSans_Txt-M;
}
.service_box.type02 .list .btn_arr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  margin-right: -4px;
  font-size: 0;
}
.service_box.type02 .list .btn_arr::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%238F8F8F' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}
.service_box.on .tit:after {
  transform: rotate(-90deg);
}
.service_box.on .cont {
  display: block;
}

.service_qa {
  padding: 60px 15px 0;
}
.service_qa .sec_tit {
  margin: 0 0 12px 6px;
}

.isMainLock {
  overflow: hidden;
}
.isMainLock body {
  overflow: hidden;
}

.btn_service {
  display: inline-block;
  height: 48px;
  padding: 0 24px;
  background: #002C5F;
  color: #fff;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
  line-height: 48px;
  text-align: center;
}
.btn_service.white {
  border: 1px solid #DDDDDD;
  background: #fff;
  color: #000;
}

.btn_service_arr01 {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.btn_service_arr01::after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  vertical-align: -1px;
  width: 7px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='7px' height='12px' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23000' stroke-width='1.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
}

.bc_container {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 50px);
  overflow: hidden;
  transition: top 1s linear;
}

.bc_intro {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(100% - 52px);
  overflow: hidden;
}
.bc_intro_bg {
  z-index: -1;
}
.bc_intro_bg .bg01 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: top 1s linear, height 1.5s linear;
  overflow: hidden;
  z-index: -1;
  background-image: url("../img/service/bc/img_bc_bg01.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.bc_intro_bg .bg01 .bc_car01 {
  position: absolute;
  left: 50%;
  top: 650px;
  width: 227px;
  transform: translateX(-50%);
  transition: top 1s ease-out, width 1s linear;
}
@media (max-height: 736px) {
  .bc_intro_bg .bg01 .bc_car01 {
    top: 88.3152173913vh;
    width: 30.8423913043vh;
  }
}
.bc_intro_bg .bg01 .bc_car01 img {
  width: 100%;
}
.bc_intro_bg .bg02 {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background-image: url("../img/service/bc/img_bc_bg02.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.bc_intro_bg .bg02 .bc_car02 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.7s linear;
  top: 136px;
  width: 153px;
}
@media (max-height: 736px) {
  .bc_intro_bg .bg02 .bc_car02 {
    top: 18.4782608696vh;
    width: 20.7880434783vh;
  }
}
.bc_intro_bg .bg02 .bc_car02 img {
  display: block;
  width: 100%;
}
.bc_intro_bg .bg02 .group_icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 157px;
  width: 280px;
  opacity: 0;
  transition: opacity 0.5s linear;
}
@media (max-height: 736px) {
  .bc_intro_bg .bg02 .group_icon {
    top: 21.3315217391vh;
    width: 38.0434782609vh;
  }
}
.bc_intro_bg .bg02 .group_icon .center {
  width: 100%;
}
.bc_intro_bg .bg02 .group_icon .center img {
  display: block;
  width: 100%;
}
.bc_intro .btn_bottom {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 65px;
  opacity: 0;
  transition: opacity 0.7s linear;
}
.bc_intro .btn_bottom button {
  display: inline-block;
  width: 30px;
}
.bc_intro .btn_bottom button img {
  display: block;
  width: 100%;
}
.bc_intro.start .bc_tit {
  z-index: 2;
  margin-top: 40px;
}
@media (max-height: 736px) {
  .bc_intro.start .bc_tit {
    margin-top: 5.4347826087vh;
  }
}
.bc_intro.start .bc_tit p {
  opacity: 1;
}
.bc_intro.start .group_intro_line {
  opacity: 1;
  bottom: -2816px;
}
@media (max-height: 736px) {
  .bc_intro.start .group_intro_line {
    bottom: -382.6086956522vh;
  }
}
.bc_intro.start .bc_car01 {
  top: 193px;
}
@media (max-height: 736px) {
  .bc_intro.start .bc_car01 {
    top: 26.222826087vh;
  }
}
.bc_intro.start .btn_bottom {
  opacity: 1;
}
.bc_intro.start02 .bc_tit span {
  opacity: 1;
  margin-top: 15px;
}
@media (max-height: 736px) {
  .bc_intro.start02 .bc_tit span {
    margin-top: 2.0380434783vh;
  }
}
.bc_intro.step01 .bc_tit {
  opacity: 0;
  margin-top: 5px;
}
@media (max-height: 736px) {
  .bc_intro.step01 .bc_tit {
    margin-top: 0.6793478261vh;
  }
}
.bc_intro.step01 .bc_car01 {
  top: 111px;
}
@media (max-height: 736px) {
  .bc_intro.step01 .bc_car01 {
    top: 15.0815217391vh;
  }
}
.bc_intro.step01 .btn_bottom {
  opacity: 0;
}
.bc_intro.step01.trans .bc_car01 {
  top: 136px;
  width: 153px;
}
@media (max-height: 736px) {
  .bc_intro.step01.trans .bc_car01 {
    top: 18.4782608696vh;
    width: 20.7880434783vh;
  }
}
.bc_intro.txt02 .bc_tit02 {
  z-index: 2;
  opacity: 1;
  top: 40px;
}
@media (max-height: 736px) {
  .bc_intro.txt02 .bc_tit02 {
    top: 5.4347826087vh;
  }
}
.bc_intro.step02 .bg01 {
  height: 0;
}
.bc_intro.step02 .bc_tit02 {
  opacity: 0;
  top: 20px;
}
@media (max-height: 736px) {
  .bc_intro.step02 .bc_tit02 {
    top: 2.7173913043vh;
  }
}
.bc_intro.txt03 .bc_tit03 {
  z-index: 2;
  opacity: 1;
  top: 40px;
}
@media (max-height: 736px) {
  .bc_intro.txt03 .bc_tit03 {
    top: 5.4347826087vh;
  }
}
.bc_intro.show .btn_area {
  opacity: 1;
  bottom: 91px;
}
@media (max-height: 736px) {
  .bc_intro.show .btn_area {
    bottom: 12.3641304348vh;
  }
}
.bc_intro.show .group_icon {
  opacity: 1;
}
.bc_intro .bc_tit {
  margin-top: 80px;
  text-align: center;
  transition: margin 0.9s ease-out, opacity 0.8s linear;
}
@media (max-height: 736px) {
  .bc_intro .bc_tit {
    margin-top: 10.8695652174vh;
  }
}
.bc_intro .bc_tit p {
  opacity: 0;
  transition: opacity 0.8s linear;
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.bc_intro .bc_tit span {
  transition: opacity 0.7s linear, margin 0.6s linear;
  display: block;
  opacity: 0;
  margin-top: 20px;
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
}
@media (max-height: 736px) {
  .bc_intro .bc_tit span {
    margin-top: 2.7173913043vh;
  }
}
.bc_intro .bc_tit02 {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.7s linear, top 0.7s linear;
  top: 60px;
}
@media (max-height: 736px) {
  .bc_intro .bc_tit02 {
    top: 8.152173913vh;
  }
}
.bc_intro .bc_tit02 p {
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
}
.bc_intro .bc_tit03 {
  position: absolute;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.7s linear, top 0.7s linear;
  top: 60px;
}
@media (max-height: 736px) {
  .bc_intro .bc_tit03 {
    top: 8.152173913vh;
  }
}
.bc_intro .bc_tit03 p {
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
}
.bc_intro .group_intro_line {
  opacity: 0;
  position: fixed;
  left: 0;
  bottom: 265px;
  width: 100%;
  transition: bottom 1.8s ease-out;
}
@media (max-height: 736px) {
  .bc_intro .group_intro_line {
    bottom: 36.0054347826vh;
  }
}
.bc_intro .group_intro_line .box_line {
  display: flex;
  justify-content: space-between;
}
.bc_intro .group_intro_line .box_line:not(:last-of-type) {
  margin-bottom: 254px;
}
@media (max-height: 736px) {
  .bc_intro .group_intro_line .box_line:not(:last-of-type) {
    margin-bottom: 34.5108695652vh;
  }
}
.bc_intro .group_intro_line .box_line img {
  display: block;
  width: 16px;
}
@media (max-height: 736px) {
  .bc_intro .group_intro_line .box_line img {
    width: 2.1739130435vh;
  }
}
.bc_intro .btn_area {
  opacity: 0;
  position: absolute;
  bottom: -48px;
  width: 100%;
  padding: 0 82px;
  transition: opacity 0.5s linear, bottom 0.5s ease-out;
  text-align: center;
}
@media (max-height: 736px) {
  .bc_intro .btn_area {
    bottom: -6.5217391304vh;
  }
}

.bc_experience {
  z-index: 3;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: top 1s linear;
  background: #fff;
  overflow: hidden;
}
.bc_experience .experience_scan {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
}
.bc_experience .experience_scan .txt {
  margin: 40px 0 60px;
  color: #fff;
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
.bc_experience .experience_scan_video {
  width: 160px;
  margin: auto;
}
@media (max-height: 736px) {
  .bc_experience .experience_scan_video {
    width: 21.7391304348vh;
  }
}
.bc_experience .experience_scan_video video {
  display: block;
  width: 100%;
}
.bc_experience .slide_experience {
  z-index: 2;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: -45px;
  transform: translateX(-50%);
  width: 95%;
  transition: width 1s linear, top 1s linear;
}
@media (max-height: 736px) {
  .bc_experience .slide_experience {
    top: -6.1141304348vh;
  }
}
.bc_experience .slide_experience img {
  display: block;
  width: 100%;
}
.bc_experience .slide_experience .swiper-pagination {
  margin-top: 60px;
}
.bc_experience .slide_experience_case {
  z-index: 1;
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: -45px;
  transform: translateX(-50%);
  width: 110%;
  transition: width 1s linear, top 1s linear;
}
@media (max-height: 736px) {
  .bc_experience .slide_experience_case {
    top: -6.1141304348vh;
  }
}
.bc_experience .slide_experience_case img {
  display: block;
  width: 100%;
}
.bc_experience.start {
  top: 50px;
}
.bc_experience.scale .experience_scan {
  display: none;
}
.bc_experience.scale .experience_area {
  display: block;
}
.bc_experience.scale .slide_experience {
  visibility: visible;
  top: 80px;
  width: 202px;
}
@media (max-height: 736px) {
  .bc_experience.scale .slide_experience {
    top: 10.8695652174vh;
    width: 27.4456521739vh;
  }
}
.bc_experience.scale .slide_experience_case {
  visibility: visible;
  top: 40px;
  width: 424px;
}
@media (max-height: 736px) {
  .bc_experience.scale .slide_experience_case {
    top: 5.4347826087vh;
    width: 30.4347826087vh;
  }
}

.bc_content {
  width: 100%;
  padding-top: calc(var(--vh, 1vh) * 100 - 101px);
  background: #fff;
}
.bc_content .bc_cont {
  position: relative;
  width: 100%;
  padding-top: 70px;
}
.bc_content .bc_cont:first-of-type {
  padding-top: 40px;
}
.bc_content .bc_cont .title {
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
.bc_content .bc_cont .title_sub {
  display: block;
  margin-top: 10px;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.bc_content .bc_cont .btn_area {
  text-align: center;
}
.bc_content .bc_cont.hilab {
  width: 100%;
  height: 530px;
  text-align: center;
}
.bc_content .bc_cont.hilab .box_text {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.bc_content .bc_cont.hilab .box_text .btn_area {
  margin-top: 25px;
}
.bc_content .bc_cont.hilab .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.bc_content .bc_cont.hilab .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.info {
  padding-bottom: 60px;
  background: #F6F3F2;
}
.bc_content .bc_cont.info::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  opacity: 0.1;
  background: linear-gradient(-180deg, black 0%, rgba(255, 255, 255, 0) 100%);
}
.bc_content .bc_cont.info .group_info {
  margin-top: 30px;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
.bc_content .bc_cont.info .group_info .box_info {
  padding: 20px;
  background: #fff;
}
.bc_content .bc_cont.info .group_info .box_info:not(:first-of-type) {
  margin-left: 10px;
}
.bc_content .bc_cont.info .group_info .box_info p {
  margin-top: 50px;
  color: #767676;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
}
.bc_content .bc_cont.info .img {
  padding: 0 21px;
  margin-top: 68px;
}
.bc_content .bc_cont.info .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.center {
  width: 100%;
  height: 560px;
}
.bc_content .bc_cont.center .box_text {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.bc_content .bc_cont.center .box_text .btn_area {
  margin-top: 25px;
}
.bc_content .bc_cont.center .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.bc_content .bc_cont.center .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.home {
  padding-bottom: 70px;
  background: #F7F7F7;
}
.bc_content .bc_cont.home .img {
  margin-top: 50px;
  padding: 0 15px;
  width: 100%;
}
.bc_content .bc_cont.home .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.home .btn_area {
  margin-top: 30px;
}
.bc_content .bc_cont.benefit {
  padding: 70px 21px;
}
.bc_content .bc_cont.benefit .slide_benefit {
  margin-top: 30px;
}
.bc_content .bc_cont.benefit .slide_benefit li {
  padding: 30px 0 40px;
  text-align: center;
}
.bc_content .bc_cont.benefit .slide_benefit li:nth-child(1) {
  background: #D8E5FF;
}
.bc_content .bc_cont.benefit .slide_benefit li:nth-child(1) img {
  width: 170px;
}
.bc_content .bc_cont.benefit .slide_benefit li:nth-child(2) {
  background: #E4DCD3;
}
.bc_content .bc_cont.benefit .slide_benefit li:nth-child(2) img {
  width: 210px;
}
.bc_content .bc_cont.benefit .slide_benefit li:nth-child(3) {
  background: #EDEDED;
}
.bc_content .bc_cont.benefit .slide_benefit li:nth-child(3) img {
  width: 174px;
}
.bc_content .bc_cont.benefit .slide_benefit .swiper-pagination {
  margin-top: 15px;
}
.bc_content .bc_cont.benefit .txt {
  margin-top: 20px;
  color: #002C5F;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 25px;
}
.bc_content .bc_cont.benefit .btn_combi01 {
  margin: 20px auto 0;
}
.bc_content .bc_cont.bluehands {
  padding-bottom: 70px;
  background: #F7F7F7;
}
.bc_content .bc_cont.bluehands .box_title .img_logo {
  width: 170px;
  margin: 0 auto 20px;
}
.bc_content .bc_cont.bluehands .box_title .img_logo img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.bluehands .img {
  width: 100%;
  margin-top: 20px;
}
.bc_content .bc_cont.bluehands .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.bluehands .btn_area {
  margin-top: 25px;
}
.bc_content .bc_cont.review .slide_bcReview {
  margin-top: 30px;
  padding: 0 30px;
}
.bc_content .bc_cont.review .slide_bcReview .swiper-pagination {
  margin-top: 15px;
}
.bc_content .bc_cont.review li .img {
  width: 100%;
}
.bc_content .bc_cont.review li .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.brand .img_wrap {
  margin-top: 30px;
}
.bc_content .bc_cont.brand .img_wrap .img {
  position: relative;
  width: 100%;
}
.bc_content .bc_cont.brand .img_wrap .img img {
  display: block;
  width: 100%;
}
.bc_content .bc_cont.brand .img_wrap .img .btn_area {
  position: absolute;
  bottom: 32px;
  width: 100%;
  padding: 0 20px;
}
.bc_content .bc_cont.brand .img_wrap .img .btn_area .black {
  border-color: #000;
  background: #000;
}

.sc_container {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100 - 50px);
  overflow: hidden;
  transition: top 1s linear;
}
.sc_container.end {
  height: calc(100vh - 165px);
}

.sc_intro {
  position: absolute;
  left: 0;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #F6F3F2;
}
.sc_intro .sc_intro_car {
  position: absolute;
  left: -228px;
  top: 228px;
  width: 440px;
  transition: left 0.8s ease-in;
}
@media (max-height: 736px) {
  .sc_intro .sc_intro_car {
    left: -30.9782608696vh;
    top: 30.9782608696vh;
    width: 59.7826086957vh;
  }
}
.sc_intro .sc_intro_car img {
  display: block;
  width: 100%;
}
.sc_intro .sc_title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}
.sc_intro .sc_title.step01 {
  top: 80px;
  transition: top 1s 0.9s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_title.step01 {
    top: 10.8695652174vh;
  }
}
.sc_intro .sc_title.step01 p {
  opacity: 0;
  margin-top: 30px;
  transition: margin 0.6s 1.4s linear, opacity 1s 1.4s linear;
}
.sc_intro .sc_title.step01 span {
  opacity: 0;
  transition: opacity 1s 0.9s linear;
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.sc_intro .sc_title.step02 {
  top: 60px;
  opacity: 0;
  transition: opacity 1s 1.1s linear, top 1s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_title.step02 {
    top: 8.152173913vh;
  }
}
.sc_intro .sc_title.step03 {
  z-index: 1;
  top: 60px;
  opacity: 0;
  transition: opacity 1s 1.1s linear, top 0.5s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_title.step03 {
    top: 8.152173913vh;
  }
}
.sc_intro .sc_title p {
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
}
.sc_intro .btn_bottom {
  z-index: 1;
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 117px;
  transition: opacity 0.6s 1s linear;
}
.sc_intro .btn_bottom button {
  display: inline-block;
  width: 30px;
}
.sc_intro .btn_bottom button img {
  display: block;
  width: 100%;
}
.sc_intro .sc_phone {
  position: absolute;
  left: 50%;
  bottom: -100vh;
  transform: translateX(-50%);
  width: 280px;
  overflow: hidden;
  border-radius: 39px;
  transition: bottom 0.8s 1.4s ease-out;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone {
    width: 38.0434782609vh;
  }
}
.sc_intro .sc_phone .phone_case_cover {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.sc_intro .sc_phone .phone_case_cover img {
  display: block;
  width: 100%;
}
.sc_intro .sc_phone .phone_case {
  position: absolute;
  left: 50%;
  top: 49px;
  transform: translateX(-50%);
  width: calc(100% - 20px);
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.8s linear;
  background: #fff;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone .phone_case {
    top: 6.6576086957vh;
  }
}
.sc_intro .sc_phone .phone_case .phone {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.sc_intro .sc_phone .phone_case .phone img {
  display: block;
  width: 100%;
}
.sc_intro .sc_phone .phone_case .img01 {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: opacity 1s linear;
}
.sc_intro .sc_phone .phone_case .img01 img {
  display: block;
  width: 100%;
}
.sc_intro .sc_phone .phone_case .img01 img.car_num {
  opacity: 0;
  position: absolute;
  left: 23px;
  top: 130px;
  width: 212px;
  transition: opacity 0.5s 1.1s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone .phone_case .img01 img.car_num {
    width: 28.8043478261vh;
    left: 3.2608695652vh;
    top: 17.6630434783vh;
  }
}
.sc_intro .sc_phone .phone_case .img01 img.keyboard {
  position: absolute;
  left: 0;
  bottom: -50px;
  width: 254px;
  transition: bottom 0.5s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone .phone_case .img01 img.keyboard {
    width: 34.5108695652vh;
    bottom: -6.7934782609vh;
  }
}
.sc_intro .sc_phone .phone_case .img02 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.sc_intro .sc_phone .phone_case .img02 img {
  display: block;
  width: 100%;
  transition: top 0.7s linear, opacity 1s linear;
}
.sc_intro .sc_phone .phone_case .img02 img.car {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 156px;
  transform: translateX(-50%);
  width: 200px;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone .phone_case .img02 img.car {
    width: 27.1739130435vh;
    top: 21.1956521739vh;
  }
}
.sc_intro .sc_phone .phone_case .img02 img.car_title {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 87px;
  transform: translateX(-50%);
  width: 129px;
  transition-delay: 0.8s;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone .phone_case .img02 img.car_title {
    width: 17.527173913vh;
    top: 11.8206521739vh;
  }
}
.sc_intro .sc_phone .phone_case .img02 img.car_text {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 267px;
  transform: translateX(-50%);
  width: 224px;
  transition-delay: 0.8s;
}
@media (max-height: 736px) {
  .sc_intro .sc_phone .phone_case .img02 img.car_text {
    width: 30.4347826087vh;
    top: 36.277173913vh;
  }
}
.sc_intro .phone_car {
  position: absolute;
  left: -240px;
  bottom: 281px;
  width: 240px;
  transition: left 0.6s 0.5s linear;
}
@media (max-height: 736px) {
  .sc_intro .phone_car {
    bottom: 38.1793478261vh;
    left: -32.6086956522vh;
    width: 32.6086956522vh;
  }
}
.sc_intro .phone_car img {
  display: block;
  width: 100%;
}
.sc_intro .sc_scan {
  position: absolute;
  left: 50%;
  bottom: 120px;
  width: 320px;
  height: 223px;
  transform: translateX(-50%);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.7s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_scan {
    bottom: 16.3043478261vh;
    width: 43.4782608696vh;
    height: 30.2989130435vh;
  }
}
.sc_intro .sc_scan > img {
  display: block;
  width: 100%;
  height: 100%;
}
@keyframes scan {
  0% {
    bottom: -70px;
    @media (max-height: 736px) {
      .sc_intro .sc_scan {
        bottom: -9.5108695652vh;
      }
    }
  }
  51% {
    bottom: 161px;
    @media (max-height: 736px) {
      .sc_intro .sc_scan {
        bottom: 21.875vh;
      }
    }
  }
  100% {
    bottom: -65px;
    @media (max-height: 736px) {
      .sc_intro .sc_scan {
        bottom: -8.8315217391vh;
      }
    }
  }
}
.sc_intro .sc_scan .scan_line {
  position: absolute;
  left: 50%;
  bottom: -70px;
  transform: translateX(-50%);
  width: 336px;
}
@media (max-height: 736px) {
  .sc_intro .sc_scan .scan_line {
    width: 45.652173913vh;
  }
}
.sc_intro .sc_scan .scan_line img {
  display: block;
  width: 100%;
}
.sc_intro .sc_chart {
  opacity: 0;
  position: absolute;
  left: 50%;
  bottom: 235px;
  transform: translateX(-50%);
  width: 318px;
  transition: opacity 0.7s 0.7s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_chart {
    bottom: 31.9293478261vh;
    width: 43.2065217391vh;
  }
}
.sc_intro .sc_chart .chart_line {
  display: block;
  width: 100%;
}
.sc_intro .sc_chart .chart_bar {
  position: absolute;
  left: 50%;
  top: -9px;
  transform: translateX(-50%);
  width: 289px;
  height: 0;
}
@media (max-height: 736px) {
  .sc_intro .sc_chart .chart_bar {
    top: -1.222826087vh;
    width: 39.2663043478vh;
  }
}
.sc_intro .sc_chart .chart_note {
  opacity: 0;
  position: absolute;
  left: 122px;
  top: 39px;
  width: 103px;
  transition: opacity 0.7s 1.7s linear, top 0.7s 1.7s linear;
}
@media (max-height: 736px) {
  .sc_intro .sc_chart .chart_note {
    left: 16.5760869565vh;
    top: 5.2989130435vh;
  }
}
.sc_intro.start .sc_intro_car {
  left: 100%;
}
.sc_intro.start .sc_title.step01 {
  top: 40px;
}
@media (max-height: 736px) {
  .sc_intro.start .sc_title.step01 {
    top: 5.4347826087vh;
  }
}
.sc_intro.start .sc_title.step01 p {
  opacity: 1;
}
.sc_intro.start .sc_title.step01 span {
  opacity: 1;
}
@media (max-height: 736px) {
  .sc_intro.start .sc_title.step01 span {
    margin-top: 2.3097826087vh;
  }
}
.sc_intro.start .btn_bottom {
  opacity: 1;
}
.sc_intro.start .sc_phone {
  bottom: -120px;
}
@media (max-height: 736px) {
  .sc_intro.start .sc_phone {
    bottom: -16.3043478261vh;
  }
}
.sc_intro.step01 .sc_title.step01 {
  top: 20px;
  transition: top 0.8s 0s linear;
}
@media (max-height: 736px) {
  .sc_intro.step01 .sc_title.step01 {
    top: 2.7173913043vh;
  }
}
.sc_intro.step01 .sc_title.step01 p {
  opacity: 0;
  transition: opacity 0.8s 0s linear;
}
.sc_intro.step01 .sc_title.step01 span {
  opacity: 0;
  transition: margin 0.6s 0s linear, opacity 0.8s 0s linear;
}
.sc_intro.step01 .sc_title.step02 {
  top: 40px;
  opacity: 1;
}
.sc_intro.step01 .btn_bottom {
  opacity: 0;
  transition-delay: 0s;
}
.sc_intro.step01 .sc_phone {
  bottom: -110px;
  transition-delay: 0s;
}
@media (max-height: 736px) {
  .sc_intro.step01 .sc_phone {
    bottom: -14.9456521739vh;
  }
}
.sc_intro.step01 .sc_phone .phone_case .img01 img.car_num {
  opacity: 1;
}
.sc_intro.step01 .sc_phone .phone_case .img01 img.keyboard {
  bottom: -10px;
}
@media (max-height: 736px) {
  .sc_intro.step01 .sc_phone .phone_case .img01 img.keyboard {
    bottom: -1.3586956522vh;
  }
}
.sc_intro.step02 .sc_phone .phone_case .img01 {
  opacity: 0;
}
.sc_intro.step02 .sc_phone .phone_case .img01 img.keyboard {
  bottom: -50px;
}
@media (max-height: 736px) {
  .sc_intro.step02 .sc_phone .phone_case .img01 img.keyboard {
    bottom: -6.7934782609vh;
  }
}
.sc_intro.step02.show .sc_phone .phone_case .img02 img.car {
  opacity: 1;
  top: 137px;
}
@media (max-height: 736px) {
  .sc_intro.step02.show .sc_phone .phone_case .img02 img.car {
    top: 18.6141304348vh;
  }
}
.sc_intro.step02.show .sc_phone .phone_case .img02 img.car_title {
  opacity: 1;
  top: 68px;
}
@media (max-height: 736px) {
  .sc_intro.step02.show .sc_phone .phone_case .img02 img.car_title {
    top: 9.2391304348vh;
  }
}
.sc_intro.step02.show .sc_phone .phone_case .img02 img.car_text {
  opacity: 1;
  top: 247px;
}
@media (max-height: 736px) {
  .sc_intro.step02.show .sc_phone .phone_case .img02 img.car_text {
    top: 33.5597826087vh;
  }
}
.sc_intro.step03 .sc_title.step02 {
  top: 20px;
  transition-delay: 0s;
  opacity: 0;
}
@media (max-height: 736px) {
  .sc_intro.step03 .sc_title.step02 {
    top: 2.7173913043vh;
  }
}
.sc_intro.step03 .sc_title.step03 {
  opacity: 1;
  top: 40px;
  transition-delay: 1.8s;
}
@media (max-height: 736px) {
  .sc_intro.step03 .sc_title.step03 {
    top: 5.4347826087vh;
  }
}
.sc_intro.step03 .phone_case {
  transform: translate(-50%, -366px);
}
@media (max-height: 736px) {
  .sc_intro.step03 .phone_case {
    transform: translate(-50%, -49.7282608696vh);
  }
}
.sc_intro.step03 .phone_car {
  left: 20px;
}
@media (max-height: 736px) {
  .sc_intro.step03 .phone_car {
    left: 2.7173913043vh;
  }
}
.sc_intro.step03.trans .sc_phone {
  bottom: -50px;
  transition: bottom 0.3s 0.1s linear;
}
@media (max-height: 736px) {
  .sc_intro.step03.trans .sc_phone {
    bottom: -6.7934782609vh;
  }
}
.sc_intro.step03.trans .sc_phone .phone_case {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.sc_intro.step03.trans .sc_phone .phone_car {
  left: 50%;
  transform: translateX(-50%);
  transition: none;
}
.sc_intro.step03.trans .sc_phone .phone_case_cover {
  opacity: 0;
  transition: opacity 0.3s linear;
}
.sc_intro.step03.scan .sc_phone {
  width: 100%;
  background: linear-gradient(180deg, white 0%, white 72%, #f6f3f2 72%);
}
.sc_intro.step03.scan .sc_phone .phone_car {
  width: 290px;
  bottom: 165px;
  transition: width 0.7s linear;
}
@media (max-height: 736px) {
  .sc_intro.step03.scan .sc_phone .phone_car {
    bottom: 22.4184782609vh;
    width: 39.402173913vh;
  }
}
.sc_intro.step03.scan .sc_scan {
  opacity: 1;
}
.sc_intro.step03.scan .sc_scan .scan_line {
  animation: scan 1.7s 0.7s ease-in-out;
}
.sc_intro.step03.chart .sc_scan {
  opacity: 0;
}
.sc_intro.step03.chart .sc_chart {
  opacity: 1;
}
.sc_intro.step03.chart .sc_chart .chart_bar {
  height: 180px;
}
@media (max-height: 736px) {
  .sc_intro.step03.chart .sc_chart .chart_bar {
    height: 24.4565217391vh;
  }
}
.sc_intro.step03.chart .sc_chart .chart_note {
  opacity: 1;
  top: 19px;
}
@media (max-height: 736px) {
  .sc_intro.step03.chart .sc_chart .chart_note {
    top: 2.5815217391vh;
  }
}

.sc_content {
  z-index: 3;
  width: 100%;
  padding-top: calc(100vh - 276px);
  background: #fff;
}
.sc_content .sc_intro_txt {
  padding: 70px 40px;
  background: #F6F3F2;
}
.sc_content .sc_intro_txt li:not(:first-of-type) {
  margin-top: 40px;
}
.sc_content .sc_intro_txt li .img {
  width: 48px;
  margin-bottom: 15px;
}
.sc_content .sc_intro_txt li .img img {
  display: block;
  width: 100%;
}
.sc_content .sc_intro_txt li .tit {
  font-family: "HynSans_Head-M";
  font-size: 22px;
  line-height: 28px;
}
.sc_content .sc_intro_txt li .txt {
  margin-top: 10px;
  color: #666666;
}
.sc_content .sc_cont {
  padding: 70px 0;
}
.sc_content .sc_cont .title {
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
  text-align: center;
}
.sc_content .sc_cont .title_sub {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.sc_content .sc_cont.trade {
  padding: 70px 15px;
}
.sc_content .sc_cont.trade .title {
  margin-bottom: 30px;
}
.sc_content .sc_cont.trade .img {
  width: 100%;
}
.sc_content .sc_cont.trade .img img {
  display: block;
  width: 100%;
}
.sc_content .sc_cont.trade .list {
  padding: 30px 25px;
  background: #F7F7F7;
}
.sc_content .sc_cont.trade .list .list_tit {
  margin-bottom: 20px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
}
.sc_content .sc_cont.trade .list li {
  position: relative;
  padding-left: 37px;
}
.sc_content .sc_cont.trade .list li:not(:first-of-type) {
  margin-top: 30px;
}
.sc_content .sc_cont.trade .list li::before {
  content: "";
  display: block;
  position: absolute;
  left: 11.5px;
  top: 31px;
  width: 1px;
  height: 39px;
  background: #DDDDDD;
}
.sc_content .sc_cont.trade .list li:last-of-type::before {
  content: none;
}
.sc_content .sc_cont.trade .list li .num {
  position: absolute;
  left: 0;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #002C5F;
  color: #fff;
  font-family: "HynSans_Head-M";
  font-size: 14px;
  line-height: 18px;
}
.sc_content .sc_cont.trade .list li .tit {
  display: block;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.sc_content .sc_cont.trade .list li .txt {
  display: block;
  margin-top: 4px;
  color: #666666;
}
.sc_content .sc_cont.HiLab {
  position: relative;
  height: 560px;
  background: #002C5F;
}
.sc_content .sc_cont.HiLab .box_text {
  position: absolute;
  left: 0;
  top: 70px;
  width: 100%;
}
.sc_content .sc_cont.HiLab .box_text .box_title {
  color: #fff;
  text-align: center;
}
.sc_content .sc_cont.HiLab .box_text .box_title .title_sub {
  display: block;
  margin-bottom: 15px;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.sc_content .sc_cont.HiLab .box_text .btn_area {
  margin-top: 25px;
  text-align: center;
}
.sc_content .sc_cont.HiLab .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.sc_content .sc_cont.HiLab .img img {
  display: block;
  width: 100%;
}
.sc_content .sc_cont.review .slide_scReview {
  margin-top: 30px;
  padding: 0 30px;
}
.sc_content .sc_cont.review .slide_scReview .swiper-pagination {
  margin-top: 15px;
}
.sc_content .sc_cont.review li .img {
  width: 100%;
}
.sc_content .sc_cont.review li .img img {
  display: block;
  width: 100%;
}
.sc_content .sc_cont.value {
  padding: 70px 21px;
  background: #E4DCD3;
}
.sc_content .sc_cont.value .img {
  width: 100%;
  margin-top: 30px;
}
.sc_content .sc_cont.value .img img {
  display: block;
  width: 100%;
}
.sc_content .sc_cont.value .btn_area {
  margin-top: 30px;
  text-align: center;
}
/*# sourceMappingURL=maps/h_service.css.map */
