
*{
    user-select: none;
}
.tit{
    font-size: 50px;
}

/* drag */
.drag_drop{
    padding: 100px 0;
    overflow-x: auto;
}

.drag_drop .dragParent{
    background-color: #000;
    padding: 30px;
    margin: 30px auto;
}

.drag_drop .dragObjWrap{
    position: relative;
}
.drag_drop .dragObjWrap::after{
    content: "";
    display: block;
    clear: both;
}

/* 드래그엔 드롭 ITEM  */
.drag_drop .dropObj{ 
    /* position: absolute; */
    float: left;
    width: 280px;
    height: 500px;
}

.drag_drop .dragObj.select {
    border: 4px solid purple;
    box-sizing: border-box; 

}
.drag_drop .dragObj {
    display: flex;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    cursor: pointer;
    
}

.drag_drop .dragObjWrap > .dropObj:first-child .dragObj:first-child{
    border: 4px solid white;
    box-sizing: border-box;
}

.drag_drop .dragObj[data-drag-index='1']{
    background-color: aqua;
}
.drag_drop .dragObj[data-drag-index='2']{
    background-color: red;
}
.drag_drop .dragObj[data-drag-index='3']{
    background-color: yellow;
}
.drag_drop .dragObj[data-drag-index='4']{
    background-color: blue;
}
.drag_drop .dragObj[data-drag-index='5']{
    background-color: green;
}
.drag_drop .dragObj[data-drag-index='6']{
    background-color: purple;
}