#stepSelect{
	user-select: none;
	position: relative;
	width: 600px;
	min-height: 600px;
	overflow: hidden;
	margin: 0 auto;
	&::-webkit-scrollbar{
		display: none;
	}
	.question{
		position: absolute;
		top: 0;
		transition: all 1s;
		[data-view='false']{
			display: none;
		}
		[data-view='true']{
			display: block;
		}
		&> .question_item{
			position: relative;
			margin:180px 0 0;
			opacity: 0.2;
			.top{
				.tit{
					@include fontHM(30);
				}
				.txt{
					margin: 8px 0 0;
				}
			}
			&::after{
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			&.active{
				transition: all 1s;
				opacity: 1;
				&::after{
					display: none;
				}
			}
			&:first-child{
				margin-top: 100px;
			}

			// input type text style
			.entry{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin: 24px 0 0;
				&::after {
					content:"";
					position: absolute;
					left: 50%; bottom: 0;
					width: 100%; height: 3px;
					transform: translateX(-50%);
					background: $COL_hyundaiblue;
				}
				.txt {
					width: 100%;
					padding:0 2px 13px;
					background:transparent;
					border:0;
					outline:0;
					caret-color:rgba($COL_hyundaiblue, .5);
					color:$COL_hyundaiblue;
					@include fontHM(30);
					&::placeholder{
						color: $COL_gs05;
						line-height:inherit;
					}
				}
				.unit {
					margin: 0 0 13px 66px;
					@include fontHM(20);
					color: $COL_hyundaiblue;
				}
			}

			.nextButton{
				margin: 40px 0 0;
			}
			.caution{
				margin: 16px 0 0;
			}
		}
	}
}

