.Container {
  display: flex;
  .Item__wrap {
    width: 70%;
    .Check__box {
      display: flex;
      align-items: center;
      height: 60px;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: -.3px;
      .Check__label {
        padding-right: 20px;
        input[type="checkbox"] {
          position: absolute;
          z-index: -1;
          opacity: 0;
          & + .Check__ico {
            display: inline-block;
            position: relative;
            width: 24px;
            height: 24px;
            margin-right: 12px;
            border: 0;
            background-image: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox.svg);
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 50% 50%;
            vertical-align: -7px;
          }
          &:checked + .Check__ico {
            background-image: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox_checked.svg);
            background-color: transparent;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: 50% 50%;
          }
        }
      }
      .Check__del {
        position: relative;
        padding-left: 20px;
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 1px;
          height: 14px;
          background-color: #ddd;
          transform: translateY(-50%);
      }
      }
    }
    .Item__box {
      &.__none {
        border-top: 1px solid var(--darkgray);
        border-bottom: 1px solid #f4f4f4;
        p {
          width: 100%;
          margin-top: 0;
          text-align: center;
          font-weight: 700;
          font-size: 16px;
          letter-spacing: 0;
          padding: 115px 0 116px;
          color: var(--darkgray);
        };
      }
    }
  }
  .Result {
    .Inner {
      
    }
  }
}