@charset 'utf-8';
/* 
	로그인, 서비스 가입
*/

@import '../_common/g_function';
@import '../_common/g_mixins';

@import '../_layout/g_preference_set';//선호도 설정 레이어 팝업 스타일


/* 배경 :검정색 */
@include Mix_Body_Black; 
body {
	background: #000 url('../img/main/ghq_main_bg1480.jpg') no-repeat 50% -100px / 620px auto;
}
#CPOheader{
	.h_header_navi02 {
		&.fixed {
			background-color:$COL_Black;
		}
		// background-color:transparent;
	}
}
#CPOcontents {
	padding-top: 62px;
}
// [01 ~ 04] 공통
[class^="gmain0"]{
	&:not(.gmain01_visual){
		margin:0 15px 20px; 
		background-color:map-get($COL_Box_01, 'bg_dark' );
		padding: 30px 0;
		> h2.tit{
			display: inline-block;
			position: relative;
			padding:0 14px 0 21px;
			margin-bottom: 20px;
			color:$COL_White;
			@include Mix_Font('Head-L', 16, 22);
			&::after {
				content: "";
				transform: translateY(-50%);
				@include Pos($p: absolute, $t: calc(50% - 1px), $r: 0);
				@include Icon_Arr_Right(1.5,"FFFFFF");
			}
		}
	}
	.swiper-pagination{
		margin-top: 30px;
	}
}
// [01]. 선호설정 전 메인
.gmain01_visual{
	min-height:560px;
	overflow-x:hidden;
	touch-action: pan-y;
	> .member{
		padding:12px 21px 16px;
		> span{
			display:block;
			&.tit{
				margin-bottom:10px;
				color:$COL_White;
				@include Mix_Font('Head-L', 24, 33);
			}
			&.txt{
				color:$COL_White;
				@include Mix_Font('Txt-R', 16, 22);
			}
		}
	}
	.car_visual_wrap {
		@include Pos(absolute, 165px, 0, 0, 0);
		overflow: hidden;
		.swiper-pagination {
			margin-top: 20px;
		}
		.btn_big02 {
			display: none;
			@include Pos(absolute, 170%, 0, 0, 0)
		}
	}
	.car_visual {
		position: relative;
		width: 360px;
		margin: 0 auto;
		height: 315px;
		color: #fff;
	}
	.car_item {
		position: absolute;
		text-align: center;
		&.isNextShow img {
			transform: translateX(100px);
			opacity: 0;
		}
		&.isPrevShow img {
			transform: translateX(-100px);
			opacity: 0;
		}
		&.isActive {
			img {
				transition: transform 1s, opacity 1s;
				transform: translateX(0);
				opacity: 1;
			}
			.isSelected {
				opacity: 1;
				transition: opacity .5s .5s;
			}
		}
		@keyframes selecteRotate {
			from {
				transform: rotate(0);
			}
			to {
				transform: rotate(360deg);
			}
		}
		.isSelected {
			@include Pos(absolute, -25px, 0, $l: 0, $z: 1);
			width: 300px; height: 300px;
			margin: 0 auto;
			font-size: 0;
			transform: perspective(300px) rotateX(80deg);
			opacity: 0;
			&:after {
				content: "";
				@include Pos(absolute, $a: 0);
				border-radius: 50%;
				background: url('../img/main/selected_line.png') no-repeat 50% 50% / 100% 100%;
				animation-duration: 2s;
				animation-name: selecteRotate;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
			}
		}
		img {
			position: relative;
			z-index: 2;
			width: 289px; height: 177px;
		}
		.name {
			position: absolute;
			@include Mix_Font('Head-L', 11, 15);
		}
		.link {
			@include Pos(absolute, 119%, $l: 50%);
			transform: translateX(-51%);
			@include Mix_Font('Txt-R', 13, 14);
			text-decoration: none;
			border-bottom: 1px solid;
			opacity: 0;
			color: #fff;
			&::after {
				content: "";
				transform: translateY(-50%);
				@include Pos($p: absolute, $t: 8px, $r: -11px);
				@include Icon_Arr_Right(1.5,"FFFFFF");
			}
		}
		&1 {
			bottom: 74px; left: 15px; right: 15px;
			.name {
				top: 97%; left: 50%;
				transform: translateX(-50%);
				font-size: 24px;
				line-height: 32px;
			}
			.link {opacity: 1;}
			.btn_big02 {display: block;}
			&.isSelected:before {
				content: "";
				@include Pos(absolute, 96px, $l: -15px);
				width: 360px; height:74px;
				background: url('../img/main/select_circle.gif') no-repeat 0 0 / 100%;
			}
		}
		&2 {
			top: 10%; left: -15.5%;
			img {width: 137px; height: 84px;}
			.name {top: -6px; left: 71px;}
		}
		&3 {
			top: 8.5%; left: 24%;
			img {width: 86.5px; height: 53px;}
			.name {top: -8px; left: 34px;}
		}
		&4 {
			top: 8.5%; right: 24%;
			img {width: 86.5px; height: 53px;}
			.name {top: -8px; left: 34px;}
		}
		&5 {
			top: 10%; right: -15.5%;
			img {width: 137px; height: 84px;}
			.name {top: -5px; left: 38px;}
		}
	}
}

.ghq_main{
	margin-top:24px;
	&.list{
		width:200vw;
		perspective:1200px;
		touch-action:pan-y;
		//overflow:hidden;
		margin-left:-50vw;
	}
	ol.list{
		position:relative;
		width:100%;
		height:225px;
		z-index:1;
		display:flex;
		transition-property:transform;
		box-sizing:content-box;
		transform-style:preserve-3d;
		li{
			flex-shrink:0;
			height:100%;
			position:relative;
			backface-visibility:hidden;
			overflow:hidden;
			transition-property:transform,opacity,height;
			> .title{
				position:absolute;
				width:1px;
				height:1px;
				clip:rect(0 0 0 0);
			}
			> .car{
				.name{
					color:$COL_White;
					@include Mix_Font('Head-R', 11, 15);
				}
			}
			&.swiper-slide-duplicate,
			&.swiper-slide-duplicate-prev,
			&.swiper-slide-duplicate-active,
			&.swiper-slide-duplicate-next{opacity:0;}
			&.swiper-slide-prev{opacity:1;}
			&.swiper-slide-next{opacity:1;}
			&.swiper-slide-active{opacity:1;padding-top:5px;}
		}
	}
	.swiper-pagination-bullets{
		display:block;
		position:relative;
		width:calc(100vw - 30px);
		margin:50px auto 0;
		text-align:center;
		> .swiper-pagination-bullet{
			display:inline-block;
			float:none;
			margin:0 3px;
			vertical-align:middle;
			.title{
				opacity:0;
				display:none;
			}
		}
		> .swiper-pagination-bullet-active{
			border-color:$COL_White !important;
			.title{
				opacity:1;
				display:block;
				margin:0 auto;
				position:absolute;
				top:-96px;
				left:0;
			}
		}
	}
	
	.title{
		width:calc(100vw - 30px);
		text-align:center;
		.name{
			display:block;
			margin-bottom:6px;
			color:$COL_White;
			@include Mix_Font('Head-L', 24, 33);
		}
		.more{
			display:inline-block;
			margin-bottom:70px;
			color:$COL_White;
			&::after{
				content:'';
				display:block;
				width:100%;
				height:1px;
				background-color:$COL_White;
			}
		}
		.btn_big02{
			
		}
	}
	&.mine{
		width:100%;
		.title{
			margin:-27px auto 0;
		}
		> span.img{
			display:block;
			width:100%;
			img{
				width:100%;
			}
		}
	}
}

// [02]. 인기차량
.gmain02_plp{
	padding:0 0 40px;
	&.recommend_slide {
		position: relative;
		overflow: hidden;
		touch-action:pan-y;
	}
	.swiper-pagination{
		margin-top: 30px
	}
	> ol.list{
		margin-left:21px;
		li{
			&:last-of-type{
				width:calc(225px + 21px);
				padding-right:21px;
			}
			flex-shrink:0;
			display:flex;
			width:225px;
			height:100%;
			margin-right:16px;
			transition-property:transform;
			.unit_link{// 상품유닛 reset
				.unit_img{
					padding-bottom:111.2%;
					margin-bottom: 15px;
					background-color: $COL_Black;
					.no{
						position:absolute;
						top:10px;
						left:15px;
						z-index:4;
						display:inline-block;
						color:$COL_Black;
						@include Mix_Font('Head-L', 40, 48);
					}
				}
				.unit_info{
					.drive{
						em{
							margin-right:1px;
							padding-right:4px;
							&::after{
								background-color:map-get($COL_Line_02, "bg_dark");
								width:2px;
								height:2px;
							}
						}
					}
					.price{
						em{
							color:$COL_White;
							@include Mix_Font('Txt-M', 18, 29);
						}
						i{
							color:$COL_White;
							@include Mix_Font('Txt-R', 14, 29);
						}
					}
					.mine{
						color:$COL_White;
						em{
							@include Mix_Font('Txt-M', 12, 20);
						}
						i{
							@include Mix_Font('Txt-R', 12, 20);
						}

					}
				}
				.etc {
					color: #fff;
					@include Mix_Font('Txt-R', 12, 19);
					em {
						@include Mix_Font('Txt-M', 12, 19);
					}
				}
			}
		}
	}
}
// [03]. COMING SOON
.gmain03_coming{
	padding: 0 !important;
	> h2.tit{
		position:absolute !important;
		top:30px;
		left:0;
		z-index:5;
	}
	.swiper-pagination{
		@include Pos(absolute, $r: 0, $b: 30px, $l: 0, $z: 2);
	}
	> ol.list{
		li{
			flex-shrink:0;
			display:flex;
			width:100%;
			height:100%;
			margin-right:0;
			transition-property:transform;
			.unit_coming{
				.noti{
					bottom:calc(88px + 30px);
				}
				.btn_mid04{
					bottom:calc(30px + 30px);
				}
				.unit_info{
					top:72px;
					.drive{
						em{
							&::after{
								width:2px;
								height:2px;
							}
						}
					}
				}
			}
		}
	}
	.entry_mycar{
		display:block;
		position:relative;
		margin-top: -30px;
		.img{
			display:block;
			img{
				width:100%;
			}
		}
		> p.txt{
			position:absolute;
			top:30px;
			left:21px;
			display:block;
			color:$COL_White;
			@include Mix_Font('Txt-R', 15, 24);
			.btn_txt06{
				display:inline-block;
				margin-top:20px;
				@include Mix_Font('Txt-R', 14, 23);
				&::after{
					bottom:4px;
					right:-15px;
				}
			}
		}
	}
}

.gmain_reg {
	height: 500px;
	margin: 0 15px 20px;
	padding: 30px 21px;
	background: {
		size: cover;
		position: 50% 0;
	}
	color: #fff;
	@include Mix_Font('Txt-R', 15, 24);
	.link_txt {margin-top: 20px;}
	.link {
		position: relative;
		@include Mix_Font('Txt-R', 13, 14);
		text-decoration: none;
		border-bottom: 1px solid;
		color: #fff;
		&::after {
			content: "";
			transform: translateY(-50%);
			@include Pos($p: absolute, $t: 8px, $r: -11px);
			@include Icon_Arr_Right(1.5,"FFFFFF");
		}
	}
}

// [04]. 서비스 안내
.gmain04_service{
	padding-bottom: 40px !important;
	.swiper-pagination{
		bottom:40px !important;
	}
	> ol.list{
		margin-left:21px;
		li{
			&:last-of-type{
				width:calc(225px + 21px);
				padding-right:21px;
			}
			flex-shrink:0;
			display:flex;
			width:225px;
			height:100%;
			margin-right:16px;
			transition-property:transform;
			> a{
				display:block;
				> span{
					display:block;
	
					&.img{
						width:100%;
						margin-bottom:16px;
					}
					&.tit{
						color:$COL_White;
						@include Mix_Font('Head-L', 14, 19);
					}
					&.txt{
						margin-top:5px;
						color:map-get($COL_Base_02, "bg_dark") ;
						@include Mix_Font('Txt-R', 12, 20);
					}
				}
				
			}
		}
	}
}

// FO-PL-MS0022 기본 옵션 , FO-PL-MS0023 추가 옵션
.main_option{
    overflow:auto;
	word-break: keep-all;
    max-height:406px;
	padding: 5px 25px 0;
	&.basic{
		> li{
			padding:.0 0 20px;
			&:not(:first-child){
				padding: 20px 0;
			}
		}
	}
	> li{
		border-bottom: 1px solid map-get($COL_Box_02, "bg_light");
		padding: 10px 0;
		&:last-child{
			margin-bottom: 35px;
		}
		.tit_btn{
			position:relative;
			width:100%;
			padding: 10px 0;
			color:$COL_Black;
			@include Mix_Font('Head-R', 15, 20);
			&::before{
				display:block;
				@include Icon_Arr(1.5,727272);
			}
		}
		.incont{
			display:none;
			width:100%;
			padding:6px 0 10px;
			.inbullet{
				&:not(:last-child){
					padding-bottom: 16px;
				}
				.bullet_txt{
					position: relative;
					padding-left: 8px;
					margin-bottom: 4px;
					&::before{
						content: "";
						display: block;
						@include Pos($p:absolute,$l:0,$t:50%);
						width: 2px;
						height: 2px;
						background-color: map-get($COL_Base_04, "bg_light" );
						transform: translateY(-50%);
					}
				}
				.txt{
					padding-left: 8px;
				}
			}
		}

		.tit{
			color:map-get($COL_Highlight, "bg_light");
			@include Mix_Font('Head-R', 15, 20);
			margin-bottom: 16px;
		}
		.txt{
			color:map-get($COL_Base_02, "bg_light");
			@include Mix_Font('Txt-R', 12, 19);
	
		}
		&.on{
			border-bottom:solid 1px map-get($COL_Highlight, "bg_light");
			.tit_btn{
				color:map-get($COL_Highlight, "bg_light");
				&::after{
					transform:translateY(-50%) rotate(180deg);
				}
			}
			.incont{
				display: block;
			}
		}
	}
}

.thumb .unit_info .drive em {
	padding: 0 !important;
	&:last-of-type {display: inline-block;}
}

.select_model {
	padding:10px 21px 0;
	&--txt {
		@include Mix_Font('Head-R', 18, 24);
	}
	&__box {margin-top: 10px;}
	&__item {
		position: relative;
		display: block;
		height: 85px;
		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			z-index: -1;
			&:checked ~ .item-cont {
				.item-name {
					color:$COL_Black;
				}
				&:before {background-position: -78px -90px;}
				&:after {border-bottom: 1px solid map-get($COL_Highlight,'bg_light');}				
			}
		}
		.item {
			&-cont {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%; height: 100%;
				padding-right: 40px;
				border-bottom: 1px solid #ededed;
				&:before {
					content: "";
					@include Pos(absolute, $t: 50%, $r: 0);
					width: 24px; height: 24px;
					margin-top: -12px;
					@include Mix_Form_Bg;
					background-position: -107px -90px;
				}
				&:after {
					content: "";
					@include Pos(absolute, $r: 0, $b: 0, $l: 0);
					border-bottom: 1px solid #ededed;
				}
			}
			&-img img {width: 90px; height: 54px;}
			&-name {
				margin-left: 16px;
				@include Mix_Font('Head-R', 15, 20);
				color:map-get($COL_Base_01,'bg_light');
			}
		}
	}
}

.link_model {
	padding:24px 12px 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__item {
		width: 50%;
	}
	&__item:nth-of-type(2) ~ &__item {
		margin-top: 35px;
	}
	&__link {
		display: flex;
		flex-direction: column;
		text-align: center;
		.item_img img {
			width: 150px;
		}
		.item_name {
			margin-top: 10px;
			@include Mix_Font('Txt-R', 15, 19);
		}
	}
}