@charset 'utf-8';
/* 
	내차팔기
*/
@import '../_common/g_function';
@import '../_common/g_mixins';

// @import '../_layout/g_sale_form';// 내차팔기 form
@import '../_layout/g_sale_photo'; //사진등록
@import '../_layout/g_sale_info';// 안내 레이어 POPUP

.chk_type07 {
	~ label {
		position: relative;
		display: block;
		&:before {
			content: "";
			position: absolute;
			top: 50%; right: 0;
			width: 24px; height: 24px;
			margin-top: -12px;
			@include Mix_Form_Bg;
			background-position: -107px -90px;
		}
	}
	&:checked ~ label:before {
		background-position-x: -78px;
	}
}

/* 공통 슬라이드 */
.sale_mycar_swiper01 {
	margin: 30px 15px 0;
	padding: 0 0 25px;
	background:  #fff;
	overflow: hidden;
	.swiper-slide{
		width:100%;
		margin-right:15px;
		&:last-child{
			margin-right:0;
		}
	}
	.swiper-pagination-bullets {
		display: flex;
		overflow: hidden;
		position: relative;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}
	.sale_slide_item{
		display:inline-block;
		position: relative;
		width: 100%;
		padding:20px 18px; 
		background-color:$COL_White;
		box-shadow:0px 0px 5px rgba($COL_Black, 0.015);
		.btn_send {
			position: relative;
			width: 100%;
			text-align: left;
			margin-bottom: 20px;
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:50%;
				right:0;
				width:7px;
				height:12px;
				@include Mix_Sale_Bg;
				background-position:-270px 0;
				transform:translateY(-50%);
			}
			span {
				display: inline-block;
				padding: 4px 7px 3px;
				@include Mix_Font('Txt-R', 11, 18);
				background: map-get($COL_Base_01, "bg_light"); 
				color: $COL_White;
			}
		}
		.unit_info{
			position:relative;
			width: 100%;
			@include Mix_Unit_Drive(map-get($COL_Base_02 , "bg_light"), map-get($COL_Line_01 , "bg_light"), 4px);
			@include Mix_Unit_Price($COL_Black);
			.name{
				.model{
					color:$COL_Black;
					@include Mix_Font('Head-R', 14, 19);
					@include Mix_Ellipsis(2);
				}
			}
			.drive{
				overflow:hidden;
				display:block;
				margin-top:3px;
				@include Mix_Font('Txt-R', 11, 18);
				em {
					display: inline-block;
				}
			}
			.price {
				margin: 0;
			}
		} 
		.unit_top{
			padding: 0 2px;
			.tit{
				color:$COL_Black;
				@include Mix_Font('Txt-M', 15, 24);
			}
			.num{
				position:relative;
				margin-left:10px;
				padding-left:10px;
				color:map-get($COL_Base_04 , "bg_light");
				@include Mix_Font('Head-R', 12, 16);
				&::before{
					content:'';
					position:absolute;
					top:50%;
					left:0;
					width:1px;
					height:12px;
					background-color:#959595;
					transform:translateY(-50%);
				}
			}
		}
		.unit_mid{
			display:flex;
			gap:0 16px;
			padding:18px 0;
		}
		.unit_bot{
			margin-top: 18px;
			.tit{
				display:flex;
				padding:16px 0;
				border-top:solid 1px map-get($COL_Box_02, "bg_light");
				color:map-get($COL_Base_04 , "bg_light");
				.txt{
					flex:1;
					@include Mix_Font('Txt-M', 13, 21);
				}
				.date{
					@include Mix_Font('Txt-R', 12, 20);
				}
			}
			.money{
				display: block;
				position:relative;
				padding:10px 0 10px 12px;
				background-color:map-get($COL_Box_01, "bg_light");
				text-align: center;
				color:map-get($COL_Base_02 , "bg_light");
				@include Mix_Font('Txt-R', 12, 19);
				&::after{
					content:'';
					display:inline-block;
					width:8px;
					height:12px;
					margin-left: 7px;
					@include Mix_Sale_Bg;
					background-position:-270px 0px;
					transform:translateY(-50%);
					vertical-align: -9px;
				}
			}
		}
		.btn_del01 {
			position: absolute;
			right: 20px;
			top: 15px;
		}
	}

	.sale_slide_item02{
		display:inline-block;
		position: relative;
		width: 100%;
		padding: 24px 20px 0;
		.mid_area {
			.unit_info{
				position:relative;
				width: 100%;
				.name{
					.num{
						display:block;
						color: map-get($COL_Highlight , "bg_light");
						@include Mix_Font('Head-R', 14, 19); 
					}
					.model {
						display: block;
						margin: 5px 0 0;
					}
				}
				.price{
					display: block;
					width: 100%;
				}
			} 
			.unit_img{
				width: 120px;
				height: 72px;
			}
			.unit_mid{
				display:flex;
				align-items: center;
				gap:0 16px;
				padding:10px 0;
			}
		}
		.link_mycar {
			position: relative;
			display: block;
			height: 100px;
			padding-top: 72px;
			text-align: center;
			@include Mix_Font('Head-R', 14, 18);
			color:map-get($COL_Base_03 , "bg_light");
			&:before {
				content: '';
				position: absolute;
				top: 30px; left: 50%;
				width: 28px; height: 28px;
				margin-left: -14px;
				@include Mix_Sale_Bg;
				background-position: -160px -50px;
			}
		}
	}
}

.sale_car_process {
	margin: 20px 0 0 6px;
	li {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0 0 20px 22px;
		background: url('../img/bg_line.png') no-repeat 6px 20px / 1px;
		@include Mix_Font('Txt-R', 12, 20);
		color: map-get($COL_Base_02, 'bg_light');
		&:first-child strong {
			color: map-get($COL_Base_04, 'bg_light');
		}
		&:last-child {
			background: none;
		}
		&:before {
			content: "";
			position: absolute;
			top: 6px; left: 3px;
			width: 8px; height: 8px;
			border: 1px solid map-get($COL_Base_01, 'bg_light');
			border-radius: 50%;
		}
		&:first-child:before {
			background: map-get($COL_Highlight, 'bg_light');
			border: 0;
		}
	}
	strong {
		@include Mix_Font('Txt-M', 14, 21);
	}
}

.sale_head01 { 
	background: $COL_Black;	
	.cpo_tooltip {
		.open {
			background-position: -21px -148px;
		}
		.cont {
			background: $COL_Black;
			border-color: map-get($COL_Line_02, 'bg_dark');
		}
		.txt {
			color: $COL_White;
		}
		.notice01 li {
			color: $COL_White;
			&:before {
				background: $COL_White;
			}
		}
	} 
}
.sale_head02 { background: map-get($COL_Box_01, "bg_light"); }

.sale_progress{
	width:100%;
	position:fixed;
	left:0;
	top:49px;
	background:map-get($COL_Line_01 , "bg_light");
	z-index:601;
	span{
		display:block;
		height:1px;
		background:map-get($COL_Highlight, "bg_dark");
		@include Mix_Size_0;
	}
}

.sale_hello{
	position: fixed;
	top: 134px; right: 30px; left: 30px;
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 1s, transform 1s;
	.ready & {
		opacity: 1;
		transform: translateY(0);
	}
	.show & {
		opacity: 0;
		transform: translateY(-100px);
	}
	&--title {
		@include Mix_Font('Head-L', 80, 108);
		color: $COL_White;
	}
	&--txt {
		display: flex;
		flex-direction: column;
		padding: 0 5px;
		color: map-get($COL_Base_04, "bg_dark"); 
		strong {
			@include Mix_Font('Head-R', 18, 25);
			color: $COL_White;
		}
		span {
			margin-top: 2px;
			@include Mix_Font('Head-L', 16, 22);
		}
	}
}

.entry_start {
	.show & {
		opacity: 1;
	}
	position:relative;
	transition: opacity 1s 1s;
	opacity: 0;
	padding:30px 30px;
	> .top{
		> .txt{
			color:$COL_White;
			@include Mix_Font('Head-L', 15, 21);
		}
		h5.tit{
			display:inline-block;
			margin-top: 6px;
			color:$COL_White;
			@include Mix_Font('Head-L', 20, 27);
		}
	}
	.entry{
		position:relative;
		margin:32px 0 20px;
		border: 0;
		.txt {
			width:100%;
			padding:3px;
			background:transparent;
			border:0;
			outline:0;
			margin-top:5px;
			caret-color:rgba(255,255,255,0.5);
			color:$COL_White;
			@include Mix_Font('Head-R',44, 55);
			&::placeholder{
				color: #333;
				line-height:inherit;
			}
		}
		&:after {
			content:"";
			position: absolute;
			left: 50%; bottom: 0;
			width: 100%; height: 1px;
			transform: translateX(-50%);
			background: map-get($COL_Highlight , "bg_light");
		}
		.inp_txt02{// 입력
			width:100%;
			padding:3px 3px 8px 3px;
			background:transparent;
			border:0;
			outline:0;
			border-bottom:1px solid map-get($COL_Highlight , "bg_light");
			margin-top:0;
			caret-color:rgba($COL_Black, 0.5);
			color:$COL_Black;
			@include Mix_Font('Head-R',30, 41);
			&::placeholder{
				color: map-get($COL_Line_01 , "bg_light");
				line-height:inherit;
			}
		}
		.btn_area{
			position:absolute;
			top:50%;
			right:0;
			color:map-get($COL_Line_02 , "bg_light");
			transform: translateY(-50%);
			@include Mix_Font('Txt-R',20, 32);
			.btn_ok01{
				&.off{
					display:none;
				}
			}
		}
		> ol{
			li{
				//border-bottom:1px solid $COL_Base_03;
				.review_textarea{
					display:none;
				}
			}
		}
	}
	.navi{
		li{
			margin-bottom:12px;
		}
	}
}

.step1_box {
	.entry:after {
		width: 0;
		transition: width 1s 1s;
		.show & {
			width: 100%;
		}
	}
	.btn {
		width: auto;
		position: fixed;
		bottom: 30px; right: 20px; left: 20px;
		text-align: left;
		.btn_mid01 {
			padding: 1px 0 0 46px;
			text-align: left;
			font-size: 13px;
			&:before {
				content:"";
				position: absolute;
				top: 50%; left: 21px;
				width: 16px; height: 16px;
				margin-top: -7px;
				@include Mix_Sale_Bg;
				background-position: -285px 0;
			}
			&:after {
				content:'';
				position:absolute;
				right:18px;
				top:50%;
				margin-top:-3px;
				width: 7px;
				height:7px;
				border-right:1px solid $COL_White;
				border-bottom:1px solid $COL_White;
				transform: rotate(-45deg);
			}
		}
	}
}

.step2_box {
	transition: opacity 1s;
	.car_info {
		margin: 0 0 30px;
		p {
			display: flex;
			padding: 0 0 6px;
			border-bottom: 1px solid map-get($COL_Line_01, 'bg_dark');
			color: $COL_White;
		}
		.tit {
			@include Mix_Font('Txt-R', 13, 21);
		}
		.txt {
			margin-left: auto;
			@include Mix_Font('Txt-M', 13, 21);
		}
		.btn_txt_mid02 {
			margin-left: 6px;
			vertical-align: 1px;
		}
	}
}

.sale_proceeding {
	position: relative;
	padding: 78px 0 40px;
	text-align: center;
	&:before {
		content: "";
		position: absolute;
		top: 60px; left: 50%;
		width: 60px; height: 60px;
		margin-left: -26px;
		@include Mix_Error_Bg(-25px -80px);
	}
	.title {
		@include Mix_Font('Txt-M', 15, 24);
	}
	p {
		margin-top: 8px;
		@include Mix_Font('Txt-R', 13, 21);
		color: map-get($COL_Base_01, "bg_light"); 
	}
}
.sale_macar_proceeding {
	padding: 60px 0 40px;
	background: map-get($COL_Box_01, "bg_light"); 
	.title {
		padding: 0 20px;
		strong {
			@include Mix_Font('Head-R', 18, 25);
		}
		p {
			margin-top: 10px;
			color: map-get($COL_Base_04, "bg_light"); 
			@include Mix_Font('Txt-R', 14, 23);
		}
	}
	.sale_slide_item {
		padding-bottom: 0;
	}
}
.sale_mycar_impossible {
	padding: 0 15px 96px;
	.no_data {
		padding: 25px 0 0;
	}	
	.box_info {
		margin-top: 30px;
		padding: 25px 20px 30px;
		background: map-get($COL_Box_01, "bg_light"); 
		.title {
			display: block;
			margin-bottom: 15px;
			padding: 0 0 15px;
			border-bottom: 1px solid map-get($COL_Line_01, "bg_light");
			@include Mix_Font('Txt-M', 14, 23);
		}
		.info_cont p {
			@include Mix_Font('Txt_R', 13, 20);
			color: #666666;
			word-break: keep-all;
		}
		.notice_04 li {
			margin-top: 2px;
			font-size: 12px;
			line-height: 19px;
		}
		.notice_04 li ul {
			margin-top: 2px;
		}
		.notice_04 li li {
			margin: 0;
			@include Mix_Font('Txt_R', 11, 18);
			&:before {
				width: 4px; height: 1px;
			}
		}
	}
}

.corporation_car_contact {
	padding: 25px 15px 111px;
	background: map-get($COL_Box_01, 'bg_light');
	.info_txt {
		margin: 0 6px;
		@include Mix_Font('Txt-R', 14, 21);
		word-break: keep-all;
	}
	.form_list01 {
		margin-top: 30px;
		background: #fff;
		.textarea {
			.tit {
				z-index: 2;
			}
			width: auto;
			margin: -1px;
			border-color: map-get($COL_Box_02, 'bg_light');
			&.focus {border-color: $COL_Black;}
		}
	}
}

// .mycar_reg_info {
// 	padding: 0 15px 40px;
// 	.title {
// 		&:before {
// 			content: "";
// 			display: block;
// 			width: 60px; height: 60px;
// 			margin: 0 auto 8px;
// 			@include Mix_Error_Bg(-25px -80px);
// 		}
// 		text-align: center;
// 		@include Mix_Font('Txt-M', 16, 24);
// 		color: $COL_Base_03;
// 	}
// 	.txt {
// 		margin-top: 8px;
// 		text-align: center;
// 		@include Mix_Font('Txt-R', 14, 21);
// 		color: $COL_Base_01;
// 	}
// 	.reason {
// 		margin-top: 30px;
// 		padding: 25px 20px 30px;
// 		background: $COL_Light;
// 		&_tit {
// 			margin: 0 0 15px;
// 			padding: 0 0 15px;
// 			@include Mix_Font('Head-M', 15, 19);
// 			border-bottom: 1px solid $COL_Line_Dark;
// 		}
// 	}
// }

.sale_mycar_wrap {
	overflow-y: auto;
	top: 0; bottom: 0; left: 100%;
	right: auto;
	height: auto;
	&.active {
		left: 0;
	}
	.p_wrap {
		height: auto;
		padding: 60px 0 0;
		background-color: map-get($COL_Box_02, "bg_light");
	}
	.user_info {
		padding: 0 21px;
		.user_name {
			@include Mix_Font('Head-L', 24, 33);
			color:$COL_Black;
			strong {
				@include Mix_Font('Head-R', 24, 33);
			}
		}
		a.user_name {
			&::after{
				content:'';
				display:inline-block;
				width:24px;
				height:24px;
				margin-left:8px;
				@include Mix_Sale_Bg;
				background-position:-229px 0px;
				vertical-align:middle;
			}
		}
		p {
			margin-top: 5px;
			@include Mix_Font('Txt-R', 14, 23);
			color: map-get($COL_Base_02 , "bg_light");
		}
	}
}
.sale_mycar_links{
	padding-top: 30px;
	border-bottom: 8px solid map-get($COL_Box_01, "bg_light");
	ul {
		padding:10px 21px;
		background-color:$COL_White;
		border-bottom: 1px solid map-get($COL_Box_02, "bg_light");
	}
	li{
		border-bottom:solid 1px map-get($COL_Box_01, "bg_light");
		a {
			display:flex;
			align-items: center;
			position:relative;
			min-height: 78px;
			padding:0 0 0 66px;
			color:$COL_Black;
			@include Mix_Font('Head-R', 15, 21);
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 52px;
				height: 52px;
				@include Mix_Sale_Bg;
				transform: translateY(-50%);
			}
			&::after{
				content:'';
				display:block;
				position:absolute;
				top:50%;
				right:0;
				width:7px;
				height:12px;
				@include Mix_Sale_Bg;
				background-position:-270px 0;
				transform:translateY(-50%);
			}
			&.link_mypage:before {
				background-position:0px -53px;
			}
			&.link_service:before {
				background-position:-53px -53px;
			}
			&.link_chatbot:before {
				background-position: -106px -53px;
			}
		}
		&:last-child{
			border-bottom:0;
		}
	}
}
.sale_mycar_qna {
	padding:35px 15px;
	background: $COL_White;
	border-top: 1px solid map-get($COL_Box_02 , "bg_light");
	.title {
		margin: 0 6px;
		@include Mix_Font('Txt-B', 15, 24);
	}
	.qa_toggle {
		.toggle {
			.on .item {display:block;}
			.tit_btn {
				display:flex;
				min-height:55px;
				padding:18px 36px 18px 21px;
				align-items: center;
				@include Mix_Font('Head-R', 14, 19);
				border-bottom:1px solid map-get($COL_Line_01, "bg_light");
				span {
					position:absolute;
					top:18px;
					left:6px;
					margin-right:4px;
					color: map-get($COL_Highlight, "bg_light");
					@include Mix_Font_Head_B;
				}
			}
			.item {
				display:none;
				margin:-1px -21px 0;
				background:map-get($COL_Box_01, "bg_light");
				padding:25px 25px 25px 21px;
				border-top:1px solid map-get($COL_Line_01, "bg_light");
				border-bottom:1px solid map-get($COL_Line_01, "bg_light");	
				@include Mix_Font('Txt-R' , 13, 21);
			}
		}
	}
	.btn_area{
		margin-top: 18px;
		text-align: center;
	}
}
.sale_mycar_notice {
	&.corporation_car_type {
		padding: 40px 20px 116px;
	}
	padding: 30px 21px;
	background-color: map-get($COL_Box_01, "bg_light");
	.title {
		margin: 0 0 16px;
		@include Mix_Font('Text-M', 15, 24);
		color: $COL_Black;
	}
}

.mycar_model_header {
	padding: 20px 21px 30px;
	.txt1 {
		@include Mix_Font('Head-L', 24, 33);
	}
	.txt2 {
		margin-top: 10px;
		@include Mix_Font('Txt-R', 15, 23);
		color: map-get($COL_Base_04, "bg_lignt");
	}
}

.sale_car_info{
	padding-bottom: 56px;
	.btn_sticky button {
		@include Mix_Box_Bg01(map-get($COL_Base_05, "bg_light"));
		border:1px solid map-get($COL_Base_05, "bg_light");
	}
	.sale_step01{
		position:relative;
		z-index:3;
		background-color:$COL_White;
		transition: height 1.2s;
		.ready & {
			padding: 0;
			height: 84px !important;
		}
		.head{
			position:fixed;
			top:0;
			width:100%;
			height:280px;
			margin-top:-400px;
			background:$COL_Black;
			text-align:center;
			transition: margin 0.5s linear, height .5s;
			z-index: 2;
			.on & {
				margin-top: 0;
			}
			.ready & {
				transition: height 1s;
				height: 134px;
			}
			.txt{
				display:block;
				padding-top:70px;
				color:$COL_White;
				@include Mix_Font('Head-L', 24, 33);
				opacity:0;
				.on & {
					padding-top:90px;
					opacity:1;
					transition:all 0.1s linear;
					transition-delay:0.45s;
				}
				.ready & {
					opacity: 0;
					transition: none;
				}
			}
			.txt2{
				display:inline-block;
				position:absolute;
				top:71px;
				left:21px;
				text-align:left;
				opacity:0;
				transition:opacity 1s linear;
				.ready & {
					opacity: 1;
				}
				>span{
					display:block;
					color:$COL_White;
					&.num{
						@include Mix_Font('Txt-M', 16, 26);
					}
					&.name{
						margin-top:3px;
						@include Mix_Font('Txt-R', 12, 20);
						em{
							padding:0 6px;
						}
					}
				}
			}
			.imgs{
				position:absolute;
				transition:all 0.2s linear;
				top:190px;
				right: 50%;
				transform: translateX(50%);
				opacity: 0;
				img{
					width: 270px;
					margin:0 auto;
				}
				.on & {
					top:180px;
					opacity:1;
					transition:top .3s linear, opacity .3s linear;
					transition-delay:0.8s;
				}
				.ready & {
					top: 69px; right: 21px;
					transform: translateX(0);
					transition: top .9s, right .9s, transform .9s .05s;
					img {
						width: 94px;
						margin: 0;
						transition: width .9s linear;
					}
				}
			}
		}
		.list{
			padding-top:230px;
			opacity:0;
			transform: translateY(30px);
			transition:all .5s linear;
			transition-delay: .9s;
			.on & {
				opacity: 1;
				transform: translateY(0);
			}
			.ready & {
				position: absolute;
				bottom: 0; right: 0; left: 0;
			}
			ul{
				margin-top:20px;
				padding:60px 21px;
				li{
					display:flex;
					padding:9px 0;
					border-bottom:solid 1px rgba($COL_Black, 0.04);
					.tit{
						color:map-get($COL_Base_02 , "bg_light");
						@include Mix_Font('Txt-R', 12, 20);
					}
					.txt{
						flex:1;
						color:$COL_Black;
						@include Mix_Font('Txt-M', 12, 20);
						text-align:right;
					}
				}
			}
		}
	}
	.sale_step02{
		padding:60px 21px;
		background:$COL_White url('../img/@thumb/sale_car_bg01.png') no-repeat 0 0;
		background-size:cover;
		opacity:0;
		transform: translateY(100px);
		transition:all .5s linear;
		transition-delay: .9s;
		color:$COL_White;
		.on & {
			opacity: 1;
			transform: translateY(0);
		}
		.tit {
			@include Mix_Font('Head-L', 30, 41);
		}
		.txt{
			display:block;
			margin-top: 10px;
			@include Mix_Font('Txt-R', 14, 23);
			span{
				display:inline-block;
				position:relative;
				margin-bottom:10px;
				color:map-get($COL_Box_01, "bg_light");
				@include Mix_Font('Txt-M', 16, 26);
				&::after{
					content:'';
					position:absolute;
					left:0;
					bottom:0;
					width:100%;
					height:1px;
					background-color:map-get($COL_Highlight, "bg_dark");
				}
				em{
					margin-right:4px;
					@include Mix_Font('Head-R', 36, 49);
				}
			}
		}
		.txt2{
			margin-top:20px;
			color:map-get($COL_Base_05 , "bg_dark");
			@include Mix_Font('Txt-R', 11, 18);
		}
		.txt3 {
			margin-top:10px;
			color:$COL_White;
			@include Mix_Font('Txt-R', 14, 22);
		}
		.graph{
			margin-top:25px;
			img{
				width:100%;
			}
		}
	}
	.sale_banner {
		display: none;
		height: 186px;
		margin: 40px 15px 0;
		padding: 20px;
		background: {
			repeat: none;
			size: cover;
			position: 50% 50%;
		}
		p {
			color: #fff;
			@include Mix_Font('Head-R', 22, 28);
		}
	}
	.sale_step03{
		display: none;
		padding:120px 15px 60px;
		background-color:$COL_White;
		transition:all 0.2s linear;
		h4.tit{
			margin-bottom:16px;
			padding:0 6px;
			color:$COL_Black;
			@include Mix_Font('Head-R', 17, 20);
		}
		.review_list01 > ol > li{
			width:100% !important;
			margin-right:8px;
		}
	}
	.sale_step04{
		width:100%;
		height:600px;
		padding-top:60px;
		background:url('../img/@thumb/car_sale_bg02.png') no-repeat 0 0;
		background-size:cover;
		color:$COL_White;
		@include Mix_Font('Head-L', 26, 36);
		text-shadow:0px 0px 2px rgba($COL_Black, 0.6);
		text-align:center;
		transition:all 0.2s linear;
	}
	.btn_sale{
		height:56px;
		background-color:$COL_White;
		transform: translateY(100%);
		.ready & {
			transform: translateY(0);
			transition: transform .8s 1s;
		} 
	}
}
.sale_car_info02 {
	margin: -50px 0 0;
	background: $COL_White;
	.sale_step02 {
		padding-top: 110px;
		transform: none;
		opacity: 1;
	}
	.sale_step02_02{
		padding:40px 21px;
		.tit{
			margin-bottom:20px;
			color:$COL_Black;
			@include Mix_Font('Head-R', 18, 25);
		}
		section ~ section {
			margin-top: 40px;
		}
		.box {
			background-color: map-get($COL_Box_01, "bg_light");
			padding: 35px 21px 15px 6px;
		}
		.sale_car_process {
			margin-top: 0;
		}
	}
}

.entry_carmore{
	margin-top: -50px;
	min-height: 100vh;
	background: $COL_White;
	overflow: hidden;
	&.on {
		.sale_prcir01{height: 326px;}
		.sale_prcir01 .inner {opacity: 1;}
		.sale_prcir01 .img_car {
			transform: translateX(100%);
		}
		.sale_car02 {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&.ready {
		.sale_prcir01 .btn_area {
			opacity: 1;
			transform: translateY(0);
		}
		.sale_car02 {
			opacity: 0;
			transform: translateY(50px);
			transition: all 1s;
		}
		.entry_more {opacity: 1;}
		.entry_more li,
		.entry_more > .btn_area {
			opacity: 1;
			transform: translateY(0);
		}
	}
	.sale_prcir01{
		height: 100vh;
		background:$COL_Black;
		transition: height 1s;
		.inner {
			position: relative;
			height: 326px;
			padding:80px 21px 0;
			opacity: 0;
			transition: opacity 1s;
		}
		.tit{
			color:$COL_White;
			@include Mix_Font('Head-L', 16, 22);
			> span{
				display:block;
				&.price{
					position:relative;
					display:inline-block;
					margin:8px 0 13px;
					@include Mix_Font('Txt-R', 15, 49);
					> em{
						@include Mix_Font('Head-R', 36, 49);
					}
					&::after{
						content:'';
						display:block;
						width:100%;
						height:1px;
						margin-top:-9px;
						background:map-get($COL_Highlight, "bg_dark");
					}
					
				}
			}
		}
		.txt {
			margin-top: 15px;
			@include Mix_Font('Txt-R', 12, 18);
			color: #fff;
		}
		.btn_area{
			position: absolute;
			bottom: 42px; left: 21px;
			text-align: left;
			opacity: 0;
			transform: translateY(50px);
			transition: all 1s 1s;
		}
		.img_car {
			position: absolute;
			left: 0;
			bottom: -50px;
			height: 201px;
			transform: translateX(-100%);
			transition: transform 2s 1s;
		}
	}
	.sale_car02{
		position: fixed;
		top: 326px; left: 0;
		width:100%;
		padding:14px 21px 0;
		background-color: $COL_White;
		opacity: 0;
		transform: translateY(50px);
		transition: all 1s 1s;
	}
	.car_info{
		display:flex;
		flex-flow:row;
		flex-wrap:wrap;
		dt{
			flex:0 0 100px;
			padding:16px 0;
			border-bottom:1px solid map-get($COL_Box_02 , "bg_light");
			color:$COL_Black;
			@include Mix_Font('Txt-M', 13, 21);

		}
		dd{
			flex:0 0 calc(100% - 100px);
			width:calc(100% - 100px);
			padding:16px 0;
			border-bottom:1px solid map-get($COL_Box_02, "bg_light");
			color:map-get($COL_Base_04 , "bg_light");
			@include Mix_Font('Txt-R', 13, 21);
		}
		.list{
			li{
				&:not(:last-of-type){
					margin-bottom:8px;
				}
			}
		}
		.tit{
			margin-bottom:4px;
			color:map-get($COL_Base_04 , "bg_light");
			@include Mix_Font('Txt-M', 13, 21);
		}
		.txt{
		}
		.bull{
			display:block;
			position:relative;
			z-index:1;
			padding:0 0 0 8px;
			&::before{
				content:'';
				display:block;
				width:2px;
				height:2px;
				position:absolute;
				top:8px;
				left:0;
				background:map-get($COL_Base_04 , "bg_light");
			}
		}
	}
	.entry_more{
		position: relative;
		opacity: 0;
		li{
			border-bottom:1px solid map-get($COL_Box_02, "bg_light");;
			opacity: 0;
			transform: translateY(50px);
			&.off{
				> a::after{
					content:'';
					position:absolute;
					top:50%;
					right:21px;
					transform:translateY(-50%);
					display:block;
					width:11px;
					height:18px;
					@include Mix_Sale_Bg;
					background-position:-159px 0;
				}
			}
		}
		li:nth-of-type(1) {transition: all 1s 1s;}
		li:nth-of-type(2) {transition: all 1s 1.5s;}
		li:nth-of-type(3) {transition: all 1s 2s;}
		[class^=link_]{
			position:relative;
			display:block;
			padding:37px 50px 37px 80px;
			&::before{
				content:'';
				position:absolute;
				top:50%;
				left:21px;
				transform:translateY(-50%);
				display:block;
				width:48px;
				height:48px;
				@include Mix_Sale_Bg;
			}
			> span{
				display:block;
				margin-bottom:3px;
				color:map-get($COL_Base_04 , "bg_light");
				@include Mix_Font('Head-R', 18, 25);
			}
			> em{
				display:block;
				color:map-get($COL_Base_03 , "bg_light");
				@include Mix_Font('Txt-R', 12, 20);
			}
			> i{
				position:absolute;
				top:50%;
				right:21px;
				transform:translateY(-50%);
				display:block;
				@include Mix_Font('Txt-M', 12, 16);
				&::before{
					content:'';
					display:block;
					margin:0 auto 10px;
					@include Mix_Sale_Bg;
				}
				@keyframes spin { 
					from { 
						transform: rotate(0deg); 
					} to { 
						transform: rotate(360deg); 
					}
				}
				&.ing{
					color:map-get($COL_Highlight , "bg_light");
					&::before{
						width:22px;
						height:22px;
						background-position:-202px 0;
						animation: spin 1000ms infinite linear;
					}
				}
				&.end{
					color:map-get($COL_Base_04 , "bg_light");
					&::before{
						width:22px;
						height:17px;
						background-position:-175px 0;
					}
				}
				&.yet{
					color:map-get($COL_Line_02 , "bg_light");
					&::before{
						width:22px;
						height:17px;
						background-position:-175px -22px;
					}
				}
			}
		}
		.link_option{
			&::before{
				background-position:0 0;
			}
		}
		.link_repair{
			&::before{
				background-position:-53px 0;
			}
		}
		.link_photo{
			&::before{
				background-position:-106px 0;
			}
		}
		> .btn_area{
			padding:22px 0;
			text-align:center;
			opacity: 0;
			transform: translateY(50px);
			transition: all 1s 2.5s;
		}
	}
}

.sale_cancel {
	padding: 20px 21px 40px;
	.txt {
		margin: 0 0 20px;
		@include Mix_Font('Txt-R', 14, 23);
		color: map-get($COL_Base_03, 'bg_light');
	}
	.sale_cancel_chk {
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid map-get($COL_Box_02, 'bg_light');;
		li ~ li {
			margin-top: 18px;
		}
	}
}

.sale_detail_header {
	position: relative;
	height: 302px;
	padding: 70px 20px;
	overflow: hidden;
	transition: height 1s;
	z-index: 2;
	&:before, &:after {
		content: "";
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
		background: map-get($COL_Box_02, 'bg_dark');
		z-index: -1;
		opacity: 1;
		transition: opacity 1s;
	}
	&:after {
		background: url('../img/@thumb/sale_car_bg02.png') no-repeat 0 0 / cover;
		opacity: 0;
	}
	h4{
		color:$COL_White;
		@include Mix_Font('Head-L', 16, 22);
		> span{
			display:block;
			&.price{
				position:relative;
				display:inline-block;
				margin:2px 0 12px;
				@include Mix_Font('Txt-R', 15, 24);
				> em{
					margin-right: 4px;
					@include Mix_Font('Head-R', 36, 42);
				}
				&::after{
					content:'';
					display:block;
					width:100%;
					height:1px;
					background: map-get($COL_Highlight , "bg_light");
				}
			}
		}
	}
	.txt {
		margin-top: 15px;
		@include Mix_Font('Txt-R', 11, 18);
		color: $COL_White;
	}
	.graph {
		position: absolute;
		bottom: 88px; left: 0;
		width: 100%; height: 232px;
		text-align: center;
		img {height: 100%;}
		opacity: 0;
		transition: opacity 1s;
	}
	.btn {
		position: absolute;
		bottom: 15px; right: 0; left: 0;
		text-align: center;
	}
	.btn button {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%; height: 33px;
		color: #fff;
		@include Mix_Font('Txt-R', 11, 17);
		.str {
			display: block;
			position: relative;
			transition: transform 1s;
			span {
				transition: opacity 1s;
			}
			&_close {
				position: absolute;
				top: 0; left: 0;
				width: 100%;
				text-align: center;
				opacity: 0;
			}
		}
		&:after {
			content: "";
			position: absolute;
			width: 30px; height: 10px;
			@include Mix_Sale_Bg;
			margin: 0 auto;
			background-position: -202px -27px;
			transform: translate(0, 23px);
			transition: transform 1s;
		}
	}
	&.open {height: 569px;
		&:before {opacity: 0;}
		&:after {opacity: 1;}
		.graph {opacity: 1;}
		.btn button .str {transform: translateY(16px);}
		.btn button .str_open {opacity: 0;}
		.btn button .str_close {opacity: 1;}
		.btn button:after {transform: translate(0, 0) rotate(-180deg);}
	}
	~ .sale_car02 {
		position: static;
		padding-top: 13px;
		opacity: 1;
		transform: translateY(0);
	}
}

.step3_box {
	position: relative;
	padding-top: 40px;
	.inner_box {
		position: absolute;
		top: 60px; left: 0; right: 0;
		z-index: -1;
	}
	.show {
		z-index: 2;
	}
	.top02 {
		opacity: 0;
		transition: opacity .5s;
	}
	.show .top02 {
		opacity: 1;
		transition-delay: .5s;
	}
	.step31_drive .top02 {transition: opacity .5s;} 
	.entry,
	.entry_carmore_options,
	.navi {
		transform: translateY(20px);
		opacity: 0;
		transition: opacity .5s, transform .5s;
	}
	.show .entry,
	.show .entry_carmore_options,
	.show .navi {
		transform: translateY(0);
		opacity: 1;
		transition-delay: .5s;
	}
	.step31_drive .entry,
	.step31_drive .entry_carmore_options,
	.step31_drive .navi {
		transition: opacity .5s, transform .5s;
	}

	.sale_carinfo{
		width:100%;
		padding:20px 21px 100px;
		&.show > .top {opacity: 1;}
		&.show ~ .btn_sticky {transform: translateY(0)}
		&.show .mycar_infobox > li {
			padding:16px 0;
			border-bottom:1px solid map-get($COL_Line_01 , "bg_light");
		}
		&:after {
			content: "";
			display: block;
			height: 20px;
			background: map-get($COL_Box_01, "bg_light");
			@include Pos($p: fixed, $r: 0, $b: 0, $l: 0);
		}
		> .top{
			padding:0 0 40px;
			opacity: 0;
			transition: opacity .5s;
			&::before{
				content:'';
				display:block;
				width:49px;
				height:49px;
				margin:0 auto 10px;
				@include Mix_Form_Bg;
				background-position:-136px -90px;
			}
			> .tit{
				color:$COL_Black;
				@include Mix_Font('Head-L', 28, 38);
				text-align:center;
			}
			> .txt{
				margin-top:8px;
				color:map-get($COL_Base_04 , "bg_light");
				@include Mix_Font('Txt-R', 14, 23);
				text-align:center;
			}
		}
		
		.mycar_infobox{
			@include Pos($p: fixed, $t: 100%, $r: 21px, $l: 21px);
			position: fixed;
			transition: transform .5s;
			> li{
				display:flex;
				padding: 8px 0;
				> .tit{
					margin-right: 20px;
					color:map-get($COL_Base_02 , "bg_light");
					@include Mix_Font('Txt-R', 13, 21);
					white-space: nowrap;
				}
				> .txt{
					margin-left: auto;
					@include Mix_Font('Txt-M', 13, 21);
					text-align:right;
					color:$COL_Black;
					[class^="btn_"]{
						margin-left: 4px;
						@include Mix_Font('Txt-R', 13, 21);
						vertical-align: 1px;
					}
					// .btn_txt07 {
					// 	color: map-get($COL_Highlight, "bg_dark");
					// 	&:after {
					// 		background-color: map-get($COL_Highlight, "bg_dark");
					// 	}
					// }
				}
			}
		}
	}
	&.finish .sale_carinfo .mycar_infobox {
		position: static;
		transition: none;
	}
	.btn_sticky {
		transform: translateY(100%);
		transition: transform .5s;
	}
}

.entry_carbase{
	padding: 0 21px;
	.top02{
		h5.tit{
			display:block;
			color:$COL_Black;
			@include Mix_Font('Head-L', 30, 41);
		}
		> .txt{
			margin-top:10px;
			color:map-get($COL_Base_01 , "bg_light");
			@include Mix_Font('Head-R', 13, 18);
		}
	}
	.entry{
		position:relative;
		margin:32px 0 20px;
		border: 0;
		.txt {
			width:100%;
			background:transparent;
			border:0;
			outline:0;
			color:$COL_Black;
			@include Mix_Font('Head-R',30, 41);
			&::placeholder{
				color: map-get($COL_Line_01, 'bg_light');;;
				line-height:inherit;
			}
		}
		&:after {
			content:"";
			position: absolute;
			left: 50%; bottom: 0;
			width: 100%; height: 1px;
			transform: translateX(-50%);
			background: map-get($COL_Highlight , "bg_light");
		}
		.btn_area{
			.btn_ok01{
				display: none;
				align-items: center;
				justify-content: center;
				font-size: 0;
				margin-left: 16px;
				&:after {
					content:"";
					display: inline-block;
					width: 25px; height: 24px;
					@include Mix_Form_Bg;
					background-position: -65px -140px;
				}
			}
		}
		&.delete_on .btn_ok01{display: flex;}
		.unit {
			margin-left: 10px;
			@include Mix_Font('Head-M', 20, 25);
			color:map-get($COL_Line_02 , "bg_light");
		}
		// > ol{
		// 	li{
		// 		//border-bottom:1px solid $COL_Base_03;
		// 		.review_textarea{
		// 			display:none;
		// 		}
		// 	}
		// }
	}
	.navi{
		li{
			margin-bottom:12px;
		}
	}
	.sale_modify .step32_edit &{
		padding:0 21px;
		height:auto;
		.top02{
			margin-bottom:35px;
		}
		> .entry{
			position: sticky;
			top: 0;
			left: 0;
			z-index: 3;
			width:100%;
			margin:0 0 10px;
			> ol{
				display:flex;
				flex-wrap:wrap;
				column-gap:9px;
				align-items:center;
				li{
					width:calc(1/3*100% - (1 - 1/3)*9px);
					text-align:center;
					.chk_type07 + label{
						padding:34px 0 0;
						&::before{
							top:0;
							left:50%;
							transform:translate(-50%, 0);
						}
						&::after{
							bottom:-10px;
						}

					}
				}
			}
		}
	}
}

.entry_carmore_options {
	margin: 10px 0 20px;
	li {
		position: relative;
		.chk_type07 ~ label {
			padding: 13px 0;
			@include Mix_Font('Txt-M', 15, 23);
		}
		.chk_type07 ~ label:after	{
			content: "";
			position: absolute;
			bottom: 0; right: 0; left: 0;
			border-bottom: 1px solid map-get($COL_Line_01, 'bg_light');
		}
		.chk_type07:checked ~ label {
			@include Mix_Font('Txt-B', 15, 23);
		}
		.chk_type07:checked ~ label:after {
			border-color: map-get($COL_Highlight, 'bg_light');
		}
		.chk_type07:checked ~ .box_textarea {height: 125px;}
		.chk_type07:checked ~ .box_input {
			height: 56px;
		}
		.box_textarea {
			position: relative;
			z-index: 3;
			margin-top: -1px;
			height: 0;
			overflow: hidden;
			transition: height .3s;
			background: none;
		}
		.textarea {
			height: 125px;
			background: none;
			border-color: map-get($COL_Highlight, 'bg_light');
			border-radius: 0;
			&.focus {
				padding-top: 15px;
			}
			textarea {
				background: none;
			}
			textarea::placeholder{
				color: map-get($COL_Base_01, 'bg_light');
			}
		}
		.box_input {
			position: relative;
			z-index: 2;
			margin-top: -1px;
			height: 0;
			overflow: hidden;
			transition: height .3s;
			background: none;
			.inbox_type01 {
				width: auto;
				min-height: 54px;
				margin: 0;
				padding: 0;
				background: none;
				border-color: map-get($COL_Highlight, 'bg_light');
			}
			.inbox_type01 .txt {
				display: block;
				height: 54px;
				padding: 15px 46px 15px 20px;
				opacity: 1;
			}
			.inbox_type01.on .txt {
				padding-top: 0;
			}
			.inbox_type01 .btn_delete {top: 15px;}
		}
	}
}

.car_modify{
	> .top{
		position:sticky;
		top:0;
		left:0;
		z-index:3;
		width:100%;
		height:57px;
		background:$COL_White;
		padding:26px 21px 0;
		.info{
			float:left;
			padding:3px 0 0 0;
			color:map-get($COL_Base_01 , "bg_light");
			@include Mix_Font('Head-R', 12, 17);
			&::before{
				content:'';
				display:inline-block;
				width:14px;
				height:11px;
				@include Mix_Form_Bg;
				background-position:-21px -131px;
				vertical-align:middle;
				margin:0 5px 0 0 ;
			}
		}
		.btn_reset01 {
			position: absolute;
			top: 25px; right: 21px;
			width: auto;
			text-decoration: underline;
			&:after {display: none;}
		}
	}

	.car_area{
		display:block;
		padding:0 21px 60px;
		dt{
			color:map-get($COL_Base_04 , "bg_light");
			> span{
				display:block;
			}
			.tit{
				@include Mix_Font('Head-R', 18, 25);
				color: map-get($COL_Base_04 , "bg_light");
			}
			.txt{
				margin-top: 4px; 
				@include Mix_Font('Txt-R', 13, 21);
				color: map-get($COL_Base_04 , "bg_light");
			}
			.txt2 {
				@include Mix_Font('Txt-R', 11, 18);
			}
			~ dt {
				margin-top: 30px;
				padding-top: 40px;
				border-top:1px solid map-get($COL_Line_01 , "bg_light");
			}
		}
		dd{
			padding:20px 0;
			.carimg_box{//여백 있음 안됨
				position:relative;
				z-index:2;
				&.up{
					[class^=btn_area]{
						width:10.5%;
						height:8.5%;
					}
				}
				&.down{
					[class^=btn_area]{
						width:5.5%;
						height:5.5%;
					}
				}
				.carimg{
					width:100%;
					img{
						width:100%;
					}
				}
			}
			.carimg_info{
				padding:20px 0 0;
				text-align:center;
				span{
					display:inline-block;
					margin:0 20px;
					@include Mix_Icon_Car_Edit(inline-block);
				}
			}
			[class^=btn_area]{
				position:absolute;
				border-radius:100%;
				width:10%;
				height:8%;
				@include Mix_Size_0;
				@include Mix_Icon_Car_Edit(block);
			}
			// 외판 중앙
			.btn_area001{top:0;		left:44.9%;}
			.btn_area002{top:8.9%;	left:44.9%;}
			.btn_area003{top:19.2%;	left:44.9%;}
			.btn_area004{top:81%;	left:45.1%;}
			.btn_area005{top:91.8%;	left:44.8%;}
			// 외판 좌측
			.btn_area006{top:14.7%;	left:11%;}
			.btn_area007{top:39.3%;	left:8.9%;}
			.btn_area008{top:56.3%;	left:8.9%;}
			// 외판 우측
			.btn_area009{top:14.7%;	left:78.8%;}
			.btn_area010{top:39.3%;	left:80.8%;}
			.btn_area011{top:56.3%;	left:80.8%;}
	
			// 골격 중앙
			.btn_area201{top:14%;		left:35%;}
			.btn_area202{top:25.6%;		left:34.8%;}
			.btn_area203{top:20%;		left:41%;}
			.btn_area204{top:14%;		left:59%;}
			.btn_area205{top:25.5%;		left:59%;}
			.btn_area206{top:20%;		left:53%;}
			.btn_area207{top:33.6%;		left:47.3%;}
			.btn_area208{top:52.9%;		left:47.3%;}
			.btn_area209{top:78.8%;		left:47.2%;}
			.btn_area210{top:89.1%;		left:47.3%;}
	
			// 골격 하단
			.btn_area211{top:72%;		left:33.1%;}
			.btn_area212{top:81.5%;		left:34.5%;}
			.btn_area213{top:72%;		left:61.4%;}
			.btn_area214{top:81%;		left:60%;}
	
			// 골격 좌측
			.btn_area215{top:46%;		left:4%;}
			.btn_area216{top:38%;		left:25%;}
			.btn_area217{top:51.9%;		left:23.4%;}
			.btn_area218{top:63.3%;		left:26.9%;}
			.btn_area219{top:84.3%;		left:16.3%;}
	
			// 골격 우측
			.btn_area220{top:46%;		left:90.5%;}
			.btn_area221{top:38%;		left:69%;}
			.btn_area222{top:51.9%;		left:71.4%;}
			.btn_area223{top:63.3%;		left:67.6%;}
			.btn_area224{top:84.3%;		left:78.3%;}
		}
	}

	.layer_caredit{
		position:fixed;
		left:50%;
		top:50%;
		z-index:10;
		transform:translate(-50%, -70%);
		width:230px;
		padding:18px;
		background:$COL_White;
		border:1px solid map-get($COL_Line_01 , "bg_light");
		box-shadow: 0px 4px 8px rgba($COL_Black, 0.06);
		display:none;
		> .tit{
			margin-bottom:10px;
			color:$COL_Black;
			@include Mix_Font('Head-R', 12, 17);
			text-align:center;
		}
		.inner{
			display:flex;
			flex-wrap:wrap;
			row-gap:9px;
			align-items:center;
			justify-content:space-between;
			label{
				width:calc(1/2*100% - (1 - 1/2)*5px);
			}
		}
	
	}
	
}

.scratch_info {
	padding: 5px 15px 0;
	.swiperType01 {
		padding: 0 0 21px;
		overflow: hidden;
	}
	.swiper-slide {
		display: block;
	}
	.swiper-slide .txt {
		margin-top: 15px;
		text-align: center;
		@include Mix_Font('Txt-R', 13, 20);
		color: map-get($COL_Base_04 , "bg_light");
	}
	&_box {
		padding: 20px;
		background: map-get($COL_Box_01, "bg_light");
		.tit {
			margin: 0 0 10px;
			@include Mix_Font('Head-R', 15, 19);
		}
		.notice_04 {
			display: flex;
			flex-wrap: wrap;
			padding-top: 15px;
			border-top: 1px solid map-get($COL_Line_01 , "bg_light");
			li {
				width: 50%;
				margin: 2px 0 0;
			}
		}
		.ex {
			margin-top: 15px;
			@include Mix_Font('Txt-R', 12, 18);
			color: map-get($COL_Base_01 , "bg_light");
		}
	}
}

.shipping_option_wrap {
	padding: 20px 25px 0;
	.option_list {
		color: map-get($COL_Base_04 , "bg_light");
		@include Mix_Font('Txt-R', 13, 21);
	}
	dt {
		margin-top: 14px;
		@include Mix_Font('Txt-M', 13, 21);
		&:first-child{
			margin-top: 0;
		}
	}
	dd {
		margin-top: 4px;
	}
}

.sale_photo{
	padding: 0 21px 90px;
	> .top{
		padding:60px 0 30px;
		h5.tit{
			color:$COL_Black;
			@include Mix_Font('Head-L', 30, 41);
		}
		.btn_combi01_01{
			margin-top:10px;
		}
	}
	> .innerbox_02{//(2). 추가 등록 사진
		padding-bottom: 30px;
		h6.tit{
			color:$COL_Black;
			@include Mix_Font('Head-R', 15, 21);
		}
		p.txt{
			margin:0 0 15px;
			color:map-get($COL_Base_01 , "bg_light");
			@include Mix_Font('Head-R', 12, 17);
		}
		.addphoto_list dl dt .file_morephoto[type=file] + label {
			background: rgba(228, 220, 211, 0.2);
		}
		.addphoto_list dl dt .file_morephoto[type=file] + label .span.t01 {
			font-size: 13px;
		}
	}
}

.car_reg_picture {
	> .p_wrap {
		padding-bottom: 30px;
	}
	.car_sample2 {margin-bottom: 0;}
}

.sale_confirm{
	padding-top: 40px;
	background-color: map-get($COL_Box_01, "bg_light");
	> .top{
		position:relative;
		padding:0 21px 15px;
		h4.tit{
			color:$COL_Black;
			@include Mix_Font('Head-R', 18, 25);
		}
		> .btn_txt_mid02{
			position:absolute;
			top:0;
			right:35px;
		}
	}
	> .inner{
		// margin:0 15px 40px;
		margin:0 15px 0;
		padding:25px 20px;
		background:$COL_White;
	}
	.car_info{// 차량 정보
		> dt{
			&:not(:first-of-type){
				margin-top:25px;
			}
			position:relative;
			color:$COL_Black;
			@include Mix_Font('Txt-M', 14, 23);
			> .btn_txt_mid02 {
				position:absolute;
				top:0;
				right:0;
			}
		}
		> dd{
			&:not(:last-of-type){
				padding:0 0 25px;
				border-bottom:1px solid map-get($COL_Box_02, "bg_light");
			}
			margin-top:8px;
			color:map-get($COL_Base_04 , "bg_light");
			@include Mix_Font('Txt-R', 13, 21);
			.list{
				li{
					&:not(:last-of-type){
						margin-bottom:8px;
					}
				}
			}
			.tit{
				margin-bottom:4px;
				color:map-get($COL_Base_04 , "bg_light");
				@include Mix_Font('Txt-M', 13, 21);
			}
			.txt{
			}
			.bull{
				display:block;
				position:relative;
				z-index:1;
				padding:0 0 0 8px;
				&::before{
					content:'';
					display:block;
					width:2px;
					height:2px;
					position:absolute;
					top:8px;
					left:0;
					background:map-get($COL_Base_04 , "bg_light");
				}
			}
		}
	}
	.car_photo{// 차량사진
		display:flex;
		flex-wrap:wrap;
		row-gap:9px;
		column-gap:10px;
		align-items:center;
		li{
			position:relative;
			overflow:hidden;
			width:calc(1/2*100% - (1 - 1/2)*10px);
			.img{
				display:block;
				width:100%;
				height:calc(50vw - 40px);
				overflow:hidden;
				img{
					width:100%;
					height:100%;
					object-fit:cover;
				}
			}
			.txt{
				display:inline-block;
				position:absolute;
				left:0;
				bottom:-1px;
				z-index:5;
				background:rgba($COL_Black, 0.7);
				transform:translateY(0);
				padding:6px 7px;
				color:$COL_White;
				@include Mix_Font('Txt-R', 10, 14);
			}
		}
	}
}

.sale_confirm2{
	padding:40px 35px 30px;
	background:$COL_Black;
	> h5.tit{
		margin-bottom:10px;
		color:$COL_White;
		@include Mix_Font('Head-L', 24, 33);
	}
	> .txt{
		margin-bottom:40px;
		color:map-get($COL_Base_05 , "bg_dark");
		@include Mix_Font('Txt-R', 13, 21);
	}
	> dl{
		margin-bottom:10px;
		position:relative;
		border-bottom:1px solid $COL_White;
		dt{
			width:100px;
			position:absolute;
			top:8px;
			right:0;
			img{
				width:100%;
			}
		}
		dd{
			> span{
				display:block;
				&.name{
					margin-bottom:2px;
					color:$COL_White;
					@include Mix_Font('Head-L', 15, 21);
				}
				&.number{
					margin-bottom:10px;
					color:$COL_White;
					@include Mix_Font('Head-R', 30, 41);
				}
			}
		}
	}
	> .list{
		li{
			&:not(:last-of-type){
				border-bottom:solid 1px map-get($COL_Box_02 , "bg_dark");
			}
			display:flex;
			padding:9px 0;
 			.tit{
				color:map-get($COL_Base_05 , "bg_dark");
				@include Mix_Font('Txt-R', 13, 21);
			}
			.txt{
				flex:1;
				color:$COL_White;
				@include Mix_Font('Txt-M', 13, 21);
				text-align:right; 
			}
		}
	}
}

.sale_confirm_info {
	background: map-get($COL_Box_01, 'bg_light');
	padding-bottom: 110px;
}

.sale_confirm3{
	padding-bottom: 76px;
	> .inner01{
		margin:41px 0 40px;
		word-break:keep-all;
		&::before{
			content:'';
			display:block;
			width:49px;
			height:49px;
			margin:0 auto 10px;
			@include Mix_Form_Bg;
			background-position:-136px -90px;
		}
		> .tit{
			color:$COL_Black;
			@include Mix_Font('Head-L', 24, 33);
			text-align:center;
		}
		> .txt{
			margin-top:10px;
			color:map-get($COL_Base_04 , "bg_light");
			@include Mix_Font('Txt-R', 13, 21);
			text-align:center;
		}
	}
	> .inner02{
		margin:0 15px 20px;
		padding:15px 20px;
		background:$COL_White;
		box-shadow: 0px 0px 5px rgba($COL_Black, 0.015);
	}
	> .inner03{
		margin:0 15px 20px;
		padding:25px 20px;
		background:$COL_White;
		box-shadow: 0px 0px 5px rgba($COL_Black, 0.015);
		> .txt01{
			margin-bottom:6px;
			color:$COL_Black;
			@include Mix_Font('Head-M', 15, 24);
			> span{
				color:map-get($COL_Highlight , "bg_light");
			}
		}
		> .txt02{
			margin-bottom:18px;
			color:map-get($COL_Base_02 , "bg_light");
			@include Mix_Font('Txt-R', 12, 20);
			word-break:keep-all;
		}
		> .txt03{
			> .btn_txt06{
				color:map-get($COL_Base_04 , "bg_light");
				&::before{
					display:none;
				}
				&::after{
					background-position:-47px 0;
					bottom: 5px;
				}
			}
		}
		
		.list{
			padding-top:14px;
			li{
				position:relative;
				border-left:1px dashed map-get($COL_Base_01 , "bg_light");
				padding:0 0 20px 15px;
				&::before{
					content:'';
					display:block;
					position:absolute;
					top:5px;
					left:-4px;
					z-index:2;
					width:8px;
					height:8px;
					border:1px solid map-get($COL_Base_01 , "bg_light");
					background:$COL_White;
					border-radius:100%;
				}
				&::after{
					content:'';
					display:block;
					position:absolute;
					top:0;
					left:-4px;
					width:8px;
					height:17px;
					background:$COL_White;
				}
				&.on{
					&::before{
						border:1px solid map-get($COL_Highlight , "bg_light");
						background:map-get($COL_Highlight , "bg_light");
					}
					.tit{
						color:map-get($COL_Base_04 , "bg_light");
					}
				}
				.tit{
					margin-bottom:2px;
					color:map-get($COL_Base_02 , "bg_light");
					@include Mix_Font('Txt-M', 13, 21);
				}
				.txt{
					color:map-get($COL_Base_02 , "bg_light");
					@include Mix_Font('Txt-R', 12, 20);
				}
				&:last-child{
					padding-bottom:0;
					border-left:0;
				}
			}
		}
	}
}

.lyer_prevowner {
	padding-bottom: 60px;
	.chk_type05 {
		& + label {
			display: block;
			padding:11px 0;
			border: 1px solid map-get($COL_Line_01 , "bg_light");
			background-color: transparent;
			color: map-get($COL_Base_02 , "bg_light");
			text-align:center;
		}
		&:checked + label {
			color: $COL_Black;
			border-color: $COL_Black;
		}
	}
	&_header {
		position: relative;
		padding: 25px 21px 0;
		&:after {
			margin: 30px -21px 0;;
			content: "";
			display: block;
			height: 10px;
			background: map-get($COL_Box_01 , "bg_light");
			border: {
				width: 1px 0;
				style: solid;
				color: map-get($COL_Box_02 , "bg_light");
			}
		}
		.txt1 {
			@include Mix_Font('Head-L', 24, 33);
			color: $COL_Black;
		}
		.txt2 {
			margin-top: 10px;
			@include Mix_Font('Txt-R', 13, 21);
			color: map-get($COL_Base_03 , "bg_light");
		}
		.txt3 {
			margin-top: 12px;
			@include Mix_Font('Txt-R', 12, 20);
			color: map-get($COL_Base_01 , "bg_light");
		}
	}
	.box_car_info {
		padding: 25px 21px;
		border-bottom: 1px solid map-get($COL_Box_02, "bg_light");
		.title {
			display: block;
			padding-bottom: 20px;
			@include Mix_Font('Txt-M', 15px, 24px);
			color:$COL_Black;
		}
		&:last-child {
			border-bottom: 0;
		}
	}
	.select_info {
		display: flex;
		flex-wrap: wrap;
		gap: 10px 0px;
		li {
			width: 100%;
		}
		&.col2 {
			gap: 7px 10px;
			li {
				width: calc(50% - 5px);
			}
		}
	}
}

.sale_modify{
	.entry_carbase{
		padding:25px 21px 0;
		.top02{
			h5.tit{
				@include Mix_Font('Head-L', 22, 30);
				color:$COL_Black;
			}
			.txt{// 수정하기 화면 툴팁 삭제
				display:none;
			}
		}
		.btn_txt06 {
			color: $COL_Black;
			&:before {
				background-color: $COL_Black;
			}
			
			&:after {
				background-position: -74px 0
			}
		}
	}
	.entry_carmore_options_type2 {
		display: flex;
		margin: 30px -9px 0;
		li {
			width: 33.33%;
			border: 0;
			padding: 0 9px;
			text-align: center;
		}
		.chk_type07 ~ label {
			padding: 0 0 10px;
		}
		.chk_type07 ~ label:before {
			position: static;
			display: block;
			margin: 0 auto 11px;
		}
	}
}



/* 보험 이력 안내 팝업 */
.insurance_history_wrap {
	padding: 52px 15px 30px;
	background-color: map-get($COL_Box_01, "bg_light");
	color: map-get($COL_Base_04 , "bg_light");
	.insurance_summary {
		padding: 0 6px;
		strong {
			display: block;
			@include Mix_Font('Head-R', 18, 25);
			color: $COL_Black;
			i {
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					height: 2px;
					background-color: map-get($COL_Highlight , "bg_light");
				}
			}
		}
		p {
			margin-top: 10px;
			@include Mix_Font('Txt-R', 14, 23);
		}
	}
	.insurance_history_list {
		margin-top: 30px;
		padding: 0 20px;
		background-color: $COL_White;
		strong {
			display: block;
			padding: 20px 0 16px;
			@include Mix_Font('Txt-M', 15, 24);
			border-bottom: 1px solid map-get($COL_Box_02, "bg_light");
		}
		ul {
			padding: 16px 0 20px;
		}
		li {
			overflow: hidden;
			margin-top: 8px;
			color: map-get($COL_Base_04 , "bg_light");
			.date {
				float: left;
				@include Mix_Font('Txt-M', 13, 21);
			}
			.price {
				float: right;
				@include Mix_Font('Txt-R', 12, 20);
			}
			&:first-child{
				margin-top: 0;
			}
		}
	}	
}