@charset 'utf-8';
/* 
	VOD 커머스
*/
@import '../_common/g_function';
@import '../_common/g_mixins';

.vod_commerce__main {
	margin-top: -50px;
	&:before {
		content: "";
		display: block;
		padding-top: 125%;
	}
	&__box {
		&:before {
			content: "";
			display: block;
			padding-top: 125%;
		}
		@include Pos($p: fixed, $t: 0, $r: 0, $l: 0);
		background: {
			size: cover;
			position: 50% 50%;
			repeat: no-repeat;
		}
	}
	&__title {
		@include Pos($p: absolute, $t: 70px, $r: 0, $l: 0);
		text-align: center;
		color: $COL_White;
		text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
	}
	.main__title {
		&--txt { @include Mix_Font('Head-R', 14, 19); }
		&--day {
			margin-top: 2px;
			@include Mix_Font('Head-R', 42, 56);
		}
		&--time {
			margin-top: 4px;
			@include Mix_Font('Head-R', 32, 43);
		}
	}
	&--play_btn {
		@include Pos($p: absolute, $t: 50%, $l: 50%);
		transform: translate(-50%, -50%);
		button {
			width: 60px; height: 60px;
			margin-bottom: 24px;
			@include Mix_Vod_Bg(0 -50px);
			font-size: 0;
		}
	}
	&__info {
		@include Pos($p: absolute, $r: 21px, $b: 40px, $l: 21px);
		color: $COL_White;
	}
	.main__info {
		&__state {
			display: flex;
			@include Mix_Font('Txt-R', 12, 19);
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
			.info__state--txt {
				padding: 3px 7px 1px;
				background: map-get($COL_Box_02, "bg_dark"); ;
			}
			.info__state--txt2 {
				padding: 3px 7px 1px;
				background: map-get($COL_Highlight, "bg_dark");
			}
			.info__state--num {
				padding: 3px 7px 1px;
				background: rgba(0, 0, 0, 0.6);
			}
		}
		&--txt {
			margin-top: 15px;
			@include Mix_Font('Head-L', 20, 27);
		}
		&__options {
			display: flex;
			margin: 10px 0 -5px;
			text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
			.info--option {
				margin-right: 15px;
				@include Mix_Font('Txt-R', 13, 20);
			}
			.item__ico {
				display: inline-block;
				margin-right:3px;
				width: 12px; height: 12px;
				font-size: 0;
				@include Mix_Bg_Setting;
				vertical-align: 1px;
				&--play {
					background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1101_6524)'%3E%3Cpath d='M5.5 5.14153L13.0411 9.75L5.5 14.3585L5.5 5.14153Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1101_6524' x='0' y='0.5' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1101_6524'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1101_6524' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
				}
				&--like {
					background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1101_6527)'%3E%3Cpath d='M8.64645 5.96466L9 6.31822L9.35355 5.96466L10.3182 5H12.1262L13.5 6.37377V9.29289L9 13.7929L4.5 9.29289V6.37377L5.87377 5H7.68178L8.64645 5.96466Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1101_6527' x='0' y='0.5' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1101_6527'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1101_6527' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
	}
	&__alerm {
		@include Pos($p: absolute, $t: 100%, $r: 0, $l: 0);
		display: flex;
		align-items: center;
		height: 54px;
		padding: 0 21px;
		background: map-get($COL_Line_01, "bg_light");
		.main__alerm--txt {
			color:map-get($COL_Base_04, 'bg_light');
			@include Mix_Font('Head-R', 13, 18);
		}
		.main__alerm--btn {
			margin-left: auto;
		}
	}
}

.vod_commerce__list {
	position: relative;
	margin: 54px 0 0;
	padding: 0 0 51px;
	background: $COL_White;
	&__section { padding: 35px 21px 40px; }
	&__section1 { background: map-get($COL_Box_01, "bg_light"); }
	.sec_tit {
		margin: 0 0 15px;
	}
	&__section1 &__item ~  &__item {margin-top: 12px;}
	&__section1 .list__item {
		&__box {
			display: flex;
		}
		&--thumb {
			flex-shrink: 0;
			width: 120px; height: 150px;
			background: {
				size: cover;
				position: 50% 50%;
				repeat: no-repeat;
			}
		}
		&__info {
			flex: 1;
			margin: 5px 0 0 15px;
		}
		&--open_day {
			@include Mix_Font('Head-R', 16, 22);
			color: map-get($COL_Highlight, "bg_light");
		}
		&--name {
			margin-top: 8px;
			@include Mix_Font('Head-R', 14, 19);
			@include Mix_Ellipsis(2);
			color: $COL_Black;
		}
		&--d_day {
			display: flex;
			margin-top: 10px;
			align-items: center;
			@include Mix_Font('Txt-R', 12, 19);
			color: map-get($COL_Base_02, "bg_light");
			&:before {
				content: "";
				display: inline-block;
				width: 13px; height: 19px;
				margin-right:3px;
				@include Mix_Bg_Setting;
				vertical-align: middle;
				background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6.5' cy='6.5' r='5.5' stroke='%23727272'/%3E%3Cpath d='M6.30005 3.7002V6.7002H9.30005' stroke='%23727272' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
			}
		}
	}
	&__section1 .isModLand &__item ~  &__item {margin: 0 0 0 10px;}
	&__section1 .isModLand {
		margin: 0 -21px;
		padding: 0 21px;
		overflow-x: auto;
		ul { 
			display: flex;
			&:after {
				content: "";
				width: 21px;
				flex-shrink: 0;
			}
		}
		.list__item {
			&__box { 
				display: block;
			}
			&--thumb {
				width: 136px; height: 170px;
			}
			&__info {
				margin: 12px 0 0;
			}
			&--open_day {
				@include Mix_Font('Head-R', 15, 21);
			}
			&--name {
				margin-top: 8px;
				height: 36px;
				@include Mix_Font('Head-R', 13, 18);
				@include Mix_Ellipsis(2);
				color: $COL_Black;
			}
		}
	}
	&__section2 &__wrap > ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -5px;
	}
	&__section2 &__item {width: 50%;}
	&__section2 &__item:nth-of-type(2) ~  &__item {
		margin-top: 30px;
	}
	&__section2 .list__item {
		&__box {
			display: block;
			margin: 0 5px;
		}
		&--thumb {
			position: relative;
			padding-top: 124.67532%;
			background: {
				size: cover;
				position: 50% 50%;
				repeat: no-repeat;
			}
			&:after {
				content: "";
				@include Pos($p: absolute, $t: 50%, $l: 50%);
				width: 60px; height: 60px;
				transform: translate(-50%, -50%);
				@include Mix_Vod_Bg(0 -50px);
			}
		}
		&--play_time {
			@include Pos($p: absolute, $r: 0, $b: 0);
			padding: 2px 6px 1px;
			@include Mix_Font('Txt-R', 12, 20);
			background: rgba(0, 0, 0, 0.6);
			color: $COL_White;
		}
		&__info {
			margin-top: 10px;
		}
		&--date {
			@include Mix_Font('Txt-R', 12, 20);
			color: map-get($COL_Base_02, "bg_light");
		}
		&--name {
			margin-top: 4px;
			height: 36px;
			@include Mix_Font('Head-R', 13, 18);
			@include Mix_Ellipsis(2);
			color: $COL_Black;
		}
		&__options {
			display: flex;
			margin-top: 10px;
		}
		&--option {
			margin-right: 10px;
			@include Mix_Font('Txt-R', 12, 20);
			color: map-get($COL_Base_01, "bg_light");
			.item__ico {
				display: inline-block;
				margin-right:2px;
				width: 12px; height: 12px;
				font-size: 0;
				@include Mix_Bg_Setting;
				vertical-align: 1px;
				&--play {
					margin-right:2px;
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 2.14153L10.0411 6.75L2.5 11.3585L2.5 2.14153Z' stroke='%23727272'/%3E%3C/svg%3E%0A");
				}
				&--like {
					margin-right:3px;
					background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.64645 2.96466L6 3.31822L6.35355 2.96466L7.31822 2H9.12623L10.5 3.37377V6.29289L6 10.7929L1.5 6.29289V3.37377L2.87377 2H4.68178L5.64645 2.96466Z' stroke='%23727272'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
}

.vod_commerce__detail {
	&__player {
		@include Pos($p: fixed, $a: 0);
		img {width: 100%;}
		&:before {
			content: "";
			@include Pos($p: absolute, $t: 0, $l: 0, $r : 0);
			height: 150px;
			background: linear-gradient(0, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 100%);
			opacity: .6;
		}
		&:after {
			content: "";
			@include Pos($p: absolute, $r: 0, $b: 56px, $l : 0);
			height: 300px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 100%);
			opacity: .6;
		}
	}
	&__info {
		@include Pos($p: fixed, $r: 100px, $b: 96px, $l: 21px);
		color: $COL_White;
		.detail__info--txt {
			@include Mix_Font('Head-R', 16, 22);
			text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
		}
		.detail__info__options {
			margin: 6px 0 0;
		}
		.info--option {
			@include Mix_Font('Txt-R', 13, 20);
			text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);
			.item__ico {
				display: inline-block;
				width: 12px; height: 12px;
				font-size: 0;
				@include Mix_Bg_Setting;
				vertical-align: 1px;
				&--play {
					margin-right:3px;
					background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_1101_6524)'%3E%3Cpath d='M5.5 5.14153L13.0411 9.75L5.5 14.3585L5.5 5.14153Z' stroke='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_1101_6524' x='0' y='0.5' width='18' height='18' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='1.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.7 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_1101_6524'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_1101_6524' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
				}
			}
		}
	}
	&__actions {
		@include Pos($p: fixed, $r: 5px, $b: 81px);
		width: 50px;
		.action__item {
			display: block;
			width: 100%;
			margin-top: 10px;
			@include Mix_Font('Head-R', 11, 15);
			color: $COL_White;
			text-align: center;
			text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
			input[type="checkbox"] {
				position: absolute;
				opacity: 0;
			}
			input[type="checkbox"]:checked ~ .action__ico--like {
				background-position-x: -200px;
			}
		}
		.action__ico {
			display: block;
			width: 50px; height: 50px;
			margin: 0 0 -6px;
			font-size: 0;
			@include Mix_Vod_Bg;
			&--like {background-position-x: -150px;}
			&--reply {background-position-x: -100px;}
			&--info {background-position-x: -50px;}

		}
	}
	& + .btn_sticky{
		.btn_big02 {
			position: relative;
			&:before {
				content: "";
				width: 32px; height: 12px;
				@include Pos($p: absolute, $b: 100%, $l: 50%);
	
				@include Mix_Vod_Bg(-60px -50px);
				transform: translate(-50%, -21px);
			}
		}
	} 
}

.vod_commerce__sale_car {
	.p_wrap {
		max-height: 300px;
		padding: 10px 21px;
	}
	.unit_type ~ .unit_type {
		margin-top: 15px;
	}
	
	.unit_type .mid_area .unit_info .name .model {color: $COL_Black;}
	.unit_type.soldout .mid_area .unit_info .name .model {color: map-get($COL_Base_01, "bg_light");}
}

.vod_info {
	.p_wrap {
		max-height: 455px;
		padding: 10px 21px;
	}
	&__desc {
		margin: 0 -6px;
		padding: 18px;
		background: map-get($COL_Box_01, "bg_light");
		&--txt {
			color:map-get($COL_Base_04,'bg_light');
			@include Mix_Font('Txt-R', 12, 19);
		}
	}
	&__section {
		margin-top: 20px;
	}
	&--title {
		margin: 0 0 6px;
		@include Mix_Font('Txt-M', 14, 22);
	}
	&--txt {
		color:map-get($COL_Base_04,'bg_light');
		@include Mix_Font('Txt-R', 12, 19);
	}
	&__broadcast_time {
		&__item { display: flex; }
		&__item ~ &__item {margin-top: 15px;}
		&--btn {
			flex-shrink: 0;
			width: 83px; height: 34px;
			margin-right: 12px;
			background: map-get($COL_Box_01, "bg_light");
			@include Mix_Font('Head-R', 13, 17);
			color: $COL_Black;
			&:before {
				content: "";
				font-size: 0;
				border-top: 4px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 5px solid $COL_Black;
				vertical-align: 4px;
			}
		}
		&--txt {
			@include Mix_Font('Txt-R', 11, 18);
			color: map-get($COL_Base_02, "bg_light");
		}
	}
}