@charset "UTF-8";
/* 
	전시
*/
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
body.fixed {
  background: #F7F7F7;
}
body.fixed #CPOcontents {
  overflow: hidden;
  height: 100%;
  padding-top: 0;
}
body.fixed #CPOfooter {
  display: none;
}

#searchForm {
  height: 100%;
}

.cpo_search {
  overflow-y: auto;
  height: 100%;
}
.cpo_search .btn_sticky {
  bottom: -200px !important;
  transition: bottom 1.2s ease;
}
.cpo_search .btn_sticky.load {
  bottom: 0 !important;
}
.cpo_search.isAnimate {
  overflow: hidden;
}
.cpo_search.fixed {
  padding: 52px 0 0 0;
}
.cpo_search.fixed .srch_head {
  top: 0;
}
.cpo_search.fixed .srch_head .ipt_search {
  width: 100%;
  margin: 0;
  padding: 0 40px 0 30px;
  border-width: 0 0 1px 0;
}
.cpo_search.fixed .srch_model .srch_keyword {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}
.cpo_search.fixed .srch_model .srch_keyword .list {
  padding-left: 25px;
}
.cpo_search.fixed .srch_model .srch_keyword .btn_open {
  right: 8px;
}
.cpo_search.fixed .srch_model .srch_ifbox {
  margin-top: 0;
}
.cpo_search.fixed .srch_recent {
  margin-top: 0;
}
.cpo_search.fixed .srch_auto {
  margin-top: 0;
}

.p_wrap .srch_ifbox {
  margin-top: 0;
}

.srch_head {
  position: fixed;
  top: 150px;
  left: 0;
  z-index: 600;
  width: 100%;
  height: 53px;
  transition: all 1s;
  background: #F7F7F7;
}
.srch_head .ipt_search {
  position: relative;
  width: calc(100% - 42px);
  height: 100%;
  margin: 0 auto;
  padding: 0 40px 0 20px;
  border: 1px solid #00AAD2;
  background: #FFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.12);
  transition: all 0.1s linear;
}
.srch_head .ipt_search .util {
  position: absolute;
  top: 12px;
  right: 17px;
}
.srch_head .ipt_search .util li {
  float: left;
  margin-left: 16px;
}
.srch_head .ipt_search .util li:first-of-type {
  margin-left: 0;
}
.srch_head .ipt_search .ipt_sch {
  width: 100%;
  height: 53px;
  border: 0;
  background: transparent;
  color: #000000;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.srch_head .ipt_search [class^=ic_] {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 2px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.srch_head .ipt_search [class^=ic_]::before {
  content: "";
  display: block;
  height: 20px;
  margin: 0 auto;
  background: url("../img/bg_layout.png") no-repeat;
  background-size: 300px auto;
}
.srch_head .ipt_search .ic_model,
.srch_head .ipt_search .ic_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 50px;
}
.srch_head .ipt_search .ic_model::before,
.srch_head .ipt_search .ic_back::before {
  width: 14px;
  margin: 0 auto;
  background-position: -178px 0;
}
.srch_head .ipt_search .ic_mic::before {
  width: 18px;
  background-position: -76px -27px;
}
.srch_head .ipt_search .ic_search::before {
  width: 20px;
  background-position: -51px -27px;
}

.srch_model {
  position: relative;
}

.srch_keyword {
  position: sticky;
  top: 202px;
  left: 0;
  z-index: 599;
  width: calc(100% - 60px);
  height: 58px;
  margin: 0 auto;
  background: #F7F7F7;
  opacity: 0;
  transition: all 1s;
}
.srch_keyword #srchBest2 {
  display: none;
}
.srch_keyword .tit {
  display: none;
}
.srch_keyword .list {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.srch_keyword .list li {
  position: relative;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_keyword .list li a {
  display: block;
  width: 100%;
  padding: 20px 0 19px;
}
.srch_keyword .list li a em {
  display: inline-block;
  width: 20px;
  color: #00AAD2;
  font-family: "HynSans_Head-M";
  font-size: 13px;
  line-height: 17px;
}
.srch_keyword .btn_open {
  display: block;
  position: absolute;
  top: 0;
  right: -6px;
  z-index: 402;
  width: 40px;
  height: 100%;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.srch_keyword .btn_open::before {
  content: "";
  display: block;
  position: absolute;
  top: 24px;
  right: 13px;
  width: 13px;
  height: 9px;
  background: url("../img/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: -29px 0;
  transition: all 0.2s ease;
}
.srch_keyword.load {
  opacity: 1;
}
.srch_keyword.on {
  top: 56px;
  left: 0;
  width: 100%;
  height: auto;
}
.srch_keyword.on .tit {
  display: block;
  padding: 21px 25px 17px;
  border-bottom: 1px solid #DDDDDD;
  color: #000000;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_keyword.on .tit span {
  margin-left: 10px;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 16px;
}
.srch_keyword.on .list {
  padding: 0 25px;
  height: auto;
}
.srch_keyword.on .list li a {
  padding: 10px 0;
}
.srch_keyword.on .btn_open::before {
  transform: rotate(180deg);
}

.srch_banner {
  margin-top: 91vw;
  padding: 0 30px;
  transition: all 1s ease;
}
.srch_banner .swiper-slide {
  width: 120px;
}

.srch_ifbox {
  margin-top: 800px;
  padding: 0 0 56px;
  background: #FFF;
  transition: all 1s ease;
  /* 검색 레이어 :버튼 */
}
.srch_ifbox.load {
  margin-top: 300px;
}
.CPOpop_bottom .srch_ifbox {
  margin-top: 0;
  padding-bottom: 0;
}
.CPOpop_bottom .srch_ifbox .top .tit {
  min-width: 70px;
}
.srch_ifbox .sch_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background-color: #002C5F;
  color: #FFF;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.srch_ifbox .sch_btn ul {
  display: flex;
}
.srch_ifbox .sch_btn ul li {
  float: left;
  height: 56px;
}
.srch_ifbox .sch_btn ul li [class^=btn_] {
  display: block;
}
.srch_ifbox .sch_btn ul li .btn_reset:before {
  content: "";
  display: inline-block;
  overflow: hidden;
  margin: 18px 0 0 18px;
  width: 20px;
  height: 20px;
  background: url("../img/search_reset.svg") no-repeat;
}
.srch_ifbox .sch_btn ul li .btn_reset {
  color: transparent;
  font-size: 0;
}
.srch_ifbox .sch_btn ul li .btn_go {
  color: #FFF;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 56px;
  text-align: center;
}
.srch_ifbox .sch_btn ul li:nth-child(1) {
  width: 56px;
  border-right: 1px solid #808080;
}
.srch_ifbox .sch_btn ul li:nth-child(2) {
  width: calc(100% - 56px);
}

.srch_recent {
  display: none;
  height: 100%;
  overflow-y: auto;
  margin-top: 300px;
  background: #FFF;
  transition: margin 1s ease;
}
.srch_recent > .inner {
  padding: 25px 21px;
  margin-bottom: 8px;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  background: #FFF;
}
.srch_recent > .inner:first-of-type {
  border-top: 0;
}
.srch_recent > .inner:last-of-type {
  border-bottom: 0;
}
.srch_recent .top {
  position: relative;
  padding-bottom: 20px;
}
.srch_recent .top h4.tit {
  color: #000000;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_recent .top .btn_txt01 {
  position: absolute;
  top: 2px;
  right: 0;
}
.srch_recent .top .txt {
  position: absolute;
  top: 2px;
  right: 0;
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 16px;
}
.srch_recent .recent_list .list {
  background: #F7F7F7;
  border-radius: 6px;
}
.srch_recent .recent_list .list li {
  border-top: 1px solid #EDEDED;
}
.srch_recent .recent_list .list li:first-of-type {
  border-top: 0;
}
.srch_recent .recent_list.more_view li:nth-child(n+6) {
  display: none;
}
.srch_recent .recent_list.more_view.on li {
  display: block;
}
.srch_recent .recent_list.more_view .btn_more {
  margin: 15px 0;
}

.srch_chkbox {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 9;
  padding: 0 21px 26px 21px;
  background: #FFF;
}

.recent_swiper {
  position: relative;
  overflow: hidden;
  height: auto;
  padding-bottom: 26px;
}
.recent_swiper .list {
  display: flex;
  position: relative;
  align-items: flex-start;
  transition-property: transform, height;
  transform: translate3d(0px, 0, 0);
}
.recent_swiper .list li {
  flex-shrink: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 5px 10px;
  height: auto;
}
.recent_swiper .list .btn_txt01 {
  position: absolute;
  top: 2px;
  right: 0;
}
.recent_swiper .list .txt {
  position: absolute;
  top: 2px;
  right: 0;
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 16px;
}
.recent_swiper .recent_swiper {
  overflow: hidden;
  position: relative;
  height: auto;
  padding-bottom: 26px;
}
.recent_swiper .recent_swiper .list {
  display: flex;
  position: relative;
  align-items: flex-start;
  transition-property: transform, height;
  transform: translate3d(0px, 0, 0);
}
.recent_swiper .recent_swiper .list li {
  display: flex;
  flex-shrink: 0;
  flex-flow: row wrap;
  gap: 5px 10px;
  height: auto;
}

.srch_auto {
  display: none;
  height: 100%;
  overflow-y: auto;
  background: #FFF;
}
.srch_auto ol li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.srch_auto ol li a .tit {
  color: #333333;
  font-family: "HynSans_Head-M";
  font-size: 14px;
  line-height: 18px;
}
.srch_auto ol li a .txt {
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_auto ol li a .txt i {
  color: #00AAD2;
}
.srch_auto ol li a .date {
  margin-left: auto;
  color: #666666;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 17px;
}
.srch_auto ol li a .more {
  margin-left: auto;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.srch_auto ol li a .more:after {
  content: "";
  display: inline-block;
  width: 7px;
  height: 12px;
  margin: 0 0 1px 5px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -166px -53px;
  vertical-align: middle;
}
.srch_auto .list_01 {
  padding: 0 21px;
  background: #F7F7F7;
}
.srch_auto .list_01 li {
  padding: 14px 0 15px;
  border-top: 1px solid #EDEDED;
}
.srch_auto .list_01 li:first-of-type {
  border-top: 0;
}
.srch_auto .list_02 {
  padding: 0 21px;
}
.srch_auto .list_02 li {
  padding: 14px 0 15px;
  border-top: 1px solid #EDEDED;
}
.srch_auto .list_02 li:first-of-type {
  border-top: 0;
}
.srch_auto .ic_history::before {
  content: "";
  display: flex;
  margin-right: 6px;
  width: 16px;
  height: 16px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -179px -53px;
}

[class^=ic_model_]::before {
  content: "";
  display: flex;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  background: url("../img/bg_model.png") no-repeat;
  background-size: 300px 200px;
}

.ic_model_01::before {
  background-position: 0 0;
}

.ic_model_02::before {
  background-position: -65px 0;
}

.ic_model_03::before {
  background-position: -130px 0;
}

.ic_model_0001::before {
  background-position: 0 0;
}

.ic_model_00010001::before {
  background-position: -65px 0;
}

.ic_model_0002::before {
  background-position: -130px 0;
}

.ic_model_00020001::before {
  background-position: -130px 0;
}

/* 검색 레이어 :검색 조건 :상단 */
.srch_box {
  border-top: 1px solid #F2F2F2;
}
.srch_box#schBox-03 .incont, .srch_box#schBox-10 .incont {
  padding: 0;
}
.srch_box > .top {
  position: relative;
  padding: 25px 21px;
}
.srch_box > .top h4.tit {
  display: inline-block;
  color: #000000;
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
}
.srch_box > .top span.check {
  display: none;
  max-width: calc(100% - 80px);
  margin-left: 11px;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: -4px;
}
.srch_box.on > .top span.check {
  display: inline-block;
}
.srch_box.on > .incont {
  display: block;
  padding: 0 21px 15px 21px;
}
.srch_box.on > .incont .cpo_range {
  display: block;
}
.srch_box.show .top span.check {
  display: inline-block;
}
.srch_box.on .btn_open::before {
  transform: rotate(0);
}
.srch_box.on .range_chart ol li i {
  height: 100%;
  margin-top: 0;
}
.srch_box .btn_open {
  display: block;
  position: absolute;
  top: 23px;
  right: 18px;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -999999px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.srch_box .btn_open::before {
  content: "";
  display: block;
  width: 13px;
  height: 9px;
  margin: 0 auto;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -199px -53px;
  transform: rotate(-180deg);
  transition: 0.2s ease;
}
.srch_box > .incont {
  position: relative;
  padding: 0 21px 0 21px;
  display: none;
  overflow: hidden;
}
.srch_box > .incont .text {
  display: none;
}
.srch_box > .incont.more_view li:nth-child(n+7) {
  display: none;
}
.srch_box > .incont.more_view.on li {
  display: block;
}
.srch_box > .incont.more_view .btn_more {
  margin: 20px 0;
}
.srch_box > .incont .btn_area {
  padding-top: 35px;
}
.srch_box > .incont .carinfo .chk_rad01 + label {
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 23px;
}
.srch_box > .incont .carinfo > li {
  padding: 0 0 20px;
}
.srch_box > .incont .carinfo > li > label {
  padding-left: 55px;
}
.srch_box > .incont .carinfo > li > label:before {
  left: 21px;
}
.srch_box > .incont .carinfo > li .depth2 {
  display: none;
  padding: 25px 0 0 0;
}
.srch_box > .incont .carinfo > li .depth2 > li {
  padding: 0 0 20px;
}
.srch_box > .incont .carinfo > li .depth2 > li:last-of-type {
  padding: 0;
}
.srch_box > .incont .carinfo > li .depth2 > li > label {
  padding-left: 84px;
}
.srch_box > .incont .carinfo > li .depth2 > li > label:before {
  left: 50px;
}
.srch_box > .incont .carinfo > li .depth3 {
  display: none;
  padding: 20px 0 0 0;
  margin: 20px 0 0;
  background: #F7F7F7;
}
.srch_box > .incont .carinfo > li .depth3 > li {
  padding: 0 0 20px;
}
.srch_box > .incont .carinfo > li .depth3 > li > label {
  padding-left: 114px;
}
.srch_box > .incont .carinfo > li .depth3 > li > label:before {
  left: 80px;
}
.srch_box > .incont .carinfo > li.on .depth2 {
  display: block;
}
.srch_box > .incont .carinfo > li.on .depth2 > li.on .depth3 {
  display: block;
}
.srch_box > .incont .carinfo > li:last-of-type {
  padding-bottom: 25px;
}
.srch_box > .incont .gear {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 7px 10px;
}
.srch_box > .incont .gear li {
  width: calc(50% - 5px);
}
.srch_box > .incont .color {
  zoom: 1;
}
.srch_box > .incont .color:after {
  content: "";
  display: block;
  clear: both;
}
.srch_box > .incont .color li {
  float: left;
  width: 80px;
  margin-bottom: 20px;
  text-align: center;
}
.srch_box > .incont .color li:nth-child(3n+2) {
  width: calc(100% - 160px);
}
.srch_box > .incont .color .chk_type06:disabled + label {
  opacity: 0.3;
}
.srch_box > .incont .color + .notice_03 {
  padding-bottom: 25px;
}
.srch_box > .incont .option dt {
  color: #000000;
  font-family: "HynSans_Txt_R";
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0;
}
.srch_box > .incont .option dd {
  margin: 20px 0 30px;
}
.srch_box > .incont .option dd ol li {
  margin-bottom: 20px;
}
.srch_box.no_data .text {
  display: block;
  margin-top: 47px;
  text-align: center;
  color: #666666;
  font-family: "HynSans_text-R";
  font-size: 14px;
  line-height: 21px;
}
.srch_box.no_data .list_chart {
  display: none;
}
.srch_box.no_data .ui-slider-range:first-child {
  width: 100% !important;
  left: 0% !important;
}
.srch_box.no_data .ui-slider-handle:nth-child(2) {
  left: 0 !important;
}
.srch_box.no_data .ui-slider-handle:nth-child(3) {
  left: 100% !important;
}
.srch_box.no_data .cpo_range::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.srch_result {
  padding-top: 76px;
}
.srch_result .plp_filter {
  position: fixed;
  top: 50px;
  z-index: 10;
  width: 100%;
  height: 52px !important;
  padding: 10px 0 10px 15px;
  margin: 0 !important;
  background-color: #FFF;
  border-bottom: 1px solid #EDEDED;
}
.srch_result .plp_filter .list {
  top: 10px !important;
  left: 40px !important;
}

/*가격 슬라이더*/
.cpo_range {
  display: none;
  padding: 15px 0 0 0;
}
.cpo_range .amountArea {
  visibility: hidden;
}
.cpo_range .cpoRange {
  position: relative;
  width: calc(100% - 22px);
  height: 2px;
  margin-left: 10px;
  background: #EDEDED;
}
.cpo_range .cpoRange .ui-slider-range {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  height: 100%;
  background: #00AAD2;
  border: 0;
}
.cpo_range .cpoRange .ui-slider-handle {
  z-index: 2;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  outline: none;
  width: 24px;
  height: 24px;
  background: #FFF;
  border: 2px solid #00AAD2;
  border-radius: 100%;
  position: absolute;
  top: -11px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(2) {
  left: 0;
  margin-left: -11px;
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(3) {
  left: 100%;
  margin-left: -11px;
}
.cpo_range .cpoRange .amountArea {
  visibility: hidden;
}
.cpo_range .cpoRange .min_no,
.cpo_range .cpoRange .max_no {
  display: block;
  width: 100px;
  position: absolute;
  top: 20px;
  color: #767676;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 18px;
}
.cpo_range .cpoRange .min_no {
  left: -11px;
  text-align: left;
}
.cpo_range .cpoRange .max_no {
  right: -11px;
  text-align: right;
}

/* 가격 차트 */
#rangePrice {
  margin-top: -10px;
}

.range_chart {
  width: 100%;
  height: 120px;
  position: relative;
  overflow: hidden;
}
.range_chart > ol {
  width: 100%;
  zoom: 1;
}
.range_chart > ol:after {
  content: "";
  display: block;
  clear: both;
}
.range_chart > ol li {
  display: flex;
  width: 5%;
  height: 120px;
  margin: 0 auto;
  text-indent: -99999px;
  transition: height 1s;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  float: left;
}
.range_chart > ol li.on .bar i {
  background: #00AAD2;
}
.range_chart > ol li .bar {
  width: 2px;
}
.range_chart > ol li .bar i {
  display: block;
  width: 2px;
  height: 1%;
  transition: margin 1s;
  background: #DDDDDD;
  margin-top: 120px;
}

@keyframes Ani_Price_Chart {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
.ipt_search .ico_delete {
  position: absolute;
  top: 50%;
  right: 85px;
  transform: translateY(-54%);
  display: none;
}

/* s:title area :MAIN */
.main_menu {
  padding: 0 !important;
}
.main_menu ul {
  position: relative;
  z-index: 601;
  background: #FFF;
  display: block;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main_menu ul::-webkit-scrollbar {
  display: none;
}
.main_menu ul::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: transparent;
}
.main_menu ul.on {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.main_menu ul.on a {
  color: #000000;
}
.main_menu ul.on a::after {
  background-color: transparent;
}
.main_menu ul li {
  display: inline-block;
  flex: 1;
}
.main_menu ul li a {
  position: relative;
  display: block;
  padding: 0 10px;
  color: #DDDDDD;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 48px;
}
.main_menu ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
}

/* Product List Page : type01 - 2차원 grid 스타일 */
.plp_type01 > ol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: minmax(auto, auto);
  column-gap: 0;
  row-gap: 0;
}
.plp_type01 .grid_type01 .item1 {
  grid-area: 1/1/3/3;
}
.plp_type01 .grid_type01 .item2 {
  grid-area: 1/3/2/4;
}
.plp_type01 .grid_type01 .item3 {
  grid-area: 2/3/3/4;
}
.plp_type01 .grid_type01 .item4 {
  grid-area: 3/1/4/2;
}
.plp_type01 .grid_type01 .item5 {
  grid-area: 3/2/4/3;
}
.plp_type01 .grid_type01 .item6 {
  grid-area: 3/3/4/4;
}
.plp_type01 .grid_type01 .item7 {
  grid-area: 4/1/5/2;
}
.plp_type01 .grid_type01 .item8 {
  grid-area: 4/2/5/4;
}
.plp_type01 .grid_type01 .item9 {
  grid-area: 5/1/6/2;
}
.plp_type01 .grid_type01 .item10 {
  grid-area: 5/2/6/3;
}
.plp_type01 .grid_type01 .item11 {
  grid-area: 5/3/6/4;
}
.plp_type01 .grid_type02 .item1 {
  grid-area: 1/1/2/3;
}
.plp_type01 .grid_type02 .item2 {
  grid-area: 1/3/2/4;
}
.plp_type01 .grid_type02 .item3 {
  grid-area: 2/1/3/2;
}
.plp_type01 .grid_type02 .item4 {
  grid-area: 2/2/3/3;
}
.plp_type01 .grid_type02 .item5 {
  grid-area: 2/3/3/4;
}
.plp_type01 .grid_type02 .item6 {
  grid-area: 3/1/4/2;
}
.plp_type01 .grid_type02 .item7 {
  grid-area: 4/1/5/2;
}
.plp_type01 .grid_type02 .item8 {
  grid-area: 3/2/5/4;
}
.plp_type01 .grid_type02 .item9 {
  grid-area: 5/1/6/2;
}
.plp_type01 .grid_type02 .item10 {
  grid-area: 5/2/6/3;
}
.plp_type01 .grid_type02 .item11 {
  grid-area: 5/3/6/4;
}
.plp_type01 .grid_type03 .item1 {
  grid-area: 1/1/2/2;
}
.plp_type01 .grid_type03 .item2 {
  grid-area: 1/2/2/3;
}
.plp_type01 .grid_type03 .item3 {
  grid-area: 1/3/2/4;
}
.plp_type01 .grid_type03 .item4 {
  grid-area: 2/1/4/3;
}
.plp_type01 .grid_type03 .item5 {
  grid-area: 2/3/3/4;
}
.plp_type01 .grid_type03 .item6 {
  grid-area: 3/3/4/4;
}
.plp_type01 .grid_type03 .item7 {
  grid-area: 4/1/5/2;
}
.plp_type01 .grid_type03 .item8 {
  grid-area: 4/2/5/4;
}
.plp_type01 .grid_type03 .item9 {
  grid-area: 5/1/6/2;
}
.plp_type01 .grid_type03 .item10 {
  grid-area: 5/2/6/3;
}
.plp_type01 .grid_type03 .item11 {
  grid-area: 5/3/6/4;
}
.plp_type01 .grid_type03 .item12 {
  grid-area: 7/1/7/4;
}

/* 차량정보 : 2차원 grid 스타일 : link > img, info(name/price), like */
.pd_banner {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pd_banner img {
  width: 100%;
}

.pd_link {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.pd_link::before {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}
.pd_link .pd_info {
  position: absolute;
  top: 13px;
  left: 13px;
  z-index: 4;
  width: 80%;
}
.pd_link .pd_info > span {
  display: block;
  color: #FFF;
  word-break: keep-all;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: "HynSans_Head-R";
  font-size: 12px;
  line-height: 15px;
}
.grid_type03 .item12 .pd_link .pd_info > span, .grid_type03 .item4 .pd_link .pd_info > span, .grid_type02 .item8 .pd_link .pd_info > span, .grid_type01 .item1 .pd_link .pd_info > span {
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.pd_link .pd_info > span.name {
  max-height: 30px;
  color: #FFF;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
}
.grid_type03 .item12 .pd_link .pd_info > span.name, .grid_type03 .item4 .pd_link .pd_info > span.name, .grid_type02 .item8 .pd_link .pd_info > span.name, .grid_type01 .item1 .pd_link .pd_info > span.name {
  max-height: 36px;
}
.pd_link .pd_info > span.price {
  margin-top: 5px;
}
.pd_link .pd_info > span.price > em {
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 15px;
}
.grid_type03 .item12 .pd_link .pd_info > span.price > em, .grid_type03 .item4 .pd_link .pd_info > span.price > em, .grid_type02 .item8 .pd_link .pd_info > span.price > em, .grid_type01 .item1 .pd_link .pd_info > span.price > em {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 18px;
}
.pd_link .pd_like {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
.pd_link .pd_img {
  position: relative;
}
.pd_link .pd_img > span {
  display: block;
  overflow: hidden;
}
.pd_link .pd_img > span.space img {
  width: 100%;
  height: 100%;
}
.pd_link .pd_img > span.pdp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.pd_link .pd_img > span.pdp img {
  object-fit: cover;
}
.grid_type01 .item1 .pd_link .pd_img > span.pdp img {
  width: 380%;
  margin: -100% 0 0 -125%;
}
.grid_type01 .item2 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -20% 0 0 -40%;
}
.grid_type01 .item3 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type01 .item4 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type01 .item5 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type01 .item6 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -75%;
}
.grid_type01 .item7 .pd_link .pd_img > span.pdp img {
  width: 100%;
}
.grid_type01 .item8 .pd_link .pd_img > span.pdp img {
  width: 180%;
  margin: -40% 0 0 -20%;
}
.grid_type01 .item9 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type01 .item10 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type01 .item11 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type02 .item1 .pd_link .pd_img > span.pdp img {
  width: 180%;
  margin: -40% 0 0 -20%;
}
.grid_type02 .item2 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type02 .item3 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type02 .item4 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -75%;
}
.grid_type02 .item5 .pd_link .pd_img > span.pdp img {
  width: 100%;
}
.grid_type02 .item6 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -20% 0 0 -40%;
}
.grid_type02 .item7 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type02 .item8 .pd_link .pd_img > span.pdp img {
  width: 300%;
  margin: -55% 0 0 -80%;
}
.grid_type02 .item9 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -75%;
}
.grid_type02 .item10 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type02 .item11 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type03 .item1 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type03 .item2 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -20% 0 0 -40%;
}
.grid_type03 .item3 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -75%;
}
.grid_type03 .item4 .pd_link .pd_img > span.pdp img {
  width: 300%;
  margin: -55% 0 0 -80%;
}
.grid_type03 .item5 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type03 .item6 .pd_link .pd_img > span.pdp img {
  width: 100%;
}
.grid_type03 .item7 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type03 .item8 .pd_link .pd_img > span.pdp img {
  width: 180%;
  margin: -40% 0 0 -20%;
}
.grid_type03 .item9 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -75%;
}
.grid_type03 .item10 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type03 .item11 .pd_link .pd_img > span.pdp img {
  width: 250%;
  margin: -25% 0 0 -60%;
}
.grid_type03 .item12 .pd_link .pd_img > span.pdp img {
  width: 220%;
  margin: -55% 0 0 -60%;
}

/* checkBox01 : 찜하기 (하트) */
.chk_wish01 {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.chk_wish01 + label {
  display: block;
  width: 24px;
  height: 24px;
  color: transparent;
  font-size: 0;
  background: url("../img/chk_wish_off.svg") no-repeat;
}

.chk_wish01:checked + label {
  background: url("../img/chk_wish_on.svg") no-repeat;
}

/* 전시 이미지 코너 */
.display_corner01 {
  position: relative;
  margin: 0 0 30px 0;
}
.display_corner01 .bo_img {
  position: relative;
}
.display_corner01 .bo_img img {
  width: 100%;
  height: auto;
}
.display_corner01 .bo_html img {
  width: 100%;
  height: auto;
}
.display_corner01 .bo_video video[poster] {
  width: 100%;
  height: 56.2vw;
  object-fit: cover;
}
.display_corner01 .bo_video .youtube {
  position: relative;
}
.display_corner01 .bo_video .block-img {
  width: 100%;
  height: 56.2vw;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.display_corner01 .bo_video .block-img .ic-play {
  width: 100%;
  height: 100%;
  background: url("../img/sample/icon_play.png") no-repeat center;
  background-size: 70px auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-indent: -9999px;
  opacity: 0.75;
}
.display_corner01 .bo_video .block-img img {
  width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
.display_corner01 > .title {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  padding: 0 15px;
  color: #FFF;
}
.display_corner01 > .title > .tit {
  margin-bottom: 6px;
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
.display_corner01 > .title > .copy {
  font-family: "HynSans_Txt-R";
  font-size: 14px;
  line-height: 18px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
.display_corner01 .navi {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  bottom: 25px;
  width: 100%;
}
.display_corner01 .navi li {
  position: relative;
  flex: 0 0 33.33%;
  text-align: center;
}
.display_corner01 .navi li a {
  display: block;
  color: #FFF;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.display_corner01 .navi li a::before {
  content: "";
  display: block;
  width: 30px;
  height: 29px;
  margin: 0 auto 12px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
}
.display_corner01 .navi li a::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 13px;
  margin: 0 0 0 5px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -105px -53px;
  vertical-align: middle;
}
.display_corner01 .navi li a.link_01::before {
  background-position: 0 -53px;
}
.display_corner01 .navi li a.link_02::before {
  background-position: -35px -53px;
}
.display_corner01 .navi li a.link_03::before {
  background-position: -70px -53px;
}
.display_corner01 .navi li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 56px;
  background: rgba(0, 0, 0, 0.15);
}
.display_corner01 .navi li:last-of-type::after {
  display: none;
}

/* 필터 plp_filter */
.plp_filter {
  overflow: hidden;
  position: relative;
  height: 32px;
  margin: 0 0 24px 15px;
  /* 상세검색 버튼 */
}
.plp_filter .btn_filter {
  overflow: hidden;
  height: 32px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.plp_filter .btn_filter::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: 0 -28px;
}
.plp_filter .list {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 30px;
  width: calc(100% - 10px);
}
.plp_filter .list .scroll {
  overflow-x: auto;
  padding: 0 30px 10px 0;
  white-space: nowrap;
}

.plp_sorting {
  position: relative;
  margin: 0 15px 10px;
  /* 인기순 버튼, 목록 유형 버튼 */
}
.plp_sorting .tit {
  color: #000000;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 24px;
}
.plp_sorting .tit .hidden {
  display: none;
}
.plp_sorting .tit em, .plp_sorting .tit i {
  color: #00AAD2;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.plp_sorting > ul {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.plp_sorting > ul > li {
  margin-left: 10px;
  position: relative;
}
.plp_sorting > ul > li.on .sorting_layer {
  display: block;
}
.plp_sorting .btn_sort {
  padding: 3px 5px;
  color: #000000;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.plp_sorting .btn_sort::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 0 2px 5px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -40px -28px;
  vertical-align: middle;
}
.plp_sorting .btn_thumb {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  width: 24px;
  height: 24px;
}
.plp_sorting .btn_thumb::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -84px -28px;
}
.plp_sorting .btn_deal {
  overflow: hidden;
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.plp_sorting .btn_deal::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -59px -28px;
}

/* 판매 준비 차량 목록 */
.plp_coming01 .coming_list {
  /* 목록*/
  margin: 0 15px 60px;
}
.plp_coming01 .coming_list ol li {
  margin-bottom: 20px;
}

/* 기획전 목록 */
.plp_plan01 {
  padding-top: 20px;
}
.plp_plan01 .plan_list {
  /* 목록*/
  margin: 0 15px 60px;
}
.plp_plan01 .plan_list ol li {
  margin-bottom: 20px;
}

/* 음성검색 레이어팝업 */
.search_layer.p_wrap {
  height: 100%;
  background-color: #E5E5E5;
}
.search_layer.p_wrap .box_search_top {
  padding-top: 90px;
}
.search_layer.p_wrap h2 {
  color: #002C5F;
  font-family: "HynSans_Head-B";
  font-size: 26px;
  line-height: 34px;
  text-align: center;
}
.search_layer.p_wrap .search_word {
  padding: 0 80px;
  color: #002C5F;
  font-family: "HynSans_Txt-R";
  font-size: 26px;
  line-height: 34px;
  word-break: break-all;
}
.search_layer.p_wrap .box_search_btm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  bottom: 60px;
  width: 100%;
}
.search_layer.p_wrap .box_search_btm.active_restart .box_loading {
  opacity: 0;
}
.search_layer.p_wrap .box_search_btm.active_restart .box_restart_search {
  opacity: 1;
}
.search_layer.p_wrap .box_search_btm.active_recommend .recommend_word {
  opacity: 1;
}
.search_layer.p_wrap .recommend_word {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.search_layer.p_wrap .recommend_word strong {
  display: block;
  padding-bottom: 15px;
  color: #000000;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 26px;
}
.search_layer.p_wrap .recommend_word p {
  margin-top: 8px;
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 24px;
}
.search_layer.p_wrap .recommend_word p:first-child {
  margin-top: 0;
}
.search_layer.p_wrap .box_restart_search {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #767676;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.search_layer.p_wrap .box_restart_search button {
  width: 80px;
  height: 80px;
  margin-top: 20px;
}
.search_layer.p_wrap .box_restart_search button img {
  width: 100%;
}
.search_layer.p_wrap .box_restart_search.active {
  opacity: 1;
}
.search_layer.p_wrap .box_loading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 80px;
  opacity: 1;
}
.search_layer.p_wrap .box_loading i {
  display: block;
  width: 12px;
  height: 12px;
  background-color: #00AAD2;
  border-radius: 12px;
}
.search_layer.p_wrap .box_loading.active i {
  --startHeight:40px;
  --endHeight:30px;
  animation: voice_search01 1s ease-in-out infinite;
}
.search_layer.p_wrap .box_loading.active i:nth-child(1), .search_layer.p_wrap .box_loading.active i:nth-child(5) {
  --startHeight:25px;
  --endHeight:20px;
  animation: voice_search01 1s ease-in-out infinite;
}
.search_layer.p_wrap .box_loading.active i:nth-child(2), .search_layer.p_wrap .box_loading.active i:nth-child(4) {
  --startHeight:20px;
  --endHeight:40px;
  animation: voice_search01 1s ease-in-out infinite;
}
.search_layer.p_wrap .box_loading.speed i {
  animation-duration: 0.5s !important;
}
@keyframes voice_search01 {
  0%, 100% {
    height: var(--startHeight);
  }
  50% {
    height: var(--endHeight);
  }
}
/*# sourceMappingURL=maps/h_display.css.map */
