@charset "UTF-8";
/* 메인 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
.hashtag.sticky {
  display: block;
  position: fixed;
  z-index: 600;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
}
.hashtag.sticky.space50 {
  top: 50px;
}
.hashtag ul {
  position: relative;
  width: 100%;
  background: #FFF;
  border-bottom: 1px solid #EDEDED;
  text-align: center;
  white-space: nowrap;
  z-index: 601;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hashtag ul::-webkit-scrollbar {
  display: none;
}
.hashtag ul li {
  display: inline-block;
  flex: 1;
}
.hashtag ul li a {
  display: block;
  position: relative;
  padding: 0 10px;
  color: #DDDDDD;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 46px;
}
.hashtag ul .on a {
  color: #000000;
}

.main_section {
  width: 100%;
  color: #111;
}

.greeting {
  position: relative;
}
.greeting.on {
  padding-top: 0;
}
.greeting .greeting_wrap .cont_text {
  height: 100%;
  padding: 120px 0 0 30px;
  margin-bottom: 63px;
  background-color: #FFF;
}
.greeting .greeting_wrap .cont_text .tit {
  margin-bottom: 30px;
  font-family: "HynSans_Head-M";
  font-size: 90px;
  line-height: 99px;
}
.greeting .greeting_wrap .cont_text .desc .text1 {
  margin-bottom: 2px;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 22px;
}
.greeting .greeting_wrap .cont_text .desc .text2 {
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 22px;
}
.greeting .greeting_wrap .cont_img {
  width: 100%;
  height: 69.4vw;
  position: relative;
}
.greeting .greeting_wrap .cont_img img {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
}
.greeting .greeting_wrap .cont_search {
  height: 100%;
  background: url("../img/main/bg_explore.png") no-repeat center;
  background-size: cover;
  padding-top: 27.77vw;
  position: relative;
}
.greeting .greeting_wrap .cont_search .sub_tit {
  margin-bottom: 42px;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 25px;
  text-align: center;
}
.greeting .greeting_wrap .cont_search .search {
  padding: 0 30px;
  margin-bottom: 87.77vw;
  position: relative;
}
.greeting .greeting_wrap .cont_search .search .text {
  padding: 0 40px 15px 0;
  margin-bottom: 5px;
  border-bottom: 2px solid #002C5F;
  font-family: "HynSans_Head-R";
  font-size: 17px;
  line-height: 21px;
  color: #002C5F;
}
.greeting .greeting_wrap .cont_search .search .icon_search {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 34px;
  top: 0;
}
.greeting .greeting_wrap .cont_search .search .icon_search img {
  width: 100%;
}
.greeting .greeting_wrap .cont_search .search .date {
  font-family: "HynSans_Head-R";
  font-size: 11px;
  line-height: 17px;
  color: #8F8F8F;
  text-align: right;
}
.greeting .greeting_wrap .cont_search .btn_area {
  width: 100%;
  padding: 0 30px;
}
.greeting .greeting_wrap .cont_search .btn_area button {
  width: 100%;
  height: 56px;
  border: 1px solid #D6CFC6;
  background: linear-gradient(90deg, #002C5F 0%, #003D85 100%);
  box-shadow: 0px 5px 15px rgba(170, 202, 230, 0.3);
  border-radius: 100px;
  text-align: center;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 54px;
  color: #FFF;
}
.greeting .greeting_wrap .cont_search .btn_area button .icon_bell {
  margin-right: 8px;
}
.greeting .greeting_wrap .cont_search .btn_area button .icon_bell img {
  width: 24px;
  height: 24px;
}
.greeting .greeting_wrap .cont_search .mark_down {
  padding: 15px 0 25px;
  text-align: center;
}

.coming {
  width: 100%;
  height: 360px;
  position: relative;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.coming .tit {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 1;
  font-family: "HynSans_Head-M";
  font-size: 60px;
  line-height: 75px;
  color: #002C5F;
  white-space: nowrap;
}
.coming .cont_img {
  position: relative;
  z-index: 2;
  padding: 87px 17px 25px;
}
.coming .cont_img img {
  width: 100%;
}
.coming .btn_area {
  text-align: center;
}
.coming .btn_area a {
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
  color: #111;
}

.ranking {
  padding: 60px 0 140px;
  background-color: #F6F3F2;
}
.ranking .cont_text {
  padding-left: 30px;
}
.ranking .cont_text .flag {
  display: inline-block;
  width: 65px;
  height: 29px;
  background: linear-gradient(270.83deg, #00AAD2 0.69%, #007FA8 99.26%);
  padding: 5px 10px 4px;
  margin-bottom: 15px;
  border-radius: 100px;
  font-family: "HynSans_Head-B";
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
}
.ranking .cont_text .tit {
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
  margin-bottom: 20px;
  color: #002C5F;
}
.ranking .cont_text .desc {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}
.ranking .cont_img {
  margin-top: 117px;
}
.ranking .cont_img ol li {
  position: relative;
  width: calc(100% - 40px);
}
.ranking .cont_img ol li .tit_area {
  display: flex;
  align-items: center;
  position: absolute;
  top: 14px;
  left: 15px;
  color: #FFF;
}
.ranking .cont_img ol li .tit_area em {
  font-family: "HynSans_Head-L";
  font-size: 70px;
  line-height: 70px;
}
.ranking .cont_img ol li .tit_area span {
  font-family: "HynSans_Head-M";
  font-size: 17px;
  line-height: 21px;
}
.ranking .cont_img ol li img {
  width: 100%;
}

.mychart .mychart_wrap {
  position: relative;
  height: 100%;
  min-height: 638px;
  background: transparent url("../img/main/bg_propose.png") no-repeat center;
  background-size: 100% auto;
  padding-top: 16.6vw;
}
.mychart .mychart_wrap .tit {
  margin-bottom: 40px;
  font-family: "HynSans_Head-M";
  font-size: 16px;
  line-height: 20px;
  color: #FFF;
  text-align: center;
}
.mychart .mychart_wrap .tit p {
  margin-top: 10px;
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
}
.mychart .mychart_wrap > [class*=cont] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 111.1vw;
  text-align: center;
}
.mychart .mychart_wrap > [class*=cont] .cont_chart {
  width: 100%;
  height: 56.388vw;
}
.mychart .mychart_wrap > [class*=cont] .cont_text {
  color: #FFF;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 120px;
}
.mychart .mychart_wrap > [class*=cont] .cont_text .text1 {
  margin-bottom: 5px;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.mychart .mychart_wrap > [class*=cont] .cont_text .text2 {
  font-family: "HynSans_Head-M";
  font-size: 50px;
  line-height: 63px;
}
.mychart .mychart_wrap > [class*=cont] .btn_area {
  margin-top: 15px;
}
.mychart .mychart_wrap > [class*=cont] .btn_area button {
  width: 170px;
  height: 48px;
  padding: 0 20px;
  background: linear-gradient(90deg, #007FA8 4.2%, #00AAD2 100%);
  border-radius: 100px;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
  color: #FFF;
  text-align: center;
}
.mychart .mychart_wrap .cont2 .cont_text .text2 {
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
}

.lab {
  position: relative;
  height: 100%;
  min-height: 640px;
  padding-top: 16.6666vw;
  overflow: hidden;
}
.lab .bg_wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  background-image: url("../img/main/bg_wave1.png"), url("../img/main/bg_wave2.png"), url("../img/main/bg_wave3.png");
  background-position: 11% 112%, 2% 123%, 0 120%;
  background-repeat: no-repeat;
  background-size: auto 230px, auto 343px, auto 325px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  transition: all 2s;
}
.lab .bg_wrap:hover {
  width: calc(100% - 80px);
  height: 497px;
  background-color: #002C5F;
  border-radius: 30px;
  top: -30%;
  left: 40px;
}
.lab .tit {
  position: relative;
  font-family: "HynSans_Head-M";
  font-size: 70px;
  line-height: 70px;
  color: #002C5F;
}
.lab .tit [class*=word] {
  position: relative;
}
.lab .tit .word1 {
  left: 60px;
}
.lab .tit .word2 {
  left: 141px;
}
.lab .tit .word3 {
  left: 90px;
}
.lab .tit:hover {
  color: #FFF;
}
.lab .cont_text {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 33.33vw;
  text-align: center;
}
.lab .cont_text .text1 {
  margin-bottom: 10px;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 25px;
}
.lab .cont_text .text2 {
  font-family: "HynSans_Head-R";
  font-size: 20px;
  line-height: 25px;
}
.lab .cont_text .btn_area {
  margin-top: 15px;
}
.lab .cont_text .btn_area button {
  height: 48px;
  padding: 0 20px;
  background: linear-gradient(90deg, #002C5F 0%, #003D85 100%);
  border-radius: 100px;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
  color: #FFF;
  text-align: center;
}

.mycar {
  height: 640px;
  background-color: #E4DCD3;
}
.mycar .tit {
  padding-top: 60px;
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
  color: #002C5F;
  margin-bottom: 25px;
  text-align: center;
}
.mycar .btn_area {
  text-align: center;
}
.mycar .btn_area button {
  background: #00AAD2;
  border-radius: 100px;
  color: #FFF;
  padding: 0 20px;
  height: 48px;
}
.mycar .cont_regist {
  height: calc(100% - 274px);
  margin-top: 65px;
  padding: 82px 66px 0 66px;
  background: transparent url("../img/main/bg_phone.png") no-repeat center 0%;
  background-size: cover;
}
.mycar .cont_regist .desc {
  font-family: "HynSans_Head-R";
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-bottom: 25px;
}
.mycar .cont_regist .form_box {
  width: 100%;
  border-bottom: 3px solid #002C5F;
  padding-bottom: 9px;
}
.mycar .cont_regist .form_box input {
  width: 100%;
  border: none;
  font-family: "HynSans_Head-M";
  font-size: 40px;
  line-height: 50px;
  color: #002C5F;
  caret-color: rgba(0, 44, 95, 0.5);
}
.mycar .cont_regist .form_box input::placeholder {
  color: #DDDDDD;
  line-height: 50px;
}

.merit {
  min-height: 640px;
  padding-top: 120px;
  background-color: #111;
  color: #FFF;
}
.merit .tit {
  margin-bottom: 25px;
  margin-left: 21px;
  font-family: "HynSans_Head-M";
  font-size: 30px;
  line-height: 38px;
}
.merit .btn_area {
  margin-left: 21px;
}
.merit .btn_area button {
  height: 48px;
  padding: 0 20px;
  background-color: #FFF;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
  color: #333333;
}
.merit .cont_img {
  margin-top: 100px;
  width: calc(100% - 60px);
}
.merit .cont_img img {
  width: 100%;
  height: auto;
}

.faq {
  padding-top: 80px;
}
.faq .tit {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
.faq .cont_slide {
  padding: 15px 0 80px;
}
.faq .cont_slide .swiper-wrapper {
  padding-bottom: 30px;
}
.faq .cont_slide .swiper-wrapper .swiper-slide {
  padding: 0 51px;
}
.faq .cont_slide .swiper-wrapper .swiper-slide a {
  display: block;
  font-family: "HynSans_Head-M";
  font-size: 20px;
  line-height: 25px;
  color: #333333;
  text-align: center;
}
.faq .cont_slide .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  background-color: #DDDDDD !important;
}
.faq .cont_link {
  border-top: 1px solid #EDEDED;
}
.faq .cont_link ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.faq .cont_link ul li {
  flex: 1;
}
.faq .cont_link ul li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 28px 0 27px;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 19px;
}
.faq .cont_link ul li a span {
  display: inline-block;
}
.faq .cont_link ul li a .icon {
  margin-bottom: 10px;
  width: 36px;
  height: 36px;
}
.faq .cont_link ul li a .icon img {
  width: 100%;
  height: auto;
}
.faq .cont_link ul li a .text {
  color: #111;
}
.faq .cont_link ul li + li {
  border-left: 1px solid #EDEDED;
}