@charset "UTF-8";
/* 
	로그인, 서비스 가입
*/
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
/*PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보*/
/* 제네시스 제외 */
/* 제네시스 제외 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* 상품유닛 */
/* button */
/* 제네시스 body 배경색 */
/* 제네시스 body 배경색 */
.preference_set {
  height: 100vh !important;
  overflow: hidden;
  overflow-y: auto;
}

.pas_set01 ol {
  margin-bottom: 20px;
  width: 100%;
  font-size: 0;
  text-align: center;
}
.pas_set01 ol li {
  display: inline-block;
  vertical-align: middle;
}
.pas_set01 ol li:not(:first-of-type)::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 1px;
  margin: 0 6px;
  background-color: #1E1E1E;
  vertical-align: 2.5px;
}
.pas_set01 ol li > span {
  display: inline-block;
  width: 19px;
  height: 19px;
  border-radius: 100%;
  background-color: #333;
  color: #828282;
  font-family: "GeneSans_Txt-M";
  font-size: 11px;
  line-height: 19px;
}
.pas_set01 ol li > em {
  display: none;
}
.pas_set01 ol li.on > span {
  background-color: #FFFFFF;
  color: #000000;
}
.pas_set01 ol li.end {
  position: relative;
}
.pas_set01 ol li.end > span {
  background: url("../img/bg_form.png") no-repeat;
  background-size: 200px auto;
  background-position: -159px -180px;
  font-size: 0;
}
.pas_set01 .tit {
  margin-bottom: 46px;
  color: #FFFFFF;
  font-family: "GeneSans_Head-L";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.pas_set01 .tit .sub {
  margin-top: 6px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.pas_set02 {
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  touch-action: pan-y;
}
.pas_set02 ol li {
  flex: 0 0 100%;
  display: block !important;
}
.pas_set02 .tit {
  display: block;
  color: #FFFFFF;
  font-family: "GeneSans_Head-L";
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
.pas_set02 .img {
  display: block;
  width: 75%;
  margin: 12px auto 0;
}
.pas_set02 .img img {
  width: 100%;
}
.pas_set02 .swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
  background: rgba(255, 255, 255, 0.25) !important;
}
.pas_set02 .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background: transparent !important;
  border: 2px solid #FFFFFF;
}

.pas_set03 > .top {
  position: relative;
  margin: 0 21px 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1A1A1A;
  color: #FFFFFF;
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
}
.pas_set03 > .top .data {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(calc(-50% - 5px));
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.pas_btn {
  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 0 21px 20px;
  background-color: black;
  width: 100%;
}
.pas_btn .result {
  border-top: 1px solid #1A1A1A;
  padding-top: 24px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
}
.pas_btn .result dt {
  flex: 0 0 60%;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.pas_btn .result dd {
  flex: 0 0 40%;
  color: #FFFFFF;
  font-family: "GeneSans_Head-L";
  font-size: 20px;
  line-height: 27px;
  text-align: right;
}
.pas_btn > ul {
  padding-top: 28px;
  width: 100%;
  display: table;
  table-layout: fixed;
}
.pas_btn > ul li {
  display: table-cell;
  vertical-align: middle;
}
.pas_btn > ul li:not(:first-of-type) {
  margin-left: 10px;
}

.pas_range {
  margin: 0 21px;
}

.pas_color {
  margin: 20px 0 8px 21px;
  overflow: hidden;
}
.pas_color h6.tit {
  margin-bottom: 5px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}
.pas_color ol {
  padding: 0 0 12px;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  column-gap: 8px;
  overflow: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.pas_color ol li {
  display: inline-block;
  flex: 0 0 44px;
  overflow: hidden;
}
.pas_color ol li:last-of-type {
  margin-right: 21px;
}
.pas_color ol li label {
  width: 44px;
  height: 44px;
}
.pas_color ol li label img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pas_color ol li label span {
  display: none;
}

.pas_option {
  padding: 0 21px 20px;
}
.pas_option .gear {
  display: flex;
  flex-flow: row wrap;
  gap: 7px 10px;
  margin-top: 6px;
}
.pas_option .gear li {
  width: calc(50% - 5px);
}

/*가격 슬라이더*/
.cpo_range {
  display: block;
  position: relative;
  padding: 5px 0 30px 0;
}
.cpo_range::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1E1E1E;
}
.cpo_range .amountArea {
  visibility: hidden;
}
.cpo_range .cpoRange {
  position: relative;
  height: 2px;
  background: #1E1E1E;
}
.cpo_range .cpoRange .ui-slider-range {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  height: 100%;
  background: #C36F51;
  border: 0;
}
.cpo_range .cpoRange .ui-slider-handle {
  z-index: 2;
  cursor: default;
  -ms-touch-action: none;
  touch-action: none;
  outline: none;
  width: 28px;
  height: 28px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-color: #C36F51;
  background-position: -210px -47px;
  border: 2px solid #C36F51;
  border-radius: 100%;
  position: absolute;
  top: -14px;
  -webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(2) {
  margin-left: -7px;
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(3) {
  margin-left: -21px;
  transform: rotate(180deg);
}
.cpo_range .cpoRange .amountArea {
  visibility: hidden;
}
.cpo_range .cpoRange .min_no,
.cpo_range .cpoRange .max_no {
  display: block;
  width: 100px;
  position: absolute;
  top: 20px;
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 11px;
  line-height: 18px;
}
.cpo_range .cpoRange .min_no {
  left: -14px;
  text-align: left;
}
.cpo_range .cpoRange .max_no {
  right: -14px;
  text-align: right;
}

/* 가격 차트 */
.range_chart {
  width: 100%;
  height: 103px;
  position: relative;
  overflow: hidden;
}
.range_chart > ol {
  display: flex;
  width: 100%;
  zoom: 1;
}
.range_chart > ol:after {
  content: "";
  display: block;
  clear: both;
}
.range_chart > ol li {
  display: flex;
  height: 103px;
  margin: 0 auto;
  text-indent: -99999px;
  transition: height 1s;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  float: left;
}
.range_chart > ol li.on .bar i {
  height: 100%;
  margin-top: 0;
  background: #C36F51;
}
.range_chart > ol li .bar {
  width: 2px;
}
.range_chart > ol li .bar i {
  display: block;
  width: 2px;
  height: 100%;
  transition: margin 1s;
  background: #333;
}

@keyframes Ani_Price_Chart {
  from {
    max-height: 0;
  }
  to {
    max-height: 100%;
  }
}
/* 배경 :검정색 */
body {
  background: #000000;
}

#CPOheader [class^=h_] {
  background: #000000;
}
#CPOheader [class^=h_].fixed {
  background: #000000;
}
#CPOheader [class^=h_] h3.tit {
  color: #FFFFFF;
}
#CPOheader [class^=h_] .ic_back:before {
  background-position: -172px 2px;
}
#CPOheader [class^=h_] .ic_cart:before {
  background-position: -25px -27px;
}

body {
  background-image: url("../img/main/ghq_main_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw auto;
}

#CPOheader [class^=h_] {
  background-color: transparent;
}

[class^=gmain0]:not(.gmain01_visual) {
  margin: 0 15px 21px;
  background-color: #111111;
}
[class^=gmain0]:not(.gmain01_visual) > h3.tit {
  padding: 30px 21px 20px;
  color: #FFFFFF;
  font-family: "GeneSans_Head-R";
  font-size: 16px;
  line-height: 22px;
}
[class^=gmain0] .swiper-pagination .swiper-pagination-bullet {
  margin: 0 3px;
  background: #828282 !important;
}
[class^=gmain0] .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background: transparent !important;
  border: 2px solid #FFFFFF;
}

.gmain01_visual {
  min-height: 530px;
  width: 100vw;
  overflow-x: hidden;
}
.gmain01_visual > .member {
  padding: 12px 21px 16px;
}
.gmain01_visual > .member > span {
  display: block;
}
.gmain01_visual > .member > span.tit {
  margin-bottom: 10px;
  color: #FFFFFF;
  font-family: "GeneSans_Head-L";
  font-size: 24px;
  line-height: 33px;
}
.gmain01_visual > .member > span.txt {
  color: #FFFFFF;
  font-family: "GeneSans_Txt-R";
  font-size: 16px;
  line-height: 22px;
}

.ghq_main {
  margin-top: 24px;
}
.ghq_main.list {
  width: 200vw;
  perspective: 1200px;
  touch-action: pan-y;
  margin-left: -50vw;
}
.ghq_main ol.list {
  position: relative;
  width: 100%;
  height: 225px;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  transform-style: preserve-3d;
}
.ghq_main ol.list li {
  flex-shrink: 0;
  height: 100%;
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  transition-property: transform, opacity, height;
}
.ghq_main ol.list li > .title {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
.ghq_main ol.list li > .car .name {
  color: #FFFFFF;
  font-family: "GeneSans_Head-R";
  font-size: 11px;
  line-height: 15px;
}
.ghq_main ol.list li.swiper-slide-duplicate, .ghq_main ol.list li.swiper-slide-duplicate-prev, .ghq_main ol.list li.swiper-slide-duplicate-active, .ghq_main ol.list li.swiper-slide-duplicate-next {
  opacity: 0;
}
.ghq_main ol.list li.swiper-slide-prev {
  opacity: 1;
}
.ghq_main ol.list li.swiper-slide-next {
  opacity: 1;
}
.ghq_main ol.list li.swiper-slide-active {
  opacity: 1;
  padding-top: 5px;
}
.ghq_main .swiper-pagination-bullets {
  display: block;
  position: relative;
  width: calc(100vw - 30px);
  margin: 50px auto 0;
  text-align: center;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet {
  display: inline-block;
  float: none;
  margin: 0 3px;
  vertical-align: middle;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet .title {
  opacity: 0;
  display: none;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet-active {
  border-color: #FFFFFF !important;
}
.ghq_main .swiper-pagination-bullets > .swiper-pagination-bullet-active .title {
  opacity: 1;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: -96px;
  left: 0;
}
.ghq_main .title {
  width: calc(100vw - 30px);
  text-align: center;
}
.ghq_main .title .name {
  display: block;
  margin-bottom: 6px;
  color: #FFFFFF;
  font-family: "GeneSans_Head-L";
  font-size: 24px;
  line-height: 33px;
}
.ghq_main .title .more {
  display: inline-block;
  margin-bottom: 70px;
  color: #FFFFFF;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 23px;
}
.ghq_main .title .more::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.ghq_main.mine {
  width: 100%;
}
.ghq_main.mine .title {
  margin: -27px auto 0;
}
.ghq_main.mine > span.img {
  display: block;
  width: 100%;
}
.ghq_main.mine > span.img img {
  width: 100%;
}

.gmain02_plp {
  padding: 0 0 80px;
}
.gmain02_plp .swiper-pagination {
  bottom: 40px !important;
}
.gmain02_plp > ol.list {
  margin-left: 21px;
}
.gmain02_plp > ol.list li {
  flex-shrink: 0;
  display: flex;
  width: 225px;
  height: 100%;
  margin-right: 16px;
  transition-property: transform;
}
.gmain02_plp > ol.list li:last-of-type {
  width: 246px;
  padding-right: 21px;
}
.gmain02_plp > ol.list li .unit_link .unit_img {
  padding-bottom: 112%;
}
.gmain02_plp > ol.list li .unit_link .unit_img .no {
  position: absolute;
  top: 10px;
  left: 15px;
  z-index: 4;
  display: inline-block;
  color: black;
  font-family: "GeneSans_Head-L";
  font-size: 40px;
  line-height: 48px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .name > span {
  color: #FFFFFF;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .drive {
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .drive em {
  margin-right: 1px;
  padding-right: 4px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .drive em::after {
  background-color: #333;
  width: 2px;
  height: 2px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .price em {
  color: #FFFFFF;
  font-family: "GeneSans_Txt-M";
  font-size: 18px;
  line-height: 29px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .price i {
  color: #FFFFFF;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 29px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .mine {
  color: #FFFFFF;
}
.gmain02_plp > ol.list li .unit_link .unit_info .mine em {
  font-family: "GeneSans_Txt-M";
  font-size: 12px;
  line-height: 20px;
}
.gmain02_plp > ol.list li .unit_link .unit_info .mine i {
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.gmain03_coming > h3.tit {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.gmain03_coming .swiper-pagination {
  bottom: 30px !important;
}
.gmain03_coming > ol.list li {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  height: 100%;
  margin-right: 0;
  transition-property: transform;
}
.gmain03_coming > ol.list li .unit_coming .noti {
  bottom: 118px;
}
.gmain03_coming > ol.list li .unit_coming .btn_alarm01 {
  bottom: 60px;
}
.gmain03_coming > ol.list li .unit_coming .unit_info {
  top: 72px;
}
.gmain03_coming > ol.list li .unit_coming .unit_info .drive em::after {
  width: 2px;
  height: 2px;
}
.gmain03_coming .entry_mycar {
  display: block;
  position: relative;
}
.gmain03_coming .entry_mycar .img {
  display: block;
}
.gmain03_coming .entry_mycar .img img {
  width: 100%;
}
.gmain03_coming .entry_mycar > p.txt {
  position: absolute;
  top: 30px;
  left: 21px;
  display: block;
  color: #FFFFFF;
  font-family: "GeneSans_Txt-R";
  font-size: 15px;
  line-height: 24px;
}
.gmain03_coming .entry_mycar > p.txt .btn_txt06 {
  display: inline-block;
  margin-top: 20px;
  font-family: "GeneSans_Txt-R";
  font-size: 14px;
  line-height: 23px;
}
.gmain03_coming .entry_mycar > p.txt .btn_txt06::after {
  bottom: 4px;
  right: -15px;
}

.gmain04_service {
  padding: 0 0 80px;
}
.gmain04_service .swiper-pagination {
  bottom: 40px !important;
}
.gmain04_service > ol.list {
  margin-left: 21px;
}
.gmain04_service > ol.list li {
  flex-shrink: 0;
  display: flex;
  width: 225px;
  height: 100%;
  margin-right: 16px;
  transition-property: transform;
}
.gmain04_service > ol.list li:last-of-type {
  width: 246px;
  padding-right: 21px;
}
.gmain04_service > ol.list li > a {
  display: block;
}
.gmain04_service > ol.list li > a > span {
  display: block;
}
.gmain04_service > ol.list li > a > span.img {
  width: 100%;
  margin-bottom: 16px;
}
.gmain04_service > ol.list li > a > span.tit {
  margin-bottom: 5px;
  color: #FFFFFF;
  font-family: "GeneSans_Head-R";
  font-size: 14px;
  line-height: 19px;
}
.gmain04_service > ol.list li > a > span.txt {
  color: #828282;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
}

.main_option {
  overflow: auto;
  max-height: 410px;
  margin: 10px 25px 40px;
}
.main_option li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #F2F2F2;
}
.main_option li .tit {
  flex: 20%;
  color: #AF6249;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 20px;
}
.main_option li .txt {
  flex: 80%;
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.main_option li .tog_tit {
  position: relative;
  width: 100%;
  color: #000000;
  font-family: "GeneSans_Head-R";
  font-size: 15px;
  line-height: 20px;
}
.main_option li .tog_tit::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  width: 12px;
  height: 8px;
  background: url("../img/bg_display.png") no-repeat;
  background-size: 300px 200px;
  background-position: -200px -53px;
  transform: translateY(-50%) rotate(0deg);
}
.main_option li .tog_txt {
  display: none;
  width: 100%;
  margin-top: 10px;
  color: #666666;
  font-family: "GeneSans_Txt-R";
  font-size: 12px;
  line-height: 19px;
}
.main_option li.on {
  border-bottom: solid 1px #AF6249;
}
.main_option li.on .tog_tit {
  color: #AF6249;
}
.main_option li.on .tog_tit::after {
  transform: translateY(-50%) rotate(180deg);
}
/*# sourceMappingURL=maps/g_main.css.map */
