// **********************************************************
// color 속성
// **********************************************************
$COL_WHITE: #FFF;
$COL_BLACK: #111;

$COL_BG_Light01:#F7F7F7;
$COL_BG_Light02:#F6F3F2;

$COL_Line_Light01:#EDEDED;
$COL_Line_Light02:#F2F2F2; 
$COL_Line_Dark01:#DDDDDD;

$COL_Inactive_Icon01:#959595;
$COL_Inactive_Text01:#767676;

$COL_Text_Base01:#9C9C9C;
$COL_Text_Base02:#666666;
$COL_Text_Base03:#333333;
$COL_Text_Base04:#000000;

$COL_Primary01:#002C5F;
$COL_Primary02:#1E3C72;
$COL_Secondary01:#00AAD2;
$COL_SkyBlue01:#AACAE6;
$COL_RED01: #DB0000;
$COL_CPO_BG01: #A36B4F;

$COL_Gray01: #B3B3B3; //PDP 금융정보
$COL_Gray03: #808080; //PDP 탭
$COL_Gray04: #4D4D4D; //PDP 상품옵션
$COL_Gray05: #E4DCD3; //PDP 상품유닛, PDP 상단 헤더, 주문하기 명의자 정보 개인, 법인배경
$COL_Gray06: #FCFCFC; //PDP 탭
$COL_Gray07: #EBF0F2; //PDP 탭
$COL_Gray08: #F5F2F1; //PDP 인증정보
$COL_Gray09: #999999; //PDP 인증정보
$COL_Gray10: #EEEEEE; //PDP 인증정보
$COL_Gray11: #DEE3ED; //MY PAGE 메인 보유차량 등록
$COL_Gray12: #F1F4F5; //MY PAGE 메인
$COL_Gray13: #262626; //이미지 하단 그라데이션
$COL_Gray14: #8F8F8F;
$COL_Gray15: #727272; //공지 type05
$COL_Gray16: #F8F8F8;
$COL_Gray17: #E5E5E5;

$COL_Blue01: #405D80; //PDP 버튼
$COL_Blue02: #1263D6; //PDP flag
$COL_Blue03: #00AAD2; //PDP flag, 주문하기 명의지분율, 주문하기 세금감면 혜택
$COL_Blue04: #007FA8; //PDP flag
$COL_Blue05: #7FBED3; //PDP 인증정보
$COL_Blue06: #2C7CDA; //MY PAGE 메인 블루멤버스 포인트
$COL_Blue07: #ECEFF6; //MY PAGE 메인 보유차량 등록
$COL_Blue08: #00A8D2; //MY PAGE 포인트내역
$COL_Blue09: #2F86EB; //주문 flag
$COL_Blue10: #06EBFF;
$COL_Blue11: #1290FE;

// PDP 성능상태 점검기록부 팝업 사고이력 단순수리 정보
$COL_info01: #AF6249;
$COL_info02: #1D8ABC;
$COL_info03: #DB9200;
$COL_info04: #002C5F;
$COL_info05: #30A878;
$COL_info06: #CE2D2D;

// 주문하기 