// 비교하기
//	order.css
//	mypage.css
//
@import '../_common/g_function';
@import '../_common/g_mixins';

[class^=CPOpop_full] .cpo_compare {
	overflow: hidden;
	padding-bottom:0 !important;
	height:100%;
}
.layer_compare{
	display:flex;
	flex-wrap:nowrap;
	position:relative;
	width:100%; height: 100%;
	background:transparent url('../img/bg_repeat_02.png?ver=1') repeat-y;	
	// &::after{// 좌측 투명 레이어
	// 	content:'';
	// 	display:block;
	// 	position:absolute;
	// 	top:0;
	// 	right:0;
	// 	z-index:10;
	// 	width:30px;
	// 	height:100%;
	// 	background:rgba($COL_White , 0.8);
	// }	
	.compare_list {// 비교차량 list 
		display:flex;
		flex-wrap:nowrap;
		overflow-x:auto;
		overflow-y:hidden;
		width: 100%; height: 100%;
		padding:0 10px 0 172px;
		-webkit-overflow-scrolling: touch;
		&::after {
			z-index: 11;
			content:'';			
			position: absolute;
			top:0; left: 0;
			width: 100%;
			height:0;			
			opacity: 0;
			box-shadow: 0px 4px 6px -1px rgb(0 0 0 / 12%);
			transition:opacity ease-in 0.3s;
		}
		&.fixed {
			&::after {	
				top:170px;
				height:10px;			
				opacity: 1;								
			}
			li.item {
				.top_area {				
					height:auto;				
					.btn_small03,.caution{
						display:none;
					}
					.img {
						width: 60px;
						height: 60px;
					}
					.btn_add {
						button {
							height:140px;
							&::before {
								margin:0 auto 15px;
							}
						}
					}
				}
			}
		}	
		li.item { //비교차량 li
			flex:1 0 162px;
			max-width:162px; height: 100%;
			transition: all ease-in 0.5s;
			&.target{ // 비교차량 선택 된 값(좌측 고정)
				z-index: 2;
				position:absolute;
				top:0;
				left:0;
				flex:1 0 172px;
				max-width:172px; height:100%;
				background:map-get($COL_Box_01,'bg_light');				
				.top_area { // 비교차량 상단 이미지
					background:map-get($COL_Box_01,'bg_light');
					padding:25px 10px 15px;					
				}
				.cont {
					padding:35px 15px 40px;
				}
			}							
		}
	}
}

.unit_compare{// 비교차량 정보 style
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;
	.top_area{// 비교차량 상단 이미지
		z-index: 1;
		padding:25px 0 15px 10px;
		width:100%;
		height:324px;
		background:$COL_White;
		.btn_add { // 비교차량 등록 추가 버튼
			button {
				width:100%;
				height:284px;
				color:map-get($COL_Base_02,'bg_light');
				@include Mix_Font('Txt-R', 13, 21);
				border:1px dashed map-get($COL_Line_01,'bg_light');
				transition:height ease-in 0.3s;
				&::before{
					content:'';
					display:block;
					width:22px;
					height:22px;
					margin:0 auto 20px;
					@include Mix_Display_Bg;
					background-position:-189px 0;
				}
			}			
		}
		.box_btn {
			display:flex;
			align-items: center;
			justify-content: space-between;
		}
		.caution {
			margin:22px 5px 0;
		}
		.tit{			
			margin-top:11px;
			min-height:38px;
			color:$COL_Black;
			@include Mix_Font('Head-R', 14, 19);
			@include Mix_Ellipsis(2);
			word-break: keep-all;
		}
		.img{ /* 썸네일 이미지 */
			overflow:hidden;
			position:relative;
			margin-top:10px;
			height:152px;
			width: 152px;
			background:map-get($COL_Box_01,"bg_light");
			img{
				position:absolute;
				top:50%;
				left:50%;
				width:100%;
				height:auto;
				transform:translate(-50%, -50%);
			}
			&.no_img{
				// border:1px solid $COL_Line_Medium;
			}		
			transition:all 0.3s ease-in;
		}	
		.btn_small03 {
			margin-top:10px;
		}
	}
	.cont{ // 비교차량 하단 차량 정보
		padding:35px 5px 40px 15px;
		flex: 1;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		.box_info { // B. info - 차량 기본 정보
			li{
				margin-top:20px;
				color:$COL_Black;
				&:first-of-type{
					margin-top:0;
				}
				&.price {
					display:flex;
					flex-wrap: wrap;
					align-items: flex-start;
					min-height:64px;
				}
				span{
					display:block;
				}
				.text{/* 가격 단위 */
					width: 100%;
					em {
						vertical-align:middle;
						@include Mix_Font('Txt-M', 16, 26);
					}
					i{
						padding-left:1px;
						@include Mix_Font('Txt-R', 14, 22);
						vertical-align:middle;
					}
					&.row {
						min-height:52px;
					}
				} 
				.sub_text{ 
					@include Mix_Font('Txt-M', 14, 22);
					vertical-align:middle;
					&.row {						
						height:44px;
						@include Mix_Ellipsis(2);					
					}
				}
				.desc{					
					color:map-get($COL_Base_02,'bg_light');
					@include Mix_Font('Txt-R', 12, 19);
				}
				.no_price{
					color:map-get($COL_Base_02,'bg_light');
					@include Mix_Font('Txt-R', 14, 22);
				}
			}
		}
		.box_option{// B. info - 성능점검, 보험이력
			margin-top:70px;
			.tit{
				padding-bottom:10px;
				border-bottom:1px solid map-get($COL_Line_01 , "bg_light");
				color:$COL_Black;
				@include Mix_Font('Head-R', 18, 24);
				em{
					display:inline-block;
					margin-left:4px;
					padding:0 5px;
					min-width:18px;
					min-height:18px;
					border-radius:9px;
					background:$COL_Black;
					color:$COL_White;
					vertical-align:2px;
					text-align: center;
					@include Mix_Font('Txt-M', 12, 18);
				}
			}
			&:last-child {
				.tit {
					border-bottom: none;
				}
			}
			ul:not(.option_list) {
				> li {
					display:flex;
					margin-top:8px;
					align-items: center;
					justify-content: space-between;
					&:first-child {
						margin-top:15px;
					}
				}
				p{
					color:map-get($COL_Base_02 , "bg_light");
				}
				span{
					em {
						@include Mix_Font_Txt_M;
					}
				}
			}			
			.option_list{// B. info - 옵션정보
				display:flex;
				flex-flow:row wrap;
				align-items: flex-start;
				gap :25px 5px;
				margin:20px 0 60px;
				li{
					flex:0 calc((100% - 5px)/2);
					text-align:center; 
				}
			} /* 옵션 */
		}
	}
}