@charset 'utf-8';
/* 레이아웃
	Z-INDEX 범위
		- CPOhdaer : 501 ~ 600
		- CPOcontents : 401 ~ 500
		- CPOaction : 600
		- CPOfooter : 601 ~ 700
		- CPOtop : 800
		- dim : 1000
		- CPOloading: 1001
		- layer : 1001

*/
.txt_hidden{display:none;}
/* skip */
#CPOskip{
	position:relative;
	top:0;
	left:0;
	z-index:500;
	width:100%;
	a{
		position:absolute;
		left:0;
		top:-30px;
		width:100%;
		height:0;
		background:map-get($COL_Box_01, "bg_dark");
		color:$COL_White;
		@include Mix_Font_Txt_B;
		text-align:center;
		&:focus{
			top:0;
			height:30px;
			line-height:30px;
			text-decoration:none;
		}
	}
}

/* loading */
#CPOloading, #brandLoading{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:1001;
	width:100%;
	height:100%;
	background:rgba($COL_Black,0.7);
	.loading {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		transform: translate(-50%, -50%);
		&::after {
			content: '';
			display: block;
			width: 100px;
			height: 60px;
			margin: 0 auto;
			background:url('../img/loading.gif?V=1') no-repeat;
			background-size: 100px 60px;
		}
		span {
			z-index: -1;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%, -50%);
			display: block;
			width: 140px;
			height: 120px;
			margin: auto;
			@include Mix_Size_0;
			background-color: map-get($COL_Box_01 ,'bg_dark');
		}
	}
	.brand {
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background-color: #f7f7f7;
		.loading {
			.text {
				margin-bottom: 20px;
				text-align: center;
				@include Mix_Font('Head-L', 22, 30);
			}
			&::after {
				background:url('../img/brand_loading.gif?V=1') no-repeat;
				background-size: 100px 60px;
			}
		}
	}
}

/* CPO WRAP */
#CPOwrap{
	position:relative;
	width:100%;
	height:100%;
}

/* CPO HEADER */
#CPOheader{
	position:fixed;
	top:0;
	left:0;
	z-index:600;
	width:100%;
	height:50px;
}
[class^=h_header] {
	position: relative;
	height: 50px;
	.tit {
		display:block;
		position: absolute;
		left: 0;
		top: 50%;
		color:$COL_Black;
        @include Mix_Font('Head-R', 16, 20);
        @include Mix_Ellipsis01;
		transform: translateY(-50%);
		&.align_c {
			text-align: center;
			width: 100%;
			padding: 0 50px;
		}
		a {
			margin-left: 15px;
		}
	}
	.util {
		display: flex;
		align-items: center;	
		height: 100%;
		padding-right: 15px;
		position: absolute;
		right: 0;
		top:0;
		> ul {
			display: inline-flex;
			align-items: center;
			li ~ li {margin-left: 16px;}
		}
	}
	[class^="ic_"]{// header 아티콘 공통 
		display:block;
		width:24px;
		height:24px;
		@include Mix_Size_0;
		position: relative;
		&::before{
			content:'';
			display:block;
			width: 24px;
			height:24px;
			margin:0 auto;
			@include Mix_Layout_Bg;
		}
		&.on::after {
			content:'';
			display: inline-block;
			width: 4px;
			height: 4px;
			background-color: $COL_Helpful ;
			border-radius: 50%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
	.ic_back{// header - 이전버튼 - 검은색
		position:absolute;
		top:50%;
		left:15px;
		margin-top: -12px;
		z-index: 1;
	}
	.ic_logo{// header - 로고
		width:110px;
		height:17px;
		&::before{
			width: 100%;
			height: 100%;
		}
	}
	.menu {
		display:inline-block;
		height: 27px;
		padding: 1px 23px 0 9px;
		margin-right: 13px;
		border-radius: 15px;
		@include Mix_Font('Head-R', 12, 25);
		position: relative;
		&::before{
			content:'';
			position: absolute;
			top: 50%;
			right: 9px;
			width: 10px;
			height: 6px;
			margin-top: -2px;
			@include Mix_Layout_Bg;
		}
		&.on::before{
			transform:rotate(180deg);
		}
	}
	.menu_layer{ //내차팔기, 내차사기
		display:none;
		width:116px;
		position:absolute;
		top: 48px;
		left:0;
		padding:14px 24px;
		border-radius: 6px;
		&.on{
			display:block;
		}
		ul li {
			a{
				display:block;
				@include Mix_Font('Txt-R', 13, 20);
			}
			&.on a{
				&::after{
					content:'';
					display:inline-block;
					width:10px;
					height:7px;
					margin-left: 7px;
					@include Mix_Layout_Bg;
				}
			}
			& + li {
				margin-top: 12px;
			}
		}
	}
}

.h_header {
	//기본/고정 어두운 배경 - 흰색 아이콘
	@include Mix_Icon_White;
	.tit {
		color:$COL_White;
	}
	//기본 흰배경, 타이틀 중앙정렬, 새창페이지, 하단라인 있음
	&_sub {
		@include Mix_Icon_Black;
		background-color: $COL_White;
		border-bottom: 1px solid map-get($COL_Box_02 ,'bg_light');
		.tit {
			text-align: center;
			color:$COL_Black;
			width: 100%;
		}
	}
	//기본/고정- 아이콘 블랙, 로고있거나 타이틀 투명, 하단라인 없음
	&_navi01 {
		@include Mix_Icon_Black;
		.tit {
			width: auto;
			color: transparent;
		}
	}
	//기본/고정- 아이콘 흰색, 로고있거나 타이틀 투명, 하단라인 없음,  vod커머스
	&_navi02 {
		@include Mix_Icon_White;
		.tit {
			width: auto;
			color: transparent;
		}
		&.fixed {
			background-color:$COL_Black;
			.tit {
				color: $COL_White;
			}
		}
	}	
	//상단 비주얼- 아이콘 흰색, 고정- 아이콘 블랙, 하단 라인
	&_detail {
		@include Mix_Icon_White;
		.tit { 
			padding-left: 43px;
			flex: 1 1;
			color:$COL_White;
			&.hidden{
				display: none;
			}
		}
		&.fixed{ //헤더 고정 
			@include Mix_Icon_Black;
			background-color: $COL_White;
			border-bottom: 1px solid map-get($COL_Box_02 , 'bg_light');
			.tit { 
				color:$COL_Black;
				&.hidden{
					display: block;
				}
			}
		}
	}
}

/* contents */
#CPOcontents{
	position:relative;
	min-height:calc(100% - 200px);
	padding-top:50px;
	> div:last-child:not(.btn_sticky),
	> div:only-child {
		padding-bottom: 60px;
	}
}


/* actionbar */
#CPOactionbar{
	position:fixed;
	bottom:0;
	left:0;
	z-index:600;
	width:100%;
	height:52px;
	border-top:1px solid map-get($COL_Base_05,'bg_light');
	background:$COL_Black;
	ul{
		@include Mix_Clear;		
		li{
			float:left;
			width:20%;
			height:51px;
			&[class^="ac_"]{
				a {
					position: relative;
					display:block;
					overflow:hidden;
					width:100%;
					height:100%;
					@include Mix_Size_0;
					line-height:50px;
					&::before{
						content:'';
						display:block;
						width:24px;
						height:24px;
						margin:15px auto 0;
						@include Mix_Layout_Bg;
						background-position-y:-51px;
					}
					&.on::after {
						content:'';
						display: inline-block;
						width: 4px;
						height: 4px;
						background-color: $COL_Helpful;
						border-radius: 50%;
						position: absolute;
						right: calc(50% - 14px);
						top: 12px;
					}
				}	
			}
			&.ac_home{
				a {
					&::before{
						background-position-x:0;
					}	
				}				
			}
			&.ac_saerch{
				a {
					&::before{
						background-position-x:-24px;
					}
				}				
			}
			&.ac_lab{
				a {
					&::before{
						background-position-x:-48px;
					}
				}				
			}
			&.ac_mypage{
				a {
					&::before{
						background-position-x:-72px;
					}
				}				
			}
			&.ac_wish{
				a {
					&::before{
						background-position-x:-96px;
					}	
				}				
			}
			&.on {
				a {
					&::before{
						background-position-y:-77px;
					}	
				}	
			}
		}
	}
}

/* footer */
#CPOfooter{
	padding:40px 0 94px;
	background:$COL_Black;
	text-align:center;
	.foot_logo a{
		@include Mix_Size_0;
		vertical-align: top;
		&::before{
			content:'';
			display:inline-block;
			margin:0 auto;
			width:100px;
			height:21px;
			@include Mix_Layout_Bg;
			background-position:-0px -128px;
		}
	}
	.foot_copy{
		margin-top:14px;
		color: map-get($COL_Base_02, 'bg_dark');
		@include Mix_Font('Txt-R', 11, 17);
	}
	.foot_menu{
		height:19px;
		margin-top:24px;
		font-size:0;
		text-align:center;
		li{
			display:inline-block;
			position:relative;
			height: 100%;
			padding:0 12px;
			@include Mix_Font('Txt-R', 12, 19);
			a{
				color: map-get($COL_Base_02, 'bg_dark' );
			}
			em{
				color: map-get($COL_Base_05, 'bg_dark' );
			}
			&::before{
				content:'';
				position:absolute;
				top:2px;
				left:0;
				width:1px;
				height:14px;
				background:map-get($COL_Box_02, 'bg_dark' );
			}
			&:first-child::before{
				display: none;
			}
		}
	}
	.foot_info{
		margin-top:24px;
		button{
			position:relative;
			display:inline-block;
			padding-right: 15px;
			color:map-get($COL_Base_03, "bg_dark");
			@include Mix_Font('Txt-R', 12, 19);
			&:after{
				content:'';
				display: block;
				@include Pos($p: absolute, $t: 50%, $r: 0);
				@include Icon_Arr(1.2,AAA8A6,$w:10px,$h:6px);
				transform:rotate(0deg) translateY(-50%);
				font-size:0;
			}
			&.on:after{
				transform:rotate(180deg) translateY(50%);
			}
		}
		> div{
			display:none;
			margin-top:12px;
			color:map-get($COL_Base_02, "bg_dark");
			@include Mix_Font('Txt-R', 11, 18);
			span{
				position:relative;
				margin-right:7px;
				padding-right:7px;
				&:before{
					content:'';
					position:absolute;
					top:50%;
					right:0;
					width:1px;
					height:7px;
					background:map-get($COL_Base_05 , "bg_light");
					transform:translateY(-50%);
				}
			}
			a{
				margin-left:4px;
				color:map-get($COL_Base_03, "bg_dark");
				text-decoration:underline;
				text-underline-offset: 2px;
			}
		}
	}
}

/* top button */
#CPOtop{
	display: block;
	position: fixed;
	right: 10px;
	bottom: 0;
	opacity: 0;
	z-index:800;
	&.ready {
		opacity: 1;
		bottom: 67px;
		transition: opacity 1s, bottom 1s;
	}
	&.scroll {
		a {
			&[title=top]{
				display: block;
			}
			&[title=brand]{
				display: none;
			}
		}
	}
	&.end {
		a {
			&[title=chatbot]{
				display: none;
			}
		}
	}
	a{
		display:block;
		width:48px;
		height:48px;
		@include Mix_Library_Bg;
		background-position:-93px -28px;
		@include Mix_Size_0;
		margin-top:10px;
		border:0;
		//border:1px solid $COL_Line_Dark;
		//border-radius:50%;
		/*background-color:$COL_White;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			margin:10px auto;
			width:24px;
			height:24px;
			@include Mix_Library_Bg;
			background-position:-150px 0;
		}*/
		&[title=chatbot]{
			background-position:-41px -28px;
		}
		&[title=write]{
			display:none;
			background-position:-145px -28px;
		}
		&[title=top]{
			display: none;
			background-position:-94px -28px;
		}
		&[title=brand]{
			background-position:-225px -28px;
		}
	}
	// &.type01{
	// 	a[title=chatbot]{
	// 		display:block;
	// 	}
	// }
	// &.type02{
	// 	a[title=write]{
	// 		display:block;
	// 	}
	// }
}