@charset "utf-8";


/*
 html.headerHide:not(.nav-open):not(.main):not(.pdpArea) .header{transform:translateY(-100%)}
 html.objScrollTopMoveIng .header{transform:translateY(-100%)}
*/

.headerHide .h_navi{transform:translateY(-100%)}


.nav-open body{overflow: hidden;}
body.layout .inp_sch{
	border:0;
	width:calc(100% - 80px);
	color:#b3b3b3;font-size:17px;line-height:48px;
	font-family:HynSans_Head-R;
	vertical-align:middle;
}


/* main */
#CPOwrap {position:relative;width:100%;height:100%;}

#CPOwrap.pdpArea #actionbar,
#CPOwrap.CPOcart #actionbar,
#CPOwrap.CPOorder #actionbar{display:none;}



/*s:header */
.header {width: 100%;height:50px;background:#fff;}
#footer {position:relative;z-index:2;width:100%;padding:20px 20px 100px;background:#F8F8F8;}
.container {position:relative;margin:0 0 0 0;min-height:100%;}

/* top button */
.topbtn{display:none !important;position:fixed;width:60px;height:89px;right:0px;bottom:46px;z-index:6;}
.topbtn > a{position:relative;display:block;height:100%;font-size:0.750rem;color:#a3684f;text-align:center;padding-top:13px;overflow:hidden;z-index:10}
.topbtn > a:before {content:'';display:block;position:absolute;top:36px;left:50%;width:1px;height:37px;background:#a3684f;}

#stickyTit.sticky{
	position:fixed;z-index:600;
	left:0;top:0;
	width:100%;height:50px;
}
#stickyTit.sticky.space50{
	top:50px;
}
#stickyTit.sticky.h_detail{
	background: rgba(0, 0, 0, 0.9)
}

/* skip */
#skip_navi{
	position:absolute;z-index:9999;
	top:-200px;left:0;
	width:100%;
	margin:0 auto;
}
/* header */
.header .h_navi{
	position:fixed;z-index:600;
	width:100%;height:50px;
	left:0;top:0;
	background-color:#fff;
}
.header .h_navi .menu{position:absolute;top:15px;left:14px;}
.header .h_navi .logo,
.header .h_navi .icon_menu{
	display:inline-block;vertical-align:middle;
}
.header .h_navi .util{
	position:absolute;
	top:12px;right:17px;
}
.header .h_navi .util ul li{float:left;}
.header .h_navi .logo img{width:110px;}


[class^="icon_"]{
	display:inline-block;
	width:25px;line-height:25px;
	text-align:center;vertical-align:middle;
	
}
.icon_alarm{margin-left:13px;}
[class^="icon_back"]{
	margin-left:10px;text-indent:-99999px;
	background:transparent url('../img/top_back.svg') no-repeat center 50%;
}
.h_detail [class^="icon_back"],
.mp_head [class^="icon_back"],
.order_cont_top [class^="icon_back"]{background:transparent url('../img/top_back2.svg') no-repeat center 50%;}

.mp_head .sticky[class^="icon_back"],
.order_cont_top .sticky [class^="icon_back"]{background:transparent url('../img/top_back.svg') no-repeat center 50%;}

[class^="h_"]{/* Page - Header Title */
	overflow:hidden;
	height:50px;
	background:#fff;
	border-bottom:1px solid #dddddd;
}
#contents [class^="h_"] h3.tit{
	display:inline-block;
	width:calc(100% - 66px);height:48px;
	margin:0 auto;
	color:#000;font-size:17px;line-height:48px;
	font-family:"HynSans_Head-R";
	vertical-align:middle;text-align:center;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}


/* footer */
.f_menu li{
	display:inline-block;
	margin-right:10px;
}
.f_menu li.company{display:block;}
.f_menu li a,
.f_menu li button{
	display:block;
	padding-right:10px;
	color:#4E4E4E;
	font-size:14px;line-height:30px;
	font-family:HynSans_Head-R;
}
.f_menu li .info:after{
	content:'';
	display:inline-block;
	width:12px;height:12px;
	background:url('../img/footer_arrow.svg') no-repeat;
	vertical-align:middle;
	margin:0 0 0 5px;
}
.f_copy{
	margin-top:20px;
	border-top:1px solid #EBEBEB;
	padding-top:20px;
	color:#808080;
	font-size:12px;line-height:17px;
	font-family:HynSans_Txt-R;
	background:url('../img/footer_logo.svg') no-repeat right 27px;
}

/* s:title area :MAIN */
.h_main ul{
	position:relative;z-index:601;background:#fff;
	display:flex;width:100%;
	text-align:center;
	white-space:nowrap;
	overflow:hidden;overflow-x:auto;-webkit-overflow-scrolling:touch;-ms-overflow-style:none;scrollbar-width:none;
}
.h_main ul::-webkit-scrollbar{display:none;}
.h_main ul:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:transparent;}
.h_main ul.on{position:fixed;top:0;left:0;right:0;z-index:50;}
.h_main ul li{display:inline-block;flex:1;}
.h_main ul li a{position:relative;display:block;padding:0 10px;color:#ddd;font-size:20px;line-height:48px;
	font-family:HynSans_Head-M;}
.h_main ul li a:after{content:'';position:absolute;bottom:0;left:0;display:block;width:100%;height:2px;}
.h_main ul li.on a{color:#000;}
.h_main ul li.on a:after{background-color:transparent;}


/* s:title area :SEARCH */
.inp_sch{
	border:0;
	width:calc(100% - 80px);
	color:#000000;font-size:17px;line-height:48px;
	font-family:HynSans_Head-R;
	vertical-align:middle;
}
.icon_clear{
	position:absolute;
	top:12px;right:44px;
}


/* s:title area :상품상세 */
.layout .h_detail{background:#000;}
.h_detail h3.tit{
	width:calc(100% - 122px) !important;
	color:#fff !important;
	text-align:left !important;
}
.h_detail .icon_sns2{margin-right:14px;}

/* s:title area :SUB */

/* ACTIONBAR */
#actionbar{
	position:fixed;z-index:600;
	bottom:0;left:0;
	width:100%;height:60px;border-top:1px solid #EEEEEE;
	background:#fff;
}
#actionbar ul li{
	float:left;width:20%;padding-top:5px;
	text-align:center;
}
#actionbar ul li a,
#actionbar ul li button{
	width:100%;line-height:50px;
	display:block;
}



/* 검색 레이어 */
.cpo_search.nav-open{
	z-index:700;
	top:0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	opacity: 1;
	overflow: auto;
	background:#fff;
	/* transition:right .5s linear; */
}
.cpo_search{
	position: fixed;
	top: 0;
	right: -100%;
	width: 0;
	z-index: 3;
	min-height: 0;
	opacity: 0;
	overflow: auto;
	/* transition:right .5s linear; */


}
/* 검색 레이어 : 버튼 */
.cpo_search .sch_btn{
	position:fixed;
	left:0;bottom:0;
	width:100%;height:56px;background-color:#002C5F;
	color:#fff;
	font-size:16px;line-height:20px;
	font-family:HynSans_Head-R;
}
.cpo_search .sch_btn ul{
	display:flex;
}
.cpo_search .sch_btn ul li{
	float:left;
	height:56px;
}
.cpo_search .sch_btn ul li [class^="btn_"]{
	display:block;
}
.cpo_search .sch_btn ul li .btn_reset:before{
	content:'';display:inline-block;
	margin:18px 0 0 18px;
	width:20px;height:20px;overflow:hidden;
	background: url('../img/search_reset.svg') no-repeat;
}
.cpo_search .sch_btn ul li .btn_reset{
	color:transparent;
	font-size:0;
}
.cpo_search .sch_btn ul li .btn_go{
	color:#fff;
	font-size:16px;line-height:56px;
	font-family:HynSans_Head-R;
	text-align:center;
}
.cpo_search .sch_btn ul li:nth-child(1){
	width:56px;
	border-right:1px solid #808080;
}
.cpo_search .sch_btn ul li:nth-child(2){
	width: calc(100% - 56px);
}

/* 검색 레이어 : 검색 조건 */
.cpo_search .sch_wrap{
	height: calc(100% - 106px);
	overflow: hidden;
	overflow-y: auto;
	padding-bottom:50px;
}
.cpo_search .sch_box{
	border-bottom:1px solid #EDEDED;
}
.cpo_search .sch_box.recent{
	background:#F7F7F7;
}
.cpo_search .sch_box > .incont{
	padding-left:20px;
	padding-right:20px;
	height: 0;
	overflow: hidden;
	margin: 0;
	transition: padding .3s ease;
}
.cpo_search .sch_box.on > .incont{
	padding:0 20px 20px 20px;
	height: auto;
	overflow: hidden;
	margin: 0;
	transition: padding .3s ease;
}
.cpo_search .sch_box.on > .incont .btn_more{
	margin-top:10px;
}
/* 검색 레이어 : 검색 조건 : 상단 */
.cpo_search .sch_box > .top{
	position:relative;
	padding:23px 20px 20px 20px;
}
.cpo_search .sch_box > .top h4.tit{
	display:inline-block;
	color:#000;
	font-size:16px;line-height:20px;
	font-family:HynSans_Head-M;
}

.cpo_search .sch_box > .top span.check{
	display:none;
	max-width: calc(100% - 80px);
	margin-left:4px;
	color:#007FA8;
	font-size:13px;line-height:16px;
	font-family:HynSans_Head-R;
	vertical-align:-4px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.cpo_search .sch_box.show > .top span.check{
	display:inline-block;
}
.cpo_search .sch_box .btn_open{
	display:block;
	position:absolute;
	top:23px;right:18px;
	width:20px;height:20px;overflow:hidden;
	text-indent:-999999px;
	background: url('../img/search_dropdown.svg') no-repeat center 50%;
	transform: rotate(-180deg);
	transition: .2s ease;
}
.cpo_search .sch_box.show .btn_open,
.cpo_search .sch_box.on .btn_open{
	transform: rotate(0);
}

.btn_more{
	display:block;
	width:100%;
	color:#808080;
	font-size:14px;line-height:30px;
	font-family:HynSans_Head-R;
	text-align:center;
}
.btn_more:after{
	content:'';
	display:inline-block;
	width:10px;height:5px;margin:0 0 1px 4px;
	background: url('../img/search_dropdown2-2.svg') no-repeat center 50%;
	vertical-align:middle;
}
.cpo_search .sch_box .btn_delete{
	display:block;
	position:absolute;top:11px;right:11px;
	width:30px;height:30px;overflow:hidden;
	color:transparent;
	font-size:0;text-indent: -999px;
	background: url('../img/search_delete.svg') no-repeat center 50%;
}

/* 검색 레이어 : 옵션 */
.cpo_search .incont .option dt{
	color:#000;
	font-size:14px;line-height:16px;
	font-family:HynSans_Head-R;
	margin:0 0 0;
}
.cpo_search .incont .option dd{
	margin:20px 0 30px;
}
.cpo_search .incont .option dd ol li{
	margin-bottom:20px;
}


#schBox-03.sch_box > .incont{
	padding-left:0;
}
#schBox-03.sch_box.on > .incont {
	padding:0 0 20px 0
}
.cpo_search .incont .carinfo li{
	margin-bottom:20px;
}
.cpo_search .incont .carinfo > li > ol,
.cpo_search .incont .carinfo > li > ol > li > ol{
	display:none;
	padding:20px 0 0 0;
}
.cpo_search .incont .carinfo > li.on > ol,
.cpo_search .incont .carinfo > li.on > ol > li.on > ol{
	display:block;
}
.cpo_search .incont .carinfo > li.on > ol > li.on > ol{
	background:#F7F7F7;
	padding:20px 0 5px;
	margin-top:10px;
}
#schBox-03.sch_box .incont .carinfo > li .chk_search01 + label{
	text-indent: 55px;
	background-position-x: 20px;
}
#schBox-03.sch_box .incont .carinfo > li > ol > li .chk_search01 + label{
	text-indent: 90px;
	background-position-x: 55px;
	
}
#schBox-03.sch_box .incont .carinfo > li > ol > li > ol > li .chk_search01 + label{
	text-indent: 125px;
	background-position-x: 90px;
	
}








.cpo_search .incont .color:after{
	content:'';
	display:block;
	clear:both;
}
.cpo_search .incont .color li{
	margin-bottom:25px;
	float:left;
	width:75px;
	text-align:center;
}
.cpo_search .incont .color li:nth-child(3n+2){
	width: calc(100% - 150px)
}
.cpo_search .incont .gear:after{
	content:'';
	display:block;
	clear:both;
}
.cpo_search .incont .gear li{
	margin-bottom:8px;
	float:left;
	width:50%;
	text-align:center;
}
.cpo_search .incont .gear li:nth-child(2n+0){
	padding-left:4px;
}
.cpo_search .incont .gear li:nth-child(2n+1){
	padding-right:4px;
}

/* 검색 레이어 : 최근 검색조건 */
.recent_list{
	background:#fff;
}
.recent_list li{
	position:relative;
	padding:20px 50px 20px 20px;
	border-top:1px solid #EEEEEE;
}
.recent_list li a{
	display:block;
	width:100%;height:36px;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-word;
}
.recent_list li:first-of-type{border-top:0;}






/* Product List Page : sorting Area */
.plp_sorting{
	position:relative;
	margin:24px 15px 14px;
}
.plp_sorting h4.tit{
	display:inline-block;
	color:#000;
	font-size:18px;line-height:24px;
	font-family:HynSans_Head-M;
}
.plp_sorting .total{
	color:#007FA8;
	font-size:14px;line-height:24px;
	font-family:HynSans_Head-R;

}
.plp_sorting .sort{
	position:absolute;
	top:0;right:0;
}
.plp_sorting .sort > li{
	float:left;
	margin-left:8px;
}
.plp_sorting .sort .btn_sort{
	display:block;
	width:24px;height:24px;
	color:transparent;
	font-size:0;
	text-indent:-9999px;
}
.plp_sorting .sort .btn_sort.list{
	background: url('../img/plp_sorting_01.svg') no-repeat center 50%;

}


/* select box Layer */
.sel_ly{
	position:relative;
}
.sel_ly .sel{
	color:#000;
	font-size:14px;line-height:24px;
	font-family:HynSans_Head-R;
}
.sel_ly .sel:after{
	content:'';
	display:inline-block;
	width:12px;height:8px;
	background: url('../img/plp_dropdown.svg') no-repeat;
	vertical-align:middle;
	margin:0 0 -2px 3px;
}
.sel_ly .box{
	display:none;
}





/* 상품상세 : Product Detail Page */
.pdp_button{
	position:fixed;z-index:500;
	bottom:0;left:0;
	width:100%;height:56px;
	background:#002C5F;
}
.pdp_button ul{	display:flex;}
.pdp_button ul li.wish{width:56px;}
.pdp_button ul li.cart,
.pdp_button ul li.buy{width: calc(50% - 28px);border-left:1px solid #405D80;}
.pdp_button ul .btn_cart,
.pdp_button ul .btn_buy{
	display:block;
	width:100%;
	height:100%;
	color:#fff;
	font-size:16px;line-height:56px;
	font-family:HynSans_Head-R;
	text-align:center;
}
.pdp_tabs.fixed ul{
	position:fixed;
	width:100%;height:50px;
	left:0;top:0;
}
.pdp_tabs{
	position:relative;z-index:301;
}
.pdp_tabs ul{
	padding:0 20px;
	display: flex;
	justify-content: space-between;
	background:#FCFCFC;
	border-top:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
}

.pdp_tabs ul li{
	flex: 0 60px;
	height:50px;
	text-align:center;
}
.pdp_tabs ul li button{
	display:inline-block;
	height:50px;
	position:relative;
	color:#808080;
	font-size:14px;line-height:49px;
	font-family:HynSans_Head-R;
}
.pdp_tabs ul.on_1 li:nth-child(1) button:after,
.pdp_tabs ul.on_2 li:nth-child(2) button:after,
.pdp_tabs ul.on_3 li:nth-child(3) button:after,
.pdp_tabs ul.on_4 li:nth-child(4) button:after,
.pdp_tabs ul.on_5 li:nth-child(5) button:after{
	content:'';
	display:block;
	width:100%;height:2px;background:#007FA8;
	position:absolute;bottom:0;left:0;
}
.pdp_tabs ul.on_1 li:nth-child(1) button,
.pdp_tabs ul.on_2 li:nth-child(2) button,
.pdp_tabs ul.on_3 li:nth-child(3) button,
.pdp_tabs ul.on_4 li:nth-child(4) button,
.pdp_tabs ul.on_5 li:nth-child(5) button{
	color:#007FA8;
	font-family:HynSans_Head-M;
}

[class^="pdp"] h4.tit{
	color:#000;
	font-size:18px;line-height:30px;
	font-family:HynSans_Head-M;

}
[class^="pdp"] > .top{
	padding-bottom:15px;
	position:relative;
}
[class^="pdp"] > .top [class^="btn_"]{
	position:absolute;
	top:5px;right:0;
	color:#4D4D4D;
	font-size:13px;line-height:20px;
	font-family:HynSans_Txt-R;
}

[class^="pdp"] > .top h4.tit a{color:#000;}
[class^="pdp"] > .top h4.tit a:after{
	content:'';display:inline-block;
	width:6px;height:12px;
	vertical-align:middle;
	margin:0 0 2px 8px;
	background:url('../img/icon_pdp_17.svg') right 50%;
}

.btn_more02:after{
	content:'';
	display:inline-block;
	width:8px;height:12px;margin:1px 0 0 4px;
	background:url('../img/pdp_arrow_04.svg') no-repeat;
	vertical-align:middle;
}

.btn_alarm{
	display:block;top:0px !important;
	padding:4px 10px 3px;
	border:1px solid #DEDEDE;border-radius:2px;
}
.btn_alarm:before{
	content:'';
	display:inline-block;
	width:12px;height:12px;margin:-1px 3px 0 0;
	background:url('../img/pdp_alarm.svg') no-repeat;
	vertical-align:middle;
}
.btn_refresh{
	display:block;top:0px !important;
	padding:4px 10px 3px;
	border:1px solid #DEDEDE;border-radius:2px;
}
.btn_refresh:before{
	content:'';
	display:inline-block;
	width:12px;height:12px;margin:-1px 3px 0 0;
	background:url('../img/pdp_refresh.svg') no-repeat;
	vertical-align:middle;
}
.btn_arrow01{
	position:relative;
	display:block;
	width:100%;
	background:#F7F7F7;border:1px solid #EDEDED;
	padding:14px 30px 15px 14px;
	border-radius:4px;
	color:#4D4D4D;
	font-size:14px;line-height:20px;
	font-family:HynSans_Txt-R;
	word-break:keep-all;
}
.btn_arrow01 i{
	color:#000;
	font-family:HynSans_Txt-M;
}
.btn_arrow01:after{
	content:'';
	display:block;
	position:absolute;top:50%;right:16px;
	width:8px;height:12px;margin-top:-6px;
	background:url('../img/pdp_arrow_02.svg') no-repeat;
}





/* 상품상세 : Product Detail Page : 01. 차량 이미지 */
.h_detail{
	position:relative;z-index:500;border-bottom:0;
	background:transparent;
}
.pdp01_car{
	position:fixed;z-index:300;
	top:-65px;
	left:0;
	width:100%;
	/* height: calc(100% - 150px);overflow:hidden;
	background:url('../img/thumb/pdp_car_img.jpg') no-repeat center bottom;
	background-size: cover; */
}
.pdp01_car ol li img{width:100%;}

/* 자동차 자세히 보기 zoom */
.pdp01_car .zoom{
	position:absolute;
	top:215px;left:0;z-index:301;
	width:100%;
}
.pdp01_car .zoom .btn_view{
	display:block;
	width:100%;
	color:#B3B3B3;
	font-size:12px;line-height:16px;
	font-family:HynSans_Txt-R;
	text-align:center;
}
.pdp01_car .zoom .btn_view:after{
	content:'';
	display:block;
	width:100px;height:20px;margin:0 auto;
	background:url('../img/pdp_arrow_06.svg') no-repeat center 50%;
}
.pdp01_car .zoom2{
	position:fixed;z-index:500;
	width:100%;height:0;
	left:0;bottom:0;
	background:#fff;
	border-radius: 16px 16px 0 0;
	transition:.3s ease;
}
.pdp01_car .zoom2 .btn_view{
	display:block;
	width:100%;height:56px;padding-bottom:15px;
	color:transparent;
	font-size:0;
}
.pdp01_car .zoom2 .btn_view:before{
	content:'';
	display:block;
	width:100px;height:20px;margin:0 auto;
	background:url('../img/pdp_arrow_07.svg') no-repeat center bottom;
}
body.pdpCarZoom .pdp01_car{top:0 !important;height:100% !important;background:#000;}
body.pdpCarZoom .h_detail,
body.pdpCarZoom .pdp01_car .zoom,
body.pdpCarZoom .pdp_button{height:0;overflow:hidden;transition:.3s ease;}
body.pdpCarZoom{overflow:hidden;}
body.pdpCarZoom .pdp01_car .zoom2{height:56px;}

.visual_img{
	position: relative;
	height:100%;
	overflow: hidden;
}
.visual_img ol:after{content:'';display:block;clear:both;}
.visual_img ol{
	position: relative;z-index: 1;
	width: 100%;height: 100%;
	padding-bottom:30px;
}
.visual_img ol li{
	float:left;
	width:100% !important;
	height: 100%;
	position: relative;
	transition-property: transform;
	font-size: 18px;
}
.visual_img ol li .inner{
	width:100%;
	overflow:hidden;overflow-y:auto;
}
.visual_img ol li .play{
	position:absolute;top:0;left:0;
	width:100%;height:100%;background: rgba(0, 0, 0,  0.5)
}
.visual_img ol li .play button{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 80px;
	height: 80px;
	transform: translate(-50%, -50%);
	background-image: url(../img/main/ico_video_play.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	text-indent: -9999px;
	margin-top:-80px;
}
.visual_img .swiper-pagination{
	height:28px;
	background: rgba(26, 26, 26,  0.25) ;
	bottom:80px !important;
	z-index:600 !important;
	border-radius:16px;padding:5px 9px;
	display: inline-block;
    width: auto !important;
	left: 50% !important;
	transform: translate(-50%, 0);
}
.visual_img .swiper-pagination-bullet{
	width:9px !important;height:9px !important;
	background:transparent !important;
	border:2px solid #fff;
	opacity:1 !important;
	margin:0 5px;
}
.visual_img .swiper-pagination-bullet-active{
	background:#fff !important;
	border:2px solid #ffffff;
}

/* 상품상세 : Product Detail Page : 02. 차량 가격정보  */
.pdp02_price{
	position:relative;z-index:301;
	background:#fff;
	padding:34px 20px 20px 20px;border-radius:16px 16px 0 0;
	margin-top:180px;
	border-bottom:10px solid #EBF0F2;
}
.pdp02_price .flag{margin-bottom:16px;}
.pdp02_price .flag span{
	display:inline-block;
	padding:3px 8px;height:21px;
	color:#fff;
	font-size:12px;line-height:16px;
	font-family:HynSans_Head-R;
	text-align:center;
}
.pdp02_price .flag .cod_01{background:#1263D6;}
.pdp02_price .flag .cod_02{background:#00AAD2;}
.pdp02_price .name{
	margin-bottom:5px;
	color:#000;
	font-size:20px;line-height:25px;
	font-family:HynSans_Head-R;
	
}
.pdp02_price .drive{
	margin-bottom:20px;
	color:#808080;
	font-size:14px;line-height:17px;
	font-family:HynSans_Txt-R;
}
.pdp02_price .drive span{display:inline-block;}
.pdp02_price .drive span:before{
	content:'.';
	display:inline-block;
	margin: -8px 4px 0 0;
	line-height: 3px;
	vertical-align: middle;
}
.pdp02_price .drive span:first-of-type:before{display:none;}
.pdp02_price .price{
	margin-bottom:20px;
	position:relative;
}
.pdp02_price .price .pay{
	color:#000;
	font-size:20px;line-height:25px;
	font-family:HynSans_Head-R;
}
.pdp02_price .price .pay em{
	font-size:22px;
	font-family:HynSans_Head-M;
	vertical-align:-1px;
}
.pdp02_price .price .install{
	color:#007FA8;
	font-size:14px;line-height:25px;
	font-family:HynSans_Txt-R;
	margin-left:3px;
}
.pdp02_price .price .calc{
	position:absolute;
	top:0;right:0;
	display:inline-block;padding:5px 0;
	color:#808080;
	font-size:13px;line-height:17px;
	font-family:HynSans_Txt-R;
}
.pdp02_price .price .calc:after{
	content:'';
	display:block;
	width:100%;height:0.5px;background:#808080;
}
.pdp02_price .chart{
	margin-bottom:20px;
	padding:20px 0 0;
	border-top:1px solid #EDEDED;
}
.pdp02_price .chart ul{
	display:flex;
	justify-content: space-between;
}
.pdp02_price .chart ul li{
	flex:0 80px;
}
.pdp02_price .chart .pie{
	position:relative;
	width:60px;margin:0 auto;
	transition:0.3s;
}
.pdp02_price .chart .pie > span{
	display:block;
	color:#000;
	font-size:18px;line-height:60px;
	font-family:HynSans_Head-M;
	text-align:center;
}
.pdp02_price .chart .pie > span i{
	font-size:14px;
	font-family:HynSans_Head-B;
}
.pdp02_price .chart .pie:after{
	content:'';display:block;
	width:60px;height:60px;
	position:absolute;
	top:0;left:50%;margin-left:-30px;
}
.pdp02_price .chart ul li:last-of-type .pie:after{background:url('../img/thumb/donut_04.svg') no-repeat center 50%;}

.pdp02_price .chart .pie:after{
	transform:rotate(-90deg);
	background:url('../img/thumb/donut_01.svg') no-repeat center 50%;
}
.pdp02_price .chart .detail{
	display:block;
	margin-top:9px;
	width:100%;
	color:#000;
	font-size:14px;line-height:20px;
	font-family:HynSans_Txt-R;
	text-align:center;
}
.pdp02_price .chart .detail:after{
	content:'';
	display:inline-block;
	width:8px;height:12px;
	background:url('../img/pdp_arrow_01.svg') no-repeat;
	vertical-align:middle;
	margin:0 0 0 5px;
}
.pdp02_price .notice_01{
	margin-bottom:20px;
}

.pdp02_price .notice_02{
	border-top:1px solid #EDEDED;
	padding:20px 0 0 24px;
	color:#4D4D4D;
	font-size:13px;line-height:21px;
	font-family:HynSans_Txt-R;
	word-break:keep-all;
	background:url('../img/pdp_arrow_03.svg') no-repeat 0 24px;
}

/* 상품상세 : Product Detail Page : 03. TABS (기본정보, 옵션정보, 인증정보, 성능/보험, 금융정보 */
.pdp03_tabs{
	padding:30px 20px 40px;
}
.pdp03_tabs.last{border-bottom:10px solid #EBF0F2;}
.pdp03_tabs  h6.tit{
	padding:35px 0 14px;
	color:#000;
	font-size:16px;line-height:20px;
	font-family:HynSans_Head-R;
}
.pdp03_tabs .cont_box h6.tit.line{
	padding:24px 0 20px;
	border-top:1px solid #EDEDED;
}
.pdp03_tabs .cont_box.base{
	background:#F7F7F7;
	border-radius:4px;
	padding:30px 20px;
}
.pdp03_tabs .cont_box.option{padding-top:20px;}

/* 기본 정보 */
.base_01:after{content:'';display:block;clear:both;}
.base_01 li{
	float:left;
	width:50%;height:55px;
}
.base_01 li .tit{
	display:block;margin-bottom:5px;
	color:#808080;
	font-size:12px;line-height:15px;
	font-family:HynSans_Txt-R;
}
.base_01 li .txt{
	display:block;
	color:#4D4D4D;
	font-size:15px;line-height:20px;
	font-family:HynSans_Head-R;
}
.base_02{
	background:#F7F7F7;
	border-radius: 4px;
}
.base_02 ol li:last-of-type{padding-bottom:0;}
.base_02 ol li{
	padding-bottom:24px;
	color:#4D4D4D;
	font-size:14px;line-height:17px;
	font-family:HynSans_Txt-R;
	background:url('../img/line_01.svg') no-repeat 7px 18px;
}
.base_02 ol li .tit:before{
	content:'';
	display:inline-block;
	width:8px;height:8px;border:2px solid #B3B3B3;border-radius:100%;
	margin:0 8px 2px 1px;vertical-align:middle;
}
.base_02 ol li.now .tit:before{
	border:2px solid #00AAD2;background:#00AAD2;
}
.base_02 ol li .date{
	color:#808080;
	font-size:12px;line-height:15px;
	font-family:HynSans_Txt-R;

}


/* 옵션정보 */
.option_01:after{content:'';display:block;clear:both;}
.option_01 li{
	float:left;margin-bottom:20px;
	width:25%;
	text-align:center;
}
.option_01 li.off{opacity: 0.25;}
.option_01 li .img{display:block;width:50px;margin:0 auto 6px;}
.option_01 li .txt{
	padding:0 5px;
	display:block;height:30px;
	color:#4D4D4D;
	font-size:12px;line-height:15px;
	font-family:HynSans_Txt-M;
}
.option_02{
	padding:16px 23px;
	background:#F7F7F7;
	border-radius: 4px;
	color:#4D4D4D;
	font-size:14px;line-height:20px;
	font-family:HynSans_Txt-R;
	text-align: center;
}
.option_02 span{
	font-family:HynSans_Txt-M;
}
.option_02 span i{color:#007FA8;}
.option_03{
	padding-top:10px;
}

/* 인증정보 */
.certify_01{
	background:#F5F2F1;
	border-radius: 4px;
	position:relative;
	padding:30px 0 30px 0;
	text-align:center;
}
.certify_01 .photo{
	width:70px;height:70px;
	margin:0 auto;
}
.certify_01 .photo img{
	width:100%;
	border-radius: 100%;
}
.certify_01 .name{
	font-family:HynSans_Head-R;
}
.certify_01 .info{
	margin:12px 0 20px;
	color:#808080;
	font-size:12px;line-height:15px;
	font-family:HynSans_Txt-R;
}
.certify_01 .info .name{color:#4D4D4D;font-family:HynSans_Txt-M;}
.certify_01 .txt{
	position:relative;
	display:inline-block;
	padding:0 22px 0 20px;
	margin-bottom:24px;
	color:#4D4D4D;
	font-size:18px;line-height:24px;
	font-family:HynSans_Head-R;
}
.certify_01 .txt:before,
.certify_01 .txt:after{
	content:'';display:block;
	width:15px;height:15px;position:absolute;top:4px;
}
.certify_01 .txt:before{
	left:0;
	background:url('../img/thumb/pdp_01.svg') no-repeat;
}
.certify_01 .txt:after{
	background:url('../img/thumb/pdp_02.svg') no-repeat;
	right:0;
}
.certify_01 .txt em{
	color:#000;
	font-family:HynSans_Head-M;
}
.certify_01 .link{
	text-align:center;
}
.certify_01 .link a{
	display:inline-block;
	color:#007FA8;
	font-size:15px;line-height:17px;
	font-family:HynSans_Txt-M;
}
.certify_01 .link a:after{
	content:'';
	display:block;width:100%;height:0.5px;
	background:#007FA8;
}
.certify_02{
	position:relative;
}
.certify_02 .txt01{
	color:#999999;
	font-size:12px;line-height:18px;
	font-family:HynSans_Txt-R;
}
.certify_02 ol li{
	margin-top:24px;
	position:relative;
	color:#4D4D4D;
	font-size:14px;line-height:18px;
	font-family:HynSans_Txt-R;
}
.certify_02 ol li .bar{
	margin:10px 0 0 0;
	display:block;
	width:100%;height:4px;
	background:#eee;
}
.certify_02 ol li .bar em{
	display:block;
	background:#7FBED3;
	height:4px;overflow:hidden;
	text-indent:-9999px;
}
.certify_02 ol li .txt{
	color:#000000;
	position:absolute;
	top:0;right:0;
	font-family:HynSans_Head-R;
}
/* 성능/보험 */
.perfor_01{
	display:flex;
	justify-content: space-between
}
.perfor_01 li{
	flex:0 80px;
	text-align:center;
}
.perfor_01 li .img{
	display:block;
}
.perfor_01 li .tit{
	display:block;
	color:#4D4D4D;
	font-size:14px;line-height:20px;
	font-family:HynSans_Txt-R;
}
.perfor_01 li .case{
	display:block;
	color:#000;
	font-size:16px;line-height:20px;
	font-family:HynSans_Head-R;
}
.perfor_01 li .case.on{
	color:#007FA8;
}
/* 금융 정보 */
.calc_01 li:first-of-type{margin-top:0;}
.calc_01 li{
	margin-top:14px;
}
.calc_01 .chk{
	width:1px;height:1px;opacity:0;
	position:absolute;top:0;left:0;
}
.calc_01 .chk + label{
	display: block;width:100%;position:relative;
	color:#4D4D4D;
	font-size:14px;line-height:24px;
	font-family:HynSans_Txt-R;
	text-indent:27px;
	background:url('../img/chk_search_off.svg') no-repeat;background-size:22px;
}
.calc_01 .chk:checked + label{
	color:#007FA8;
	background:url('../img/chk_search_on.svg') no-repeat;background-size:22px;
}
.calc_01 .chk + label span{
	position:absolute;top:0;right:0;
	font-size:15px;
	font-family:HynSans_Head-R;}

.calc_02{
	margin-top:30px;
	border:1px solid #EDEDED;border-radius: 4px;
}
.calc_02 li{position:relative;padding:10px 16px 10px 70px;border-top:1px solid #EDEDED;text-align:right;}
.calc_02 li:first-of-type{border-top:0;}
.calc_02 li .tit{
	position:absolute;
	top:50%;left:16px;margin-top:-9px;
	color:#4D4D4D;
	font-size:14px;line-height:18px;
	font-family:HynSans_Txt-R;
}
.calc_02 .inp_txt{
	color:#4D4D4D;
	font-size:15px;line-height:36px;
	font-family:HynSans_Head-R;
	text-align:right;border-color:transparent
}
.inp_txt::-webkit-input-placeholder{text-align:right;}
.calc_02 .sel{
	width:62px;height:36px;border:0;padding-right:15px;
	color:#4D4D4D;
	font-size:15px;line-height:36px;
	font-family:HynSans_Head-R;
	text-align-last: right;
	text-align: right;
	-ms-text-align-last: right;
	-moz-text-align-last: right;
	background:url('../img/pdp_arrow_05.svg') no-repeat right;
}

.calc_02 .sel:after{
	content:'';
	display:inline-block;
	width:8px;height:12px;margin:1px 0 0 5px;
	vertical-align:middle;
}
.calc_03 {margin-top:15px;}
.calc_03 li {
	position:relative;
	padding:0 0 6px 8px; 
	color:#999999;
	font-size:12px;line-height:18px;
	font-family:HynSans_Txt-R;
	word-break: keep-all;
}
.calc_03 li:before{
	content:'';display:block;width:2px;height:2px;background:#B3B3B3;
	position:absolute;top:6px;left:0;
}
.calc_total{
	margin-top:13px;
	display: flex;
	align-items: center;
	padding:15px;
	background:#F5F2F1;border-radius: 4px;;
}
.calc_total dt{
	flex-shrink: 0;
	width: 100px;
	line-height:16px;
	font-family:HynSans_Txt-R;
}
.calc_total dt span.txt01{
	display:block;margin-bottom:3px;
	color:#000;font-size:14px;
}
.calc_total dt span.txt02{
	display:block;
	color:#808080;font-size:12px;
}
.calc_total dt span.txt02 em{color:#000;}
.calc_total dd{
	flex-grow: 1;
	text-align:right;
	color:#000;
	font-size:18px;line-height:24px;
	font-family:HynSans_Head-R;
}



/* 상품상세 : Product Detail Page : 08. 동일모델 구매리뷰 */
.pdp08_review{
	padding:30px 0 20px 20px;
	border-bottom:10px solid #EBF0F2;
}
.pdp08_review .top{margin-right:20px;}

.review_list01{
	position: relative;
	overflow: hidden;
}
.review_list01 ol{
	display: flex;
	position: relative;z-index: 1;
	width: 100%;height: 100%;
	padding-bottom:30px;
}
.review_list01 ol li:last-of-type{margin-right:20px;}
.review_list01 ol li{
	flex-shrink: 0;
	display: flex;
	width:93% !important;
	height: 100%;
	position: relative;
	transition-property: transform;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
}
.review_box{
	width:100%;
	padding:20px 16px 20px 92px;
	background:#F7F7F7;border-radius:8px;
	border:1px solid #EDEDED;
	position:relative;
}
.review_box .date{
	position:absolute;
	top:21px;left:16px;
	display:inline-block;
	width:56px;
	color:#B3B3B3;
	font-size:12px;line-height:16px;
	font-family:HynSans_Txt-R;
	text-align:center;
}
.review_box .pie{
	position:absolute;
	top:60px;left:16px;
	width:60px;height:60px;
	text-align:center;
}
.review_box .pie:before{
	content:'';display:block;
	width:60px;height:60px;
	position:absolute;
	top:0;left:50%;margin-left:-30px;
	transform:rotate(-90deg);
	background:url('../img/thumb/donut_02.svg') no-repeat center 50%;
}
.review_box .pie span{
	display:block;
	color:#000000;
	font-size:18px;line-height:60px;
	font-family:HynSans_Head-M;
	text-align:center;
}

.review_box .name{
	display:block;margin-bottom:20px;
	height:20px;
	color:#4D4D4D;
	font-size:14px;line-height:20px;
	font-family:HynSans_Txt-R;
}
.review_box .tit{
	height:20px;margin-bottom:8px;
	color:#000000;
	font-size:16px;line-height:20px;
	font-family:HynSans_Head-R;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	word-break: break-word;
}
.review_box .txt{
	height:72px;
	color:#808080;
	font-size:12px;line-height:18px;
	font-family:HynSans_Txt-R;
	display: -webkit-box;
	text-overflow: ellipsis;
	overflow: hidden;
	-webkit-box-orient: vertical;
	word-break: break-word;
	-webkit-line-clamp: 4;
}
.review_list01 .swiper-pagination{
	bottom:4px !important;
	width: auto !important;
	left: 50% !important;
	transform: translate(-50%, 0);
}
.review_list01 .swiper-pagination-bullet{
	width:9px !important;height:9px !important;
	background:#DDDDDD !important;
	border:2px solid #fff;
	opacity:1 !important;
	margin:0 4px;
}
.review_list01 .swiper-pagination-bullet-active{
	background:#fff !important;
	border:2px solid #808080;
}

/* 상품상세 : Product Detail Page : 09. 다른 고객이 함께 본 차량 */
.pdp09_recomend{
	padding:30px 0 20px 20px;
	border-bottom:10px solid #EBF0F2;

}

/* 상품상세 : Product Detail Page : 10. 링크 */
.pdp10_link{
	padding:23px 20px;
}
.pdp10_link ul li{
	margin-bottom:8px;
}
.pdp10_link ul li a{
	border:0;
	line-height:32px;
	color:#000000;
	font-family: HynSans_Txt-M;
	padding-left:60px;
}
.pdp10_link ul li a.faq{
	background:#F7F7F7 url('../img/icon_pdp_15.svg') no-repeat 16px 50%;
}
.pdp10_link ul li a.info{
	background:#F7F7F7 url('../img/icon_pdp_16.svg') no-repeat 16px 50%;
}






/*가격 슬라이더*/
.cpo_range{padding:15px 0 0 0;}
.cpo_range .cpoRange{position:relative;height:2px;background:#EEEEEE;}
/*
#rangePrice.cpo_range .cpoRange{
	height:73px;
	background:#EEEEEE url('../img/thumb/price_off.png') repeat-x center top; background-size:auto 70px;
}
#rangePrice.cpo_range .cpoRange .ui-slider-range{
	background:#007FA8 url('../img/thumb/price_on.png') repeat-x center top; background-size:auto 70px;
}
#rangePrice.cpo_range .cpoRange .ui-slider-handle{top:56px;}
*/
.cpo_range .cpoRange .ui-slider-range{
	position:absolute;top:0;z-index:1;display:block;border:0;background:#007FA8;height:100%;
}

.cpo_range .cpoRange .ui-slider-handle{
	z-index:2;cursor:default;-ms-touch-action:none;touch-action:none;outline:none;
	width:30px;height:30px;
	background:#fff;border:2px solid #007FA8;border-radius:100%;
	position:absolute;top:-14px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.3);
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(2){
	margin-left:-2px;
}
.cpo_range .cpoRange .ui-slider-handle:nth-child(3){
	margin-left:-28px;
}
.cpo_range .amountArea{visibility: hidden;}
.cpo_range .cpoRange .min_no,
.cpo_range .cpoRange .max_no{
	display:block;
	width:100px;
	position:absolute;top:20px;
	color:#999999;
	font-size:11px;line-height:18px;
	font-family:HynSans_Txt-R;

}
.cpo_range .cpoRange .min_no{
	left:0;
	text-align:left;
}
.cpo_range .cpoRange .max_no{
	right:0;
	text-align:right;
}


/*


.cpo_range{padding:30px 25px 0 10px;}
.cpo_range .cpoRange{position:relative;height:2px;background:#EEEEEE;}
.cpo_range .cpoRange .ui-slider-range{
	position:absolute;top:0;z-index:1;display:block;border:0;background:#007FA8;height:100%;
}
.cpo_range .cpoRange .ui-slider-handle{
	z-index:2;cursor:default;-ms-touch-action:none;touch-action:none;outline:none;
	width:30px;height:30px;
	background:#fff;border:2px solid #007FA8;border-radius:100%;
	position:absolute;top:-14px;margin-left:-8px;
	-webkit-box-shadow: 2px 2px 6px 0px rgba(50, 50, 50, 0.3);
-moz-box-shadow:    2px 2px 6px 0px rgba(50, 50, 50, 0.3);
box-shadow:         2px 2px 6px 0px rgba(50, 50, 50, 0.3);
}
.cpo_range .cpoRange .comPrice, 
.cpo_range .cpoRange .minPrice, 
.cpo_range .cpoRange .maxPrice{display:inline-block;min-width:60px;height:17px;position:absolute;top:-25px;font-size:14px;line-height:17px;color:#000000;}
.cpo_range .cpoRange .minPrice{left:-5px;}
.cpo_range .cpoRange .comPrice, 
.cpo_range .cpoRange .maxPrice{right:-5px;text-align:right;}
.cpo_range .cpoRange .comPrice{visibility:hidden;top:-39px;left:calc(50% + 12px);right:auto;min-width:100px;text-align:center;white-space:nowrap;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);}
.cpo_range .cpoRange .comPrice.right{left:auto;right:-12px;transform:translateX(0px);-webkit-transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);}
.cpo_range .cpoRange.com_on .maxPrice, 
.cpo_range .cpoRange.com_on .minPrice{visibility: hidden !important;}
.cpo_range .cpoRange.com_on .comPrice{visibility: visible !important;}
.cpo_range .amountArea{padding:15px 70px 0 0;position:relative;visibility: hidden;}
.cpo_range .amountArea > span{float:left;display:block;position:relative;}
.cpo_range .amountArea > span input[type="number"], .cpo_range .amountArea > span input[type="text"]{padding-left:22px !important;height:36px;line-height:37px;border-color:#eee;}
.cpo_range .amountArea > span:before{content:'';position:absolute;top:9px;display:block;font-size:13px;}
.cpo_range .amountArea > span.r1{width:50%;padding-right:10px;}
.cpo_range .amountArea > span.r1:before{left:10px;}
.cpo_range .amountArea > span.r2{width:50%;padding-left:10px;}
.cpo_range .amountArea > span.r2:before{left:20px;}
.cpo_range .amountArea:before{content:'~';display:block;position:absolute;top:17px;left:50%;margin-left:-45px;width:20px;font-size:15px;line-height:30px;text-align:center;}
.cpo_range .amountArea:after{content:"";display:block;clear:both;}

*/