@charset "UTF-8";
.blind{position:absolute;width:1px;height:1px;clip:rect(0 0 0 0);overflow: hidden;}
.clearfix::after{content:'';display:block;clear:both;}
/*
.trend_slide .swiper-wrapper, .keyword_slide .swiper-wrapper{flex-direction:column;}
*/
.container{height:auto;}

.main_content{margin-top:331px;transition:margin 1s;will-change:margin;overflow-x:hidden;}
.main_content.start{margin-top:70px;}
.main_title_area{padding:0 30px;font-family:"HynSans_Head-R";}
.main_title_area .title_main{font-size:90px;line-height:114px;font-family:HynSans_Head-B;}
.main_title_area .title_main::after{content:'';display:inline-block;width:16px;height:16px;border-radius:50%;background-color:#007FA8;}
.main_title_area .title_sub{margin-top:-5px;}
.main_title_area .title_sub p{font-size:16px;}
.main_title_area .title_sub p:first-child{font-size:20px;}
.main_title_area .title_sub span{font-family:HynSans_Head-B;margin-right:5px;}

.main_setting{margin-top:181px;transition:margin 1s;font-family:HynSans_Head-M;}
.main_setting.start{margin-top:50px;}

.setting_wrap{transform:translateY(100px);opacity:1;display:block;transition:all 1s;will-change:transform;}
.setting_wrap.visible{opacity:1;transform:translateY(0);transition:all 1s;}

.setting_wrap.item01{display:flow-root;width:100%;transition:all 1s;}

.item_setting.alarm{position:relative;width:calc(50% - 61px);margin-top:60px;margin-left:43px;padding:20px 0 32px;float:left;transition:margin 1s, width 1s;background:linear-gradient(125deg, #AAAFC1 0%, #AAAFC1 100%);}
.setting_wrap.item01.visible .item_setting.alarm{width:calc(50% - 30px);margin-left:0;}
.item_setting.alarm .text_box{width:100%;font-size:18px;color:#fff;text-align:center;}
.item_setting.alarm .icon_bell{position:relative;width:100%;margin-top:22px;text-align:center;}
.item_setting.alarm .icon_bell:after{content:'';display:block;position:absolute;right:49px;top:0;width:9px;height:9px;border-radius:50%;background-color:#297CD3;}
.item_setting.alarm .alarm_bell.rotate{transform:rotate(-30deg);}
.setting_wrap.item01.visible .item_setting.alarm .alarm_bell{animation:bell_rotate 3s ease-in;}

@keyframes bell_rotate {
	0%{transform:rotate(30deg);}
	100%{transform:rotate(-30deg);}
}
@keyframes typing {
	0%{width:100%;}
	50%{width:55%;}
	100%{width:0;}
}
@keyframes blink-caret {
	from, to{border-color:transparent;}
	50%{border-color:#636BE5}
}

.item_setting.search{width:calc(50% - 41px);margin-right:43px;padding:50px 0 53px;float:right;transition:margin 1s,width 1s;background:linear-gradient(90deg, #5959E9 0%, #7080E8 100%);}
.setting_wrap.item01.visible .item_setting.search{width:calc(50% - 1px);margin-right:0;}
.item_setting.search .item_setting_inner{position:relative;}
.item_setting.search .img_box img{width:100%;}
.item_setting.search .title{width:100%;margin-bottom:19px;font-size:18px;color:#fff;text-align:center;}
.item_setting.search .search_area{display:block;position:relative;width:100%;padding:0 10%;text-align:center;}

@keyframes aaaa {
	0%{opacity:0;}
	100%{opacity:1;}
}

.search_area .input_search{width:34px;height:34px;border-radius:50%;border:0;}
.search_area .text_placeholder{opacity:0;transition:opacity 1s;}
.search_area .btn_search{display:block;position:absolute;left:50%;top:8px;transform:translate(-50%);}
.search_area .btn_search::before{content:'';display:block;width:16px;height:16px;background-image:url(../img/main/ico_main_search.png);background-repeat:no-reepat;background-size:100% 100%;}

.setting_wrap.item01.visible .search_area .input_search{width:100%;padding:0 30px 0 13px;border-radius:22px;color:#5156D9;}
.setting_wrap.item01.visible .search_area .text_placeholder{
	display:block;margin:0 auto;overflow:hidden;border-right:2px solid #636BE5;white-space:nowrap;opacity:1;
	color:#5156D9;font-size:14px;font-family:HynSans_Txt-B;
	text-align:left;animation:.7s blink-caret step-end infinite;position:absolute;left:20%;top:22%;padding-right:3px;
}
.setting_wrap.item01.visible .search_area .text_placeholder::after{content:'';display:block;position:absolute;right:0;top:0;height:100%;background-color:#fff;animation:3s typing;}
.setting_wrap.item01.visible .search_area .btn_search{display:flex;justify-content:center;align-items:center;position:absolute;width:34px;height:34px;left:auto;right:20px;top:0px;transform:translate(0);}
.setting_wrap.item01.visible .search_area .btn_search::before{content:'';display:block;width:16px;height:16px;background-image:url(../img/main/ico_search_check.svg);}

.item_setting.favorite{position:relative;margin-top:30px;float:right;transform:scale(.8);transition:transform 1s;text-align:center;}
.setting_wrap.item02.visible .item_setting.favorite{transform:scale(1);}
.item_setting.favorite .text_box{position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);font-size:18px;color:#000;}
.item_setting.favorite .text_box span{display:block;color:#636BE5;}

.item_setting.latest{position:relative;width:100%;margin-top:30px;transform:scale(.8);transition:transform 1s;}
.item_setting.latest img{display:block;width:100%;}
.setting_wrap.item03.visible .item_setting.latest{transform:scale(1);}
.setting_wrap.item03.hidden .item_setting.latest{transform:scale(.9)!important;}
.item_setting.latest .text_box{position:absolute;left:20px;top:24px;color:#fff;}
.item_setting.latest .text_box .title{font-size:20px;line-height:25px;}
.item_setting.latest .text_box .sort{margin-top:10px;line-height:17px;}
.item_setting.latest .text_box .sort span:not(:first-child)::before{content:'';display:inline-block;width:3px;height:3px;margin:0 3px;border-radius:50%;background-color:#fff;vertical-align:middle;}

.section_title{margin-bottom:30px;padding:0 30px 0;background-color:transparent;font-size:16px;font-family:"HynSans_Txt-M";z-index:500;}
.section_title .title{margin-top:4px;font-size:30px;font-family:"HynSans_Head-M";line-height:38px;}
.section_title .title_info{font-size:16px;line-height:20px;}

.cont_main_section{margin-top:80px;}
.cont_main_section .cont_trend{width:100%;height:100%;}

.trend_slide{position:relative;height:450px;margin:0 20px;transition:transform 1.5s;overflow:hidden;}
.trend_slide .swiper-pagination{bottom:25px;}
.trend_slide .swiper-pagination-bullet{width:6px;height:6px;margin:0 3px!important;background-color:#fff;opacity:1;}
.trend_slide .swiper-pagination-bullet-active{width:18px;margin:0!important;border-radius:3px;background-color:#007FA8;}
.trend_slide.zoom{transform:scale(1.125);}

.trend_slide > .swiper-wrapper > .swiper-slide:nth-child(1){background:linear-gradient(135deg, #69739c 0%,#424e77 100%);}
.trend_slide > .swiper-wrapper > .swiper-slide:nth-child(2){background:linear-gradient(135deg, #898FB7 0%,#B2B7E6 100%);}
.trend_slide > .swiper-wrapper > .swiper-slide:nth-child(3){background:linear-gradient(to bottom, #CBDEF6 0%,#6887AE 100%);}

.main_section > img{width:100%;}
.main_section .cont_text{position:absolute;left:0px;top:0px;width:100%;margin-top:15%;}
.main_section .cont_text .title{font-family:"HynSans_Head-M";}

.main_section .cont_text .title_box{text-align:center;color:#fff;}
.main_section.date .cont_text .title_box{font-size:20px;}
.main_section .cont_text .today_date{display:flex;justify-content:center;align-items:center;width:116px;height:29px;margin:8px auto 0;border-radius:17px;color:#fff;background-color:#69739C;font-family:"HynSans_Head-R";}
.main_section .cont_text .car_count{margin-top:34px;color:rgba(255,255,255,.7);font-size:36px;text-align:center;font-family:"HynSans_Head-R";}
.main_section .cont_text .inventory_car{margin-top:44px;padding:0 30px;}
.main_section .cont_text .inventory_car .inventory_num{display:flex;justify-content:space-between;padding:10px 0 12px;border-bottom:1px solid rgba(255,255,255,.1);color:#fff;}
.main_section .cont_text .inventory_car .inventory_num .text{opacity:.7;font-family:"HynSans_Head-R";}
.main_section.time .cont_text .title_box{font-size:24px;line-height:30px;margin-bottom:25px;}
.main_section.time .cont_text .title_box .sub{color:#000;}
.main_section.age .cont_text .title_box .title{color:#007FA8;font-family:"HynSans_Head-M";}
.main_section.age .cont_text .title_box .detail{margin-top:5px;font-size:24px;color:#000;font-family:"HynSans_Head-M";}

.main_section.time .img_box{display:flex;justify-content:center;align-items:center;margin-top:25px;}
.main_section.time .img_box .time_1st{position:relative;margin:0 -25px;}
.main_section.time .img_box .time_1st .img_1st{position:absolute;right:5px;top:-5px;}

.best_top3{width:280px;margin:0 auto;}
/* coverflowEffect : 3개 외 보이지 않게 수정  */
.best_top3 ol li.swiper-slide-duplicate,
.best_top3 ol li.swiper-slide-duplicate-prev,
.best_top3 ol li.swiper-slide-duplicate-active,
.best_top3 ol li.swiper-slide-duplicate-next{opacity: 0;}
.best_top3 ol li.swiper-slide-prev{opacity: 1;}
.best_top3 ol li.swiper-slide-next{opacity: 1;}
.best_top3 ol li.swiper-slide-active{opacity: 1;padding-top:5px;}
.best_top3 ol li .img img{width:100%;border-radius: 100%;}
/* coverflowEffect : 3개 외 보이지 않게 수정  */
.best_top3 ol li > .title{position: absolute;width: 1px;height: 1px;clip: rect(0 0 0 0);}

.best_top3 .rank{
	display:block;width:36px;height:36px;border-radius: 100%;
	background:#007FA8;position:absolute;top:0;right:5px;
	color:#fff;
	font-size:14px;line-height:36px;
	font-family:HynSans_Head-R;
	text-align:center;
	opacity:0;
	transition: opacity 1s;
}
.best_top3 .rank em{font-family:HynSans_Head-B;}
.best_top3 ol li.swiper-slide-active .rank{opacity: 1;}

.best_top3 .indicator_title > span {
	display:block;
	position: absolute; left: 0; top: 160px; 
	width: 250px; height: auto; 
	opacity: 0; 
	background-color: transparent; 
	visibility: hidden; 
	transition: opacity 0.3s; }
.best_top3 .indicator_title > .swiper-pagination-bullet-active { 
	opacity: 1; visibility: visible; display: block !important;
	visibility: visible;
	width: 100% !important;
	text-align:center;
	background: none;
}
.best_top3 .car_name,
.best_top3 .car_price,
.best_top3 .car_view{display:block;color:#fff;text-align:center;}
.best_top3 .car_name{
	font-size:16px;line-height:20px;
	font-family:HynSans_Head-R;
}
.best_top3 .car_price{
	margin-bottom:11px;
	font-size:24px;line-height:30px;
	font-family:HynSans_Head-R;
}
.best_top3 .car_price em{font-family:HynSans_Head-M;}
.best_top3 .car_view{
	display:inline-block;padding:0 20px 0 42px;
	background:#7D84B4 url('../img/main/ico_trend_view.svg') no-repeat 20px 50%;border-radius:17px;
	height:30px;
	
	font-size:14px;line-height:30px;
	font-family:HynSans_Head-R;
}







.main_section.time .info{margin-top:20px;color:#fff;text-align:center;font-family:"HynSans_Head-R";}
.main_section.time .info .car_name{font-size:16px;}
.main_section.time .info .price{font-size:24px;}
.main_section.time .view_area{display:flex;justify-content:center;align-items:center;width:105px;height:29px;margin:10px auto 0;border-radius:17px;background-color:#7D84B4;}
.main_section.time .view_area .count{color:#fff;font-family:"HynSans_Head-R";}
.main_section.time .view_area .count::before{content:'';display:inline-block;width:16px;height:9.6px;margin-right:6px;background-image:url(../img/main/ico_trend_view.svg);background-repeat:no-repeat;background-size:16px auto;}

.main_section.age .img_box{margin-top:39px;text-align:center;padding:0 11%;}
.main_section.age .img_box > img{width:100%;}
.cont_main_section.keyword .section_title .title{font-size:30px;line-height:48px;font-family:HynSans_Head-M;}
.cont_main_section.keyword .section_title .title_sub{font-size:16px;line-height:22px;font-family:HynSans_Head-M;}
.cont_main_section.keyword .section_title .title_sub p:last-of-type{font-family:HynSans_Head-R;}

.keyword_wrap .cont_trend{margin-top:100px;transform:scale(.8);transition:margin 1s, transform 1.5s;}
.keyword_wrap .cont_trend.visible{margin-top:0;transform:scale(1);}
.keyword_wrap .cont_trend.hidden{transform:scale(.7);}

.keyword_slide{position:relative;height:460px;margin:0 20px;transition:transform 1.5s;overflow:hidden;}
.keyword_slide .swiper-pagination{bottom:25px;}
.keyword_slide .swiper-pagination-bullet{width:6px;height:6px;margin:0 3px!important;background-color:#fff;opacity:1;}
.keyword_slide .swiper-pagination-bullet-active{width:18px;margin:0!important;border-radius:3px;background-color:#007FA8;}
.keyword_slide.zoom{transform:scale(1.125);}

.main_section02{position:relative;margin:auto;height:460px;background:#fff;}
.main_section02 > img{display:block;width:100%;}

.main_section02 .title_box{position:absolute;left:0;top:42px;width:100%;}
.main_section02 .title_box > span{
	display:block;
	color:#000000;
	font-size:16px;line-height:22px;
	text-align:center;
}
.main_section02 .title_box .txt01{font-size:36px;line-height:48px;margin-bottom:10px;}
.main_section02 .title_box .txt02{font-size:24px;font-family:"HynSans_Head-M";}
.main_section02 .title_box .txt03{font-size:16px;margin-top:10px;font-family:"HynSans_Head-R";}

.main_section02.history .cont_img{position:absolute;right:0px;bottom:115px;}
.main_section02.history .cont_img img{width:100%}
.main_section02.history .cont_text{position:absolute;left:0px;bottom:60px;width:100%;text-align:center;line-height:22px;}
.main_section02.history .cont_text .car_name{font-size:16px;font-family:"HynSans_Head-R";}
.main_section02.history .cont_text .car_price{font-size:18px;font-family:"HynSans_Head-M";}

.main_section02.check .car_count{position:absolute;left:50%;top:50%;width:100%;transform:translate(-50%, -50%);text-align:center;}
.main_section02.check .car_count span{color:#fff;font-size:50px;font-family:HynSans_Head-M;line-height:60px;vertical-align:top;}
.main_section02.check .car_count .btn_area{margin-top:10px;}
.main_section02.check .car_count .btn_area .btn_text_link{
	display:inline-block;
	color:#1B1F37;
	font-size:14px;line-height:18px;
	font-family:HynSans_Head-R;
	background:url('../img/main/arrow_01.svg') no-repeat right 50%;
	padding-right:10px;
}
.main_section02.check .car_count .btn_area .btn_text_link:after{
	content:'';
	display:block;
	width:100%;height:1px;background:#1B1F37;
}
.main_section02.video .title_box > span{color:#fff}

.userNumBar{position:relative;color:#fff;text-align:center;font-family:HynSans_Head-M;vertical-align:0.5px;}
.userNumBar .pplNum{display: inline-block;vertical-align: bottom;font-size:36px;line-height: 60px;}
.userNumBar .digit-con, 
.userNumBar .comma{height:60px;overflow: hidden;display: inline-block;vertical-align: bottom;}
.userNumBar span{position: relative;}
.userNumBar02{position:relative;color:#fff;text-align:center;font-family:"HynSans_Head-M";}
.userNumBar02 .pplNum{display:inline-block;vertical-align:bottom;font-size:50px;line-height:60px;}
.userNumBar02 .digit-con, 
.userNumBar02 .comma{height:60px;overflow:hidden;display:inline-block;vertical-align:bottom;}
.userNumBar02 span{position:relative;}

.btn_video_play{position:absolute;left:50%;top:50%;width:80px;height:80px;transform:translate(-50%, -50%);background-image:url(../img/main/ico_video_play.svg);background-repeat:no-repeat;background-size:100% 100%;}

.trend_video{position:relative;margin-top:58px;transform:scale(.8);transition:transform 1.5s ease-out;font-family:"HynSans_Head-M";}
.trend_video.visible{transform:scale(1);}
.trend_video.zoom{transform:scale(.7);}
.trend_video .bg_video{display:block;width:100%;}
.trend_video .video_flag{position:absolute;left:20px;top:20px;font-size:13px;}
.trend_video .video_flag .live{display:block;position:absolute;top:0;left:0;padding:4px 10px 2px;border-radius:14px;color:#fff;background-color:#007FA8;}
.trend_video .video_flag .time{display:block;padding: 4px 10px 2px 35px;margin-left:20px;border-radius:0 14px 14px 0;color:#007FA8;background-color:#fff;}
.trend_video .text_box{position:absolute;left:20px;bottom:30px;}
.trend_video .text_box .desc{color:#fff;font-size:20px;line-height:25px;}

.trend_content{margin-top:30px;font-family:"HynSans_Head-M";}
.trend_content .item_trend_cont::after{content:'';display:block;clear:both;}
.trend_content .item_trend_cont .item_trend_inner{position:relative}
.trend_content .item_trend_cont .img_box{position:relative;width:260px; background:red}
.trend_content .item_trend_cont .img_box::before{content:'';display:block;position:absolute;right:0;top:0;width:40%;height:100%;transition:width 1.2s linear;background-color:#fff;}
.trend_content .item_trend_cont.visible .img_box::before{width:0%;}
.trend_content .item_trend_cont .img_box .img_trend_cont{display:block;width:100%;}
.trend_content .item_trend_cont.prefer .text_box{position:absolute;left:20px;bottom:20px;}
.trend_content .item_trend_cont.prefer .text_box .desc{color:#fff;font-size:18px;}
.trend_content .item_trend_cont.guide{margin-top:30px;}
.trend_content .item_trend_cont.guide .text_box{position:absolute;left:20px;top:20px;}
.trend_content .item_trend_cont.guide .text_box .desc{font-size:18px;}
.trend_content .item_trend_cont.guide .item_trend_inner{float:right;}

.cont_market{margin-top:60px;}
.cont_market .market_wrap{display:flex;flex-wrap:wrap;}
.cont_market .market_wrap .item_market{flex:0 0 50%;width:50%;padding:40px 0 0;height:180px;transition:margin 1s;text-align:center;font-size:16px;font-family:"HynSans_Head-M";}
.cont_market .market_wrap .item_market::before{content:'';display:block;width:60px;height:60px;margin:0 auto 24px;background:url(../img/main/ico_sprite_market_3.png) no-repeat;background-size:auto 60px;}
.cont_market .market_wrap .item_market:nth-child(1){background-color:#E9ECF0;}
.cont_market .market_wrap .item_market:nth-child(2){background-color:#F6F7FA;}
.cont_market .market_wrap .item_market:nth-child(3){background-color:#F6F7FA;}
.cont_market .market_wrap .item_market:nth-child(4){background-color:#E9ECF0;}
.cont_market .market_wrap .item_market:nth-child(1)::before{background-position:0px 0;}
.cont_market .market_wrap .item_market:nth-child(2)::before{background-position:-64px 0;}
.cont_market .market_wrap .item_market:nth-child(3)::before{background-position:-128px 0;}
.cont_market .market_wrap .item_market:nth-child(4)::before{background-position:-192px 0;}

.cont_market .market_wrap .item_market:nth-child(1){margin-top:100px;transition:margin .5s;}
.cont_market .market_wrap .item_market:nth-child(1).visible{margin:0;}
.cont_market .market_wrap .item_market:nth-child(2){margin-top:150px;transition:margin 1s;}
.cont_market .market_wrap .item_market:nth-child(2).visible{margin:0;}
.cont_market .market_wrap .item_market:nth-child(3){margin-top:100px;transition:margin .5s;}
.cont_market .market_wrap .item_market:nth-child(3).visible{margin:0;}
.cont_market .market_wrap .item_market:nth-child(4){margin-top:150px;transition:margin 1s;}
.cont_market .market_wrap .item_market:nth-child(4).visible{margin:0;}

.cont_sell .quote_box{position:relative;width:calc(100% - 40px);height:460px;background:linear-gradient(180deg, #4C548A 0%, #35385D 100%);transition:all 1s;}
.cont_sell .quote_box::after{content:'';display:block;position:absolute;right:0;top:0;width:50%;height:100%;background-color:#fff;transition:width 1s;}
.cont_sell.visible .quote_box::after{width:0;z-index:500;}
.cont_sell.zoom .quote_box{width:100%;filter:brightness(0.3);}
.cont_sell .quote_box .title_box{position:absolute;left:20px;top:40px;}
.cont_sell .quote_box .title_box .title{color:#fff;font-size:30px;font-family:"HynSans_Head-M";}
.cont_sell .quote_box .title_box .title span{color:#A1B0E1;}
.cont_sell .quote_box .title_box .btn_text_link{position:relative;color:#fff;font-family:"HynSans_Head-R";
	background:url('../img/main/arrow_02.svg') no-repeat right 50%;
	padding-right:10px;
}
.cont_sell .quote_box .title_box .btn_text_link:after{content:'';display:block;position:absolute;bottom:-2px;left:0;width:calc(100% - 12px);height:1px;background:#fff;}
.cont_sell .quote_box .img_box{position:absolute;left:40px;bottom:0;}
.cont_sell .quote_box .img_box .text_phone_box{position:absolute;left:50%;top:48px;width:168px;padding-bottom:18px;transform:translateX(-50%);}
.cont_sell .quote_box .img_box .text_phone_box::before{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:3px;background-color:#E3E5EC;}
.cont_sell .quote_box .img_box .text_phone_box::after{content:'';display:block;position:absolute;left:0;bottom:0;width:60px;height:3px;background-color:#007FA8;}
.cont_sell .quote_box .img_box .text_phone_box .text{font-size:20px;font-family:"HynSans_Head-R";}
.cont_sell .quote_box .img_box .text_phone_box .text .bold{font-family:"HynSans_Txt-B";}
.cont_sell .quote_box .img_box .input_car_number{display:flex;justify-content:center;align-items:center;position:absolute;left:50%;bottom:112px;width:168px;height:56px;border:2px solid #007FA8;color:#007FA8;transform:translate(-50%);}
.cont_sell .quote_box .img_box .input_car_number .text{font-size:26px;}

.cont_service.zoom .item_service_wrap .item_service.item01{margin-top:170px;}
.cont_service.zoom .item_service_wrap .item_service.item02::after{height:0;}
.cont_service.zoom{margin-top:30px;}
.cont_service{margin-top:200px;transition:margin 1s;}
.cont_service .title_box{font-family:"HynSans_Head-M";}
.cont_service .text_box{font-family:"HynSans_Head-R";}
.cont_service_wrap::after{content:'';display:block;clear:both;}
.item_service_wrap{display:flow-root;position:relative;}
.item_service_wrap .item_service{position:relative;width:50%;}
.item_service_wrap .item_service.item01{margin-top:500px;float:left;transition:margin 1s;}
.item_service_wrap .item_service.item01 img{display:block;width:100%;}
.item_service_wrap .item_service.item02{float:left;}
.item_service_wrap .item_service.item01 .text_box{position:absolute;}
.item_service_wrap .item_service.item01 .text_box{left:20px;top:20px;}
.item_service_wrap .item_service.item01 .text_box .text{color:#fff;font-size:18px;font-family:"HynSans_Head-M";}
.item_service_wrap .item_service.item02{padding:20px 30px 34px 20px;color:#fff;background:linear-gradient(135deg, #a7a7ae 0%,#95989e 100%);}
.item_service_wrap .item_service.item02::after{content:'';display:block;position:absolute;left:0;bottom:0;width:100%;height:30%;background-color:#fff;transition:height 1s;}
.item_service_wrap .item_service.item02 .title_box .title{display:flex;align-items:center;font-family:"HynSans_Head-M";}
.item_service_wrap .item_service.item02 .title_box .title::before{content:'';display:inline-block;width:18px;height:18px;margin-right:7px;background-image:url(../img/main/ico_service_review.svg);background-repeat:no-repeat;background-size:100% 100%;}
.item_service_wrap .item_service.item02 .text_box{margin-top:74px;}
.item_service_wrap .item_service.item02 .text_box::before{content:'';display:block;width:20px;height:15px;background-image:url(../img/main/ico_service_before.svg);background-repeat:no-repeat;background-size:100% 100%;}
.item_service_wrap .item_service.item02 .text_box .text{margin-top:10px;font-size:16px;font-family:"HynSans_Head-R";}

.cont_price_check{position:relative;margin-top:30px;transition:transform 1s;}
.cont_price_check.zoom{transform:scale(.8);}
.cont_price_check .item_price_check{position:relative;width:calc(100% - 40px);margin:0 auto;}
.cont_price_check .item_price_check img{transform:scale(.85);transition:transform 1s;}
.cont_price_check.visible .item_price_check img{transform:scale(1);}
.cont_price_check .item_price_check img{display:block;width:100%;}
.cont_price_check .title_box{position:absolute;left:20px;top:20px;font-family:"HynSans_Head-M";}
.cont_price_check .title_box .title{font-size:18px;}

.cont_main_section.conf .cont_hpick{background:linear-gradient(90deg, #5A89A8 0%, #356484 100%);background-position:0 100%;}
.cont_hpick{position:relative;padding-bottom:60px;}
.hpick_wrap{position:relative;width:100%;height:460px;margin-top:30px;padding:40px 20px 0;}
.hpick_wrap .title_box{width:100%;height:100%;}
.hpick_wrap .title_box .icon_box{width:54px;height:54px;background-image:url(../img/main/ico_Hpick.svg);background-repeat:no-repeat;background-size:100% 100%;}
.hpick_wrap .title_box .title{margin-top:28px;color:#fff;font-size:30px;font-family:"HynSans_Head-M";line-height:38px;}
.hpick_wrap .title_box .title span{color:#00DDFF;}
.hpick_wrap .title_box .btn_area{margin-top:10px;}
.hpick_wrap .title_box .btn_area .btn_text_link{position:relative;color:#fff;font-family:"HynSans_Head-R";
	background:url('../img/main/arrow_02.svg') no-repeat right 50%;
	padding-right:8px;}
.hpick_wrap .title_box .btn_area .btn_text_link:after{content:'';display:block;position:absolute;bottom:1px;left:0;width:calc(100% - 12px);height:1px;background:#fff;}
/*
.item_hpick{display:flex;margin-top:30px;}
.item_hpick:nth-child(3n -2){justify-content:flex-end;}
.item_hpick:nth-child(3n -1){justify-content:center;}
.item_hpick:nth-child(4n){margin:0;}
*/
.item_hpick_wrap .item_hpick{transition:margin-top 1s;}
.item_hpick_wrap .item_hpick:nth-child(1){text-align:right;margin-top:50px;margin-right:30px;}
.item_hpick_wrap .item_hpick:nth-child(1) .item_hpick_inner{width:260px;}
.item_hpick_wrap .item_hpick:nth-child(2){margin-top:50px;}
.item_hpick_wrap .item_hpick:nth-child(2) .item_hpick_inner{width:180px;}
.item_hpick_wrap .item_hpick:nth-child(3){text-align:right;margin-top:50px;}
.item_hpick_wrap .item_hpick:nth-child(3) .item_hpick_inner{width:180px;}
.item_hpick_wrap .item_hpick:nth-child(4){margin-top:50px;margin-left:20px;}
.item_hpick_wrap .item_hpick:nth-child(4) .item_hpick_inner{width:260px;}
.item_hpick_wrap .item_hpick.visible:nth-child(1){margin-top:-205px;}
.item_hpick_wrap .item_hpick.visible:nth-child(2){margin-top:15px;}
.item_hpick_wrap .item_hpick.visible:nth-child(3){margin-top:-80px;}
.item_hpick_wrap .item_hpick.visible:nth-child(4){margin-top:15px;}
.item_hpick_inner{position:relative;display:inline-block;width:50%;}
.item_hpick_inner img{width:100%;}
.item_hpick_inner .text_box{position:absolute;left:20px;top:20px;font-family:"HynSans_Head-M";text-align:left;}
.item_hpick_inner .text_box .text{color:#fff;font-size:18px;}

.cont_main_faq{position:relative;background-color:#E9ECF0;overflow:hidden;}
.cont_main_faq .title_box{position:absolute;top:65px;width:100%;}
.cont_main_faq .title_box .title{color:#808080;text-align:center;font-family:"HynSans_Txt-B";}
.slide_faq{position:relative;padding:96px 0 105px;}
.slide_faq .item_faq{display:block;padding:0 55px;}
.slide_faq .item_faq .text_faq{color:#000;font-size:20px;text-align:center;font-family:"HynSans_Head-R";}
.slide_faq .item_faq .text_faq span{color:#007FA8;}
.slide_faq .swiper-pagination{left:50%;bottom:69px;transform:translateX(-50%);}
.slide_faq .swiper-pagination .swiper-pagination-bullet{width:6px;height:6px;margin:0 3px;border-radius:3px;background-color:#CCCCCC;}
.slide_faq .swiper-pagination .swiper-pagination-bullet-active{width:18px;background-color:#007FA8;}
.cont_corp .cont_corp_inner{display:flex;flex-wrap:wrap;border-top:1px solid #fff;}
.cont_corp .cont_corp_inner .item_corp{flex:0 0 33.33%;width:33.33%;font-family:"HynSans_Head-M";}
.cont_corp .cont_corp_inner .item_corp:not(:first-child){border-left:1px solid #fff;}
.cont_corp .cont_corp_inner .item_corp a{display:flex;flex-direction:column;justify-content:center;align-items:center;height:120px;color:#000;font-size:18px;}
.cont_corp .cont_corp_inner .item_corp a::before{content:'';display:block;width:30px;height:30px;margin-bottom:15px;background:url(../img/main/img_sprite_main_corp_2.png) no-repeat;background-size:90px auto;}
.cont_corp .cont_corp_inner .item_corp:nth-child(1) a::before{background-position:0 0;}
.cont_corp .cont_corp_inner .item_corp:nth-child(2) a::before{background-position:-30px 0;}
.cont_corp .cont_corp_inner .item_corp:nth-child(3) a::before{background-position:-60px 0;}

/* intro */
body.CPOintro{position:fixed;left:0;top:0;width:100%;height:calc(100% + 1px) !important;background-image:url(../img/intro/bg_intro_gray@2x.jpg);background-size:cover;background-position:0 0;}
.input_search_intro{display:block;position:relative;width:168px;height:35px;z-index:10;}
.input_search_intro input[type="text"]{position:relative;width:100%;height:100%;padding:0 44px 11px 3px;border:none;border-bottom:2px solid rgba(255,255,255,.6);background-color:transparent;color:#fff;font-size:16px;}
.input_search_intro input[type="text"]::placeholder{opacity:.6;}
.input_search_intro .btn_search_intro{display:block;position:absolute;right:2px;top:0;width:24px;height:24px;background-image:url(../img/intro/ico_intro_search.png);background-repeat:no-repeat;background-size:100%;}

/* .intro_wrap{width:100%;min-height:100%;} */
.intro_wrap{position:fixed;width:100%;height:100vh;height:calc(var(--vh, 1vh) * 100);min-height:-webkit-fill-available;overflow:hidden;}
.intro_wrap.fixed .text_box{z-index:-1;display:none;}
.intro_wrap.fixed .intro_sell{width:0%!important;}
.intro_wrap .logo{position:absolute;left:15px;top:17px;z-index:1000;}
.intro_wrap .logo a{display:block;width:32px;height:17px;background-image:url(../img/intro/img_intro_logo.png);background-repeat:no-repeat;background-size:32px auto;}
.intro_sell_wrap{width:100%;height:100%;}
.intro_sell{position:absolute;left:0;top:0;width:50%;height:100%;background:url(../img/intro/img_intro_left.png);background-repeat:no-repeat;background-size:cover;transition:transform .3s;}
.intro_get{position:absolute;left:0;top:0;width:100%;height:100%;
	background:url(../img/intro/img_intro_right.jpg) no-repeat;
	background-size:100% 100%;
	transition:transform 1s;transition:background-size 1s;
}
.intro_get.on{background-size:200% 209%;background-position:52% 81%;}
.intro_get.fade{background-size:3000% 3000%;transition:background-size 20s ease-out, opacity 2.5s linear;opacity:0;}
.intro_get.fade.popular{background:transparent;transition:background-size 1.5s ease-out, opacity 2.5s linear;opacity:1;}
.intro_wrap .text_box{position:absolute;top:83px;color:#fff;font-size:18px;transition:all .5s ease-out;}
.intro_wrap .intro_get .text_box.hide{right:-1000px;}
.intro_wrap .intro_sell .text_box.hide{left:-1000px;}
.intro_wrap .text_box .title{line-height:20px;}
.intro_wrap .text_box .text{margin-top:20px;font-size:15px;line-height:22px;}
.intro_wrap .text_box .text .shadow.right{text-shadow:0px 2px 3px #002b53;font-family:"HynSans_Txt-B";}
.intro_wrap .text_box .text .shadow.left{text-shadow:0px 2px 3px #c47300;font-family:"HynSans_Txt-B";}
.intro_sell .text_box{left:15px;}
.intro_sell .text_box .title:before,
.intro_get .text_box .title:after{content:'';display:inline-block;width:10px;height:10px;background:url('../img/main/intro_arrow_01.svg') no-repeat 0 0;vertical-align:middle;margin-bottom:1px;}
.intro_get .text_box .title:after{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);transform: rotate(180deg);}
.intro_get .text_box{right:15px;text-align:right;}
.intro_get .today_text_box{margin:9.7222vh 0 0 4.1667vh;opacity:0;transition:opacity 1s;}
.intro_get.on .today_text_box{opacity:1;color:#fff;}
.today_text_box .today{font-size:1.9444vh;opacity:.5;transition:all 1s;}
.today_text_box .today_text{margin-top:5px;font-size:3.8889vh;font-family:"HynSans_Txt-B";}
.today_text_box .input_box{margin-top:4vh;}

.today_text .text{margin-top:-7px;}
.today_text .count{border-bottom:1px solid #e8900f;color:#e8900f;font-family:"HynSans_Txt-B";}
.today_text .under{display:inline-block;position:relative;color:#1b68c1;}
.today_text .under::after{content:'';display:block;position:absolute;left:0;bottom:3px;width:100%;height:1px;background-color:#1b68c1;}
.today_text .num{position:relative;text-align:center;font-family:"HynSans_Txt-R";}
.today_text .num .pplNum{display: inline-block;vertical-align:bottom;font-size:28px;line-height:38px;}
.today_text .num .digit-con, 
.today_text .num .comma{display:inline-block;height:38px;overflow:hidden;vertical-align:top;}
.today_text .num span{position: relative;}

.intro_car_wrap{display:none;flex-direction:column-reverse;align-items:flex-end;}
.intro_item_car{display:flex;justify-content:flex-end;opacity:0;transition:all 1s;}
.intro_item_car img{height:100%;}
.intro_item_car.item01{margin-top:0.4167vh;margin-right:-40vw;transition:margin-right 1s linear;z-index:3;}
.intro_item_car.item02{margin-top:-6.2500vh;margin-right:-21.6667vw;transition:margin-right 1s linear;z-index:2;}
.intro_item_car.item03{margin-right:-51.388vw;transition:margin-right 1s linear;z-index:1;}
.intro_item_car.item01 .item_img_box{height:25.9722vh;}
.intro_item_car.item02 .item_img_box{height:13.7500vh;}
.intro_item_car.item03 .item_img_box{height:13.0556vh;}

.intro_get.popular .intro_car_wrap{display:flex;}
.intro_get.popular .intro_item_car.on{opacity:1;}
.intro_get.popular .intro_item_car.item01.on{margin-right:-19.7222vw;}
.intro_get.popular .intro_item_car.item02.on{margin-right:21.6667vw;}
.intro_get.popular .intro_item_car.item03.on{margin-right:-23.6111vw;}

.intro_item_car .item_text_box{
	color:#fff;
	line-height:50px;line-height:0.9;
}
.intro_item_car .item_text_box em  {font-family:"HynSans_Txt-B";}
.intro_item_car .item_text_box i      {font-family:"HynSans_Txt-M";}
.intro_item_car .item_text_box span{display:block;font-family:"HynSans_Txt-R";}
.intro_item_car.item01 .item_text_box em	 {font-size:80px;}
.intro_item_car.item01 .item_text_box i		 {font-size:50px;}
.intro_item_car.item01 .item_text_box span{font-size:24px;font-family:"HynSans_Txt-B";}
.intro_item_car.item02 .item_text_box em	 {font-size:39px;}
.intro_item_car.item02 .item_text_box i		 {font-size:28px;}
.intro_item_car.item02 .item_text_box span{font-size:20px;}
.intro_item_car.item03 .item_text_box em	 {font-size:30px;}
.intro_item_car.item03 .item_text_box i		 {font-size:23px;}
.intro_item_car.item03 .item_text_box span{font-size:18px;}

.intro_item_car.item01 .item_text_box{margin:-1.9444vh -18.3333vw 0 0 ;}
.intro_item_car.item02 .item_text_box{margin:-2.3611vh -20.5556vw 0 0 ;}
.intro_item_car.item03 .item_text_box{margin:-1.8056vh -18.8889vw 0 0 ;}

.intro_item_car.item02 .item_text_box{opacity:.5;}

.intro_item_car.item03 .item_text_box{opacity:.3;}

.intro_get.popular .intro_popular_text{display:block;}
.intro_popular_text{display:none;width:100%;margin-top:2px;text-align:center;}
.intro_popular_text .title{display:inline-block;position:relative;color:#0a60c4;font-size:24px;font-family:"HynSans_Txt-B";}
.intro_popular_text .title::after{content:'';display:block;position:absolute;left:0;bottom:3px;width:100%;height:1px;background-color:#0a60c4;}
.intro_popular_text .count{margin-top:-2px;color:#fff;}

.intro_link_main.on{display:block;}
.intro_link_main{display:none;width:100%;margin-top:10px;}
.intro_link_main .btn_link_main{display:block;width:18px;height:18px;margin:0 auto;}
.intro_link_main .btn_link_main .link_arr_bottom{display:block;width:13.8px;height:6.9px;margin:auto;background-image:url(../img/intro/ico_intro_arr_bottom.png);background-repeat:no-repeat;background-size:100% 100%;}
.intro_link_main .btn_link_main .link_arr_bottom:nth-child(1){animation:1s btn_move_main linear infinite;animation-delay:.1s;}
.intro_link_main .btn_link_main .link_arr_bottom:nth-child(2){animation:1s btn_move_main linear infinite;animation-delay:.3s;}

@keyframes btn_move_main {
	0%{opacity:.3;}
	12.5%{opacity:.45;}
	25%{opacity:.6;}
	37.5%{opacity:.8;}
	50%{opacity:1;}
	62.5%{opacity:.8;}
	75%{opacity:.6;}
	87.5%{opacity:.45;}
	100%{opacity:.3;}
}