/* html,body{width:100%;height:100vh;overflow:hidden;} */
input{border:none;}

.clearfix::after{content:'';display:block;clear:both;}
.container{height:auto;}

/********************************************************
*	HMC INTRO (CPO_DP_M0001_HMC.sthml)					*
********************************************************/
.intro_wrap.start .intro_select.sell{
	right:-50%;
}
.intro_wrap.start .intro_select.sell .text_sell{
	opacity:0;
}
.int_text{
	width:100%;height:64px;
	padding:17px 15px 17px 17px;
	border:#ddd;border-radius:6px;
	background:#fff;
}

.intro_logo{
	position:fixed;left:50%;top:30px;
	margin-left:-54px;
	width:108px;
	z-index:1000;
}
.intro_logo img{
	width:100%;
}
.intro_select{
	position:absolute;top:0;
	width:100%;height:100%;
}
.intro_select.get{
	left:-50%;
	background:url(../img/intro/sample/bg_left.png) no-repeat;background-size:cover;background-position:0 0;
}
.intro_select.get::before{
	content:'';display:block;
	position:absolute;right:0;bottom:0;
	width:208px;height:222px;
	background:url(../img/intro/sample/bg_car.png) no-repeat;background-size:100% auto;background-position:0 0;
}
.intro_select.get .input_box{
	position:relative;
	margin-top:25px;
}
.intro_select.get .input_box label{
	display:none;
}
.intro_select.get .input_box a{
	display:inline-block;
	position:absolute;right:15px;top:14px;
	width:36px;height:36px;
	background:url(../img/intro/sample/icon_button.png) no-repeat;background-size:36px auto;
	text-indent:-99999px;
}
.intro_select.sell{
	right:0;
	background:url(../img/intro/sample/bg_right.png) no-repeat;background-size:cover;background-position:0 0;
}
.intro_select.sell::before{
	content:'';display:block;
	position:absolute;left:60px;bottom:0;
	width:247.5px;height:330px;
	background:url(../img/intro/sample/bg_tower.png) no-repeat;background-size:100% auto;background-position:0 0;
	transition:all 1.5s;
}
.intro_select.sell.on::before{
	bottom:115px;
	transform:scale(1.7);
}
.intro_text{
	position:fixed;top:50%;
	margin-top:-130px;
	transition:all 0.3s;
}
.intro_text.hide{
	opacity:0;
}
.intro_text .text{
	margin-top:12px;
	font-size:14px;font-family:"HynSans_Head-R";line-height:125%;
}
.intro_text .title{
	margin-top:3px;
	font-size:20px;font-family:"HynSans_Head-M";line-height:125%;
}
.intro_text .intro_arr{
	position:absolute;top:50%;margin-top:-1px
}
.intro_text .icon01{
	display:inline-block;
	width:7px;height:12px;
	background:url(../img/intro/sample/icon_arr01.png) no-repeat;background-size:7px auto;
	text-indent:-99999px;
}
.intro_text .icon02{
	display:inline-block;
	width:7px;height:12px;
	background:url(../img/intro/sample/icon_arr02.png) no-repeat;background-size:7px auto;
	text-indent:-99999px;
}
.intro_select.get .intro_text{
	left:15px;
	padding-right:60px;
}
.intro_select.get .intro_text .icon{
	width:24px;height:24px;
	background:url(../img/intro/sample/Icon_won.png) no-repeat;background-size:24px auto;
	text-indent:-99999px;
}
.intro_select.get .intro_text .intro_arr{
	right:0;
}
.intro_select.get .text_get{
	margin-top:137px;padding:0 30px;
	opacity:0;
	transition:opacity 1s;
}
.intro_select.get.on .text_get{
	opacity:1;
}
.intro_select.get .text_get .title{
	font-size:30px;font-family:"HynSans_Head-L";line-height:37.5px;
}
.intro_select.get .text_get .text{
	font-size:30px;font-family:"HynSans_Head-M";line-height:37.5px;
}
.intro_select.sell .intro_text{
	right:15px;
	padding-left:60px;
}
.intro_select.sell .intro_text .icon{
	width:17.54px;height:24px;
	background:url(../img/intro/sample/icon_car.png) no-repeat;background-size:auto 24px;
	text-indent:-99999px;
}
.intro_select.sell .intro_text .intro_arr{
	left:0;
}
.intro_select.sell .intro_text .intro_arr [class^="icon"]{
	transform:rotate(180deg);
}
.intro_select.sell .text_sell{
	width:100%;opacity:1;
	margin-top:203px;
	transition:opacity 1s;
	color:#002C5F;
	font-size:30px;line-height:37.5px;text-align:center;
}
.intro_select.sell .text_sell .title{
	font-family:"HynSans_Head-R";
}
.intro_select.sell .text_sell .text{
	font-family:"HynSans_Head-M";
}
/********************************************************
*	//HMC INTRO (CPO_DP_M0001_HMC.sthml)				*
********************************************************/

/********************************************************
*	GHQ MAIN (CPO_DP_M0001_GHQ.sthml)					*
********************************************************/
.ghq_main{
	width:100%;height:778px;
	background:url(../img/intro/sample/GHQ/bg_main01.png) no-repeat;background-size:cover;
}
.ghq_main .title_box{
	padding:12px 0 0 21px;
	color:#fff;
}
.ghq_main .title_box .title{
	font-size:24px;line-height:32.4px;
}
.ghq_main .title_box .text{
	margin-top:5px;
	font-size:16px;line-height:25.6px;
}
.ghq_slide .name{
	color:#fff;
	font-size:11px;line-height:14.85px;text-align:center;
}
.ghq_slide img{
	display:block;
	width:100%;
}
/********************************************************
*	//GHQ MAIN (CPO_DP_M0001_GHQ.sthml)					*
********************************************************/

/********************************************************
*	HMC LIST (CPO_DP_M0005_HMC.sthml)					*
********************************************************/
.plp_type01{
	background:#fff;
}
.plp_type01 .title_box{
	margin:70px 0 20px 21px;
	font-size:26px;font-family:"HynSans_Head-L";line-height:32.5px;
}
.plp_type01 .title_box .title{
	font-family:"HynSans_Head-M";
}
.plp_type01 li{
	overflow:hidden;
	border-radius:12px;padding:0 4px;
	transition:margin 1s;
}
.plp_type01 li.on{
	margin:0;
}
.grid_type01{
	padding:0 4px;
}
.grid_type01 .item1{
	margin-top:90px;
}
.grid_type01 .item2{
	margin-top:30px;
}
.grid_type01 .item3{
	margin-top:30px;
}
.grid_type01 .item4{
	margin-top:90px;
}
.grid_type01 .item5{
	margin-top:30px;
}
.grid_type01 .item6{
	margin-top:30px;
}
.grid_type01 .item7{
	margin-top:30px;
}
.grid_type01 .item8{
	margin-top:60px;
}
.grid_type01 .item9{
	margin-top:90px;
}
.grid_type01 .item10{
	margin-top:30px;
}
.grid_type01 .item11{
	margin-top:90px;
}
.grid_type01 .item12{
	margin-top:30px;
}
/********************************************************
*	//HMC LIST (CPO_DP_M0005_HMC.sthml)					*
********************************************************/

/********************************************************
*	HMC MAIN (CPO_DP_M0004_HMC.sthml)					*
********************************************************/
.cpo_main{
	position:relative;
}
.title_main{
	margin:92px 0 0 25px;
}
.title_main .title{
	font-size:90px;font-family:"HynSans_Head-B";line-height:110px;
}
.title_main .title::after{
	content:'';display:inline-block;width:16px;height:16px;border-radius:50%;background-color:#007FA8;
}
.title_sub{
	margin-top:4px;
	color:#333;
}
.title_sub .sub01{
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
}
.title_sub .sub02{
	margin-top:3px;
	font-size:16px;font-family:"HynSans_Head-R";line-height:20px;
}

.section01{
	margin-top:50px;
}
.section01 [class^="item"]{
	overflow:hidden;border-radius:12px;
}
.section01 [class^="group_item"]::after{
	content:'';display:block;clear:both;
}
.section01 [class^="group_item"]{
	padding:0 21px;
	transition:padding 1s;
}
/* 조건입고 알림신청 */
.section01 .item01{
	display:inline-flex;justify-content:center;align-items:center;flex-direction:column;
	float:left;
	width:140px;flex:0 0 140px;
	margin-top:327px;padding:24px 0 18.5px;
	background:linear-gradient(152.15deg, #B7BECE 0%, #98A1B6 82.72%);
	color:#fff;
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
	transition:margin 1s;
}
.section01 .group_item01.animate .item01{
	margin-top:110px;
}
.section01 .icon_bell{
	position:relative;
	width:60px;
	margin-top:22px;
}
.section01 .icon_bell img{
	width:100%;
}
.section01 .icon_bell::after{
	content:'';
	display:inline-block;
	position:absolute;right:0;top:0;
	width:9px;height:9px;
	border-radius:50%;
	background:#007FA8;
}
/* //조건입고 알림신청 */
/* 모델명 검색 */
.section01 .item02{
	display:inline-flex;justify-content:center;align-items:center;flex-direction:column;
	float:right;
	width:170px;flex:0 0 170px;
	margin-top:120px;padding:52px 0 51px;
	background:linear-gradient(153.43deg, #919DED 0%, #5F6DCA 83.33%);
	color:#fff;
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
	transition:margin 1.5s;
}
.section01 .group_item01.animate .item02{
	margin-top:50px;
}
.section01 .item02 .search_area{
	position:relative;
	margin-top:20px;
}
.section01 .item02 .ipt_main{
	width:34px;height:34px;
	border-radius:50%;
}
.section01 .item02 .btn_search{
	display:inline-block;
	position:absolute;left:9px;top:9px;
	width:16px;height:16px;
	border-radius:50%;
	background:url(../img/intro/sample/main/icon_search.png) no-repeat;background-size:16px auto;
	text-indent:-99999px;
}
/* //모델명 검색 */
/* 선호차량 설정하기 */
.section01 .item03{
	display:inline-flex;justify-content:center;align-items:center;flex-direction:column;
	float:right;
	width:260px;flex:0 0 260px;
	margin-top:80px;padding:52px 0 51px;
	background:url(../img/intro/sample/main/bg_main01.png) no-repeat;background-size:auto 150px;
	color:#002C5F;
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
	transition:margin 1s;
}
.section01 .group_item02.animate .item03{
	margin-top:40px;
}
/* //선호차량 설정하기 */
/* 인기 검색 조건 */
.section01 .item04{
	position:relative;
	width:100%;
	margin-top:80px;
	color:#fff;
	transition:margin 1s;
}
.section01 .group_item03.animate{
	padding:0;
}
.section01 .group_item03.animate .item04{
	margin-top:60px;
	border-radius:0;
}
.section01 .item04 img{
	width:100%;
}
.section01 .item04 .text_box{
	position:absolute;left:21px;top:20px;
}
.section01 .item04 .text_box .text01{
	font-size:20px;font-family:"HynSans_Head-M";line-height:25px;
	text-shadow:0px 0px 3px rgba(0, 0, 0, 0.7);
}
.section01 .item04 .text_box .text02{
	margin-top:10px;
	font-size:15px;font-family:"HynSans_Head-R";line-height:18.75px;
	text-shadow:0px 0px 3px rgba(0, 0, 0, 0.7);
}
.section01 .item04 .text_box i::before{
	content:'';
	display:inline-block;
	vertical-align:middle;
	margin:0 5px;
	width:1px;height:1px;
	background:#fff;
}
.section01 .item04 .text_box i:first-child:before{
	content:none;
}
/* //인기 검색 조건 */
/* 판매 준비 차량 */
.section01 .item05{
	position:relative;
	width:calc(100% - 58px);height:341px;
	margin-top:60px;
	background:url(../img/intro/sample/main/bg_main03.png) no-repeat;background-size:auto 341px;
	color:#fff;
	transition:width 1s;
}
.section01 .group_item04.animate .item05{
	width:100%;
}
.section01 .item05 .text_box{
	position:absolute;left:22px;top:20px;
}
.section01 .item05 .text_box p{
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
	text-shadow:0px 0px 3px rgba(0, 0, 0, 0.7);
}
.section01 .item05 .text_box02{
	position:absolute;left:21px;bottom:22px;
}
.section01 .item05 .text_box02 p{
	font-size:14px;font-family:"HynSans_Head-R";line-height:17.5px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
}
/* //판매 준비 차량 */
.title_sec{
	position:sticky;
}
.title_sec .title{
	font-size:30px;font-family:"HynSans_Head-M";line-height:37.5px;
}
.title_sec .sub{
	font-size:16px;font-family:"HynSans_Head-R";line-height:20px;
}
.title_sec .hash{
	font-size:16px;font-family:"HynSans_Head-M";line-height:20px;
}
.section02{
	margin-top:120px;padding:0 21px;
}
.section02 .title_sec{
	top:60px;
	margin-bottom:60px;
}
.section02 .title{
	margin-top:4px;
}
.section02 .cont01{
	margin:0 auto;
	width:100%;height:100%;
}
.section02 .cont01 .item{
	position:sticky;position:-webkit-sticky;top:171px;
	overflow:hidden;
	width:100%;height:calc(100vh - 339px);
	border-radius:12px;
}
.section02 .cont01 .item01{
	background:linear-gradient(153.05deg, #738ABF 0%, #4260A6 83.15%);
}
.section02 .cont01 .item02{
	background:linear-gradient(336.17deg, #727AB3 15.32%, #939BCC 99.04%);
}
.section02 .cont01 .item03{
	background:linear-gradient(162.3deg, #C2D8F2 0%, #8FABCC 87.9%);
}
.section02 .cont02 .item01{
	position:relative;
	overflow:hidden;
	margin-top:100px;
	border-radius:12px;
	/* transform:scale(0); */
}
.section02 .cont02 .item01 .thumb img{
	width:100%;
}
.section02 .cont02 .item01 .text_box{
	position:absolute;left:21px;bottom:30px;
	color:#fff;
}
.section02 .cont02 .item01 .text_box .text01{
	font-size:16px;font-family:"HynSans_Head-R";line-height:20px;
}
.section02 .cont02 .item01 .text_box .text02{
	margin-top:10px;
	font-size:20px;font-family:"HynSans_Head-M";line-height:25px;
}
.section02 .cont02 .item02{
	position:relative;
	overflow:hidden;
	width:calc(100% - 58px);height:280px;
	margin-top:100px;
	border-radius:12px;
	background:url(../img/intro/sample/main/bg_main05.jpg) no-repeat;background-size:auto 280px;
	transition:width 1s;
}
.section02 .cont02 .group_item01.animate .item02{
	width:100%;
}
.section02 .cont02 .item02 .text_box{
	position:absolute;left:21px;bottom:20px;
}
.section02 .cont02 .item02 .text_box p{
	color:#fff;
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
}
.section02 .cont02 .group_item02{
	display:flex;justify-content:flex-end;
}
.section02 .cont02 .item03{
	position:relative;
	width:calc(100% - 58px);height:260px;
	margin-top:100px;
	border-radius:12px;
	background:url(../img/intro/sample/main/bg_main06.jpg) no-repeat;background-size:auto 260px;
	transition:width 1s;
}
.section02 .cont02 .group_item02.animate .item03{
	width:100%;
}
.section02 .cont02 .item03 .text_box{
	position:absolute;left:21px;top:20px;
}
.section02 .cont02 .item03 .text_box p{
	font-size:18px;font-family:"HynSans_Head-M";line-height:22.5px;
}
.section03{
	margin-top:120px;
}
.section03 .title_sec{
	top:100px;
	z-index:101;
	margin-bottom:60px;
	text-align:center;
}
.section03 .cont{
	margin:0 21px;
}
.section03 .item{
	position:sticky;position:-webkit-sticky;top:50px;
	z-index:100;
}
.section03 .item01{
	width:100%;height:460px;
	background:url(../img/intro/sample/main/bg_main07.jpg) no-repeat;background-size:auto 460px;
}
.section03 .item01 img{
	position:absolute;right:0;bottom:0;
	width:318px;
}
.section03 .item02{
	width:100%;height:460px;
	background:#fff url(../img/intro/sample/main/bg_main08.png) no-repeat 0 0;background-size:auto 460px;
	padding-bottom:268px;box-sizing:content-box;
}
.section03 .item03{
	position:relative;top:0;
}
.section03 .item03 .list_content{
	display:flex;flex-wrap:wrap;
	padding:0 10px;
}
.section03 .item03 .list_content li{
	flex:0 0 50%;height:140px;
	padding:0 15px;
	border-radius:12px;
	transition:margin 1.5s;
}
.section03 .item03 .list_content li a{
	display:flex;flex-direction:column;justify-content:center;align-items:center;
	height:100%;
}
.section03 .item03 .list_content li:nth-child(1){
	margin-top:80px;
}
.section03 .item03 .list_content li:nth-child(1) a{
	background:#E9EBF0;
}
.section03 .item03 .list_content li:nth-child(2){
	margin-top:200px;
}
.section03 .item03 .list_content li:nth-child(2) a{
	background:#F6F7FA;
}
.section03 .item03 .list_content li:nth-child(3) a{
	background:#F6F7FA;
}
.section03 .item03 .list_content li:nth-child(4){
	margin-top:120px;
}
.section03 .item03 .list_content li:nth-child(4) a{
	background:#E9EBF0;
}
.section03 .item03 .list_content li.animate{
	margin:0;
}
/********************************************************
*	HMC MAIN (CPO_DP_M0004_HMC.sthml)					*
********************************************************/

