@charset "UTF-8";
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  /*vertical-align:baseline;*/
}

body, th, td, input, select,
textarea, button {
  color: #000000;
  font-size: 14px;
  line-height: 1.4;
  font-family: GeneSans_Txt-R, "Malgun Gothic", AppleGothicNeoSD, "Apple SD 산돌고딕 Neo", "Microsoft NeoGothic", "Droid sans", Dotum, 돋움, 굴림, Arial, Verdana, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
}

body, html {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

ol, ul, li, dl, dt, dd {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}

hr {
  display: none;
}

span {
  margin: 0;
  padding: 0;
  outline: 0;
}

fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var, i {
  font-style: normal;
}

strong {
  font-weight: 500;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  word-break: break-word;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #6f6f6f;
}

a:active, a:hover {
  text-decoration: none;
}

a.link {
  color: #141414;
  text-decoration: underline;
}

input, select, label {
  vertical-align: middle;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus,
.selector:focus select,
.selectorForm:focus select {
  outline: none;
  /* border:1px solid #6f6f6f!important; */
}

input, select, textarea, button {
  font-size: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

button, input[type=text], input[type=password], input[type=tel], input[type=num], input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  box-shadow: none;
  box-sizing: border-box;
  line-height: 1.3rem;
  overflow: auto;
}

button {
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

caption, legend {
  display: none;
}

option {
  font-weight: 500;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

select::-ms-expand {
  display: none;
}

/*
select[disabled] {color:#999}
input[type='text'][disabled],input[type='password'][disabled] {background:#f9f9f9}
*/
input[type=text]::-ms-clear {
  display: none;
}

:-webkit-input-placeholder {
  color: #999;
  line-height: 1.3rem;
  text-align: left;
}

:-moz-input-placeholder {
  color: #999;
  line-height: 1.3rem;
  text-align: left;
}

:-ms-input-placeholder {
  color: #999;
  line-height: 1.3rem;
  text-align: left;
}

::placeholder {
  color: #999;
  line-height: 1.3rem;
  text-align: left;
}

::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "HynSans_Txt-R";
  src: local(※), url("../font/HyundaiSansTextKRRegular.woff") format("woff"), url("../font/HyundaiSansTextKRRegular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "HynSans_Txt-M";
  src: local(※), url("../font/HyundaiSansTextKRMedium.woff") format("woff"), url("../font/HyundaiSansTextKRMedium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "HynSans_Txt-B";
  src: local(※), url("../font/HyundaiSansTextKRBold.woff") format("woff"), url("../font/HyundaiSansTextKRBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "HynSans_Head-L";
  src: local(※), url("../font/HyundaiSansHeadKRLight.woff") format("woff"), url("../font/HyundaiSansHeadKRLight.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "HynSans_Head-R";
  src: local(※), url("../font/HyundaiSansHeadKRRegular.woff") format("woff"), url("../font/HyundaiSansHeadKRRegular.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "HynSans_Head-M";
  src: local(※), url("../font/HyundaiSansHeadKRMedium.woff") format("woff"), url("../font/HyundaiSansHeadKRMedium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "HynSans_Head-B";
  src: local(※), url("../font/HyundaiSansHeadKRBold.woff") format("woff"), url("../font/HyundaiSansHeadKRBold.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
/* 레이아웃
	Z-INDEX 범위
		- CPOhdaer : 501 ~ 600
		- CPOcontents : 401 ~ 500
		- CPOaction : 600
		- CPOfooter : 601 ~ 700
		- CPOtop : 800
		- dim : 1000
		- layer : 1001

*/
.txt_hidden {
  display: none;
}

/* skip */
#CPOskip {
  position: relative;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
}
#CPOskip a {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 0;
  color: transparent;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
#CPOskip a:focus {
  top: 0;
  height: 30px;
  background: #000;
  color: #fff;
  line-height: 30px;
  text-decoration: none;
}

/* loading */
#CPOloading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
#CPOloading .loading_01 {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 120px;
  margin: -60px 0 0 -70px;
  background: url("../image/loading_01.gif?V=1") no-repeat;
  background-size: 140px auto;
}

/* CPO WRAP */
#CPOwrap {
  position: relative;
  width: 100%;
  height: 100%;
}

/* CPO HEADER */
#CPOheader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100%;
  height: 50px;
}
#CPOheader [class^=h_] {
  position: relative;
  height: 50px;
  padding: 0 40px;
  border-bottom: 1px solid #EDEDED;
  background-color: #fff;
}
#CPOheader [class^=h_] .util {
  position: absolute;
  top: 12px;
  right: 17px;
}
#CPOheader [class^=h_] .util li {
  float: left;
  margin-left: 13px;
}
#CPOheader [class^=h_] .util li:first-of-type {
  margin-left: 0;
}
#CPOheader [class^=h_] h3.tit {
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 0;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}
#CPOheader [class^=ic_] {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 2px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
#CPOheader [class^=ic_]::before {
  content: "";
  display: block;
  height: 20px;
  margin: 0 auto;
  background-image: url("../image/bg_layout.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
}
#CPOheader .ic_menu {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
#CPOheader .ic_menu::before {
  background-position: -99px -27px;
}
#CPOheader .ic_back {
  position: absolute;
  top: 13px;
  left: 15px;
  width: 24px;
  height: 24px;
}
#CPOheader .ic_back::before {
  width: 14px;
  margin: 0 auto;
  background-position: -178px 0;
}
#CPOheader .ic_home::before {
  background-position: -200px -27px;
}
#CPOheader .ic_request::before {
  background-position: 2px -27px;
}

/* contents */
#CPOcontents {
  position: relative;
  min-height: calc(100vh - 50px);
  padding-top: 50px;
}

/* footer */
#CPOfooter {
  padding: 40px 0 92px;
  background: #EDEDED;
  text-align: center;
}
#CPOfooter .foot_logo a {
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
#CPOfooter .foot_logo a::before {
  content: "";
  display: inline-block;
  width: 110px;
  height: 17px;
  margin: 0 auto;
  background-image: url("../image/bg_layout.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -51px -128px;
}
#CPOfooter .foot_copy {
  margin-top: 15px;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 20px;
}
#CPOfooter .foot_menu {
  height: 18px;
  margin-top: 30px;
  font-size: 0;
  text-align: center;
}
#CPOfooter .foot_menu li {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0 10px;
  color: #9C9C9C;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 20px;
}
#CPOfooter .foot_menu li a {
  color: #666666;
}
#CPOfooter .foot_menu li em {
  color: #333333;
}
#CPOfooter .foot_menu li:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 1px;
  height: 14px;
  background: #666666;
  opacity: 0.3;
}
#CPOfooter .foot_menu li:first-child:before {
  display: none;
}
#CPOfooter .foot_info {
  margin-top: 20px;
}
#CPOfooter .foot_info button {
  display: inline-block;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 20px;
}
#CPOfooter .foot_info button:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-left: 5px;
  background: url("../image/bg_layout.png") no-repeat center;
  background-size: 300px auto;
  background-position: -195px -13px;
  font-size: 0;
  transform: rotate(0deg);
}
#CPOfooter .foot_info button.on:after {
  transform: rotate(180deg);
}
#CPOfooter .foot_info > div {
  display: none;
  margin-top: 10px;
  color: #666666;
  font-size: 12px;
  line-height: 21px;
}
#CPOfooter .foot_info > div span {
  position: relative;
  margin-right: 7px;
  padding-right: 7px;
}
#CPOfooter .foot_info > div span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 8px;
  background: #666666;
  transform: translateY(-50%);
  opacity: 0.3;
}
#CPOfooter .foot_info > div a {
  margin-left: 4px;
  color: #333333;
  text-decoration: underline;
}

/* top button */
#CPOtop {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 75px;
  z-index: 800;
}
#CPOtop a {
  display: block;
  width: 48px;
  height: 48px;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: -93px -28px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
#CPOtop a[title=chatbot] {
  display: none;
  margin-bottom: 10px;
  background-position: -41px -28px;
  border: 0;
}
#CPOtop a[title=write] {
  display: none;
  margin-bottom: 10px;
  background-position: -145px -28px;
  border: 0;
}
#CPOtop.type01 a[title=chatbot] {
  display: block;
}
#CPOtop.type02 a[title=write] {
  display: block;
}

.CPO_dimd, .CPO_fullDimd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.6);
}

.CPO_fullDimd {
  z-index: 998;
}

/* 팝업 타입 */
.scroll_hidden {
  overflow: hidden;
}

[class^=CPOpop_] {
  /* Full, Simple, Front, Alert, Toast 팝업 공통 스타일 */
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1001;
  margin: auto;
  transition: all 0.4s linear;
}
[class^=CPOpop_] .btn_sticky {
  display: none;
}
[class^=CPOpop_].active > .p_wrap > .btn_sticky {
  display: flex;
  align-items: center;
}
[class^=CPOpop_] > .p_head {
  width: 100%;
  height: 60px;
  padding: 20px 59px 20px 47px;
  background: #fff;
}
[class^=CPOpop_] > .p_head .tit {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
[class^=CPOpop_] > .p_head2 {
  width: 100%;
  height: 50px;
  padding: 15px 59px 15px 47px;
  background: #F6F3F2;
}
[class^=CPOpop_] > .p_head2 .tit {
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
[class^=CPOpop_] > .p_wrap {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  height: 100%;
  background: #fff;
}
[class^=CPOpop_] > .btn_area {
  width: 100%;
  zoom: 1;
}
[class^=CPOpop_] > .btn_area:after {
  content: "";
  display: block;
  clear: both;
}
[class^=CPOpop_] .pop_close {
  display: block;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 24px;
  height: 24px;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
[class^=CPOpop_] .pop_close2 {
  display: block;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 24px;
  height: 24px;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: 0 0;
  text-indent: -99999px;
}

.CPOpop_full {
  /* Full 팝업 */
  bottom: -100%;
  z-index: 999;
  width: 100%;
  height: calc(100% - 10px);
}
.CPOpop_full.active {
  bottom: 0;
}

.CPOpop_full2 {
  /* Full2 팝업 */
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
}
.CPOpop_full2.active {
  bottom: 0;
}
.CPOpop_full2 .pop_close {
  /* 흰색 닫기 버튼 */
  background-position: 0 0;
}

.CPOpop_side {
  /* 메뉴 */
  right: -200%;
  top: 0;
  width: 280px;
  height: 100%;
  background: #fff;
}
.CPOpop_side .p_wrap {
  padding: 50px 20px 0;
}
.CPOpop_side.active {
  right: 0;
  left: calc(100% - 280px);
}
.CPOpop_side .pop_close {
  /* 흰색 닫기 버튼 */
  background-position: 0 0;
}
.CPOpop_side .user_info {
  padding: 30px 0;
}
.CPOpop_side .user_info .name {
  display: block;
  margin: 0 0 10px;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 26px;
  line-height: 34px;
}
.CPOpop_side .user_info .name strong {
  font-family: "HynSans_Head-B";
  font-size: 26px;
  line-height: 34px;
}
.CPOpop_side .menu ul li.logout {
  padding: 15px;
  border-top: 1px solid #EDEDED;
  text-align: center;
}
.CPOpop_side .menu ul li.sub {
  margin-top: 10px;
}
.CPOpop_side .menu ul li a {
  display: block;
}
.CPOpop_side .menu ul li .dep01 {
  color: #333333;
  font-family: "HynSans_Txt-B";
  font-size: 15px;
  line-height: 40px;
}
.CPOpop_side .menu ul li .dep02 {
  color: #666666;
  padding: 0 5px;
  font-family: "HynSans_Txt-M";
  font-size: 13px;
  line-height: 40px;
  border-top: 1px solid #EDEDED;
}

.CPOpop_modal {
  /* Simple(모달) 팝업 */
  display: none;
  overflow: hidden;
  width: calc(100% - 42px);
  top: 50%;
  transform: translateY(-50%);
}
.CPOpop_modal.active {
  display: block;
}
.CPOpop_modal .btn_area {
  height: 52px;
}

.CPOpop_bottom {
  /* Front(bottom) 팝업 */
  top: auto;
  bottom: -110%;
  width: 100%;
  background: #fff;
}
.CPOpop_bottom.active {
  bottom: 0;
}

.CPOpop_alert {
  /* Alert 팝업 */
  display: none;
  overflow: hidden;
  top: 50%;
  width: calc(100% - 60px);
  transform: translateY(-50%);
  border-radius: 6px;
}
.CPOpop_alert.active {
  display: block;
}
.CPOpop_alert .message {
  background: #fff;
  padding: 40px 30px;
  font-family: "HynSans_Txt-R";
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  word-break: keep-all;
}
.CPOpop_alert .message .txt01 {
  text-align: left;
}
.CPOpop_alert .btn_area {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid #EDEDED;
  border-radius: 0 0 6px 6px;
}
.CPOpop_alert .btn_area ul {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.CPOpop_alert .btn_area ul li {
  display: table-cell;
  position: relative;
}

.CPOpop_toast {
  /* Toast 팝업 */
  top: auto;
  bottom: -80px;
  z-index: 1001;
  width: calc(100% - 42px);
  height: auto;
  padding: 18px 48px;
  background: rgba(51, 51, 51, 0.95);
  transform: translateY(0);
}
.CPOpop_toast .message {
  color: #fff;
  font-family: "HynSans_Txt-M";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}
.CPOpop_toast .text_type01 {
  font-family: "HynSans_Txt-R";
  font-size: 14px;
  line-height: 21px;
}
.CPOpop_toast .text_type01 > span {
  display: block;
}
.CPOpop_toast .text_type01 > span:not(:first-of-type) {
  margin-top: 15px;
}
.CPOpop_toast .text_type01 > span em {
  display: block;
}
.CPOpop_toast .text_type01 .txt {
  color: #DDDDDD;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 17px;
}
.CPOpop_toast .text_type01 .txt i {
  color: #fff;
}

/* //팝업 타입 */
/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
.p_wrap .work_photo,
.p_wrap .work_carimg,
.p_wrap .sale_car02 {
  padding-bottom: 120px;
}

.btn_sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 600;
}
.btn_sticky [class^=btn_action] {
  border-radius: 0 !important;
}
.btn_sticky ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.btn_sticky ul li {
  display: table-cell;
  vertical-align: middle;
}
.btn_sticky ul li.re {
  width: 56px;
}
.btn_sticky ul li.bar {
  position: relative;
}
.btn_sticky ul li.bar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #fff;
  opacity: 0.2;
}

[class^=btn_small] {
  display: inline-block;
  height: 22px;
  padding: 0 10px;
  border-radius: 2px;
  font-family: "HynSans_Txt-R";
  font-size: 11px;
  line-height: 20px;
  text-align: center;
}
[class^=btn_small]:is([class^=btn_small].btn_small01) {
  color: #fff;
  background-color: #002C5F;
}
[class^=btn_small]:is([class^=btn_small].btn_small02) {
  color: #fff;
  background-color: #767676;
}

[class^=btn_middle] {
  display: inline-block;
  height: 32px;
  padding: 0 15px;
  border-radius: 4px;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 30px;
  text-align: center;
}
[class^=btn_middle]:is([class^=btn_middle].btn_middle01) {
  color: #fff;
  background-color: #002C5F;
}
[class^=btn_middle]:is([class^=btn_middle].btn_middle02) {
  color: #fff;
  background-color: #767676;
}
[class^=btn_middle]:is([class^=btn_middle].btn_middle03) {
  color: #9C9C9C;
  background-color: #EDEDED;
}

[class^=btn_action] {
  display: block;
  width: 100%;
  height: 52px;
  padding: 0 15px;
  font-family: "HynSans_Txt-M";
  font-size: 14px;
  line-height: 50px;
  text-align: center;
}
[class^=btn_action]:not(.p_wrap [class^=btn_action]) {
  border-radius: 4px;
}
[class^=btn_action]:is([class^=btn_action].btn_action01) {
  color: #fff;
  background-color: #002C5F;
}
[class^=btn_action]:is([class^=btn_action].btn_action02) {
  color: #fff;
  background-color: #767676;
}
[class^=btn_action]:is([class^=btn_action].btn_action03) {
  color: #fff;
  background-color: #00AAD2;
}

[class^=btn_alert] {
  display: block;
  width: 100%;
  height: 52px;
  padding: 0 10px;
  font-family: "HynSans_Head-M";
  font-size: 15px;
  line-height: 50px;
}
[class^=btn_alert]:is([class^=btn_alert].btn_alert01) {
  color: #fff;
  background-color: #002C5F;
}
[class^=btn_alert]:is([class^=btn_alert].btn_alert02) {
  color: #fff;
  background-color: #767676;
}

.cpo_tooltip {
  position: relative;
  display: inline-block;
  margin: 0 0 2px 5px;
  vertical-align: middle;
}
.cpo_tooltip .open {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  background-image: url("../image/bg_form.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: 0 -53px;
}
.cpo_tooltip.on .cont {
  display: block;
}
.cpo_tooltip .cont {
  display: none;
  position: absolute;
  top: 29px;
  left: 1px;
  z-index: 999;
  width: 240px;
  padding: 20px;
  border: 1px solid #DDDDDD;
  margin-left: -20px;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(51, 51, 51, 0.12);
}
.entry_carbase .cpo_tooltip .cont .swiper-slide .img {
  margin-bottom: 26px;
}
.entry_carbase .cpo_tooltip .cont .swiper-pagination {
  bottom: unset !important;
  top: 110px;
}
.cpo_tooltip .cont .txt {
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
  word-break: keep-all;
}
.cpo_tooltip .cont .img {
  margin-bottom: 10px;
}
.cpo_tooltip .cont .img img {
  width: 100%;
}
.cpo_tooltip .cont .notice01 li {
  position: relative;
  padding: 0 0 10px 8px;
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
  word-break: keep-all;
}
.cpo_tooltip .cont .notice01 li:last-of-type {
  padding-bottom: 0;
}
.cpo_tooltip .cont .notice01 li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 2px;
  height: 2px;
  background: #767676;
}
.cpo_tooltip .cont .close {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 16px;
  height: 16px;
  background-image: url("../image/bg_form.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: 3px -72px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.btn_txt06 {
  position: relative;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.btn_txt06:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333333;
}
.btn_txt06:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  width: 9px;
  height: 13px;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: -60px 0;
}

.btn_txt07 {
  position: relative;
  color: #00AAD2;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
}
.btn_txt07::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #00AAD2;
}

.text_flag {
  display: inline-block;
  padding: 0 7px;
  height: 21px;
  background: #002C5F;
  border: 1px solid #002C5F;
  box-sizing: border-box;
  color: #fff;
  line-height: 19px;
  font-size: 12px;
}
.text_flag.bg02 {
  background: #00AAD2;
  border: 1px solid #00AAD2;
}
.text_flag.bg03 {
  background: #E4DCD3;
  border: 1px solid #E4DCD3;
  color: #333333;
}
.text_flag.bg04 {
  background: #EDEDED;
  border: 1px solid #EDEDED;
  color: #333333;
}
.text_flag.bg05 {
  background: #F7F7F7;
  border: 1px solid #DDDDDD;
  color: #666666;
}
.text_flag.bg06 {
  background: #fff;
  border: 1px solid #DDDDDD;
  color: #666666;
}
.text_flag.large {
  padding: 0 8px;
  height: 24px;
  font-size: 13px;
  line-height: 22px;
}
.text_flag.small {
  padding: 0 5px;
  height: 18px;
  font-size: 11px;
  line-height: 16px;
}

/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

[class^=chk_] {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}
[class^=chk_] + label {
  color: #666666;
}
[class^=chk_]:disabled + label {
  color: #767676;
}

.chk_type01 + label {
  position: relative;
  display: inline-block;
  padding-left: 34px;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 24px;
}
.chk_type01 + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #8F8F8F;
  border-radius: 50%;
  background-image: url("../image/bg_form.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-color: #fff;
  background-position: 0 0;
}
.chk_type01:disabled + label::before {
  background-color: #EDEDED;
}
.chk_type01:checked + label::before {
  border-color: #00AAD2;
  background-color: #00AAD2;
  background-position: -54px 0;
}
.chk_type01:checked:disabled + label::before {
  border-color: #8F8F8F;
  background-color: #8F8F8F;
}

.chk_type02 + label {
  position: relative;
  display: inline-block;
  padding-left: 32px;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 22px;
}
.chk_type02 + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-image: url("../image/bg_form.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: 0 0;
}
.chk_type02:checked + label:before {
  background-position: -27px 0;
}
.chk_type02.small + label {
  padding-left: 25px;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 22px;
}

.chk_block {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}
.chk_block + label {
  display: block;
  padding: 11px 0;
  border: 1px solid #DDDDDD;
  background: #fff;
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.chk_block:checked + label {
  color: #00AAD2;
  border: 1px solid #00AAD2;
}

.ico_delete {
  width: 18px;
  height: 18px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.ico_delete::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url("../image/bg_form.png");
  background-repeat: no-repeat;
  background-size: 200px auto;
  background-position: -81px 0;
}
.focus .ico_delete::before {
  background-position-x: -145px;
}

.srch_box {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 350px;
}
.srch_box .ipt_search {
  position: relative;
  height: 50px;
  padding: 0 75px 0 20px;
  border: 1px solid #EDEDED;
  background: #fff;
  transition: all 0.1s linear;
}
.srch_box .ipt_search .util {
  position: absolute;
  top: 12px;
  right: 17px;
}
.srch_box .ipt_search .util li {
  float: left;
  margin-left: 16px;
}
.srch_box .ipt_search .util li:first-of-type {
  margin-left: 0;
}
.srch_box .ipt_search .ipt_sch {
  width: 100%;
  height: 48px;
  border: 0;
  background: transparent;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 16px;
  line-height: 20px;
}
.srch_box .ipt_search .ic_search {
  display: block;
  width: 24px;
  height: 24px;
  padding-top: 2px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.srch_box .ipt_search .ic_search::before {
  content: "";
  display: block;
  height: 20px;
  margin: 0 auto;
  width: 20px;
  background-image: url("../image/bg_layout.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -51px -27px;
}
.srch_box .ipt_search .ico_delete {
  position: absolute;
  display: block;
  top: 50%;
  right: 50px;
  transform: translateY(-54%);
}

/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* swiper default */
.swiper-wrapper {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  height: 100%;
  transition-property: transform;
}
.swiper-wrapper .swiper-slide img {
  width: 100%;
  height: auto;
}

/* swiper paging */
.swiper-pagination {
  position: absolute;
  bottom: 0 !important;
  left: 50% !important;
  z-index: 2;
  width: auto !important;
  transform: translate(-50%, 0);
}

.swiper-pagination-bullet {
  float: left;
  width: 6px !important;
  height: 6px !important;
  margin-right: 5px;
  border-radius: 6px;
  background-color: #DDDDDD !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet:last-child {
  margin-right: 0;
}

.swiper-pagination-bullet-active {
  width: 18px !important;
  height: 6px !important;
  background-color: #00AAD2 !important;
}

.plp_list {
  margin: 20px 20px 10px;
}
.plp_list > ol > li {
  margin: 0 0 15px;
}

.plp_sorting {
  position: relative;
  margin: 20px 20px 10px;
  /* 인기순 버튼, 목록 유형 버튼 */
}
.plp_sorting .tit {
  color: #333333;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 24px;
}
.plp_sorting .tit .hidden {
  display: none;
}
.plp_sorting .tit em, .plp_sorting .tit i {
  color: #00AAD2;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.plp_sorting > ul {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}
.plp_sorting > ul > li {
  margin-left: 10px;
  position: relative;
  z-index: 4;
}
.plp_sorting > ul > li.on .sorting_layer {
  display: block;
}
.plp_sorting .btn_sort {
  padding: 3px 5px;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.plp_sorting .btn_sort::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 0 2px 5px;
  background-image: url("../image/bg_layout.png");
  background-repeat: no-repeat;
  background-size: 300px auto;
  background-position: -146px -52px;
  vertical-align: middle;
}

/* 상품목록 plp_sorting */
.sorting_layer {
  display: none;
  position: absolute;
  top: 25px;
  right: 0;
  width: 130px;
  padding: 8px 0;
  border: 1px solid #DDDDDD;
  background: #fff;
  box-shadow: 0px 3px 6px rgba(51, 51, 51, 0.12);
}
.sorting_layer ol.plp_sort li {
  border-top: 1px solid #EDEDED;
}
.sorting_layer ol.plp_sort li:first-of-type {
  border-top: 0;
}

.work_list {
  padding: 0 0 60px;
}
.work_list .list {
  width: 100%;
  padding: 0 20px;
}
.work_list .list table {
  table-layout: fixed;
}
.work_list .list table th {
  padding: 10px 0;
  background-color: #F7F7F7;
  border: 1px solid #DDDDDD;
  color: #333333;
  font-family: "HynSans_Txt-M";
  font-size: 13px;
  line-height: 20px;
}
.work_list .list table td {
  padding: 10px 0;
  border: 1px solid #DDDDDD;
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
  text-align: center;
}
.work_list .list table .total td {
  color: #333333;
  font-family: "HynSans_Txt-M";
  font-size: 13px;
  line-height: 20px;
}
.work_list .sorting_day {
  padding: 0 10px;
}
.work_list .sorting_day ul {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.work_list .sorting_day ul li {
  display: table-cell;
}
.work_list .sorting_day ul li button {
  width: 100%;
  border-radius: 0;
  border: 1px solid #fff;
}
.work_list .sorting {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 21px;
  line-height: 32px;
  background-color: #fff;
  border-width: 1px 0;
}
.work_list .sorting .all {
  color: #333333;
}
.work_list .sorting .all i {
  color: #00AAD2;
  font-family: "HynSans_Txt-M";
  font-size: 12px;
  line-height: 20px;
}
.work_list .sorting .calendar .date-picker {
  position: relative;
  width: 100px;
  border: 0;
  color: #333333;
  font-family: "HynSans_Head-M";
  font-size: 12px;
  line-height: 20px;
  background: transparent url("../image/bg_calendar.png") no-repeat right;
  background-size: 20px 20px;
}
.work_list .sorting .calendar > span {
  margin: 0 8px;
}

.login {
  height: 100%;
}
.login .end_txt {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 18px;
}

.login_form {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}
.login_form > .tit {
  margin-bottom: 30px;
  text-align: center;
}
.login_form > .tit h2 {
  color: #000;
  font-family: "HynSans_Head-M";
  font-size: 26px;
  line-height: 32px;
}
.login_form > .tit p {
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 28px;
}
.login_form .form_box > li {
  position: relative;
  border: 1px solid #ddd;
}
.login_form .form_box > li:not(:first-of-type) {
  border-top: 0;
}
.login_form .form_box > li span.tit {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #666;
  font-family: "HynSans_Txt-R";
  font-size: 13px;
  line-height: 20px;
}
.login_form .form_box > li input.txt {
  border: 0;
  width: 100%;
  padding: 0 0 0 90px;
  color: #333;
  font-family: "HynSans_Head-M";
  font-size: 15px;
  line-height: 60px;
}
.login_form .form_box > li .btn_small02 {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.login_form .form_box > li .time {
  display: none;
  position: absolute;
  top: calc(50% + 13px);
  left: 10px;
  transform: translateY(-50%);
  color: #000;
  font-family: "HynSans_Txt-R";
  font-size: 12px;
  line-height: 15px;
}
.login_form .form_box > li.on .tit {
  top: calc(50% - 10px);
}
.login_form .form_box > li.on .time {
  display: block;
}
.login_form .msg {
  display: none;
}
.login_form .msg.error {
  margin: 8px 0 0 0;
  display: block;
  color: #DB0000;
  font-family: "HynSans_Txt-R";
  font-size: 11px;
  line-height: 20px;
}
.login_form .btn {
  margin-top: 30px;
}
.login_form .desc_box {
  color: #666666;
  font-family: "HynSans_Head-R";
  font-size: 13px;
  line-height: 18px;
}
.login_form .desc_box p {
  margin-top: 5px;
}
.login_form .desc_box p:first-child {
  margin-top: 20px;
}

.join_list {
  padding: 30px 20px;
}
.join_list h2.tit {
  margin-bottom: 20px;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 24px;
  line-height: 30px;
  word-break: keep-all;
}
.join_list .btn_arrow {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}
.join_list .btn_arrow:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
}
.join_list > .item {
  position: relative;
  padding: 20px 0 18px;
  border-bottom: 1px solid #EDEDED;
  color: #333333;
  font-family: "HynSans_Txt-B";
  font-size: 16px;
  line-height: 20px;
}
.join_list > .item .btn_arrow.ac:before {
  width: 13px;
  height: 9px;
  background-position: -87px 0;
  transform: translateY(-50%) rotate(0deg);
}
.join_list > .item .btn_arrow.on:before {
  transform: translateY(-50%) rotate(-180deg);
}
.join_list > ul.accordion {
  width: 100%;
  padding: 20px 0;
}
.join_list > ul.accordion.on {
  display: block;
}
.join_list > ul.accordion > li {
  padding: 0 0 20px;
}
.join_list > ul.accordion > li .item {
  position: relative;
  color: #333333;
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 18px;
}
.join_list > ul.accordion > li .item .btn_arrow:before {
  width: 9px;
  height: 13px;
  background-position: -105px 0;
  transform: translateY(-50%) rotate(0);
}
.join_list > ul.accordion > li .item .btn_arrow.ac:before {
  margin-right: 2px;
  transform: translateY(-50%) rotate(90deg);
}
.join_list > ul.accordion > li .item .btn_arrow.on:before {
  transform: translateY(-50%) rotate(-90deg);
}
.join_list > ul.accordion > li .accordion {
  display: none;
  padding: 10px 22px 0 34px;
}
.join_list > ul.accordion > li .accordion.on {
  display: block;
}

.agree_contents {
  height: 400px;
  overflow: hidden;
}

/* 공통 Font 합수 (폰트명 끝부분, font-size, line-height) 
ex) @include Mix_Font('Head-M', 18, 23); */
/* DatePicker Container */
.ui-datepicker {
  display: none;
  width: calc(100% - 42px);
  position: fixed !important;
  z-index: 1000 !important;
  top: 50% !important;
  left: 21px !important;
  height: auto;
  padding: 30px 0;
  background-color: #fff;
  transform: translateY(-50%);
}
.ui-datepicker a {
  text-decoration: none;
}
.ui-datepicker table {
  width: calc(100% - 32px);
  margin: 30px 16px 0;
}
.ui-datepicker thead {
  background-color: #F7F7F7;
}
.ui-datepicker th {
  padding-bottom: 20px;
  background-color: #fff;
  color: #333333;
  font-family: "HynSans_Head-R";
  font-size: 14px;
  line-height: 18px;
}
.ui-datepicker tbody td {
  padding-bottom: 6px;
  text-align: center;
}
.ui-datepicker tbody td:last-child {
  border-right: 0px;
}
.ui-datepicker tbody td span, .ui-datepicker tbody td a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  color: #333333;
  font-family: "HynSans_Head-M";
  font-size: 15px;
  line-height: 35px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-buttonpane {
  height: 52px;
}
.ui-datepicker button.ui-datepicker-current {
  display: none;
}
.ui-datepicker button.ui-datepicker-close {
  width: 100%;
  height: 52px;
  margin-top: 24px;
  color: #fff;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 52px;
  background-color: #002C5F;
}
.ui-datepicker .btnclose,
.ui-datepicker button.ui-datepicker-del {
  display: block;
  position: absolute;
  right: 15px;
  top: 18px;
  width: 24px;
  height: 24px;
  margin: 0;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

.ui-datepicker-header {
  background: #fff;
  color: #333333;
  font-family: "HynSans_Head-M";
  font-size: 18px;
  line-height: 24px;
}

.ui-datepicker-calendar {
  font-family: "HynSans_Txt-R";
  font-size: 15px;
  line-height: 18px;
}
.ui-datepicker-calendar .ui-state-active {
  position: relative;
  margin: -1px;
  background: #002C5F !important;
  color: #fff !important;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
  margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
  margin-right: 0;
}

.ui-datepicker-today span {
  background: #EDEDED !important;
  color: #666666 !important;
  font-family: "HynSans_Head-M" !important;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  background-image: url("../img/arrow.png");
  background-repeat: no-repeat;
  line-height: 600%;
  overflow: hidden;
  cursor: pointer;
}

.ui-datepicker-prev {
  float: left;
  width: 7px;
  height: 12px;
  margin: 6px 0 0 30px;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: -27px -29px;
}

.ui-datepicker-next {
  float: right;
  width: 7px;
  height: 12px;
  margin: 6px 30px 0 0;
  background: url("../image/bg_library.png") no-repeat;
  background-size: 300px 200px;
  background-position: -27px -29px;
  transform: rotate(180deg);
}

.ui-datepicker-unselectable .ui-state-default {
  color: #767676;
  font-family: "HynSans_Head-R";
  font-size: 15px;
  line-height: 35px;
}

button.ui-datepicker-trigger {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 24px;
  height: 24px;
  font-size: 0;
  transform: translateY(-50%);
}

.date_dimm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.7);
}
/*# sourceMappingURL=maps/n_common.css.map */
