
@import '../_common/h_function';
@import '../_common/h_mixins';

button:disabled{
	color:rgba($COL_WHITE, 0.5);
	background-color:$COL_Inactive_Text01 !important;
}
/* sticky 버튼 */
.btn_sticky{
	z-index:600;
	width:100%;
	bottom:0;
	left:0;
	position:fixed;
	ul{
		width:100%;
		display:table;
		table-layout:fixed;
		li{
			display:table-cell;
			vertical-align:middle;
			&.re{
				width:56px;
			}
			&.bar{
				position:relative;
				&::before{
					content:'';
					display:block;
					position:absolute;
					top:0;
					left:0;
					width:1px;
					height:100%;
					background:$COL_WHITE;
					opacity:0.2;
				}
			}
		}
	}
	.order_price{// 결제하기, 남은 결제금액
		width:100%;
		height:60px;
		padding:20px 21px;
		background:$COL_Gray05;
		display:flex;
		justify-content:space-between;
		.tit{
			color:$COL_Text_Base03;
			@include Mix_Font('Head-R', 16, 20);
		}
		.price{
			color:$COL_Text_Base04;
			@include Mix_Font('Head-R', 16, 20);
			em{
				@include Mix_Font('Head-M', 18, 20);
			}
		}
	}
}
[class^="CPOpop_"]{
	.btn_sticky{
		display:none;
	}
	&.active{
		> .p_wrap{
			> .btn_sticky{
				display:flex;
				align-items: center;
			}
		}
	}
}
// **********************************************************
// button BIG - 높이 56 / radius 4
// **********************************************************
[class^="btn_big"]{
	display:block;
	width:100%;
	height:56px;
	padding:0 15px;
	//border-radius:4px;
	@include Mix_Font('Head-R', 16, 56);
}
.btn_big01{ //로그인, 마이페이지(보유차량 & 상세페이지, 나의리뷰 & 등록), 주문하기(장바구니, 비교차량 선택)
	@include Mix_Btn_Bg01;// $COL_Primary01 #002C5F; 
	border:1px solid $COL_Primary01;
}
.btn_big02{ //공통 레이아웃
	@include Mix_Btn_Bg02;// $COL_WHITE #ffffff; 
	border:1px solid $COL_Line_Light01;
}
.btn_big03{ //서비스 해지
	@include Mix_Btn_Bg05;// $COL_Inactive_Text01 #767676; 
	border:1px solid $COL_Inactive_Text01;
}
.btn_big04{
	@include Mix_Btn_Bg06 //Secondary #00AAD2;
}
.btn_sticky{
	[class^="btn_big"]{
		//border-radius:0;
		border:0;
	}
}
[class^="CPOpop_"]{
	.btn_area{
		[class^="btn_big"]{
			border-radius:0;
			border:0;
		}
	}
}

// **********************************************************
// button MIDDLE - 높이 52 / radius 4
// **********************************************************
[class^="btn_modal"],
[class^="btn_alert"]{
	display:block;
	width:100%;
	height:52px;
	padding:0 10px;
	//border-radius:4px;
	@include Mix_Font('Head-R', 15, 48);
}
.btn_modal01{ //로그인 팝업
	@include Mix_Btn_Bg01;// $COL_Primary01 #002C5F; 
	border:1px solid $COL_Primary01;
}
.btn_modal02{ //주문하기 팝업
	@include Mix_Btn_Bg02;// $COL_WHITE #ffffff; 
	border:1px solid $COL_Line_Light01;
}
.btn_modal03{ //공통 레이아웃
	@include Mix_Btn_Bg03;// $COL_Secondary01 #007FA8; 
	border:1px solid $COL_Secondary01;
}
.btn_modal04{ //공통 레이아웃
	@include Mix_Btn_Bg04;// $COL_Inactive_Text01 #767676;
	border:1px solid $COL_Inactive_Text01;
}
[class^="CPOpop"]{
	.btn_area{
		[class^="btn_alert"]{
			//border-radius:0;
			border:0;
		}
	}
}
.btn_alert01{ // alert 확인 
	@include Mix_Btn_Bg02;// $COL_WHITE #ffffff; 
}
.btn_alert02{ // alert 취소
	@include Mix_Btn_Bg02;// $COL_WHITE #ffffff; 
}
// **********************************************************
// button MIDDLE - 높이 48 / radius 4
// **********************************************************
[class^="btn_mid"]{
	display:block;
	width:100%;
	height:48px;
	padding:0 10px;
	//border-radius:4px;
	@include Mix_Font('Head-R', 15, 48);
}
.btn_mid01{ //마이페이지(보유차량, 알림 신청내역), 주문하기(비교차량 선택)
	@include Mix_Btn_Bg01;// $COL_Primary01 #002C5F; 
	border:1px solid $COL_Primary01;
}
.btn_mid02{ //마이페이지(앱알림, 나의리뷰, 나의문의, 알림 신청내역, 관심차량), 주문하기(장바구니,비교차량 선택), 주문(명의정보 등록하기)
	@include Mix_Btn_Bg02;// $COL_WHITE #ffffff; 
	border:1px solid $COL_Line_Dark01;
}
.btn_mid03{ //로그인, 마이페이지(보유차량), 주문하기(장바구니)
	@include Mix_Btn_Bg03;// $COL_Secondary01 #007FA8; 
	border:1px solid $COL_Secondary01;
}
.btn_mid04{
	@include Mix_Btn_Bg04;// $COL_Inactive_Icon01 #959595; 
	border:1px solid $COL_Inactive_Icon01;
}
.btn_mid05{
	@include Mix_Btn_Bg06;// $COL_Blue08 #00A8D2; 
	border:1px solid $COL_Blue08;
	&.add{
		&::before{
			content:'';
			display:inline-block;
			width:12px;
			height:12px;
			margin:0 5px 0 0;
			@include Mix_Display_Bg;
			background-position:-216px -17px;
			vertical-align:middle;
		}
	}
}
[class^="CPOpop"]{
	.btn_area{
		[class^="btn_mid"]{
			//border-radius:0;
			border:0;
		}
	}
}

// **********************************************************
// button SMALL - 높이 42 / radius 4
// **********************************************************
[class^="btn_small"]{
	display:block;
	width:100%;
	height:42px;
	padding:0 10px;
	//border-radius:4px;
	@include Mix_Font('Head-R', 14, 42);
}
.btn_small01{
	@include Mix_Btn_Bg01;// $COL_Primary01 #002C5F; 
	border:1px solid $COL_Primary01; 
}
.btn_small02{ //주문하기(비교하기)
	@include Mix_Btn_Bg02;// $COL_WHITE #ffffff; 
	border:1px solid $COL_Line_Light01;
}
.btn_small03{
	@include Mix_Btn_Bg03;// $COL_Secondary01 #007FA8; 
	border:1px solid $COL_Secondary01;
}
.btn_small04{
	@include Mix_Btn_Bg04;// $COL_Inactive_Icon01 #959595; 
	border:1px solid $COL_Inactive_Icon01;
}
// **********************************************************
// button ICON - 높이 32 / radius 2 / inline-block
// **********************************************************
[class^="btn_icon"]{
	display:inline-block;
	height:32px;
	padding:0 10px;
	//border-radius:4px;
	@include Mix_Font('Head-R', 14, 30);
}
.btn_icon01{ //주문하기(장바구니, 보유차량, 관심차량)
	border:1px solid $COL_Line_Dark01;
	background-color:$COL_WHITE;
	color:$COL_Text_Base03;
}
.btn_icon02{
	border:1px solid $COL_Line_Dark01;
	background-color:$COL_WHITE;
	color:$COL_Inactive_Text01;
}
.btn_icon03{
	border:1px solid $COL_Secondary01;
	background-color:$COL_WHITE;
	color:$COL_Secondary01;
}

// **********************************************************
// button ICON - 높이 30 / radius 15 / inline-block
// **********************************************************
.btn_2icon01{
	border:1px solid $COL_Line_Dark01;
	background-color:$COL_WHITE;
	color:$COL_Text_Base03;
	@include Mix_Btn_Icon_Height30;
}
.btn_2icon02{
	border:1px solid $COL_Line_Dark01;
	background-color:$COL_WHITE;
	color:$COL_Text_Base03;
	@include Mix_Btn_Icon_Height30;
}
.btn_2icon03{
	border:1px solid $COL_Secondary01;
	background-color:$COL_WHITE;
	color:$COL_Secondary01;
	@include Mix_Btn_Icon_Height30;
}
/* 2022.04.27 알림버튼 추후 변경 
[class^="btn_alarm"] {
	@include Mix_Btn_Icon_Height30;
	&::before{
		content:'';
		display:inline-block;
		width:12px;
		height:13px;
		margin:0 6px 2px 0;
		@include Mix_Display_Bg;		
		vertical-align:middle;
	}
}
.btn-alarm01 { // PDP(입고알림), 주문하기(장바구니), 가격변동알림 
	border:1px solid $COL_Line_Dark01;
	background-color:$COL_WHITE;
	color:$COL_Inactive_Text01;
	&.on{
		border:1px solid $COL_Blue03;
		background-color:$COL_WHITE;
		color:$COL_Blue03 !important;
		&::before{
			background-position:-34px 0;
		}
	}
	&::before{
		background-position:-17px 0;
	}
}
.btn-alarm02 { // 전시(판매 준비 차량목록)
	background:rgba($COL_Text_Base04, 0.25);
	border: 1px solid $COL_Inactive_Text01;
	color:$COL_Line_Dark01;
	&.on{
		background:$COL_Secondary01;
		border:1px solid $COL_Secondary01;
		color:$COL_WHITE;
		&::before{
			background-position:-180px -28px;
		}
	}
	&::before{
		background-position:-162px -28px;
	}	
}
*/


.btn_alarm01{ /* PDP(입고알림), 전시(판매 준비 차량목록), 주문하기(장바구니), 가격변동알림 */
	border:1px solid $COL_Line_Dark01;
	background-color:$COL_WHITE;
	color:$COL_Inactive_Text01;
	@include Mix_Btn_Icon_Height30;
	&.on{
		border:1px solid $COL_Blue03;
		background-color:$COL_WHITE;
		color:$COL_Blue03 !important;
		&::before{
			background-position:-34px 0;
		}
	}
	&::before{
		content:'';
		display:inline-block;
		width:12px;
		height:13px;
		margin:0 6px 2px 0;
		@include Mix_Display_Bg;
		background-position:-17px 0;
		vertical-align:middle;
	}
}



// **********************************************************
// 아이콘 버튼
// **********************************************************
.btn_del01{/* 장바구니 삭제버튼 */
	width:13px;
	height:13px;
	@include Mix_Btn_Only_Icon(0 0, 13px, 13px);
}
.btn_del02{/* 전시, 선택 필터 삭제 */
	display:inline-block;
	width:auto;
	margin-right:2px;
	padding:9px 16px 7px;
	border-radius:20px;
	background:$COL_BG_Light01;
	@include Mix_Font('Txt-R', 12, 16);
	word-break:keep-all;
	&::after{
		content:'';
		display:inline-block;
		width:10px;
		height:10px;
		margin:0 0 0 6px;
		@include Mix_Display_Bg;
		background-position:-118px -53px;
		vertical-align:middle;
	}
}
.btn_del03{/* 비교하기 삭제버튼 */
	width:30px;
	height:30px;
	@include Mix_Btn_Only_Icon(-146px 0, 22px, 22px);
}
.btn_del04{/* 카드 삭제 */
	padding:7px 10px;
	border:1px solid $COL_Line_Dark01;
	background:$COL_WHITE;
	@include Mix_Font('Head-R', 13, 16);
	&::before{
		content:'';
		display:inline-block;
		width:10px;
		height:10px;
		margin:0 5px 1px 0;
		@include Mix_Library_Bg;
		background-position:0 -44px;
		vertical-align:middle;
	}
}
.btn_filedel{
	display:block;
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	right:0;
	@include Mix_Form_Bg;
	background-position:-179px -55px;
	@include Mix_Size_0;
	z-index:4;
}

.btn_pin01{/* 고정하기 */
	width:30px;
	height:30px;
	@include Mix_Btn_Only_Icon(-102px 0, 17px, 17px);
}
.btn_refresh{/* 검색 조건 초기화*/
	display:block;
	width:100%;
	height:56px;
	border-top: 1px solid $COL_Line_Dark01;
	@include Mix_Size_0;
	@include Mix_Btn_Bg02;// $COL_Primary01 #002C5F; 
	&::before{
		content:'';
		display:block;
		width:24px;
		height:24px;
		margin:0 auto;
		@include Mix_Display_Bg;
		background-position:-42px -105px;
	}
}
.cpo_tooltip{
	position:relative;
	display:inline-block;
	margin:0 0 2px 5px;
	vertical-align:middle;
	.open{
		display:inline-block;
		width:16px;
		height:16px;
		@include Mix_Size_0;
		@include Mix_Form_Bg;
		background-position:0 -53px;
	}
	&.on{
		.cont{
			display:block;
		}
	}
	.cont{
		display:none;
		position:absolute;
		top:29px;
		left:1px;
		z-index:999;
		width:240px;
		padding:20px;
		border:1px solid $COL_Line_Dark01;
		margin-left:-20px;
		//border-radius:6px;
		background:$COL_WHITE;
		box-shadow:0px 3px 6px rgba($COL_Text_Base04, 0.12);
		.entry_carbase &{// 내차팔기 '외판스크래치 툴팁
			.swiper-slide{
				.img{
					margin-bottom:26px;
				}
			}
			.swiper-pagination{
				bottom:unset !important;
				top:110px;
			}
		}
		.txt{
			color:$COL_Text_Base04;
			@include Mix_Font('Txt-R', 13, 20);
			word-break:keep-all;
		}
		.img{
			margin-bottom:10px;
			img{
				width:100%;
			}
		}
		.notice01{// 안내 문구만 있는 경우
			li{
				position:relative;
				padding:0 0 10px 8px;
				color:$COL_Text_Base04;
				@include Mix_Font('Txt-R', 13, 17);
				word-break:keep-all;
				&:last-of-type{
					padding-bottom:0;
				}
				&::before{
					content:'';
					position:absolute;
					top:5px;
					left:0;
					display:block;
					width:2px;
					height:2px;
					background:$COL_Inactive_Text01;
				}

			}
		}
		.close{
			position:absolute;
			top:4px;
			right:4px;
			width:16px;
			height:16px;
			@include Mix_Form_Bg;
			background-position:3px -72px;
			@include Mix_Size_0;
		}
	}
}

//텍스트 버튼
.btn_txt01{// 최근검색어 '전체삭제' 텍스트 버튼
	color:$COL_Text_Base02;
	@include Mix_Font('Head-R', 12, 16);
	&::after{
		content:'';
		display:block;
		width:100%;
		height:1px;
		margin-top:-2px;
		background:$COL_Text_Base02;
	}
}
.btn_txt02{// 최근검색어 '최근 검색어 텍스트 링크
	display:inline-block;
	position:relative;
	max-width:200px;
	height:34px;
	padding:0 30px 0 16px;
	border:1px solid $COL_Line_Light01;
	border-radius:20px;
	background:$COL_BG_Light01;
	color:$COL_Text_Base03;
	@include Mix_Font('Txt-R', 13, 32);
	@include Mix_Ellipsis01;
	.del{
		overflow:hidden;
		position:absolute;
		top:6px;
		right:8px;
		width:20px;
		height:20px;
		@include Mix_Size_0;
		&:before{
			content:'';
			display:block;
			width:10px;
			height:10px;
			margin:0 auto;
			@include Mix_Display_Bg;
			background-position:-133px -53px;
		}
	}
}
.btn_txt03{// 최근검색어 '최근 검색조건 텍스트 링크
	position:relative;
	display:block;
	padding:20px 35px 20px 20px;
	> span{
		display:block;
		@include Mix_Ellipsis01;
		&.tit{
			color:$COL_Text_Base03;
			@include Mix_Font('Head-R', 14, 18);
		}
		&.txt{
			margin-top:3px;
			color:$COL_Text_Base03;
			@include Mix_Font('Txt-R', 13, 17);
		}
	}
	.del{
		overflow:hidden;
		position:absolute;
		top:16px;
		right:18px;
		width:20px;
		height:20px;
		@include Mix_Size_0;
		&:before{
			content:'';
			display:block;
			width:13px;
			height:13px;
			margin:0 auto;
			@include Mix_Display_Bg;
			background-position:-148px -53px;
		}
	}
}
.btn_txt04{// 마이페이지 관심차량 찜한상품, 최근본상품 장바구니 담기
	position:relative;
	color:$COL_Blue03;
	@include Mix_Font('Head-R', 14, 18);
	&::after{
		content:'';
		display:inline-block;
		width:7px;
		height:12px;
		margin:-1px 0 0 4px;
		@include Mix_Library_Bg;
		background-position:-15px -29px;
		vertical-align:middle;
	}
}
.btn_txt05{// 마이페이지 내차량상세정보 내 '차량상세정보, 검색 최근건색조건 내 '전체보기
		display:block;
		width:100%;
		padding:15px 0 10px;
		color:$COL_Text_Base02;
		@include Mix_Font('Head-R', 14, 18);
		text-align:center;
		&::after{
			content:'';
			display:inline-block;
			width:13px;
			height:8px;
			margin-left:4px;
			@include Mix_Library_Bg;
			background-position:-29px 0;
		}
		&.on{
			//margin-top:31px;
			//border-top:1px solid $COL_Line_Light01;
			&::after{
				transform:rotate(180deg);
			}
		}
}
.btn_txt06{// 명의정보 설정 '이전등록비 감면신청 필요서류 안내'
	position:relative;
	color:$COL_Text_Base04;
	@include Mix_Font('Head-R', 14, 18);
	&:before{
		content:'';
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:1px;
		background:$COL_Text_Base04;
	}
	&:after{
		content:'';
		display:block;
		position:absolute;
		bottom:4px;
		right:-11px;
		width:9px;
		height:13px;
		@include Mix_Library_Bg;
		background-position:-60px 0;
	}
}
.btn_txt06_2{// 
	position:relative;
	color:$COL_Text_Base04;
	@include Mix_Font('Head-R', 14, 18);
	&:before{
		content:'';
		display:inline-block;
		width:13px;
		height:10px;
		margin:0 3px 1px 0;
		@include Mix_Library_Bg;
		background-position:-178.5px 0;
		vertical-align:middle;
	}
}
.btn_txt07{ //FO-MY-MS0054 현금영수증 승인전표 국세청 링크 버튼
	position:relative;
	color:$COL_Blue03;
	&::after{
		content:'';
		display:block;
		position:absolute;left:0;bottom:0;
		width:100%;height:1px;
		background:$COL_Blue03;
	}
}
.btn_txt08{// 내차팔기 '차량정보 더보기
	position:relative;
	color:$COL_WHITE;
	@include Mix_Font('Head-R', 14, 18);
	&:before{
		content:'';
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:1px;
		background:$COL_WHITE;
	}
	&:after{
		content:'';
		display:block;
		position:absolute;
		bottom:2px;
		right:-11px;
		width:9px;
		height:13px;
		@include Mix_Library_Bg;
		background-position:-73.5px 0;
	}

}
.btn_txt09{// 내차팔기 '다른차량 견적받기
	position:relative;
	color:$COL_Text_Base02;
	@include Mix_Font('Head-R', 15, 18);
	&:before{
		content:'';
		display:block;
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		height:1px;
		background:$COL_Text_Base02;
	}

}
// arrow 더보기 아이콘만 
.btn_show01{// 주문하기, 결제금액, 주문약관 '펼쳐보기
	display:block;
	width:24px;
	height:24px;
	overflow:hidden;
	@include Mix_Size_0;
	&::before{
		content:'';
		display:block;margin:0 0 0 10px;
		width:13px;
		height:9px;
		@include Mix_Library_Bg;
		background-position:-87px 0;
		transform: rotate(0deg);
	}
	&.on {
		&:before {
			transform: rotate(180deg);
		}
	}
}
.btn_show02{// 주문하기, '약관 자세히 보기'
	display:block;
	width:24px;
	height:24px;
	overflow:hidden;
	@include Mix_Size_0;
	&::before{
		content:'';
		display:block;margin:0 0 0 13px;
		width:8px;
		height:13px;
		@include Mix_Library_Bg;
		background-position:-105px 0;
	}
}

.btn_ok01{// 내차팔기 번호판 입력 후, 확인 버튼
	display:inline-block;
	width:38px;
	height:38px;
	overflow:hidden;
	@include Mix_Size_0;
	@include Mix_Form_Bg;
	background-position:-35px -90px;
}
.btn_reset01{// 내차팔기 초기화 버튼
	color:$COL_Text_Base04;
	@include Mix_Font('Head-R', 14, 18);
	&::before{
		content:'';
		display:inline-block;
		width:14px;
		height:14px;
		@include Mix_Form_Bg;
		background-position:-40px -131px;
		vertical-align:middle;
		margin:0 2px 2px 0;
	}
	&::after{
		content:'';
		display:block;
		position:absolute;
		bottom:0;
		right:0;
		width:calc(100% - 18px);
		height:1px;
		background:COL_Text_Base04;
	}

}

//더보기
.more_view {
	.btn_more{
		position: relative;
		display: block;
		width: 100%;
		color: $COL_Text_Base02;
		@include Mix_Font('Head-R', 14, 18);
		text-align: center;
		&:after {
			display: inline-block;
			content: '';
			width: 7px;
			height: 7px;
			margin: 3px 5px;
			border-top: 1px solid #666;
			border-right: 1px solid #666; 
			transform: rotate(135deg);
			vertical-align: top;
		}
	}
	&.on{
		.btn_more{
			&:after {
				transition: all .3s ease-in;
				transform: rotate(315deg);
				opacity: 1;
				vertical-align: bottom;
			}
		}
	}
}

// 2차 CSS 임시용
.toggle {
	//더보기
	.btn_more{  
		position: relative;
		display: block;
		width: 100%;
		color: $COL_Gray07;
		@include Mix_Font('Head-R', 14, 18);
		text-align: center;
		&:after {
			display: inline-block;
			content: '';
			width: 7px;
			height: 7px;
			margin: 3px 5px;
			border-top: 1px solid #666;
			border-right: 1px solid #666; 
			transition: all .3s ease-in;
			transform: rotate(135deg);
			vertical-align: top;
		}
	}
	&.on{
		.btn_more{
			&:after {
				transform: rotate(-45deg);
				opacity: 1;
				margin-top: 5px;
			}
		}
	}

	// 아코디언 아닌 토글 
	.tit_btn {
		position:relative;
		&::after {
			content:'';
			position:absolute;
			top:50%;
			right:8px;
			width: 7px;
			height: 7px;
			border-top: 1px solid #666;
			border-right: 1px solid #666; 
			transition: all .3s ease-in;
			transform: rotate(135deg) translateX(-50%);
		}
	}
	.on {
		.tit_btn {
			&:after {
				transform: rotate(-45deg);
				opacity: 1;
			}
		}
	}
}