// 비교하기
//	order.css
//	mypage.css
//

@import '../_common/h_function';
@import '../_common/h_mixins';

.lyer_compare{
	display:flex;
	flex-wrap:nowrap;
	position:relative;
	width:100%;
	background:transparent url('../img/bg_repeat_02.png?ver=1') repeat-y;
	
	&::after{// 좌측 투명 레이어
		content:'';
		display:block;
		position:absolute;
		top:0;
		right:0;
		z-index:999;
		width:calc(100% - 344px);
		height:100%;
		background:linear-gradient(to right, rgba($COL_WHITE,0.5),rgba($COL_WHITE,0.8));
	}
	ol.list{// 비교차량 list 
		display:flex;
		flex-wrap:nowrap;
		overflow-x:auto;
		overflow-y:hidden;
		width:100%;
		padding-left:172px;
		padding-right:30px;
		li.slide {//비교차량 li
			display:flex;
			flex:0 0 162px;
			width:162px;
			padding-left:10px;
			&.target{
				&.fixed{
					.inner{
						&::after{
							content:'';
							display:block;
							width:100vw;
							height:20px;
							position:absolute;
							bottom:-20px;
							left:0;
							z-index:1001;
							margin-left:-10px;
							background:transparent url('../img/bg_repeat_01.png?ver=1') repeat-x;
							background-size:auto 20px;
						}
					}
				}
			}
			&.target{// 비교차량 선택 된 값(좌측 고정)
				position:absolute;
				top:0;
				left:0;
				z-index:1001;
				width:172px;
				background:$COL_BG_Light01;
				.unit_compare{// 비교차량 정보 
					> .top{// 비교차량 상단 이미지
						z-index:999;
						.btn_pin01{
							@include Mix_Btn_Only_Icon(-123px 0, 17px, 17px);
						}
						.inner{
							background:$COL_BG_Light01 !important;
						}
					}
				}
			}
			&.fixed{// 비교차량 스크롤 시 top 고정 시 style
				.unit_compare{
					> .top{
						height:auto;
						.inner{
							height:auto;
						}
						.btn_small02{
							display:none;
						}
						.btn_addcar{
							height:calc(100% - 50px);
						}
					}
				}
			}
		}
	}
}

.unit_compare{// 비교차량 정보 style
	position:relative;
	padding-top:300px;
	z-index:901;
	width:152px;
	> .top{// 비교차량 상단 이미지
		height:300px;
		position:absolute;
		top:0;
		left:0;
		z-index:900;
		width:100%;
		.inner{
			height:300px;
			padding:47px 0 15px;
			background:$COL_WHITE;
			.btn_addcar{// 비교차량 등록 추가 버튼
				display:block;
				position:absolute;
				top:15px;
				left:10px;
				width:calc(100% - 20px);
				height:calc(100% - 16px);
				color:$COL_Text_Base02;
				@include Mix_Font('Txt-R', 14, 21);
				//border-radius:4px;
				border:1px dashed $COL_Line_Dark01;
				&::before{
					content:'';
					display:block;
					width:22px;
					height:22px;
					margin:0 auto 20px;
					@include Mix_Display_Bg;
					background-position:-189px 0;
				}
			}
			.btn_pin01{
				position:absolute;
				top:11px;
				left:-5px;
			}
			.btn_del03{
				position:absolute;
				top:10px;
				right:-5px;
			}
			h5.tit{
				margin-bottom:10px;
				color:$COL_Text_Base04;
				@include Mix_Font('Head-R', 15, 19);
				@include Mix_Ellipsis(2);
			}
			.btn_small02{
				margin-top:12px;
			}
			.img{/* 썸네일 이미지 */
				overflow:hidden;
				position:relative;
				z-index:3;
				height:0;
				padding-bottom:100%;
				img{
					display:block;
					position:absolute;
					top:50%;
					left:50%;
					z-index:3;
					width:100%;
					height:auto !important;
					transform:translate(-50%, -50%);
				}
				&.noimg{
					border:1px solid $COL_Line_Light01;
					img{
						width:300px;
						height:300px;
					}
				}
			}
		}
	}
	> .cont{// 비교차량 하단 차량 정보
		padding:50px 5px 0;
		.info_box01{// B. info - 차량 기본 정보
			li{
				margin-top:20px;
				&:first-of-type{
					margin-top:0;
				}
				&.monthly{
					height:68px;
				}
				> span{
					display:block;
				}
				.tit_01{/* 가격 단위 */
					color:$COL_Text_Base04;
					em{
						@include Mix_Font('Head-M', 22, 28);
						vertical-align:middle;
					}
					i{
						@include Mix_Font('Txt-R', 18, 28);
						vertical-align:middle;
					}
				}
				.tit_02{ 
					color:$COL_Text_Base04;
					@include Mix_Font('Txt-M', 16, 24);
					vertical-align:middle;
				}
				.txt_01{
					color:$COL_Text_Base02;
					@include Mix_Font('Txt-R', 13, 20 );
				}
				.txt_02{
					margin-top: -3px;
					color:$COL_Text_Base02;
					@include Mix_Font('Txt-R', 16, 68);//monthly
				}
			}
		}
		.info_box02{// B. info - 성능점검, 보험이력
			margin-top:70px;
			h6.tit{
				padding-bottom:10px;
				border-bottom:1px solid $COL_Line_Dark01;
				color:$COL_Text_Base04;
				@include Mix_Font('Head-M', 18, 23);
				> em{
					display:inline-block;
					margin:0 0 1px 5px;
					padding:0 5px;
					border-radius:10px;
					background:$COL_Secondary01;
					color:$COL_WHITE;
					@include Mix_Font('Head-M', 12, 18);
					vertical-align:middle;
				}
			}
			&:last-child {
				h6.tit {
					border-bottom: none;
				}
			}
			dl{
				display:flex;
				flex-flow:row;
				flex-wrap:wrap;
				row-gap:7px;
				margin-top:15px;
				dt{
					flex:0 0 40%;
					color:$COL_Text_Base02;
					@include Mix_Font('Txt-R', 14, 21);
				}
				dd{
					flex:0 0 60%;
					color:$COL_Text_Base04;
					@include Mix_Font('Txt-R', 14, 21);
					text-align:right;
					em{
						@include Mix_Font_Txt_M;
					}
				}
			}// dl
			ol.option_01{// B. info - 옵션정보
				display:flex;
				flex-flow:row wrap;
				column-gap:5px;
				row-gap:25px;
				margin-top:30px;
				li{
					flex:0 calc((100% - 5px)/2);
					text-align:center;
				}
			}/* 옵션 */
		}
	}
}