// 구매관리
// 1. 현금영수증 승인전표
// 2. 신용카드 매출전표
// 3. 거래명세표
// 4. 이전서류등록
// order.css
//

.order_receipt{
	background:$COL_BG_Light01;
	/* FO-MY-MS0054 현금영수증 승인전표 FO-MY-MS0056 신용카드 매출전표 FO-MY-MS0057 거래명세표 */
	.list_receipt{
		padding:30px 15px 40px;
		border-bottom:1px solid rgba($COL_Line_Light01, 0.5);
		background:$COL_WHITE;
		li{
			&:not(:first-of-type){
				padding-top:40px;
			}
			.tit{
				margin:0 0 15px 6px;
				@include Mix_Font('Head-M', 18, 22);
			}
			.tit2{
				display:inline-block;
				width:100%;
				margin:9px 0 16px 6px;
				@include Mix_Font('Head-M', 16, 20);
			}
		}
		.table_receipt{
			th{
				color:$COL_Text_Base04;
				@include Mix_Font('Txt-R', 14, 21);
			}
			td{
				color:$COL_Text_Base03;
				@include Mix_Font('Txt-R', 13, 21);
			}
		}
	}
	
	.notice_02{
		margin-top:8px;
		padding:32px 21px 49px;
		border-top:1px solid rgba($COL_Line_Light01, 0.5);
		background:$COL_WHITE;
		li{
			margin-bottom:10px;
		}
	}
	/* //FO-MY-MS0054 현금영수증 승인전표 FO-MY-MS0056 신용카드 매출전표 FO-MY-MS0057 거래명세표 */
	/* FO-MY-MS0059 이전서류등록 */
	.head{
		margin-bottom:8px;padding:29px 21px 31px;
		border-bottom:1px solid rgba($COL_Line_Light01, 0.5);
		background:$COL_WHITE;
		.tit{
			@include Mix_Font('Head-R', 26, 34);
		}
		.txt{
			margin-top:14px;
			color:$COL_Text_Base03;
			@include Mix_Font('Txt-R', 15, 18);
		}
		span{
			display:block;
			position:relative;
			margin-top:14px;padding-left:8px;
			color:$COL_Inactive_Text01;
			@include Mix_Font('Txt-R', 13, 17);
			&::before{
				content:'';
				display:inline-block;
				position:absolute;
				top:7px;
				left:0;
				width:2px;
				height:2px;
				background:$COL_Inactive_Text01;
			}
		}
	}
	.cont{
		padding:30px 15px 60px;
		border-top:1px solid rgba($COL_Line_Light01, 0.5);
		background:$COL_WHITE;
	}
	/* //FO-MY-MS0059 이전서류등록 */
}

.cont_doc{
	&:not(:first-of-type){
		margin-top:40px;
	}
	.tit{
		margin:0 0 14px 6px;
		@include Mix_Font('Head-M', 18, 24);
	}
	li{
		padding:25px 20px;
		background:$COL_BG_Light01;
		box-shadow:0px 0px 5px rgba($COL_Text_Base04, 0.015);
		&:not(:last-of-type){
			margin-bottom:15px;
		}
		&.on{
			padding:21px 20px 31px;
			.complete{
				display:flex;
			}
		}
		> div{
			display:flex;justify-content:space-between;align-items:center;
		}
		.upload{
			span{
				@include Mix_Font('Txt-M', 16, 20);
			}
		}
		.complete{
			display:none;
			margin-top:11px;padding-top:17px;
			border-top:1px solid $COL_Line_Dark01;
			span.img{
				display:none;
			}
			span.txt{
				flex:0 0 calc(100% - 30px);
				width:calc(100% - 30px);
				padding-right:5px;
				@include Mix_Ellipsis01;
				&::before{
					content:'';
					display:inline-block;
					width:15px;height:15px;
					margin-right:5px;vertical-align:-3px;
					@include Mix_Order_Bg(-115px -35px);
				}
			}
			.btn_txt01{
				margin-top:-3px;
				@include Mix_Font('Txt-R', 14, 18);
			}
		}
	}
}

.cont_doc2{ //FO-MY-MS0071 프로모션 상세
	&:not(:first-of-type){
		margin-top:40px;
	}
	.tit{
		@include Mix_Font('Head-M', 16, 24);
	}
	li{
		padding:25px 20px;
		background:$COL_BG_Light01;
		box-shadow:0px 0px 5px rgba($COL_Text_Base04, 0.015);
		&:not(:last-of-type){
			margin-bottom:15px;
		}
		&.on{
			.complete{
				display:flex;
				flex-direction:column;
			}
		}
		> div{
			display:flex;justify-content:space-between;align-items:center;
		}
		.upload{
			span{
				@include Mix_Font('Txt-M', 16, 20);
			}
		}
		.complete{
			display:none;
			margin-top:15px;padding-top:15px;
			border-top:1px solid $COL_Line_Dark01;
			li{
				display:flex;
				align-items:center;
				width:100%;
				padding:0;
			}
			span.txt{
				flex:1;
				padding-right:5px;
				@include Mix_Ellipsis01;
				color:$COL_Text_Base03;
				&::before{
					content:'';
					display:inline-block;
					width:15px;height:15px;
					margin-right:5px;vertical-align:-3px;
					@include Mix_Order_Bg(-115px -35px);
				}
			}
			.btn_txt01{
				margin-top:-3px;
				@include Mix_Font('Txt-R', 14, 18);
			}
		}
	}
}

.ipt_doc{ //FO-MY-MS0059 이전서류등록 등록하기 버튼
	position:absolute;left:-99999px;
	overflow:hidden;
	width:0;height:0;
    padding:0;
    border:0;
	+ label{
		display:inline-block;vertical-align:middle;
		width:78px;height:34px;
		border:1px solid $COL_Line_Dark01;
		background:$COL_WHITE;
		color:$COL_Text_Base03;
		@include Mix_Font('Head-R', 14, 32);
		text-align:center;
	}
	&:disabled + label{
		width:auto;height:auto;
		border:none;
		background:transparent;
		&::before{
			content:'';
			display:inline-block;
			width:12px;height:10px;
			margin-right:4px;
			@include Mix_Order_Bg(-98px -34px);
		}
	}
}

.ipt_doc2{ //FO-MY-MS0071 프로모션 상세
	position:absolute;left:-99999px;
	overflow:hidden;
	width:0;height:0;
    padding:0;
    border:0;
	+ label{
		display:inline-block;vertical-align:middle;
		width:78px;height:34px;
		border:1px solid $COL_Line_Dark01;
		background:$COL_WHITE;
		color:$COL_Inactive_Text01;
		@include Mix_Font('Head-R', 14, 32);
		text-align:center;
	}
	&:disabled + label{
		width:auto;height:auto;
		border:none;
		background:transparent;
		&::before{
			content:'';
			display:inline-block;
			width:12px;height:10px;
			margin-right:4px;
			@include Mix_Order_Bg(-98px -34px);
		}
	}
}