
@import '../_common/h_function';
@import '../_common/h_mixins';


// 내차팔리 form 태그 모음
.file_addphoto[type="file"]{//(1). 필수 등록 사진
	opacity:0;
	position:absolute;
	width:1px;
	height:1px;
	overflow:hidden;
}