@charset "utf-8";
/************************************/
/*	Name: OliveYoung Back Office	*/
/*	PART: COMMON STYLE     	        */
/*	Version: 1.0                    */
/*	Author: [Bang]       */
/************************************/
/* css upload test */


/* filter */
html,body {width:100%;}

:lang(zh-cn) {font-family: 'HyundaiSansTextCN', 'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif;}
:lang(zh) {font-family:'HyundaiSansTextCN', 'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif;}	
:lang(EN) {font-family:'HyundaiSansTextCN', 'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif;}

html {
    font-family: 'HyundaiSansTextCN', 'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* basis Selector */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button {margin:0;padding:0;}

body, input, textarea, table, button,select,th,td,li,dt,dd {color:#666;font-size:12px;font-family:'HyundaiSansTextCN','Malgun Gothic', 'Roboto', dotum, sans-serif;line-height:18px;}	
/* body, p, h1, h2, h3, h4, h5, h6, input, textarea, table, button,select,th,td,li,dt,dd,span
						:lang(zh) {font-family:'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif;}	 */
legend {overflow:hidden; visibility:hidden; font-size:0; line-height:0;} /* For Screen Reader */
img, fieldset, button {border:0;}
ul, ol {list-style:none;}
em, address {font-style:normal;}
hr {display:none !important; visibility:hidden;}
caption  {display:none;}
label {cursor:pointer;}
a{color:#13519e; text-decoration:none;}
a:hover{color:#13519e; text-decoration:underline;}
img, input, select{vertical-align:middle;}
input::-ms-clear {
    display: none;
}
td{word-break: break-all;}

input[type="checkbox"]{vertical-align:middle;margin:0 2px 2px 0}
input[type="radio"]{vertical-align:middle;margin:0 2px 2px 0}



.csContainer #snb{display:none;}
.csContainer #contArea{margin-left:0;}
/****************************/
/* Common Style             */
/****************************/
.t_en {font-family:Tahoma, Dotum !important;}
.t_ko {font-family:Dotum, Tahoma !important;}
.hands {cursor:pointer !important;}
.no_space {font-size:0; line-height:0;}
.no_bg {background-image:none;}

.fixed {table-layout:fixed;} /* table사이즈를 고정 */
.txt_break {word-break:break-all !important;word-wrap:break-word !important;} /* td 안에 텍스트 줄바꿈을 시켜줍니다 */
.txt_nowrap {white-space:nowrap;} /* 줄바꿈 없음 */
.ls_m01 {letter-spacing:-1px;} /* Letter spacing */

/* Layer Selector */
.floatL {float:left !important;}
.floatR {float:right !important;}
.d_inline {display:inline !important;}
.d_block {display:block !important;}
.d_none {display:none !important;}
.v_hidden {visibility:hidden;}
.col00{color:#000}
.txtline{text-decoration:underline}
/* clear class */
.clear {clear:both !important;}
.clearL {clear:left !important;}
.clfix:after{content:''; display:block;clear:both;}
.clfix {display:inline-block;}
.clfix {display:block;}
.clfix {zoom:1;} /*for ie 5.5-7*/

/* Scroll Selector */
.ovfX {overflow-x:scroll !important;}
.ovfY {overflow-y:scroll !important;}
.ovfA {overflow:auto !important;}
.ovf {overflow:scroll !important;}
.ovfH {overflow:hidden !important;}
.ovfH_x {overflow-x:hidden !important;}
.ovfH_y {overflow-y:hidden !important;}

/* ALIGN */
.alC {text-align:center !important;}
.alL {text-align:left !important;}
.alR {text-align:right !important;}
.alJ {text-align:justify !important;}

.vaT {vertical-align:top !important;}
.vaM {vertical-align:middle !important;}
.vaB {vertical-align:bottom !important;}

/* border */
.borT00	{border-top:0px #FFFFFF solid !important;}
.borR00	{border-right:0px #FFFFFF solid !important;}
.borB00	{border-bottom:0px #FFFFFF solid !important;}
.borL00	{border-left:0px #FFFFFF solid !important;}
.borA00	{border:1px #FFFFFF solid !important;}
.borA01	{border:1px #CCCCCC solid !important;}
.borA02	{border:1px #EEEEEE solid !important;}
.borA03	{border:1px #E4E4E4 solid !important;}
.borA04	{border:1px #D6D6D6 solid !important;}

.borT01	{border-top:1px #CCCCCC solid !important;}
.borR01	{border-right:1px #CCCCCC solid !important;}
.borB01	{border-bottom:1px #CCCCCC solid !important;}
.borL01	{border-left:1px #CCCCCC solid !important;}

.borT02	{border-top:1px #EEEEEE solid !important;}
.borR02	{border-right:1px #EEEEEE solid !important;}
.borB02	{border-bottom:1px #EEEEEE solid !important;}
.borL02	{border-left:1px #EEEEEE solid !important;}

.borT03	{border-top:1px #E4E4E4 solid !important;}
.borR03	{border-right:1px #E4E4E4 solid !important;}
.borB03	{border-bottom:1px #E4E4E4 solid !important;}
.borL03	{border-left:1px #E4E4E4 solid !important;}

.borT04	{border-top:1px #D6D6D6 solid !important;}
.borT04	{border-right:1px #D6D6D6 solid !important;}
.borT04	{border-bottom:1px #D6D6D6 solid !important;}
.borT04 {border-left:1px #D6D6D6 solid !important;}

.borAn {border:none !important;}
.borTn {border-top:none !important;}
.borRn {border-right:none !important;}
.borBn {border-bottom:none !important;}
.borLn {border-left:none !important;}

/* font-size */
.fs0 {font-size:0 !important;}
.fs10 {font-size:10px !important;}
.fs11 {font-size:11px !important;}
.fs12 {font-size:12px !important;}
.fs14 {font-size:14px !important;}
.fs16 {font-size:16px !important;}
.fs18 {font-size:18px !important;}
.fs30 {font-size:30px !important;}

/* mobile font-size */
.mfs0 {font-size:0 !important;}
.mfs10 {font-size:.83em !important;}
.mfs11 {font-size:.92em !important;}
.mfs12 {font-size:1em !important;}
.mfs14 {font-size:1.17em !important;}
.mfs16 {font-size:1.33em !important;}
.mfs18 {font-size:1.50em !important;}

/* Text Style & Color */
.tdotum {font-family:"dotum";}
.tdotum :lang(zh) {font-family:'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', 'dotum', sans-serif}
.ttahoma {font-family:"tahoma";} 
.ttahoma :lang(zh) {font-family:'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', 'dotum', sans-serif}
.tb {font-weight:bold !important;}
.tn {font-weight:normal !important;}
.t_lt {text-decoration:line-through !important;}
.t_ul {text-decoration:underline !important;}

/* pointBl-blue, pointOr-orange, pointRe-red, pointGn-green, pointGy-gray, pointBk-black, pointWh-white */
.pointBl {color:#369ae0 !important;}
.pointOr {color:#c46f05 !important;}
.pointRe {color:#df0000 !important;}
.pointGn {color:#008000 !important;}
.pointYw {color:#ffc62f !important;}
.pointGy01 {color:#eee !important;}
.pointGy02 {color:#bfbebe !important;}
.pointGy03 {color:#8e8e8e !important;}
.pointBk {color:#000 !important;}
.pointWh {color:#fff !important;}
.pointPK {color:#D897EF !important;}
.pointPK02 {color:#D72A62 !important;}

/* padding */
/* 왼쪽 */
.padL00 {padding-left:0px !important;}
.padL01 {padding-left:1px !important;}
.padL02 {padding-left:2px !important;}
.padL03 {padding-left:3px !important;}
.padL04 {padding-left:4px !important;}
.padL05 {padding-left:5px !important;}
.padL06 {padding-left:6px !important;}
.padL07 {padding-left:7px !important;}
.padL08 {padding-left:8px !important;}
.padL09 {padding-left:9px !important;}
.padL10 {padding-left:10px !important;}
.padL15 {padding-left:15px !important;}
.padL20 {padding-left:20px !important;}
.padL25 {padding-left:25px !important;}
.padL30 {padding-left:30px !important;}
.padL35 {padding-left:35px !important;}
.padL40 {padding-left:40px !important;}
.padL45 {padding-left:45px !important;}
.padL50 {padding-left:50px !important;}
.padL55 {padding-left:55px !important;}
.padL60 {padding-left:60px !important;}

/* 오른쪽 */
.padR00 {padding-right:0px !important;}
.padR01 {padding-right:1px !important;}
.padR02 {padding-right:2px !important;}
.padR03 {padding-right:3px !important;}
.padR04 {padding-right:4px !important;}
.padR05 {padding-right:5px !important;}
.padR06 {padding-right:6px !important;}
.padR07 {padding-right:7px !important;}
.padR08 {padding-right:8px !important;}
.padR09 {padding-right:9px !important;}
.padR10 {padding-right:10px !important;}
.padR15 {padding-right:15px !important;}
.padR20 {padding-right:20px !important;}
.padR25 {padding-right:25px !important;}
.padR30 {padding-right:30px !important;}
.padR35 {padding-right:35px !important;}
.padR40 {padding-right:40px !important;}
.padR45 {padding-right:45px !important;}
.padR50 {padding-right:50px !important;}
.padR55 {padding-right:55px !important;}
.padR60 {padding-right:60px !important;}

/* 위 */
.padT00 {padding-top:0px !important;}
.padT01 {padding-top:1px !important;}
.padT02 {padding-top:2px !important;}
.padT03 {padding-top:3px !important;}
.padT04 {padding-top:4px !important;}
.padT05 {padding-top:5px !important;}
.padT06 {padding-top:6px !important;}
.padT07 {padding-top:7px !important ;}
.padT08 {padding-top:8px !important;}
.padT09 {padding-top:9px !important;}
.padT10 {padding-top:10px !important;}
.padT15 {padding-top:15px !important;}
.padT20 {padding-top:20px !important;}
.padT25 {padding-top:25px !important;}
.padT30 {padding-top:30px !important;}
.padT35 {padding-top:35px !important;}
.padT40 {padding-top:40px !important;}
.padT45 {padding-top:45px !important;}
.padT50 {padding-top:50px !important;}
.padT55 {padding-top:55px !important;}
.padT60 {padding-top:60px !important;}

/* 아래 */
.padB00 {padding-bottom:0px !important;}
.padB01 {padding-bottom:1px !important;}
.padB02 {padding-bottom:2px !important;}
.padB03 {padding-bottom:3px !important;}
.padB04 {padding-bottom:4px !important;}
.padB05 {padding-bottom:5px !important;}
.padB06 {padding-bottom:6px !important;}
.padB07 {padding-bottom:7px !important;}
.padB08 {padding-bottom:8px !important;}
.padB09 {padding-bottom:9px !important;}
.padB10 {padding-bottom:10px !important;}
.padB15 {padding-bottom:15px !important;}
.padB20 {padding-bottom:20px !important;}
.padB25 {padding-bottom:25px !important;}
.padB30 {padding-bottom:30px !important;}
.padB35 {padding-bottom:35px !important;}
.padB40 {padding-bottom:40px !important;}
.padB45 {padding-bottom:45px !important;}
.padB50 {padding-bottom:50px !important;}
.padB55 {padding-bottom:55px !important;}
.padB60 {padding-bottom:60px !important;}

/* 전체 */
.pad00 {padding:0px !important;}
.pad01 {padding:1px !important;}
.pad02 {padding:2px !important;}
.pad03 {padding:3px !important;}
.pad04 {padding:4px !important;}
.pad05 {padding:5px !important;}
.pad10 {padding:10px !important;}
.pad15 {padding:15px !important;}
.pad20 {padding:20px !important;}
.pad25 {padding:25px !important;}
.pad30 {padding:30px !important;}
.pad35 {padding:35px !important;}
.pad40 {padding:40px !important;}
.pad45 {padding:45px !important;}
.pad50 {padding:50px !important;}
.pad55 {padding:55px !important;}
.pad60 {padding:60px !important;}

/* margin */
/* 왼쪽 */
.marL00 {margin-left:0px !important;}
.marL01 {margin-left:1px !important;}
.marL02 {margin-left:2px !important;}
.marL03 {margin-left:3px !important;}
.marL04 {margin-left:4px !important;}
.marL05 {margin-left:5px !important;}
.marL06 {margin-left:6px !important;}
.marL07 {margin-left:7px !important;}
.marL08 {margin-left:8px !important;}
.marL09 {margin-left:9px !important;}
.marL10 {margin-left:10px !important;}
.marL12 {margin-left:12px !important;}
.marL13 {margin-left:13px !important;}
.marL14 {margin-left:14px !important;}
.marL15 {margin-left:15px !important;}
.marL20 {margin-left:20px !important;}
.marL22 {margin-left:22px !important;}
.marL25 {margin-left:25px !important;}
.marL30 {margin-left:30px !important;}
.marL35 {margin-left:35px !important;}
.marL40 {margin-left:40px !important;}
.marL45 {margin-left:45px !important;}
.marL50 {margin-left:50px !important;}
.marL55 {margin-left:55px !important;}
.marL60 {margin-left:60px !important;}
.marL65 {margin-left:65px !important;}
.marL82 {margin-left:82px !important;}
.marL86 {margin-left:86px !important;}
.marL110 {margin-left:110px !important;}
.marL120{margin-left:120px !important;}
.marL01p {margin-left:1% !important;}
.marL02p {margin-left:2% !important;}


/* 오른쪽 */
.marR00 {margin-right:0px !important;}
.marR01 {margin-right:1px !important;}
.marR02 {margin-right:2px !important;}
.marR03 {margin-right:3px !important;}
.marR04 {margin-right:4px !important;}
.marR05 {margin-right:5px !important;}
.marR06 {margin-right:6px !important;}
.marR07 {margin-right:7px !important;}
.marR08 {margin-right:8px !important;}
.marR09 {margin-right:9px !important;}
.marR10 {margin-right:10px !important;}
.marR15 {margin-right:15px !important;}
.marR20 {margin-right:20px !important;}
.marR25 {margin-right:25px !important;}
.marR30 {margin-right:30px !important;}
.marR35 {margin-right:35px !important;}
.marR40 {margin-right:40px !important;}
.marR45 {margin-right:45px !important;}
.marR50 {margin-right:50px !important;}
.marR55 {margin-right:55px !important;}
.marR60 {margin-right:60px !important;}

/* 위 */
.marT00 {margin-top:0px !important;}
.marT01 {margin-top:1px !important;}
.marT02 {margin-top:2px !important;}
.marT03 {margin-top:3px !important;}
.marT04 {margin-top:4px !important;}
.marT05 {margin-top:5px !important;}
.marT06 {margin-top:6px !important;}
.marT07 {margin-top:7px !important;}
.marT08 {margin-top:8px !important;}
.marT09 {margin-top:9px !important;}
.marT10 {margin-top:10px !important;}
.marT15 {margin-top:15px !important;}
.marT20 {margin-top:20px !important;}
.marT25 {margin-top:25px !important;}
.marT30 {margin-top:30px !important;}
.marT35 {margin-top:35px !important;}
.marT40 {margin-top:40px !important;}
.marT45 {margin-top:45px !important;}
.marT50 {margin-top:50px !important;}
.marT53 {margin-top:53px !important;}
.marT55 {margin-top:55px !important;}
.marT60 {margin-top:60px !important;}

/* 아래 */
.marB00 {margin-bottom:0px !important;}
.marB01 {margin-bottom:1px !important;}
.marB02 {margin-bottom:2px !important;}
.marB03 {margin-bottom:3px !important;}
.marB04 {margin-bottom:4px !important;}
.marB05 {margin-bottom:5px !important;}
.marB06 {margin-bottom:6px !important;}
.marB07 {margin-bottom:7px !important;}
.marB08 {margin-bottom:8px !important;}
.marB09 {margin-bottom:9px !important;}
.marB10 {margin-bottom:10px !important;}
.marB15 {margin-bottom:15px !important;}
.marB20 {margin-bottom:20px !important;}
.marB25 {margin-bottom:25px !important;}
.marB30 {margin-bottom:30px !important;}
.marB35 {margin-bottom:35px !important;}
.marB40 {margin-bottom:40px !important;}
.marB45 {margin-bottom:45px !important;}
.marB50 {margin-bottom:50px !important;}
.marB55 {margin-bottom:55px !important;}
.marB60 {margin-bottom:60px !important;}

/* 전체 */
.mar00 {margin:0px !important;}
.mar01 {margin:1px !important;}
.mar02 {margin:2px !important;}
.mar03 {margin:3px !important;}
.mar04 {margin:4px !important;}
.mar05 {margin:5px !important;}
.mar06 {margin:6px !important;}
.mar07 {margin:7px !important;}
.mar08 {margin:8px !important;}
.mar09 {margin:9px !important;}
.mar10 {margin:10px !important;}
.mar15 {margin:15px !important;}
.mar20 {margin:20px !important;}
.mar25 {margin:25px !important;}
.mar30 {margin:30px !important;}
.mar35 {margin:35px !important;}
.mar40 {margin:40px !important;}
.mar45 {margin:45px !important;}
.mar50 {margin:50px !important;}
.mar55 {margin:55px !important;}
.mar60 {margin:60px !important;}

/* Width % */
.couponEK{display:inline-block;width:15px;line-height:20px;text-align:center;}
.selw{display:inline-block;}
.selw select{width:100%}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w55{width:55px;}
.w60{width:60px;}
.w65{width:65px;}
.w67{width:67px;}
.w70{width:70px;}
.w73{width:73px;}
.w75{width:75px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:97px;}
.w103{width:103px;}
.w110{width:110px;}
.w197{width:197px;}
.w120{width:120px;}
.w125{width:125px;}
.w130{width:130px;}
.w135{width:135px;}
.w140{width:140px;}
.w145{width:145px;}
.w150{width:150px;}
.w160{width:160px;}
.w169{width:169px;}
.w175{width:175px;}
.w187{width:187px;}
.w200{width:200px;}
.w211{width:211px;}
.w220{width:220px;}
.w224{width:224px;}
.w250{width:250px;}
.w264{width:264px;}
.w287{width:287px;}
.w321{width:321px;}
.w360{width:360px;}
.w450{width:450px;}
.w762{width:762px;}
.wFull{width:100%;}
.popup_body.w762{padding: 15px 0 0 15px !important;}
.textarea_01{border:1px solid #ddd;border-top:0;}
.textarea_01 span.cke_skin_kama{border:0}
.textarea_01 textarea{border:0;}
.pad00 span.cke_skin_kama{border:0}
.inputtxt,.inputtext,.clearable {background:#fff; height:20px; padding:0 4px; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; color:#959494;line-height:18px;box-sizing:border-box;} /* width:96%; */
.inputtxt_r {background:#D7D7D7;  height:20px; padding:0 4px; color:#787878; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;line-height:18px;box-sizing:border-box;cursor:default;}
.inputtxt_rc {background:#D7D7D7; height:20px; padding:0 4px; color:#787878; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;line-height:18px;box-sizing:border-box;cursor:default;text-align:center;}
.imeDis{ime-mode:disabled;-webkit-ime-mode:disabled;-moz-ime-mode:disabled;-ms-ime-mode:disabled;}
.inputdate { height:20px; padding:0 4px; color:#959494; border-top:1px solid #d7d7d7; border-left:1px solid #d7d7d7; border-right:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4;line-height:18px;box-sizing:border-box;}
.inputfile {background:#f4f4f4; width:45%; height:20px; padding:0 4px; border-top:1px solid #d7d7d7; border-left:1px solid #d7d7d7; border-right:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4; color:#959494;line-height:18px;box-sizing:border-box;}
select{min-width:50px;height:20px;padding:0 0 0 2px;border:1px solid #adadad;font-size:12px;line-height:18px;}
input[type="text"]:readonly{background:#D7D7D7; height:20px; padding:0 4px; color:#787878; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;line-height:18px;box-sizing:border-box;cursor:default;}
.noimg{border:1px solid #ddd;}
.dp_inline{width:90px;display:inline-block;vertical-align:middle}
.dp_inline2{padding:0 8px 0 15px;display:inline-block;vertical-align:middle}
.dp_area{display:inline-block;padding:0 4px; color:#787878; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;line-height:18px;box-sizing:border-box;vertical-align:middle;resize:none}
.w1p  {width:1% !important;}
.w2p  {width:2% !important;}
.w3p  {width:3% !important;}
.w4p  {width:4% !important;}
.w5p  {width:5% !important;}
.w6p  {width:6% !important;}
.w7p  {width:7% !important;}
.w8p  {width:8% !important;}
.w9p  {width:9% !important;}
.w10p {width:10% !important;}
.w11p {width:11% !important;}
.w12p {width:12% !important;}
.w13p {width:13% !important;}
.w14p {width:14% !important;}
.w15p {width:15% !important;}
.w16p {width:16% !important;}
.w17p {width:17% !important;}
.w18p {width:18% !important;}
.w19p {width:19% !important;}
.w20p {width:20% !important;}
.w21p {width:21% !important;}
.w22p {width:22% !important;}
.w23p {width:23% !important;}
.w24p {width:24% !important;}
.w25p {width:25% !important;}
.w26p {width:26% !important;}
.w27p {width:27% !important;}
.w28p {width:28% !important;}
.w29p {width:29% !important;}
.w30p {width:30% !important;}
.w31p {width:31% !important;}
.w32p {width:32% !important;}
.w33p {width:33% !important;}
.w34p {width:34% !important;}
.w35p {width:35% !important;}
.w36p {width:36% !important;}
.w37p {width:37% !important;}
.w38p {width:38% !important;}
.w39p {width:39% !important;}
.w40p {width:40% !important;}
.w41p {width:41% !important;}
.w42p {width:42% !important;}
.w43p {width:43% !important;}
.w44p {width:44% !important;}
.w45p {width:45% !important;}
.w46p {width:46% !important;}
.w47p {width:47% !important;}
.w48p {width:48% !important;}
.w49p {width:49% !important;}
.w50p {width:50% !important;}
.w51p {width:51% !important;}
.w52p {width:52% !important;}
.w53p {width:53% !important;}
.w54p {width:54% !important;}
.w55p {width:55% !important;}
.w56p {width:56% !important;}
.w57p {width:57% !important;}
.w58p {width:58% !important;}
.w59p {width:59% !important;}
.w60p {width:60% !important;}
.w61p {width:61% !important;}
.w62p {width:62% !important;}
.w63p {width:63% !important;}
.w64p {width:64% !important;}
.w65p {width:65% !important;}
.w66p {width:66% !important;}
.w67p {width:68% !important;}
.w68p {width:68% !important;}
.w69p {width:69% !important;}
.w70p {width:70% !important;}
.w71p {width:71% !important;}
.w72p {width:72% !important;}
.w73p {width:73% !important;}
.w74p {width:74% !important;}
.w75p {width:75% !important;}
.w76p {width:76% !important;}
.w77p {width:77% !important;}
.w78p {width:78% !important;}
.w79p {width:79% !important;}
.w80p {width:80% !important;}
.w81p {width:81% !important;}
.w82p {width:82% !important;}
.w83p {width:83% !important;}
.w84p {width:84% !important;}
.w85p {width:85% !important;}
.w86p {width:86% !important;}
.w87p {width:87% !important;}
.w88p {width:88% !important;}
.w89p {width:89% !important;}
.w90p {width:90% !important;}
.w91p {width:91% !important;}
.w92p {width:92% !important;}
.w93p {width:93% !important;}
.w94p {width:94% !important;}
.w95p {width:95% !important;}
.w96p {width:96% !important;}
.w97p {width:97% !important;}
.w98p {width:98% !important;}
.w99p {width:99% !important;}
.w100p {width:100% !important;}
.h60{height:60px !important;}
.h60 .h60_layer{position:absolute;bottom:0;right:5px;}
/* position */
.posR {position:relative;}
.posA {position:absolute;}
.posR .btnRT{position:absolute;top:-32px;right:0}
.posTm01 {position:relative; top:-1px;}
.posTm02 {position:relative; top:-2px;}
.posTm03 {position:relative; top:-3px;}
.posTm04 {position:relative; top:-4px;}
.posTm05 {position:relative; top:-5px;}
.posTm10 {position:relative; top:-10px;}
.posTm15 {position:relative; top:-15px;}
.posTm20 {position:relative; top:-20px;}
.posTm25 {position:relative; top:-25px;}

.posTp01 {position:relative; top:1px;}
.posTp02 {position:relative; top:2px;}
.posTp03 {position:relative; top:3px;}
.posTp04 {position:relative; top:4px;}
.posTp05 {position:relative; top:5px;}
.posTp10 {position:relative; top:10px;}
.posTp15 {position:relative; top:15px;}
.posTp20 {position:relative; top:20px;}
.posTp25 {position:relative; top:25px;}

/* INPUT */
/* .input_v {background:#fff; padding:1px 5px; color:#333; border:0px solid #fff;} 보기전용 */
/* .input_e {background:#1D140B; padding:1px 5px; color:#897F74; border:1px solid #0B0805;} 쓰기전용 */
/* .input_n {background:#fff; padding:1px 5px; color:#333; border:0px solid #fff;} 필수전용 */
/* .input_r {background:#D7D7D7; padding:1px 5px; color:#787878; border:1px solid #E1E1E1; cursor:default;} 쓰기금지전용 */

.input_v {background:#fff; height:15px; padding:2px 4px 1px 4px; color:#959494; border:0px solid #fff;} /* 보기전용 */
.input_e {background:#fff; height:15px; padding:2px 4px 1px 4px; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; color:#959494;} /* 쓰기전용 */
.input_n {background:#fff; height:15px; padding:2px 4px 1px 4px; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; color:#333;} /* 필수전용 */
.input_r {background:#D7D7D7; height:15px; padding:2px 4px 1px 4px; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; color:#787878; cursor:default;}/* 쓰기금지전용 */

.textarea_e {resize:none;background:#fff; width:99.3%; min-width:99.3%; max-width:99.3%; height:100%; min-height:100%; max-height:100%; padding:3px 5px 2px 5px; color:#959494;  border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;box-sizing:border-box;overflow:auto} /* 쓰기전용 */
.area_noresize{resize:none;padding:3px 5px 2px 5px; margin:0 !important;color:#959494;  border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;box-sizing:border-box;overflow:auto}
.area_noresize2{resize:none;padding:3px 5px 2px 5px; margin:0 !important;color:#959494;  border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;box-sizing:border-box;overflow:auto}

/* 파트너사 인증 로그인 */
#loginFixed.poLogin{}
#loginFixed.poLogin .poInfo{padding:20px 0;color:#333;line-height:20px;}
#loginFixed.poLogin .loginBox .loginInput .btn_login{top:220px;}
#loginFixed.poLogin .red{color:#ff0000}
#loginFixed.poLogin .countdown{color:#333;font-size:12px;padding-left:143px;}
#loginFixed.poLogin .countdown span{color:#ff0000;font-size:13px;}
/* NEW LOGIN START */
#body-login{min-height:600px;}
#loginFixed{width:990px;position:fixed;left:50%;top:50%;margin:-250px 0 0 -470px}
.loginBox{width:990px;box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)}
.loginBox:after{content:'';display:block;clear:both;}
.loginBox button{outline:none;}
.loginBox h5{background-color:rgb(69,90,100);height:54px;line-height:54px;padding:0 0 0 15px;color:#fff;font-size:15px;font-weight:normal;}
.loginBox .password_reset_title{background-color: #fff; color: #333;}
.loginBox .loginInput{float:left;width:400px;position:relative;padding:95px 10px 0 30px;}
.loginBox .loginInput dl{margin-right:100px}
.loginBox .loginInput dl dt{width:110px;float:left;font-size:14px;font-weight:500;line-height:38px;}
.loginBox .loginInput #need_style > dt{display:list-item;}
.loginBox .loginInput dl label{font-weight:bold;}
.loginBox .loginInput dl dt:before{content:'';display:inline-block;vertical-align:middle}
.loginBox .loginInput .id:before{content:'';width:25px;height:26px;background:url('../../image/layout/login_01.png') no-repeat;background-size:auto 24px;}
.loginBox .loginInput .pw:before{content:'';width:25px;height:26px;background:url('../../image/layout/login_02.png') no-repeat;background-size:auto 24px;}
.loginBox .loginInput .pc{font-size:11px;margin-top:10px;padding-top:10px;border-top:1px solid #ddd}
.loginBox .loginInput dl dd{margin:0 0 8px 90px;}
.loginBox .loginInput dl dd:after{content:'';display:block;clear:both;}
.loginBox .loginInput input.text{display:block;width:90%;height:38px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box;padding:0 10px;line-height:38px;outline:none;}
.loginBox .loginInput input.check{width:18px;height:18px;margin:0 5px 1px 0;vertical-align:middle}
.loginBox .loginInput input.text:focus{border:1px solid #babc00;}
.loginBox .loginInput .btn_login{position:absolute;top:95px;right:10px;display:block;width:90px;background-color:#babc00;border-radius:5px;color:#fff;font-size:16px;font-weight:bold;line-height:84px;text-align:center}
.loginBox .loginInput .btn_login.line2{height:66px;padding-top:18px;line-height:24px;}
.loginBox .loginInput .btn_login:active{background-color:rgb(192,201,51);text-decoration:none}
.loginBox .loginInput .btn_login:hover{text-decoration:none}
.loginBox .loginInput .id_save{margin:3px 0 0 90px;}
.loginBox .loginInput .id_save .pw_init{margin:3px 0 0 104px;text-decoration:underline}
.loginBox .loginInput .id_save .text_r {margin-left:50px;}
#btn_passwordInit{width:200px;height:30px;}
.loginCopy{margin-top:3px;color:#888;font-size:11px;text-align:center;}
.loginBox .loginInfo{width:490px;float:right;padding:30px 20px 30px 20px;border-left:1px solid #ddd}
.loginBox .loginInfo h6{color:#333}
.loginLayer{display:none;position:absolute;top:333px;left:560px;padding:15px 20px;border:1px solid #ddd;background-color: #fff;width:390px;color:#666;box-shadow:0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12)}
.loginLayer .close{position:absolute;top:7px;right:10px;background:none;padding:1px 5px;cursor:pointer}
.loginBox .txtline{color:#13519e;font-size:11px;cursor:pointer}
/* NEW LOGIN END */