@charset "utf-8";
/************************************/
/*	Name: X2CO Back Office	*/
/*	PART: IFRAME & CONTENTs STYLE   */
/*	Version: 1.0                    */
/*	Author: [써냐]BLUEWEBD™        */
/************************************/


/* iframe layout */
#content {margin: 27px 30px 0 30px;height:100%;}
#ajax_indicator{display:none}
#ajax_indicator p{width:441px;height:291px;margin:-145px 0 0 -220px;left:50%; top:50%; position:absolute;z-index:999999}
.cursor{cursor:pointer}
/* contents */
div.title {height:27px;margin-bottom: 10px;}

div.title h1 {float:left;margin:2px 0 0 0;font-size:15px;font-weight:bold;color:#111 }
div.title .title_comment { float:right; padding:2px 6px 2px 0; margin-top:2px;}
div.title .title_help { float:right; padding:2px 6px 2px 0; margin-top:2px;}
div.title .g_areaR {float:right !important; margin-top:-4px; color:#495b88; text-align:right;}
div.title .toggle_btn {float:right !important; display:inline-block;text-align: center; padding: 3px 10px; line-height: 20px; border-radius: 3px;background-color: #002C5F; border: 1px solid #002C5F; color: #FFF;font-weight: bold; cursor: pointer;}
div.title .toggle_btn::after {content:'';display: inline-block;width:7px;height:7px;border-bottom: 2px solid #FFF; border-right: 2px solid #FFF;margin-left: 8px;transform: rotate(-135deg);vertical-align: -3px;transition: all .2s;}
div.title .toggle_btn.close::after {transform: rotate(45deg);vertical-align: 1px;}

div.titles {height:24px;}
div.titles h1{float:left;margin:0 0 4px 0;font-size:15px;font-weight:bold;color:#111;}
div.titles .title_comment { float:right; padding:2px 6px 2px 0; margin-top:2px;}
div.titles .title_help { float:right; padding:2px 6px 2px 0; margin-top:2px;}

div.tit_btn { position:absolute; right:26px; top:24px; font-size:12px; color:#8e8e8e; font-weight:normal;}
div.tit_btn img{vertical-align:middle;}

div.tit_bar {overflow:hidden;padding: 0 15px 0 15px;height: 40px;line-height: 40px;background: #efefef;border: 1px solid #e0e0e0;color:#111;font-weight:bold;overflow:hidden;/* box-shadow:0 1px 5px rgba(0,0,0,.5) */border-radius: 4px 4px 0 0;}
div.tit_bar:after{content:'';display:block;clear:both}
div.tit_bar .g_areaL {float:left !important;}
div.tit_bar .g_areaR {float:right !important; color:#333; text-align:right;}
div.tit_bar h2{float:left;font-size:12px !important; color:#333; }
div.tit_bar h2:before{/* content:'\f0c9'; */display:inline-block;margin:0 6px 0 0;color:#333;font-size:11px;font-family:FontAwesome;vertical-align:middle;}
div.tit_bar .count { float:left; margin-left:5px; font-weight:normal !important;}
div.tit_bar .txt_dsc {float:left; margin-left:15px; color:#525252; font-weight:normal;}
div.tit_bar .tit_comment { float:right; margin-top:-1px; }
div.tit_bar select {margin-top:-3px; margin-top:-2px; vertical-align:middle;}
div.tit_bar i.info{color:#3333ff;font-style:normal;text-decoration:underline;}
div.sub_box {height:30px;line-height: 30px; border:1px solid #9e9e9e;border-top:0px;border-bottom:0;background:#bdbdbd;padding: 0 15px 0 15px;border-radius: 4px 4px 0 0;}
/* 컨텐츠 다단 레이아웃 */
.workingbox:after,.workingbox02:after,.workingbox03:after,.workingbox04:after,.workingbox05:after,.workingbox06:after{content:'';display:block;clear:both}
.workingbox { position:relative; clear:both; width:100%; /*height:100%;*/ margin:0 0 0 0;} /*불필요한 영역 스크롤생기는거때문에 수정*/
.workingbox .working_box_l { float:left; width:30%; margin:0; padding:0;}
.workingbox .working_box_r { float:right; width:68%; margin:0; padding:0;}

.workingbox02 { position:relative; clear:both; width:100%; margin:10px 0 0 0;}
.workingbox02 .working_box_l { float:left; width:68%; margin:0; padding:0;}
.workingbox02 .working_box_r { float:right; width:30%; margin:0; padding:0;}
.workingbox02 .prod_imgLine{border-right:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;box-sizing:border-box;text-align:center;height:335px}
.workingbox03 { position:relative; clear:both; /*height:100%;*/ width:100%; margin:10px 0 0 0;} /*불필요한 영역 스크롤생기는거때문에 수정*/
.workingbox03 .working_box_l { float:left; width:49%; /*height:100%;*/ margin:0; padding:0;} /*불필요한 영역 스크롤생기는거때문에 수정*/
.workingbox03 .working_box_r { float:right; width:49%; /*height:100%;*/ margin:0; padding:0;} /*불필요한 영역 스크롤생기는거때문에 수정*/

.workingbox04 { position:relative; clear:both; width:100%; margin:10px 0 0 0;}
.workingbox04 .working_box_l { float:left;  width:36%; margin:0; padding:0;}
.workingbox04 .working_box_c { float:left; width:30%; margin:0 0 0 2%; padding:0;}
.workingbox04 .working_box_r { float:left; width:30%; margin:0 0 0 2%; padding:0;}

.workingbox05 { position:relative; clear:both; width:100%; margin:10px 0 0 0;}
.workingbox05 .working_box_l { float:left;width:40%; margin:0; padding:0;}
.workingbox05 .working_box_r { float:right;width:58%; margin:0; padding:0;}

.workingbox06 { position:relative; clear:both; width:100%; margin:10px 0 0 0;}
.workingbox06 .working_box_l { float:left;  width:28%; margin:0; padding:0;}
.workingbox06 .working_box_c { float:left; width:28%; margin:0 0 0 2%; padding:0;}
.workingbox06 .working_box_r { float:left; width:40%; margin:0 0 0 2%; padding:0;}

.formcontrol_dsc {margin-top:10px; text-align:right;}
.formcontrol_dsc label {color:#474747;}
.formcontrol_dsc .disabled {color:#A3A3A3;}

/* Button Search */
.btn_sch {margin:6px 6px 0 0; text-align:center !important;}

/*   Button Style  */
.btn_blue, .btn_gblue, .btn_gray, .btn_page, .btn_black, .btn_black2, .btn_calendar{cursor:pointer;font-weight:normal;vertical-align:middle;}
.btn_blue_none, .btn_gray_none, .btn_none{cursor:default}
.btn_blue, .btn_gblue, .btn_blue_none{
    display:inline-block;padding:3px 8px 3px;line-height:20px;
    min-width:40px;border-radius:3px;font-size:12px;text-decoration:none !important;box-shadow: 0 1px 3px 0 rgba(0,0,0,.26);text-align:center;box-sizing:initial;
}
.btn_blue{background:#002C5F;border:1px solid #002C5F;color:#fff;}
.btn_blue:hover{background:#002C5F;border-color:#002C5F;color:#fff}

.btn_gblue{background:#e8e8e8;border:1px solid #d5d5d5;color:#444;}
.btn_gblue:hover{background:#d5d5d5;border-color:#d5d5d5;color:#444}

.btn_blue_none{background:#bec3c7;border:1px solid #bec3c7;color:#eee;}
.btn_blue_none:hover{color:#eee}

.btn_none, .btn_page, .btn_black, .btn_black2, .btn_date, .btn_black_none, .btn_black2_none{display:inline-block;padding:3px 6px 2px;border-radius:1px;font-size:11px;font-family:dotum;line-height:15px;text-decoration:none !important;text-align:center;}
.btn_none, .btn_page, .btn_black, .btn_black2 :lang(zh) {font-family:'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif;}	
						
.btn_gray, .btn_gray_none{display:inline-block;padding:2px 5px 1px;border-radius:1px;font-size:11px;font-family:dotum;line-height:15px;text-decoration:none !important;text-align:center;}
.btn_gray, .btn_gray_none :lang(zh) {font-family:'Microsoft Yahei','微软雅黑', 'STXihei', '华文细黑', sans-serif;}	
.btn_gray {background:#005993;border:1px solid #005389;color:#fff;}
.btn_gray:hover{background:#005389;border-color:#005389;color:#fff}

.btn_gray_none{background:#bec3c7;border:1px solid #bec3c7;color:#eee;}
.btn_gray_none:hover{color:#eee;}
.btn_none{background:#bec3c7;border:1px solid #bec3c7;color:#eee;}
.btn_none:hover{color:#eee;}
.btn_link{display:inline-block;background:#fff;color:#061bff;border:0;outline:none;cursor:pointer}

.btn_page{background:#484848;border:1px solid #292929;color:#fff;}
.btn_page:hover{border-color:#292929;background:#292929;color:#fff}
.btn_black, .btn_black_none{background:#484848;border:1px solid #292929;color:#fff;}
.btn_black:hover{border-color:#292929;background:#292929;color:#fff}
.btn_black2, .btn_black2_none{background:#3f729b;border:1px solid #325b7c;color:#fff;}
.btn_black2:hover{background:#305777;border-color:#26465f;color:#fff}
.btn_black_none, .btn_black2_none {opacity: 0.35; cursor: pointer; pointer-events: none;}
.page_btnbox {padding:7px 0 10px; text-align:center;height:35px;}

.btn_black.blue{background: #269db2;border: 1px solid #0e8296;color:#fff;}
.btn_black.blue:hover{background: #0e8296;border: 1px solid #0e8296;color:#fff}

.btn_black.remove_all{float: right; margin:4px}

.btn_date{padding:0 8px;height:22px;line-height:22px;text-align:center;border:1px solid #e0e0e0;background:#fff;}

/*   tab Style  */
.tab_box2{background-color:#292929;height:39px;}
.tab_box2 .tab:after{content:'';display:block;clear:both;}
.tab_box2 .tab li{float:left}
.tab_box2 .tab li a{display:block;padding:0 30px;color:#fff;line-height:39px;text-decoration:none}
.tab_box2 .tab li.on{background-color:#fff}
.tab_box2 .tab li.on a{color:#000}
.tab_box2 .tab li:last-of-type.on a:after{content:'\f021';display:inline-block;margin:0 0 0 5px;color:#292929;font-size:13px;font-family:FontAwesome;opacity:0.8;vertical-align:middle;}

.tab_box{width:100%;height:31px;position:relative;}
.tab_box:after{content:'';width:100%;height:1px;background:#9e9e9e;position:absolute;bottom:0;left:0;display:block;z-index:2;}
.tab_box:after, .tab_box ul.tab:after{content:'';display:block;clear:both}
.tab_box ul.tab {position:absolute;top:0;left:0;z-index:3}
.tab_box ul.tab li {float:left;margin-right:3px;line-height:30px;cursor:pointer}
.tab_box .btn_set {float:right;margin-top:3px;}
.tab_box .tabmu {display:inline-block; height:29px;background:#f2f2f2;border:1px solid #f2f2f2;border-bottom:0; padding:0px 18px;border-radius:3px 3px 0 0;color:#666;text-decoration:none !important;z-index:1;cursor:pointer;outline:none;}
.tab_box .tabmu_on {display:block;background:#bdbdbd;height:30px;border:1px solid #9e9e9e;border-bottom:0; padding:0px 18px;border-radius:3px 3px 0 0;color:#111;font-weight:bold; text-decoration:none !important;cursor:pointer;outline:none;}
.tab_box .tabmu:hover, .tabmu:active, .tabmu:focus { color:#111; text-decoration:none !important;}
.tab_box .titBottom .tabmu_on{height:29px;border-bottom:1px solid #9e9e9e;}

/* table */
div.table_insert {clear: both;  padding:0; margin:0;border-top:1px solid #cdcdcd;border-right:1px solid #cdcdcd;}
div.table_insert.noline{border-top:0;}
.bor_top {border-top: 1px solid #e0e0e0;}
div.table_insert table {width:100%;table-layout:fixed;border-collapse:collapse; padding:0;empty-cells:show}
div.table_insert table tbody th, div.table_insert table thead th {background:#efefef;padding:5px 10px;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;color:#444;line-height:20px;font-weight:normal;text-align:left;vertical-align:middle;}
div.table_insert table tbody td {background:#ffffff;padding:5px 10px;border-bottom: 1px solid #e0e0e0;color:#666;line-height:20px;vertical-align:middle;min-height:20px;}
.bor_right {border-right: 1px solid #e0e0e0;}
div.table_insert table tbody td > div{min-height:20px}
div.table_insert table tbody td img {vertical-align:middle;}
div.table_insert table tbody td select {font-size:12px; color:#666;}
div.table_insert table tbody td label {margin:0 8px 0 0;cursor:pointer;}
div.table_insert table tbody td textarea {margin:3px 0;}
div.table_insert table tbody td.line {border-right:1px solid #e0e0e0;}
div.table_insert table tbody td.noline {border-bottom:none !important;}
div.table_insert table tbody .first{border-left:1px solid #e0e0e0}
div.table_insert table tbody .last{border-right:0px solid #e0e0e0}
div.table_insert table tbody .borR01 td{border-right:1px solid #e0e0e0}
div.table_insert table tbody .center td, div.table_insert table tbody .center th, div.table_insert table tbody .center{text-align:center;padding-left:0;padding-right:0}
div.table_insert table tbody .cnt{text-align:center;padding:5px 0;}
div.table_insert table tbody .rht{text-align:right;}
div.table_insert table tbody tr td:first-child{border-left:1px solid #e0e0e0}
div.table_insert table #relImgTbl tr td:first-child{border-left:0px !important}
div.table_insert table tbody th.bg01{background-color:#f8f8f8;color:#666}
div.table_insert table tbody th.bg02{border-right:0px !important;border-bottom:0px !important;background:#efefef url('../../image/content/bg_01.png') repeat-x left bottom !important;}
div.table_insert table .lastTR td{border-bottom:0 !important;}
.table_insert02 .img_info{margin-left:110px;}
div.table_insert02 .inner_table .img_info{}
div.table_insert02 .inner_table{border:0px;}
div.table_insert02 .inner_table thead tr th:last-of-type{border-right:0;}
div.table_insert02 .inner_table tbody tr td:first-of-type{border-left:0;}
.pad00 div.table_insert02 .inner_table tr:last-of-type td{border-bottom:1px solid #cdcdcd !important}
div.table_insert03 {clear: both;padding:10px; margin:0;border:1px solid #cdcdcd;border-top:0}
div.table_insert04 {clear: both;  padding:0; margin:0;border-top:1px solid #cdcdcd;border-right:1px solid #cdcdcd;}
div.table_insert04 table {width:100%;table-layout:fixed;border-collapse:collapse; padding:0;empty-cells:show}
div.table_insert04 table thead th {background:rgba(240,248,250);padding:5px 10px;border-top: 2px solid #bdbdbd;border-left: 1px solid #e0e0e0;border-right: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;color:#444;line-height:20px;font-weight:normal;text-align:left;vertical-align:middle;}
div.table_insert04 table tbody th {background:#efefef;padding:5px 10px;border: 1px solid #e0e0e0;color:#444;line-height:20px;font-weight:normal;text-align:left;vertical-align:middle;}
div.table_insert04 table tbody td {background:#ffffff;padding:5px 10px;border-left: 1px solid #e0e0e0;border-bottom: 2px solid #e0e0e0;color:#666;line-height:20px;vertical-align:middle;min-height:20px;text-align:center;}
div.table_insert04 table.tAlL tbody td {background:#ffffff;padding:5px 10px;border-left: 1px solid #e0e0e0;border-bottom: 2px solid #e0e0e0;color:#666;line-height:20px;vertical-align:middle;min-height:20px;text-align:left;}
div[class^='table_insert'].hidden {height: 1px; overflow: hidden;}

/* div.table_insert table tbody td span{display:inline-block;min-height:15px;} */
.pad00 tr th:first-of-type{border-left:0}
.pad00 tr:last-of-type td{border-bottom:0}
.prdImg50{}
.prdImg50 .img{width:50px;height:50px;float:left;}
.prdImg50 .img img{width:100%;height:100%}
.prdImg50 .file{margin:0 0 0 60px;}
textarea{width:100%}
div.total {}
div.total table {width:100%; border:1px solid #dedede; border-collapse:collapse; padding:0; table-layout:fixed;}
div.total table tbody th {background:#f3f3f3; padding:7px 10px; _padding:8px 10px 6px 10px; border-bottom:1px solid #dedede; color:#8e8e8e; font-weight:normal; text-align:left;}
div.total table tbody th.bg01 {background:#6ABED6; color:#fff; font-weight:bold;}
div.total table tbody th.bg02 {background:#4859AF; color:#fff; font-weight:bold;}
div.total table tbody td {padding:7px 10px; border-bottom:1px solid #dedede; color:#8e8e8e; text-align:left;}
div.total table tbody td span.point {font-size:14px; color:#2D55D2; font-weight:bold;}

div.table_insert02 {clear:both; table-layout:fixed; padding:0; margin:0;}
div.table_insert02 table {width:100%; border-collapse:collapse; padding:0; table-layout:fixed; border:1px solid #cdcdcd;}
div.table_insert02 table thead th {background:#efefef; padding:7px 0; _padding:8px 5px 6px 5px; border-left:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; color:#444; font-weight:normal; text-align:center;}
div.table_insert02 table tbody td {background:#ffffff; padding:7px 5px; _padding:8px 5px 6px 5px; border-left:1px solid #cdcdcd; border-bottom:1px solid #cdcdcd; color:#444; vertical-align:middle; text-align:left;}
div.table_insert02 table tbody td.tit {padding:7px 5px 5px 5px; _padding:8px 5px 6px 5px; text-align:left;}
div.table_insert02 table tbody td img {vertical-align:middle;}
div.table_insert02 table tbody td select {font-size:12px; color:#444;}
div.table_insert02 table tbody td label {margin:0 5px 0 0;cursor:pointer;}
div.table_insert02 table tbody td textarea {margin:3px 0;}
div.table_insert02 table tbody td.bg01{background:#f8f8f8;}
div.table_insert02 .inputradio {margin:0 0 3px 0; vertical-align:middle;}


div.table_insert02sc {clear:both; table-layout:fixed; padding:0; margin:0;}
div.table_insert02sc .tb_thead {background:#f3f3f3; border:1px solid #9e9e9e; border-left:none;}
div.table_insert02sc .tb_thead table .grid_box{border-right:0;}
div.table_insert02sc .tb_thead table {border-collapse:collapse;width:100%}
/*div.table_insert02sc .tb_thead table tbody th {background:#f3f3f3; padding:7px 0; _padding:8px 5px 6px 5px; border-left:1px solid #dedede; color:#8e8e8e; font-weight:normal; text-align:center;}*/
div.table_insert02sc .tb_thead table tbody th {background:#f3f3f3; padding:7px 0; _padding:8px 0px 6px 0px; border-left:1px solid #9e9e9e; color:#444; font-weight:normal; text-align:center;}

div.table_insert02sc .tb_tbody {background:#ffffff; border-bottom:1px solid #dedede;}
div.table_insert02sc .tb_tbody table {border-collapse:collapse;}
div.table_insert02sc .tb_tbody table tbody td {background:#ffffff; padding:7px 0;border-left:1px solid #dedede; border-bottom:1px solid #dedede; color:#444; vertical-align:middle; text-align:center;}
div.table_insert02sc .tb_tbody table tbody td.tit {padding:7px 10px 5px 10px;  text-align:left;}

div.table_frnDlexDtlInfo {clear:both; table-layout:fixed; padding:0; width:520px;}
div.table_frnDlexDtlInfo table {border:0px solid #fff;width:auto;}
div.table_frnDlexDtlInfo table tbody tr {line-height:26px;}
div.table_frnDlexDtlInfo table tbody th {width:60px;text-align:right;background:#fff;padding:2px;border:0px solid #fff;}
div.table_frnDlexDtlInfo table tbody td {width:70px;text-align:left;background:#fff;padding:2px;border:0px solid #fff;}
div.table_frnDlexDtlInfo table tbody td input {width:50px;text-align:right;}
div.table_borderTop{border-top:3px solid #7d7d7d;}

/* grid box */
.grid_box2:after{content:'';display:block;clear:both;}
.grid_box2 {height:30px; border:1px solid #9e9e9e;border-top:0px;border-bottom:0;background:#bdbdbd;padding:0 8px}
.grid_box2 .g_areaL {float:left !important;color:#333;line-height:30px;}
.grid_box2 .g_areaR {float:right !important;color:#333;line-height:30px;text-align:right;}

.grid_box:after{content:'';display:block;clear:both;}
.grid_box {height:30px; border:1px solid #9e9e9e;border-top:0px;border-bottom:0;background:#bdbdbd;padding:0 8px}
.grid_box .g_areaL {float:left !important;color:#333;line-height:30px;}
.grid_box .g_areaR {float:right !important;color:#333;line-height:30px;text-align:right;}
.grid_box span.txt_dsc {display:inline; height:22px; line-height:22px;}
#snb_treebox{border:1px solid #9e9e9e;border-top:0px;}
.grid_box img{vertical-align:middle;}
.grid_box a.refresh {vertical-align:top;}
.grid {/* overflow:auto; */ clear:both; padding:0;}
.grid_gnb {height: 31px;}
.grid_box > .none{border-top:1px solid #9e9e9e}
.grid_textarea{border:1px solid #9e9e9e;padding:5px;background-color:#f2f2f2}
.grid_textarea textarea{border:0;resize:none;vertical-align:middle;}
.grid_textarea .area_r {background:#D7D7D7; height:20px; padding:0 4px; color:#787878; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9;line-height:18px;box-sizing:border-box;cursor:default;box-sizing:border-box;}
.grid_textarea .area   {background:#fff; height:20px; padding:0 4px; border-top:1px solid #adadad; border-left:1px solid #adadad; border-right:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; color:#959494;line-height:18px;box-sizing:border-box;}

/* grid inner Css */
.tui-grid-cell.ugent_row {background:#ffffcc;}
.tui-grid-cell.line-through{text-decoration : line-through;}

/* font style */
a.tbo_bl {color:#8e8e8e !important; }
a.tbo_bl:hover {color:#13519e !important; text-decoration:none;}

a.tbo_gy {color:#8e8e8e !important; }
a.tbo_gy:hover {color:#8e8e8e !important; text-decoration:none;}

a.tbo_rub {color:#8e8e8e !important; }
a.tbo_rub:hover{color:#ba1786 !important; text-decoration:underline; font-weight:bold;}

a.tbo_bu {color:#8e8e8e !important; }
a.tbo_bu:hover {color:#13519e !important; text-decoration:underline; }

.area_total { text-align:right; padding:10px;}
.area_bt_total {padding:5px 7px 0; color:#8E8E8E; margin-bottom:10px; text-align:right; }
.area_bt_total select {font-size:12px; color:#8E8E8E; text-align:right !important;}

.tbo_total {color:#13519e !important; font-weight:bold;}
a.tbo_total {color:#8e8e8e !important; }
a.tbo_total:hover{color:#13519e !important; font-weight:bold}

.dis {color:#8e8e8e !important; padding-top:8px}
.dis img{vertical-align:middle;}

select:disabled{background-color:#D7D7D7;color:#787878}

.t_pointR{color:#c70000 !important;}
.t_pointR2{color:#c70000 !important;background:#efefef url('../../image/common/point.gif') no-repeat 10px 50% !important;padding-left:15px !important}
.col01{color:#0000ff !important}
/* ico style */
.ico_datainfo {background:url(../../image/content/ico_data_info.gif) 0 35% no-repeat; padding-left:20px; margin-right:10px; color:#8E8E8E; font-weight:normal;}
.ico_datainfo span {color:#D72A62;}
.ico_datainfo strong {font-size:16px;}

.ico_help {background:url(../../image/content/ico_help.png)no-repeat 0 50%; padding:1px 0 0 20px; font-size:11px; text-align:right; font-weight:normal; letter-spacing:-1px;color:#333}
.btnR { float:right; margin:7px 0 5px; _margin:7px 0 0px; padding:0;}
.ico_que {background:url(../../image/content/ico_que.gif) 0 5px no-repeat; padding:1px 0 0 18px; font-size:11px; color:#333; font-weight:normal; letter-spacing:-1px;font-style:normal}
.help_dsc01{margin:3px 0}
.g_areaR .ico_que{color:#eee}
.help_box {background:#F5F5F5; padding:10px 0; border-top:2px #767676 solid;}
.help_dsc01 {position:relative;}
.help_dsc01 h3.ico_help {background:url(../../image/content/ico_help.png) 0 50% no-repeat; padding:1px 0 3px 20px; font-size:12px; text-align:left; font-weight:bold;}
.help_dsc01 .ico_help {background:url(../../image/content/ico_help.png) 0 50% no-repeat; padding:1px 0 3px 20px; font-size:11px; text-align:left; font-weight:normal;}
.help_dsc01 ul li {background:url(../../image/content/ico_help_dsc.gif) 0 7px no-repeat; padding:0 0 0 8px; font-size:11px; color:#6C6C6C;}
.help_dsc01 ul li.none {background:url("") 0 7px no-repeat; font-size:11px; color:#6C6C6C;}

.help_box .help_dsc02:after{content:'';display:block;clear:both;}
.help_box .help_dsc02 {position:relative; margin:0px 10px 0 15px;}
.help_box .help_dsc02 h3.ico_help {background:url(../../image/content/ico_help.png) 0 50% no-repeat; padding:1px 0 3px 20px; font-size:12px; text-align:left; font-weight:bold;}
.help_box .help_dsc02 .ico_help {background:url(../../image/content/ico_help.png) 0 50% no-repeat; padding:1px 0 3px 20px; font-size:11px; text-align:left; font-weight:normal;}
.help_box .help_dsc02 ul {float:left; width:90%;}
.help_box .help_dsc02 ul li {background:url(../../image/content/ico_help_dsc.gif) 5px 6px no-repeat; padding:0 0 0 13px; font-size:11px; color:#6C6C6C;}
.help_box .help_dsc02 .btn_area {position:absolute; bottom:0px; right:0px;}

div.stitle {height:20px;}
div.stitle h3 { float:left; background:url(../../image/content/ico_help_dsc.gif) 0 50% no-repeat; padding-left:10px; margin-left:7px; color:#888; font-size:12px; line-height:1.5em;}
div.stitle .date_comment { float:right; padding:2px 6px 2px 0; margin-top:2px; font-size:11px;}

/* 알립니다 : 공지사항 20120306 sady추가 */
.notice_box {width:100%; overflow:hidden; margin:12px 0 0 0;}
.notice_box ul{ width:100%;}
.notice_box ul li{position:relative; width:auto; color:#5d5d5d; background:url(../../image/layout/snb_scrbg.gif) 5px 50% no-repeat; padding:3px 0px 3px 12px; font-size:12px; }
.notice_box ul li a, .notice_box ul li a:hover{ color:#5d5d5d; text-decoration:none;}
.notice_box ul li span.dateInfo{ position:absolute; right:5px; top:3px; font-size:10px; font-family:Tahoma; color:#888;}

/* tree box */
.sub_treebox {border:1px #DEDEDE solid;}

/* tree box */
.btn_arrow { margin:60px 0 auto; text-align:center; height:100%;}
.btn_arrow img{ padding:0 0 4px 0;}
.btn_arrow p{ padding:13px 0 0 0;}

/* 111109 추가 */
.grid_select {float:right !important;text-align:right;line-height:30px;}
.grid_select input, .grid_select select{vertical-align:top;margin:4px 0 0 5px;height:22px;}
.grid_btn {float:left !important; text-align:right;}

/* popup */
.popup_body {padding:15px 15px 0 15px !important; margin:0 !important;}
.category_pop .title, .category_pop .grid_box, .category_pop .grid, .category_pop .page_btnbox {width:270px !important;}
.category_pop .grid {overflow-x:hidden !important;}

.mms_phone_box:after{content:'';display:block;clear:both;}
.mms_phone_box{margin:10px;}
.mms_phone_box .left{float:left;position:relative;width:151px;height:271px;padding:36px 0 0 9px;overflow-x:hidden;background:url('../../image/content/phone_img.gif') no-repeat;background-size:150px 307px;}
.mms_phone_box .left .scroll{overflow:auto; height:210px;}
.mms_phone_box .left .img{width:131px;}
.mms_phone_box .left textarea{width:131px;border:0px;overflow:hidden;min-height:100px;outline:none;resize:none;text-align:left;padding:5px;font-size:12px;font-family:gulim;box-sizing:border-box;}
.mms_phone_box .left .byte{position:absolute;bottom:12px;left:9px;width:131px;background-color:#100c0b;color:#ddd;font-size:12px;font-family:gulim;line-height:20px;text-align:center;}
.mms_phone_box .left .byte span{padding:0 3px 0 0}
.mms_phone_box .left   .byte span:first-of-type:after{content:'/';display:inline-block;padding-left:3px;}
.mms_phone_box .left .google_url{position:absolute;bottom:43px;left:12px;width:131px; color:blue}
.mms_phone_box .left .google_url a{color:blue;text-decoration:underline}
.mms_phone_box .right{margin:0 0 0 175px;}
.mms_phone_box textarea{}
.mms_phone_box .right .file{padding:30px 0 10px;}
.mms_phone_box .emoticon ul{width:558px;height:155px;border-top:1px solid #ddd;border-left:1px solid #ddd;}
.mms_phone_box .emoticon ul:after{content:'';display:block;clear:both;}
.mms_phone_box .emoticon ul li{width:30px;height:30px;text-align:center;float:left;border:1px solid #ddd;border-left:0;border-top:0;line-height:30px;}
.mms_phone_box .emoticon ul li button{display:block;background:#fff;width:100%;height:30px;color:#666;font-size:12px;font-family:gulim;text-align:center;cursor:pointer;outline:none}

.mms_phone_box .emoticon ul li.w60{width:61px;}
.event_agree{padding:0 0 0 50px;position:relative;}
.event_agree span{position:absolute;top:50%;left:0;margin-top:-10px;height:20px;}
.event_agree textarea{width:100%;height:80px;}

.loginBox.password_reset{width:100%;height:auto;margin:0 auto;}
.loginBox.password_reset p.pass{padding:15px;}
.loginBox.password_reset .loginInput{padding:10px 50px 10px;float:none;width:auto;}
.loginBox.password_reset .loginInput dl{margin-right:0}
.loginBox.password_reset .loginInput dl dt{width:100px}
.loginBox.password_reset .loginInput dl dd{margin:0 0 8px 85px}
.loginBox.password_reset .loginInput dl dd .text2{display:inline-block;width:73px}
.loginBox.password_reset .btn_sch{margin-top:30px;}
.loginBox.password_reset .btn_sch .btn_blue{padding:10px 20px 12px;font-size:13px;}

.boxshadow_none{box-shadow: none;}

.cti_menu{position:absolute;top:8px;left:150px}
.cti_menu ul:after{}
.cti_menu ul li{float:left}
.cti_menu ul li.menu{text-align:center;margin:0 3px;background: #f9f9f9;border:1px solid #ddd;border-radius: 3px;}
.cti_menu ul li.menu:hover {border-color:#d2d2d2;-moz-box-shadow: 0 0 3px #ccc;-webkit-box-shadow: 0 0 3px #ccc;box-shadow: 0 0 3px #ccc;border-radius: 3px}
.cti_menu ul li .btn{cursor:pointer;position:relative;display:block;width:75px;height:22px;padding:0 0 3px;font-size:11px;color:#222;outline:none;line-height:15px;background:none;border-radius: 3px;box-sizing:border-box}
.cti_menu ul li .btn:hover{text-decoration:none}
.cti_menu ul li.menu.on{background: #82b440;border:1px solid #82b440}
.cti_menu ul li.menu.on .btn{background: #82b440;color:#fff;}
.cti_menu ul li.menu.off{background: #e0e0e0;border:1px solid #ddd}
.cti_menu ul li.menu.off .btn{background: #e0e0e0;color:#888;}
.cti_menu select{width:75px;height:24px;border-radius:3px}
.cti_menu ul li.menu.on.active{background: #fff !important;border:1px solid #ffffff !important}
.active .btn{background: #fff !important;color:#333 !important;border:1px solid #fff}

.agree_scroll{border:1px solid #cdcdcd;border-top:0;padding:15px 0 15px 15px;}
.agree_scroll .inner{overflow:hidden;height:365px; overflow-y:auto;padding-right:15px;line-height:22px;}

/* agreementPopup */
.agreement_body .title{color: #333;font-size:13px;padding-bottom:10px;}
.agreement_body .description{height: 200px;padding:5px;box-sizing:border-box;overflow-y: auto;border: 1px solid #333;}
.agreement_body .sub_area{position:relative;min-height:145px;}
.agreement_body .sub_area .btn_wrap{text-align: center; padding: 23px 0px;}
.agreement_body .sub_area .btn_wrap .agree_btn{width:160px; line-height:25px;display:inline-block;cursor:pointer;font-weight:normal; background: #484848; border: 1px solid #292929;color: #fff;}
.agreement_body .sub_area .checkbox_wrap label{line-height: 25px;font-size: 11px;}
.agreement_body .sub_description{position:absolute; bottom:10px;font-size: 11px;}
tr.table_border{clear: both;  padding:0; margin:0;border-top:1px solid #cdcdcd;border-right:1px solid #cdcdcd;}

/* main dashboard */
.main-dash:after, .main-panel .panel_body2 dl:after, .main-panel .panel_body3 dl:after,.main-panel .panel_body4:after{display:block;clear:both;content:'';}
.main-dash .gridL{float:left;width:49%;}
.main-dash .gridR{float:right;width:49%;}
.main-panel a{color:#0045cc}
.main-panel{margin-bottom: 20px;background-color: #fff;border: 1px solid #f0f0f0;border-radius:3px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);box-shadow: 0 1px 1px rgba(0,0,0,.05);}
.main-panel .heading{position:relative;background-color: #ddd;border-bottom: 1px solid #ddd;border-top-left-radius: 3px;border-top-right-radius: 3px;height:40px;padding:0 15px}
.main-panel .heading h3{color: #444;font-size:14px;line-height:40px;}
.main-panel .heading .btn_more{display:inline-block;position:absolute;top:10px;right:15px;color:#333;font-size:11px;}

.main-panel .panel_body{width:100%;padding:0 0 8px;}
.main-panel .panel_body table{width:100%;border-collapse:collapse; padding:0; table-layout:fixed;}
.main-panel .panel_body table tr.bg{background-color: #eee;background-image: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e9e9e9));background-image: -webkit-linear-gradient(top,#fafafa 0,#e9e9e9 100%);background-image: -moz-linear-gradient(top,#fafafa 0,#e9e9e9 100%);background-image: -ms-linear-gradient(top,#fafafa 0,#e9e9e9 100%);background-image: -o-linear-gradient(top,#fafafa 0,#e9e9e9 100%);background-image: -linear-gradient(top,#fafafa 0,#e9e9e9 100%);}
.main-panel .panel_body table th{padding:7px 0 6px;color:#444;font-size:12px;}
.main-panel .panel_body table td{padding:7px 10px 6px;border-top: 1px solid #ddd;color:#222;text-align:center;}
.main-panel .panel_body table td.left{text-align:left;}
.main-panel .panel_body table td a{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.main-panel .panel_body2 dl{padding:9px 30px 10px 40px;border-bottom:1px solid #e4eaec}
.main-panel .panel_body2 dl:hover{background-color:#fafbfc;}
.main-panel .panel_body2 dl:last-of-type{border-bottom:0;}
.main-panel .panel_body2 dl dt{position:relative;width:50%;float:left;color:#444;font-weight:bold;line-height:22px}
.main-panel .panel_body2 dl dd{margin:0 0 0 50%;color:#222;font-size:13px;line-height:22px;text-align:right;}

.main-panel .panel_body2 dl dt:after{content:'';display:block;position:absolute;top:1px;left:-26px;width:21px;height:21px;border-radius:100%;z-index:2;background-color:#9f9f9f;box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.17);-moz-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);-webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.17);}
.main-panel .panel_body2 dl dt:before{content:"\f017";display:block;position:absolute;top:1px;left:-26px;width:21px;height:21px;color:#fff;font-size: 12px;font-weight:normal;font-family: FontAwesome;z-index:10;text-align:center;}
.main-panel .panel_body2 .icon01 dt:before{content:"\f1b2";}
.main-panel .panel_body2 .icon02 dt:before{content:"\f128";}
.main-panel .panel_body2 .icon03 dt:before{content:"\f0e3";}
.main-panel .panel_body2 .icon04 dt:before{content:"\f12a";}


.main-panel .panel_body3 dl{padding:8px 10px;border-bottom:1px solid #e4eaec;}
.main-panel .panel_body3 dl:hover{background-color:#fafbfc;}
.main-panel .panel_body3 dl:last-of-type{border-bottom:0;}
.main-panel .panel_body3 dl dt{width:200px;float:left;color:#444;font-weight:bold;line-height:23px}
.main-panel .panel_body3 dl dt:before{content:'';display:inline-block;width:4px;height:4px;border-radius:100%;background-color:#aaa;vertical-align:middle;margin:0 5px 2px 0;}
.main-panel .panel_body3 dl dd{margin:0 0 0 200px;color:#222;line-height:23px}

.main-panel .panel_body4{width:100%;}
.main-panel .panel_body4 dl{float:left;width:20%;margin:10px 0;border-right:1px solid #eee;box-sizing:border-box}
.main-panel .panel_body4 dl:nth-child(1){width:40%}
.main-panel .panel_body4 dl:nth-child(2){width:60%}
.main-panel .panel_body4 dl:nth-child(2),.main-panel .panel_body4 dl:nth-child(7){border-right:0;}
.main-panel .panel_body4 dl dt{padding:0 0 0 15px;color:#444;font-size:12px;line-height:20px;}
.main-panel .panel_body4 dl dd{padding:0px 0 0 15px;color:#222;font-size:11px;line-height:20px;}
.main-panel .panel_body4 dl dd span{font-size:17px;font-weight:bold;vertical-align:-2px}
.main-panel .panel_body4 dl.no dd span{color:#fa3031}
.main-panel .col02{color:#000;font-weight:bold;font-size:14px;}
.main-panel .col03{color:#ff0000;font-weight:bold;}
.main-panel .col04{color:#0000ff;font-weight:bold;}

.main-panel2{border:solid 1px #EEE;border-radius:2px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05);}
.main-panel2 h3{padding:0 15px;background-color:#ddd;color:#444;line-height:40px;}
.main-panel2 ul:after{display:block;clear:both;content:'';}
.main-panel2 ul li{float:left;width:33.333%;text-align:center;}
.main-panel2 ul li span{display:block}
.main-panel2 .order{width:100%;border:1px solid #dddddd;border-collapse:collapse; padding:0;}
.main-panel2 .order thead tr:first-of-type{padding:20px 0;background-image:-webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e2e2e2));background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e2e2e2, 100%);background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);background-image: linear-gradient(to bottom, #f5f5f5 0%, #e2e2e2 100%);background-repeat: repeat-x;}
.main-panel2 .order thead tr:first-of-type th{border-top:0;color:#333;font-size:13px;}
.main-panel2 .order th{padding-top:8px;padding-bottom:8px;font-size:13px;font-weight:600;color:#444;border-left:1px solid #F1F1F1;border-right:1px solid #CCC;-webkit-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;}
.main-panel2 .order tbody tr:first-of-type td{border-top:1px solid #ccc;}
.main-panel2 .order tbody tr:nth-child(even)>td{background-color:#f9f9f9;}
.main-panel2 .order tbody td.tit{color:#333;font-size:13px;font-weight:bold;}
.main-panel2 .order th, .main-panel2 .order td{border:1px solid #ddd;box-sizing:border-box}
.main-panel2 .order .pad td{padding:8px 0}
.main-panel2 .order td{text-align:center;}
.main-panel2 .order .ord_n{position:relative;display:inline-block;width:25%;font-size:15px;line-height:50px;box-sizing:border-box}
.main-panel2 .order .ord_p{position:relative;display:inline-block;width:74%;font-size:15px;line-height:50px;border-left:1px solid #ddd;box-sizing:border-box}
.main-panel2 .order .user{position:relative;display:inline-block;font-size:15px;box-sizing:border-box}
.main-panel2 .order i{color:#999;font-size:11px;line-height:20px;font-style:normal;vertical-align:2px}


.main-panel2 .order2{width:100%;border:1px solid #dddddd;border-collapse:collapse; padding:0;}
.main-panel2 .order2 thead tr:first-of-type{padding:20px 0;background-image:-webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e2e2e2));background-image: -webkit-linear-gradient(top, #f5f5f5, 0%, #e2e2e2, 100%);background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e2e2e2 100%);background-image: linear-gradient(to bottom, #f5f5f5 0%, #e2e2e2 100%);background-repeat: repeat-x;}
.main-panel2 .order2 thead tr:first-of-type th{border-top:0;color:#333;font-size:13px;}
.main-panel2 .order2 th{padding-top: 6px;padding-bottom: 6px;font-size:13px;font-weight:600;color:#444;border-left:1px solid #F1F1F1;border-right:1px solid #CCC;-webkit-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;}
.main-panel2 .order2 tbody tr:first-of-type td{border-top:1px solid #ccc;}
.main-panel2 .order2 .center{text-align:center;padding-left:10px;padding-right:10px;}

.main-panel2 .order2.row2 tbody tr.bg2>th,
.main-panel2 .order2.row2 tbody tr.bg2>td{background-color:#f9f9f9;}
.main-panel2 .order2.row2 tbody tr.today th,
.main-panel2 .order2.row2 tbody tr.today td{background-color:#dbf3ff}


.main-panel2 .order2.row tbody tr.today th,
.main-panel2 .order2.row tbody tr.today td{background-color:#dbf3ff}

.main-panel2 .order2 tbody td.tit{color:#333;font-size:13px;font-weight:bold;}
.main-panel2 .order2 th, .main-panel2 .order2 td{border:1px solid #ddd;box-sizing:border-box}
.main-panel2 .order2 td{font-size: 13px;padding: 7px 10px 7px 0;text-align:right;}
.main-panel2 .order2 .pad2 td{font-size: 14px;padding: 8px 10px 8px 0;}
.main-panel2 .order2 tbody tr th{text-align:center;padding-left:0;font-weight:bold;}

.main-panel2 .order2 i{color:#777;font-size:11px;line-height:20px;font-style:normal;vertical-align:2px}



/* 이벤트 상세 */

.user_tit{font-size:12px;font-weight:bold}
.user_po{width:100%;table-layout:fixed;border-top:1px solid #ddd;border-right:1px solid #ddd;margin-top:5px;}
.user_po th{padding:6px 0;background-color:#f2f2f2;border-left:1px solid #ddd;border-bottom:1px solid #ddd;font-weight:normal;}
.user_po td{padding:6px 0;border-left:1px solid #ddd;border-bottom:1px solid #ddd;text-align:center;}
.user_po td.left{text-align:left;padding-left:10px;color:#333}
.loginLayer.po01{top:50%;left:50%;width:550px;z-index:999;margin:-110px 0 0 -320px}
.loginLayer.po02{top:50%;left:50%;width:550px;z-index:999;margin:-320px 0 0 -320px}


/* 푸시 */
.pushMsgList table {border-collapse:collapse; text-align:center;}
.pushMsgList th {border:1px solid black;}
.pushMsgList td {border:1px solid black;}

.g_areaL>*,.g_areaR>*,.grid_btn>* {margin: 4px 0;float: left;}
.g_areaL>*+*,.g_areaR>*+*,.grid_btn>*+*{margin-left:4px}
.g_areaL>.grid_btn,.g_areaR>.grid_btn {margin: 0;}


/* 비밀번호 변경 */
#pwdChange_table{}
#pwdChange_table th{color:#333;}

.changebtn_wrap{text-align: center;padding:30px 0px;}
.changebtn_wrap .pwdchange_btn{background:#484848;border:1px solid #292929;color:#fff;display:inline-block;width:100px;line-height:30px;}
.changebtn_wrap .pwdchange_btn:hover{border-color:#292929;background:#292929;color:#fff;text-decoration:none;}

/* 리뷰 스와이퍼 영역 */
.review_photo{width:400px;margin:auto;}
.review_photo .swiper-button-next, 
.review_photo .swiper-button-prev{position:absolute;top:50%;width:60px;height:60px;border-radius:100%;z-index:10;background:url('../../image/main/review_arrow.png') no-repeat;}
.review_photo .swiper-button-prev{left:10px;transform:rotate(180deg);}
.review_photo .swiper-button-next{right:10px;}

.review_photo .swiper{width:100%;height:auto !important;position:relative;overflow:hidden;z-index:1;touch-action:pan-y;}
.review_photo .swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;align-items:flex-start;}
.review_photo .swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;}

.review_photo .bigSwiper{width:100%;height:80%;}
.review_photo .bigSwiper .swiper-wrapper{transition-property:transform, height;transform:translate3d(0px, 0, 0);}
.review_photo .bigSwiper .swiper-slide{width:100%;height:auto !important;}
.review_photo .bigSwiper .swiper-slide img{display:block;width:100%;height:auto !important;;}
.review_photo .thumbSwiper{width:100%;height:45px;box-sizing:border-box;padding:10px 0;}
.review_photo .thumbSwiper .swiper-slide{width:45px !important;height:45px !important;opacity:0.4;}
.review_photo .thumbSwiper .swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;}
.review_photo .thumbSwiper .swiper-slide-thumb-active{opacity:1;}

/* 시세현황 : 주행 구간 range 슬라이더*/
.chk_range{display:inline-block;margin:34px 2px 0 0 !important;vertical-align:top !important;}
.chk_range + label{display:inline-block;margin:30px 10px 0 0 !important;vertical-align:top !important;}
.priceSlider{display:inline-block;width:200px;min-height:unset !important;padding:37px 0 3px 0;vertical-align:top;}
.priceSlider .sliderRange{position:relative;height:7px;background:#dfdfdf;}
.priceSlider .sliderRange .ui-slider-range{position:absolute;top:0;z-index:1;display:block;border:0;background:#000;height:100%;}
.priceSlider .sliderRange .ui-slider-handle{
	z-index:2;cursor:default;-ms-touch-action:none;touch-action:none;outline:none;
	width:12px;height:18px;
	background:url('../../image/common/icon_range_01.png') no-repeat;
	position:absolute;top:-8px;margin-left:-8px;
}
.priceSlider .sliderRange .comPrice, 
.priceSlider .sliderRange .minPrice, 
.priceSlider .sliderRange .maxPrice{
	display:inline-block;
	width:50px;
	height:17px;
	padding:0 6px;
	position:absolute;
	top:-25px;
	border:1px solid #9194a3;
	background:#fff;
	color:#000000;
	font-size:11px;
	line-height:17px;
	text-align:center;
}
.priceSlider .sliderRange .minPrice{left:0px;}
.priceSlider .sliderRange .comPrice, 
.priceSlider .sliderRange .maxPrice{right:0px;}
.priceSlider .sliderRange .comPrice{visibility:hidden;top:-31px;left:calc(50% + 1px);right:auto;min-width:80px;text-align:center;white-space:nowrap;transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%);}
.priceSlider .sliderRange .comPrice.right{left:auto;right:-12px;transform:translateX(0px);-webkit-transform:translateX(0px);-moz-transform:translateX(0px);-ms-transform:translateX(0px);-o-transform:translateX(0px);}
.priceSlider .sliderRange .comPrice i{display:inline-block;padding:0 5px;}
.priceSlider .sliderRange .minPrice:after, 
.priceSlider .sliderRange .maxPrice:after{content:'';display:block;position:absolute;bottom:-7px;width:7px;height:7px;}
.priceSlider .sliderRange .minPrice:after{left:-1px;background:url('../../image/common/icon_range_02.png') no-repeat;}
.priceSlider .sliderRange .maxPrice:after{right:-4px;background:url('../../image/common/icon_range_03.png') no-repeat;}
.priceSlider .amountArea{position:relative;display:none;}


/* 2022-03-29 실사검수 상세 추가 style */
.pricing_01{float:right;}
.red{color:#c70000}
.blue{color:#0000ff}
.pricing_02 li:not(:first-of-type){margin-top:5px;}
.pricing_02 li > .tit{color:#333;font-weight:bold;}
.pricing_03 span{color:#000;font-weight:bold;}
.pricing_03 label{color:#000;}
.pricing_03 .chk_app:checked+label{font-weight:bold;}
.pricing_04 li {position:relative; display:inline-block; overflow:hidden; width:100px; height:100px;}
.pricing_04 .txt {z-index:5; display:inline-block; position:absolute; left:0; bottom:-1px; padding:6px 7px; background:rgba(0, 0, 0, 0.7); transform:translateY(0); color:#fff; line-height:14px; font-size:11px;}
.pricing_04 img{width:100%;height:100%;object-fit:cover;}

.pricing_05{width:80px;height:50px;overflow:hidden;display:inline-block;vertical-align:middle;}/* 사진 노출 사이즈 */
.pricing_05 img{width:100%;height:100%;object-fit:cover;}
.pricing_06{display:none;width:24px;height:24px;font-size:0;background:url("../../image/pricing/bg_form.png") no-repeat;background-size:200px auto;background-position:-78px -90px;vertical-align:middle;}
.pricing_06.on{display:inline-block;}

/* 실사검수 - 외관, 골격 선택 영역 */
.carimg_box{width:320px;margin:0 auto;position:relative;z-index:2;}
.carimg_box.up [class^=btn_area]{width:10.5%;height:8.5%;}
.carimg_box.down [class^=btn_area]{width:5.5%;height:5.5%;}
.carimg_box .carimg{width:100%;}
.carimg_box .carimg img{width:100%;}
.carimg_box [class^=btn_area]{position:absolute;border-radius:100%;width:10%;height:8%;font-size:0;line-height:0;text-indent:-9999px;background-color:transparent;cursor:pointer;}

.carimg_box [class^=btn_area]::before{display:block;margin:0 auto;width:18px;height:18px;border-radius:100%;background:url("../../image/pricing/bg_form.png") no-repeat;background-size:200px auto;}
.carimg_box [class^=btn_area].icon_w{background:#C57D59;}
.carimg_box [class^=btn_area].icon_w::before{content:"";background-position:0 -125px;}
.carimg_box [class^=btn_area].icon_x{background:#1D8ABC;}
.carimg_box [class^=btn_area].icon_x::before{content:"";background-position:0 -148px;}

.carimg_box{position:relative;z-index:2;}
.carimg_box.up [class^=btn_area]{width:10.5%;height:8.5%;}
.carimg_box.down [class^=btn_area]{width:5.5%;height:5.5%;}
.carimg_box .carimg{width:100%;}
.carimg_box .carimg img{width:100%;}
.carimg_info{padding:20px 0 0;text-align:center;}
.carimg_info span{display:inline-block;margin:0 20px;}
.carimg_info span::before{display:inline-block;margin:0 auto;width:18px;height:18px;border-radius:100%;background:url("../../image/pricing/bg_form.png") no-repeat;background-size:200px auto;vertical-align:middle;margin:0 5px 0 0;}
.carimg_info span.icon_w::before{content:"";background-position:0 -125px;}
.carimg_info span.icon_x::before{content:"";background-position:0 -148px;}

/*  외판 중앙*/
.carimg_box .btn_area001{top:0;		left:44.9%;}
.carimg_box .btn_area002{top:8.9%;	left:44.9%;}
.carimg_box .btn_area003{top:19.2%;	left:44.9%;}
.carimg_box .btn_area004{top:81%;	left:45.1%;}
.carimg_box .btn_area005{top:91.8%;	left:44.8%;}
/*  외판 좌측*/
.carimg_box .btn_area006{top:14.7%;	left:11%;}
.carimg_box .btn_area007{top:39.3%;	left:8.9%;}
.carimg_box .btn_area008{top:56.3%;	left:8.9%;}
/*  외판 우측*/
.carimg_box .btn_area009{top:14.7%;	left:78.8%;}
.carimg_box .btn_area010{top:39.3%;	left:80.8%;}
.carimg_box .btn_area011{top:56.3%;	left:80.8%;}
/*  골격 중앙*/
.carimg_box .btn_area201{top:14%;		left:35%;}
.carimg_box .btn_area202{top:25.6%;		left:34.8%;}
.carimg_box .btn_area203{top:20%;		left:41%;}
.carimg_box .btn_area204{top:14%;		left:59%;}
.carimg_box .btn_area205{top:25.5%;		left:59%;}
.carimg_box .btn_area206{top:20%;		left:53%;}
.carimg_box .btn_area207{top:33.6%;		left:47.3%;}
.carimg_box .btn_area208{top:52.9%;		left:47.3%;}
.carimg_box .btn_area209{top:78.8%;		left:47.2%;}
.carimg_box .btn_area210{top:89.1%;		left:47.3%;}
/*  골격 하단*/
.carimg_box .btn_area211{top:72%;		left:33.1%;}
.carimg_box .btn_area212{top:81.5%;		left:34.5%;}
.carimg_box .btn_area213{top:72%;		left:61.4%;}
.carimg_box .btn_area214{top:81%;		left:60%;}
/*  골격 좌측*/
.carimg_box .btn_area215{top:46%;		left:4%;}
.carimg_box .btn_area216{top:38%;		left:25%;}
.carimg_box .btn_area217{top:51.9%;		left:23.4%;}
.carimg_box .btn_area218{top:63.3%;		left:26.9%;}
.carimg_box .btn_area219{top:84.3%;		left:16.3%;}
/* 골격 우측*/
.carimg_box .btn_area220{top:46%;		left:90.5%;}
.carimg_box .btn_area221{top:38%;		left:69%;}
.carimg_box .btn_area222{top:51.9%;		left:71.4%;}
.carimg_box .btn_area223{top:63.3%;		left:67.6%;}
.carimg_box .btn_area224{top:84.3%;		left:78.3%;}

/* 실사검수 - 외관, 골격 선택 영역 레이어 */
.layer_caredit{position:fixed;left:50%;top:50%;z-index:10;transform:translate(-50%, -70%);width:230px;padding:18px;background:#FFF;border:1px solid #DDDDDD;box-shadow:0px 3px 6px rgba(0, 0, 0, 0.12);display:none;}
.layer_caredit > .tit{margin-bottom:10px;color:#000000;font-size:13px;line-height:17px;font-family:HynSans_Head-M;text-align:center;}
.layer_caredit .inner{display:flex;flex-wrap:wrap;row-gap:9px;align-items:center;justify-content:space-between;}
.layer_caredit .inner label{width:calc(50% - 2.5px);}

/* 실사검수 - 외관, 골격 선택 영역 레이어 check box  */
.chk_type08{  width:1px;height:1px;opacity:0;position:absolute;}
.chk_type08 + label{position:relative;display:inline-block;padding:11px 0 9px;background:#FFF;border:1px solid #DDDDDD;color:#333333;font-size:14px;line-height:18px;font-family:HynSans_Txt-M;text-align:center;}
.chk_type08 + label:before{content:"";display:inline-block;width:18px;height:18px;border-radius:100%;margin:0 5px 2px 0;background:url("../../image/pricing/bg_form.png") no-repeat;background-size:200px auto;background-position:0 -125px;vertical-align:middle;}
.chk_type08.icon_x + label::before{background-position:0 -148px;}
.chk_type08.icon_x:checked + label{background:#3EA0C0;border:1px solid #3EA0C0;}
.chk_type08:checked + label{color:#FFF;background:#C57D59;border:1px solid #C57D59;}

/* 실사검수 - 이미지 등록 */
.file_morephoto[type=file],
.file_addphoto[type=file]{opacity:0; position:absolute; width:1px; height:1px; overflow:hidden;}
[class^=addphoto_]{position:relative; width:100%; background-size:101% auto !important; border:1px dashed #F8F8F8;}
[class^=addphoto_] > span{display:none;position:relative;width:80px;height:50px;overflow:hidden;vertical-align:middle;} /* 사진 노출 사이즈 */
[class^=addphoto_].on > span{z-index:4; display:inline-block;}
[class^=addphoto_] span a  {display:block; width: 100%; height: 100%;}
[class^=addphoto_] img{width:100%;height:100%;object-fit:cover;}
[class^=addphoto_] > .btn_addphoto {z-index:3; display:block; width:100%; overflow:hidden; position:relative; height:0; padding-bottom:100%;}
[class^=addphoto_] > .btn_addphoto > em {position:absolute; bottom:50%; left:0; display:block; width:100%; transform:translateY(50%); color:#767676; font-family:HynSans_Txt-R; font-size:13px; line-height:17px; text-align:center;}
[class^=addphoto_] > .btn_addphoto > em::before {content:''; display:block; width:12px; height:12px; margin:0 auto 4px; background-image:url("../../image/common/bg_form.png"); background-repeat:no-repeat ; background-position:-179px -38px; background-size:200px auto;}
[class^=addphoto_].on > .btn_addphoto {border-color:transparent;}
[class^=addphoto_].on > .btn_addphoto > em {left:0; width:auto; bottom:-1px; background:rgba(0,0,0, 0.7); transform:translateY(0); padding:6px 7px; color:#fff; font-size:11px;}
[class^=addphoto_].on > .btn_addphoto > em::before {display:none;}
[class^=addphoto_].on > span {width:100%; height:100%; position:absolute; top:0;left:0;}
/* [class^=addphoto_].on > span::before{ content:''; display:block; margin:0 auto 5px;} */
.btn_filedel{display:block;width:20px;height:20px;position:absolute;top:0;right:0;background-image:url("../../image/pricing/bg_form.png"); background-repeat: no-repeat; background-size:200px auto;background-position:-179px -55px;font-size:0;line-height:0;text-indent:-9999px;z-index:4;}
.addphoto_1{background:url('../../image/common/sale_car_01.png') no-repeat;}
.addphoto_2{background:url('../../image/common/sale_car_02.png') no-repeat;}
.addphoto_3{background:url('../../image/common/sale_car_03.png') no-repeat;}
.addphoto_4{background:url('../../image/common/sale_car_04.png') no-repeat;}
.addphoto_5{background:url('../../image/common/sale_car_05.png') no-repeat;}

.photo_upload .list{overflow-x:auto;overflow-y:hidden;white-space:nowrap;display:none;margin-top:10px;}
.photo_upload.on .list{display:block;}

.photo_upload h6.tit {margin-top:10px; color:#000000; font-family:HynSans_Txt-M; font-size:15px; line-height:18px;}
.photo_upload p.txt {margin:0 0 15px; color:#767676; font-family:HynSans_Txt-R; font-size:12px; line-height:16px;}
.photo_upload .innerbox_01 ol {display:flex; flex-wrap:wrap; row-gap:9px; column-gap:10px; align-items:center;}

.addphoto_list dl {display:flex; flex-wrap:nowrap; position:relative; height: 75px;}
.addphoto_list dl.on dt { width:100%; padding-right:21px;}
.addphoto_list dl.on dt span.t01{display:block;}
.addphoto_list dl.on dt span.t02{display:none;}
.addphoto_list dl.on dd {display:none;}
.addphoto_list dt {width:75px; height:100%;}
.addphoto_list dt span.t01 {display:none;}
.addphoto_list dt span.t02 {display:block;}
.addphoto_list dt .file_morephoto[type="file"] {opacity:0; position:absolute; width:1px; height:1px; overflow:hidden;}
.addphoto_list dt .file_morephoto[type="file"] + label {position:relative; display:block; width:100%; height:100%; background:#F7F7F7; border:1px dashed #DDDDDD; box-sizing: border-box;}
.addphoto_list dt .file_morephoto[type="file"] + label span {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#767676; text-align:center;}
.addphoto_list dt .file_morephoto[type="file"] + label span:before {content:''; display:block; background-image:url("../../image/common/bg_form.png"); background-repeat:-136px -144px; text-align:center;}
.addphoto_list dt .file_morephoto[type="file"] + label span.t01 {font-family:HynSans_Txt-R; font-size:12px; line-height:17px;}
.addphoto_list dt .file_morephoto[type="file"] + label span.t01::before {content:''; margin:0 auto 4px; display:block; width:12px; height:12px; background-position:-179px -38px;}
.addphoto_list dt .file_morephoto[type="file"] + label span.t02 {font-family:HynSans_Txt-R; font-size:11px; line-height:18px; color:#000;}
.addphoto_list dt .file_morephoto[type="file"] + label span.t02 em {color:#00AAD2;}
.addphoto_list dt .file_morephoto[type="file"] + label span.t02 em::before {}
.addphoto_list dd {margin-left:4px; width: calc(100% - 75px);}
.addphoto_list dd .list {overflow-x:auto; overflow-y:hidden; white-space:nowrap;}
.addphoto_list dd li {display:inline-block; overflow:hidden; position:relative; width: 75px; height: 75px; vertical-align:top;}
.addphoto_list dd li img {width:100%; height:100%; object-fit:cover;}
.addphoto_list .notice_addphoto {margin-top: 12px; margin-top: 12px; font-size:13px; line-height:20px;}

.innerbox_01 .list li {width:100px;height:100px;}
.innerbox_01 .file_morephoto[type="file"] + label span:before { background-position:-179px -38px; background-size:200px auto;}
.innerbox_02 .addphoto_list .list {display:block; margin-top:0;}
.innerbox_02 .file_morephoto[type="file"] + label span:before {margin-bottom:0; width:30px; height: 30px; background-position:-136px -144px; background-size:200px auto;}

[class^=uploadphoto_] {display:inline-block;}
[class^=uploadphoto_] span {position:relative; display:none; width:80px; height:50px; overflow:hidden; vertical-align: middle;}
[class^=uploadphoto_].on span {display:inline-block;}
[class^=uploadphoto_] img{display:block; width:100%;height:100%; object-fit:cover;}
[class^=uploadphoto_] span a {display:block; width: 100%; height:100%;}




