@charset 'utf-8';
/* 레이아웃
	Z-INDEX 범위
		- CPOhdaer : 501 ~ 600
		- CPOcontents : 401 ~ 500
		- CPOaction : 600
		- CPOfooter : 601 ~ 700
		- CPOtop : 800
		- dim : 1000
		- layer : 1001

*/
.txt_hidden{display:none;}
/* skip */
#CPOskip{
	position:relative;
	top:0;
	left:0;
	z-index:500;
	width:100%;
	a{
		position:absolute;
		top:-100px;
		left:0;
		width:100%;
		height:0;
		color:transparent;
		@include Mix_Font('Txt-R', 12, 20);
		text-align:center;
		&:focus{
			top:0;
			height:30px;
			background:$COL_Black;
			color:$COL_White;
			line-height:30px;
			text-decoration:none;
		}
	}
}

/* loading */
#CPOloading{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height:100%;
	.loading_01{
		@include Mix_Size_0;
		position:absolute;
		top:50%;
		left:50%;
		width:140px;
		height:120px;
		margin:-60px 0 0 -70px;
		background:url('../image/loading_01.gif?V=1') no-repeat;
		background-size:140px auto;
	}
}

/* CPO WRAP */
#CPOwrap{
	position:relative;
	width:100%;
	height:100%;
}

/* CPO HEADER */
#CPOheader{
	position:fixed;
	top:0;
	left:0;
	z-index:600;
	width:100%;
	height:50px;
	[class^="h_"]{// header 타이틀 영역
		position:relative;
		height:50px;
		padding:0 40px;
		border-bottom:1px solid #EDEDED;
		background-color:$COL_White;
		.util{// header 장바구니, 홈으로 등
			position:absolute;
			top:12px;
			right:17px;
			li{
				float:left;
				margin-left:13px;
				&:first-of-type{
					margin-left:0;
				}
			}
		}
		h3.tit{// 페이지 타이틀
			display:block;
			width:100%;
			height:50px;
			padding:15px 0;
			color:$COL_Gray08;
			@include Mix_Font('Head-R', 16, 20);
			@include Mix_Ellipsis01;
			text-align:center;
		}
	}
	[class^="ic_"]{// header 아티콘 공통 
		display:block;
		width:24px;
		height:24px;
		padding-top:2px;
		@include Mix_Size_0;
		&::before{
			content:'';
			display:block;
			height:20px;
			margin:0 auto;
			@include Mix_Layout_Bg;
		}
	}
	.ic_menu{// header 아이콘 - 메뉴
		display:inline-block;
		position:relative;
		vertical-align:middle;
		&::before{
			background-position:-99px -27px;
		}
	}
	.ic_back{// header - 이전버튼 - 검은색
		position:absolute;
		top:13px;
		left:15px;
		width:24px;
		height:24px;
		&::before{
			width:14px;
			margin:0 auto;
			background-position:-178px 0;
		}
	}
	.ic_home{
		&::before{
			background-position:-200px -27px;
		}
	}
	.ic_request {
		&::before {
			background-position:2px -27px;
		}
	}
}

/* contents */
#CPOcontents{
	position:relative;
	min-height:calc(100vh - 50px);
	padding-top:50px;
}


/* footer */
#CPOfooter{
	padding:40px 0 92px;
	background:#EDEDED;;
	text-align:center;
	.foot_logo a{
		@include Mix_Size_0;
		&::before{
			content:'';
			display:inline-block;
			width:110px;
			height:17px;
			margin:0 auto;
			@include Mix_Layout_Bg;
			background-position:-51px -128px;
		}
	}
	.foot_copy{
		margin-top:15px;
		color:$COL_Gray07;
		@include Mix_Font('Head-R', 13, 20);
	}
	.foot_menu{
		height:18px;
		margin-top:30px;
		font-size:0;
		text-align:center;
		li{
			display:inline-block;
			position:relative;
			height:100%;
			padding:0 10px;
			color:$COL_Gray06;
			@include Mix_Font('Head-R', 14, 20);
			a{
				color: $COL_Gray07;
			}
			em{
				color:$COL_Gray08;
			}
			&:before{
				content:'';
				position:absolute;
				top:2px;
				left:0;
				width:1px;
				height:14px;
				background:$COL_Gray07;
				opacity: 0.3;
			}
			&:first-child:before{
				display:none;
			}
		}
	}
	.foot_info{
		margin-top:20px;
		button{
			display:inline-block;
			color:$COL_Gray08;
			@include Mix_Font('Head-R', 14, 20);
			&:after{
				content:'';
				display:inline-block;
				width:12px;
				height:8px;
				margin-left:5px;
				background:url('../image/bg_layout.png') no-repeat center;
				background-size:300px auto;
				background-position:-195px -13px;
				font-size:0;
				transform:rotate(0deg);
			}
			&.on:after{
				transform:rotate(180deg);
			}
		}
		> div{
			display:none;
			margin-top:10px;
			color:$COL_Gray07;
			font-size:12px;
			line-height:21px;
			span{
				position:relative;
				margin-right:7px;
				padding-right:7px;
				&:before{
					content:'';
					position:absolute;
					top:50%;
					right:0;
					width:1px;
					height:8px;
					background:$COL_Gray07;
					transform:translateY(-50%);
					opacity: 0.3;
				}
			}
			a{
				margin-left:4px;
				color:$COL_Gray08;
				
				text-decoration:underline;
			}
		}
	}
}

/* top button */
#CPOtop{
	display:none;
	position:fixed;
	right:15px;
	bottom:75px;
	z-index:800;
	
	a{
		display:block;
		width:48px;
		height:48px;
		@include Mix_Library_Bg;
		background-position:-93px -28px;
		@include Mix_Size_0;
		// &::before{
		// 	content:'';
		// 	display:block;
		// 	width:24px;
		// 	height:24px;
		// 	margin:10px auto;
		// 	@include Mix_Library_Bg;
		// 	background-position:-150px 0;
		// }
		&[title=chatbot]{
			display:none;
			margin-bottom:10px;
			background-position:-41px -28px;
			border:0;
		}
		&[title=write]{
			display:none;
			margin-bottom:10px;
			background-position:-145px -28px;
			border:0;
		}
	}
	&.type01{
		a[title=chatbot]{
			display:block;
		}
	}
	&.type02{
		a[title=write]{
			display:block;
		}
	}
}




.CPO_dimd, .CPO_fullDimd{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	width:100%;
	height:100%;
	background:rgba($COL_Gray08,.6);
}
.CPO_fullDimd{
	z-index:998;
}
/* 팝업 타입 */
.scroll_hidden{
	overflow:hidden;
}
[class^="CPOpop_"]{/* Full, Simple, Front, Alert, Toast 팝업 공통 스타일 */
	position:fixed;
	right:0;
	left:0;
	z-index:1001;
	margin:auto;
	transition:all .4s linear;
	.btn_sticky{
		display:none;
	}
	&.active{
		> .p_wrap{
			> .btn_sticky{
				display:flex;
				align-items: center;
			}
		}
	}
	> .p_head{
		width:100%;
		height:60px;
		padding:20px 59px 20px 47px;
		background:$COL_White;
		.tit{
			@include Mix_Font('Head-R', 16, 20);
			text-align:center;
		}
	}
	> .p_head2{// 내차팔기 레이어
		width:100%;
		height:50px;
		padding:15px 59px 15px 47px;
		background:$COL_Light_sand;
		.tit{
			@include Mix_Font('Head-R', 16, 20);
			text-align:center;
		}
	}
	> .p_wrap{
		overflow-x:hidden;
		overflow-y:auto;
		position:relative;
		height:100%;
		background:$COL_White;
	}
	> .btn_area{
		width:100%;
		@include Mix_Clear;
	}
	.pop_close{
		display:block;
		position:absolute;
		top:18px;
		right:15px;
		width:24px;
		height:24px;
		@include Mix_Library_Bg;
		background-position:0 0;
		@include Mix_Size_0;
	}
	.pop_close2{
		display:block;
		position:absolute;
		top:18px;
		left:15px;
		width:24px;
		height:24px;
		@include Mix_Library_Bg;
		background-position:0 0;
		text-indent:-99999px;
	}
}
.CPOpop_full{/* Full 팝업 */
	bottom:-100%;
	z-index:999;
	width:100%;
	height:calc(100% - 10px);
	&.active{
		bottom:0;
	}
}
.CPOpop_full2{/* Full2 팝업 */
	bottom:-100%;
	width:100%;
	height:100%;
	background:$COL_White;
	&.active{
		bottom:0;
	}
	.pop_close{/* 흰색 닫기 버튼 */
		background-position:0 0;
	}
}
.CPOpop_side{/* 메뉴 */
	right:-200%;
	top:0;
	width:280px;
	height:100%;
	background:$COL_White;
	.p_wrap{
		padding:50px 20px 0;
	}
	&.active{
		right:0;
		left:calc(100% - 280px);
	}
	.pop_close{/* 흰색 닫기 버튼 */
		background-position:0 0;
	}
	
	.user_info{
		padding:30px 0;
		.name{
			display:block;
			margin:0 0 10px;
			color:$COL_Gray08;
			@include Mix_Font('Head-R', 26, 34);
			strong{
				@include Mix_Font('Head-B', 26, 34);
			}
		}
	}
	.menu{
		ul{
			li{
				&.logout{
					padding:15px;
					border-top:1px solid #EDEDED;
					text-align:center;
				}
				&.sub{
					margin-top:10px;
				}
				a{
					display:block;
				}
				.dep01{
					color:$COL_Gray08;
					@include Mix_Font('Txt-B', 15, 40);
				}
				.dep02{
					color:$COL_Gray07;
					padding:0 5px;
					@include Mix_Font('Txt-M', 13, 40);
					border-top:1px solid #EDEDED;
				}
			}
		}
	}
}
.CPOpop_modal{/* Simple(모달) 팝업 */
	display:none;
	overflow:hidden;
	width:calc(100% - 42px);
	top:50%;
	transform:translateY(-50%);
	&.active{
		display:block;
	}
	.btn_area{
		height:52px;
	}
}
.CPOpop_bottom{/* Front(bottom) 팝업 */
	top:auto;
	bottom:-110%;
	width:100%;
	background:$COL_White;
	&.active{
		bottom:0;
	}
}
.CPOpop_alert{/* Alert 팝업 */
	display:none;
	overflow:hidden;
	top:50%;
	width:calc(100% - 60px);
	transform:translateY(-50%);
	border-radius:6px;
	&.active{
		display:block;
	}
	.message{
		background:$COL_White;
		padding:40px 30px;
		@include Mix_Font('Txt-R', 14, 18);
		text-align:center;
		word-break:keep-all;
		.txt01{
			text-align:left;
		}
	}
	.btn_area{
		position:relative;
		margin-top:-1px;
		border-top:1px solid $COL_Gray02;
		border-radius:0 0 6px 6px;
		ul{
			display:table;
			table-layout:fixed;
			width:100%;
			li{
				display:table-cell;
				position:relative;
			}
		}
	}
}
.CPOpop_toast{/* Toast 팝업 */
	top:auto;
	bottom:-80px;
	z-index:1001;
	width:calc(100% - 42px);
	height:auto;
	padding:18px 48px;
	background:rgba(51, 51, 51, 0.95);
	transform:translateY(0);
	.message{
		color:$COL_White;
		@include Mix_Font('Txt-M', 14, 21);
		text-align:center;
	}
	.text_type01{
		@include Mix_Font('Txt-R', 14, 21);
		> span{
			display:block;
			&:not(:first-of-type){
				margin-top:15px;
			}
			em{
				display:block
			}
		}
		.txt{
			color:$COL_Gray03;
			@include Mix_Font('Txt-R', 13, 17);
			i{
				color:$COL_White;
			}
		}

	}
}
/* //팝업 타입 */


